[2019-12-05 20:26] mabushey opened #1593 "Requirement Dex is running on HTTPS is wrong for K8s/Istio."
I would like to run Dex in my K8s cluster with Istio. I only wish to use Dex to provide LDAP authentication to some applications. The only way in to the cluster besides a reverse SSH tunnel + k8s cert is through the Istio gateway which is an AWS ELB. Port 80 is immediately redirected to 443. I would like to call Dex internal to the cluster, which is non SSL. It appears that the only way I can do t

[2019-12-05 22:54] mabushey commented on #1593
Ugg just realized this was a CoreOS project. Are there any plans on letting it live on via a community fork like Flatcar did for CoreOS or is this just RedHat induced abandon-ware now?

[2019-12-06 08:06] bonifaido opened #1595 "Setup https://github.com/dexidp/dex/security/policy"
We need to communicate clearly the security policies of the project, GitHub gives nice tooling for that.

[2019-12-06 09:02] Martin-Weiss commented on #1548
@phiremande , wow - great to see you could find some time to work on this!

I am not a developer so I do not understand the code in detail but I can see that we are able to specify multiple LDAP servers within a cluster with separate filters and bind configurations - great!! :-).

Could you give some background on how the logic for connecting and failover is build?
When and how does the failover f

[2019-12-06 09:56] bonifaido commented on #1593
Hi @mabushey, this is a community "fork" now, since the project was moved out under the @coreos GitHub organization to @dexidp. Active maintainers are from Chef, Pusher and Banzai Cloud, and more are free to join.

[2019-12-06 10:00] bonifaido commented on #1593
I think what you re looking for is some kind of proxy application, where dex sits at the backend, like https://github.com/pusher/oauth2_proxy am I right?

[2019-12-06 19:05] mabushey commented on #1593
@bonifaido Thanks for your response. I use the Banzai Istio Operator, it's amazing. Glad to hear some of those people are working on Dex, and that Dex didn't get killed by RedHat. :) Possibly oauth2_proxy might work, thank you for letting me know about it. I don't think I'm doing very good at explaining my use case, which I think is very common with k8s and Istio. I want a service like Dex interna

[2019-12-06 21:30] sagikazarmark opened #1597 "Revisit vendoring"
As far as I can tell, neither the current build process nor the docker build use the vendored dependencies.

While vendoring has certain advantages, it definitely has some disadvantages too and if it's not used at all I question its validity. (Yeah, I'm generally against vendoring).

[2019-12-07 08:24] lzecca78 commented on #1084
hi, my usecase is the following: bind different ldap groups to different services in order to allow some user to login in certain service and others users in other service. I guess that this can be achieved defining multiple connectors in dex, but then how to refer to them in the ingress ?

[2019-12-08 19:38] sagikazarmark commented on #1597
#1596 is an example why vendoring is a pain.

[2019-12-09 03:57] phiremande commented on #1548
@Martin-Weiss , thanks for your response. I am not expecting code review inputs at this stage, but just the functioning based on the initial code (if you build and run the dex binary with multiple LDAP servers). I probably should have given the background on the design when I asked for input, sorry for that. Below is the design that is incorporated currently.
1. During login (bind), first time, al

[2019-12-09 15:53] stanislavgeorgiev commented on #1561
We have the same issue.
We wanted to improve the user experience and we added a new JavaScript file that caches the referring app url into the browser's local storage as well as a "Restart authentication" button on the error page. Then if a bad request does happen we pull the cached app url and pass it on to the button click. Works great so far but it would be nicer if that functionality comes dir

[2019-12-10 04:08] TJM opened #1598 "Failed to authenticate: missing "email" claim"
I am connecting to a corporate OIDC provider, and our "privileged" accounts do not have an email associated to them. I am not emailing the user anyhow. Can we make email claim optional? Or mayhaps make it so that I can map it to another attribute, like username.

[2019-12-12 08:53] #1414 closed

[2019-12-12 14:01] JoelSpeed commented on #1593
@mabushey To achieve what you are trying, you can use Dex and OAuth2 Proxy (or equivalent) running within your cluster. However, because of the way that these protocols are implemented, you will need to have them somewhat on the internet/intranet as there will be endpoints needed to be accessible by the users browser. These endpoints should be on HTTPS but you can use a self signed certificate if

[2019-12-12 19:05] niamhcahill opened #1600 "Roadmap for logout implementation in SAML connector?"
Are there any roadmap plans to support Single Log Out methods in the SAML connector? We can set the session timeout values to be low on the SAML identity provider, but an actual logout option would be great.

[2019-12-13 12:17] Martin-Weiss commented on #1548
Thanks a lot for the details - so yes - this sounds like what we need!
We will not get load distribution but that is not required anyway as the expected load is not high "just login - and after ~24h the token refresh".
I am not sure how often the group membership is updated - does this also happen only during login and token refresh?
Regarding the round robin - basically I understand we take the f

[2019-12-14 00:43] krishnadurai commented on #1099
@ericchiang I've implemented `hashFromEnv` for staticPasswords configuration as a starting point for this issue.
Could you please take a look at it?

[2019-12-14 14:37] yanniszark commented on #32
Pinging maintainer: @rithujohn191 @JoelSpeed @srenatus @bonifaido @sagikazarmark

Would you be open to a PR adding this functionality?
I see this implementation as having 2 stages:

1. Add the `id_token_hint` support to Dex. This will enable client applications to direct users to a specific IdP and pigg-back on that OIDC/SAML provider's SSO (eg Okta behind Dex). I believe this PR can be more easil

[2019-12-25 08:05] Smana opened #1606 "How to use the CRD's"
Hey folks,

I'm trying to use the CRD's to dynamically configure Dex.
I search for examples in the repository but I couldn't find anyone.
So I just tried to create the object by appending the configuration into the `spec` field of the object but that didn't work either.
example:
[code]

Any help would be welcome.

[2019-12-26 14:13] nabokihms commented on #1606
There is no `spec` field in CRD. Write fields in the body instead.

For example:
[code]
I should works.

[2019-12-26 20:13] Smana commented on #1606
Thanks for your help @nabokihms .
Well I just tried that
[code]
But I got an error
[code]

[2019-12-26 20:43] nabokihms commented on #1606
Yep, the metadata.name of resource must be encoded in special way. You can do it using go stdlib packages.
[code]
`dev-client` will become `mrsxmlldnruwk3tuzpzjzzeeeirsk`
[code]

[2019-12-26 20:54] nabokihms commented on #1606
Still remember, that dex does not officially support this method. Custom resources should be created with grpc API requests instead of deploying it manually.

[2019-12-27 08:50] Smana commented on #1606
Thanks I'm gonna use the grpc API

[2019-12-27 08:50] #1606 closed

[2019-12-27 15:29] PeopleRange opened #1608 "Mysql Storage Upstream Issue workaround"
Hi all,

I have set up a copy of dex on my Kubernetes cluster on GKE.
My setup does not use any connectors at this time (Setting up bit by bit).
I am still using the original template until the backend part works.
For storage, I opted for an in cluster deployment of Percona XtraDB Cluster deployed with Helm. (I know its only starting to be supported)

There appears to be an issue with the chosen p

[2019-12-27 21:39] nabokihms commented on #1598
Good point. It looks like we searching for email claim even if email scope not specified.

[2019-12-30 07:01] Smana opened #1611 "Issues with Google OIDC configuration"
Hey everyone,

I'm using Dex in my current company for years now, using an LDAP connector. It works great.
Now I wanted to try the Google connector in order to use the same account in our GKE clusters and on-premises.

I managed to get and ID and Secret using google API and I configured the connector as follows
[code]

And we make use of a home made client to perform the authentication that listen

[2020-01-03 15:31] Smana commented on #1611
Ok I was missing:
* verification of the domain name
* add the urls in the "Authorized domains"
* add the redirect urls in the client id configuration
Maybe I'll propose a pull request because that was not obvious to me

[2020-01-03 15:31] #1611 closed

[2020-01-03 15:34] sagikazarmark commented on #1611
Glad you sorted it out!

[2020-01-06 06:58] reggie-k opened #1613 "Illegal base64 data at input byte 2174 when getting groups with ldap connector"
I am using ArgoCD version, argocd:v1.3.0, dex version dex:v2.14.0.
Have configured Dex connector for LDAP, and since then I am able to login to Argo.
Noted that the groups of the user are empty:

[code]

Reviewed my dex ldap config and realized the userAttr under groupSearch was wrong, fixed it.
The next LDAP login to ArgoCD, which was supposed to bring the groups along, failed with:

illegal base

[2020-01-06 07:59] sagikazarmark commented on #1613
What did you see in dex log after fixing the userAttr?

Also, can you share your configuration?

[2020-01-06 08:05] bonifaido commented on #1608
Fixed by https://github.com/dexidp/dex/pull/1609

[2020-01-06 08:05] #1608 closed

[2020-01-06 09:20] #1598 closed

[2020-01-06 09:42] PeopleRange commented on #1608
Happy to help :)

[2020-01-06 11:07] gitwangdi opened #1614 "Question: How to modify sub filed in token?"
I am going to combined istio authorization and dex authentication.
Istio authorization policy uses iss/sub to recognize a user.
To simplify the iss/sub, I attend to use email as token's sub field.
How can i do that?

[2020-01-06 17:40] tpdownes opened #1615 "Microsoft Connector docs need to reflect new process"
When browsing to `apps.dev.microsoft.com` one is presented with a deprecation warning and these links:

https://developer.microsoft.com/en-us/identity/blogs/deprecation-of-app-registrations-legacy-experience-and-the-application-registration-portal-apps-dev-microsoft-com/

I am using an Azure AD account. It's not entirely clear to me from reading link whether other types of accounts may continue to

[2020-01-07 08:58] andrejvanderzee commented on #1084
+1

[2020-01-08 07:11] reggie-k commented on #1613
Hmm The problem is not with dex.
Dex's log shows "login successful" and brings the whole group list along just fine.
Looks like it is AroCD's problem.

[2020-01-08 07:11] #1613 closed

[2020-01-08 08:19] bonifaido commented on #1615
Hi @tpdownes, we are currently not active users of the Microsoft connector at this moment, so if you could update the docs (send a PR) I would be more than happy!

[2020-01-08 14:44] IliaGershenzon commented on #1292
We have reached 500K objects of **authrequests** and issues started.
Is there an update to the Dex GC code to limit the "list" of authresuests so he can at least clean it slowly?
How did you clean all objects when the GC is dead?

[2020-01-08 14:46] tpdownes commented on #1615
To be honest, I found the connector not to be useful in its current state. For example, the username defaults to  my display name ("Thomas Downes") rather than my username/email. It appears not to be configurable in the Microsoft connector as it is for others.

[2020-01-08 14:51] primeroz commented on #1292
@IliaGershenzon

The only way to clear the object was to act directly on the storage layer, in our case since it was kubernetes we just deleted all the `authrequest.dev.coreos.com` CRDs , if you are using a different backend just find those objects and delete them

in our case we had a "misconfiguration" on the healthcheck of some OIDC proxy that was causing every healthcheck to create an authrequ

[2020-01-08 15:09] IliaGershenzon commented on #1292
@primeroz
Yeah, found the source of the mess... It was a proxy someone deployed on top of the Kiali (Istio). Dex should add to the GC code "?limit=500" :0
Thanks !

[2020-01-09 07:59] nabokihms commented on #1614
According to the oidc specification, the sub claim provides a unique id for the user. As federative oidc provider dex can connect more than one authentication provider to itself.

Now dex uses an encoded combination of authentication provider id and user id (which can be presented as email address) to accurately determine a user. Changing it will break entire logic.

I think you can change the ist

[2020-01-09 12:19] kgrieco opened #1616 "Question: generate SAML XML metadata"
I'm trying to configure a SAML connector and the owner of the related SAML IDP is asking me for XML metadata in order to trust my SP but I can't find a way to get it. Is there a way to generate such XML file in Dex?

[2020-01-09 21:22] nstielau opened #1617 "Update Security Policy instead of Referring to CoreOS Security Policy"
The README links to the outdated CoreOS security policy.  It would be great if dexidp could write it's own security policy and list it both in the readme and the new security policy part of github.  Thanks!

[2020-01-10 07:44] chlunde opened #1618 "Microsoft Connector: allow access to on-prem username (onPremisesSamAccountName)"
When using the Microsoft Connector, `sub` is a generated user id, and `username` is set to Microsoft Graph `displayName`. To integrate with existing systems, the on-premises username ("SAM Account Name") is often needed.

This can be fetched from Microsoft Graph by requesting the `onPremisesSamAccountName`:

## onPremisesSamAccountName

[Microsoft Graph REST API v1.0 - User properties](https://doc

[2020-01-10 11:57] msiebuhr opened #1619 "config: No way to escape $ in connector-config"
I've been playing with adding a SQL (Posgres) connector, as we have internal users there. To make that re-usable, I figured the query should be configurable, say:

[code]

But the SQL placeholders (`$1` and `$2`) vanish because of the environment-expansion done in `cmd/dex/config.go`:

[code]
I can see there's some vaguely related work going on in https://github.com/dexidp/dex/issues/1099

This co

[2020-01-12 16:35] githubrotem commented on #1292
Is there any real solution for this issue?
Right now anyone can make a curl loop and bring the cluster down

[2020-01-13 08:36] primeroz commented on #1292
Not a real solution but we just decided to move the storage away from kubernetes to its own backend, this way worst that can happen is the dex service get ddos and not the kubernetes cluster.

[2020-01-13 11:46] pieterlange commented on #1292
FWIW i took similar precautions, moving storage to a dedicated etcd cluster (of 1 node) to restrain impact of this bug to that etcd cluster instead of the main k8s API. This works out for me so far.

[2020-01-16 00:24] mabushey commented on #753
@SachinMaharana Ever figure this out? It's like no one grasps that there's going to be a load balancer doing SSL termination.

[2020-01-16 00:31] mabushey commented on #1593
@JoelSpeed

Not a problem, I have a real cert on a Load balancer which does the SSL termination. This is why I posted "Requirement Dex is running on HTTPS is wrong for K8s/Istio.". Has anyone using Dex actually worked on servers and/or know what Load Balancers / SSL termination is? Dex should be smart enough to look at the ` X-Forwarded-Proto` header and figure out "yes, I was accessed via https".

[2020-01-16 19:08] laurelnaiad commented on #753
I have just configured dex to run behind an ingress. The ingress is responsible for TLS, and gets its cert from letsencrypt via cert-manager. dex and its service run plain http.

It took me a little while to get the magic recipe. I was under the impression, by apparently misreading various statements on the subject, that I _needed_ to create a ca file for the dex instance and give that to the kube

[2020-01-20 23:47] sagikazarmark opened #1635 "Connector middleware"
Right now connectors implement certain types of behavior that could be reused. The most common example is filtering groups.

Consider creating a common middleware layer for connectors instead of implementing these features (and configuration for them) separately for each connector.

[2020-01-23 04:38] jseadragon commented on #1546
I'm also interested in hearing more from someone about this use case. I am looking to use Dex as an LDAP connector, and I'd like to have Dex periodically sync the LDAP group memberships with the RBAC memberships we have setup. In this way, if I grant someone access to a role, it will automatically propagate.

[2020-01-23 23:13] brokenjacobs commented on #1615
It also doesn't appear to be capable of retrieving group information. Despite setting permissions up properly with the new azure AD portal.

[2020-01-24 18:04] JoelSpeed commented on #1593
Frankly, I find this comment incredibly rude. People are responding to an issue you opened, trying to help you to do your job, in their spare time. This is a community project and no one is paid to respond to issues on it,. Please be courteous to those who are tying to help you.

Typically, load balancers have an ability to connect to upstream servers on either HTTPS or HTTP, therefore I still mai

[2020-01-24 21:11] mabushey commented on #1593
@JoelSpeed First off thank you for your time responding and reopening this ticket. I apologize my comment was taken as rude, this was not my intent. "Security" enforcement that lowers my security level frustrates me and probably came out in that comment.

Yes, I have a production K8s cluster with an api control plane that can only be accessed via an SSH tunnel. The rest of the traffic all goes thr

[2020-01-30 13:19] vovkanaz opened #1637 "TLS handshake timeout"
I have 3 files ca.pem, cert.pem and key.pem issued by  Let'sencrypt for the dex.domain.io
k8s cluster was deployed via Kubespray.
My OIDC config:

kube_oidc_url: https://dex.domain.io
kube_oidc_client_id: kubernetes
kube_oidc_ca_file: "{{ kube_cert_dir }}/ca.pem"
kube_oidc_username_claim: email
kube_oidc_groups_claim: groups
kube_oidc_ca_cert: (ca.pem | base64)

After that I've got ca.crt and ca.k

[2020-01-31 10:03] Kyrremann commented on #1292
Anyone have some tips to locate whats hammering our dex? Tried to shut down the services I thought was the culprit, but to no help.

[2020-01-31 10:08] primeroz commented on #1292
@Kyrremann  if you describe / look into the authrequest you will see informations about the client that created the request , that might help you identify the offender

good luck!

[2020-01-31 10:13] Kyrremann commented on #1292
I've tried that, but maybe I misunderstand something, or is `kubeflow-authservice-oidc` the offender?

[code]

[2020-01-31 10:18] primeroz commented on #1292
yeah the redirect URI is sort of the client that initiated the auth request , is the uri where an authenticated request will be redirected to

[2020-01-31 11:06] Kyrremann commented on #1292
I'm wondering if the issue is because we don't have internal load balancer, so we're redirecting between two ports externally when login (if I remember/understand our network correctly). So it may be the refresh token, or something similar who triggers all these calls.

[2020-01-31 13:14] tmxak commented on #1023
I'm having exactly the same issue setting up the ArgoCD with Dex.. Trying to authenticate the same way (via okta app icon) and it gives "Bad Request". If I go to the application main page and then do the "Login with Okta" - i'm authenticated

[2020-01-31 15:08] tmxak commented on #1023
So I found that Dex doesn't support Provider-initated login flows. Thats why it fails to login from the okta application icon.

[2020-02-02 19:57] dene14 commented on #1065
@dskatz any guidance how you enabled groups? for me Google always returns `groups=[]`
Thanks in advance!

[2020-02-03 09:10] cybrwshl opened #1642 "error unmarshaling JSON: unknown connector type "openshift""
We're trying to install dex with the default helm chart in openshift 4.2.
But unfortunately we get the following error message from dex:
`error parse config file /etc/dex/cfg/config.yaml: error unmarshaling JSON: unknown connector type "openshift"`

The config file looks like this:
[code]

[2020-02-03 09:18] rustycl0ck opened #1643 "`inCluster` config is broken for IPv6"
https://github.com/dexidp/dex/blob/a901e2f2048de70c30df49781a4fbb9aa3413f4f/storage/kubernetes/client.go#L419

This breaks for IPv6 clusters with error:
`failed to list custom resource authcodes.dex.coreos.com, attempting to create: Get https://dead:beef::1:443/apis/dex.coreos.com/v1/namespaces/auth/authcodes: net/http: request canceled while waiting for connection (Client.Timeout exceeded while a

[2020-02-03 09:30] nabokihms commented on #1642
Did you change the image tag `imageTag` variable in values.yaml to v2.22.0 before installing?

[2020-02-03 09:59] cybrwshl commented on #1642
thanks! good to know that one must change the default image ;)

[2020-02-03 09:59] #1642 closed

[2020-02-04 20:05] JerrySunWRS commented on #1643
I am working in the Openstack StarlingX team and recently encountered the same issue. I was able to fix it by applying the following change:
https://opendev.org/starlingx/oidc-auth-armada-app/src/branch/master/dex/centos/docker_patches/0001-Wrap-Kubernetes-host-address-in-square-brackets.patch
We were planning to open an issue here and propose the fix, but we did not get around to it until now. Si

[2020-02-04 21:58] frimik commented on #1588
Auth from one connector (ex: Google) and groups from another specific one (ex: ldap) would be neat to do in one single Dex.

[2020-02-06 17:17] timothysc commented on #1379
+1 - In talking with the maintainers today we are going to try and get the ball rolling on this.

[2020-02-06 20:04] JerrySunWRS commented on #1643
https://github.com/dexidp/dex/pull/1645
pull request for this issue

[2020-02-06 22:16] jwomble opened #1646 "Refresh id_token?"
I've got dex setup and am using an implicit flow to login to a website.  Is there a way to refresh/renew a user's id_token before it expires?  I need to set my token expiration time to 15 minutes, and I'd rather not log the user out if they are in the middle of something.

Thanks!

[2020-02-07 12:47] schizoid90 opened #1647 "error: You must be logged in to the server"
Dex version: 2.21.0
Gangway version: 3.3.0
Kubernetes version: 1.16.1

I have Dex and Gangway running in Kubernetes. I generate a kubeconf file through the web UI but when I try to authenticate with the Kubernetes API I get an "unauthorized" error

**Gangway Configfile**

[code]

**Dex config**

[code]

**Kubeconfig**
Generated through Gangway/Dex and saved locally

[code]

**kubectl output**
$> k

[2020-02-10 18:49] sandeepbangera commented on #1600
Yes it will be great to be able to explicitly log out SAML OIDC sessions from Dex.

[2020-02-12 11:28] msiebuhr commented on #1080
I'm also looking at doing a POC w. Dex + Kubernetes, where I need something ... more than mr. Trout in 'authors'.

Perhaps groups could be auto-generated from some part of the static name? That way there would be some groups to test with, but still keeping the feature obviously useless for any production use:

 * Per domain-name ("domain:kilgore.trout") and/or TLD ("tld:trout").
 * Single-user gro

[2020-02-12 23:43] rprieto opened #1649 "Document Docker quick-start after version 2.16"
Hi,

Since the move to a non-root user in Dex 2.16, is there an official recommendation for passing configuration files to the Docker container (outside of Kubernetes)?

In `v2.15.0`, we could run a simple

[code]

Since the move to a non-root user, bind-mounted files/folders are no longer accessible by user 1001, e.g.

[code]

Could you document a recommended quick-start for Dex in Docker? For ex

[2020-02-13 04:10] venkat-kayo commented on #1483
Hi,

 Am observing the same issues of groups not being fetched from the dex connector. Could you please tell me what "scope" settings were done of the client side to fetch the group information from Microsoft AD.

thanks

[2020-02-14 01:21] rezagh2 opened #1651 "MS AD login groups empty - question"
User is able to login but groups in the logs is empty:

`level=info msg="login successful: connector \"ldap\", username=..., groups=[]"`

[code]
and in the rbac:
[code]
in ldap user looks like:

[code]

group looks like:
[code]

not sure what i am doing wrong...

[2020-02-15 16:59] bsctl opened #1654 "missing ./scripts/slapd.sh"
I would follow the [LDAP tutorial](https://github.com/dexidp/dex/blob/master/Documentation/connectors/ldap.md) but the script `./scripts/slapd.sh` is missing.

[2020-02-17 12:41] venkat-kayo opened #1655 "user groups from Microsoft AD not returned using ldap dex connector"
I have gone through issues #1483 and #856 but haven't been able to solve the issue am facing.

Am using the inbuilt dex provided by Argocd

Dex details:
dex Version: v2.14.0
Go Version: go1.11.3
Go OS/ARCH: linux amd64

Having issues in retrieving the groups information from Microsoft Active Directory for a logged in User.  There is no uid attribute in the AD results obtained from ldapsearch  for

[2020-02-17 13:32] bsctl commented on #1084
+1

[2020-02-18 17:45] jdfalk commented on #1593
+1 to allowing it to run without https and looking at the header. We use istio for all mTLS intracluster so we are already securing the traffic. How about a compromise of a flag that says `--i-know-what-im-doing-disable-tls`.  That way it's really apparent to people that this should only be done if you know what you are doing and why. People are still going to screw it up, but you can't protect ev

[2020-02-19 01:39] Andriydang commented on #1647
Take a look at the apiserver logs

[2020-02-19 15:50] justaugustus commented on #1379
I'm also able to help facilitate here.

[2020-02-19 15:50] timothysc commented on #1379
Folks, shall I take point on helping to drive the ball forwards here?

[2020-02-19 15:59] sagikazarmark commented on #1379
I'm personally not familiar with the process of donating a project to the CNCF, I had the impression that you are @timothysc and/or @justaugustus, so I think it would be a huge help if you could facilitate the with the appropriate channels.

I guess at some point the maintainers also have to be actively involved in the conversation at which point I'd be happy to join.

[2020-02-19 16:20] JoelSpeed commented on #1379
I would certainly appreciate if you could kick off the process @timothysc/@justaugustus, would it be best to mention some maintainers as points of contact when the issue is raised on the CNCF community side? Happy to be mentioned as a point of contact if that helps

[2020-02-19 16:49] jvburnes commented on #1312
I'm working on a custom connector for Dex and I was confused by the same issue.  Perhaps it should be documented a little better that the static password option creates another connector.

[2020-02-21 07:23] bonifaido opened #1658 "[storage/mysql] state column length is not sufficiently long"
When using JWT tokens in the state parameter of OAuth flow, which is quite common, we can easily run out of the length of the state column in the database in case of MySQL (which is limited to 384 characters).

[2020-02-21 13:47] #1658 closed

[2020-02-22 15:10] JoelSpeed commented on #1593
@mabushey As I understand your set up, you currently have something like `internet -> (HTTPS) -> ELB -> (HTTP) -> Istio (Envoy) -> (HTTP) -> Dex`, That last step inside the cluster could be TLS.Envoy supports TLS upstreams, you just need to specify insecure TLS or provide the CA on that internal connection

I'm think I may have been a little overly cautious in my previous comments. I could see an

[2020-02-22 16:46] sagikazarmark commented on #1593
My only concern allowing to disable TLS:

But I understand that operationally it might be a bit strong requirement. As long as it's not the default and documentation clearly articulates that this is a loaded gun aimed at the leg, I'm okay with adding such option to the configuration.

[2020-02-22 16:47] sagikazarmark commented on #1654
@bsctl the documentation is a bit outdated. I'll try to update it when I get the time.

[2020-02-22 17:29] jvanzyl commented on #1587
It's definitely a strange default pointing to some random trading site. Their tag line is "Building an excellent decentralized exchange." which has nothing to do with DEX here, and probably would be pretty bad to send off any sensitive information there. It would be better if the chart defaulted to nothing.

[2020-02-22 20:54] JoelSpeed commented on #1587
We should try and fix this really, dex.io is nothing to do with us

Should just be a case of changing [this line](https://github.com/helm/charts/blob/65f1f381e293974b25e0903a45f395892f7bda7f/stable/dex/values.yaml#L165) to something like `https://dex.example.com:8443`?

[2020-02-22 22:01] sagikazarmark commented on #1587
I have plans to write a new helm chart and host it in the Dex organization, because what's in the community stable repo is really just awful.

Till then, I submitted helm/charts#20955

[2020-02-23 18:12] reasonerjt opened #1662 "Fail to create connector google if serviceAccountFilePath is not set"
The Doc here says the parameter is optional, but when I leave it not set dex failed with error:
[code]

[2020-02-23 18:13] reasonerjt commented on #1662
https://github.com/dexidp/dex/pull/1663

Fixes the problem in my env.

[2020-02-24 08:05] #1637 closed

[2020-02-24 14:34] jdfalk commented on #1593
Thank you. I would clarify that the setup is more akin to:
`internet -> (HTTPS) -> LB (passthrough) -> (HTTPS) -> Istio (ingress) -> ((HTTP) encapsulated in TLS by istio) -> Istio (Envoy) -> (HTTP in same pod) -> Dex`
The only time it's not encrypted is when it's going to `localhost:service_port`, and if you are listening in, inside my pod, I have much bigger security issues to worry about than no

[2020-02-24 16:39] sagikazarmark commented on #1587
Fixed in the chart. Also requested to be a maintainer of the chart.

[2020-02-24 16:39] #1587 closed

[2020-02-24 20:29] timothysc commented on #1379
Process has started - https://github.com/cncf/toc/issues/363

[2020-02-25 13:26] schizoid90 commented on #1647
apiserver logs showed nothing of use, turned out that this was due to a dodgy SSL certificate in use by the domain controller.

[2020-02-25 13:26] #1647 closed

[2020-02-26 04:19] lbvffvbl commented on #1065
Guys. I'm trying to enable groups for google. Was added serviceAccountFilePath, adminEmail, insecureEnableGroups: true, but I'm still getting groups=[]. Where am I wrong?

[2020-02-26 04:36] lbvffvbl commented on #1065
Hi, can you show example of config file for enable google groups for Google?

[2020-02-26 07:25] lbvffvbl commented on #1065
Dene14, I found. you need to ask extra-claim groups but you need to use a connector type google, not oidc
https://github.com/dexidp/dex/blob/master/Documentation/connectors/google.md

[2020-02-26 16:47] paul-theorem commented on #1662
I'm having the same issue. Is there any workaround in released code?  I'm running v2.22.0.  The sample here: https://github.com/dexidp/dex/blob/master/Documentation/connectors/google.md clearly shows groups service account as optional.

Ultimately i want to make groups work - and one of the reasons for dex over raw google oidc for k8s auth, but I'd like to make the basic authentication work before

[2020-02-26 21:50] gnadaban commented on #1662
It would also be nice if there was documentation on how to define this file when deploying with Helm.

[2020-03-02 22:08] alexismaior commented on #1655
Hi, I was facing the same problem here with my AD. I applied #982 in my config and it worked!
Basically, I gave up using  the "userMatchers:" in my dex-config. Defining only "userAttr", "groupAttr" and "searchAttr" and now I could see all my groups.. Don't know the reason... btw.
Hope it works for you.

[2020-03-03 19:21] paul-theorem commented on #1099
Also appears that static client secrets can't be ref'd from env vars.  My example would be:
[code]

[2020-03-04 13:11] ffd2subroutine opened #1665 "Question: there's no local connector anymore?"
I thought there would be a local connector that would allow users to signup/signin with username and password, has that been removed from dex?

[2020-03-04 15:09] ctxnop opened #1666 "Send the connector used to the client"
Hello,
I setup a dex service with multiple connectors (github, google, etc...) and I would like that my client application can know which connector the user used to login.
I can't find anything in the received token/data.

The only way I found is to patch dex like this:
[code]
Is there a better way to achieve that? Without patching dex?
If not, can this patch be merged-in?

It may be improved by a

[2020-03-04 17:07] justaugustus commented on #1379
Proposal PR opened here: https://github.com/cncf/toc/pull/379

[2020-03-06 09:31] pverschuure commented on #441
@chris-rock Did you manage to implement this long-lived API token? If so, what flow did you use? Asking because I am trying to accomplish the same thing.

[2020-03-06 11:12] voki commented on #1655
@alexismaior Could you please paste full config for userSearch and groupSearch sections? I have tried #982 and a lot of other combinations, but still no luck.

[2020-03-06 12:54] PeopleRange commented on #1665
You can still use the local connector but Dex does not support user management features eg registration, resets etc you would have to implement these your self.

[2020-03-06 22:06] alexismaior commented on #1655
Absolutely!

[code]

[2020-03-06 23:05] voki commented on #1655
Thanks, it turned out my dex config was ok, it was gangway that was not passing scope group to dex.

[2020-03-07 06:44] HankTheCrank opened #1667 "389ds LDAP no query for groups"
Hi,

I've configured my DEX server to connect to a 389ds LDAP server for user management
`    connectors:
    - type: ldap
      name: OpenLDAP
      id: ldap
      config:
        host: 192.168.2.22:389
        # No TLS for this setup.
        insecureNoSSL: true
        # This would normally be a read-only user.
        bindDN: cn=Directory Manager
        bindPW: MYPASSWORD
        usernameProm

[2020-03-11 02:25] HankTheCrank commented on #1667
I got it working with the example applications so it has to be something with my applicaion. Closing.

[2020-03-11 02:25] #1667 closed

[2020-03-11 03:15] #1651 closed

[2020-03-11 03:22] rezagh2 opened #1668 "Question: non-web based clients?"
is it possible to have a dex client that is not web based? i.e.b2b scenarios where an applications wants to get a ID token via dex which is connected to LDAP?

[2020-03-11 19:03] HankTheCrank commented on #1667
Just in case someone else has a similar issue. I was using the example config for kubernetes deployment and in it the version number of the container is set to an old version:
- image: quay.io/dexidp/dex:v2.10.0
This old version does not seem to like to pull groups from LDAP. I upgraded the container to the latest and the problem went away.

[2020-03-12 20:21] dfresh613 commented on #1619
I'm also affected by this problem. Any feedback on when this fix will be accepted and merged?

[2020-03-13 18:49] klarose opened #1669 "Offline workflows can get into a bad state: failed to delete refresh token"
We've been running into an issue occasionally with offline workflows. We aren't 100% sure what is causing it, but I can conceive of at least one case where it is possible.

The symptom is that when a user tries to log in, the attempt fails with the following error:

This persists until the user's `OfflineSession` is deleted from the backend storage. This is a fairly serious bug because it requires

[2020-03-13 18:50] klarose commented on #1669
A simple fix to this is to just not fail if we fail to delete the refresh token due to it not being there. If it's not there, what is the problem? I'll submit a PR for this momentarily.

[2020-03-16 13:00] msiebuhr opened #1671 "PasswordConnector should have minimum timeout on wrong passwords"
Currently Dex seem to allow brute-force attacking passwords, as there is no enforced timeout on wrong passwords when using `PasswordConnector` (https://github.com/dexidp/dex/blob/master/connector/connector.go#L45-L48).

Instead of everyone having to remember this, perhaps timeouts would be enforced better in the common underlying code?

I propose that the handler for password-input should enforce

[2020-03-17 20:57] ktravis opened #1672 "storage/kubernetes: Connectors are cached indefinitely"
The type used to store connectors in kubernetes has a `ResourceVersion` field

https://github.com/dexidp/dex/blob/d820fd45d80cef74d4c65f5fcc5766ddb1fa514e/storage/kubernetes/types.go#L601

Which shadows the "actual" `ResourceVersion` specified by `ObjectMeta`. This causes the comparison here

https://github.com/dexidp/dex/blob/d820fd45d80cef74d4c65f5fcc5766ddb1fa514e/server/server.go#L550

To alwa

[2020-03-18 11:05] chetnuy opened #1675 "Login error: failed to connect: LDAP Result Code 200 "Network Error": EOF"
When I try to log in to my account I get this error:
Login error: failed to connect: LDAP Result Code 200 "Network Error": EOF

[code]

[2020-03-19 12:44] #1669 closed

[2020-03-21 13:33] kishansagathiya opened #1677 "Does dex handle session management?"
I am trying to check if a user is logged in, and if it is then who?

I did not find anything relevant going through docs and code. Also my browser did not show any session cookies by dex.
I think, OpenID and OAuth 2.0 does not require to handle session management.

Can you confirm if dex does it or not?

[2020-03-23 08:19] bonifaido commented on #1677
No, Dex doesn't do session management. It acts as an OIDC proxy frontend in from of different IdPs. State management has to be done in your application or in any other supporting applications.

[2020-03-23 08:19] #1677 closed

[2020-03-27 07:35] #1643 closed

[2020-03-29 13:23] chainlink opened #1679 "Gating access to backend service based on user"
Hi there,
I'd like to use Dex as a central auth mechanism but am wondering how you could gate access to backend services based on emails/groups. ie certain users/groups should have access to a subset of backend services. Is this possible with Dex?

[2020-03-30 17:20] Hedingber commented on #1084
+1

[2020-04-01 13:26] jenting commented on #1675
@chetnuy, maybe the config should like this.

[code]

[2020-04-01 16:24] chetnuy commented on #1675
Thank, i fix it. Problem in discribe ldap structure

[2020-04-01 16:24] #1675 closed

[2020-04-01 16:57] abdulsalama commented on #1065
hi folks, so does groups now works for oidc or not? I'm trying to use oidc with okta and I tried insecureEnableGroups: true but still getting groups=[]. any idea?

[2020-04-01 19:28] JoelSpeed commented on #1065
@abdulsalama Did you make sure to add the `groups` claim to the scope, as this will also be needed

[2020-04-01 19:31] abdulsalama commented on #1065
@JoelSpeed yes I did. I had this in the config:
          scopes:
            - openid
            - profile
            - email
            - groups

and I see that groups is being requested in the initial call.

[2020-04-03 14:50] kenperkins opened #1682 "Create Dex Kubernetes Slack Channel"
I propose creating a slack channel on the kubernetes slack; If there is agreement I will do two things:

1. Create the appropriate Pull Request on the [Kubernetes Community](https://github.com/kubernetes/community/blob/master/communication/slack-guidelines.md#requesting-a-channel)
2. Create a pull request on DexIdp documenting the slack channel and how to access it

I would propose using `#dex` ov

[2020-04-04 12:20] JoelSpeed commented on #1682
My concern is that Dex may not be considered close enough to the Kubernetes project for the K8s community to consider this a reasonable channel request. Could try the Gophers slack as an alternative if that fails.

Having a slack channel in general seems like a reasonable idea to me though, +1

[2020-04-04 13:15] kenperkins commented on #1682
I think it's fair to say that Dex, to a degree, is orthogonal to Kubernetes, but I would love to figure out a solution. A quick glance at the Gophers slack says it can be done without a code change. Maybe we should try there and feel it out.

Thanks for that suggestion @JoelSpeed

[2020-04-04 13:17] JoelSpeed commented on #1682
I would suggest asking in the K8s slack #slack-admins channel to see what they think if you think the K8s slack would be a better home

[2020-04-05 00:25] mvdkleijn commented on #1552
@FOTempel Would you mind closing this issue if it is no longer valid?

[2020-04-05 12:58] dskatz commented on #1065
Hi @abdulsalama,

With Okta specifically, groups aren't returned in the idtoken unless you pay for that feature.  You will need to make a second call to the userinfo endpoint after requesting the claims initially.

[2020-04-06 12:59] teozkr commented on #1671
That seems correct.. :/

[The client side](https://github.com/dexidp/dex/blob/ebef257dcdade698763928d57387d88a6f87fcbb/server/handlers.go#L372) doesn't seem to do any rate limiting, nor do the [LDAP](https://github.com/dexidp/dex/blob/ebef257dcdade698763928d57387d88a6f87fcbb/connector/ldap/ldap.go#L450) or [static db](https://github.com/dexidp/dex/blob/ebef257dcdade698763928d57387d88a6f87fcbb/serv

[2020-04-06 13:36] #1552 closed

[2020-04-06 16:05] geofffranks opened #1685 "Refresh Token Expiry?"
Is it possible to configure how long a refresh token is valid for? We're looking to make use of access token validity to ensure that ldap groups get synced up every 5 minutes or so, but then rely on refresh token expiry to force users to log in again every X hours. We saw a github issue from a few years ago discussing a script that would periodically revoke refresh tokens based on their age, but w

[2020-04-06 19:15] kenperkins commented on #1682
I got a receptive request from the Slack Admins on K8s. I think we should go forward with K8s.

[2020-04-06 19:28] JoelSpeed commented on #1682
Ack sounds good to me

[2020-04-07 08:15] bonifaido commented on #1682
I also vote for the k8s slack! 👍

[2020-04-07 09:02] #1672 closed

[2020-04-07 14:46] kenperkins commented on #1682
PR https://github.com/kubernetes/community/pull/4690 has been merged; waiting on automation to actually create it.

[2020-04-07 17:15] kenperkins commented on #1682
FYI it turns out there was a uniqueness constraint, so we will be #dexidp instead.

[2020-04-07 17:35] kenperkins commented on #1682
DexIdp is created, I'll author a PR for here next.

[2020-04-08 06:42] #1682 closed

[2020-04-08 13:39] vishal-swarankar-sdl commented on #1654
@sagikazarmark  can you please update the doc or share the slapd.sh with us?

[2020-04-08 13:39] vishal-swarankar-sdl commented on #1654
@bsctl were you able to setup stuff using LDAP tutorial?

[2020-04-08 14:15] kenperkins commented on #1682
It goes without saying, I'll be in #dexidp going forward.

[2020-04-10 20:29] devfd commented on #1668
In the case you are referring to a native application it depends if you have access to a web browser. If you do, your application starts a local web server and then initiates an authorization flow with a redirect_url to the local web server. You can then exchange the code you receive for an access token.

[2020-04-13 10:30] rezagh2 commented on #1668
Thanks; so if the application has no access to a web browser (a backend code making an api call to another backend service) the answer i assume would be no?

[2020-04-13 23:48] jseadragon commented on #1203
So, I've done a bit of digging here and hope that this information helps people. I am using Dex with Gangway as the login portal, backed by an LDAP service. Maybe this won't work for your particular use case, but hopefully you find it helpful.

My general expectation is the following:
 * A user is added to an LDAP group, and shortly after, Dex should regenerate their token with the new `group`
 *

[2020-04-13 23:49] jseadragon commented on #1685
Hey @geofffranks I had a similar question. Check out my reply: https://github.com/dexidp/dex/issues/1203#issuecomment-613151280

[2020-04-13 23:49] jseadragon commented on #1546
So, I did a bit of digging... and LDAP synchronization seems to work. https://github.com/dexidp/dex/issues/1203#issuecomment-613151280

[2020-04-16 08:23] srenatus commented on #1635
💯 It would be great to refactor that at least. If it fits a more generic pattern (as you described) all the better for it. 👍

[2020-04-16 09:31] tetrash commented on #1679
I don't think this is possible with only dex ... Dex only provides user's identities, and the authorization process depends on your services. So your service need to support OIDC (e.g. Grafana can do this) or use third-party software that allows to put users on the whitelist (e.g. oauth2_proxy). RBAC is up to the service as well.

It's explained in this talk https://www.youtube.com/watch?v=yaJnT6D

[2020-04-16 17:25] k3a commented on #1240
Just to make it a bit faster for those seeing CrashLoopBackOff due to 404 and using Helm chart.

The Helm chart creates `/healthz` liveness probe on the deployment and Dex uses `issuer` path to determine the "base URI" of all its handlers. So any `issuer` with a sub-directory suffix or is without a scheme (https:// or http://) prefix results in this crashloop as the `/healthz` endpoint would be in

[2020-04-17 08:28] nabokihms commented on #1065
@abdulsalama If you still have the problem, you can fix it specifying `getUserInfo: true` in [OIDC connector settings](https://github.com/dexidp/dex/blob/master/Documentation/connectors/oidc.md).

With the enabled option, dex will make a second call to the useinfo endpoint like @dskatz suggest. I tested it yesterday.

[2020-04-17 09:22] prashanthc commented on #1654
@sagikazarmark  Does the slapd.sh script still works? I installed the slapd and ldap-utils and tried to execute the script. It fails saying permission denied on /temp/temp.* folder which gets created while running the script.

[2020-04-17 09:34] sagikazarmark commented on #1654
slapd.sh has been removed because it was primarily used for automated testing.

Ideally, the LDAP example should use Docker (Compose) and I planned to rewrite the documentation, but I didn't have the time so far. (PRs are welcome 🙂 )

[2020-04-17 17:45] yann-soubeyrand opened #1693 "OpenShift rootCA config option doesn't seem to work"
Hello,

I expected the following config to work

[code]

but the following error is present in Dex logs (and login with OpenShift doesn't work)

[code]

`/var/run/secrets/kubernetes.io/serviceaccount/ca.crt` is the path of OpenShift CA inside each pod and this path is readable by Dex (`openssl x509 -in /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -text` returns the expected result). Using

[2020-04-17 20:06] nabokihms commented on #1693
Thanks!  There are some "golang" problems in the connector code.

[2020-04-18 15:53] yann-soubeyrand commented on #1693
Thanks for celerity of the fix! I had a glance at the code but didn't see this typo, nice catch ;-)

[2020-04-18 18:14] juliantaylor commented on #32
I have implemented a login session for the password connectors in this fork:
https://github.com/juliantaylor/dex/tree/session-support

It is relatively simple, it just adds the identify and scopes as securecookie to the password login. If this approach makes sense I could post a PR.

[2020-04-20 15:37] abdulsalama commented on #1065
Thanks @dskatz and @nabokihms for the hints. I will give that a try and see if it works.

[2020-04-21 04:55] alexmt opened #1695 "Secret field is unnecessary required for a static client config."
The commit https://github.com/dexidp/dex/commit/99c3ec68203c0b2764a49724ecb9ecc26b520482 has introduced the ability to use secret references in static client configuration and at the same time made this field required.

Some authentication types require only client id and don't require secret. For example following configuration used to work :

[code]

Now it failed with the following error:

[cod

[2020-04-21 10:21] qube222pl commented on #1084
+1

[2020-04-22 15:41] matt-coppola opened #1697 "End Session Endpoint Support in Dex"
**The Ask:**

I would like to get feedback on my proposal to implement an end_session_endpoint in Dex. I plan to implement the proposed changes and create a pull request for it and would like some feedback / options from the maintainers of Dex and the community.

**Introduction:**

This draft OIDC spec https://openid.net/specs/openid-connect-session-1_0.html defines a method for clients to end the

[2020-04-23 16:54] Thoro opened #1698 "Pass staticClient name to connector (SAML)"
Hi,

i would like to know which staticClient authenticates on dex on the saml backend.

There is two ideas I have:

1) pass the staticClient (optionally) as additional parameter in the entityIssuerUrl
2) pass an additional Property in the SamlRequest, I could think of either ProviderName (Attribute) or Destination (Attribute) => https://docs.oasis-open.org/security/saml/v2.0/saml-schema-protocol-2

[2020-04-24 16:46] tolson-vkn commented on #1654
@sagikazarmark I was thinking about updating the docs for the LDAP tutorial this weekend. But wanted to get your thoughts on two was of doing it.
1. A docker-compose file that has both `osixia/openldap`, and `dexidp/dex`
2. Assume the user builds and runs dex locally and run `osixia/openldap` in a docker container

Number 2 feels more like how the slapd script used to work and assuming the user bu

[2020-04-27 05:13] Asuforce commented on #1697
Sounds nice. I need this function 👍

[2020-04-27 07:32] dpaks commented on #1237
@ericchiang Is this the access token which can be used to authenticate APIs like the one for github?

[2020-04-28 10:06] sockmister opened #1699 "pass in redirecturl for github connector"
Github's oauth flow accepts a `redirect_uri` field that would allow the field to override the callback URL set in Githbub itself (subjected to some restrictions) https://developer.github.com/apps/building-oauth-apps/authorizing-oauth-apps/#redirect-urls.

However, it appears that the connector does not perform the `Exchange` with the `RedirectURL` set https://github.com/dexidp/dex/blob/0a85a97ba9d

[2020-05-03 10:52] djboris9 commented on #1578
Hi @stevendanna

May I ask how you manged to work around this issue with a `replace` directive?

Kind regards,
Boris

[2020-05-03 11:08] slok commented on #1578
Hi @djboris9! although I'm not @stevendanna, what I've done myself and I see the cleanest approach (IMHO) is to pin to the commit(https://github.com/dexidp/dex/commit/d820fd45d80cef74d4c65f5fcc5766ddb1fa514e) of the tag I want ([v2.23.0](https://github.com/dexidp/dex/tree/v2.23.0)).

[code]

then `go mod tidy`, and you will end with something like:

[code]

[2020-05-03 11:11] sagikazarmark commented on #1578
Can I ask why you would want to depend on Dex? It's an application, not a library.

BTW, the solution outlined by @slok is the correct one in this case.

[2020-05-03 11:15] slok commented on #1578
Well... It has a GRPC API and it has Go client generated.

https://github.com/dexidp/dex/blob/master/api/api.pb.go#L1336

I use it to register clients dynamically.

[2020-05-03 11:58] djboris9 commented on #1578
Thanks @slok for this hint, it works perfectly!

I use it for testing and development a Go application, where a port is dynamically chosen and the clients and paths are set up according to the environment. The code for spinning up and terminating an appropriately configured dex server is ~100 LOC long without any special logic.

Starting and managing a different process and configuring it with gRP

[2020-05-03 16:04] stevendanna commented on #1578
We had originally forked the repo, but I think the pinning outlined by slok is cleaner and will probably move to that.

I believe we use it for similar reasons as those mentioned: The API client and starting a test dex server in some of our functional tests.

[2020-05-06 12:39] bgdnlp commented on #1655
I'm using Dex through ArgoCD. ArgoCD v1.5.3, Dex v2.22.0. `userMatchers` doesn't work for me either. The configuration posted above by @alexismaior, where userAttr and groupAttr are set by themselves worked.

[2020-05-07 04:55] tanmaykm opened #1702 "Allow optional additional scopes in GitHub and GitLab connectors"
We have an application where we tightly integrate with Dex. Our application provides services that make use of source code control systems like GitHub and GitLab. So Dex is very useful as a single signon component.

Our applications also need to be able to use GitHub and GitLab APIs to be able to list/fetch repos/code and such. Since users already signin to Dex using their GitHub/GitLab ids, it wo

[2020-05-08 08:49] tiffanyzhou opened #1703 "login dex and return Unregistered redirect_uri"
I configuration dex and ldap yaml file, when i login dex portal then return Unregistered redirect_uri
step 1
I run the command :./bin/example-app --issuer https://seliius28457.se:32000 --listen http://10.120.2.2:8001 --redirect-uri http://10.120.2.2:8001/callback

step 2
open a browser and login to http://10.120.2.2:8001
![image](https://user-images.githubusercontent.com/39646571/81387741-c4e1e480

[2020-05-11 09:32] srenatus commented on #1616
Not out-of-the-box. You could perhaps craft it yourself.

[2020-05-11 09:33] srenatus commented on #1476
I'm thinking about adding another flag, like `filterGroups: bool` to actually exclude the non-whitelisted groups... 🤔

[2020-05-11 13:06] karimhm commented on #42
Will ever DEX get certified?

[2020-05-12 09:09] tkleczek opened #1707 "Overwriting already chosen connector in auth request should not be possible"
Suppose the following scenario:

1) "Choose connector" page is shown
2) User chooses connector_1 => UpdateAuthRequest is issued to storage with connector_1 data
3) User authenticates with connector_1, approval form is shown
4) If user now sends another "choose connector" call to /auth/connector_2 it allows to change AuthRequest.connector_id field to connector_2's id
5) User approves form from step

[2020-05-12 11:07] #1695 closed

[2020-05-12 11:40] #1476 closed

[2020-05-12 11:55] #1693 closed

[2020-05-12 12:33] sagikazarmark opened #1709 "Create an official Helm chart"
Dex's "official" helm chart in the [helm/charts stable repo](https://github.com/helm/charts/tree/master/stable/dex) is far from perfect, not to mention that the official Helm chart repo will be deprecated by the end of the year.

We should create a new, official chart for Dex.

The only question is where we should host it:

- We could set up a chartmuseum instance somewhere and host it under `char

[2020-05-12 14:10] MrJacek commented on #1084
+1

[2020-05-12 14:18] srenatus commented on #1709
I'd go with the simplest option, and I suppose that's the second one -- static chart repo? 🤔

[2020-05-12 14:29] sagikazarmark commented on #1709
I guess it is, still, I would consider having a domain of our own, just in case we decide to move it away from github.

Anyway, I will give the releaser action a try to see how it works.

[2020-05-12 14:31] srenatus commented on #1709
I'd be curious what others say, too. Also, when it comes to having some infrastructure at our disposal, I wonder if this is where CNCF could come in. But I haven't tracked the status of that process, tbh.

Also, we're currently not using any helm charts, so my opinion shouldn't weight much here 😅

[2020-05-12 14:41] sagikazarmark commented on #1709
This issue came up right before VMware approached us with joining CNCF which is why I've put this on hold, but the need for a better chart just came up again, so I decided to at least open an issue and start a discussion.

[2020-05-12 14:53] srenatus commented on #1709
Sounds alright, better to act now. It's probably of use to a many users :+1:

[2020-05-13 08:30] sockmister commented on #1699
PR was merged :D

[2020-05-13 08:30] #1699 closed

[2020-05-13 10:54] schizoid90 commented on #1655
@voki , could you elaborate on the issue with gangway not passing scope groups? I'm having the same issue, Dex config looks the same as yours but I'm getting empty groups back.

[2020-05-13 11:19] voki commented on #1655
@schizoid90 Sure, I had to add "groups" scope in gangway config in the following line:
    scopes: ["openid", "profile", "email", "groups", "offline_access"]

[2020-05-13 12:59] schizoid90 commented on #1655
@voki , thanks I found that about 5 after asking

[2020-05-14 08:17] ccojocar opened #1710 "Issue with using the client package v2 version in go modules project"
I am trying to use client package latest v2 version in a go modules project but there is an error:

[code]

I think the v2 version is not properly handled following these recommendations:
https://blog.golang.org/v2-go-modules

[2020-05-18 04:51] praveen0106 opened #1713 "Intermittent authentication failure while fetching user details in Github connector"
Hello Dex Team,
We are facing an intermittent 401 while logging in with Github in all our environments. This is random and intermittent in nature. Screen shot is provided below.

Pointer in the code where it might be failing:
https://github.com/dexidp/dex/blob/master/connector/github/github.go#L257

**Screenshot:**
<img width="1522" alt="Screenshot 2020-05-18 at 10 08 09" src="https://user-images.

[2020-05-18 13:15] lokeshjain279 opened #1714 "LDAP login error: oo many colons in address"
I am facing a strange issue with dex on kubeflow. In dex-config.yaml If I
![Screen Shot 2020-05-18 at 6 36 03 PM](https://user-images.githubusercontent.com/4729654/82217028-75649b00-9937-11ea-9203-0f0f47824888.png)
![Screen Shot 2020-05-18 at 6 37 02 PM](https://user-images.githubusercontent.com/4729654/82217032-7695c800-9937-11ea-999e-8bd55979c850.png)
 provide host as ldap:x.x.x.x:389 it throws

[2020-05-19 10:53] thesuperzapper opened #1716 "quay.io/dexidp/dex:v2.24.0 is DOWN!"
Currently `quay.io/dexidp/dex:v2.24.0` is returning a 500 Internal service error!

Example:
[code]

Aside fixing this issue, we should use this as a good case to migrate to the official docker-hub, so we can prevent this in the future.

[2020-05-19 10:56] thesuperzapper commented on #1716
@rithujohn191 @srenatus @JoelSpeed @bonifaido @sagikazarmark

[2020-05-19 10:56] mxey opened #1717 "Postgres: Support multiple endpoints"
The Postgres storage driver can only connect to a single host. It would be useful for clustering Postgres if I supported picking the master among multiple hosts.

[That is a limitation of the library lib/pq](https://github.com/lib/pq/issues/683)  that is used in it. [The library is in maintenance mode](https://github.com/lib/pq#status) and this feature is unlikely to be added. They recommend https

[2020-05-19 10:58] JoelSpeed commented on #1716
Quay are aware of the issue and are investigating it presently. https://status.quay.io

Docker Hub also has outages so migrating wouldn't prevent such issues.

One option would be to maintain mirrors, but this is an additional overhead that I think is likely not that worth it 99% of the time.

[2020-05-19 11:24] manlme commented on #1655
it works..

[2020-05-19 11:39] sagikazarmark commented on #1716
Well, if we build container images in the CI, we can easily push to multiple registries.

[2020-05-19 12:55] sagikazarmark commented on #1716
It looks like quay is back in readonly mode.

[2020-05-19 12:55] #1716 closed

[2020-05-19 15:24] jwomble commented on #1714
try removing the protocol from the host address.  So
`host: ldap://10.0.3.150:389`
becomes
`host: 10.0.3.150:389`

[2020-05-19 15:41] candlerb opened #1718 "Google refresh token: 'failed to refresh identity: missing "name" claim'"
Testing Dex using a config based on examples/config-dev.yaml and the example-app.  I built from today's git head with go1.14.3.

I activated the Google section, configured clientID and clientSecret obtained from console.developers.google.com, and I can successfully login using my gmail account.  The example app shows:

[code]

However, if I click the "Redeem refresh token" button, the example app

[2020-05-19 15:54] candlerb commented on #1668
Sounds like you want the password grant flow: open ticket #926

It may be better to "prime" the application with an initial id-token and refresh-token (obtained via a one-time web exchange), and thereafter it can use the refresh-token without any further web interaction.

[2020-05-19 15:57] candlerb commented on #1089
FYI, [kubelogin](https://github.com/int128/kubelogin) automates the fetching of an id-token, and integrates nicely into kubectl.

[2020-05-19 16:30] candlerb commented on #1080
I can see two possible approaches here:

1. Add groups to the Password struct.  I think it would be pretty simple to implement.  It has some knock-on effects in the gRPC API and storage though.
2. Allowing groups to be defined locally in Dex, built up from lists of arbitrary IDP identities and/or IDP groups.

Both approaches allow local users to assert group membership, which is useful for PoCs an

[2020-05-19 16:59] candlerb commented on #1001
Can this now be closed?  There is now a separate Google connector and it has the ability to read groups.

[2020-05-19 17:07] candlerb commented on #918
Note for the given use case: kubernetes now [supports](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#configuring-the-api-server) a flag `--oidc-groups-prefix` which applies a prefix to the group names from the IDP.

However I still think it would be good to qualify the group names with the IDP name.  Upstreams may have overlapping group names which you might not want to h

[2020-05-19 20:17] candlerb commented on #918
BTW, isn't it also possible that two different IDPs both return `"sub": "123456"` ?  If so, being able to prefix the `sub` (as well as `groups`) could be worthwhile.

[2020-05-20 08:44] candlerb opened #1719 "Why does Dex base64 encode "sub" claims?"
When using Dex with the example-app, the displayed "sub" claim is base64-encoded.

* With mock connector: `"sub": "Cg0wLTM4NS0yODA4OS0wEgRtb2Nr"`
    This decodes to `0-385-28089-0mock` which is the UserID from [connector/mock/connectortest.go](https://github.com/dexidp/dex/blob/master/connector/mock/connectortest.go#L20) plus "mock"
* With local connector: `"sub": "CiQwOGE4Njg0Yi1kYjg4LTRiNzMtOTB

[2020-05-20 08:59] bonifaido commented on #1001
I think yes, closing!

[2020-05-20 08:59] #1001 closed

[2020-05-20 14:40] candlerb commented on #1718
Possibly this is because I'm using `type: oidc` which comes straight from the config-dev.yaml sample file:

[code]

However, changing to `type: google` doesn't work without a hosted domain and a delegated API user. Dex tries to open the empty filename:

[code]

[2020-05-20 17:27] candlerb commented on #1080
I have made a little proof-of-concept for Dex defined groups, which you can find in this branch: https://github.com/candlerb/dex/tree/dex-groups - commit https://github.com/candlerb/dex/commit/6a67e7c453a101a7ec3d07fde7b1d8f97b878cc8

It lets you assign additional groups to arbitrary IDP users and groups:

[code]

This is currently only done statically, but could be added to the Storage and gRPC i

[2020-05-22 12:17] candlerb commented on #1080
I am wondering now: rather than just applying arbitrary extra groups, what about arbitrary extra *claims*?  You could then have:

[code]

(In the case of groups I'd expect it to be additive)

[2020-05-25 08:01] lokeshjain279 commented on #1714
Hey @jwomble,
I tried removing ldap;// from the host name but that alone didn't seem to work. But I tried adding a port field and that worked.

[code]

[2020-05-27 07:55] ariz-kargo commented on #1240
This is correct, thank you for your reply. I add a prefix `/dex` to my `issuer`, so I modify the `livenessProbe.httpPath` to become `/dex/healthz` and it works like charm!

[2020-05-27 09:54] bajnokk opened #1723 "OIDC discovery blocks other connectors"
It seems like there is no way to disable OpenID Connect Discovery (see also #1228) in the OIDC connector. This breaks use cases when the remote providers may be unavailable during startup and in turn it also makes other connectors non-functional (because the server won't start).

Are there any plans to either make remote OIDC discovery optional or let the server start with broken/failed/not ready

[2020-05-27 16:24] prashanthc opened #1724 "LDAP login error: Invalid Username and Password"
I'm using 2 different LDAP connectors. Initially this was working fine with no issues. I was able to login from both the LDAP connectors. But sometimes, the login fails. I get an error 'Invalid Username and password', even though when the credentials are correct. The issue is intermittent, it does not happen everytime.
![image](https://user-images.githubusercontent.com/7546719/83045569-61214c00-a0

[2020-05-29 01:04] Morriz commented on #1080
Would these claims then make it into the ID’s JWT? Then please add roles as well :)

[2020-05-29 13:37] VF-mbrauer opened #1725 "Accept/Modify Claims (ID-Token Payload) from Connector (ex. AzureAD) for example to small letters"
If we get back the OAUTH reponse from AzureAD (Microsoft Connector) it can happen that the AD delivers the users E-Mail which we will use later on in Kubernetes RBAC (Rolebinding) to assign the user to a role, it with uppercase and lowercase letters.

That depends on the User who has configured the AzureAD User. So in case the name is for example
`Firstname.Lastname@example.com`  we need exact the

[2020-05-31 19:50] sagikazarmark opened #1726 "Make the API package a separate module"
The protobuf descriptors for Dex are currently available in the `api` package which people tend to import in their own application. Unfortunately, this can lead to a number of issues (large number of dependencies, conflicting dependencies, etc) which is why importing application code is usually not advised.

By making the aforementioned package a separate module, people can continue importing it,

[2020-06-01 12:15] srenatus commented on #1726
We might some day want a v2 api, but I don't think that this matters for what's discussed here. Sounds good to me!

[2020-06-01 19:43] sagikazarmark commented on #1726
Technically, I guess this is the v2 API. We can always add a v2/v3 under the same module.

[2020-06-03 11:24] riupie opened #1727 "Unable to login using LDAP, how to change change LDAP filter on dex configuration?"
I got this error:
[code]

Actually I dont have `objectClass=user` so I change that to `objectClass=person` on dex configuration:

[code]

But when I see log, it still use filter (objectClass=user). Could I change that?

[2020-06-03 12:27] riupie commented on #1727
This issue has been resolved after upgrade my dex to 2.24

[2020-06-03 12:27] #1727 closed

[2020-06-03 22:02] milanshergill opened #1728 "Use user id to sign in to your LDAP connector"
I asked this question on google groups but received no answers. So filing an issue here to get some attention and see if using userID for login instead of email address is possible or not?

Here's the google group post: https://groups.google.com/forum/#!topic/dex-dev/nberAFAfuQM

[2020-06-04 09:21] ShramikGajlekar opened #1729 "case sensitive checking for saml attributes."
The current group assertion check is case sensitive and it seems a lot restrictive. If Okta sends `GroupsAttr` as groups and the connector has it `Groups` even if the parsed saml response may show groups the idenity object is never populated with the correct groups.

Relaxation is probably needed with this strict attribute checking.

[2020-06-05 07:26] Keerthana2496 opened #1731 "Unable to get the access Token in callback response"
I am able to get into the login page of dex after the successful authentication with ldap, getting error in callback response. I try to connect the dex with passport-openidconnect.

passport.use('oidc', new OidcStrategy({
  issuer: 'http://localhost:5556/dex',
  authorizationURL: 'http://localhost:5556/dex/auth',
  tokenURL: 'http://localhost:5556/oauth2/token',
  clientID: 'example-app', // OAuth

[2020-06-05 09:34] riupie commented on #1731
Hmm...I use openLDAP  but with same error. Did you get 504 timeout response?

[2020-06-05 10:07] riupie commented on #1728
did you have try using email and succeess? I also use LDAP and failed to get callback response.

[2020-06-07 16:27] candlerb opened #1732 "Empty "would like to..." list when client requests only "openid" scope"
If a client requests only scope "openid", Dex displays an empty list like this:

![image](https://user-images.githubusercontent.com/44789/83974210-87f14500-a8e3-11ea-9f11-22cbc909dc73.png)

This looks a bit weird.  I think it's a legitimate use case though - the client may just want to allow logins from all Dex users, and not be interested in anything other than the "sub" claim.

Perhaps a differe

[2020-06-16 05:23] Keerthana2496 opened #1733 "Unable to skip the "grant access" page"
I tried this below solution, still i am getting the grant access page

_Originally posted by @srenatus in https://github.com/dexidp/dex/issues/1172#issuecomment-357876265_

[2020-06-16 20:36] dynamicwebpaige opened #1735 "[Feature Request] Dex support in Jupyter notebooks."
![1_BIDimBvS_g8QH5fuHS_QRQ](https://user-images.githubusercontent.com/3712347/84825267-09c52a80-afd6-11ea-8ac5-f373e032df84.gif)

**Way-far-down-the-road feature request:**
But [Jupyter just recently added supported for SQLite](https://blog.jupyter.org/a-jupyter-kernel-for-sqlite-9549c5dcf551), and has support for specialized language kernels, such as [Haskell](https://mmhaskell.com/blog/2019/3/4/

[2020-06-16 20:36] #1735 closed

[2020-06-19 16:10] #1718 closed

[2020-06-21 07:36] riupie opened #1736 "" Bad Request : Login session expired." when login to Kubernetes Dashboard"
I have 2 service which use dex as authentiction (dex+LDAP) : k8s dashboard and gangway to generate kubeconfig. It is works well with gangway. But when I try integrate it with k8s I get that error message. When I check my dex logs:

[code]
What that error logs mean?

[2020-06-24 15:29] deric commented on #1341
Any progress on this? I'm still seeing occasionally the error message. Can we fix this at least for specific DB provider?

[2020-06-25 15:26] meenakshi123 opened #1737 "Need Documentation on how dex works."
I want to use dex where i need to authenticate user with IAM and my application is not using the standard oauth2 flow.I don't have client id and secret.i need to call a url which returns access token and id token and then i need to redirect that to another page.Is there something like this which i can go through..

[2020-06-25 16:33] zicklag commented on #1737
I'm needing to do something very similar or maybe the same as you and I just did some research on how that works. I'll try to reply with an easy to understand/short version, but the full spec for OpenID and how to get tokens from dex is [here](https://openid.net/specs/openid-connect-core-1_0.html).

Dex is an OpenID Connect provider, and the [implicity flow](https://openid.net/specs/openid-connect

[2020-06-25 16:52] zicklag commented on #1182
I'm desiring to use Dex for a [Hasura](https://hasura.io) authentication backend, but the issue is that Hasura expects certain [specific claims](https://hasura.io/docs/1.0/graphql/manual/auth/authentication/jwt.html#the-spec) that Dex will not provide. I need to be able to take the claims that Dex can derive such as username and groups and transform them into the Hasura accepted claims.

For examp

[2020-06-25 17:03] meenakshi123 commented on #1737
Thanks zicklag for the reply.
I already have a url which gives me access token and id token but i am not sure how to use that in dex authentication.
Can you please provide more details on it. As it is quite urgent for me.

[2020-06-25 17:07] zicklag commented on #1737
I'm not sure I fully understand your setup.

Do you:

1. Have Dex setup so that it uses some external service to authenticate users such as GitHub **and** you want to allow users to log into your app using the Dex login form, or
2. You want to have Dex use *your application* as an authentication backend?

[2020-06-25 17:19] meenakshi123 commented on #1737
I want to use dex for authentication.But i am not sure how to use it in my case..in my case i have only a url which gives me access token and id token..using id token i can get user identity but it does not redirect me automatically to application dashboard page..I have done same thing with ldap..which was fine..as we have ldap connector in dex.
But not sure about IAM as we don't have any connecto

[2020-06-25 17:20] zicklag commented on #1182
**Update:** Just found this PR ( https://github.com/hasura/graphql-engine/pull/3575 ) in Hasura which makes this unnecessary for my particular use-case, I think, but I still think that custom claims would be a great feature.

[2020-06-25 17:20] zicklag commented on #1737
What is IAM?

[2020-06-25 17:22] meenakshi123 commented on #1737
identity and access mgmt

[2020-06-25 17:25] meenakshi123 commented on #1737
may i know what you are trying to achieve.May be i can try to relate.

[2020-06-25 17:35] zicklag commented on #1737
I've just finished setting up Dex to point to an LDAP auth backend and successfully gotten the `id_token` from my application. The workflow is like this

1. Use hits my application ( they are unauthorized )
2. My app uses [node-openid-client](https://github.com/panva/node-openid-client) to discover the redirect URL for dex:
[code]
3. My app redirect's the user to Dex
4. Dex authenticates the user

[2020-06-25 17:58] meenakshi123 commented on #1737
in my case i don't have client id and secret. will it work if i don't pass it?or can it be some random text?

[2020-06-25 18:00] zicklag commented on #1737
Ah, you set the client id and secret in the dex config yaml in the `staticClients` section:

[code]

[2020-06-25 18:12] meenakshi123 commented on #1737
ok..I will try this..And is your code similar to other connectors?Do you have Open,LoginURL,HAndleCallback this method?

[2020-06-25 18:22] zicklag commented on #1737
I don't know what you mean exactly...

I haven't seen any other connector's code yet. In my use-case everything happens in the JavaScript frontend ( or it will once I've got it all put together ).

The JavaScript frontend will realize check a cookie for the id_token, and if it doesn't find it it will redirect use the above code to calculate the Dex redirect URL, then it will set the web-page's `hr

[2020-06-25 18:27] meenakshi123 commented on #1737
I see..i think the node-openid-client  approach is little bit different than the dex connector flow.If you want we can connect on hangout and can explain you better, if you don't mind.

[2020-06-25 18:45] zicklag commented on #1737
Just Sorry, because of network restrictions on my side hangouts don't work for me. Unfortunately this is the best place to discuss that I have access to.

[2020-06-25 19:01] zicklag commented on #1737
Not sure if this helps, but here is a sequence diagram:

![Untitled Diagram](https://user-images.githubusercontent.com/25393315/85782621-4f77a680-b6ec-11ea-9def-379c937656d0.png)

[2020-06-25 19:04] zicklag commented on #1737
If you have a specific step you have questions about then I can try to explain it better.

Also, are you doing this from a single paged application ( SPA )? Or are you doing it from something like a PHP web application or something similar.  I might be able to publish an example repo that shows how I'm doing it or how you could do it depending on what application stack you are using.

[2020-06-25 19:04] meenakshi123 commented on #1737
No Issues..I am interested in step 4 and step 5.

[2020-06-25 19:07] zicklag commented on #1737
OK, so those are completely handled by Dex. After step 2, the user is presented with the Dex login screen:

![image](https://user-images.githubusercontent.com/25393315/85783627-1be94c00-b6ed-11ea-9b9f-b92c102143f2.png)

In my case I select LDAP and then I login with my username and password there:

![image](https://user-images.githubusercontent.com/25393315/85783718-30c5df80-b6ed-11ea-9c80-17db693

[2020-06-25 19:14] meenakshi123 commented on #1737
yes

[2020-06-25 19:15] zicklag commented on #1737
OK, so what happens when you submit the login form?

It should redirect back to your application, with the `id_token` ( and other stuff ) in the URL.

[2020-06-25 19:22] meenakshi123 commented on #1737
This is my 1st request- Request URL: http://127.0.0.1:5556/dex/auth/idam?req=bfql54ekleejpfhpjk4uqxfb4
2nd request: http://127.0.0.1:5556/dex/auth/?client_id=&response_type=code&state=bfql54ekleejpfhpjk4uqxfb4
I think it is taking from example-app.In my dex-config.yaml, i have provided this:-oauth2:
  response_types: ["id_token"]

but i want to know where should i add my api call which returns me

[2020-06-25 19:53] zicklag commented on #1080
I just thought of that in another issue: https://github.com/dexidp/dex/issues/1182#issuecomment-649695644.

---

I am just testing Dex right now and, because I can't impersonate real users on my LDAP server :wink: I would like to test out how user groups work with the local password storage. This is **just for testing**, but it is a very useful feature for testing that I would appreciate having in

[2020-06-25 20:22] zicklag commented on #1737
To clarify, you don't need to use [node-openid-cient](https://github.com/panva/node-openid-client) at all. That just automates putting together the first request and helping with the workflow a bit, but it is easier to learn about how it works without involving it.

[2020-06-25 20:43] zicklag commented on #1182
Now that I think about it, I could still use a way to get more information about the user from certain backends like LDAP. For example, I want to know the users username ( in LDAP it's the `uid` ) and their full name ( in LDAP it's the `cn` ), but I'm only allowed to grab one value for the `name` with the current LDAP connector.

I think different connectors would need different connector-specific

[2020-06-26 04:55] candlerb commented on #1182
At the simplest level, custom claims could configured explicitly:

- per user - using the (provider, sub) pair as the key
- per group - using the (provider, group) pair as the key

and stored either in YAML or in a SQL/etcd backend (with API maintenance).  That would cover my use cases, as long as custom claims includes being able to add custom groups.

It looks like there are two further suggesti

[2020-06-26 05:18] meenakshi123 commented on #1737
This is fine.but in my case, we have one extra thing- to call a api and i am getting tokens from there and because of that i am confused. and even i don't have username password too.I h.ave a singal button when i click on that, it should call my api in that api it checks the computer certificated and based on that it returns id token and access token.Now the point is, using that token , dex authen

[2020-06-26 06:19] justaugustus opened #1739 "[Umbrella] CNCF Sandbox Onboarding"
This issue tracks Dex project onboarding as a CNCF Sandbox project.
(cross-tracks https://github.com/cncf/toc/issues/472 on the project level)

- [x] (https://github.com/dexidp/dex/issues/1379) Propose donation of Dex to the CNCF

[2020-06-26 07:16] justaugustus commented on #1379
Dex is now a CNCF Sandbox project: https://lists.cncf.io/g/cncf-toc/message/4853
Onboarding tracking can be found here: https://github.com/dexidp/dex/issues/1739

[2020-06-26 07:16] #1379 closed

[2020-06-26 16:17] zicklag commented on #1737
So you have an API that will figure out whether or not a user is authenticated, and you want Dex to use that API to authenticate users? For example:

- I'm a user that goes to your app
- I click the "Login Button"
- Your app redirects me to Dex where there is just a "Login with [Your API name]"
- I click the button and, without even putting in a password that API authenticates me
- Dex redirects t

[2020-06-26 16:46] meenakshi123 commented on #1737
Right..I have created a new connector but i am little bit confused about the connector methods(Open,LoginURL, Callback).I am not sure how this works and what each method will do in my case.and these methods are required.

[2020-06-26 16:54] zicklag commented on #1737
Ah, OK, that makes more sense. I thought I was misunderstanding something.

When it comes to that, I unfortunately don't know much. :confused: I haven't implemented my own connector in Dex yet, nor have I written much Go.

[2020-06-26 16:57] meenakshi123 commented on #1737
same case with me..If you find out any documentation about these methods or any blogs which are related to this.Please ping me.Thanks for your time and help.

[2020-06-26 16:58] zicklag commented on #1737
:+1: No problem. :)

[2020-06-30 05:23] sagikazarmark opened #1740 "Move examples to a separate repo or module"
Make sure that examples does not pull in extra dependencies into the project.

[2020-06-30 15:42] sagikazarmark opened #1744 "Move to/Setup a new image repository"
Quay is down a *lot* lately. Should we setup an alternate registry? Eg. docker hub?

[2020-06-30 15:52] bonifaido commented on #1744
I would move to DockerHub and keep quay as a fallback/backward compatibility reasons.

[2020-06-30 16:00] JoelSpeed commented on #1597
+1 I'm also not a fan of vendoring and don't really see much value added here

[2020-06-30 16:24] sagikazarmark commented on #1597
Let's get rid of it then. PR incoming.

[2020-06-30 16:49] #1726 closed

[2020-06-30 19:50] #1597 closed

[2020-07-01 07:54] sagikazarmark commented on #1740
@JoelSpeed @bonifaido what do you think would be better? A separate repository or separate modules in the main repository.

I'm leaning towards one of those options, but wanted to hear your opinion as well.

[2020-07-01 11:55] #1744 closed

[2020-07-01 15:10] kommulu opened #1751 "Problem with user via ldap"
Hi,
the title is not very helpful, but I could not really describe it any better.
Anyways, here is my problem:

We use dex to authenticate users to use the api with ldap (active directory) in the backend. As the login-app we use gangway.
This is working great so far.
A few weeks ago, a user lost his kubeconfig he got from gangway. So he logged in and got himself a new one.

Since then, he gets thi

[2020-07-01 22:11] rvirdiz opened #1752 "Reject user as 403 if not part of a oidc connector group"
Hi @vi7

Yes, I am looking for users returned from dex userSearch parameter, should not be allowed to login/authenticate if groupSearch parameter returns empty ldap group list.

Following are my dex logs, when user tries to login user dex ldap connector:
[code]

In above logs, is there any way LDAP user "myldapuser" should not be allowed to login if not part of any groupSearch filter, groups=[].
J

[2020-07-01 22:12] rvirdiz commented on #1752
https://github.com/dexidp/dex/pull/1612#issuecomment-646986517

[2020-07-02 14:08] tacurran commented on #1114
@RichardLindhout would you open an issue in ory/hydra with an alternative flow to "open a webpage via the app". We would consider some other approach compatible with your point above.

[2020-07-02 15:13] caniszczyk opened #1753 "Enable DCO as part of CNCF onboarding"
Per the CNCF IP Policy, projects must use DCO

I installed and enabled it on your repo: https://github.com/organizations/dexidp/settings/installations/10223994

You may want to give devs a heads up they will need to sign off commits via 'git commit -s' moving forward

[2020-07-02 15:13] caniszczyk commented on #1739
FYI you will need to enable DCO on this repo, I installed the DCO bot for the repo

https://github.com/dexidp/dex/issues/1753

[2020-07-02 15:14] sagikazarmark commented on #1753
Thanks!

We should probably have/update a contribution guide, will include it there.

[2020-07-02 15:32] pulkitmehra opened #1754 "Adding clients to Dex via API"
I am a big fan of Dex, using it in our kubernetes cluster. As OIDC broker it would be nice if Dex has API to add static clients. What are the ways we can programmatically add clients to Dex or change configuration on the fly. Can we add APIs to Dex for configuration management?

[2020-07-02 15:54] JoelSpeed commented on #1753
How does the DCO plugin handle multiple authors on a commit? Or commit squashing when we merge branches? Is there any behaviour that we might need to change when reviewing or merging once this is running?

[2020-07-02 18:31] RichardLindhout commented on #1114
Hey @tacurran, I'm not sure I think Hydra can handle this since you can build your own authorization logic e.g. username, password login for your own app while letting third parties do the login via the webpage.

However I think that's by definition something which could be handled by public clients since they are internal. I will make an issue because it can be an interesting discussion.

Would b

[2020-07-02 18:31] RichardLindhout commented on #1114
Issue -> https://github.com/ory/hydra/issues/1938

[2020-07-03 02:21] jarrettprosser opened #1755 "Dex not creating refreshtoken resources in k8s storage"
I've got Dex configured to use Kubernetes storage. I'm using a single LDAP connector. A React client implementing oidc-client.js is requesting the response type `id_token token` and scopes `openid profile email offline_access`. The login works fine. When the token times out, the client tries to perform a silent refresh but after several attempts times out and logs the user off.

From the documenta

[2020-07-03 11:48] redbaron opened #1756 "Support workload identity in Google connector"
Workload identity accessing GoogleAPIs without having a static service account token. GKE metadata server available in each pod is used to fetch tokens.

Workload identity tokens work as a replacement for GSA token, they are not accepted by GSuite Admin API, because Admin API requires impersonalization for GSuite admin. Impersonalization IS possible with workload identity token, hence this proposa

[2020-07-03 23:11] notjames opened #1757 "SAML connector - nil pointer dereference exception"
I'm attempting to set up a SAML2 connector in a k8s cluster for one of our internal environments. While testing this saml setup, the following nil pointer exception happens on every request:

[code]

The following is our SAML connector config, which is not the only connector we use, but it's the one that's relevant for now:

[code]

When attempting to test the authentication, the following happens

[2020-07-04 10:40] dpaks opened #1758 "Accept just 'path' for SAML Connector Redirect URI"
Type: Suggestion
Dex: v2.24.0

In dex configuration, the redirectURIs section of static client can accept path. I give "/callback" as the value and it works.
However, the same is not allowed for the redirectURI of a connector. I understand that it has to match with what is given in the Consumer Endpoint of SAML IdP but can we not construct the URI?

Suppose I give /dex/callback as the redirectURI

[2020-07-06 04:41] kommulu commented on #1751
Do you maybe need more information to be able to say something about this problem?
If so, I will gladly give you more information.

[2020-07-07 12:26] tkleczek commented on #1707
Not sure why outstanding PR is not mentioned here: https://github.com/dexidp/dex/pull/1708

[2020-07-07 19:50] notjames commented on #1757
Doing some more digging into this, the ADFS is sending the following status:

[code]
We've tried setting up the ADFS for unspecified formatting for the nameid.

[2020-07-07 20:51] notjames commented on #1757
We might have solved one problem, but we're still getting the panic from DEX:

[code]

Even with this response, the DEX is panicing:

[code]

[2020-07-08 05:29] notjames commented on #1757
Seems like we finally got something going where the saml status was successful but the data returned was encrypted. The problem is that the response, even encrypted, throws a panic. Is the SAML connector like...beta?

[2020-07-09 09:54] vi7 commented on #1709
Hi folks, have you considered distribution of the Dex via `kustomize`? IMHO that can be an option too, kustomize has certain benefits over the helm chart
Just as an example - MetalLB follows that approach: https://metallb.universe.tf/installation/#installation-with-kustomize
I believe MetalLB "official" chart is mostly abandoned atm

[2020-07-09 10:30] sagikazarmark commented on #1709
I don't think the two aren't mutually exclusive, the question is whether we have bandwidth for both. Feel free to open a separate issue for Kustomize support.

[2020-07-09 14:50] tomqwpl opened #1759 "Question: How much does Dex store in Kubernetes CRDs and how often?"
I see that there is support for Dex using kubernetes CRDs for its storage requirements. I can see that setting it up us super simple.
What I'm not clear about is how much Dex stores there and how often.
If each authentication request causes something to be stored in a CRD, does that have the potential to overwhelm the kubernetes etcd servers? How long do those records stay there?

Are there any gu

[2020-07-09 21:47] tsraza opened #1760 "make "issuer" url independently configurable"
It seems that the only way to configure the _issuer_ is to hardcode it into a file along with all of the other configuration settings.  If using a kubernetes configmap, then it's not even possible to concatenate the single line specifying the issuer with all the other file settings. Only connector config entries allow '$' prefixed-variables.

Can there be a way to independently specify the issuer

[2020-07-10 08:12] justaugustus opened #1761 "Create a dex website"
We need a website.
Hugo + Netlify has been the suggested path from multiple people, including CNCF staff (thanks @celestehorgan), so let's proceed down that path.

I've created https://github.com/dexidp/website, which is templated from the https://github.com/cncf/hugo-netlify-starter template project, but it's not wired up properly yet.

[2020-07-10 09:55] malawskim commented on #1757
I've go very similar issue.

[2020-07-11 06:08] jenting commented on #1751
Does the dex server CA equals to kube-apiserver CA?

[2020-07-11 06:13] jenting commented on #1755
Have you provide the “idp-certificate-authority “ or “idp-certificate-authority-data” to the oido-client.js?

[2020-07-11 06:16] jenting commented on #1733
Could you please provide your dex version & dex configuration? Thanks.

[2020-07-11 12:54] JoelSpeed commented on #1740
I don't see any reason not to make them separate modules, would be easier for people to find at least. A second repo would be harder to get started with them right?

[2020-07-11 15:14] sagikazarmark commented on #1740
Yes, separate modules are easier to find and easier to keep updated, but separate repos are easier to clone and we can avoid the module hell in the main repo.

I'd start with separate module though (if it works). We can always move stuff to separate repo if necessary.

[2020-07-12 05:16] imrenagi commented on #1438
can i take this one?

[2020-07-13 04:25] kommulu commented on #1751
What is the default for that setting?
I did not set that, so I guess: yes.

[2020-07-13 06:21] bonifaido commented on #1740
I'm a fan of the "same repo, different module" approach too.

[2020-07-13 07:05] jenting commented on #1751
It depends on your deployment tool. You could check by openssl command.

[code]

[2020-07-13 12:22] kommulu commented on #1751
Those are not the same, no.
The API-server has it's cert from the etcd-ca.
Gangway is available via https over something like gangway.example.com, so the cert is for gangway.example com if that is what you meant.

[2020-07-13 12:45] jenting commented on #1751
Could you please show the full openssl output?

[2020-07-13 13:48] heidemn-faro commented on #1654
If anybody else is still looking for the old version of the script:

* Here it is: https://github.com/dexidp/dex/blob/bb2733fbdd4b4911eea52c90b8a92b392f7ca898/scripts/slapd.sh
* It was deleted in this commit: https://github.com/dexidp/dex/commit/26061f9558f3011bea53ef5a5bb02ac669d612e0

[2020-07-13 15:44] heidemn-faro commented on #1654
I've added the script again, and adapted it to run [OpenLDAP in Docker](https://hub.docker.com/r/osixia/openldap/).
https://github.com/dexidp/dex/pull/1762

[2020-07-14 09:58] kommulu commented on #1751
Yes I can.
Only had to redact a few things.
API-Server:
[code]

Gangway:
[code]

[2020-07-14 13:10] jenting commented on #1751
The kube-apiserver CA is "Issuer: CN=kubernetes", the gangway CA is "Issuer: C = US, O = DigiCert Inc, OU = www.digicert.com, CN = RapidSSL TLS RSA CA G1".

Could you please check your kube-apiserver configuration (should be in /etc/kubernetes/manifests/kube-apiserver.yaml), make sure it contains "oido-ca-file" configuration, and also the "oidc-ca-file" is points to the correct gangway CA which is

[2020-07-14 13:53] kommulu commented on #1751
Hi @jenting ,
I can confirm, that the ca-file is set correctly.
From earlier tests I know that the setup would not work in anyway if the ca-file would not be verifiable.
Also, every other user (including myself) does not have this problem.

[2020-07-14 14:43] jenting commented on #1751
I have no clue now 🤔

[2020-07-15 04:33] kommulu commented on #1751
Hm...thats unfortunate. But thanks a lot for tying to help :)

[2020-07-15 13:51] #1654 closed

[2020-07-15 20:19] aoldershaw opened #1763 "Make access tokens smaller"
Currently (as of #1473), the access token contains all of the claims user's claims. For users that are members of many groups, this results in really large access tokens, which can cause issues when sent as a cookie - see concourse/concourse#5851.

Prior to #1473, access tokens were random opaque strings. In order to keep supporting the `userinfo` endpoint, we would need a way to lookup the claims

[2020-07-16 07:54] #1740 closed

[2020-07-16 21:04] alee792 opened #1765 "Support ID Token Encryption/JWE"
Hi there, are there any plans to support encrypted ID tokens via JWE? I understand that it'd be a change of pace since it's introducing manual key management, which seems antithetical to the stance here: https://github.com/dexidp/dex/issues/1310#issuecomment-428131131

[2020-07-17 05:29] FeynmanZhou opened #1766 "Website is not available"
https://dexidp.io
![image](https://user-images.githubusercontent.com/40452856/87751856-93fcea80-c831-11ea-8f61-9ba490f4f075.png)

[2020-07-19 20:40] sagikazarmark commented on #1766
Thanks for reporting. It's still wip.

[2020-07-23 14:56] HEllRZA commented on #1532
I had the same issue with CORS on the /userinfo endpoint. As i understand CORS, the preflight on OPTIONS should not return 4xx at all, but a 200 with the correct CORS headers. Then the browser should check the CORS Headers.

Is this behavior considered more secure?

[2020-07-27 23:15] mxplusb commented on #1615
I'm fighting this right now, I can't seem to get it to work as expected.

[2020-07-28 00:52] brokenjacobs commented on #1615
That’s because it doesn’t work. The functionality is not implemented.

[2020-07-29 11:38] nmiculinic opened #1770 "Github connector doesn't provider group claims"
I'm trying to use github connector:

[code]

and I manage to successfully log in from my GitHub account, but there's no group claim in the IDToken. As I've read the docs, https://github.com/dexidp/dex/blob/master/Documentation/connectors/github.md , especially the:

[code]

part I expected group claims in the resulting IDToken. But to no avail. What am I doing wrong?

[2020-07-30 01:15] jarrettprosser commented on #1755
I believe oidc-client.js doesn't require “idp-certificate-authority “ or “idp-certificate-authority-data” values. There is no mention of those or similar parameters in the [documentation](https://github.com/IdentityModel/oidc-client-js/wiki).

[2020-07-30 10:01] cjbackman opened #1771 "OIDC connector: x509 certificate error for subdomain"
Hi,

I'm trying to integrate Dex with Keycloak using the OIDC connector. It fails however with the following error:

`
failed to initialize server: server: Failed to open connector keycloak: failed to open connector: failed to create connector keycloak: failed to get provider: Get https://keycloak.subdomain.domain.com/auth/realms/my-realm/.well-known/openid-configuration: x509: certificate is vali

[2020-08-04 12:58] kommulu commented on #1751
Updated to the latest version of dex, issue was fixed.

[2020-08-04 12:58] #1751 closed

[2020-08-05 20:41] mlopez-eb commented on #1065
hi @nabokihms & @dskatz . If I'm installing Concourse through Helm, where exactly would I edit this `getUserInfo: true`? I know this is for the dex configuration, but I don't see those options in the values.yaml for the Helm installation.

It's become a nuisance not being able to get a user's groups through OIDC or OAUTH =[

[2020-08-05 23:33] ram-coderr opened #1775 "How to setup debug on Local Setup?"
I'm new to Golang & Dex. I'm looking for guidance on Debuging Local Setup.
I started the Dex and the API responding. Looking guidance on how to start Dex on debug mode in my local machine?

Steps followed to start the dex:-

Method 1:
./bin/dex serve examples/config-dev.yaml

Method 2:
docker-compose build
docker-compose up

* Connector github.com & Storage: Postgres

Issue & Question:-
1) I made

[2020-08-07 22:37] sagikazarmark opened #1777 "Unify OIDC provider claim mapping"
There are 3 pending PRs adding support for overriding an official claim based on another existing claim in the token:

- #1634
- #1691
- #1776

Each provides a different configuration model and a different implementation. Ideally, they should follow the same pattern.

In the configuration, each introduces a new config key (following different naming conventions). I would either like to see a unifi

[2020-08-07 23:00] Lemmons commented on #1777
This seems quite reasonable, and I agree having a consistent way to override mappings makes sense.  Unfortunately it also represents a bit extra work compared to what any of us have proposed in our prs.

[2020-08-08 00:10] sagikazarmark commented on #1777
I imagine the first step could be adding the new config and deprecating any existing keys, then rewriting the existing PRs.

If someone is up for the task, feel free to take it. If not, I'll try to pick it up sometimes next week.

[2020-08-08 02:23] xtremerui commented on #1777
I totally agree to make the configuration into a section. Here at Concourse team we have also prioritized the work of moving from our own fork of Dex to upstream (which means get our PRs merged ASAP), we'd like to take this task if @Lemmons and @cyrilix don't mind.

I'd cherry pick the commits from overriding email key #1691 and groups claim key #1776  into #1634. Then I will update #1634 to follo

[2020-08-08 02:32] sagikazarmark commented on #1777
Sounds great!

[2020-08-08 03:12] Lemmons commented on #1777
thanks @xtremerui, that sounds good to me!

[2020-08-09 08:00] prashanthc opened #1778 "revocation_endpoint for tokens"
I use Dex for SPA which uses LDAP connector. I'm looking for a way to revoke the access_token once the application gets logged out. The nodejs library openid-client has an api which revokes the tokens, but it kind expects the revocation_endpoint which i do not see in the openid-configuration of dex.
https://github.com/panva/node-openid-client/blob/master/docs/README.md#clientrevoketoken-tokentypeh

[2020-08-11 11:49] LisaFournet8 opened #1779 "Login successful when wrong client secret used"
Hi,

I have a dex server (v2.24.0) using a google connector.
I set up a static client in my dex configuration, and I noticed that if my client tries to connect to dex with an incorrect password, dex will still query google and return a "login successful" in the logs, with the user info:

`time="2020-08-11T11:17:17Z" level=info msg="login successful: connector \"google\", username=\"XXXXXXX\", pref

[2020-08-12 04:33] jarrettprosser commented on #1755
I've looked into this more and realise now that I am requesting the response types `id_token token` and so will not get a refresh token, per the OAUth 2.0 spec. I'm unable to use the `code` flow because we are operating in security environments which require the `code` flow to implement PKCE, which I see is a [WIP](https://github.com/dexidp/dex/pull/1652).

I suspect the timeout behaviour I am see

[2020-08-12 04:33] #1755 closed

[2020-08-12 12:50] cyrilix commented on #1777
@xtremerui ok

[2020-08-19 16:41] tom-haines commented on #448
I have proposed a restricted wildcard solution in [PR 1783](https://github.com/dexidp/dex/pull/1783), with updates to documentation, tests etc.

It builds on [PR #1220](https://github.com/dexidp/dex/pull/1220) by @redbaron , but a less flexible / more restricted approach where a set of rules must be matched to enable a (restricted) regex options from an LRU cache.  The restrictions are similar to

[2020-08-20 17:11] stefansedich commented on #1084
+1 bump, this feature would be real useful to me right now, I want to have different GitHub connectors with team assertions and then specific apps use team specific connectors.

[2020-08-26 11:52] MeNsaaH opened #1785 "Kubernetes Client sent an HTTP request to an HTTPS server"
I keep getting this error
[code]
After setting up dex.

Kubernetes Server 1.18.0

[2020-08-26 13:16] #1785 closed

[2020-08-28 01:37] snuggie12 opened #1786 "Support secretEnv in oauth2client k8s CR"
This feature exists in static clients but it'd be nice if it worked for the `oauth2client` resource as well.

Alternatively using the `valueFrom.secretKeyRef` pattern would be just as useful.

[2020-08-28 10:35] #911 closed

[2020-08-28 11:28] ssharma2089 opened #1787 "While logging via ldap, returning blank group"
**Describe the bug**

Ldap and group is configured in respective configmap but while logging it's showing blank group in logs

T**o Reproduce**

1. Configure ldap in argocd-cm

connectors:
type: ldap
id: ldap
name: XXX.XXX.XXX
config:
host: XXX.XXX.XXX:389
insecureNoSSL: true
rootCA: /etc/dex/ldap.ca
bindDN: "CN=XXX,OU=XXX,DC=XXX,DC=XXX,DC=XXX"
bindPW: XXXXXX
usernamePrompt: SSO Username
userSearc

[2020-08-31 18:51] nabokihms opened #1788 "Add IP addresses of clients to log messages"
Sometimes it is helpful to see users' IP addresses in successful or failed authorization request log entries. This behavior can be achieved by using simple nginx in front of dex and looking into nginx logs, but it would be more convenient and simpler to see addresses in dex logs.

Maybe it's better to add this feature only for debug logging mode.
For example:
[code]

[2020-09-01 09:34] abdennour commented on #1248
any update ?

[2020-09-02 18:50] longwa commented on #787
This is a problem even in the simple case that you use different clients locally. For example, we have some people that use Lens with a Custom Config (it had some issues using OIDC with kube/config). Eventually either kubectl or Lens will request a new token and cause the other client to be locked out.

Being able to configure X number of active refresh tokens would be very helpful.

[2020-09-02 19:59] betermieux commented on #787
I have a similar use case:
1. Kubernetes Dashboard with oauth2-proxy
2. kubectl with oidc config
They are always invalidating the refresh tokens of the other one, making it really a pain to use.

+1 for configuring the amount of active refresh tokens

[2020-09-04 17:59] rbtr commented on #1777
@sagikazarmark I understand wanting to design the most flexible and complete feature possible, but it feels like you're bike-shedding instead of accepting any of the several valid implementations already proposed so that this feature is available to your users who need it sooner rather than later :)

e.g. I would like https://github.com/dexidp/dex/pull/1631, which has been largely ignored for the

[2020-09-04 18:03] sagikazarmark commented on #1777
@rbtr relax, an implementation has already been provided for this in #1634. It needs a few final touches, but other than that it's good to go.

Sadly, dex's API and configuration is already quite chaotic, and I'd much rather avoid adding to that chaos. Sorry, if it's not fast enough for you.

[2020-09-04 18:10] haarchri commented on #1777
did you guys have a timeline ? because we really love to see this feature as of mail claim in our oidc upstream ;)

[2020-09-04 18:14] rbtr commented on #1777
@sagikazarmark that's good to hear! Again, I understand the intention with making sure things are as good as they can be. But hopefully you can understand that watching legitimate solutions languish can be frustrating.
As an end-user, I would prefer to have a good solution to my specific problem, rather than the perfect solution to my class of problems. But as a developer, I'd rather make the gene

[2020-09-04 18:27] sagikazarmark commented on #1777
@rbtr I understand the frustration, we are doing everything we can, but sadly Dex was on a life-support lately. Gentle nudging always helps, especially when a PR is waiting for review because we can't always keep track of the status of every open PR, calling out maintainers for not merging a PR for 6 months...not really. :\

@haarchri @xtremerui was pretty responsive (and helpful) so far, so I'd i

[2020-09-07 19:58] blaggacao opened #1790 "Add SPIFFE api support"
SPIFFE is a CNCF incubating workload attestor that provisions / and rolls certificates over a unix socket API. They conveniently provide a go library [with examples](https://github.com/spiffe/go-spiffe/tree/master/v2/examples/spiffe-tls).

&rarr; https://spiffe.io/

[2020-09-07 20:24] blaggacao commented on #1635
related &rarr; #1790

[2020-09-08 17:20] sagikazarmark commented on #1777
Fixed in #1634

[2020-09-08 17:20] #1777 closed

[2020-09-08 17:21] sagikazarmark commented on #1777
I'm gonna tag a new release tomorrow.

[2020-09-09 03:32] xyslion opened #1792 "Config different clients with different idToken‘s expiration expiry"
Can we set different clients with different expiry like oauth2?

[2020-09-11 12:35] tkleczek opened #1796 "Dex error-handling is not RFC-compliant"
According to RFC (https://tools.ietf.org/html/rfc6749#section-4.1.2.1) most errors from Authorization Code Grant part of the authentication flow should be reported back to the client via HTTP redirect with additional query parameters set, e.g:

[code]

Instead, most error paths in Server's methods handleAuthorization, handleConnectorLogin, handleConnectorCallback and handleApproval (which all hand

[2020-09-14 05:43] lentzi90 commented on #1065
https://github.com/dexidp/dex/pull/1634
Does this mean we can close this? The readme also says that the OIDC connector supports group claims now.

[2020-09-14 10:34] vinayus opened #1798 "dex response url stripping query params"
i have a weird issue. i use oauth2_proxy and dex for sake of my SSO.
i'm trying to hit this url: **https://app.172.16.21.149.nip.io:32443/rest/ui/bulk/compliance/report/download?name=report5**
which should ideally download a report of that name based on session or goto login screen if session is missing.
when session is fine, it works fine.

but when session is new, somehow the query params are sk

[2020-09-15 06:22] #1614 closed

[2020-09-15 12:42] vishal-swarankar-sdl opened #1799 "Sample code for Amazon STS integration"
Hi,
I was looking for a sample code that integrates with amazon sts to get a temporary token from it. I want to use dex with an on-prem SAML 2.0 IDP which will send me few attributes for a user and based on those attributes I want to make a call to STS and get a temporary token to use AWS resources.
A sample code around this will be helpful to start with.

[2020-09-16 15:49] #1707 closed

[2020-09-21 09:34] #1787 closed

[2020-09-22 01:04] glensc commented on #981
Where does `kubectl` store the refresh tokens?

As a workaround, I've set up https://syncthing.net/ to sync `~/.kube/config` between clients that reuse the same login token, but still get the refresh token conflict.

[2020-09-22 12:32] HEllRZA commented on #1703
Unregistered redirect_uri means exactly that: you are trying to usa a redirect_uri, which you did not register for the used client
[code]

is missing the redirectURI you want to use: `http://10.120.2.2:8001/callback`

try this:
[code]

I guess `seliius28457.se` resolves to `10.120.2.2` on your pc; however, the redirect URI is checked by string comparison, so it has to match exactly.

[2020-09-22 12:56] HEllRZA commented on #1779
The `client_secret` is only used on the token endpoint as defined in [RFC 6749](https://tools.ietf.org/html/rfc6749#section-11.2.2). Probably, because the user could fetch the secret when it would be used on the auth endpoint.

However, there could be a log when a wrong client_secret was used.

[2020-09-23 19:37] celestehorgan commented on #1761
/assign @hackabletype

[2020-09-23 19:38] celestehorgan commented on #1761
Welp. That didn't work. @justaugustus, @hackabletype is gonna take this on, please unassign yourself and assign him!

[2020-09-23 19:38] hackabletype commented on #1761
Hello @justaugustus, I've just been brought on at the CNCF and would like to work on this.

[2020-09-23 19:41] hackabletype commented on #1761
I see there is a lot of documentation already written in https://github.com/dexidp/dex#documentation, and I was thinking as a first step that I'd migrate it over to the https://github.com/dexidp/website repo, then start wiring the Netlify stuff.

Is this Documentation up to date? Does it need revision before it's brought out of the main repo and put into the website one?

[2020-09-23 19:55] JoelSpeed commented on #1761
Would it be an issue to update it once it's migrated? I don't think it being out of date needs to be a blocker for your work (if it is even out of date)

[2020-09-23 20:16] sagikazarmark commented on #1761
Thanks a lot for helping out @hackabletype

The documentation is mostly up-to-date, but I think it might make sense to find a better structure for it. Right now everything is under a single "group", but having a more organized structure (let's say for connectors, use cases, how-tos) would be nice.

But I'm not sure if we can or should do it now. Instead, I would start with a single landing page an

[2020-09-23 21:03] hackabletype commented on #1761
@JoelSpeed, you're right, once it's in the other location it shouldn't be a problem to update it there, would just need to let people know of the migration when it happens so they know where things are.

[2020-09-23 21:03] hackabletype commented on #1761
@sagikazarmark, you're welcome, I'm happy to do it! I think that we should probably do the move, then restructure it and organize it there. Once everything is migrated, we can create issues and a project board on that repo to keep things organized. I think moving it in a chunk would probably be easier because it's all interlinked (but contained in one folder).

[2020-09-23 22:01] sagikazarmark commented on #1761
Sounds good to me!

[2020-09-23 22:09] hackabletype commented on #1761
I think a lot of the progress of this issue will be shown in the [dexidp/website](https://github.com/dexidp/website) repo's [issues page](https://github.com/dexidp/website/issues).

[2020-09-24 09:52] JoelSpeed commented on #1761
I support moving it in one go, will be easier to get a clean cutover. We can leave a readme in the old docs location that points to where the new ones will be while we are setting them up and reorganising so people can still find them

Thanks for volunteering btw! Looking forward to seeing what you come up with 😄

[2020-09-24 18:47] commixon commented on #1754
I would be willing to work on this. This is something that I would really like to have as a feature as well. Both for federated clusters as well as for programmatic configuration for different situations (e.g. short lived test-beds etc).

However, before committing to that, is there support for that? Are there any hard blockers/concerns that anybody has (i.e. security concerns etc)?

[2020-09-24 18:56] sagikazarmark commented on #1754
For clients, we already have an API: https://github.com/dexidp/dex/blob/master/api/api.proto#L163-L168

Not sure if that's what you are after.

For connectors, there is an outstanding PR: #1489

Sadly, this is not as trivial as one might think and the API is not in the center of our efforts at the moment. That's why these PRs are stalled.

[2020-09-25 08:11] al45tair commented on #1697
Rather than storing a mapping of the ID token to the issuing provider, why not put the issuing provider into the ID token as a custom claim? That way there's no extra storage requirement.

[2020-09-27 21:15] sagikazarmark commented on #1099
Personally, I'm not a huge fan of the `xyzFromEnv` style config. It complicates the config file itself, complicates config loading a LOT, makes it harder to test, etc.

I'd probably prefer some sort of config templating solution. For example, adding [dockerize](https://github.com/jwilder/dockerize) to the docker image would allow users to evaluate a config template and fill in certain values from

[2020-09-28 10:58] UmangGupta0409 commented on #1798
Facing same issue, let me know once u find anything conclusive

[2020-09-28 12:40] lcami opened #1807 "Multiple namingContexts in OpenLDAP"
I would like to query for users where an OpenLDAP server has multiple namingContexts where an ldapsearch for -b "" -s base -L -W -x '(objectclass=*)' namingContexts would return multiple namingContexts as shown below:

#
# LDAPv3
# base <> with scope baseObject
# filter: (objectclass=*)
# requesting: namingContexts
#

#
dn:
namingContexts:
namingContexts: dc=abc,dc=com
namingContexts: dc=def,dc=co

[2020-09-28 18:06] tkleczek commented on #1792
It's not possible as of dex version 2.25, there is only a global expiry config:
[code]

[2020-09-29 13:38] vinayus commented on #1798
Turns out its a bug in oauth2_proxy and not dex.
https://github.com/oauth2-proxy/oauth2-proxy/issues/695

Updating the image in oauth2_proxy fixed the issue for me.

[2020-09-29 13:38] #1798 closed

[2020-09-29 16:44] sagikazarmark commented on #1790
@blaggacao can you elaborate what you had in mind? Did you mean using SPIFFE as a connector? Or for authenticating clients? Or for the gRPC API authentication?

[2020-09-29 17:03] tkleczek commented on #1778
Yes, dex does not support token revocation endpoint. The only way to revoke a refresh token is via grpc API

[2020-09-29 17:15] blaggacao commented on #1790
Oh sorry. Reading it again I agree it is hilarioulsy barren in context.

The most interesting part would be to authenticate dex as a workload before backends.
 It also would be interesting to authenticate workloads before the gRPC API.

With this mTLS and eventually SASL/EXTERNAL can be very easily realized in deployments.

I don't think clients would authenticate leveraginh spiffe in ways that ar

[2020-09-29 17:17] tkleczek commented on #1759
For each started authentication (i.e. user visiting initial "Choose connector" page) an AuthRequest object is created in storage. Their expiry is configurable via config, default: 24h.
Then upon successful user login an AuthCode object is created. It's expiry is 30 mins.
Other objects that are created are OfflineSessions and RefreshTokens. They are long lived (in fact they never expire unless revo

[2020-09-29 17:26] sagikazarmark commented on #1790
Yeah, that's what I figured as well. 🙂

Two thoughts:
- should Dex directly integrate SPIFFE or use some sort of proxy in front of it? (this seems like an accepted pattern, especially around microservices/service meshes)
- is there an easy way to integrate SPIFFE without introducing a massive maintenance/configuration burden on maintainers/users? Obviously, it could be optional, but if it's a lot

[2020-09-29 17:44] tomqwpl commented on #1759
OK, thanks. Very helpful in terms of understanding the implications of using kubernetes storage.

[2020-09-29 17:44] #1759 closed

[2020-09-29 17:50] blaggacao commented on #1790
I think given the provided go libraries, a direct integration is much easier. Think of it as an enhanced mTLS library that hooks into at the transport level and takes completely care of it.

The only thing to look would be if spiffe's library can be arranged to gracefully fall back to bare mTLS with regular certificates at least as for incoming connections.

[2020-09-29 17:55] sagikazarmark commented on #1790
Cool! I think it'd be a great addition to Dex. I'll play around with SPIFFE when I get the time, but PRs are welcome as well.

[2020-09-30 08:15] al45tair commented on #1080
Simple group support would be very useful for testing. We'd like to be able to use Dex as a component of a system that gets testing in a CI pipeline, and in which groups are important. We can't use the mock connector (as it stands) because it has one user in one group, which isn't sufficient for our test cases. We *could* use the static username/password support, *if* it also had groups, which it

[2020-09-30 13:12] squat commented on #926
This is now solved thanks to https://github.com/dexidp/dex/pull/1621. We can close this issue IMO

[2020-09-30 13:12] squat commented on #1668
Support for the password grant flow was added in https://github.com/dexidp/dex/pull/1621.

[2020-10-01 07:18] ofirshtrull opened #1808 "Argocd: response did not contain a AttributeStatement from dex server and debug not working"
Hi, I use ArgoCD and I want to connect it to my companies Okta SSO via dex

I have two problems

1. I cannot get Debug to work
2. for some reason I am getting the next error from my dad server
[code]
from what I see I am using uay.io/dexidp/dex:v2.22.0

bellow is the argocd-cm with the connectors configurations
[code]

And this is the main servers log argocd-server:
[code]

[2020-10-01 08:05] tomqwpl commented on #926
Although Dex itself now supports password grants, it only does so to the LDAP connector I believe.
My guess is that there are further potential PRs for supporting password grants on, e.g, the microsoft connector. I believe that microsoft authentication server supports password grants, so I'm assuming that this is theoretically possible.

[2020-10-01 08:32] merlindorin commented on #1635
+1 for this kind of pattern.

Maybe there is something  to do/learn from ory oathkeeper: https://www.ory.sh/oathkeeper/docs/pipeline/mutator

(by the way... this kind of feature is awesome and we dream about it @renault :) : https://www.ory.sh/oathkeeper/docs/pipeline/mutator#hydrator)

[2020-10-01 08:59] ofirshtrull commented on #1808
and the last thing, I have opened a ticket in argocd project and they suggested me to ask here
https://github.com/argoproj/argo-cd/issues/4460

[2020-10-01 10:42] karimhm commented on #262
+1

[2020-10-01 12:55] ofirshtrull commented on #1808
Thanks but in the end it was a configuration problem in Okta,
That's what happens when the DevOps doesn't have full control :-(

Fyi I still cannot get Debug to work but it's not relevant to my problem

[2020-10-01 12:55] #1808 closed

[2020-10-01 18:39] hackabletype commented on #1761
PR for the first part of the migration over on the dexidp/website repo: https://github.com/dexidp/website/pull/8

[2020-10-01 22:58] hackabletype commented on #1761
PR for the removal part of this migration: https://github.com/dexidp/dex/pull/1809

[2020-10-02 10:21] tomqwpl commented on #1080
I was also wondering about being able to add arbitrary extra claims.
I was wondering about the concept of being having an arbitrary interceptor (interceptors) that you could configure. My guess was somewhere like finalizeLogin. There could be a chain of interceptors that the claims were passed to. This could be a hook for local groups. But also, if you implemented an interceptor that made an HTTP

[2020-10-02 11:23] piroux opened #1811 "Depreciation of BitbucketCloud teams and users endpoints"
## Problem Summary
The `/2.0/users` and `/2.0/teams` endpoints are being deprecated but not the `/2.0/user`, so there is a probability that the current BitbucketCloud connector won't be working anymore from October 14th. Note that I don't know enough of the internal logic of the connector and dex, so maybe with only `/2.0/user`, the login might still work, but not sure.

https://developer.atlassia

[2020-10-02 12:28] sagikazarmark commented on #1811
Maybe @nabokihms could take a look at this?

[2020-10-02 12:38] nabokihms commented on #1811
@sagikazarmark yeah, I will take a look.

[2020-10-02 13:57] sagikazarmark commented on #1811
Awesome! Thanks!

How does this affect your other PR (#1688)?

[2020-10-02 14:30] nabokihms commented on #1811
In #1688 I use legacy API, but I will research if it is already possible to use other endpoints to get team groups.

[2020-10-02 15:28] tkleczek commented on #1775
Try the following configuration in your launch.json file:

[code]

[2020-10-02 22:53] sagikazarmark commented on #1775
In addition to the above snippet, there is a quite extensive documentation in the extension repo on how to use VS Code for debugging:

https://github.com/golang/vscode-go/blob/master/docs/debugging.md

[2020-10-02 22:53] #1775 closed

[2020-10-03 09:38] nabokihms commented on #1811
1. Atlassian suggests to use `/workspaces` endpoint instead of a `/teams`, but we can't get whether a workspace is a team or not. Thus we can't use this approach.

2. Endpoint `/user/permissions/teams` looks good, and you only need `Read` account permissions to access it. After switching to a new endpoint, we will be able to remove note about giving `Read Team membership` access rights (`team` sco

[2020-10-04 04:51] tomqwpl opened #1813 "Password grant flow doesn't log errors from Login method"
Standard flow:

		identity, ok, err := passwordConnector.Login(r.Context(), scopes, username, password)
		if err != nil {
			s.logger.Errorf("Failed to login user: %v", err)

Password flow:

	identity, ok, err := passwordConnector.Login(r.Context(), parseScopes(scopes), username, password)
	if err != nil {
		s.tokenErrHelper(w, errInvalidRequest, "Could not login user", http.StatusBadRequest)

[2020-10-04 12:27] #1811 closed

[2020-10-04 13:19] sagikazarmark opened #1816 "Push images to ghcr.io"

[2020-10-05 07:53] Raboo opened #1817 "Multiple `host` for LDAP connector"
Hi,

I have a feature wish for multiple hosts in the LDAP connector.
Today it seems that the LDAP connector can only connect to one LDAP server. I would like dex to support a HA LDAP setup.

[2020-10-05 10:17] david-curran-90 opened #1818 "Invalid client credentials"
I've been moving endpoints from "app.domain.lan" to "k8s.domain.lan/app" type URLs and I'm now getting an error when logging in through gangway

[code]

I can see in the dex logs that the login is successful.

The only changes in config from what was working to what isn't are the URLs. Client secret and session key have stayed the same.

It seems to me the error is coming from `deviceflowhandlers.

[2020-10-05 13:12] al45tair commented on #1532
This still needs fixing, and it's now October 2020. @HEllRZA has a fix in his PKCE implementation, but has said he'll remove it as it isn't related to PKCE. So, @HEllRZA, are you going to submit it as a separate PR? If not, please let me know and I'll raise one myself. It needs fixing for what I'm working on, and I don't want to have to maintain a Dex branch forever just for this.

[2020-10-05 13:18] sagikazarmark commented on #1532
I'm wondering if it would make sense to add this header to the userinfo request only. But I guess it's fine to add to the "global" middleware and iterate if necessary.

I will gladly accept a PR, I only raised the question in the PKCE PR whether it was related to that change. A separate PR would probably be better.

[2020-10-05 14:03] al45tair commented on #1532
@sagikazarmark @HEllRZA OK, well as it's a tiny change and I need it, I've submitted a PR. I couldn't find anywhere a statement about what you want your commit messages to look like, so I've guessed.

[2020-10-05 14:50] al45tair opened #1820 ""web" directory copied incorrectly in Dockerfile"
The Dockerfile was changed from

    COPY web /web

To

    COPY web .

Unfortunately, the latter copies *the contents* of the directory "web" to the current directory. i.e. the final Docker image ends up looking like this:

    / $ ls
    bin        home       mnt        root       srv        templates  usr
    dev        lib        opt        run        static     themes     var
    etc        m

[2020-10-05 21:05] tkleczek commented on #1532
@sagikazarmark /token endpoint also allows for HTTP Basic Auth, so Authorization header should be allowed there as well.

[2020-10-05 21:24] jaym opened #1823 "SAML verifyResponseSig dereferences nil pointer"
The code
[code]
seems to leave assertion nil when when an element is not found instead of returning an error, causing a panic when it is later used

[2020-10-06 07:13] tomqwpl opened #1824 "Have a way of controlling cache control headers on keys response"
For development purposes, we're running dex in kubernetes with the default sqlite database stored in a local volume. So restart the pod, for example because you want to change the configuration, and the keys are changed.
The browser caches the keys based on the cache control headers Dex adds to the response form the keys endpoint.
The result is that when you restart Dex, authentications then start

[2020-10-06 08:28] al45tair opened #1825 "Dex database migration guidance"
There should be some documentation about the database migrations Dex is likely to attempt.

More specifically, we'd like to be able to do a rolling upgrade of Dex (at least potentially), and/or we'd like to know somehow which versions we can't do that with, so that we minimise the time during which our system can't authenticate users.

If there was a guarantee that Dex would only perform migration

[2020-10-06 12:34] sagikazarmark commented on #1825
You are absolutely right! This debt is long overdue. I'd even say operators should have a way to disable automatic migrations, so they have full control over when happens what.

In order to do that, first we need to think about rewriting the SQL layer.

As you can see, migrations at the moment are just SQL queries embedded into Dex: https://github.com/dexidp/dex/blob/a28f5bb218a3186ca55465c4f35572

[2020-10-06 12:35] #1532 closed

[2020-10-06 12:52] cydonknight opened #1826 "Need to expose JWT signing keys for automation"
Hello!

I am currently working on a Dex implementation and for cicd/automation purposes need to be able to generate my own JWT either via Dex or using the Dex signing key. Is there a way to instruct Dex to provide a JWT with a given set of inputs, independent of any provider/connector/login action?

I've gone as far as attempting to parse the signing keys via a connected postgres backend (to creat

[2020-10-07 02:32] imranismail opened #1827 "Parent team group"
Update github connector to allow pulling parent team information as groups that a user belongs to.

[2020-10-07 13:29] jtnord commented on #1080
just leaving a note that for PoC testing I have used https://github.com/rroemhild/docker-test-openldap in the past (not with dex but with other systems) I do not see an obvious reason it should not work with dex.

[2020-10-07 17:05] iavael commented on #1080
@jtnord just saying, but you'd better adjust "nofile" rlimit in your image to prevent memory leak. Openldap has some strange magic, which makes it eat a lot of memory and work slowly if aforementioned rlimit is very high (like the value that docker sets by default).

[2020-10-07 17:20] zicklag commented on #1080
:+1: I had to do `ulimit -n 1024` or it could use a **lot** of memory.

[2020-10-09 13:35] al45tair opened #1831 "Generic database connector"
Many of us have an existing database containing users (and groups) and would like to be able to plug Dex into it. There should be a connector that allows for this, perhaps allowing for customisable SQL queries (rather like the way the LDAP connector allows for custom LDAP queries).

[2020-10-09 13:39] sagikazarmark commented on #1831
Rewriting the SQL layer is high on our priority list. We are looking at https://github.com/facebook/ent

I'm not sure how generic we can be. Supporting customizable queries is certainly a deep rabbit hole that we don't necessarily want to go down into. Supporting more storage drivers is an option, but adds an extra maintenance burden.

Postgres, Mysql, sqlite, etcd are probably generic enough, so

[2020-10-09 15:04] al45tair commented on #1831
I've actually got a PR I'm working on for this.

[2020-10-09 16:07] al45tair commented on #1635
We're going to want something like this too. If anyone has any suggestions about what designs they might prefer, I might have some time to work on this.

[2020-10-10 19:53] kernel164 opened #1834 "cognito oidc userinfo error"
I tried to configure dex with cognito

[code]

Got this.
[code]

[2020-10-10 19:55] kernel164 commented on #1834
exactly similar to this => https://github.com/pomerium/pomerium/issues/775

[2020-10-11 09:31] kernel164 commented on #1834
If I remove "getUserInfo: true", I get **Internal Server Error Failed to authenticate: missing "name" claim**

[2020-10-11 15:24] kernel164 commented on #1834
made it work using the following setting.

[code]

getUserInfo: true if enabled, fails though.

[2020-10-12 08:46] aep commented on #1665
that seems confusing because https://github.com/ory/hydra redirects to dex as an example of a complete idp.

[2020-10-16 06:55] KairaMiu commented on #1182
What is the status of this issue?
Is there currently a possibility to create custom claims or are you planning to implement this feature?

I would need this feature as minIO needs custom claim "policy" (possible values: "writeonly", "readonly", "readwrite").

[2020-10-16 12:51] al45tair commented on #1635
OK, so my assumption here is that the middleware layer will be passed the identity returned by a successful invocation of a Connector, and will return an (Identity, error) pair. Additionally, multiple middleware components can be stacked, in which case the identity output of one will be passed into the identity input of the next in the stack.

In addition, it looks like the Identity struct will ne

[2020-10-16 14:30] merlindorin commented on #1635
yes, I'm fully agree with that.

As a use case : we operate an homemade extensions on Keycloak 😔 in order to retrieve custom claims in order to enrich the user identity. This extension is a simple http call. I easily imagine a Dex "connector" that can do the same.

This kind of feature is for us very precious.

[2020-10-16 17:53] harshavardhana commented on #1182
FWIW - You can configure custom claims @KairaMiu

[2020-10-17 16:45] candlerb commented on #1182
Not all IDPs let you choose the names of your groups though.  For example, using Azure AD as your IDP, I believe all the groups are UUIDs.  Maybe you can rename your STS policies with those UIUD names, but it's not ideal.

In general, I see a tension between IDPs and applications:

* Some IDP providers only provide specific standard claims.  They expect that the application will do all authorizati

[2020-10-17 20:50] sagikazarmark commented on #1182
I think Dex could probably help with this, #1635 could possibly provide an opportunity to alter claims, but I'm also concerned this is an infinitely deep rabbit hole we might not want to go down to. I wouldn't want to clutter Dex with application specific logic. As long as we can keep the core clean and provide extension points, I'm all in.

[2020-10-18 08:42] janwillies commented on #1635
It would be very interesting to issue an HTTP request from dex and let OPA do the authorization for which claims to include, maybe even handover additional infos like HTTP request headers

[2020-10-18 10:37] candlerb commented on #1182
I think that makes sense, although I'd also like to see *either*
1. Extension of the existing [storage](https://github.com/dexidp/website/blob/main/content/docs/storage.md) engine and [API](https://github.com/dexidp/website/blob/main/content/docs/api.md) to support applying claims to users and groups
 (including additional [group memberships](https://github.com/dexidp/dex/issues/1080)); *or*
2. Se

[2020-10-18 16:50] sagikazarmark opened #1838 "Add dockerize to the docker image"
Adding dockerize will allow users to use environment variables in config files.

[2020-10-19 08:34] srenatus commented on #1635
💭 Just sharing a thought here: It could end up nicely if Dex embedded OPA, exposing an interface similar to [what gatekeeper does](https://github.com/open-policy-agent/gatekeeper#how-to-use-gatekeeper).

A sketchy adaptation of that model to Dex would look like this:

1. There's _contraints_, like

[code]

2. and there's _constraint templates_, like

[code]

The most common constraint templates wo

[2020-10-19 11:03] sagikazarmark commented on #1635
That sounds really interesting.

As far as I can tell, this is mostly useful for policy enforcement. As you also pointed out, it could alter groups and other claims, but I wonder if we should take a more generic approach and make OPA/rego an implementation detail providing policy enforcement.

[2020-10-19 11:37] srenatus commented on #1635
@sagikazarmark Yeah it would also make for a decent middleware piece, sure. 😃

[2020-10-20 10:28] nabokihms commented on #1148
Fixed by https://github.com/dexidp/dex/pull/1835

[2020-10-21 16:01] nabokihms commented on #787
It is possible to use kubectl and dashboard together without increasing the refresh tokens amount. Dex allows only one session for one pair of user - static client. Use different users' credentials for kubectl and dashboards is insane, thus we will use different static clients.

Kubernetes documentation tells us, that to authenticate through OIDC we need to provide value for the `--oidc-client-id`

[2020-10-22 03:03] arnoldas500 opened #1840 "dex github login error"
trying to add github login for kubeflow using dex. I can see the github login option but the moment I click it I get a "Internal Server Error
Login error."

Does not bring me to a github login page nor show any other messages. Have tried on different browsers too with same error.

[2020-10-22 08:15] betermieux commented on #787
@nabokihms Thats it! A concise solution which works with the existing codebase. I have just tried it and I can report a success. Finally I can issue tokens which don't have to be valid for a year ;-)

Unfortunately, it will not solve the original post's scenario, but consider @longwa and my questions answered.

[2020-10-22 09:28] nabokihms commented on #787
Definitely. There are three ways to solve concurrent request problems I thought about:
* Use a lock on the client-side to make only one refresh request (like using Redis storage for oauth2-proxy, it locks your request because of its single-threaded nature).
* Use a lock on the storage side and respond with the same refresh token to all concurrent requests
* Do not update refresh tokens on every re

[2020-10-22 23:09] rbreeze opened #1842 "GitHub connector does not send groups scope unless user is part of a team in organization"
Even with `loadAllGroups` set to `true`, dex sent `groups=[]` for a user in my organization. This organization had no teams, but once I added a team to the organization and assigned the user in question to that team, a group was sent (i.e. `groups=['myorg:myteam']`).

I expected dex to send `groups=['myorg']` for users not part of a team. This may not be intended behavior, but if it isn't I think

[2020-10-26 10:33] #1114 closed

[2020-10-26 18:36] al45tair opened #1844 "Linter doesn't like the PKCE code in handlers.go"
I'm seeing this:

[code]

[2020-10-26 19:23] nabokihms commented on #1844
Will fix it because I'm the latest who changes lint rules.

[2020-10-26 20:37] #1844 closed

[2020-10-28 07:56] nabokihms opened #1848 "Switch to Kubernetes client-go library"
Dex can earn some of the benefits from it:
* There a lot of already features in client go like canceling requests, retrying requests, static typing errors, API QPS settings, etc.
* Many people already familiar with go client, switching to client-go will make the contribution process easier for them
* Kubernetes community uses client-go a lot, which means this library is well tested

[2020-10-30 08:44] lukasmrtvy commented on #1838
@sagikazarmark  would it not be better to use https://github.com/hairyhenderson/gomplate instead ?

[2020-10-30 09:20] sagikazarmark commented on #1838
I don't think it matters much. Dockerize is an established tool for this exact purpose.

[2020-10-30 15:42] tomqwpl opened #1849 ""select another login method" link causes database error"
If you select a login method that requires the password entry dialog to be displayed, there's a link at the bottom "select another login method". If you click on this, then select a different login method you get an error screen with "database error".
In the Dex log there is "connector is already set for this auth request".
So it looks like Dex doesn't actually support changing to a different logi

[2020-10-30 23:38] nate-double-u commented on #1761
@justaugustus @sagikazarmark this issue may be finished now with https://dexidp.io up :)

[2020-10-30 23:39] nate-double-u commented on #1766
It's up now :)

[2020-10-31 11:46] #1766 closed

[2020-10-31 11:46] sagikazarmark commented on #1761
Yes, thanks a lot!

[2020-10-31 11:46] #1761 closed

[2020-10-31 14:55] lukasmrtvy opened #1850 "(question): Pomerium->Dex->Auth0 groups ?"
I need little help with integrating Pomerium->Dex->Auth0 with groups support.

Dex config:
[code]

Auth0 rule snippet:
[code]

Pomerium config:
[code]

Latest `pomerium/pomerium:master` image implements allowed_idp_claims (https://github.com/pomerium/pomerium/pull/1542)

But seems that group, nor preferred_username values are not claimed. Any idea why ?

[2020-10-31 17:10] nabokihms commented on #1850
The problem with groups is, at first glance, that to get them from a provider you need to enable [`insecureEnableGroups`](https://dexidp.io/docs/connectors/oidc/#configuration) option in Dex (even using claimMapping).

Could you please provide dex logs during authentication? I feel like I am able to help you.

[2020-10-31 18:07] lukasmrtvy commented on #1850
@nabokihms thanks.

Here is log from dex ( including `insecureEnableGroups` ):
[code]

[2020-10-31 22:11] nabokihms commented on #1850
Looks strange. On my test stand, using provided dex settings for auth0 provider, logs look like:
[code]

The only difference I made was in the auth0 rule.
[code]
It leaves us two possible reasons:
1. Please make sure you are using the latest dex version (I tested it with official docker image `quay.io/dexidp/dex:v2.25.0`).
2. It might be something with the `auth0` configuration (rules, settings, e

[2020-11-01 01:37] ArchiFleKs commented on #927
I have the same issue with github connector

[2020-11-01 07:38] tomqwpl opened #1851 ""select another login method" doesn't work after a failed login"
The "select another login method" link is simply implemented using "back". Hence, if you had a failed login, "back" doesn't take you back to the connection selection page, it takes you to the password login page again. The "select another login method" link needs to do an explicit navigate to a known location, or else it needs to be disabled after a failed login.

[2020-11-01 10:12] lukasmrtvy commented on #1850
Sorry, my mistake 🤦‍♂️ , dex helm chart 2.15.0 does not use latest version of dex image 2.25.0, where is support in oidc connector
 ( https://github.com/dexidp/dex/pull/1634 ) included.
It is working ok with 2.25.0 .
Thanks !

[2020-11-01 16:24] ArchiFleKs commented on #1840
I have the same issue with github and dex v2.15.0. I have try every possible callback URL to no avail

[code]

I keep getting :
[code]

[2020-11-02 12:17] nbublikov commented on #1089
I also looked at this script, I don't see any mention of OAuth.2.0, hmmm
https://github.com/DefectDojo/django-DefectDojo/blob/9e850dc26fcbed7b33669d8dcb9c5ef843e6271d/dojo/jira_link/views.py#L79

I do not understand the reason for the error

[2020-11-03 14:24] #1824 closed

[2020-11-03 22:55] bernadinm opened #1854 "issues with invalid UTF format for dex UI"
Currently there is a bug when trying to get kubeconfig access. When pulling kubeconfig the client-secret displays `&#43` instead of `+`

[code]

This is what it looks like when generating the kubeconfig.

[code]

[2020-11-04 14:41] mvdkleijn commented on #352
DexIDP is a wonderfully light but flexible solution for centralized login and (as far as I'm concerned) a good place to do centralized MFA.

Allowing for a kind of generalized "middleware" plugin that allows a user to insert functionality (like MFA) before or after authenticating with a connector would be very nice.

Having is centralize (at least optionally) would allow for users to write light-w

[2020-11-05 00:13] mrandall-wish opened #1855 "Add openid scope to request for Microsoft Azure connector"
We have a Conditional Access policy set up in Azure with a custom control for Duo MFA but it is not being applied to Dex authentications because the request is missing the openid scope.

Per Microsoft, the openid scope needs to be added to apply MFA at the application level rather than the resource level (Microsoft Graph).

Is there a way to add this scope to the request?

scopes currently returne

[2020-11-05 14:54] sagikazarmark commented on #1816
Fixed in #1856

[2020-11-05 14:54] #1816 closed

[2020-11-07 22:01] heidemn opened #1857 ""go get" installs outdated Dex v2.13.0 and refuses to install latest v2.26.0"
**Expected behavior (what you expected to happen)**:
I understand that Dex v2.26.0 is the latest release. There also exists a Git tag with that exact name.
-> Expected: `go get` installs latest Dex version v2.26.0.
Also expected: One can choose the version to install using `go get github.com/dexidp/dex@<VERSION>`

Usage of `go get` is also suggested here: https://github.com/dexidp/website/blob/mai

[2020-11-07 23:11] sagikazarmark commented on #1710
This has been addressed in the PR. There is also a separate API package which is the only reasonable (and supported) explanation for why someone would want to import Dex.

See https://github.com/dexidp/dex/releases/tag/api%2Fv2.0.0

[2020-11-07 23:11] #1710 closed

[2020-11-07 23:17] nabokihms commented on #1857
Hello! This is how go modules works. Dex 2.13 is the latest version that didn't use them.
However, downloading Dex via `go get` by commit hash should work for you. To get Dex 2.26.0:
[code]
This is the best way if you want to use Dex as a library.

Another way (if you want just to download the repo) is to run `go get` outside of the directory, which contains the go.mod file. It then will download

[2020-11-07 23:17] sagikazarmark commented on #1857
This was reported before: #1710

Unfortunately (or not?) this is not something we can address in the v2 release branch, simply because of how Go modules work. (It would require us to add a `/v2` suffix to the module name, but it would actually require a new major version at this point).

Additionally, this is not something that we really want to address in the near future. We don't support importi

[2020-11-07 23:18] #1857 closed

[2020-11-08 20:25] heidemn commented on #1857
Hi, thanks for your explanations.
It makes sense that this doesn't have priority for a project that is primarily an application, not a library.

Our use case was not really to use Dex as a Go library, but instead to keep track in our bill of material that we're using Dex (as an application) in a particular version.
Our software inventory tool supports Go. So checking in a `go.mod` file referencing

[2020-11-09 18:32] muthurajr opened #1860 "Google Auth - Override Issuer Value during Auth request"
I'm installing dex(2.22.0) as part of Kubeflow installation and exposed it on a public domain (mlapps.example.com). When connecting with any SAML connectors, it provides an option to override issuer URL for AuthnRequest purpose (entityIssuer). https://dexidp.io/docs/connectors/saml/

When Google connector (https://dexidp.io/docs/connectors/google/) is used, is there any approach to override just f

[2020-11-13 14:43] al45tair commented on #1849
This is a symptom of the problem mentioned in #646, namely that the authorisation request is persisted too early.

[2020-11-15 15:27] nabokihms opened #1864 "Refactor SQL storage layer using ORM"
**Is your feature request related to a problem? Please describe.**
Refactoring of SQL level was previously suggested here -
https://github.com/dexidp/dex/issues/1831#issuecomment-706186616

**Describe the solution you'd like to see**
Back in the days, there weren't fully statically typed convenient ORMs for golang. Now we have such a tool - [ent](https://github.com/facebook/ent) from Facebook. The

[2020-11-16 11:01] al45tair commented on #1864
It'd be nice to get my middleware changes in first :-) (See #1841.)

Otherwise, there's going to be quite a lot to change in that patch.

[2020-11-16 21:12] sagikazarmark commented on #1864
I think that's a great idea. I'm actually looking at it for quite some time now, but always lacked the time to implement it. I think ent is a great choice, although I don't have a lot of experience with it other than a few simple applications. It's probably the first decent ORM for Go, at least I have terrible experience with basically all other Go ORMs.

@al45air I would assume that this storage

[2020-11-16 21:28] al45tair commented on #1864
@sagikazarmark It's not so much that it'll affect it negatively; rather, if this is done first, it'll mean I've got to work out how to extend the new storage driver as well. It's OK, as long as it's clear enough what to do :-)

And you're right, if it's a new storage driver, it won't have too much of a negative impact.

[2020-11-18 16:52] tkleczek commented on #1300
@sagikazarmark  I believe this issue is fixed by PR https://github.com/dexidp/dex/pull/1822

[2020-11-18 17:18] sagikazarmark commented on #1300
I think you are right. Thanks!

[2020-11-18 17:18] #1300 closed

[2020-11-19 00:19] caniszczyk opened #1867 "Add SECURITY.md"
Dex needs a security disclosure process :)

[2020-11-19 00:32] sagikazarmark commented on #1867
@caniszczyk sure!

For that, we'll need a security email address though (ie. security@dexidp.io ?). I think @justaugustus mentioned setting up GoogleApps, but I guess we could also use the mailing list? Can you help us with that?

Are there any CNCF guidelines that we should follow?

[2020-11-19 00:47] caniszczyk commented on #1867
I'd recommend looking at some examples:

https://github.com/containerd/project/blob/master/SECURITY.md
https://github.com/coredns/coredns/blob/master/.github/SECURITY.md

For the security alias, we can set something up on groups.io, just file a servicedesk ticket for that

[2020-11-19 20:48] Arshdeep88 commented on #1778
@tkleczek Can you point me to some documentation on how to revoke refreshtoken via grpc API?

[2020-11-21 13:42] frankbe opened #1869 "blocking after invalid login attempts"
**Is your feature request related to a problem? Please describe.**
I recently replaced a form based login in a legacy java web application. The new solution is based on OIDC with dex as OpenID Connect provider and Azure AD as backend identity provider. Everything finally works like a charm, but now there is one security feature missing, because I still haven't found a possible replacement for it.

[2020-11-23 12:29] spohner opened #1870 "Adding public clients without secret through API not possible"
**Expected behavior (what you expected to happen)**:
When adding a client through the gRPC API without a secret and public set to true I expected the PKCE flow to be available to my public webapp.

**Actual behavior (what actually happened)**:
Adding a client with the gRPC API creates a new secret if no secret is provided. Dex then expects a client_secret to be sent and complains about missing cli

[2020-11-23 12:30] MatteoJoliveau commented on #1381
Hi! Sorry to bump an old issue, I just wanted to add a use-case to this topic: GitOps

When following GitOps practices the state of a system is defined in terms of files in Git instead of being imperatively driven via API requests. Having supported access to Dex's CRDs would allow us to define clients in a way that is decoupled from the Dex deployment files (which may live in a separate repository

[2020-11-24 10:06] rezagh2 commented on #1668
@candlerb I am after client credentials b2b flow.

[2020-11-24 18:39] tkleczek commented on #1778
You could probably use evans grpc client https://github.com/ktr0731/evans for this. Ofc you hjave to enable grpc service in dex config in the first place. Some relevant documentation can be found here: https://dexidp.io/docs/api/

[2020-11-25 23:34] backjo opened #1872 "GHCR image(s) not public"
GHCR images are not public. It'd be nice to be able to pull them from GHCR instead of hitting the throttle limits on docker hub.

[code]

[2020-11-26 08:51] sagikazarmark commented on #1872
Sorry about that. It should be public now.

[2020-11-26 08:51] #1872 closed

[2020-11-26 17:40] ieugen opened #1873 "Ldap group search with FreeIPA does not work"
**Expected behavior (what you expected to happen)**:

Login with ldap / FreeIPA and have groups added to the token / found.

**Actual behavior (what actually happened)**:

Login works but no groups are returned by the query.

**Steps to reproduce**:
1. FreeIPA setup
2. configure dex with ipa back-end
3. Try to login

**Environment**:
- Dex version:  ghcr.io/dexidp/dex:v2.26.0
- Storage type: kuber

[2020-11-26 17:54] ieugen commented on #1873
Managed to get it working after checking the source code and using this configuration:

[code]

[2020-11-26 17:54] #1873 closed

[2020-11-30 17:11] backjo commented on #1872
No worries - thx @sagikazarmark

[2020-12-02 10:23] al45tair opened #1875 "Endpoint to fetch a list of connectors"
**Is your feature request related to a problem? Please describe.**
We're implementing a user registration flow, where a sysadmin sends an invitation, and we'd like a way to grab a list of the configured connectors from the running Dex instance. One of our developers tried fetching /dex/auth and scraping it, which (sort of) works except when there's only a single connector; in the latter case, we g

[2020-12-02 11:14] heidemn-faro opened #1876 "Allow to disable env variable expansion by setting DEX_EXPAND_ENV = false"
**Is your feature request related to a problem? Please describe.**
This is both a bug and a feature request.
The current way to expand env variables in the Dex config is error-prone, since it happens before the YAML parsing.
Therefore, weird hacks are needed e.g. to support `$` characters in the LDAP `bindPW`.
We're currently using a workaround there by defining an env variable `${DOLLAR}` with va

[2020-12-02 13:46] sagikazarmark commented on #1875
#1489 implements a connector list in the gRPC API which is the preferred way to expose anything other than the OIDC endpoints. It's not really a top priority at the moment though.

[2020-12-02 22:17] sagikazarmark commented on #1876
How about an env var instead that can disable this behavior? Then you don't have to parse the configuration upfront. Something like `DEX_EXPAND_ENV`.

The config layer needs a broader refactor in my opinion, but adding an env var like this would probably improve the situation in the short term.

[2020-12-03 06:47] heidemn-faro commented on #1876
@sagikazarmark an env variable is also fine for me. Then I'll implement it like this. 👍

[2020-12-04 14:38] al45tair commented on #1875
@sagikazarmark gRPC doesn't really work for our specific use-case because we're trying to get this information from a Single Page App. Obviously we could write our own back-end page and have that use gRPC to fetch the list from Dex, or we could if #1489 was merged, but that seems a little heavyweight given that it's easy to add this to Dex itself, and #1489 isn't merged yet either.

I don't want t

[2020-12-04 20:02] mchum commented on #1562
Was there a resolution to this issue? I am also running into the same issue where no groups are returned.

[2020-12-07 15:56] brancz opened #1879 "Allow using Hashicorp Vault to sign JWTs/JWKs"
**Is your feature request related to a problem? Please describe.**
It would be great if dex didn't have to store signing keys in a database in plaintext.

**Describe the solution you'd like to see**
Allowing to use Hashicorp Vault as a signing mechanism would improve this from a security perspective. As vault never gives out the signing key itself. Dex would issue a request to Vault to sign a payl

[2020-12-07 18:01] sagikazarmark commented on #1875
@al45tair I don't think we want to maintain two distinct APIs for similar purposes.

If the aformentioned PR lands, I would suggest calling it from your own service, exposing the connectors you want.

Let's leave this open, as the use case you mention makes sense. We might want to better support that use case in the future. Right now, it's not really a priority.

[2020-12-07 18:02] sagikazarmark commented on #1879
I think it's a great idea. PRs welcome.

[2020-12-08 19:53] anthr76 commented on #1873
I've tried your configuration, but I'm getting back blank groups. Can you verify it's correct?

[2020-12-11 20:52] stefansedich commented on #1381
We would love this too, our current story for provisioning new apps onto Dex is a bit painful.

[2020-12-14 19:29] ericchiang opened #1884 "Proposal: deprecate the SAML connector"
@justaugustus @srenatus @sagikazarmark

Due to the nature of complex security issues in SAML, and lack of technical domain experts, I'd like to propose dex deprecate the SAML connector.

#### Is your feature request related to a problem?

This issue is to formalize internal discussion from https://github.com/dexidp/dex/security/advisories/GHSA-m9hp-7r99-94h5

Dex is inherently in a privileged posi

[2020-12-14 19:36] asetty commented on #1709
Any update on this? I'm needing to update my dex config and make a couple enhancements to chart I've vendored locally in the past from the old `stable` helm repo.

I think it makes sense as a first step it makes sense to at least add the helm chart to this repo under a folder such as `helm`, or `assets/helm`. That way there is SOME official chart and updates to the chart can be made in the same PR

[2020-12-14 19:41] postmaxin commented on #1709
The deployment of Dex is super super simple. There is nothing special or unique about it that requires an extended (helm) configuration.

At my company, we have a standard helm chart that we use for our 100+ microservices. We were able to use that chart to deploy Dex and there were no complications at all, literally just added a few lines to a values.yaml file.

[2020-12-14 20:57] asetty commented on #1709
@postmaxin I see where you're coming from. It really is just a matter of using the correct image and providing a config file, the rest is boilerplate.

I'd like to hear other's thoughts on this. Is it worth maintaining a helm chart in this repo? Maybe at least some documentation about deployment and/or an example manifest could be added. I often find this useful to lower the barrier to entry if I

[2020-12-14 21:51] #1884 closed

[2020-12-15 08:52] jizusun commented on #1421
New URL for the documentation mentioned above
- https://github.com/dexidp/website/blob/main/content/docs/storage.md#kubernetes-custom-resource-definitions-crds
- https://dexidp.io/docs/storage/#kubernetes-custom-resource-definitions-crds

[2020-12-16 18:53] sagikazarmark commented on #1709
Sorry, I haven't been able to work on this so far. I'll try to find some time in the near future. We have some practice with running Dex in Kubernetes and it's not that simple which is why it's a little bit more than a `helm create`.

I've created a helm chart repo, we'll push the repo there once it's ready: https://github.com/dexidp/helm-charts

[2020-12-17 10:02] Fixmetal commented on #1548
I bumped on this issue. Is there any intention of implementation in any near future release?

[2020-12-22 20:13] AmandeepBhupal opened #1894 "Allow public clients created as staticClients to have no client_secret"
#### Expected behavior (what you expected to happen)
The expected behaviour is to not get any error when no client secret is given because I am trying to enable pkce flow with a public client.

#### Actual behavior (what actually happened)
I actually receive an error:
Invalid config: Secret or secretEnv field is required for client ""

#### Steps to reproduce

1. In staticClient, set public: true,

[2020-12-24 21:30] nabokihms opened #1895 "Migrate Kubernetes storage CRDs API version to apiextensions.k8s.io/v1"
#### Is your feature request related to a problem?
Starting from Kubernetes 1.22, API version `apiextensions.k8s.io/v1beta1` [will no longer be available](https://github.com/kubernetes/kubernetes/issues/82022).

#### Describe the solution you'd like to see
Version `apiextensions.k8s.io/v1` is only available in Kubernetes >=1.16. We need some kind of mechanism to detect the Kubernetes version and d

[2020-12-29 10:26] al45tair opened #1900 "We should scan dependencies for CVEs"
The Dex build process should scan dependencies for CVEs so that we're aware when we need to update things. We've started using [Nancy](https://github.com/sonatype-nexus-community/nancy) for this in some of our projects, which might be a place to start?

[2020-12-29 13:38] al45tair opened #1903 "Dex should support SPNEGO"
Corporate networks often use Kerberos and could in principle authenticate to web apps using SPNEGO. Dex should support this, and there should be an option for it to be fully automatic (such that if the user's browser does SPNEGO, they don't even see the log-in options screen or a username/password prompt).

[2020-12-29 14:00] sagikazarmark commented on #1900
I agree, there has been quite a few vulnerabilities uncovered in several high-profile Go packages recently. I briefly looked at nancy and it seems like a great tool. If we can integrate it into GitHub actions, it'd be a great candidate, but I'd also look at GitHub's code scanning tools if they can scan dependencies.

I'm also planing to enable dependabot which should help a lot with automating upg

[2020-12-30 14:45] whs commented on #1879
Did some [POC](https://github.com/wongnai/dex/tree/whs/vault-signer) and turned out great. Not sure if I have time to polish it into mergeable quality, but most of the ground work is done.

What works:

- Swapping betweeen database signer (current implementation) and Vault signer
- RSA 2048, EC256 signing (jwt.io do accept our signed JWT now)
- /auth, /keys

What needs to be done:

- Make sure tes

[2020-12-30 16:35] brancz commented on #1879
I think that's kind of the point, so I would actually expect this, but I'm not a dex maintainer, so take that with a grain of salt :)

Without diving deeper, instinctively I would say, "signer" should be a new separate concept to storage and default to the current behavior, but be configurable to use vault.

Do you mean using vault to issue database credentials? I agree this would be amazing, but

[2020-12-30 16:52] heidemn-faro commented on #1876
Update:
`DEX_EXPAND_ENV` = falsy value -> don't expand.
Unset, or truthy value -> expand.

[2020-12-30 17:25] whs commented on #1879
What I have in my branch is that I can configure Vault signer like this:

[code]

Which works great. However, if getting database credentials from Vault is planned then it might not be a good idea to put Vault config in signer. This would means either you have to use Vault signer to use Vault database credentials (what if you don't want to use either of them), or the user has to config Vault twice

[2020-12-30 18:53] brancz commented on #1879
I would stay away from a top level config for a "singleton" config. It could be perfectly legitimate to have different vault instances for different purposes, so specifying a vault configuration per use makes sense in my opinion.

[2020-12-31 06:19] heidemn commented on #1894
@AmandeepBhupal this should already work since https://github.com/dexidp/dex/pull/1822 / [v2.26.0](https://github.com/dexidp/dex/milestone/18) .

Is it possible that your Helm Chart uses an outdated version of Dex?

[2021-01-01 15:21] #1876 closed

[2021-01-04 10:14] nabokihms opened #1907 "External connectors"
#### Is your feature request related to a problem?
The main problem that the Dex repo contains a lot of different connectors with various features, purposes, original authors, tests coverage, etc.

It makes Dex maintainers support a lot of custom logic that they are unfamiliar with.

#### Describe the solution you'd like to see
The thing to start with is writing solid design documentation (an enha

[2021-01-04 10:22] sagikazarmark commented on #1907
I think we can stop accepting new connectors until we figure this out.

[2021-01-04 18:58] AmandeepBhupal commented on #1894
Hii @heidemn
Thanks for your reply to the issue. I am using the official fork as directed here: https://github.com/elastisys/compliantkubernetes-apps/issues/75
According to comment from @sagikazarmark it seems like the official maintained fork. Please suggest what should I be using this one itself, or the one you're suggesting.

Also, I got the error from Dex. The image being used is: banzaicloud/

[2021-01-05 21:54] heidemn commented on #1894
@AmandeepBhupal probably you can update the dex-shim version by passing `imageTag: "0.7.0"` to the chart.
That version seems to ship the latest Dex release v2.27.0.
PKCE is supported since Dex [v2.26.0](https://github.com/dexidp/dex/releases/tag/v2.26.0), so your described configuration should work then.

The current default  in [values.yaml](https://github.com/banzaicloud/banzai-charts/blob/maste

[2021-01-05 21:56] AmandeepBhupal commented on #1894
Perfect! Thank you so much!!

[2021-01-05 21:56] #1894 closed

[2021-01-05 23:31] anborg opened #1909 "Compilation issue macOS."
Getting started:

[code]

![image](https://user-images.githubusercontent.com/56970398/103710925-36498f80-4f84-11eb-9e12-0dcabb6692c4.png)

[2021-01-06 02:01] sagikazarmark commented on #1909
Thanks for reporting. Dex adopted go modules which no longer requires you to use go get or to place a project in GOPATH.

You should simply clone the repo anywhere (but in GOPATH).

I've opened dexidp/website#78 to track the documentation issue.

[2021-01-06 02:01] #1909 closed

[2021-01-11 11:17] ricky26 opened #1911 "Add an option for setting prompt= on the Microsoft connector"
#### Is your feature request related to a problem?
When logging in with the Microsoft connector, it doesn't prompt for which account to use, sometimes resulting in weird failures since we are using our tenant for login. (Additionally, we would prefer it if the login flow for Microsoft prompted again after logging out in Dex.)

#### Describe the solution you'd like to see
Like other connectors, the

[2021-01-11 13:34] MatteoJoliveau commented on #1381
Sorry to nudge this issue again, but declarative management of clients and providers is something really we really need in order to integrate Dex in our environment. I would like to ask the maintainers if they have plans for this, or if they want to delegate this to an third party "Dex Operator" project.

IMHO, since Dex already supports CRDs for configuration it would be only natural to use them

[2021-01-11 21:07] #1668 closed

[2021-01-12 22:15] sagikazarmark opened #1914 "Upgrade OIDC client library to 3.0.0"
#### Is your feature request related to a problem?
github.com/coreos/go-oidc 3.0.0 has finally been released

#### Describe the solution you'd like to see
Upgrade github.com/coreos/go-oidc to 3.0.0

[2021-01-13 19:35] #1914 closed

[2021-01-13 21:42] sagikazarmark opened #1917 "Automate release process"
Automate tagging using a script/makefile. Eg. `make minor`

[2021-01-14 13:15] sagikazarmark commented on #1381
We'll add this to the roadmap at some point, but can't promise anything or give an ETA at this point. We are still figuring things out around the CNCF sandbox status, trying to clean up our processes, etc. But I think this is definitely the way Dex needs to head, or at least we need something similar to Prometheus for configuration.

[2021-01-14 13:31] sagikazarmark opened #1919 "Improve configuration sources"
#### Is your feature request related to a problem?
When running Dex in a container on any container orchestration platform, some configuration options (listen addresses in particular) should be configurable in the deployment context, while some other options (connectors, clients, etc) are relevant in the applications domain (regardless in what environment it runs in).

Dex has a single configurati

[2021-01-14 13:37] sagikazarmark opened #1920 "Replace Prometheus with OpenTelemetry"
#### Is your feature request related to a problem?
OpenTelemetry will be ready soon (it's already in RC).

#### Describe the solution you'd like to see
We should replace the Prometheus lib with OpenTelemetry.

We should probably keep the OpenMetrics export, but we should add an (configurable) OpenTelemetry agent target as well.

[2021-01-14 14:35] bonifaido commented on #1381
Dex CRDs are used for **storage** and not for **configuration** that is why they are an internal implementation detail.

[2021-01-14 14:51] MatteoJoliveau commented on #1381
@bonifaido I know, that's what I'm saying. The fact that Dex already has CRDs means it should not be too complicated to promote them from internal storage implementation to an officially supported way of configuration, aligning Dex's user experience to other projects in the kube world (namely the Argo projects, the operator pattern, etc) and enabling fully declarative Dex deployments

[2021-01-14 15:01] antoineozenne opened #1922 "Authenticate via kubectl cli without browser"
#### Is your feature request related to a problem?
We need to authenticate (LDAP) without access to a browser (linux VM in console). This is currently not possible because Dex prompt for credentials via a browser.

#### Describe the solution you'd like to see
It would be great if Dex proposed a client (https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plu

[2021-01-14 15:50] sagikazarmark commented on #1381
The fact that it uses CRDs for *something* (storage in this case) doesn't mean that configuring Dex via CRDs is two clicks away. 🤣

[2021-01-14 16:51] sagikazarmark opened #1924 "Provide distroless images"
#### Is your feature request related to a problem?
Distroless images reduce the attack surface of an application.

#### Describe the solution you'd like to see
Provide distroless images by default. Provide alpine variants with shell for debugging purposes.

#### Describe alternatives you've considered

#### Additional context
Adding CA certs to distroless images might be a challenge

[2021-01-14 16:54] #1919 closed

[2021-01-14 16:59] MatteoJoliveau commented on #1381
I didn't mean to trivialize the task. I just meant to point out that it's not like Dex has to be integrated from scratch, so I wanted to encourage maintainers to consider this feature.
I'm really happy it's on the roadmap, we'll implement some temporary wrapper while this is getting built to achieve our goals.

[2021-01-15 00:17] sagikazarmark opened #1941 "Refactor health checks"
#### Is your feature request related to a problem?

Since the health check actually relies on the state of underlying storage, it's not suitable for both liveness and readiness check in Kubernetes.

#### Describe the solution you'd like to see

Add separate liveness and readiness health checks.

Move health checks to the telemetry server, because it's only needed internally.

Liveness check should

[2021-01-15 00:32] sagikazarmark commented on #1077
This is already done.

[2021-01-15 00:32] #1077 closed

[2021-01-15 00:33] sagikazarmark commented on #1213
This should be fixed. We have enabled dependabot, so this should be automated in the future.

[2021-01-15 00:33] #1213 closed

[2021-01-15 00:35] sagikazarmark opened #1942 "Graceful shutdown"
#### Is your feature request related to a problem?
Dex shutdown is not graceful at the moment.

#### Describe the solution you'd like to see
Use https://github.com/oklog/run in the serve command

#### Describe alternatives you've considered

#### Additional context
Fixes #1523
Fixes #1541

[2021-01-15 00:38] sagikazarmark commented on #1474
I'm not sure we can implement that flow, at least not for most providers since Dex just federates other IdPs.

Device Authorization is implemented however, so you could copy a URL to your browser while the client (presumably kubelogin) waits for a token.

[2021-01-15 00:38] sagikazarmark commented on #1922
Duplicate of #1474

Please see my answer there.

[2021-01-15 00:38] #1922 closed

[2021-01-15 00:39] sagikazarmark commented on #1451
Closing in favor of #1867

[2021-01-15 00:39] #1451 closed

[2021-01-15 00:40] sagikazarmark commented on #1595
Closing in favor of #1867

[2021-01-15 00:40] #1595 closed

[2021-01-15 00:41] sagikazarmark commented on #1578
This should be fixed by https://github.com/dexidp/dex/releases/tag/api%2Fv2.0.0

[2021-01-15 00:41] #1578 closed

[2021-01-15 00:55] sagikazarmark opened #1943 "Move packages to pkg directory"
#### Is your feature request related to a problem?
Consider keeping the root directory clean

#### Describe the solution you'd like to see
I realize the mainstream style is not to use `pkg/` anymore, but it keeps the root cleaner.

#### Additional context
This would probably make a lot of PR conflict with master.

[2021-01-15 01:13] sagikazarmark opened #1944 "Relocate the version package to cmd"
#### Is your feature request related to a problem?
Having a separate version package might encourage developers to use it and creates potentially unwanted dependencies between different parts of the application.

#### Describe the solution you'd like to see
Move the version functionality to the main package and inject the version wherever necessary.

#### Describe alternatives you've considered

#

[2021-01-15 13:48] NahaliY commented on #1709
Hi @sagikazarmark , I see that the new official Helm chart is not yet completed in this Repo : [https://github.com/dexidp/helm-charts](https://github.com/dexidp/helm-charts). Is there a new official source for dex Helm chart ?  Or it's under development ?
Thank's in advance for your feedback ;) .

[2021-01-15 13:52] sagikazarmark commented on #1709
@NahaliY please follow dexidp/helm-charts#2 as well. It tracks the current blockers for releasing a helm chart. It's under development.

[2021-01-20 17:02] brokenjacobs commented on #1615
Microsoft does have a bunch of deprecation warnings up for the graphql api transitioning to a new graphql. It would be worth a pass for someone knowledgable to take a look to see if Dex is using the api about to be deprecated.

[2021-01-20 23:29] justenwalker opened #1953 "device auth flow token endpoint is not discoverable"
#### Is your feature request related to a problem?

#1706 implements device auth flow, which is a great feature to have. However, the token endpoint is not discoverable.

In order to exchange a `device_code` to get the authorization tokens, you have to know out-of-band to contact the `/device/token` endpoint.

#### Describe the solution you'd like to see

It would be helpful to instead enable the

[2021-01-21 10:47] mouchar opened #1954 "Docker volume support for storing sqlite3 database"
#### Is your feature request related to a problem?
When I want to start using Dex IdP docker image, the easiest storage driver to configure is the sqlite3. But the only writable directories for user `1001` are `/tmp` and `/var/tmp`. I'd like to store sqlite3 datafile to docker volume to keep changes persistent between multiple Dex container incarnations.

Unfortunately, Docker doesn't allow to set

[2021-01-21 14:20] nabokihms commented on #1954
Hello!

With docker for mac, it is possible to simply mount a folder without changing anything in the docker file.
[code]

However, using a Linux environment, you need extra steps.
[code]

It is an example of how you can avoid changing the docker file.

[2021-01-21 14:56] mouchar commented on #1954
Hello Maksim, thank you for your quick response. I'm working on Linux, so it is possible to use the workaround from your proposal based on bind mount. There are other issues with this solution, for example:
* you need root access to set the owner of  `$data_dir` (unless you're lucky and your local UID is 1001 :wink: )
* if you work within your $HOME directory, you end up with directories not owned

[2021-01-21 15:08] mouchar commented on #1719
Just a side note: it's not just plain string concatenation. It's base64-encoded **binary** protobuf message `IDTokenSubject`, described in server/internal types.proto file.
[code]
I'm not sure what's behind this design decision, but I believe it is related to the need to uniquely distinguish the same user IDs belonging to different connectors.
I like the trick with `federated:id`, it can simplify

[2021-01-21 15:22] candlerb commented on #1719
Thank you for the clarification: I had not considered that protobuf tags might be present (as unprintable characters).

[code]

This seems to assume that protobuf encoding is stable, but I think that's implementation-dependent. [Here](https://developers.google.com/protocol-buffers/docs/encoding#order) it says:

Clearly it would be problematic if the "sub" of a user were to flip between two encoded

[2021-01-22 07:41] nabokihms commented on #1954
Hello! Thanks for describing your use-case.

Real docker volumes are just folders in your example. You can use another trick with local docker volumes:
[code]

This command works on Linux-based systems (I have tested it on Ubuntu 18.04 5.3.0-51-generic with Docker 18.09.7 and non-root user).

After running the above command, we can inspect the created volume:
[code]
And get files permissions:
[cod

[2021-01-22 07:50] nabokihms commented on #1953
Hello! Thank you for this issue. I personally like it!
There is a link to the corresponding RFC entry - https://tools.ietf.org/html/rfc6749#section-3.2

[2021-01-22 10:27] mouchar commented on #1954
Thanks, setting the UID of the dex process to root  (because `-u :1001` is effectively the same as `-u 0:1001`) really did the trick.

However, I'm not convinced if this is the right approach, to run dex as root - it may be dangerous in some cases, despite the fact it runs in a container.

[2021-01-22 10:59] sagikazarmark commented on #1954
I wonder if using a dedicated volume makes any difference. I mean, on Linux it'll still be owned by root, won't it? So you'll still have to either manually change permissions or run Dex as root.

[2021-01-22 11:27] mouchar commented on #1954
@sagikazarmark  Nope, you don't have to manually change permissions if the directory within the container has proper ownership. Docker is smart enough to inherit the owner from the image during the volume mount process.
Example:
[code]
Build:
[code]

Running **without** volume:
[code]
Running **with** volume:
[code]

Final volume contents:
[code]
Note the owner of the directory itself (the root of

[2021-01-22 15:55] sagikazarmark commented on #1954
@mouchar Cool. Haven't used linux in a while (my greatest regret of life so far), so I wasn't sure how that would work.

How about adding a `/var/dex` directory with the proper owner?
I can see that the group is not set in your examples. Is there a reason for that?

I think we can probably omit the `VOLUME` entry from the Dockerfile: Dex shouldn't write anything there by default that would need pr

[2021-01-22 21:21] mouchar commented on #1954
First, I thought of `/examples` to make the command `docker run -v "$(pwd)/examples/config-dev.yaml:/config.yaml" dexidp/dex serve config.yaml` instantly working, but `/var/dex` looks much better as it fits Linux Filesystem Hiererchy Standard.

The `/var/dex` directory purpose should be documented somewhere close to the image.

I didn't mention group since it is not important in this case (group w

[2021-01-22 22:22] sagikazarmark commented on #1954
I wonder if we should do the same for configuration and use /etc/dex

Maybe we should also add a default config to the image as well

[2021-01-23 18:20] sagikazarmark commented on #1954
See the linked PR ☝️

[2021-01-23 18:37] sagikazarmark opened #1959 "Better fallback logic for UI assets"
#### Is your feature request related to a problem?
Currently Dex requires the user to either configure the web asset dir or leave it in the current working directory (in case of the container image it's the filesystem root).

#### Describe the solution you'd like to see
Ideally, in the container image Dex should be able to use a custom fallback config to find assets in some predefined location (eg

[2021-01-23 18:41] sagikazarmark opened #1960 "Implement the password DB as a connector"
#### Is your feature request related to a problem?
Currently the password DB can be enabled and configured separately from the rest of the connectors.

#### Describe the solution you'd like to see
Let's find a way to make it a regular connector. Since Dex's gRPC API provides an interface for adding new passwords, this connector should not be instantiated more than once.

#### Additional context
De

[2021-01-25 09:07] #1954 closed

[2021-01-26 11:07] mickeykcyolo opened #1964 "OpenID: Expose user info claims in Identity."
#### Is your feature request related to a problem?
No.

#### Describe the solution you'd like to see
It would be really awesome and benefit all to add the claims data as []byte or string to connector.Identity.
This would enable developers the ability to scan the claims freely using JSONPath for example,
thus developers won't have to stick only to the basic exposed user attributes.

#### Describe a

[2021-02-01 18:38] nabokihms opened #1968 "Stop copying unneccesary files/folders during the building stage"
#### Is your feature request related to a problem?
`COPY .  . ` in the Dockefile is always a tricky thing. It copies more than dex needs, which leads to unwanted behavior.
1. `Dockerfile`: Changin anything makes rebuilding the dex.
2. `.git/`: Actually, dex needs git for building to extract version (and other things). However, any new branch, tag, or commit invalidates the downward layers of a doc

[2021-02-02 00:55] sagikazarmark commented on #1968
That's probably an option, but then simple `docker build .` won't work

I'm a huge fan of [Please](https://please.build) these days. However, I think we need to do some other improvements before introducing such tool to Dex.

The current build pipeline is improved to a point where only the Dex binary is rebuilt, but dependencies are cached properly. I think that's something you'd expect anyway whe

[2021-02-02 21:24] snuggie12 opened #1969 "Garbage Collection of AuthRequests can crash dex"
#### Expected behavior (what you expected to happen)
User logs in without issue

#### Actual behavior (what actually happened)
User receives an internal server error saying "database error"
#### Steps to reproduce

1. Login with no issues
2. Wait 24 hours or could be a scale issue (Thinking maybe #1292 ?)
3. A garbage collection happens
4. Someone tries to login within a minute of the GC being log

[2021-02-03 14:17] nabokihms opened #1970 "Implement rate-limit by IP address for critical endpoints"
#### Is your feature request related to a problem?
On every request to auth/healthz endpoint, dex creates an authrequest entity in storage. An intruder with any HTTP load generator can cause an outage.

#### Describe the solution you'd like to see
It would be marvelous to add middleware to limit requests on certain endpoints using the token/bucket algorithm.

#### Describe alternatives you've cons

[2021-02-03 14:19] nabokihms commented on #1970
Slightly related to https://github.com/dexidp/dex/issues/1941

[2021-02-03 15:04] heidemn-faro commented on #1149
@srenatus Can you give an example how this "can be dealt with from templates"?
Are you saying that an admin can configure this fallback page already in the current Dex version?
Thanks :-)

[2021-02-03 17:10] sagikazarmark commented on #1970
I think it'd be better to move the healthz endpoint to the telemetry server instead. It shouldn't be public in the first place.

As for other rate limits: I'm not a huge fan of tackling this issue from applications. Although Dex is not technically HA at the moment, it would perfectly make sense to run it in a HA setup. Then you need a distributed storage to store the bucket for rate limiting.

IMH

[2021-02-03 19:51] nabokihms commented on #1970
@sagikazarmark thanks for the quick answer. I have two questions:
1. Can you open the issue about problems you have faced running dex in HA mode? We have a few HA installations on top of Kubernetes.
2. Frankly, I kinda agree with you about running dex on its own, but it's not good to keep the rate-limit problem concealed. What do you think about adding solutions to the documentation?

[2021-02-03 20:31] sagikazarmark commented on #1970
It's more of a theory than actual issues. The gc job inside Dex can technically make instances step on each others toes.
In a HA environment running the GC as a cron job outside of Dex might be better.

That's exactly what I was aiming at. Not necessarily concrete solutions, but overall definition of the problem with some general suggestions. Either from an attack vector or an operational best pra

[2021-02-04 13:43] sagikazarmark commented on #1850
is this issue resolved then?

[2021-02-04 13:44] sagikazarmark commented on #1788
I'd definitely make that optional.....because GDPR.

[2021-02-04 20:52] sagikazarmark opened #1971 "Provide a container image for the example app"
#### Is your feature request related to a problem?
The example app is really useful in demos.

#### Describe the solution you'd like to see
Provide a container image for the example app.

#### Describe alternatives you've considered
A downloadable executable would also work, but demonstrations usually involve Dex run as a container anyway.

#### Additional context
Might make sense to move the exam

[2021-02-04 21:51] nabokihms commented on #1971
Raleted issues:
https://github.com/dexidp/dex/issues/803
https://github.com/dexidp/dex/issues/953

[2021-02-04 21:58] sagikazarmark commented on #1971
Eh, I was too lazy to lookup any previous issues. Thanks!

[2021-02-05 09:34] #1942 closed

[2021-02-07 06:53] silviu-bsf commented on #981
As a workaround, for OIDC connector, mapping **userIDKey** to **jti** claim inside connector config seems to do the trick for now. This will probably cause a lot of entries to be stored, but flushing the DB storage periodically should mitigate the issue.

`- type: oidc
      id: oidc
      name: OIDC
      config:
        issuer: $DEX_CONNECTOR_ISSUER
        clientID: $DEX_CONNECTOR_CLIENT_ID

[2021-02-10 10:08] sirkubax opened #1976 "Windows ? kubectl/k9s client race condition while refresh token ?"
#### Expected behavior (what you expected to happen)
Refresh token works every time

#### Actual behavior (what actually happened)
On some systems (mostly Windows, mixed info wrt Ubuntu) we get the errors:
```Refresh token is invalid or has already been claimed by another client.```

if you debug with `--v=10`

```kubectl --kubeconfig ~/Downloads/kubeconf.txt  --v=10 get pods```
You can see
```cur

[2021-02-10 16:33] ringods opened #1977 "[bitbucket] includeTeamGroups only works for Workspace Admin users"
#### Expected behavior (what you expected to happen)

Any Bitbucket Cloud User is able to retrieve in which group he/she is in during the login process

#### Actual behavior (what actually happened)

Only Bitbucket Cloud Workspace Admins seem to have access to the API endpoint used to retrieve the groups.

#### Steps to reproduce

1. Create an organization on Bitbucket cloud
2. Setup your app with

[2021-02-10 16:56] nabokihms commented on #1977
@ringods Hello! Thanks for the report. I will try to take the time to debug this problem.

[2021-02-10 17:36] ringods commented on #1977
@nabokihms there probably is not a solution at this moment due to the shortcomings in the Bitbucket API migration process from V1 to V2. But from my communication with Atlassian, I suspect that no call will be introduced for regular users to find out in which `User Groups` they are in, within an organization.

[2021-02-10 18:01] nabokihms commented on #1977
Frankly, I think that you are right in your suspicions.

With a lack of integration tests in dex, we can't consolidate connectors logic, and Bitbucket Cloud API is not the most stable API. There are probably some other bugs. The only thing I want to do is to see the problem with my own eyes.

[2021-02-10 19:06] #1838 closed

[2021-02-11 04:29] AnkitaBarbi opened #1982 "Cant find var/sqlite/dex.db"
Trying to build up dex via Dockerfiles, using the original config.yaml for storage (sqlite3), but my docker is failing as it cant find var/sqlite/dex.db. Neither its present in repo. What am I missing here?

#### Expected behavior (what you expected to happen)
should retrieve var/sqlite/dex.db

#### Actual behavior (what actually happened)
unable to fetch var/sqlite/dex.db
#### Steps to reproduce

[2021-02-11 04:59] AnkitaBarbi commented on #1982
Had to change the path to /var/dex/dex.db. so it works with this path, hence closing the ticket

[2021-02-11 05:00] #1982 closed

[2021-02-11 11:35] candlerb commented on #1182
I have another concrete example of where custom claims could be used.

[PostgREST](https://postgrest.org/), a REST front-end to Postgres, uses [JWT claims](https://postgrest.org/en/v7.0.0/auth.html) to perform authorization.  Specifically, it requires:

[code]

to switch to a particular postgres role for this user.  (The code inside the database can also look at [additional claims](https://postgre

[2021-02-11 12:05] candlerb commented on #1080
Following on from thoughts in [#1182](https://github.com/dexidp/dex/issues/1182#issuecomment-777386304), I am now thinking that custom claims ought to be set per Dex client (i.e. audience), not globally, as each custom claim only probably makes sense to a particular target application.

However, groups are different. I can see a case for having global user-to-group and group-to-group mappings.  Fo

[2021-02-11 12:15] sagikazarmark commented on #1080
I assume this is a more generic approach to how groups are handled and not related to the static password "connector" (which I believe this issue is about).

My first thought: I'm a bit reluctant to add first class support for mapping groups, primarily because connectors are already full of redundant features that are often not even useful to everyone, but has been added because some weird enterpr

[2021-02-11 12:16] #1941 closed

[2021-02-11 12:31] candlerb commented on #1080
I certainly agree this doesn't belong in individual connectors, this is something core/plugin/middleware indeed.  I'll comment on the other ticket.

[2021-02-11 23:37] nabokihms commented on #1920
There are a few words about OpenTelemetry Prometheus compatible exporter.

I managed to replace our current implementation of metrics endpoint with the combination of an [otel-prometheus-exporter ](https://github.com/open-telemetry/opentelemetry-go/blob/main/exporters/metric/prometheus/prometheus.go#L140) and a [handler wrapper](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/main/

[2021-02-11 23:53] sagikazarmark commented on #1920
Sure, feel free to take it. A couple thoughts:

- I think the otel collector protocol for traces should be enough. AFAIK Jaeger will support it natively.
- I would also implement metrics for the otel collector, meaning that metrics should be collected by both a pull and a push collector. See open-telemetry/opentelemetry-go#1378 for details.

Honestly, I'd start with a minimum replacement of the pr

[2021-02-11 23:54] #1732 closed

[2021-02-12 13:51] nabokihms commented on #1523
I think this issue was resolved in #1942

[2021-02-12 14:03] sagikazarmark commented on #1523
Hm, is storage.Close also called somewhere?

[2021-02-12 15:16] nabokihms commented on #1523
I don't think so 😅 . Looks like we have to add it.

[2021-02-13 00:05] nabokihms opened #1992 "Deprecation of BitbucketCloud teams permissions endpoint"
#### Is your feature request related to a problem?
BitbucketCloud API endpoint `/user/permissions/teams` became deprecated, though we had decided to use it to get user groups (https://github.com/dexidp/dex/issues/1811).

#### Describe the solution you'd like to see
The only way of solving the problem, which I see, is switching to workplaces as the source for dex groups.
1. Change the `teams` API e

[2021-02-13 01:21] nabokihms commented on #1977
@ringods Hello again, you are right. The `groups` endpoint only works for administrators, and there is no replacement for it.

I realized that I forgot to ask you more about your use case, so... Let me tell you about mine first.

Assume there is a team of developers. They want to authenticate in a Kubernetes cluster using BitbucketCloud, and they already have a `team` (workspace) on bitbucket.org.

[2021-02-13 06:53] #1523 closed

[2021-02-13 16:13] ringods commented on #1977
@nabokihms this indeed might work.

On our end, we will not go forward with the Bitbucket Cloud connector anymore. We are using [Concourse](https://concourse-ci.org) which integrates `dex` for auth. Due to this issue, we switched our identity provider to the Microsoft connector. We are all logging in with our company Microsoft account and have access to all the Active Directory groups to provide g

[2021-02-13 18:27] sagikazarmark commented on #1709
Hey folks,

Please take a look at dexidp/helm-charts#3, give it a try and share some feedback. Thanks!

[2021-02-14 09:13] sagikazarmark commented on #1080
I've just had a testing use case where this would have been quite handy. While I see why making the password connector (actually, not a real connector _yet_ (?): #1960) more suitable for production use cases is a bad idea, I'm not sure we are supposed to protect people from shooting themselves in the leg, at least not at this level.

So for the short term, I think we should add groups support to t

[2021-02-14 09:16] #1850 closed

[2021-02-14 09:41] candlerb commented on #1080
If it could be done in a simple way which allows creating groups across accounts from multiple connectors, I think that would be more generally useful.  However I am not opposed in principle to groups in password DB; it would make it more like "any other" upstream.

Isn't that basically what the LDAP connector is? (*)

Without inventing another protocol, another option is that you implement a stan

[2021-02-14 10:06] sagikazarmark commented on #1080
I don't see Dex going into that direction TBH. That could change in the future, but we have more pressing matters at the moment.

A generic password connector with an interchangeable backend would make it easier to integrate custom, password based solutions into Dex.

Also, as this issue also suggests, people don't want to setup an LDAP server for a testing environment, so a dummy password connect

[2021-02-14 10:12] candlerb commented on #1907
I think the connectors fall into three groups:
1. Those which provide variations on standard OIDC (e.g. google, gitlab, github, microsoft, linkedin etc)
2. Those which integrate with foreign identity protocols (saml)
3. Those which act as a password checker, where Dex itself prompts for username and password (e.g. ldap, mock, and passwordDB - although the latter isn't actually a connector at the m

[2021-02-14 10:23] candlerb commented on #1907
An intermediate option is to make the password exchange more generic, by turning it into a multi-step "challenge/response" - similar to a PAM conversation function.  For example, `Prompt()` and `Login()` could be repeated multiple times with some state maintained in between, until Login says the exchange is successfully complete

That would allow both basic password checking *and* some forms of 2F

[2021-02-14 10:30] candlerb commented on #1080
Here's an instant LDAP server (in go) which can be used for testing: https://github.com/glauth/glauth

[2021-02-14 11:01] sagikazarmark commented on #1080
Thanks, I'll give it a try. We migh be able to improve our LDAP integration tests using it.

[2021-02-14 11:06] candlerb commented on #1907
BTW, did you consider [go native plugins](https://golang.org/pkg/plugin/) as an alternative to gRPC? ([blog](https://medium.com/learning-the-go-programming-language/writing-modular-go-programs-with-plugins-ec46381ee1a9))

Of course, it limits plugins to being written in go (although someone could still write a gRPC client as a plugin). It's also currently limited to Linux, FreeBSD and macOS.

[2021-02-14 11:17] sagikazarmark commented on #1907
That's actually the reddit post I wanted to link :)

[2021-02-14 11:20] sagikazarmark commented on #1907
I wonder if implementing the LDAP protocol is complicated enough to warrant a simpler protocol.

[2021-02-14 17:49] sagikazarmark commented on #1080
I've been thinking about this: the problem is that even a thin OIDC relay for LDAP would have to implement a lot of parts of the specification whereas a simple interface that's purely for password verification only is much simpler to implement (though the 2FA issue is a valid point).

[2021-02-14 18:43] sagikazarmark commented on #1080
I looked at glauth: it feels like an overkill for our use case to be honest, but I guess we can go with it for now.

We could use https://github.com/vjeantet/ldapserver to implement a very simple LDAP server.

[2021-02-15 17:42] candlerb commented on #1080
@sagikazarmark wrote:

That's true.  This OIDC "relay" would be a small standalone IDP, and it would generate the web page that prompts for the username and password. On the flip side, this is functionality which could be moved *out* of Dex, if so desired.

If they were separate programs, the LDAP backend and PasswordDB backend would have to duplicate this code.  They'd also have to run on differe

[2021-02-15 18:23] nabokihms opened #1999 "Update Kubernetes storage tests dependencies"
#### Is your feature request related to a problem?
It looks like dex is tested with an outdated version of the Kubernetes API server.
[code]
[code]
#### Describe the solution you'd like to see
This is not required right now, but we need to figure out how to update Kubernetes storage test dependencies. I think it is ok to switch tests to run on a local minimal Kubernetes installation, e.g., kind, m

[2021-02-16 16:22] nabokihms commented on #1895
I thought it would be easier. Previously created CRDs in v1beta1 continue working fine. However, the problem is creating new CRDs in v1.

Difference between manifests which keep which contain same logic:

**v1beta1**
[code]
**v1**
[code]

Problems:
* It is impossible to drop the v1beta1 API version support because of tests, so I decided to add a Kubernetes version detect method. Maybe it would be

[2021-02-16 17:35] sagikazarmark commented on #1895
I guess we should decide whether we want to create CRDs from Dex, or let the operator take care of it. My gut reaction is to move it out of Dex, but that might not be the right answer for...reasons.

[2021-02-17 23:26] mbychkowski-deloitte opened #2005 "Failing to authenticate with Microsoft connector after redirect"
#### Expected behavior (what you expected to happen)
Redirect to Microsoft tenant and authenticate and redirect back to application signed-in and authenticated

#### Actual behavior (what actually happened)
Redirect to Microsoft tenant and authenticate, but redirects back to Dex with the following error:

[code]

#### Steps to reproduce

1. Microsoft connector config:
[code]
2. Microsoft Graph:
![

[2021-02-19 09:18] #1870 closed

[2021-02-20 01:01] sagikazarmark commented on #1709
The first version is available at https://charts.dexidp.io/

[2021-02-20 01:01] #1709 closed

[2021-02-24 16:38] mkildare15 commented on #1651
what was the resolution for this issue. I believe I'm having the same exact problem

[2021-02-24 18:49] jdshkolnik commented on #2005
@sagikazarmark, we did some troubleshooting with our enterprise identity access team. They believe our problem is that Dex is attempting to read groups as the delegate of a guest user in the Azure AD tenant which doesn't have the right to do that. It should be done via application permissions. Can you offer some guidance here, please?

[2021-02-24 20:08] salmanisd opened #2011 "go-ldap panic on arm devices"
**Describe the bug**
dex uses go-ldap v2 which has problems running on my arm device giving error like
`LDAP Result Code 200 "Network Error": ldap: response channel closed`

**To Reproduce**
run current version of dex on an arm device and try to do an ldap auth request through Login page

#### Environment

- Dex version: 2.27.0
- Storage type: sqlite3
- Installation type (official docker image, he

[2021-02-24 21:22] sagikazarmark commented on #2011
Thanks @salmanisd for opening this issue (and the solution/links).

We'll try to prioritize the issue, but feel free to submit PRs.

[2021-02-25 10:00] schuhu commented on #1855
I had the same issue and debug and solved it with Microsoft.

Basically needed is `openid` as the first scope, plus the following directly quoting the Microsoft engineer:

"Another thing that I noticed is that the scopes you are asking for, for the access token, are user.read and directory.read.all.
Without specifying the full appID URI of  MS Graph (which is what I am assuming you want to access

[2021-02-25 11:40] sagikazarmark opened #2020 "Introduce structured logging"
#### Is your feature request related to a problem?
Logs are currently formatted strings with a single message. If someone were to extract any information it would require parsing the log messages.

#### Describe the solution you'd like to see
Introduce structured logging. Probably replace the logger interface with this: https://github.com/logur/logur

#### Describe alternatives you've considered
I

[2021-02-26 19:11] mrandall-wish commented on #1855
Thanks for the response, @schuhu.

I actually came to a similar conclusion with Microsoft Support but have been told by a colleague that the scopes that dex passes when using the Microsoft connector are hardcoded. Do you know if there is a way to pass/edit the scopes in the config without maintaining our own version of dex?

Look forward to the PR though, I will definitely pass it onto our dex tea

[2021-02-26 22:32] mbychkowski commented on #2005
Responding here with the solution that worked for us, while acknowledging this is far from an ideal solution:

To remove all doubt we changed the referenced [code](https://github.com/dexidp/dex/issues/2005#issuecomment-785295081) to the following:
[code]

This resolved the issue for us. User Type "Guest" in our tenant are no longer attempting to read groups even though in our config we do not spec