[2015-08-17 18:19] bobbyrullo opened #1 "prevent oauth csrf via 'state' field"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Tuesday Nov 11, 2014 at 01:15 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/19_

----

[2015-08-17 18:19] bobbyrullo opened #2 "Deploy using TLS unless `--no-tls` flag is set"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Tuesday Nov 11, 2014 at 21:16 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/26_

---

TLS is absolutely necessary to protect the transmission of client secrets. How

[2015-08-17 18:19] bobbyrullo opened #3 "add http cache headers for endpoints"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Friday Nov 14, 2014 at 20:13 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/52_

----

and update client to use them

[2015-08-17 18:19] bobbyrullo opened #4 "Administrative page to view clients, connectors, etc"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Wednesday Nov 19, 2014 at 02:10 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/81_

---

a page to list all the registered clients of an authd instance. so users can be

[2015-08-17 18:19] bobbyrullo opened #5 "Skip local login page if already logged in"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Wednesday Nov 26, 2014 at 23:42 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/106_

----

The local IDPC always requires you to login regardless of the current stat

[2015-08-17 18:19] bobbyrullo opened #6 "Implement optional OIDC claims"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Thursday Nov 27, 2014 at 00:10 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/108_

----

There are a bunch of useful OIDC claims that a smarter client can use to be

[2015-08-17 18:19] bobbyrullo opened #7 "Multi-IDPC: mark individual IDPC as "disabled""
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Monday Dec 01, 2014 at 22:46 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/114_

----

[2015-08-17 18:19] bobbyrullo opened #8 "Use etcd for cluster-wide config"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Monday Dec 01, 2014 at 23:18 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/117_

---

Bunch of things should be configured through etcd:
1. keys used to validate re

[2015-08-17 18:19] bobbyrullo opened #9 "Global "disable" flag"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Tuesday Dec 02, 2014 at 18:19 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/118_

---

Create a big red button to disable the entire system by preventing logins, accou

[2015-08-17 18:19] bobbyrullo opened #10 "new IdP and connector for db backed email/password accounts"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Tuesday Dec 02, 2014 at 18:39 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/120_

---
- need to verify emails upon registration

[2015-08-17 18:19] bobbyrullo opened #11 "add required required response types to provider config"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Thursday Dec 04, 2014 at 23:25 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/127_

----

Spec says:

`response_types_supported`
REQUIRED. JSON array containing a list

[2015-08-17 18:19] bobbyrullo opened #12 "implicit grants"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Thursday Dec 04, 2014 at 23:46 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/128_

----

The spec requires us to support it. We need to do so or document that we inten

[2015-08-17 18:19] bobbyrullo opened #13 "consider storing optional client identity meta data"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Thursday Dec 11, 2014 at 18:41 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/146_

----

There are many more OPTIONAL fields beyond just `id` and `secret`. For instanc

[2015-08-17 18:19] bobbyrullo opened #14 "Sync connector configs"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Friday Dec 12, 2014 at 03:27 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/149_
---

authd-worker checks the database once at startup for connector configs, but doe

[2015-08-17 18:19] bobbyrullo opened #15 "Share cache of OIDC data between workers"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Monday Dec 15, 2014 at 18:12 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/153_

----

The authd-worker nodes individually sync the OIDC provider configs and verifi

[2015-08-17 18:19] bobbyrullo opened #16 "api: add call to update a client"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Tuesday Jan 13, 2015 at 02:22 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/177_

---

allow clients to regenerate their own secret

[2015-08-17 18:19] bobbyrullo opened #17 "Redirect URI vs URL"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Wednesday Feb 11, 2015 at 01:42 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/193_

---

OAuth2 uses "URI" while we tend to use "URL" in the authd codebase (except

[2015-08-17 18:19] bobbyrullo opened #18 "display warning messages for non-TLS redirects"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Wednesday Feb 11, 2015 at 22:36 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/197_

---

"If TLS is not available, the authorization server SHOULD warn the resource ow

[2015-08-17 18:19] bobbyrullo opened #19 "dexctl: force rotate keys"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Wednesday Apr 01, 2015 at 17:22 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/205_

----

After https://github.com/coreos-inc/auth/pull/204 keys are only rotated if ne

[2015-08-17 18:19] bobbyrullo opened #20 "publish ACIs to quay as part of deploy process"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Thursday Apr 23, 2015 at 20:53 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/224_

---

Still blocked on:
- [ ] appc spec for uploading
- [ ] quay support for uploadin

[2015-08-17 18:19] bobbyrullo opened #21 "Use stronger password validation"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Wednesday May 06, 2015 at 23:38 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/230_

---

right now passwords can be anything other than ""

gtank@ recommends: h

[2015-08-17 18:19] bobbyrullo opened #22 "Change all time DB fields from string to int64"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Friday May 08, 2015 at 19:21 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/231_

---

....GMT seconds since the Unix epoch.

[2015-08-17 18:19] bobbyrullo opened #23 "figure out how to deal with transactions in Repos"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Friday May 15, 2015 at 19:06 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/233_

---

Eg. we have a UserRepo which has methods like Get(), Update(). Some higher

[2015-08-17 18:19] bobbyrullo opened #24 "docker: fix path to command"
<a href="https://github.com/philips"><img src="https://avatars.githubusercontent.com/u/33544?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [philips](https://github.com/philips)**
_Thursday May 28, 2015 at 01:11 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/241_

----

Currently the entry point is `/opt/authd/bin/authd-worker` which is rather verb

[2015-08-17 18:19] bobbyrullo opened #25 "Documentation: what is the "key secret""
<a href="https://github.com/philips"><img src="https://avatars.githubusercontent.com/u/33544?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [philips](https://github.com/philips)**
_Thursday May 28, 2015 at 01:14 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/242_

---

I am trying to get authd running and I can't find anywhere in the docs that expl

[2015-08-17 18:19] bobbyrullo opened #26 "Don't load PasswordInfos when using DB"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Friday Jun 12, 2015 at 16:46 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/253_

----

[2015-08-17 18:19] bobbyrullo opened #27 "Change password->passwordHash in admin API"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Friday Jun 12, 2015 at 17:00 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/255_

----

[2015-08-17 18:19] bobbyrullo opened #28 "Make it easier to provide admin user passwords"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Friday Jun 12, 2015 at 18:56 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/256_
---

Creating users with the overlord API accepts password hashes only, but there is no

[2015-08-17 18:19] bobbyrullo opened #29 "oidc: add a way to validate all settings in client"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Tuesday Jun 23, 2015 at 00:19 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/273_

----

Currently each app that includes the client library needs to manually validate

[2015-08-17 18:19] bobbyrullo opened #30 "client apps need a way to forward to or regen an email verification link"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Tuesday Jun 23, 2015 at 00:23 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/274_

---

In case the user doesn't get the first one, can login to the app, but can't proc

[2015-08-17 18:19] bobbyrullo opened #31 "idea: declarative token validation"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Tuesday Jun 30, 2015 at 19:45 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/281_
---

I've encountered jwt claim parsing/validation code very frequently. Just an idea,

[2015-08-17 18:19] bobbyrullo opened #32 ""Remember me" when logging in"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Thursday Jul 02, 2015 at 15:56 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/288_

---

dex SSO:

To prevent people from having to type their email/passwords mu

[2015-08-17 18:19] bobbyrullo opened #33 "Users should be able to delete/disable themselves"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Thursday Jul 02, 2015 at 17:52 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/293_

---

Users should be able to login to AuthD and "delete" their accounts. Once delete

[2015-08-17 18:19] bobbyrullo opened #34 "Ability to register new OIDC clients via overlord API"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Thursday Jul 02, 2015 at 21:41 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/294_

----

Instead of using authctl with db flag. This will make scripting the bootstrapp

[2015-08-17 18:20] bobbyrullo opened #35 "refresh tokens"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Thursday Jul 02, 2015 at 21:43 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/295_

----

For better security we should transition to having shorter-lived JWTs and inst

[2015-08-17 18:20] bobbyrullo opened #36 "tokens are issued with exp dates longer than key rotation duration"

[2015-08-17 18:20] bobbyrullo opened #37 "make mailgun api keys settable as env variables"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Friday Jul 10, 2015 at 00:47 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/300_

----

So we dont have to render them into the container images.

[2015-08-17 18:20] bobbyrullo opened #38 "*.*: implement refresh token flow"
<a href="https://github.com/yifan-gu"><img src="https://avatars.githubusercontent.com/u/3278588?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yifan-gu](https://github.com/yifan-gu)**
_Thursday Jul 16, 2015 at 01:37 GMT_
_Originally opened as https://github.com/coreos-inc/auth/pull/314_

---
- [x] implement refresh token repo (in-memory and database)
- [x] implement re

[2015-08-17 18:20] bobbyrullo opened #39 "reset-password: valid email address but no password for userID"
<a href="https://github.com/ecnahc515"><img src="https://avatars.githubusercontent.com/u/1400401?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ecnahc515](https://github.com/ecnahc515)**
_Tuesday Jul 21, 2015 at 00:11 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/328_

----

So I tried going through the reset password flow using my google account

[2015-08-17 18:20] bobbyrullo opened #40 "storage: expire passwords"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Thursday Jul 23, 2015 at 01:03 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/334_

---

Right now Passwords have an expiration but it's set to 0, which means ne

[2015-08-17 18:20] bobbyrullo opened #41 "2-factor auth support"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Friday Jul 24, 2015 at 19:29 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/335_

----

would be a nice feature to have

[2015-08-17 18:20] bobbyrullo opened #42 "Run OpenID self-certification testing suits, and get an OpenID Certification"
<a href="https://github.com/yifan-gu"><img src="https://avatars.githubusercontent.com/u/3278588?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yifan-gu](https://github.com/yifan-gu)**
_Friday Jul 24, 2015 at 19:36 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/336_

---

OpenID Foundation provides a series of testing suits to verify the OpenID Con

[2015-08-17 18:20] bobbyrullo opened #43 "etcd backed repo"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Tuesday Jul 28, 2015 at 00:14 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/340_

----

[2015-08-17 18:20] bobbyrullo opened #44 "User Management APIs"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Tuesday Jul 28, 2015 at 00:15 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/341_

---

simple CRUD stuff

[2015-08-17 18:20] bobbyrullo opened #45 "Turn off registration via flag"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Tuesday Jul 28, 2015 at 00:18 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/342_

----

..not all installations want registration

[2015-08-17 18:20] bobbyrullo opened #46 "refactor repos/managers to be txn aware"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Tuesday Jul 28, 2015 at 00:43 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/343_

---
- [x] create a generic transaction interface
- [x] create transaction fact

[2015-08-17 18:20] bobbyrullo opened #47 "issuer display name set by flag"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Tuesday Jul 28, 2015 at 00:51 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/344_

---

there should be a flag which sets the issuer display name, and displays i

[2015-08-17 18:20] bobbyrullo opened #48 "AuthD should function in the absence of email provider..."
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Tuesday Jul 28, 2015 at 00:52 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/345_

----

...and should know to display links which create emails

[2015-08-17 18:20] bobbyrullo opened #49 "Migrate Prod, Staging to deal with postview schema changes"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Wednesday Jul 29, 2015 at 17:19 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/347_

----

Scripts:
- [x] Nonce
- [x] Email Index
- [x] Refresh Tokens
- [x] Clie

[2015-08-17 18:20] bobbyrullo opened #50 "Users with unverified emails are never cleaned up"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Monday Aug 03, 2015 at 23:21 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/352_
---

Consider this case:

1) Some joker named Mr. Bar tries to register with `foo@foo.c

[2015-08-17 18:20] bobbyrullo opened #51 "User mgmt"
<a href="https://github.com/bobbyrullo"><img src="https://avatars.githubusercontent.com/u/9629?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bobbyrullo](https://github.com/bobbyrullo)**
_Tuesday Aug 04, 2015 at 00:48 GMT_
_Originally opened as https://github.com/coreos-inc/auth/pull/353_

----

----

_**[bobbyrullo](https://github.com/bobbyrullo)** included the follow

[2015-08-17 18:20] bobbyrullo opened #52 "security audit"
hi.

[2015-08-17 18:20] bobbyrullo opened #53 "Documentation: introductory information"
<a href="https://github.com/philips"><img src="https://avatars.githubusercontent.com/u/33544?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [philips](https://github.com/philips)**
_Tuesday Aug 04, 2015 at 17:07 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/355_

---
- Systemd requirements
- Database requirements (backups, restore)
- Who should use

[2015-08-17 18:20] bobbyrullo opened #54 "no"

[2015-08-17 18:20] bobbyrullo opened #55 "hi."

[2015-08-17 18:20] bobbyrullo opened #56 "automate functional testing"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Tuesday Aug 04, 2015 at 18:09 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/358_

---

authd has a suite of functional tests, but it is currently up to the develope

[2015-08-17 18:20] bobbyrullo opened #57 "migrate from semaphore to jenkins"
<a href="https://github.com/bcwaldon"><img src="https://avatars.githubusercontent.com/u/548759?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bcwaldon](https://github.com/bcwaldon)**
_Thursday Aug 06, 2015 at 22:25 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/359_

----

[2015-08-17 18:20] bobbyrullo opened #58 "gorp maintenance moved"
<a href="https://github.com/gtank"><img src="https://avatars.githubusercontent.com/u/622063?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [gtank](https://github.com/gtank)**
_Wednesday Aug 12, 2015 at 22:14 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/363_

---

Used to be https://github.com/coopernurse/gorp, has been at https://github.com/go-go

[2015-08-17 18:20] bobbyrullo opened #59 "Failed to generate ID token: private key manager keys expired"
<a href="https://github.com/sym3tri"><img src="https://avatars.githubusercontent.com/u/224222?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [sym3tri](https://github.com/sym3tri)**
_Thursday Aug 13, 2015 at 22:32 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/364_

----

I'm still seeing the following in my local dev environment. I have to restart

[2015-08-17 18:25] #52 closed, assigned to nobody

[2015-08-17 18:40] bobbyrullo opened #60 "server: limit the number of (refresh) tokens for each user-client pair"
<a href="https://github.com/yifan-gu"><img src="https://avatars.githubusercontent.com/u/3278588?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yifan-gu](https://github.com/yifan-gu)**
_Monday Aug 17, 2015 at 18:19 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/365_

---

For example, google has a limit of 25 for per user https://developers.google.

[2015-08-17 18:40] bobbyrullo opened #61 "auth: grant refresh token only when access_type == offline"
<a href="https://github.com/yifan-gu"><img src="https://avatars.githubusercontent.com/u/3278588?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yifan-gu](https://github.com/yifan-gu)**
_Monday Aug 17, 2015 at 18:23 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/366_

---

Currently we grant refresh token when the clients asking for a token, ideally

[2015-08-17 18:40] bobbyrullo opened #62 "Move functional tests to db package."
<a href="https://github.com/yifan-gu"><img src="https://avatars.githubusercontent.com/u/3278588?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [yifan-gu](https://github.com/yifan-gu)**
_Monday Aug 17, 2015 at 18:24 GMT_
_Originally opened as https://github.com/coreos-inc/auth/issues/367_

----

[2015-08-17 18:42] #2 closed, assigned to nobody

[2015-08-17 18:42] #8 closed, assigned to nobody

[2015-08-17 18:43] #9 closed, assigned to nobody

[2015-08-17 18:43] #10 closed, assigned to nobody

[2015-08-17 18:44] #36 closed, assigned to nobody

[2015-08-17 18:45] #30 closed, assigned to nobody

[2015-08-17 18:46] #23 closed, assigned to nobody

[2015-08-17 18:46] #22 closed, assigned to nobody

[2015-08-17 18:46] #20 closed, assigned to nobody

[2015-08-17 18:50] #55 closed, assigned to nobody

[2015-08-17 18:50] #54 closed, assigned to nobody

[2015-08-17 18:51] #46 closed, assigned to nobody

[2015-08-17 18:52] #38 closed, assigned to nobody

[2015-08-17 22:23] bobbyrullo opened #63 "make ClientIdentityRepo tx friendly."
...make sure to fix race conditions, eg UserManager.CreateUser

[2015-08-17 22:24] bobbyrullo opened #64 "Revisit the non-usable temporary password in CreateUser"
see user/api/api.go

[2015-08-19 19:09] mjibson opened #66 "cmd/dex: user filters"
We'd like to be able to restrict login to a service to any valid google account, for example `@coreos.com`.

[2015-08-20 17:10] bobbyrullo opened #68 "Documentation: Quickstart Guide"

[2015-08-20 17:10] bobbyrullo opened #69 "Dev Guide"
How to set up environment for development, e.g. the --no-db option and related flags.

[2015-08-20 17:12] bobbyrullo opened #70 "Documentation: Notes on OIDC compliance"
Anything missing from OIDC core? Non-standard stuff? How far beyond core?

[2015-08-20 17:19] bobbyrullo opened #71 "Documentation: Endpoints docs"
esp. those that are not OIDC

[2015-08-20 17:20] bobbyrullo opened #72 "Documentation: Configs need docs"
- [ ] Emailer
- [ ] Connector
- [ ] Client
- [ ] Users

[2015-08-20 17:41] bobbyrullo opened #73 "Documentation: Administration"
- [ ] authctl
- [ ] misc Worker flags
- [ ] Key rotation
- [ ] User Administration API

[2015-08-21 21:22] bobbyrullo opened #78 "--key-secret should be a base64 encoded string"
right now --key-secret expects that a user passes along string in the space of characters that are easily passable on a command line, drastically limiting the keyspace.

We should instead require that --key-secret is a base64 encoded 32byte string.

The tricky part to this is: what about existing installations? If we want to pass a new --key-secret drawn from bytes in the expanded, full key-space,

[2015-08-24 17:48] philips opened #81 "Documentation: deployment guide"
- [ ] systemd unit files for worker and overlord
- [ ] pods, services, etc for k8s deployment

[2015-08-24 21:20] yifan-gu opened #83 "dex-worker: support https scheme"
We need to make dex-worker to support https scheme to enable the token flow in k8s.
As the oidc-issuer-url [must be https scheme](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authenticator/token/oidc/oidc.go#L60)

[2015-08-25 16:55] joeatwork opened #86 "dex-worker: uses no-reply@coreos.com as default email address"
At line https://github.com/coreos/dex/blob/master/cmd/dex-worker/main.go#L37

We probably want to remove this.

[2015-08-26 17:43] #78 closed, assigned to bobbyrullo

[2015-08-26 18:14] yifan-gu opened #88 "example is broken"
The example's README is out of date, as now dex authenticates the user using email + password. We need to update the example's README and also those *json.sample.

This should be in before open sourcing it.

[2015-08-26 23:10] #58 closed, assigned to bobbyrullo

[2015-08-26 23:10] #25 closed, assigned to bobbyrullo

[2015-08-26 23:10] #53 closed, assigned to bobbyrullo

[2015-08-26 23:22] bobbyrullo opened #90 "Write "Who should use dex" in README.md"

[2015-08-26 23:22] bobbyrullo opened #91 "Write "Similar Software" section in README"

[2015-08-26 23:26] #56 closed, assigned to nobody

[2015-08-28 17:13] bobbyrullo opened #94 "use dashes instead of camels in claims"
http://coreos.com/email/verificationEmail should be http://coreos.com/email/verification-email

[2015-08-28 19:29] #70 closed, assigned to bobbyrullo

[2015-08-28 19:44] #88 closed, assigned to nobody

[2015-08-28 21:54] #17 closed, assigned to bobbyrullo

[2015-08-28 22:15] gtank opened #97 "overlord admin API binds to all interfaces"
By default, the overlord admin API [listens on 0.0.0.0](https://github.com/coreos/dex/blob/master/cmd/dex-overlord/main.go#L42). While this is fine for us in practice, a safer default would be to have this API disabled or bound to 127.0.0.1.

[2015-08-28 23:49] gtank opened #98 "encrypted keys in database lack integrity check"
Currently we're using CBC mode without an integrity check: https://github.com/coreos/dex/blob/master/db/key.go#L134

As a point of [cryptographic hygiene](http://www.thoughtcrime.org/blog/the-cryptographic-doom-principle/), we should validate the ciphertexts and IVs before attempting to decrypt. There are lots of ways to do this, each with different logistical requirements:

1. ~~HMAC
We could app

[2015-08-29 00:00] gtank opened #99 "strconv.ParseInt should specify a base"
IDs are parsed out of refresh tokens without specifying what base they should be: https://github.com/coreos/dex/blob/master/db/refresh.go#L52

This leaves ParseInt to [choose based on string prefix](https://golang.org/pkg/strconv/#ParseInt). It doesn't seem to be a problem (especially since we check IDs a few lines later), but we might as well specify 10 if we're not expecting oddly formatted inte

[2015-08-31 18:02] yifan-gu opened #100 "Only allow localhost to use 'http' as scheme."
Per the oidc spec, `https` is [required](http://openid.net/specs/openid-connect-discovery-1_0.html#IssuerDiscovery) for issuer's address.. But we want to support `http` for development environment. A compromise can be that only `localhost` and `127.0.0.1` are allowed for `http` scheme.

Which is also allowed for the `redirect_uri` in the [authentication request](http://openid.net/specs/openid-conn

[2015-08-31 20:35] #83 closed, assigned to yifan-gu

[2015-08-31 20:43] #97 closed, assigned to nobody

[2015-08-31 21:30] #61 closed, assigned to nobody

[2015-08-31 23:18] #44 closed, assigned to nobody

[2015-09-02 23:22] sym3tri opened #107 "add dex to list of libraries on OIDC site"
After we push the button... we should get added to this list.

http://openid.net/developers/libraries/

[2015-09-03 01:00] #47 closed, assigned to nobody

[2015-09-03 19:16] bobbyrullo opened #110 "Put issuer name and logo in discovery"
@josephschorr requested so clients can display info about the issuer.

[2015-09-04 00:24] heckj commented on #57
@bcwaldon out of curiosity, why switch from semaphore to jenkins?

[2015-09-04 00:29] bcwaldon commented on #57
@heckj Hi, Joe!

We have had a lot of issues with all hosted CI systems, not just semaphore, when it comes to automating docker builds. We haven't found something that provides a good experience around the multi-step build/test/publish process, where multiple calls to a docker daemon are required.

Semaphore, for example, doesn't actually have a public docker environment. One of our developers has

[2015-09-04 01:10] JasonGiedymin commented on #57
Here here. I've resorted to the same with my projects of which build dockers in composition (+ release triggers).

[2015-09-04 13:11] philhug opened #112 "connectors: add a SAML"
Being able to proxy requests to a SAML IdP is useful sometimes.
I already have a semi-working implementation and will provide a pull request as soon as it's cleaned up.

[2015-09-04 13:13] philhug opened #113 "support login with username/password"
Some prefer to use username/password for authentication instead of email/password.

[2015-09-04 13:25] albertoleal commented on #113
That's ok if there is just one authentication provider, because the same username could be different people using Twitter and Github, for example.

We had used username before we changed to email on a project I work on, just because we decided to add many providers.

[2015-09-04 16:07] sym3tri opened #114 "link to godoc in readme"

[2015-09-04 19:47] bobbyrullo commented on #112
that's awesome phil - I can't wait to see it.

[2015-09-04 19:57] bobbyrullo commented on #113
We went back and forth on this internally, before we decided to open source, and finally ended up with email, mainly for the reason that we wanted to make registering as frictionless as possible. But there are many good reasons for doing username.

However....making it configurable seems like it might be a PITA - we'd always be worrying about two code paths whenever we deal with registration, chan

[2015-09-04 20:34] philhug commented on #113
preferred way would be to have it centralized and collect both email (email validation) + username.

@bobbyrullo I could live with the limitation that email needs to be present and unique as well, which should reduce the complexity
I currently don't need the option to change the username.

[2015-09-04 20:39] philhug commented on #112
I'm currently using https://github.com/RobotsAndPencils/go-saml as the SAML libary.
it has some disadvantages as it executes the xmlsec1 binary to verify SAML signatures, but I haven't seen a native xmlsec go library yet.

[2015-09-04 22:40] heckj commented on #57
@bcwaldon Hey Brian! Thanks - makes sense.

I still haven't shifted to building docker (or other container) images for anything I'm building directly yet. Are the relevant scripts in this repo? I'm kind of curious to see what you're doing and how you're doing it, just to keep up a bit. Or can you point me at a sample GIST or somethat that has the rough script?

[2015-09-06 14:03] dalu opened #115 "Support MongoDB Database"
So far dex apparently supports pgsql, in-memory.
I'd like to help out (also for my own benefit) and make it support mongodb via the gopkg.in/mgo driver.

However it seems like pgsql is hardcoded and dex isn't storage-agnostic.

[2015-09-07 12:43] rohe commented on #107
You should also verify your implementation using the tools provided by the OpenID Foundation http://openid.net/certification/ .
If you have any questions about this talk to me - I'm the maintainer of the tools.

[2015-09-08 15:26] bobbyrullo commented on #107
Thanks @rohe, that's definitely [on our radar](https://github.com/coreos/dex/issues/42).

[2015-09-08 15:29] bobbyrullo commented on #57
@heckj :This is the Jenkins build script gist - all sub-scripts mentioned are in the root level of the repo:

https://gist.github.com/bobbyrullo/84cd5f0f24f68b1f3175

[2015-09-08 15:41] bobbyrullo commented on #115
@dalu - we'd love for dex to support more storage backends. Yes, pgsql is more or less hardcoded right now, so that would need to change, but that was due to expedience rather than any desire for pgsql to be the One True RDBMS backend.

So, if you do go down the route of adding mongo DB support, you'd have to unhardcode pgsql somehow. However it _most_ of the pgsql code is still applicable to othe

[2015-09-10 06:52] ajanthan opened #116 "Warnings while building"
While executing ./build i am getting following warnings

➜  dex git:(master) ./build
Could not find go-bindata in path, will not generate migrations
\# github.com/coreos/dex/cmd/dex-worker
link: warning: option -X main.version b340660d6d7ec8064d65a67180b1b4f4b346d581 may not work in future releases; use -X main.version=b340660d6d7ec8064d65a67180b1b4f4b346d581
\# github.com/coreos/dex/cmd/dex-overl

[2015-09-10 06:55] ajanthan opened #117 "Wrong link to deployment guide in getting-started.md"
The link to "deployment guide" in getting-started.md is pointing non existing doc

[2015-09-10 10:44] philhug commented on #112
https://github.com/philhug/dex/tree/saml

[2015-09-10 11:12] dalu commented on #115
Hmm I think I'll wait and see what @bcwaldon comes up with and then make adjustments.
Too many cooks :)

Something like
[code]

I think I remember a package that would abstract most common databases, I'll search around

[2015-09-10 17:46] bobbyrullo commented on #115
I wasn't suggesting try to share too much code between Mongo and Postgres implementations, I was thinking more between (for example) Postgres and MySQL implementations.

As for your storage interface - yeah something like that sounds about right - right now we're pretending that you can have a UserRepo and a ClientIDRepo from two different backends, but that doesn't really work, so it would be bet

[2015-09-11 04:46] nphase commented on #112
This would be awesome!

[2015-09-11 19:45] rektide opened #119 "connectors: LDAP"
Being able to proxy requests to a LDAP is useful.
I would love an even semi-working implementation.

This feature was [mentioned in the announcement](https://coreos.com/blog/announcing-dex/).

[2015-09-13 00:05] neumino opened #120 "Cannot connect to a dex-worker"
Hello ladies and gentlemen. I have a few issue setting up a dex environment. I'm currently just trying to set up on my own machine. I'm using the container on quay.io/coreos/dex.

Postgres is running, and the overloard and worker seem to work fine. I can register my app without problem.

My problem is when running the app example. I get the following errors:
[code]

If I try a `wget` on the url th

[2015-09-13 04:48] neumino commented on #120
Hum, seems to be related to the container itself. I can connect if I manually build it.
Closing as it's not related to dex.

[2015-09-13 04:48] #120 closed

[2015-09-13 06:18] neumino commented on #120
Commenting just in case someone run into that.

I was just missing the parameter `--listen` for the dex worker.

[2015-09-14 01:07] neumino opened #121 "Empty url issues with Google"
I'm currently just testing dex, and I have some trouble to register/login with Google. The local connector works fine. Some logs first:

The overlord:
[code]

The dex worker
[code]

Setting the connectors, nothing special, I get this back.
[code]

Registering my app
[code]

Running the app
[code]

Content of `wget http://localhost:5556/.well-known/openid-configuration` (what `test.go` printed)
[co

[2015-09-14 17:34] bobbyrullo commented on #121
Hey @neumino - dex workers don't (yet!) dynamically pick up new configs, so you have to restart your workers if you change the configs. Let me know if that sorts you

[2015-09-14 21:03] sym3tri commented on #119
Yes! This is something we're very interested in doing, but no work has begun on this feature yet. If you can add more details about what sort of integration features you'd like that would be helpful for whoever picks this up.

[2015-09-15 04:31] neumino commented on #121
Hey @bobbyrullo - I just tried to restart the worker, but still have the same issue.
It's not a browser cache issue too. Just tried in incognito.

Any idea what I could be missing?

[2015-09-15 14:39] philhug commented on #119
here's a list of configuration options needed for a read-only connector, without group support:
* connection string or server/port/ssl (ldaps://ldapserver:389)
* basedn
* searchdn / searchpass (DN used to search user)
* searchbase (where to search for users)
* searchfilter, e.g. (&(objectClass=person)(mail=?))

for password change we might need:
* passwordhashmethod (SHA)

if registration should b

[2015-09-15 22:20] bobbyrullo commented on #121
neumino: I know this is lame, but you could inspect the database to take a look at the connector configs. I'm guessing that they didnt' get set correctly.

[2015-09-16 04:35] neumino commented on #121
Hum, I have two entries in connector_config
[code]

[2015-09-16 05:18] zyren88 opened #122 "ERROR: Unable to migrate database, retrying in 1m0s: user: Current not implemented on linux/386"
why i run  standup-db.sh by "DEX_GOOGLE_CLIENT_ID=<<your_client_id>> DEX_GOOGLE_CLIENT_SECRET=<<your_client_secret>> && source  contrib/standup-db.s" failed?
it should happped when run command "./bin/dex-overlord &", error notice is:
ERROR: Unable to migrate database, retrying in 1m0s: user: Current not implemented on linux/386

i have installed and running postgress, and can operate db using psql

[2015-09-16 13:32] zyren88 commented on #122
I have solved this problem myself.
go env show
GOARCH="386"    (i don't know why)
GOHOSTARCH="amd64"
 it should be
GOARCH="amd64"
GOHOSTARCH="amd64"

[2015-09-16 13:32] #122 closed

[2015-09-16 23:51] bobbyrullo commented on #122
Phew!

[2015-09-17 04:30] neumino commented on #121
Err tracking down the bug, I eventually found out the problem. I wasn't passing the --connectors argument to the worker. It seems to work fine now.
Thanks!

[2015-09-17 04:30] #121 closed

[2015-09-17 05:07] bobbyrullo commented on #121
@neumino - that flag should only be used if you are doing --no-db, and if you are using --no-db, there's no database and no overlord.

[2015-09-17 05:26] neumino commented on #121
Never mind, it actually works fine if I don't use a container. Running directly the worker from the source works fine (passing --connectors is indeed irrelevant)

[2015-09-17 14:15] cpswan opened #123 "Documentation: no need to create a new Google project"
The getting started guide specifies that a new Google project should be created, but it's equally good to use an existing project.

[2015-09-17 14:22] cpswan opened #125 "Documentation: specify where API keys are created in Google Developer Console"
The getting started guide presently says 'Click on Credentials' without specifying that it's part of the APIs and auth menu

[2015-09-17 14:44] cpswan opened #127 "Documentation: note that database must be created by a suitable user"
`createdb dex_db` will only work for a user with access to postgresql

[2015-09-17 16:23] #123 closed

[2015-09-22 15:59] cpswan opened #130 "panic: runtime error: index out of range"
I'm trying to get a basic Dex system up and running by following the [getting started guide](https://github.com/coreos/dex/blob/master/Documentation/getting-started.md).

I'm running inside an ubuntu:14.04 container that I've installed Go 1.4.2 and Postgres 9.3 into.

After some futzing with psql authentication I have a dex_db created, and I've set up the credentials into the connection string `DE

[2015-09-24 20:31] treilly1969 opened #131 "Can the SCIM specification be supported for user provisioning?"
Hi CoreOS team,

Would it be possible to include REST APIs that adhere to the SCIM specification (http://www.simplecloud.info/) for identity provisioning, fronting the persistent Postgres store and in-memory cache.

Thanks

Tommy Reilly

[2015-09-25 08:32] bictorman opened #134 "Compilation error"
[code]

[2015-09-25 18:04] bobbyrullo opened #135 "when clicking the "looks like you've already registered link" invalid request"
from logs:
ERROR: Invalid auth request: missing 'openid' in 'scope'

[2015-09-25 22:36] #134 closed

[2015-09-29 05:15] #125 closed

[2015-09-30 02:41] joeatwork opened #142 "Titles of Public facing dex pages are "Dex""
When logging in, the title of the page the user sees is "dex". It would be cool if this was (maybe just slightly) configurable, like --issuer-logo-url, so we could see "Bananacorp Login"  or just "Bananacorp Authentication" or something in the browser's title bar and in bookmarks.

[2015-10-06 16:10] joeatwork opened #148 "/reset-password URL path may confuse users who have never set a password before"
Right now, when a user is invited for the first time they often hit a URL of the form `/reset-password?token=....` - it would be a bit more natural if that endpoint was spelled (in this case only) `/invite?token=...` or something similar.

[2015-10-06 22:03] joeatwork opened #151 "Don't show reset password email link when emailer is not configured"
This might block #146 from merging

[2015-10-07 17:41] joeatwork opened #152 "dex API should return 403, not 401, if users are authenticated but not authorized"
For example, attempts to access `/users` by non-admin users should return 403, not 401

[2015-10-12 05:25] polvi opened #153 "offline_access binary data encoding bug"
When I use the offline_access scope, the returned oauth2.TokenResponse.RefreshToken is a literal string([]byte) data. It should be a base64 string of the binary data.

I encountered this issue while using offline_access scope and doing `oac.RequestToken(oauth2.GrantTypeAuthCode, code)`

[2015-10-12 21:40] yifan-gu commented on #153
@polvi Are you using `--no-db`? `--no-db` will use a in memory backend which is for testing, in that case the returned the token is binary for easy testing. This should not happen with postgres as backend. But I filed a fix for it.

[2015-10-13 16:35] #153 closed

[2015-10-13 19:39] bobbyrullo commented on #148
Maybe we could have /reset-password and /invite both have the same handler?

[2015-10-13 20:34] joeatwork opened #156 "don't format NumericDates as floating point in tokens"
I got a token with the following claims from dex

`{..."exp":1.444810947e+09, ... "iat":1.444767747e+09 ....}`

These dates happen not to lose any precision, but the scientific notation sure freaked me out for a minute! It might be better to spell these as decimal integers in longform (particularly since you don't save any bytes adding the extra decimal and exponent in this case.)

[2015-10-13 22:55] joeatwork commented on #148
That sounds really good to me!

[2015-10-14 17:51] bobbyrullo commented on #148
just capturing what we talked about in person: /respond_to_invite (or whatever) will do two things: mark email_verified as true, and redirect to change password handler.

[2015-10-19 10:45] jonnenauha opened #159 "build-units has invalid paths"
[code]
working paths
[code]

[2015-10-21 23:30] bcwaldon opened #162 "Confusing error message on user creation"
I deployed dex using a fake emailer config, and when I tried to add a user I saw the following error message (verbatim): `ERROR: error sending password reset email No HTML or Text template found for template name.:`. I feel like there is some context missing from this after the colon.

[2015-10-22 18:42] ecnahc515 commented on #162
My guess is that an empty string was passed as the "name" of the template execute, rather than the context missing after the colon.

[2015-10-22 19:04] bobbyrullo opened #163 "make sure email addresses are trimmed"

[2015-10-22 21:59] bobbyrullo commented on #162
No guessing please. The issue was an incorrectly named environment variable.

[2015-10-22 21:59] #162 closed

[2015-10-22 22:04] bcwaldon commented on #162
@bobbyrullo woo, thanks!

[2015-10-22 22:05] bcwaldon commented on #162
For reference: https://github.com/coreos/dex/pull/164

[2015-10-23 17:47] sym3tri opened #166 "feature request: automatically login oidc accounts from registration page"
Currently if a user registers with a Google account, then goes back to the site and tries to _register_ again with the same account they get a vague error message. Instead we should just log them in b/c they almost certainly meant to click "login" instead of "register".

[2015-10-27 20:43] stongo commented on #71
+1 to more docs please :)

[2015-10-29 22:03] #98 closed

[2015-10-31 14:23] tony-kerz opened #169 "register?"
so, i followed the [getting started instructions](https://github.com/coreos/dex/blob/master/Documentation/getting-started.md).

i am looking to set up an internal oauth2-provider, so i commented out the google stuff from `$DEX_CONNECTORS_FILE` and am using `"type": "fake"` in the `emailer.json` file

so, when i clicked the `register` link, i am presented with this:
<img width="504" alt="screen sho

[2015-10-31 18:29] polvi commented on #169
You need to add the flag `--enable-registration=true` to `dex-worker`.

[2015-11-01 19:55] tony-kerz commented on #169
thanks alex, that worked.

i guess maybe this issue could be converted to a suggestion to call that out in the documentation somewhere?

[2015-11-02 21:54] #169 closed

[2015-11-03 21:38] joeatwork commented on #166
+1 - let's drop the whole magic register/login thing and just let the user explicitly choose?

[2015-11-03 22:38] bobbyrullo commented on #166
+1 to the fix, -1 the dropping the magic. +1 to adding *more* mag :)

What I mean is: It's still useful to have a link to a registration page. But it can be smarter about what happens when someone comes in with an existing account.

FWIW we already have "just let the user explicitly choose" - there's a reg link on login page and vice versa; this bug is asking for more than that.

[2015-11-04 18:21] bcwaldon commented on #159
Yep, good catch! We should either remove that, or relocate those files into contrib/

[2015-11-04 18:24] bcwaldon commented on #156
FYI This is golang's default behavior. Is this causing you any parsing errors? Will this make it more difficult to consume dex JWTs in different languages? Does this conform to the OIDC/JOSE specs?

[2015-11-04 18:29] bcwaldon commented on #151
Emailer is always required (based on discussion in #146), so this is not necessary.

[2015-11-04 18:29] #151 closed

[2015-11-04 18:33] bcwaldon commented on #142
We already provide configurability of the `--issuer-name`, so we should just use that value for the page titles.

[2015-11-04 18:38] bcwaldon commented on #131
We don't have any plans to support SCIM right now, but we will definitely consider it. OIDC provides enough of what dex needs for the time-being, but if the scope of dex grows into authorization, SCIM may make a lot of sense.

[2015-11-04 18:43] bcwaldon commented on #117
@ajanthan thanks for the bug report, fixing now!

[2015-11-04 18:43] #117 closed

[2015-11-04 18:45] bcwaldon commented on #116
Fixed via #141

[2015-11-04 18:45] #116 closed

[2015-11-04 18:47] bcwaldon commented on #115
@dalu for now, I don't think we can reasonably support more than one backend. If the demand for a backend other than postgresql grows, or if we feel differently about our ability to support multiple backends, we will definitely consider mongodb.

[2015-11-04 18:47] #115 closed

[2015-11-04 18:49] bcwaldon commented on #113
Sticking with email/pw for now.

[2015-11-04 18:49] #113 closed

[2015-11-04 18:51] bcwaldon commented on #110
We need to look into how we can fit this into the existing OIDC discovery endpoint.

[2015-11-04 18:51] joeatwork commented on #156
I suspect that parsers are going to want to store these as floating point, which will mean they'll lose precision. In these cases, we really want integer values. I read this as the difference between "27" and "27f".

The JSON RFC actually says this sort of thing is (probably?) ok:

http://rfc7159.net/rfc7159#rfc.section.6

Still, there is enough wiggle in there that it seems like formatting the nu

[2015-11-04 18:56] bcwaldon commented on #100
two things to do:
1. drop support for https when issuer URL is not localhost or 127.0.0.1
2. log a big warning if using http

[2015-11-04 18:59] #94 closed

[2015-11-04 18:59] #90 closed

[2015-11-04 18:59] #91 closed

[2015-11-04 19:08] #68 closed

[2015-11-04 19:08] #69 closed

[2015-11-04 19:18] #62 closed

[2015-11-04 19:19] #48 closed

[2015-11-04 19:19] #49 closed

[2015-11-04 19:20] #51 closed

[2015-11-04 19:22] #45 closed

[2015-11-04 19:24] bobbyrullo commented on #43
We're not going to be supporting backends other than postgres. closing this for now.

[2015-11-04 19:24] #43 closed

[2015-11-04 19:31] #37 closed

[2015-11-04 20:24] #29 closed

[2015-11-04 20:26] bobbyrullo commented on #33
Need to think more on this one; might be a problem from client (RP) perspective.

[2015-11-04 20:28] #24 closed

[2015-11-04 20:28] #27 closed

[2015-11-06 15:58] stongo commented on #73
bump - especially User Administration API

[2015-11-08 11:09] philips commented on #112
@philhug how is this going?

[2015-11-08 11:12] philips commented on #119
The first step here would be for someone to provide an example configuration of openldap with some users and groups. That would give someone less familiar with ldap a starting point.

[2015-11-08 11:25] philips opened #175 "groups: add a concept of a directory of users"
Teams are a fairly essential part of an identity service. Unfortunately, OIDC doesn't have a spec for that. The basic operations are:
- Create Group
- Delete Group
- Add User to Group
- List Users in Group

The two obvious APIs to copy from are either Google or GitHub's.

GitHub teams: https://developer.github.com/v3/orgs/teams/#list-teams
Google Directory Groups: https://developers.google.com/adm

[2015-11-10 17:43] philips opened #177 "connectors: higher cap on connectors"
Going through the getting started guide it can be rather annoying to have the exp. backoff go off to 1 minute. Is there a reason for the exp backoff? Can we cap it at 1 second or something?

https://github.com/coreos/dex/blob/9172f54fc2e35667f6ac5bb4fd303f5893e2d13b/cmd/dex-worker/main.go#L169

[2015-11-10 20:16] lcacciagioni commented on #163
And then used as user id?

[2015-11-11 09:07] fnordahl commented on #119
I have a LDAP Connector in the works. It is not quite ready yet, but I would really like initial feedback/reviews nontheless.

Please have a look at #178

[2015-11-12 02:04] sym3tri opened #180 "login screen renders double output"
Steps to reproduce:
- try to login with gmail
- dex says: try registering with gmail
- register with gmail
- get crazy double-rendered screen as output that displays 2 errors: "There was an error processing your request", and "That email is already in use; please choose another".

I think this may be b/c I have a local user already by that email, and somehow during the series of steps above a resp

[2015-11-13 01:34] philips opened #181 "connectors: add a bitbucket connector"
I don't think bitbucket has OIDC but OAUTH 2.0: https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html

So, implement a connector and document it.

[2015-11-13 01:46] philips commented on #119
@fnordahl Nice! I would love to have an example kubernetes setup with openldap that we could test against too.

[2015-11-13 19:42] fnordahl commented on #119
@philips I have linked to a openldap Docker image that may be usefull and wrote some notes in a comment on the PR. Let me know if there is anything else I can provide/help with.

[2015-11-18 16:25] stongo commented on #135
I'm going to try to fix this today. This function doesn't maintain the scope query params https://github.com/coreos/dex/blob/2a1d32e6e8e983cebdb50999ddd5c2cc73a945e8/server/register.go#L283

[2015-11-18 18:13] bobbyrullo commented on #135
Awesome - thanks @stongo

[2015-11-18 20:14] #135 closed

[2015-11-18 23:25] joeatwork opened #184 "api: can't resend an invite email"
For administrators and user management tooling - it would be useful for administration clients to be able to stimulate invitation, email verification, and password reset messages, for example when the original messages are spam filtered or dropped.

[2015-11-19 11:25] juanjovazquez commented on #131
@bcwaldon you mentioned "if the scope of dex grows into authorization". I thought that authz was definitely considered in the roadmap. Is this still true?.

[2015-11-19 12:43] juanjovazquez opened #185 "organizations support?"
In the process of evaluation of IAM solutions for an SaaS application, we're assessing if dex could be an option (maybe in the long term). However, it'd be mandatory for us to be able to manage different organizations or tenants in order to set specific policies for them. It'd be something similar as the concept of Organizations in [Github's security model](https://github.com/blog/674-introducing-

[2015-11-19 19:04] bobbyrullo commented on #185
Hi @juanjovazquez - We are almost definitely going the route of adding some notion of groups to dex (see #175). There's a bit of trickiness involved in the way groups interact with clients/RPs (clients in the OAuth2 sense) eg, what clients have visibility to what groups. And we're also exploring whether or not we can make this interact with OIDC in a nice way (are group memberships in the Identity

[2015-11-19 19:04] bobbyrullo commented on #185
closing this as a dupe of #175

[2015-11-19 19:04] #185 closed

[2015-11-20 21:19] chancez opened #186 "Implement full OIDC dynamic client registration spec"
http://openid.net/specs/openid-connect-registration-1_0.html

Dex supports dynamic client registration but does not implement much of the oidc dynamic client registration spec specifically. It would be great if we ensured we actually conform to the spec, as well as provide some of the optional features in it, as they could be useful for us.

Things which we can benefit from by implementing this:

[2015-11-21 00:06] stepanstipl commented on #175
+1

[2015-11-24 17:48] philips commented on #66
Has anyone thought about how this would be implemented? This is something I feel is necessary before we run a public dex.coreos.systems that is used to authenticate our users into our k8s clusters.

[2015-11-24 19:02] bobbyrullo commented on #66
I think it could be done relatively easily with a flag + some logic in the registration code.

[2015-11-25 19:37] philips commented on #175
Here is an initial design doc: https://docs.google.com/document/d/1OCKW-8rBCngBFWMMrSGokKqWt-a8lg3WvfrejcETBMA/edit#heading=h.9kkruegwavaf

[2015-12-01 16:55] ericchiang opened #189 "user: ValidEmail incorrectly marks bad emails valid"
Noticed this when submitting #188

The `user` package's [`ValidEmail`](https://github.com/ericchiang/dex/blob/a9ab63893db219c73a25eed25d1967251b6ce96c/user/user.go#L160-L170) helper sometimes marks bad emails as valid.

[code]

Because `mail.ParseAddress` stops once it identifies a valid email address, a valid email flowed by junk is incorrectly marked valid.

[2015-12-01 20:06] #189 closed

[2015-12-01 20:07] #163 closed

[2015-12-02 16:44] ericchiang commented on #26
@bobbyrullo could you elaborate a little more on this one?

[2015-12-02 18:12] ericchiang opened #194 "example-app: email link produces error"
Steps to reproduce

1. Start dex-worker and example-app
2. Register with email
3. Follow link produced
4. Page returns 400 with `{"error":"code query param must be set"}`

However I can now login just fine.

[2015-12-02 18:15] joeatwork commented on #194
I suspect this is due to interface rot - when you followed the link, were you given the opportunity to change your password? Or did the link fail immediately?

[2015-12-02 18:16] ericchiang commented on #194
Failed immediately

[2015-12-02 19:38] ericchiang opened #196 "connector: make underlying http.Transport swapable"

[2015-12-02 21:21] #127 closed

[2015-12-03 19:57] bobbyrullo opened #198 "User Mgmt API and Admin API should validate connector existence"
Right now it seems possible to create a user through the APIs for a connector which does not actually exist (eg. local). Make sure that's not possible.

cc: @silas, @bcwaldon

[2015-12-04 14:35] ericdai opened #200 "Add MySQL support for storage"
we are a mysql and  ms sql server based company ,we did not use postgresql.
so I want to know if there is  any plan to support mysql and MSSQL server?

[2015-12-04 15:27] bcwaldon commented on #131
I have not spent enough time with SCIM to know precisely what it provides beyond what OIDC already gives us. I want to avoid creating a custom authz solution if it can be avoided, so if we were to tackle authz in dex I would want to implement an existing spec. Without that existing spec, I am hesitant to push dex towards a full authz solution.

[2015-12-04 17:21] juanjovazquez commented on #131
Thanks. It's this [document](https://github.com/coreos/dex/blob/master/Documentation/authorization.md) that I thought authz was definitely in the roadmap. So, is this document still under consideration?.

[2015-12-07 15:30] silas opened #201 "Feature: Allow invites to work for not just local connector."
Invitations emails currently don't seem to support the oidc connector.

**Steps**
- enable only oidc connector
- disable registration
- send invitation email

**What happens**

The invitation email redirects me to a page that asks me to enter a new password.

**What I expect to happen**

Some type of oidc flow.

[2015-12-07 17:00] joeatwork commented on #201
I think this might be as designed. That is, the invitation email link

1) verifies your email address when you click it, and then
2) bounces you to a "Set a password" page, and then
3) directs you to someplace in the client app (as configured by the client app)

Is that what you're experiencing?

[2015-12-07 17:12] silas commented on #201
The user couldn't login after going through the flow. Prompting the user for a password doesn't really make sense when the local connector isn't enabled.

The entry added to `remote_identity_mapping` had a blank `connector_id` field, so I don't think ti would ever work.

[2015-12-07 17:30] ericchiang commented on #200
Adding additional backends isn't in the immediate roadmap. But, because dex uses [gorp](https://github.com/go-gorp/gorp) to construct queries and [sql-migrate](https://github.com/rubenv/sql-migrate) for migrations, other SQL flavors _should_ work.

If you'd like to test MySQL or MSSQL server, I'm sure others would appreciate it!

To test other drivers, you'd need to alter:
1. The database connecti

[2015-12-07 17:35] joeatwork commented on #201
Aaaaah. Got it.

[2015-12-07 18:33] bobbyrullo commented on #200
I am pretty sure there are postgres specific features in there - some stuff
related to quoting in SQL statements comes to mind.

But yeah, like Eric said, supporting other backends is not a priority for
us over here.

On Mon, Dec 7, 2015 at 9:30 AM Eric Chiang <notifications@github.com> wrote:

[2015-12-07 18:48] bcwaldon commented on #66
Working on this.

[2015-12-07 19:00] joeatwork commented on #201
Ok, talked with @bobbyrullo  - this is actually a missing feature/design in dex - that being "How do we bless individual external oidc users"

[2015-12-07 19:31] bobbyrullo commented on #201
given that, can you rename this issue or close this issue and make a new one?

[2015-12-07 19:57] ericchiang opened #203 "connector: Document Connector interface"

[2015-12-07 22:17] bcwaldon commented on #131
@juanjovazquez ah, that was an early attempt at a design doc. We should update it to make it clear it is a potential long-term direction for dex.

[2015-12-07 22:57] #114 closed

[2015-12-07 23:42] #86 closed

[2015-12-07 23:45] bobbyrullo commented on #196
can you add a little more context here? Which http.Transport? And Why?

[2015-12-07 23:46] bobbyrullo commented on #194
@ericchiang - was this with a --no-db setup?

[2015-12-08 00:14] ericchiang commented on #194
@bobbyrullo this was. Will test with a database when I get a sec.

[2015-12-08 00:19] ericchiang commented on #196
All the connectors use the default http.Transport (and default http.Client). Was brought up that if we ever need to configure custom TLS settings, proxy envs, timeout values, etc., in the future this would have to be configurable.

Might have opened this issue preemptively. Since this doesn't address a specific problem, going to close it.

[2015-12-08 00:19] #196 closed

[2015-12-08 01:44] #198 closed

[2015-12-08 18:50] ericchiang commented on #194
same thing with the database

[2015-12-08 20:19] bobbyrullo commented on #194
uggh. Saw that you self-assigned - thanks for looking into it. Let me know if you get stuck or have any questions.

[2015-12-09 06:56] ericchiang commented on #194
The redirect dex generates after verifying an email address is missing a `"code"` query parameter for the client (example-app) to exchange for a token. It's just the following:

[code]

Here's the code associated with creating that callback URL in [`server/email_verification.go`](https://github.com/coreos/dex/blob/cec3cd44510a13b5d607c3028470960b69bfb15e/server/email_verification.go#L218-L245).

[

[2015-12-09 17:58] ericchiang opened #207 "Use releases and milestones"
Talked to @bobbyrullo about this.

Probably best to start tagging releases for dex. Particularly with large, new features (aka groups) in the pipeline. Also, issue milestones would help clarify the roadmap which isn't well documented at the moment.

[2015-12-10 03:12] #99 closed

[2015-12-10 16:56] ericchiang commented on #181
Add in #197

[2015-12-10 16:56] #181 closed

[2015-12-15 09:21] Brahmasmi opened #212 "Typo in well-known open id configuration JSON response"
The JSON response from /.well-known/openid-configuration currently uses [1]
[code]
instead of this [2]
[code]
[1] https://auth.tectonic.com/.well-known/openid-configuration
[2] https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata

[2015-12-15 21:58] bcwaldon commented on #66
My first attempt was to add a check to the OIDC connector's callback handler, which effectively prevents any user from logging in to a remote OIDC Identity Provider. I left the code for this here: https://github.com/coreos/dex/tree/oidc-domain-filter. The UX provided by this solution isn't quite right, so I'm holding off on this until we figure out a better solution. The specific issue I ran into

[2015-12-16 17:26] ericchiang commented on #130
Giving `--key-secrets` an empty list causes this panic.

[code]

[2015-12-16 20:26] colhom opened #217 "nil pointer panic in overlord"
I'm seeing a panic when key-secrets is empty. (I did this by mistake). This is happening with the latest docker image:

repo=quay.io/coreos/dex
tag=031fef508db2

Possibly related to #130
Here's the stack trace

[code]

[2015-12-16 20:54] ericchiang commented on #217
Code causing the panic in `github.com/coreos/go-oidc/key` is [here](https://github.com/coreos/dex/blob/bf13c3bc37aca48f027bf960a4361a8059d975ae/Godeps/_workspace/src/github.com/coreos/go-oidc/key/rotate.go#L68-L80) (last line).

Yes, this this is being caused by providing no key-secrets. We're creating a pointer to return but never assigning to it [here](https://github.com/coreos/dex/blob/master/d

[2015-12-16 22:22] bobbyrullo opened #219 "Make the go-bindata generated scripts use go-generate"
...instead of trying to run on every build.

[2015-12-16 22:27] ericchiang opened #220 "Add a version subcommand to binaries"

[2015-12-16 22:58] #207 closed

[2015-12-16 23:06] bcwaldon commented on #220
I would suggest a subcommand only for `dexctl`, and a `--version` flag for all binaries.

[2015-12-16 23:09] #212 closed

[2015-12-16 23:17] colhom opened #222 "dex-worker health check reports 500 due to failing oidc connector healthcheck"
The `dex-worker` health check will return
[code]

Even when a valid oidc connector is present. Interesting enough, re-setting the connector via `dexctl` will cause the health check to return 200. Restart dex-worker, and we're back to 500 for the health check.

[2015-12-16 23:18] #142 closed

[2015-12-17 01:46] bobbyrullo commented on #217
"low hanging fruit" - so confident!

[2015-12-17 09:20] Brahmasmi opened #224 "Update UUID repository reference"
The currently referenced uuid repository,
[code]
(for example in https://github.com/coreos/dex/blob/master/user/user.go) is pointing to an old location and may be missing updates. The repo has now moved to https://github.com/pborman/uuid, as mentioned on https://code.google.com/p/go-uuid/.
[code]

We may want to update our references to the uuid repository.

[2015-12-17 14:23] Brahmasmi opened #225 "Request for guidance - Authenticating a trusted native app"
Use case: Authenticate an end-user using a native client application, which is built by the same organization as that running the dex server, and is thus trusted. Additionally, the native application is a public client since it cannot securely store its client credentials. As an example, consider an android app built by coreos authenticating with coreos' dex in the local connector configuration.

[2015-12-17 17:24] #130 closed

[2015-12-17 17:24] #217 closed

[2015-12-17 18:14] ericchiang commented on #225
This sounds like the OIDC [implicit flow](http://openid.net/specs/openid-connect-core-1_0.html#ImplicitFlowAuth) (though I admittedly have very little experience with native client apps):

I don't think dex currently supports this. It's not that its design prevents implicit flow support, but CoreOS doesn't use that flow internally so it's not been tested.

It's not on the immediate roadmap, though

[2015-12-17 19:26] ericchiang commented on #222
I can reproduce this somewhat. On startup there is a brief period when the configuration hasn't been fetched from the remote OIDC provider. During that time dex will return a 500, though it then goes back to 200.

Here's me hitting `/health` every 0.1 seconds.

[code]

While this is an issue, this doesn't sound like your problem since it fixes itself pretty quickly.

Are there anything in the dex-

[2015-12-17 20:33] Brahmasmi commented on #225
I am not an expert on this, so please bear with me. I may be wrong here, but I think that the implicit flow probably may not be the solution.

Based on my very limited understanding, the OIDC implicit flow seems to map to the OAuth 2.0 Implicit Grant type (https://tools.ietf.org/html/rfc6749#section-4.2). This flow is specifically for clients implemented in a browser.

This graphical overview (htt

[2015-12-18 23:32] bobbyrullo opened #227 "track last time user logged in"
...should we have a user activity log?

[2015-12-18 23:34] bobbyrullo commented on #227
from @sym3tri: good for tracking stale accounts and whatnot.

question: how do we get at this info besides DB access?

[2015-12-18 23:35] bobbyrullo opened #228 "self service account disable"
The user should be able to disable themselves.

[2015-12-18 23:40] bobbyrullo commented on #201
The way this should work is that when an invite happens, there's no remote connector added (right now the local one is added) and when someone comes in with a remote identity with that email, it merges them.

[2015-12-18 23:47] ericchiang commented on #166
![screenshot from 2015-12-18 15-47-31](https://cloud.githubusercontent.com/assets/2342749/11909651/ac1d4688-a59e-11e5-95ab-16f43d34e9f6.png)

[2015-12-18 23:53] bobbyrullo opened #229 "EmailVerification link should take you to redirectURL with valid access token"

[2015-12-18 23:53] bobbyrullo commented on #194
closed in favor of https://github.com/coreos/dex/issues/229

[2015-12-18 23:53] #194 closed

[2015-12-19 00:40] ericchiang opened #230 "Create swagger documentation for APIs"

[2015-12-21 16:52] ericchiang opened #232 "add functional tests to travis"
It's possible to have Travis CI [use Docker](https://docs.travis-ci.com/user/docker/) for builds. Would be great if we could get the functional tests working with a full Postgres instance.

[2015-12-21 17:49] #219 closed

[2015-12-21 18:00] #203 closed

[2015-12-21 22:46] ericchiang commented on #232
closed in #234

[2015-12-21 22:46] #232 closed

[2015-12-21 23:21] ericchiang opened #238 "make --no-db thread safe"

[2015-12-21 23:37] #238 closed

[2015-12-22 01:13] ericchiang opened #239 "cmd: improve dexctl help"
It's not very helpful right now.

[code]

[2015-12-22 01:25] ericchiang commented on #180
This is what I'm seeing.

* Register with email
* Attempt to login with gmail and get bounced back to the dex worker

![screenshot from 2015-12-21 17-22-35](https://cloud.githubusercontent.com/assets/2342749/11945711/9aad02ba-a807-11e5-83f9-e89311ca035a.png)

* Fill out my email

![screenshot from 2015-12-21 17-22-42](https://cloud.githubusercontent.com/assets/2342749/11945722/b213529c-a807-11e5-8

[2015-12-22 18:57] #177 closed

[2015-12-22 22:18] ericchiang opened #243 "invite email endpoint is not documented"

[2015-12-23 00:55] ericchiang opened #245 "proposal: move API to gRPC with gRPC-gateway proxy"
__low priority__

* Define admin and worker APIs as gRPC services.
* Have dex listen for gRPC requests on high port.
* Register [gRPC-gateway](https://github.com/gengo/grpc-gateway) proxy on HTTP traffic to maintain compatibility with front end JavaScript.

Proof of concept [here](https://github.com/ericchiang/dex/commit/5004ccc2b58d70fd67d88f216a4d00ff7407efc5).

[2015-12-24 02:18] #166 closed

[2015-12-28 17:54] bobbyrullo commented on #245
Do you really think we'll be able to maintain wire compatibility via the gateway? That would be awesome...but I'm skeptical.

Also, do we have to listen on separate ports?

[2015-12-28 18:25] ericchiang commented on #245
With our limited API, yes.

I'm sure there are clever ways we could have them listen on the same port.

[2015-12-28 18:26] bobbyrullo commented on #245
Awesome.

[2015-12-28 22:31] ericchiang opened #247 "postgres can't store RSA keys of length 2048 as primary keys"
coreos/go-oidc#31 introduced a change that increased the default key length from 1024 to 2048 bytes. This causes a bug because the key is now too large to use as a primary key.

[code]

Also, we're not running some functional tests through travis ci

[2015-12-28 22:45] ericchiang commented on #247
The list of SHA1s effected by this bug.

[code]

[2015-12-28 23:07] ericchiang commented on #180
I've not been able to reproduce this bug before or after merging #242. Closing for now. Please reopen if this hasn't been fixed.

[2015-12-28 23:07] #180 closed

[2015-12-29 00:12] #247 closed

[2015-12-29 00:26] #220 closed

[2015-12-29 17:10] ericchiang commented on #239
closed in #249

[2015-12-29 17:10] #239 closed

[2015-12-29 17:15] ericchiang commented on #230
closing in favor of #245

[2015-12-29 20:35] ericchiang commented on #245
Note that grpc-gateway currently uses `encoding/json` which is problematic because generated gRPC structs have `omitempty` on every field. For example here's a struct from rkt's api.

[code]

So for instance when the following message has `AdminUserCreated` as `false`

[code]

grpc-gateway will respond with an empty object (`{}`) rather than `{"AdminUserCreated":false}`. Similar cases might brake

[2015-12-29 20:47] bobbyrullo commented on #245
another thing to consider is authentication

[2015-12-30 02:41] sym3tri commented on #245
`omitempty` on everything was a huge annoyance for our team too. If you go this route you may want to consider using https://github.com/gogo/protobuf. It offers much more flexibility WRT defining tags on the generated structs.

[2015-12-30 20:49] sercand opened #254 "proposal: adding support for pluggable backends"
This issue created as discussion thread of #253. Dex supports only postgres and different storage backends have been requested before on issues like #200 and #115. Therefore, I have created a basic pluggable driver system for dex. Since dex uses abstraction (for example RefreshTokenRepo and ClientIdentityRepo interfaces) to connect db backend, it is quite easy to add a new storage driver.

[2015-12-31 01:07] ericchiang commented on #254
Thanks for opening this!

Couple of initial thoughts.

On the general idea of backends. It's already a huge amount of effort to ensure changes are compatible and backwards compatible with Postgres (migrations, [tricky corners](https://github.com/coreos/dex/issues/247), etc). Additional backends increases the overhead of adding features dramatically.

dex is in the middle of [heavy development](htt

[2015-12-31 01:11] ericchiang commented on #254
p.s. - @sercand I think the etcd backend implementation is terrific! But I'm probably also the guy who's going to have to make sure it works with everything new feature for the foreseeable future :)

[2015-12-31 10:05] sercand commented on #254
I think no need to add extra storage backend to master dex, because it is currently under development. But adding support to pluggable storage backend would be really nice and it will actually make things easy. So I think dex should support adding storage backends but it should't have extra backend on original repo for now.
I have started to implement mongodb and etcd storage backends but not with

[2015-12-31 17:39] ericchiang commented on #254
Sounds good.

Yes I don't want to mess with something that fundamentally doesn't support transactions.

I do like the idea of having a central driver like you proposed in the pull request.

[code]

At the very least it's a good way of documenting all the places our database implements functionality. And might, for instance, help with the "use transactions everywhere" effort.

If we can distill thi

[2015-12-31 17:40] ericchiang commented on #184
@joeatwork like a "resend invitation" endpoint?

[2015-12-31 17:56] joeatwork commented on #184
YES. The use case is
- Administrator signs up Joe, doesn't tell Joe
- Invitation email goes to spam filter, is deleted
- Administrator contacts Joe, they work it out, Joe fixes his filter
- Process crash

[2015-12-31 18:03] bobbyrullo commented on #184
+1 for resend invitation - the other ones actually exist already.

[2015-12-31 18:04] ericchiang commented on #184
Does calling the API endpoint to send an email a second time not work? It seems like that would be a good behavior for the API.

Some of the work we're going to have to do for #201, specifically [bobby's comment](https://github.com/coreos/dex/issues/201#issuecomment-165921459), might help enable this workflow.

Ask for invite email to be sent
  * If a user with a remote connector exists, say "this

[2015-12-31 18:09] joeatwork commented on #184
That could work! We might also want to pull the "send invite" email out from "create user", so that create user would never send an email. That might make the code simpler, and the behavior simpler for callers to predict.

[2015-12-31 19:32] ericchiang commented on #243
Ah there is none. It's just part of creating a user.

[2015-12-31 19:32] #243 closed

[2016-01-04 11:20] jhuntoo opened #255 "API backed User Registration"
I'm implementing user registration in an angular web client, and I'm looking for a method to create a new user, which accepts an email/password

If i'm not mistaken there are 2 ways to create a user
1. the registration flow using the server generated pages
2. the admin api

Option 2  is not suitable as it requires admin privileges. Option 1 isn't ideal for a client side web app.

Am I missing some

[2016-01-04 17:15] ericchiang commented on #255
See [this comment](https://github.com/coreos/dex/issues/225#issuecomment-165535788).

I don't think dex currently supports this. It's not that its design prevents implicit flow support, but CoreOS doesn't use that flow internally so it's not been tested.

The correct way to support applications like this would be to implement the OIDC implicit flow for browser app authentication.

[2016-01-04 17:16] ericchiang opened #256 "Feature: support OIDC implicit flow"
see #255

[2016-01-04 18:37] jhuntoo commented on #255
@ericchiang that looks fine for authenticating a user via a browser app. However what I'm stuck on at the moment is how to create a local users in the first place.

I was expecting to find an endpoint like `/users` to which I could POST a JSON request like
`
{
   "email" : "joe@example.com"
   "password" : "secret"
}`

the User API allows something like this. See the request struct [here](https://

[2016-01-04 18:50] ericchiang commented on #255
dex already has a registration through its web UI. Do an OIDC redirect to dex's login page, the user registers, then they're redirected back to your app with an identity. Does that existing workflow not work for this scenario, and if so how is this proposed solution different?

[2016-01-04 23:45] bobbyrullo commented on #254
yes, that sounds like a good idea. As you're putting a new PR together: please don't change the flags (eg. don't remove --no-db) around more than strictly necessary, and please keep commits small (the smaller the better!) and targeted (the smaller the scope the better!) and follow the commit format in our Contributing file.

Thanks @sercand

[2016-01-04 23:47] jhuntoo commented on #255
The existing registration flow only allows the presentation to be defined by the [html / go template](https://github.com/coreos/dex/blob/7c8e25f2923e71b9736c14abdf25c9acb69c9984/static/html/register.html), and be rendered server-side. This removes the ability to put the presentation logic, in the front-end application where, IMO, it belongs.

The solution I propose is different in that it would al

[2016-01-05 00:32] bobbyrullo commented on #255
The idea of having login and registration UI live within dex is not accidental - we wanted a way for people to use dex as a completely independent component which provides registration and OIDC authentication out of the box, without additional engineering. Our opinionated stance is that endlessly re-inventing authentication flows with every app is dangerous anti-pattern. Not to mention tedious.

H

[2016-01-05 00:47] bobbyrullo commented on #255
Also some background on why the user management API is what it is:

We wanted an API for managing users. We needed an UI, but we didn't want to add UI to dex itself, so we decided to let it be in a client. And we wanted only admin users to perform these tasks, so we require that the client pass an admin user's credentials. And, since an admin user might authenticate to an untrusted client, we requ

[2016-01-06 13:07] jnflint commented on #255
Adding to this issue as it is relevant to my case. For my use case I will probably use the user management API. I am collecting more information such as DOB, phone and address plus an approval process which might be from credit card processing call back or a manual approval. I had thought to use the existing self registration and then gather the additional information as the next step after the us

[2016-01-06 13:42] jhuntoo commented on #255
I've been pondering this issue for the last 2 days. The out-of-box registration is fine, and is great for those who want something safe and rock-solid, though in my particular case I'm soon forced to make compromises with UX.

While this change would be a slight departure from dex's original mandate of "taking care of it all", with a well reviewed implementation and guidance to implementing an API

[2016-01-06 16:57] ericchiang opened #257 "admin: tests do not compile"
Should we nuke them?

[2016-01-06 18:57] bobbyrullo commented on #255
@jhuntoo - Sure, I would love to hear your ideas in this area. A couple of more thoughts that guided some of the design of dex: We had envisioned (and still do!) dex as an Identity provider that, like the way people use Google OAuth and OIDC for authentication and identity,  provides identity for a number of applications (clients).

In such cases people don't expect to customize the Google registr

[2016-01-06 19:02] bobbyrullo commented on #255
@jnflint - are you looking store all your app-specific stuff (CC info etc.) in dex as well?

Also just because you're not using the registration doesn't mean you can't use the login - you can turn off registration with a flag and just use your the user management API for custom "registration"

[2016-01-06 19:04] bobbyrullo commented on #255
@jhuntoo: Also, I think you know this, but you point to wherever you like for the HTML templates. I know this forces you to use Go templates, but it does give you a fair amount of flexibility.

[2016-01-06 23:44] bobbyrullo commented on #257
No, we should make them run. My fault for neglecting to put them in `./test`

[2016-01-07 00:25] jnflint commented on #255
@bobbyrullo good to know I can turn the registration off. I was thinking to store profile/identity related attributes. DOB, contact info etc. (definitely not cc info) plus group membership when that is supported. My use is for a membership database as well as using dex for SSO for a variety of apps. We have a PHP based CMS, but rather than building every future application into that we will integr

[2016-01-07 18:18] #224 closed

[2016-01-07 23:20] ericchiang opened #258 "cmd: improve error message for bad length secrets"
Current error

[code]

Would be really nice if it said something like

[code]

[2016-01-07 23:52] joeatwork commented on #258
+1

[2016-01-08 01:23] sym3tri commented on #258
+1

[2016-01-08 03:42] sadlil commented on #245
@bobbyrullo grpc supports [authentication](https://github.com/grpc/grpc-go/blob/master/Documentation/grpc-auth-support.md).
Here it shows the support of TLS and JWT authentication. Using grpc.WithPerRPCCredentials() we can also implement the Basic or Bearer auth support with the metadata of context.

[2016-01-09 00:39] #258 closed

[2016-01-09 01:01] ericchiang opened #261 "feature: revoking refresh tokens"
Notes:

OAuth2.0 spec provides an example with basic auth.

[code]

Google provides [similar examples](https://developers.google.com/identity/protocols/OAuth2WebServer?hl=en#tokenrevoke):

Salesforce has a similar [endpoint](https://help.salesforce.com/apex/HTViewHelpDoc?id=remoteaccess_revoke_token.htm&language=en).

The API driven revocations I've been able to find are for the OAuth client. End

[2016-01-11 17:30] ericchiang opened #262 "integration testing: OpendID Connect compliance tests"
This has been brought up as a precondition of #42 and #107 but I'm opening a new issue because it's worth addressing on its own.

Use outside compliance tests to evaluate dex's OpenID Connect implementation.

Relevant links:
- [rohe/oidctest](https://github.com/rohe/oictest)
- [OpenID certification page](https://openid.net/certification/)
- [_OpenID Connect Conformance Profiles v1.0_](https://open

[2016-01-12 00:29] ericchiang opened #264 "tests: failed tests are too verbose"
Right now one failed test nukes your console with server logs. Much of this is irrelevant and it's really hard to figure out what's actually failing. Reduce verbosity when tests fail.?

Edit: see example [here](https://gist.githubusercontent.com/ericchiang/38bffbc7b389f52df543/raw/386f80c2ae8b8a2b8f6f93a147bba37a2258b0a5/dex_failed_test.txt)

[2016-01-12 01:23] ericchiang opened #265 "db: functional tests fail if run twice against same DB"
I think this has something to do with the migrations table not being dropped.

[2016-01-12 01:27] ericchiang commented on #222
Closing for now as I believe this might have been fixed by #235 since that PR fixed some client hanging issues. @colhom if you can reproduce this with a more recent version of dex please reopen.

[2016-01-12 01:27] #222 closed

[2016-01-12 17:33] ericchiang commented on #265
Some steps to reproduce

Window 1:

[code]

Window 2:

[code]

Restarting the Postgres database fixes the error.

[2016-01-13 04:01] ericchiang opened #268 "security: update go build to 1.5.3"
Preemptively opening this issue for tomorrows 1.5.3 release.

Plan of attack:
* Update travis to build with 1.5.3 and cutting a 0.2.3 security release.
* Consider rebuilding old commits using 1.5.3 and pushing over existing tags on quay that were built with 1.5.X.

cc @gtank

[2016-01-14 00:18] ericchiang commented on #268
dex v0.2.3 has been [released](https://github.com/coreos/dex/releases/tag/v0.2.3)

[2016-01-14 00:18] #268 closed

[2016-01-15 05:46] colhom opened #270 "base64 decoding error concealed"
https://github.com/coreos/dex/blob/master/db/client.go#L241

I would do a quick PR, but I don't know if it's better to return a compound error message from `Authenticate()`, or to just log in the base64 decode error as well and still return `false,nil`

[2016-01-15 15:21] ericchiang commented on #270
I think that code is handling the error by logging it in the spirit of the [interface it's implementing](https://github.com/coreos/dex/blob/b5c7f1978e0718d9631e512c385eb0dea99b732d/client/client.go#L30-L34).

[code]

Do you have a dex instance that's hitting an error with base64 decoding?

[2016-01-15 19:15] ericchiang opened #272 "Add go version to version command"

[2016-01-15 19:25] ericchiang opened #274 "TestResetPasswordHandler-2 fails on go 1.4.3"
Seen in #271 (a documentation change).

Have seen this before, but rerunning the tests on Travis fixed it. Feels like a test that might only fail every once in a while.

[code]

Full logs here: https://gist.github.com/ericchiang/38bffbc7b389f52df543

[2016-01-15 19:40] ericchiang commented on #274
Aaannndddd the test passes on a second run...

[2016-01-15 23:26] colhom commented on #270
Yes, but it was my own fault and has since been rectified. It simply says `error Decoding client creds`.

I think I may be missing something with this. If [`base64.URLEncoding.DecodeString(creds.Secret)`](https://github.com/coreos/dex/blob/master/db/client.go#L241) returns an error, that error message is never printed/reported. If that's true, we should fix that.

[2016-01-15 23:30] ericchiang commented on #270
To be fair `DecodeString` returns exactly [one type of error](https://golang.org/pkg/encoding/base64/#CorruptInputError), but yeah it probably should be printed.

[2016-01-15 23:57] colhom commented on #270
The message includes what byte in the stream it encountered a problem at. Not widely useful, but definitely worth printing.

[2016-01-16 00:17] colhom opened #276 "Allow dexctl set-connector-configs to read from stdin"
It's be really convenient if this was possible:
[code]

https://github.com/coreos/dex/blob/master/cmd/dexctl/command_config.go#L39

[2016-01-16 00:17] colhom commented on #276
@ericchiang pretty please!

[2016-01-16 00:40] ericchiang commented on #274
Decoded this is the first payload
[code]

This is the sceond
[code]

Somewhere in our code we're calling `time.Now()` twice and assuming they're within a second of each other.

[2016-01-19 17:08] ericchiang opened #278 "clean up server code"
This came up during code review of #267. Server code needs to be better organized and have more established idioms for responding to requests.

[2016-01-19 17:34] #276 closed

[2016-01-19 17:35] #270 closed

[2016-01-19 23:52] #152 closed

[2016-01-20 00:57] bobbyrullo commented on #264
When tests fail I want lots of verbosity - thats how I debug! you can try running one test at a time or something.

[2016-01-20 01:01] joeatwork commented on #264
Right now, you get lots of verbosity from all of the tests - not just the ones that failed - so it's hard to find the verbosity that you want. Maybe it'd be nice to be able to toggle away the texts of emails or HTML pages when a test goes awry?

[2016-01-20 01:02] ericchiang commented on #264
To add to @joeatwork. For a lot of tests it's impossible to know if a logging statement came from a case that was expected to fail or from the one case that wasn't supposed to.

[2016-01-20 01:03] joeatwork commented on #264
One way to have our cake and eat it too here might be to run case-based tests one "test" at a time rather than in a loop - sometimes if the third of 20 test case failed you can't just run the failing case. Maybe super-verbose but per-case tests might be a win for all?

[2016-01-20 01:09] bobbyrullo commented on #264
Ah you are all talking about *cases* of tests. If there were a clever way to do what @joeatwork suggested that would be brilliant.

Maybe something like

[code]

and inside of testutil.Cases:
[code]

[2016-01-20 01:23] ericchiang commented on #264
I will note that a majority of the logs are HTML pages. For #282 I removed log statements that dumped HTML pages and went from something that ate up all of my terminal scrollback to [something reasonable](https://gist.github.com/ericchiang/a717cf85061e0fc6d772).

tests := { lots of tests}
for i, t := testutil.Cases(tests){
  test stuff
}
[code]

[2016-01-20 11:04] adrianlop commented on #73
Hello, we are studying Dex because we have an inhouse solution auth server, and we'd like to adopt Dex if suits well with our needs.

In the meantime, we're currently documenting Dex a bit, because we need to clarify the coverage of the app, and we started documenting the API (we already documented users API, and we want to doc all APIs).

We're willing to do PRs to the project (not only doc, go c

[2016-01-20 17:08] ericchiang commented on #73
@adrianlop we currently working on adding a swagger definition of the API with generated static HTML docs. Should be done today or tomorrow. Does this work for you?

[2016-01-20 17:19] ericchiang commented on #230
Reopening. As has been brought up in #73 we badly need documentation for dex's APIs. And using swagger seems much more straightforward than #245.

Goals:
* Use [swagger2markup](https://github.com/Swagger2Markup/swagger2markup) to generate HTML docs similar to what [k8s](https://github.com/kubernetes/kubernetes/tree/master/hack/gen-swagger-doc) does.
* Consider using [go-swagger](https://github.com

[2016-01-20 22:35] #274 closed

[2016-01-21 17:04] ericchiang opened #284 "Build ACIs"

[2016-01-22 18:05] ericchiang opened #286 "dex should only load password infos from local connector in --no-db mode"
Error message:

[code]

Steps to replicate

My bash_profile

[code]

1) Run postgres

[code]

2) Run dex overlord

[code]

3) Run dex worker

[code]

4) Set connectors

[code]

5) Try to restart worker

[code]

[2016-01-22 18:11] ericchiang commented on #286
This is being caused by #26. We're attempting to load [password infos](https://github.com/coreos/dex/blob/a9ab63893db219c73a25eed25d1967251b6ce96c/user/password.go#L190-L198) into the database which already exists.

[2016-01-23 21:33] fnordahl opened #287 ""Register Maybe" redirect does not work - Misuse of redirect code StatusTemporaryRedirect (307)."
HTTP code 307 aka. StatusTemporaryRedirect is used throughout the project. However, the endpoints redirected to explicitly expects the client to make a GET request.

If a HTTP client issues a POST request to a server and receives a HTTP 307 redirect, it forwards the POST request to the new URL.

This prevents the redirect to register page with the "register-maybe" message enabled from working.

[2016-01-24 00:46] #287 closed

[2016-01-25 21:38] ericchiang commented on #73
@adrianlop please see #285. We still need to increase the amount of documentation in our [schema definitions](https://github.com/coreos/dex/blob/26fa124efd6a8f19885f620030bd6193140b1c69/schema/workerschema/v1.json), but this is the initial attempt to generate documentation.

[2016-01-26 18:24] joeatwork opened #292 "Allow preserving users across clean-slate reconfigurations"
I'm working with a fairly complex Dex integration (that is configured indirectly) and often we want to erase or re-initialize the initial configuration. This is pretty easy - just drop the underlying database and you're good to go. Unfortunately, this also deletes all of the user accounts and registrations associated with dex. It would be nice to be able to get a clean slate wrt. config and not lo

[2016-01-26 18:43] ericchiang commented on #292
What are the actual things that you need to reset? Some user information is, for instance, tied to connectors so this might require us to re-associate user passwords and such later.

[2016-01-26 21:20] joeatwork commented on #292
The example that motivated me posting this issue is a DNS change that broke client callbacks, etc. While this is something that admins could change directly in a simple dex install, in my case I'm installing dex and other software, and orchestrating shared secrets and such automatically in a distributed environment. I can just restart the other services in this environment and they take up new con

[2016-01-26 22:28] ericchiang commented on #261
cc @bobbyrullo, @sym3tri

# Proposal: revoking refresh tokens

## Motivation:

1. Need a way for users to revoke client's access to their identity.
2. Users never see the refresh token issued to clients. Can't just say "revoke this token."
3. Need a way for as user to "login to dex" and revoke a client.
4. Want to force as little UI as possible onto projects using dex (#255). Things should be API

[2016-01-27 00:41] bobbyrullo commented on #261
Sounds like a plan!

[2016-01-27 01:33] set321go opened #295 "Example app cannot register."
I followed the steps in https://github.com/coreos/dex/blob/master/Documentation/getting-started.md and I read the other pages in the documentation but could not get the example app to work.

I have been using the `contrib/standup-db.sh`.

Which bits run on the three ports 5555, 5556, 5557?

When I visit localhost:5555 I get the home page with the register and login link.When I click the register l

[2016-01-27 01:51] ericchiang commented on #295
The login page and registration page are largely identical. Does the page your directed to say "Create Your dex Account"?

I think `register=1` is the only URL parameter that's dex specific. All the others are defined by OpenID Connect/OAuth2.0 which are documented by their relative specifications.

Looks like we don't currently note that. I'll open an issue to add some documentation around the ca

[2016-01-27 02:28] set321go commented on #295
Both pages are the same, they both say "Log in to Dex" . I will have a fiddle but i'm pretty green when it comes to go and i've never tried debugging a go app.

Good to hear things are mostly just spec headers makes it easier to learn.

[2016-01-27 02:50] set321go commented on #295
Looks like in the `handleauthfunc` in `http.go` there is also a flag that is checked as well

    register := q.Get("register") == "1" && registrationEnabled

This looks like it comes in from the `Server` type should i have set this flag somewhere?

[2016-01-27 02:52] ericchiang commented on #295
Yep the command the getting started guide has you run is.

./bin/dex-worker --db-url=$DEX_DB_URL --key-secrets=$DEX_KEY_SECRET --email-cfg=static/fixtures/emailer.json.sample __--enable-registration=true__ --log-debug=true

Can you confirm if you have this or not?

[2016-01-27 03:27] set321go commented on #295
That's what I was missing, thanks. Ive submitted another PR for the script.

[2016-01-27 03:27] #295 closed

[2016-01-27 16:18] adrianlop commented on #73
@ericchiang yes, it's ok for us too. great job, thanks!

[2016-01-27 21:58] ericchiang opened #297 "Decide on irc channel and google group for dex help"
Has come up a couple times in the last couple days. Need to put something in the readme.

Going to recommend #coreos on freenode and coreos-users.

[2016-01-27 22:48] ericchiang opened #298 "Deprecate dexctl's --db-url flag"
dexctl shouldn't being connecting directly to the database to perform actions. Deprecate this flag and have all commands go through the APIs.

[2016-01-28 12:14] rsoletob commented on #175
Hello, we are interested in this topic. We have an administration tool for managing users and groups but it doesn't scale well, and we want to adopt an open-source project. We've seen that you're planning to test Cayley + SCIM, according to the Google docs proposal, but we don't know if you have already made some progress on this. Any news on this? Maybe you can share with us a roadmap?

If the so

[2016-01-28 17:15] ericchiang opened #299 "Update roadmap with issue and PR numbers"
So it's evident what our progress on those issues are.

[2016-01-28 17:34] #257 closed

[2016-01-28 17:36] ericchiang commented on #175
@rsoletob our roadmap is [here](https://github.com/coreos/dex/blob/master/Documentation/roadmap.md). Once we've addressed [refresh tokens](https://github.com/coreos/dex/issues/261) we'll start taking a serious look into groups.

We'll make sure to update this issue with progress. If you have any comments or concerns, we'd love additional input.

[2016-02-01 11:31] rsoletob commented on #201
I'm working in this issue and I have some questions about this.

Is a connector ID needed in the create user method inside User's API? If it is, a special claim could be sent to the target email for processing request to retrieve remote ID using the connector authetication flow. Otherwise if the connector ID isn't present in the request, Could the user choose the connector to authenticate?

In the

[2016-02-01 11:48] rsoletob commented on #261
#35

[2016-02-01 13:04] rsoletob commented on #229
The same problem exist with the User's API when you create a user using `CreateUser` method and send the email invitation. When the user clicks on the link and inserts its new credentials it's redirected to client's callback URL without valid Authorization code. The code in [server/password.go](https://github.com/coreos/dex/blob/master/server/password.go#L232-L266) show the problem in method `Chan

[2016-02-01 17:12] ericchiang commented on #35
Moving to #261

[2016-02-01 17:12] #35 closed

[2016-02-01 17:28] ericchiang commented on #201
Yes, is sounds reasonable to put that information in the token sent in the email.

The suggestion wasn't to create two APIs, it's to address an flaw in the current setup is. When you create a user the following things happen:

1. Create a user with a temporary password.
2. Send invite email.
3. User follows the link in the email (with a token) and changes their password.

If you try to do that twi

[2016-02-01 20:05] bobbyrullo commented on #201
That's a reasonable approach, had we done it that way from the start. But given that invites *do* create the user now, and a lot of code expects that, what advantage does this change give that makes it worth all the re-tooling?

[2016-02-01 21:22] joeatwork commented on #201
(Discussed this a bit with @ericchiang  offline, summarizing here) - I've got an app which uses Dex for authentication, and presents a list of "invitations issued for which haven't been executed". Right now, I'm using "email verified" to mean "invited but haven't responded". While it would break my assumptions a little bit, in the medium term showing "tokens issued for whom users have not been cre

[2016-02-02 14:55] rsoletob commented on #201
We discovered some problems when End-User is returned to client callback with a valid code to request an Access Token after registration/invitation.

- `state` and `nonce`: According to [OIDC](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest), this parameters are recommended to mitigate Cross-Site Request Forgery and replay attacks. These params would be generated by the client.
-

[2016-02-02 17:43] ericchiang commented on #201
@rsoletob Sorry, I think I'm missing what the exact issue / attack is, and from what I can gather this seems like it'd be better suited for it's own issue. I'm particularly having trouble parsing this sentence:

At what point in dex's email verification flow is there an issue? Does the email in the JWT not have a nonce? Does redirect URL after verifying an email provide something incorrect?

Can y

[2016-02-03 09:41] rsoletob opened #300 "Verify email and accept invitation endpoint wouldn't redirect to callback with valid Authorization code"
Problem is explained in #229

This is the information inside token in verify email sent to email:

[code]

This is the information inside token in accept invitation sent to email:

[code]

DEX can't create a valid code to exchange an Access token because it doesn't have all needed parameters. If you want to create a new session and its associated `Authorization code` you need some data like `state

[2016-02-03 11:26] rsoletob commented on #201
I'll try to explain this better.

I just opened issue #300 to explain and propose a solution for this problem.

Imagine you have registered two OIDC connectors like Google and Facebook. When you create an User using API you don't select which connector will be used. Nowadays, DEX does not provide other connector different than local, but if we use the @bobbyrullo's suggestion

, this attack could

[2016-02-03 19:14] ericchiang commented on #300
Are you basically saying that the verify and accept email JWTs are missing a nonce and state claim?

[2016-02-03 22:47] preston opened #301 "quay.io public docker images broken?"
If you `docker pull quay.io/coreos/dex:latest` and then `docker run ...` the image, you'll get a nasty:

What gives? It doesn't look like the Dockerfile includes a CMD for the images on quay.io. I'm on Docker v1.9.1.

[2016-02-03 23:37] ericchiang commented on #301
For deployments, dex is comprised of several Docker containers working together, each with different CMD fields. `quay.io/coreos/dex` is used as a base for these.

What are you trying to use the image for?

[2016-02-03 23:46] preston commented on #301
Just trying to evaluate it at the moment. Is there a different repo with instructions on getting up and running with the correct set of images? Thanks much for your help!

[2016-02-03 23:48] ericchiang commented on #301
The [getting started](https://github.com/coreos/dex/blob/master/Documentation/getting-started.md) doc is a good place to look. We currently don't have images available for this, though that might not be a bad idea in the future.

[2016-02-03 23:52] preston commented on #301
Yeah I read through that but it doesn't really address Docker. Sounds like I'll need to go the manual way for now. It would indeed be super cool to provide Docker-specific page for folks like me that just want to deploy with a set of provided environment variables.

[2016-02-03 23:59] ericchiang commented on #301
Yeah, it'd be pretty easy for us to provide containerized examples in the getting started guide for ease of use.

[2016-02-04 10:34] rsoletob commented on #300
Yes, that's right, but it isn't the gist, the main problem is DEX can't generate this values by itself.

[2016-02-04 10:36] adrianlop commented on #300
by the way, are you willing to use Gitter chat to discuss these matters instead of opening big issues first?
We saw you have IRC but we think it's "too big" since it targets every CoreOS project, right?

[2016-02-04 17:07] ericchiang commented on #201
In this scenario the steps would go as follows:

1. User receives link with JWT in Gmail which allows them to login.
2. User follows links with JWT, is presented with login options for Gmail (ok) and Facebook (compromised)
3. User logs in through Gmail.
4. dex confirms that the account matches the email in the JWT, creates user and remote identity.

At this point the database would look something

[2016-02-04 17:13] ericchiang commented on #300
@rsoletob Both of the JWTs you're discussing are outside of the scope of Open ID Connect. I don't know if either of these would require nonces. Because 1) the email verification should only work once anyway 2) the ` "http://coreos.com/password/old-hash"` should also require changing your password to only work once.

As for your other concert, yes, it may not be possible to redirect with a valid re

[2016-02-05 12:38] adrianlop commented on #300
@ericchiang great, thanks!

[2016-02-05 13:50] rsoletob commented on #100
Could dex use a flag like -devmode to check 'http' verification? For example, if dex starts with this flag it won't check scheme in Issuer URL, otherwise dex starts fail if scheme is http.

At the other point, `redirect_uri` according to the spec:

Could dex log a WARNING message like this?
`CAUTION: Client myclient is using a redirect URL http://mydomain.com with 'http' scheme instead 'https'`

I

[2016-02-05 16:40] ericchiang commented on #100
This work is probably better for coreos/go-oidc#34 since that already has validations for client and provider metadata.

In terms of dex's implementation, dex should flat out reject URLs that aren't HTTPS if the spec mandates it. Then, yes, having some sort of `--insecure-skip-verify` flag to forgo those checks would be reasonable.

[2016-02-05 17:30] #272 closed

[2016-02-05 22:21] ericchiang opened #302 "Move overlord actions into worker. Have workers perform leader election."
Discussed this with @sym3tri a while back. Would be a nice to have in the long term. Not a short term priority.

[2016-02-07 13:23] ekarlso opened #303 "CORS support"
Hi, is there plans for CORS support so it's usable with SPAs ?

[2016-02-07 16:48] philips commented on #303
@ekarlso We can certainly do that. Do you have a single page app example that uses OIDC so we can test against it once we add support?

[2016-02-07 16:49] philips commented on #303
If someone wants to work on this I think we should consider using the gorilla CORs handler. We use it in other projects IIRC. https://github.com/gorilla/handlers

[2016-02-07 17:57] ekarlso commented on #303
http://pastebin.com/wJ9fZed0 - it's not gonna work without at least :)

[2016-02-07 18:16] janekolszak commented on #303
Yeah, +1

[2016-02-07 18:54] philips commented on #303
WIP branch herehttps://github.com/philips/dex/commits/add-cors

[2016-02-07 19:03] philips commented on #303
If someone sees what I am doing wrong there let me know

[2016-02-08 08:12] rsoletob commented on #100
Ok I will solve this issue with your reccomended flag `--insecure-skip-verify`and I will add it to the docs. The Issuer URI is mandatory but client's redirect URI no. Should we let validation to [coreos/go-oidc#34](https://github.com/coreos/go-oidc/issues/34) or we will implement it?

[2016-02-08 16:48] ericchiang commented on #100
There are a bunch of places in the OpenID Connect specification that require that URLs use HTTPS beyond just what the identity provider listens on.

Most of those are in the [Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata) or the [Client Metadata](https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata) objects where there's a lo

[2016-02-09 11:35] rsoletob commented on #100
I pushed yesterday a commit to our fork that fixes Issuer URI checks. I was inspecting dex code and I saw all URIs depend of Issuer URI (correct me if I'm wrong), so with this commit Provider Metadata and Client Metadata (which belong to dex) will be enforce to use `https` scheme if `--insecure-skip-verify` flag isn't activated.
However, I don't have a solution for external client's redirect URI y

[2016-02-09 18:12] bobbyrullo opened #305 "Load Testing"
We need to see how dex performs under load; what are the scalability pressures, where do things start to break, etc.

[2016-02-09 18:19] bobbyrullo commented on #229
yes, I think it would be the same solution.

[2016-02-09 18:51] sym3tri commented on #305
I've found this tool to be handy https://github.com/rakyll/boom

[2016-02-09 19:12] bobbyrullo commented on #305
nice, thanks for the tip

[2016-02-10 11:50] gerson24 opened #306 "Templated login/register"
Allow login/register customization, using html/css files

[2016-02-10 16:48] ericchiang commented on #306
Is this what you're looking for? https://github.com/coreos/dex/blob/master/static/html/login.html

[2016-02-10 16:54] ericchiang commented on #100
@rsoletob again please see coreos/go-oidc#34.

dex listening on 'http' vs 'https' is a very small part of this issue. There are a bunch of things in the client metadata like `redirect_uris`, `sector_identifier_uri`, etc that require https.

Part of this issue should be bringing dex up to spec, so it rejects client registration requests that, for instance, use http for redirects. That should be sol

[2016-02-10 22:21] #297 closed

[2016-02-11 08:09] gerson24 commented on #306
yes, thanks! sorry for that

[2016-02-11 08:09] #306 closed

[2016-02-12 19:30] #119 closed

[2016-02-12 19:32] ericchiang opened #309 "LDAP connector: implement connection pooling"
The LDAP connector implemented in #178 creates a new LDAP session for every request, closing and discarding the connection after login.

Add connection reuse to the existing logic. After attempting to login, connections should be:
* "reset" by binding anonymously
* kept alive by occasionally pinging the LDAP server (or discarded if this fails)
* reused on future login attempts by other dex end-use

[2016-02-12 20:05] ericchiang opened #310 "Easier registration for first login"
This was brought up by @fnordahl in #178. For connectors that are implicitly more restrictive, can we have a better first login experience?

Consider adding additional connector options.

Logging in takes you to a page that asks you if you want to register. Clicking yes takes you back to relying party with an identity.
* Might be a good default for dex instances which enable registration.
* Regist

[2016-02-12 20:35] fnordahl commented on #175
Connectors should probably also optionally support groups/authorization and be allowed to be a source of this information for dex in some way? The LDAP connector ( #178 ) could be a candidate for this.

[2016-02-13 06:36] thedrow opened #311 "Allow to denormalize Users even further"
Dex would integrate better with other systems if it only saved only the user's Id and interact with another REST API to fetch the information about the user.

[2016-02-13 06:47] ericchiang commented on #311
Sorry this is a little vague so I'm having trouble following. Do you have an example you could provide?

[2016-02-13 06:55] thedrow opened #312 "Optionally encrypt tokens and secrets at rest using pgcrypto"
If pgcrypto is installed on the Postgres database we should allow to use it to encrypt all tokens and secrets. That way if a data breach occurs we won't need to refresh all the tokens and secrets unless the encryption key itself has leaked.

[2016-02-13 06:58] thedrow opened #313 "Provide binary releases"
We can use dpl and Travis and Github Releases to provide binaries for Linux and OSX.
We can also set up AppVoyer and provide binary releases for windows if the need arises (but I don't think many people want to run dex on Windows).
In any case, it will be easier to create docker containers for dex if I don't have to have a build environment inside the docker container.

[2016-02-13 07:00] ericchiang commented on #312
I'm not familiar with pgcrypto but it doesn't seem to provide anything we can't do already within Go. Is there advantage to using a database side implementation?

[2016-02-13 07:31] thedrow commented on #312
Sometimes, yes. There are security advantages for offloading the encryption to the database server. See http://stackoverflow.com/questions/9326264/is-there-some-security-advantage-to-using-pgcrypto-instead-of-partition-level-en
Also there are practical use cases for pgcrypto which may or may never apply here.
If you need the unencrypted value in a stored procedure it's easier to just pass the encr

[2016-02-13 07:46] thedrow commented on #311
User data is often stored elsewere.
If I want to check if the user's email has been verified it is not the responsibility of Dex to provide that information. It's the users microservice's responsibility.
Instead, we need to provide a REST contract for fetching and updating user data and require the users to implement it. We can add HTTP caching support on our side to ensure we're not doing too muc

[2016-02-13 07:47] ericchiang commented on #312
dex already encrypt keys using AES-GCM and passwords using bcrypt before sending them to the backend storet. The Go code already does what you're describing, so it seems odd to move this logic to the database since that's what you're worried about being breached.

[2016-02-13 08:04] thedrow commented on #312
Are there any specific architectural arguments you are concerned about?
I specified the advantages and disadvantages and it's up for the user to decide if he requires the functionality or not.

[2016-02-13 08:07] ericchiang commented on #311
You're using the word "user" in a couple different ways so I apologize if I'm misinterpreting.

dex is an [OpenID Connect](https://openid.net/developers/specs/) identity provider. As per that spec, the authentication information returned by providers includes if an email has been verified, so this has to be dex's responsibility.

dex's contract with clients is OpenID Connect.

I'd really suggest l

[2016-02-13 08:09] thedrow commented on #312
Hmm now that I read http://dba.stackexchange.com/questions/24370/how-to-use-aes-encryption-in-postgresql#answer-24379 I'm not so sure anymore.

[2016-02-13 08:09] ericchiang commented on #312
Yes. Again, we already implement the encryption features you're asking for (we just do it in the Go code), and database side crypto doesn't seem like a good mechanism for securing against a database breach.

[2016-02-13 08:28] thedrow commented on #312
Well, I think I'll close this issue unitl I find a better argument for using pgcrypto.

[2016-02-13 08:28] #312 closed

[2016-02-13 08:39] thedrow commented on #311
I'm not familiar with OpenID. I am the maintainer of [OAuthlib](https://github.com/idan/oauthlib) though.
This issue is about where data about a system's users are stored.
Usually there is already a table of users that is stored in another database. I'll use a concreate example here.
Let's say we have a Django application. Django already provides a User model for us to extend and the email is stor

[2016-02-14 05:31] cgilling opened #314 "LDAP: searchBeforeAuth, entryDN does not exist"
I should preface this by saying that I have very little experience with LDAP, but have been playing around with dex and trying to authenticate users against my companies LDAP server.

As I was doing this I found that the entries that were being returned did not seem to have an `entryDN` (this [line](https://github.com/coreos/dex/blob/cd72a1f69fc02b1fec29b04d3a0a173e90b9f590/connector/connector_lda

[2016-02-14 07:44] fnordahl commented on #314
@cgilling Thank you for your interest in dex and the LDAP connector. Could you tell me a little bit about what kind of LDAP server you are connecting to?

[2016-02-14 08:03] thedrow commented on #311
What I'm saying is that you don't need to store the User's table at all. You just need to cache the information you need from the user's table that is defined externally.

[2016-02-14 18:37] cgilling commented on #314
Its an ActiveDirectory setup. Don't really know much beyond that at the moment.

[2016-02-14 22:14] fnordahl commented on #314
Thank you for finding and reporting the issue. You are quite right about just using ``sr.Entries[0].DN``. I belive it should be fixed in PR #315 .

[2016-02-15 15:23] rsoletob commented on #300
As I understand it, there are two approachs:

On the one hand, dex server couldn't give a valid authorization code because client needs some interaction with dex and end-user to generate `state` and `nonce` value. So one approach is redirect user to somewhere in order to client can request a valid Authorization code.

On the other hand, dex server could get these values using aditional info inside

[2016-02-16 17:44] #314 closed

[2016-02-16 22:25] ericchiang commented on #311
dex isn't just a oauth2 proxy, it's an identity provider. Supporting username and password logins, and many features in the future (such as groups and merging multiple identities) require this table.

[2016-02-16 22:43] cgilling commented on #314
awesome, thanks for the quick reply and fix

[2016-02-16 23:30] ericchiang opened #318 "Allow running a subset of functional tests"
With the addition of the ldap connector it's now hard to run functional tests outside of travis. Allow running functional tests against various targets.

[code]

[2016-02-17 08:01] boriska70 opened #319 "Worker API calls return errors"
Opened following this post https://groups.google.com/forum/#!topic/dex-dev/3t0yjEXlmTw

I have the system comprising of overlord, one worker and dex-example-webapp.
There are 2 connectors configured: local and Google but I only used local users in this flow.

I'm trying to use worker API, for example I'd like to get a list of clients or create users.
This is my reference: ttps://github.com/coreos/

[2016-02-17 14:46] rsoletob commented on #319
Client's API it's working using `grant_type=client_credentials` to retrieve access token. Is it correct?

[2016-02-17 18:25] ericchiang opened #320 "Add examples with other frameworks"
This was brought up on the google group. It would be really good to have working examples of using dex with other authorization frameworks. At the very least, it's good to make sure dex works with other OpenID Connect client implementations.

Suggested frameworks:
- [ ] Node.js [passport-openidconnect](https://www.npmjs.com/package/passport-openidconnect)
- [ ] Python [django-oidc-provider](https:

[2016-02-18 18:07] ericchiang commented on #186
This has largely been finished with #267. We're still working on how to expose it to end users, but the logic is there.

[2016-02-18 18:07] #186 closed

[2016-02-18 18:09] ericchiang commented on #245
Closing this. It's going to be a lot of work to get this up and running smoothly, and I'm not convinced of the benefit.

[2016-02-18 18:09] #245 closed

[2016-02-18 18:10] ericchiang commented on #57
we're using travis for the foreseeable future.

[2016-02-18 18:10] #57 closed

[2016-02-18 19:10] ericchiang commented on #175
@fnordahl Just like a local vs remote connector, I think we'll attempt to build some interface for a remote group source. And yes, since LDAP already has these concepts it would be a likely candidate.

[2016-02-19 00:52] robszumski opened #324 "Erroneously getting "Please authenticate before registering""
Prior to seeing this message, I followed the OAUTH flow so I should have been authenticated. What does this error message mean?

![image](https://cloud.githubusercontent.com/assets/755540/13163198/f209175c-d65f-11e5-8764-4a2bf13271c0.png)

[2016-02-19 01:03] ericchiang commented on #324
This indicates you've attempted to register, gone to your identity provider, then come back to the registration endpoint without a valid login. We use some session tokens between those redirects to validate those actions. Is this a persistent problem?

[2016-02-19 01:38] robszumski commented on #324
How would I test if its persistent? Sign up a bunch of times?

[2016-02-19 02:37] ericchiang commented on #324
I tried it out and got the same thing. Was wondering if there was a
temporary error or some problem with dex's logic. Looks like it's the
latter.
On Feb 18, 2016 5:38 PM, "Rob Szumski" <notifications@github.com> wrote:

[2016-02-19 03:09] ericchiang opened #325 "Allow live reconfiguration of connectors"
Currently connectors are loaded only when the worker starts up then cached indefinitely. This means if the connectors are changed, the workers aren't updated.

[2016-02-19 18:04] #299 closed

[2016-02-20 00:54] bobbyrullo commented on #201
[code]

This makes sense to me.

[code]

Since we now would know the connector from the claim in the email, why not wait until the user clicks the email to add the remote identity? That way we don't have to add a new column. (not that a new column is bad, but having another enabled/disabled flag makes one more thing we have to worry about when checking the validity of the user, which means somethi

[2016-02-20 01:00] bobbyrullo commented on #300
I'm happy to continue the discussion here - that way the history is all in one place for the curious. Of course, for a more interactive chat we can do IRC or something.

Anyhow you say:

I'm sure I'm missing something, but how is this different than the `http://coreos.com/invitation/callback?` claim?

Are you trying to make it so that someone can log-in with the link in the emails?

[2016-02-20 01:08] ericchiang opened #326 "Add dynamic client registration to bootstrapping (admin) API"
This allows us to provide authentication in front of the dynamic client registration and gets us closer to feature parity through the APIs for #298

[2016-02-20 01:10] bobbyrullo commented on #319
@rsoletob yeah, you're supposed to use client credentials here not user ones.

Note: This part of the api (GET and POST to /clients to list and create clients) is going away; instead, these things will be moved to the bootstrap API (in the overlord) see #326

[2016-02-20 01:10] #319 closed

[2016-02-20 01:14] bobbyrullo commented on #311
Dex is it's own first class IDP, like @ericchiang said. As far as an API for knowing if the email is verified, when a client app (or Relying Party in Open ID Connect parlance) gets the ID token, there's an email verified claim in the JWT you can check.

[2016-02-20 12:21] thedrow commented on #311
So we should store user credentials and some other data in dex instead of the app's own user model?

[2016-02-22 07:46] boriska70 commented on #319
Sorry for the false alarm. It wasn't mentioned in any place that client API is for client credentials flow only and word "client" is not necessarily means this so I assumed it is just a general CRUD. Planned to use it as a kind of dynamic registration/reuse for the system running in cloud where client can restart or move to another host at any time.
Still I have a question - what's wrong with the

[2016-02-22 09:54] rsoletob commented on #229
Hey there @bobbyrullo, our proposal is redirect user when it clicks on the email link to a place where client could do some OIDC flow, not give a valid authorization code throught email link.

This claim fit prefectly with our proposal, so when user is created, for example, client puts into request its main page to redirect, in example-app would be http://127.0.0.1. Therefore email link has main p

[2016-02-22 09:55] rsoletob commented on #300
Hey there @bobbyrullo, our proposal is redirect user when it clicks on the email link to a place where client could do some OIDC flow, not give a valid authorization code throught email link.

This claim fit prefectly with our proposal, so when user is created, for example, client puts into request its main page to redirect, in example-app would be http://127.0.0.1. Therefore email link has main p

[2016-02-22 09:58] rsoletob commented on #201
Yes, I agree with you, it's annoying to take care of new column values and logic. We are going to look for a new solution for this without new column.

[2016-02-22 20:04] bobbyrullo commented on #300
Ah. I think I finally understand what you are wanting - you want to be able to add `state` and `nonce` to the `http://coreos.com/email/verification-callback` so that when someone come back to the client after verifying, the client can recognize them, securely?

[2016-02-22 20:10] bobbyrullo commented on #319
Ah, another piece of undocumented dex magic :)

So, a client needs to be an Admin client and a user needs to be an Admin user. Unfortunately the only way to make an admin client right now is to do some SQL. Yuck. I'll make an issue for this and make sure it gets done soon.

[2016-02-22 20:11] bobbyrullo opened #327 "Provide good ways to create admin clients."
Right now all we have us `update client set admin=1` which is not good.

This should be in the new self-registration API as well as in dexctl.

[2016-02-22 20:12] bobbyrullo commented on #319
@boriska70 watch https://github.com/coreos/dex/issues/327 for improvements in this space.

[2016-02-22 22:52] ericchiang opened #328 "Move ./Godeps to ./vendor"
With 1.6 the go tool will automatically detect the vendor directory during compilation.

From a developer experience, it would be a lot nicer if `go test github.com/coreos/dex/db` just worked without having to mess with godep. We can keep the build and test scripts setting the GOPATH manually for older versions of Go.

[2016-02-23 16:27] miguelcubillo commented on #300
Hi, I think what my colleague is trying to say is that although we'd love the idea of having a valid token that could be recognized by the client, we can't think of a secure way to generate that token. Without interaction with the client, we can't be sure that a state-less token (or invented, or provided by the client during the invite, possibly long time ago)  will be accepted by the client.
Thus

[2016-02-23 18:07] ericchiang commented on #327
There's been discussion of adding support for custom claims in coreos/go-oidc#49. Maybe combine this with #326?

[2016-02-23 19:04] ericchiang commented on #278
This is my initial proposal for providing a standard API response writer: https://gist.github.com/ericchiang/4928eb02991f9e4afaa5

TL;DR define a package with the following types and user them for handlers.

[code]

[2016-02-23 20:54] fnordahl opened #332 "regression: Not able to log in with local connector when running dex-worker with --no-db"
PR #304 introduces a regression.

With dex-worker running with --no-db it is no longer possible to log in using the local connector with credentials configured in static/fixtures/connectors.json and static/fixtures/users.json.

Adding some Printlns to password.go UnmarshalJSON function shows that the users are created twice, the first time with valid password info, the second time with blank passw

[2016-02-23 20:57] ericchiang commented on #332
Thanks, will look into this.

[2016-02-23 22:48] ericchiang opened #334 "Proposal: store password hashes in remote identities"
Came up when investigating #332.

Storing passwords as part of the remote identities would allow us to:
1. Remove a table and associated repo.
2. Eliminate a configuration file for --no-db mode.
3. Allow multiple local connectors.

[code]

The current config looks like this

[code]

I'd like to move the passwords to the remote identity which would change users.json.sample to

[code]

This would al

[2016-02-24 14:37] bobbyrullo commented on #326
Please explain this issue - how does it get us authentication? Also, moving dynamic client registration to the overlord means having to expose the overlord outside of your firewall.

[2016-02-24 15:35] gerson24 opened #336 "token endpoint basic auth uses wrong decoding strategy"
We're working on the integration of our Play/Scala apps with Dex. I'm having problems when I call `/token`,
because when I build the header "Authorization: Basic Y2xpZW50aWQ6c2xka2ZqYXNsa2Rmago=", the library I'm using it first urlencodes the ClientID, and the Secret, separated, and then a base64 of everything.
Example:

`"Authorization: Basic clientID:Secret" --> This will become "Authorization:

[2016-02-24 16:19] ericchiang commented on #336
Yeah, thanks. It does indeed look like it's wrong. It looks like there's the same bug in our client too: https://github.com/coreos/go-oidc/blob/ec2746d2ccb220e81c41b0b0cb2d4a1cc23f7950/oauth2/oauth2.go#L189

I'd like to evaluate what's using our client code first before pushing a patch. This would be a breaking change (all be it a correction), so I just want to be a little cautious.

[2016-02-24 16:24] gerson24 commented on #336
great, thanks! Let me know when you want me to make the PR

[2016-02-24 18:00] ericchiang commented on #326
Sorry. I'd like to add a link to the admin API to allow registration. Not remove it from dex itself.

Currently `dexctl new-client` uses a direct connection to the DB to create that client. We need an alternative API to allow this. I'd like to add an endpoint to the overlord API (protected by the secret token).

[2016-02-24 18:46] ericchiang opened #337 "client secrets must be base64 encoded in --no-db mode"
Using the SQL code for --no-db mode exposed the fact that the SQL code assumes that client secrets are base64 decodable: https://github.com/coreos/dex/blob/f51125f55538c8fc5a3ad1e780296fd505fb948d/db/client.go#L206

Is there anyway we can get around this?

[2016-02-24 19:14] chancez opened #338 "Emails in dex are case sensitive"
I wasn't 100% this is a bug, but after reading around and asking @brianredbeard , it seems emails should probably be treated as case insensitive. Currently you can register with the same email multiple times if the case differs.

This actually is  causing bugs when using the email in another system I'm working on where we expected the email casing to not matter.

[2016-02-24 19:44] #334 closed

[2016-02-24 21:55] #332 closed

[2016-02-24 21:59] bobbyrullo commented on #300
@miguelcubillo I think I get you, so why not just register multiple redirect URLs with the client, and when creating a user, specify whatever URL you like in the UserCreateRequest?

[2016-02-25 07:38] rsoletob commented on #300
Thanks for your help with this issue. If we register clients with two redirect URIs (http://localhost:5555/callback and http://localhost:5555/) we can redirect user where we want, in our case the main page. So I'll just close this one out then.

[2016-02-25 07:38] #300 closed

[2016-02-25 17:46] ericchiang commented on #336
@gerson24 we'd like to see a fix that accommodates both the correct encoding and the existing encoding for a little bit.

Also our client needs to be updated to do the same. See coreos/go-oidc#54. You're welcome to take this one too if you'd like.

[2016-02-25 21:03] #318 closed

[2016-02-25 21:41] ericchiang opened #340 "Better specification of password info in --no-db mode"
It's really weird that user passwords are specified in the connectors.json. It's also only valid for --no-db mode and will cause panics with Postgres (#286).

For instance, our example connector JSON file looks like this:

[code]

Move these out of the connector and put them in the users.json file.

[code]

Since this file is only parsed for --no-db mode, it seems reasonable to put that data there

[2016-02-25 22:11] fnordahl opened #342 "go-oidc: floating point values in claims don't interop well with certain OIDC implementations"
See coreos/go-oidc#55 and coreos/go-oidc#56

Creating a issue here as wel as it calls for an update of Godeps for Dex if resolution is accepted and issue closed there.

[2016-02-25 22:59] ericchiang commented on #278
Note. Another addition will be to add a storage interface to abstract away the DbMap.

For example

[code]

This would clean up anything that needed access to a repo.

[code]

[2016-02-26 06:58] TelanJ opened #344 "[HELP] Looking for help after finishing the getting started"
Good day,

I'm a junior developer so please bear with me. :) I recently tried using Dex and I grew fond of what the things that it can do. I have finished the getting started tutorial. I think I am now ready to implement dex into my own web app. so... my question is "What's next after finishing the getting started"?

Cheers,
Julio Telan

[2016-02-26 11:43] gerson24 commented on #336
ok, perfect! I'm working on it.

[2016-02-29 12:54] TelanJ opened #347 "Kubernetes deployment"
I tried using kubernetes deployment and I encounter this error. Has anyone encountered this problem?

dex-overlord-flgav     0/1       Image: quay.io/coreos/dex is ready, container is creating   0          18m
dex-postgres-klsgw     1/1       Running                                                     0          53m
k8s-master-127.0.0.1   3/3       Running

[2016-02-29 13:02] #344 closed

[2016-02-29 17:40] ericchiang commented on #347
Hard to say without seeing the logs. What does `kubectl logs -p {{ POD }}` say?

[2016-02-29 23:47] bobbyrullo commented on #300
great - glad we sorted that out!

[2016-03-01 00:22] colhom opened #350 "Dex http proxy implementation would be useful"
*The following issue is contingent on dex supporting some notion of groups. The proxy bit would still be very useful in the absence of group functionality, but doing regex's on email addresses to make authorization decisions (cough oauth2_proxy) is "not ideal"*

Imagine: a simple oidc client implementation called `dex-proxy` that authenticates users and then uses group metadata to authorize access

[2016-03-01 20:19] colhom opened #351 "dex-worker registration email regex flag"
[code]

The use case is restricting open user registration to emails in a specific domain.

[2016-03-01 20:32] ericchiang commented on #351
Some prior discussion here: https://github.com/coreos/dex/pull/202

[2016-03-01 21:50] ericchiang commented on #325
dup of #14

[2016-03-01 21:50] #325 closed

[2016-03-01 21:51] ericchiang commented on #34
moved to #326

[2016-03-01 21:51] #34 closed

[2016-03-01 21:52] ericchiang commented on #342
dup of #156

[2016-03-01 21:52] #342 closed

[2016-03-01 21:56] ericchiang opened #352 "Two-factor authentication"
We don't have an immediate need for this but it would be a very cool thing to add.

Perhaps have some way of integrating with the local connector?

[2016-03-02 02:58] TelanJ commented on #347
This happened when I used that

`$kubectl logs -p dex-overlord-8b6tk
Internal Error: pod is not in 'Running', 'Succeeded' or 'Failed' state - State: "Pending"`

[2016-03-02 18:16] ericchiang opened #354 "Can't cross compile dex"
Brought up by @bobbyrullo. Since we use an sqlite3 driver that uses cgo, it's currently impossible to cross compile dex.

Either
1. Add a build tag so the sqlite3 import is excluded during cross compilation.
2. Move to a different embedded database.

[2016-03-02 19:11] philips opened #355 "tectonic console: annoying UX if you go to a login page with expired token"
1) Go to a tectonic console and click login
2) Wait for an hour
3) Type username and password
4) Get authorization error and don't get a new token

This has happened in the past to me and the only solution is to manually go back to the tectonic console URL and get redirected with a new token.

[2016-03-02 22:47] #354 closed

[2016-03-03 00:51] #338 closed

[2016-03-03 00:52] ericchiang commented on #265
closed in #339

[2016-03-03 00:52] #265 closed

[2016-03-03 00:53] #184 closed

[2016-03-03 01:08] ericchiang commented on #355
Is this an issue with the tectonic console more than dex? cc @joeatwork

[2016-03-03 01:53] sym3tri commented on #355
Sounds like it's due to the auth session expiring in dex. Console could handle that, as long as there is a specific auth error code returned to indicate this situation. What error code does dex return in this case?

[2016-03-03 05:38] #336 closed

[2016-03-03 22:42] ericchiang commented on #228
dup of #33

[2016-03-03 22:42] #228 closed

[2016-03-03 22:47] ericchiang opened #359 "Document HTML template contract"
Add documentation about what HTML templates are expected, what fields each will be executed with, and what each should do (e.g. what data it should POST to dex).

[2016-03-03 22:58] ericchiang commented on #11
dex correctly provides this field during discovery

[2016-03-03 22:58] #11 closed

[2016-03-03 22:59] ericchiang commented on #13
All fields in client metadata is stored in the DB.

[2016-03-03 22:59] #13 closed

[2016-03-03 23:06] ericchiang commented on #311
Yes. Let dex handle authenticating your users (email, passwords, etc.), your app consumes the identity via oauth2 + OpenID Connect, then associates data with the ID retrieved through that process.

[2016-03-03 23:06] #311 closed

[2016-03-03 23:18] ericchiang opened #360 "Add ability to set connectors through bootstrapping API"
This is another feature that now goes through the --db-url flag. See #298.

[2016-03-03 23:29] ericchiang opened #361 "Draft dex website wireframe for registration, login, etc."
There have been a lot of issues around registration, login flow, email registration, changing passwords, and (eventually) merging remote identities.

So far we've been dealing with these in a very ad hoc fashion (issue get's reported, we hack in a solution). But as dex moves forward, we'd like an overall design document to help developers understand were each step occupies in the larger flow.

Thi

[2016-03-04 19:33] ericchiang opened #363 "Use golang.org/x/net/context for signalling cancellations"
For example, the current connector interface looks like this.

[code]

The implementer of `Sync` is expected to return a channel that when closed causes `Sync` to cease performing it's long running actions. This has caused some confusion (see #316), and net/context is the established idiom for this kind of stuff.

Change these kind of calls to:

[code]

[2016-03-07 17:28] TelanJ opened #364 "Emailer config for example app"
I've tried changing the `~/dex/static/fixtures/emailer.json` for it to send using "SMTP" or "Mailgun". I've followed the instruction for email-configuration and tried to run the dex-worker. When I try to register using local email,

On "STMP" mode,
`ERROR: error sending email verification email Message not valid:
ERROR: Failed to send email verification email: Message not valid`
I get this error

[2016-03-07 20:39] miguelcubillo commented on #364
Hi, Have you tried using the -email-from flag? the error "gomail: could not send email 1: mail: no address" probably means that the From address is empty. If that is the case, it happens because -email-from defaults to "".

[2016-03-08 18:24] bobbyrullo commented on #286
This one seems straightfoward enough - can we get a fix in soon?

[2016-03-08 18:26] bobbyrullo commented on #340
Is this worth the effort of creating special parsing code just for this situation, since we wouldn't want to change the actual data model?

Also, it only seems really weird if you don't understand the data model - once you do it makes sense. I would worry that it would give people a misleading impression of the schema to change it.

Also, it's only for --no-db mode.

[2016-03-08 18:32] ericchiang commented on #340
I believe the current parsing code is only used in --no-db mode.

This is more for getting the password info out of the local connector's metadata. We don't store password infos in the local connectors for anything but --no-db mode, so this isn't a good representation of the data model anyway.

If we remove the password infos out of the local connector's metadata we can stop trying to load passwor

[2016-03-08 19:56] bobbyrullo commented on #340
It would not fix #286 - even if password infos were not in there we still should not be loading connectors from a file except in no db mode.

[2016-03-08 20:01] ericchiang commented on #340
Sorry. What I meant was that if we didn't load the password infos from the connector, #290 would be a valid fix for #286

[2016-03-09 05:53] TelanJ commented on #364
Hi! Thanks for the response, I've done what you said and it worked perfectly!

Cheers,
Julio Telan

[2016-03-09 05:53] #364 closed

[2016-03-09 05:57] TelanJ opened #365 "Getting started guide refers to non existent DEX_APP_REDIRECTURL"
When I issue the command `eval "$(./bin/dexctl --db-url=$DEX_DB_URL new-client http://127.0.0.1:5555/callback)"` after running the worker node, there is no value in the `$DEX_APP_REDIRECTURL` but the `DEX_APP_CLIENT_ID` and `DEX_APP_CLIENT_SECRET` has.

[2016-03-09 06:32] TelanJ opened #366 "{"error":"code query param must be set"} When clicking verify from the email"
I'm running the example app and when I click the `verify url` from the email, It returns `{"error":"code query param must be set"}`

`

[2016-03-09 06:46] TelanJ opened #367 "How to create an Admin User and Client"
Hi! I'm parsing dex and now developing my own app. I am trying to GET the list of the users registered in the client. I have read a few discussions in the issues and found out that I need to have Admin access in both User and Client.

[2016-03-09 07:04] rsoletob commented on #366
Hi @TelanJ, it's a known issue, see #229.

[2016-03-09 07:48] miguelcubillo commented on #367
Hi,
In order to create an admin user you have to make a POST request authenticating with the overlord secret to the admin endpoint (see https://github.com/coreos/dex/tree/master/schema/adminschema). And as for clients, i'm afraid the only way to promote a client to admin is by using SQL.(there is an Issue opened to address this https://github.com/coreos/dex/issues/327)

[2016-03-09 17:15] #366 closed

[2016-03-09 17:16] ericchiang commented on #367
@TelanJ please refer to @miguelcubillo's comment. Closing this issue.

[2016-03-09 17:16] #367 closed

[2016-03-09 17:28] ericchiang commented on #365
dexctl prints out `DEX_APP_REDIRECTURL_0`, `DEX_APP_REDIRECTURL_1`, etc.

Though our getting started guide seems to be referring to and old version. Thanks for reporting!

[2016-03-09 19:17] ericchiang commented on #347
It's unclear that this is indicating a dex specific issue. Closing for now since this issue tracker is for dex. If you find more information from k8s (specifically an error log for the dex pods), feel free to reopen this issue.

[2016-03-09 19:17] #347 closed

[2016-03-09 19:21] bobbyrullo commented on #328
this means, stop supporting go 1.4, and turn on experimental vendor mode.

[2016-03-09 19:26] bobbyrullo commented on #313
question re: templates: use gobindata, or tar it up? Or gobindata defaults

[2016-03-09 19:28] bobbyrullo commented on #310
interesting. maybe "auto registration" for some connectors like this.

[2016-03-09 19:31] bobbyrullo commented on #303
@philips we moved priority to p2; we can discuss offline if you think it should be otherwise.

[2016-03-09 19:33] sym3tri commented on #305
This might be useful too https://goad.io

[2016-03-09 19:39] bobbyrullo commented on #255
closing this out for now, as it doesn't really mesh with current vision of dex (i.e. dex is not a general user data store)

[2016-03-09 19:39] #255 closed

[2016-03-09 19:41] sym3tri commented on #230
may want to wait for swagger 3.0

[2016-03-09 19:42] bobbyrullo commented on #230
gonna close this for now

[2016-03-09 19:42] #230 closed

[2016-03-09 19:49] bobbyrullo commented on #59
closing this for now...haven't seen it in ages. feel free to re-open.

Also it was something that only happened on laptops that slept.

[2016-03-09 19:49] #59 closed

[2016-03-10 07:10] TelanJ commented on #365
@ericchiang Thanks for the quick response! Will keep on helping whenever I can.

[2016-03-10 07:55] rsoletob opened #370 "Dex doesn't return an error when required response_type param is empty or missing"
According to OIDC spec in all flows parameter response_type is required ([Authorization code flow authentication request](http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest)). Nowadays dex doesn't return any error when this parameter is missing and works as Authorization code flow.

[2016-03-10 09:13] thedrow commented on #313
I think that both are acceptable but most users will want to customise the templates.

[2016-03-10 18:25] ericchiang opened #371 "Allow clients to be issued ID Tokens valid for other clients"
This is what Google calls _["Cross-client Identity"](https://developers.google.com/identity/protocols/CrossClientAuth)_. Allow clients to be issued ID Tokens which are valid for a different client.

Example: "client1" allows "client2" to create ID Tokens on it's behalf. "client2" uses a custom scope to request such a token, and the returned ID Token holds the following claims:

[code]

Where azp i

[2016-03-10 18:31] colhom opened #372 "overlord needs to be horizontally scalable"
In a clustered environment and in the presence of machine failures/network partitions, it is not possible to ensure that a single dex-overlord instance is running.

With Kubernetes, a network partition between the control plane and a node running dex-overlord would result in the overlord pod being scheduled on another node. At this point, there will be multiple overlord instances talking to the sa

[2016-03-10 18:36] ericchiang commented on #372
see #302

Currently the overlord does use transactions to accomplish it's rotations and migrations, but we've not tested the consequences of running two.

[2016-03-10 18:42] colhom commented on #372
@ericchiang the workers performing leader election would definitely be the most desirable "end" solution. I assume they would do so via the database-- requiring the workers to all discover each other's network addresses would be very cumbersome (especially in a multi-cluster deployment).

Simply verifying that multiple overlords can play nicely with each other would definitely be sufficient for no

[2016-03-11 12:43] rsoletob commented on #370
After a code review about this, I saw request parameters are checked in go-oidc lib. In dex `response_type` param check is [here](https://github.com/coreos/dex/blob/master/server/http.go#L337) but the problem is there isn't [connector_id](https://github.com/coreos/dex/blob/master/server/http.go#L287). Therefore in method [renderLoginPage](https://github.com/coreos/dex/blob/master/server/http.go#L2

[2016-03-11 19:00] ericchiang commented on #278
Note that the `Storage` interface was brought up in #254 and will be a necessary step for that issue.

[2016-03-11 19:17] ericchiang commented on #63
Would it be better to generalize this? For instance, make a policy that all repo operations take a transaction as a first argument?

[2016-03-11 19:21] ericchiang commented on #302
Bumping the priority due to #372. Practically, it's very hard to ensure that only one instance of the overlord will be running at a time in a clustered environment. This seems like a good solution to that.

Another issue to consider. Because the workers currently wait for connectors before starting, it's unclear how this would work without an overlord. Will have to address #14 before making progre

[2016-03-11 21:22] bobbyrullo commented on #63
Yeah, that was (part of) what I meant.

[2016-03-11 21:28] ericchiang commented on #370
It looks like this is the only place `oauth2.ParseAuthCodeRequest` and `oauth2.AuthCodeRequest` are being used in all of go-oidc and dex (no other functions even refer to this type). Maybe we can just move this to the dex server code and remove them from go-oidc?

[2016-03-14 05:00] waterdudu opened #373 "Any plan for rbac implementation in dex?"
Is there any rbac implementation in dex?  I searched dex code, but found no role based access control code or issue, which is great needed in authentication & authorization system like dex. Will this be supported in future?

[2016-03-14 11:20] rsoletob commented on #262
As we talked in [dex-dev](https://groups.google.com/forum/#!topic/dex-dev/rCc6ieFb6P0), here is the full report:

[oidc-compliance-test-result.zip](https://github.com/coreos/dex/files/171828/oidc-compliance-test-result.zip)

[2016-03-14 17:01] ericchiang commented on #370
I've opened up coreos/go-oidc#64 In an overarching way think that covers this.

[2016-03-14 17:04] ericchiang commented on #262
Wow there's a lot of stuff in there. I'll take a look through them in a bit and try to come up with an issue list.

Would you like to open a PR adding the compliance test scripts to this repo? Eventually (once we fix a sufficient number of them) I'd like to add them to the travis tests.

[2016-03-14 18:34] ericchiang commented on #373
For the current roadmap, dex's groups implementation (#175) will provide primitives for authz. Please see the discussion in that issue.

The groups proposal should provide the capabilities for users to implement specific authz flavors, such as RBAC, on top of groups.

[2016-03-14 20:17] #328 closed

[2016-03-14 20:17] #159 closed

[2016-03-15 06:56] rsoletob commented on #262
I'm going to research about this. Some tests need user interaction and I don't know if it could work without an user.

[2016-03-15 08:16] johanhenselmans opened #374 "dex wrongly assumes URIs have http(s) scheme"
At the moment dex only supports https: and http: as URI schemes.

So ./bin/dexctl --db-url=$DEX_DB_URL new-client com.example.openid://com.example.apps:/oauthredirect

returns:
Failed creating new client: uri field redirect_uris scheme is not http or https

In the IOS and Android world that will not suffice. Most of the use cases in this world would be to use a webview to do the authentication, an

[2016-03-16 15:36] NobodysNightmare opened #376 "UserInfo endpoint"
I am currently trying to get dex working in a ruby environment. On the RP side I am currently working with [omniauth-openid-connect](https://github.com/jjbohn/omniauth-openid-connect), which has some issues of its own.

However: Working around some of those initial issues, I am now stuck with omniauth-openid-connect trying to get additional claims from the userinfo endpoint, which is [not implemen

[2016-03-16 17:12] ericchiang commented on #376
It's recommended, not mandatory:

https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata

We currently add additional claims to the ID Token. For example:

[code]

But yes, we should absolutely have a userinfo endpoint.

[2016-03-16 17:16] ericchiang commented on #374
Yes I think a better name for this would be "dex wrongly assumes URIs have http(s) scheme" where this is very clearly not true https://www.rfc-editor.org/rfc/rfc3986.txt

[2016-03-16 17:32] davidyum commented on #320
I was able to get a node express app + passport-openidconnect working with Dex by modifying the passport module slightly in my client app.

I captured the request from the passport-openidconnect and the go client app and they look slightly different. I believe Dex expects authorization header (encoded clientid and secret) as part of the request to the "/token" endpoint:
![image](https://cloud.gith

[2016-03-16 17:34] ericchiang commented on #320
Interesting. This may be a bug on our end. Do you know how the credentials are begin sent by passport-openidconnect?

[2016-03-16 17:49] davidyum commented on #320
Passport-openidconnect sample Req:
https://gist.github.com/davidyum/d73609dc7125cc23a6f8

Go Client sample Req:
https://gist.github.com/davidyum/693cbf70b53dc2ec1122

[2016-03-16 18:14] ericchiang commented on #320
Sorry what is this a dump of? The dex logs?

[code]

It looks like the auth might be in the body from `Content-Type: application/x-www-form-urlencoded`

[2016-03-16 18:28] davidyum commented on #320
Yes, I placed logs in dex to capture the two requests.
It seems like Dex is decoding the Authorization header from the request and setting the username as the client id and setting the password as the client secret.
This is in the server/http.go file handleTokenFunc() .

[2016-03-16 20:26] ericchiang commented on #320
It looks like the oauth2 does allow you to pass creds via the request body.

   client credentials in the request-body using the following
   parameters:

         REQUIRED.  The client identifier issued to the client during
         the registration process described by Section 2.2.

         REQUIRED.  The client secret.  The client MAY omit the
         parameter if the client secret is an empt

[2016-03-16 20:29] ericchiang commented on #320
Yeah, the oauth package that the passport-openidconnect does this https://github.com/ciaranj/node-oauth/blob/ec6a1b2eafd2206f248d83e5ddccf911f68cb3fe/lib/oauth2.js#L164-L176

[2016-03-17 17:35] #370 closed

[2016-03-17 17:35] #365 closed

[2016-03-17 23:24] sym3tri opened #377 "configuration data management"
One source of friction around bootstrapping/migrating has been with the way dex handles its config data (especially the `client_identity` table).

It was always the intention to allow config data to be edited via the API. However we can't do that now b/c the workers only load data on startup, and it is never refreshed. This is a separate issue we should address separately.

Today updating clients

[2016-03-17 23:34] bobbyrullo commented on #377
Wouldn't it just replace both of those?

If we have it on the overlord API I guess we should use the Admin API Key probably.

[2016-03-18 00:55] sym3tri commented on #377
"set" for sure.

"get" might be good for displaing in a nice format on the CLI. But assuming the above proposal would be better named as a subcommand: `dexctl connectors list`

[2016-03-21 11:03] waterdudu opened #378 "Verification claims in payload"
I have a question on client claims verification. Claims are generated by the following function by passing UserID as sub and ClientID as aud.
[code]
According to oidc specification, aud must match the client_id in the verification process. But in the signature of `NewClaims` function(seeing above), `ClientID` is passed as the aud in `NewClaims` function, which is not an array. In [verification.go]

[2016-03-21 16:50] ericchiang commented on #378
The audience is allowed to be an array of strings

https://openid.net/specs/openid-connect-core-1_0.html#IDToken

However, since the aud claim determines what client_id can use the token, if an OpenID Connect provider is minting you ID Tokens for a different client, that's a critical bug on the server side.

Does that answer your question?

[2016-03-22 07:34] waterdudu commented on #378
Thanks for you explain, but my question is the process of verification. Why you check the equality of aud and sub?
[code]
I can't find any clue in oidc specification talking about `aud != sub` check.
Thanks.

[2016-03-22 13:26] rsoletob commented on #378
Hi @waterdudu, this check is used to verify the client when token is issued using [client credentials authorization](http://tools.ietf.org/html/rfc6749#section-1.3.4) flow, where sub and aud would be the same.

[2016-03-22 17:20] ericchiang commented on #378
Ah. Yes, [`VerifyClaims`](https://github.com/coreos/go-oidc/blob/ab755faafbbf1c916d3af347d6c730a18fc02652/oidc/verification.go#L39-L41) is used to verify the ID Token returned with the oauth2 token, [`VerifyClientClaims`](https://github.com/coreos/go-oidc/blob/ab755faafbbf1c916d3af347d6c730a18fc02652/oidc/verification.go#L96-L98) is used to verify the client authorization sent to the provider duri

[2016-03-23 00:31] stongo opened #380 "Worker API Auth"
I can't seem to find any documentation on what credentials are expected to make authenticated requests to the worker api.
Trying to figure out how to disable users. Was hoping a user could could disable their own account. But otherwise need to figure out how to make our api do it.

[2016-03-23 00:55] tmc commented on #363
@ericchiang does this imply doing the same in go-oidc?

[2016-03-23 01:20] ericchiang commented on #363
@tmc yes. Though it's not high priority.

We're considering restructuring go-oidc anyway (see coreos/go-oidc#61) so this would probably be tackled then.

[2016-03-23 02:48] ericchiang commented on #380
I will add this to the docs tomorrow but the API looks for the OpenID Connect [ID Token](https://openid.net/specs/openid-connect-core-1_0.html#TokenResponse) in the "Authorization" header of the request.

[code]

That ID Token must be issued for a admin user through an admin client. So at the moment a user must be an admin to disable another user.

However, we're beginning to add different combina

[2016-03-23 09:27] waterdudu commented on #378
@ericchiang @rsoletob Thanks, that's very helpful!

[2016-03-23 15:04] TelanJ opened #381 "Help on Authentication Process"
Hi! I've been trying to develop my own service API to be able to call from the dex example app.

It seems that the `/service` doesn't authenticate using dex cause when i go to `http://127.0.0.1:5555/service`, it still functions whether I'm logged in or not. What can I do about this?

This is my version of the sample app:
https://github.com/TelanJ/service_client

This is my service:
https://github.

[2016-03-23 15:57] #378 closed

[2016-03-23 18:03] ericchiang opened #382 "LDAP Connector: don't read TLS assets from disk"
The LDAP Connector currently requires TLS assets. However, writing files to disk is problematic for containerized deployments where dex workers expect to pull their entire state from the database.

Consider adding a `caFileBytes` field to the LDAP connector which takes a base64 encoded TLS certificate.

cc @fnordahl

[2016-03-23 18:08] ericchiang commented on #381
Sorry I'm a little confused about what the question is here. Do you have a specific concern about dex or is this a question about how to use OpenID Connect? I've looking at your app but I'm unsure about what `/service` is attempting to do.

P.S. - I would strongly discourage you depending on anything in dex's `pkg` directory. These are not meant to be a public facing packages and may change unexpe

[2016-03-23 23:17] ericchiang opened #383 "Proposal: Add OAuth2 scope for determining if a user is an admin"
This came up earlier. We'd like to be able for outside apps to determine if a user is a dex "admin" from just looking at the Id Token.

I'd like to propose achieving this through a custom OAuth2 scope:

[code]

If the client chooses to use this scope, when the user logs in they will be presented with the following message.

[code]

When creating an ID Token, the token would contain:

[code]

If th

[2016-03-24 15:14] TelanJ commented on #381
Hi eric!

Thanks for the quick response!

`/service` will redirect the user to a basic TCP RPC microservice that the user will only have access if it is authenticated by dex.

That too. How can I use OpenID Connect.

Cheers,
Julio Telan

[2016-03-24 15:16] TelanJ commented on #383
+1! This would be an awesome addition and a step further to authorization!

[2016-03-24 20:03] ericchiang commented on #381
@TelanJ unfortunately this is an issue tracker for dex and isn't best venue for debugging outside code.

If you have questions about how to use OAuth2 or OpenID Connect I'd recommend looking for tutorials on those protocols. If you have specific questions about your own code, stackoverflow might be a better place unless it directly relates to a dex feature (then feel free to bring it up here).

Un

[2016-03-24 20:03] #381 closed

[2016-03-24 22:27] ericchiang opened #384 "Proposal: Custom OAuth2 scopes"
At the moment, may of our services that authenticate based on ID Tokens attempt
to restrict the clients that interact with the service. Consider the following
two client setup:

[code]

To ensure client1 is the only thing interacting with our resource we end up
mandating that IDTokens audience fields matches `client1` on the server side.
However this makes it hard to add new clients and adds addit

[2016-03-24 22:30] bobbyrullo commented on #278
let's have these all be separete things, or else I am afraid it will never get dealt with.

[2016-03-24 22:31] bobbyrullo opened #385 "Create Storage Interface to easily get at repos."
Abstract away the DbMap:

For example

[code]

This would clean up anything that needed access to a repo.

[code]

[2016-03-28 19:34] bobbyrullo commented on #384
I would expect to see details on how this works in the proposal.

Also, it's not clear that the JSON blob in the proposal is.

[2016-03-28 19:41] bobbyrullo commented on #383
"adminstatus" seems too ambiguous to me - how about "dex:is_admin"

And I'd rather not put a stake in the ground right now when it comes to groups, especially making some group name special right now.

Why not just another custom claim eg "http://coreos.com/dex/is_admin"

[2016-03-28 19:44] bobbyrullo commented on #382
Seems ok - we'll allow for both right?

[2016-03-28 19:45] ericchiang commented on #382
Yep. No depreciation of existing fields.

[2016-03-28 20:15] sym3tri commented on #384
So there would be another API for managing what scopes are available?

Also can you link to specifics in the OIDC spec about custom scopes?

[2016-03-28 20:29] ericchiang commented on #384
Most likely a similar to the connectors API. "Set all the scope from this json file"

This is more is more of an OAuth2 thing. OAuth2 defines the idea of scope, and. OpenID Connect defines some scopes it looks for https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims.

As a concrete example, Google supports custom scopes to request access to different Google resources: https://develope

[2016-03-29 01:17] ericchiang opened #387 ""godep save ./..." fails with vendor directory"
Now that we use the `vendor` directory the go tool `./...` expression detects all packages in the `vendor` directory. `godep save ./...`, our recommended way of adding new packages, attempts to save all the dependencies of the vendored dependencies. Blah.

Also note that `go list ./... | grep -v vendor` fails so we can't use that ATM to filter out packages.

[code]

Either figure out how to get ar

[2016-03-29 08:09] jmheidly commented on #301
Hi guys,

I've been really struggling to dockerize and run dex components along with postgre. Any easy method?!

[2016-03-29 17:28] ericchiang opened #388 "dex-worker should get email configuration from db"
In the same spirit as #382.

In containerized environments, we currently have to mount a file into the container to configure email. Additionally, there's no way to configure all the workers, without bouncing all the workers. This should be read from the DB.

For further speed of startup, I also propose defaulting to `{"type": "fake"}` if a config is not found.

Steps should be.

1. I want to send

[2016-03-29 17:32] ericchiang commented on #301
This is as far as I got.

[code]

Unfortunately the last command errors out with

[code]

You'd have to mount the email.json file. Blah.

I've opened #388 to address this.

At the moment, I'd suggest just using a Go installation to compile dex and run postgres with docker/rkt. We're aware that dex's configuration is a pain point and have a few issues open to fix this.

[2016-03-29 17:45] jonnenauha opened #389 "dex-worker: Log warning or fatal exit if -email-from is not set"
I just spent a good amount of time figuring out why emails are not firing. I recently migrated from 0.1 or something to 0.3 which was painless. I dont think this `-email-from` was needed in 0.1, don't know when it was introduced. It was then reported to me that the email verification etc. emails were not working.

Anyhow, seemingly no emails are sent if this cmd line flag is not set, even if you s

[2016-03-29 17:47] jonnenauha commented on #389
Better yet make this a line in the emailer config ```"from": "your.mail@domain.com"```` (put something in the example so its clear you need to fill it). Remove the cmdline option and fatal out if "from" is empty.

[2016-03-29 17:50] ericchiang commented on #389
Yes let's do this. It's really weird to have some configuration in the command line flags and others from the config file.

Is there a reasonable value we could default to? What were emails as being sent before this change?

[2016-03-29 17:53] jonnenauha commented on #389
Good question, I don't recall what the sender was with 0.1.

As I'm using gmail, I would assume that the from field is not mandatory and google will figure it out if sent as blank? Not sure if you can make this generalization for all smtp services? If the golang email library needs the field to be filled, that's another story then.

[2016-03-29 18:15] davidyum commented on #320
Thanks for looking into it Eric. It seems like an open issue for the node-oauth package:
https://github.com/ciaranj/node-oauth/issues/175

Adding the line below to the node-oauth oauth2.js line 155-159 fixed the issue:
[code]

[2016-03-29 18:59] jmheidly commented on #301
Oh great. Thank you very much for the feedback.

I'll see how this setup goes and let you know.

[2016-03-30 22:49] ericchiang opened #390 "storage/sql: add tests for cockroach DB"
We've been looking for a distributed datastore for dex for a while now. With cockroachdb's beta, it looks like they've added support for `github.com/lib/pq` https://www.cockroachlabs.com/docs/build-a-test-app.html

Run some initial tests to see if dex can run with cockroachdb. Since dex doesn't use any especially unique SQL features, hopefully this will just work.

[2016-03-31 04:34] chancez commented on #376
I was just thinking today how the `UserInfo` endpoint would be useful for some integrations on account.tectonic.com. Particularly for syncing user accounts to other services.

[2016-03-31 17:03] sym3tri commented on #388
Before starting on this I think we need to rethink the whole config strategy.

[2016-03-31 17:15] ericchiang commented on #388
Yeah I had a chat with @chancez about this. On the whole dex needs a single point of configuration, be it the dexctl revamp or the a config file. E.G. I'd like to be able to configure dex's connectors at the same time as dex's email.

Closing this issue.

[2016-03-31 17:15] #388 closed

[2016-03-31 19:52] chancez commented on #382
Going to :-1:. This would probably reduce overall security by providing another access method to what is effectively the keys to the kingdom. TLS Assets are considered sensitive, and are similar in sensitivity to passwords, which we hash in the DB for security. Having them stored in the DB unencrypted is not good, and encrypting them in the DB is counter-productive as it would mean you need an enc

[2016-03-31 20:09] ericchiang commented on #382
DB vs files for configuration is a high point of contention ATM because dex can be configured by pulling info from the db, from config files, and from command line flags. Additionally, the connectors configs already contain sensitive data (client id and secrets) which are sitting in the DB un-encrypted.

I do like the idea of dex using a single configuration file for connectors, secrets, and email

[2016-03-31 20:29] bobbyrullo commented on #382
@chancez damn, you're right - I forgot that this connector would be loaded into the database, I thought it would just be a file that gets mounted in. Yeah, we don't want these secrets in the DB.

[2016-03-31 21:38] sym3tri commented on #382
+1 to not storing in the DB

Also agree that app config in the DB is not good. However we need a separate discussion on what is actually app config and what is app data.

[2016-03-31 21:58] ericchiang commented on #377
Since this has been brought up twice https://github.com/coreos/dex/issues/388#issuecomment-204023483, https://github.com/coreos/dex/issues/382#issuecomment-204140402

Currently dex can be configured in a few ways. Flags, config files, and reading info form the db.

In addition, connectors currently contain sensitive information (client secrets and passwords) and store this unencrypted in the db. A

[2016-03-31 21:58] ericchiang commented on #382
I'd like to note that the current LDAP connector stores the `searchBindPw` field plain text in the db :smile:

Anyway moving this conversation to #377

[2016-03-31 21:58] #382 closed

[2016-03-31 22:50] sym3tri commented on #377
There are 2 issues to consider with the file-based approach.

1. Do we ever envision a feature in which a dex administrator could log into a UI and add CRUD connectors? The AWS console has such a feature and it's quite nice to be able to do this without having to manually restart the processes. Or there may be situations where the dex admin (person pushing buttons and admining users) is not necess

[2016-03-31 22:58] bobbyrullo commented on #377
I always thought no, but @bcwaldon had brought up a good use case for this; imagine a situation where you host some protected resource, authenticated with Dex. You want to give customers, who are companies, the ability to have their employees access that data, but through their own company's login. In that case, you'd want to dynamically add a connector for this new customer

I don't see that as m

[2016-03-31 23:01] bobbyrullo commented on #387
ugggh. I vote for https://github.com/coreos/docs/issues/775

[2016-03-31 23:08] sym3tri commented on #377
_often_ or _ever_?

Seems weird to be like:
"I'm going to allow users to login with github now... while I roll this out we need to schedule downtime or be aware that many login attempts will fail over the next 5 minutes or so."

I'm just playing devil's advocate. It might totally be fine.

[2016-03-31 23:12] ericchiang commented on #377
Where does the downtime or failed login attempts come from adding an option? Wouldn't the existing login methods work just fine it would just take some time from every work to get the github login option?

[2016-03-31 23:15] sym3tri commented on #377
"add" was a bad example. Pretend I said "remove".

[2016-03-31 23:41] bobbyrullo commented on #377
Because you could be bounced from one worker to another during different phases of the flow.

To be fair, this is a problem with files or with state in the DB, unless you are checking the DB each time you start a flow.

[2016-03-31 23:52] sym3tri commented on #377
True, and checking the DB before each flow is not a bad solution IMO.

[2016-04-01 01:16] chancez commented on #377
@bobbyrullo That problem is also fixable with sticky sessions, which is something we should probably consider as a improved (but not required) deployment option anyways. Kubernetes ingress controllers allow this today, and so does the kubernetes/contrib/service-loadbalancer. Might be worth at least exploring what implications this would have on dex, as it would make the per-worker state problem ea

[2016-04-01 16:25] bobbyrullo commented on #377
I think we're getting way out of the scope of the issue at hand FWIW

[2016-04-01 16:47] ericchiang commented on #377
Yes. Sticky sessions should be discusses elsewhere.

I'm okay with this solution if it's the one you guys prefer.

And again, can we set the email config in the same way as we set the connectors? Just for consistency. It's really weird to have two very similar configs be set in different ways.

[2016-04-01 16:59] ericchiang commented on #387
From conversations with bobby, we should switch to rkt's setup for vendoring applications (make a custom godep-save wrapper). In the future we'll consider glide.

[2016-04-04 08:30] TelanJ opened #391 "Adding a Facebook Connector"
Is it possible to add a facebook connector?

[2016-04-04 17:11] ericchiang commented on #391
Facebook doesn't support OpenID Connect so we'd need to add custom logic to dex, though that shouldn't be hard. It'd be very similar to the [bitbucket connector](https://github.com/coreos/dex/blob/eb6dceadfd98ea786bce887502f5a74d8b49a256/connector/connector_bitbucket.go).

Would you be interested in adding this? :)

[2016-04-04 19:36] sym3tri commented on #377
I am +1 for this.

[2016-04-05 11:38] rsoletob opened #394 "Configurable token expiry time"
In our use case, we need a less token expiry time. Maybe dex could have a config value to set it. What do you think?

[2016-04-05 15:20] ericchiang commented on #394
Yeah this sounds totally reasonable. There's been some discussion in #377 about moving away from flags and towards a global config file for dex. So please be aware of that. Will try to follow up on that thread with a concrete plan.

[2016-04-05 17:23] ericchiang commented on #26
closing as dup of #286 (since it has more details)

[2016-04-05 17:23] #26 closed

[2016-04-05 21:55] ericchiang commented on #377
From conversations yesterday:

* Connectors will stay in the DB. Consider encrypting them later.
* Try to move as much as possible into a config file. This includes email config and a bunch of options currently being passed as flags.

[2016-04-06 00:02] chancez commented on #377
Any reason connectors couldn't also be optionally provided via config?

[2016-04-06 18:30] #286 closed

[2016-04-06 18:30] #340 closed

[2016-04-06 22:31] russellhaering commented on #112
@philhug At ScaleFT we recently encountered a need for pure Go SAML implementation that doesn't exec `xmlsec1`.

We ended up writing this: https://github.com/russellhaering/gosaml2

I'd love to get more eyes on it, if there is anything I can do to facilitate its use in dex let me know.

[2016-04-07 00:25] bobbyrullo commented on #377
The connectors would get out of sync with what's in the file. I think it would be weird to have stuff in the config that is only supposed to "load once" the first time dex starts, and then just sits there.

[2016-04-07 22:30] ericchiang commented on #387
FYI, I tried moving dex over to glide as a POC and it worked pretty well. https://github.com/coreos/docs/issues/775#issuecomment-207116463

[2016-04-07 23:43] chancez commented on #377
@bobbyrullo This issue is true for most systems which have configuration per instance.

I don't think because there _could_ be out of sync configurations means we shouldn't support the feature. It's possible to setup your load balancer to send requests to the same worker while rotating configuration if necessary.

An example use case is, I have 2 different groups of dex-workers. One group which on

[2016-04-07 23:52] bobbyrullo commented on #387
@ericchiang is there any reason to not just go for it?

[2016-04-07 23:56] ericchiang commented on #387
Nope, just want to make sure there's not push back on the other thread. I'll push up the glide changes for review.

[2016-04-08 04:21] bobbyrullo commented on #377
Ah, so you are actually talking about per-instance config. I thought you were saying that the file loads it into the DB.

I don't think we want to support both having it in a file and in the database

[2016-04-08 09:33] srenatus opened #395 "connectors: allow for retrieving OAuth2 client"
Given an OAuth2 connector (much like the github connector) to an OAuth2 service _that doesn't use proper TLS certificates_ (self-signed or a CA not trusted by the system cert pool), you might have the following bits in the connector config:

[code]

accompanied by

[code]

This will work fine _until_  the callback handler uses `http.DefaultClient` again [_here_](https://github.com/coreos/dex/blob/

[2016-04-08 17:13] ericchiang opened #398 "integration: add test for non-admins"
As was pointed out in #396 we've now shift to a paradigm where non-admins have select privaliages to API. However we're lacking in the test department for these kinds of endpoints. Add cases for non-admins.

[2016-04-08 19:03] chancez commented on #377
@bobbyrullo Yeah, I meant a static config, not one which gets loaded into the DB. I think if this was to be added, it would be _either_ db based connectors, _or_ static config file based ones. It might be hard to enforce that, but we could explicitly document that we do not support mixing.

This is basically how we do things today on account.tectonic.com, because we don't really need the dynamic b

[2016-04-08 20:28] sym3tri commented on #377
Chance, we already decided on a plan. We don't want to spend extra time
removing a feature now (the ability to configure connectors at runtime).
It's less work to leave it as-is, and saves us from doing something we may
have to undo later. We can reevaluate as more specific use-cases come to
light, but I don't see this as high priority right now.

On Fri, Apr 8, 2016 at 12:03 PM Chance Zibolski <n

[2016-04-08 21:19] chancez opened #400 "Error messages aren't very helpful/specific"
Env:
[code]

Getting errors like this:

[code]

This really meant "client secrets must be base64 encoded within the `connectors.json`"

[code]

This wasn't too bad, but it probably could have told me what ID it was that caused this.

[code]

This was because the format of the `users.json` changed, and the JSON no longer had a key called `users` within the list of users.

Ideally these get validate

[2016-04-09 00:52] sym3tri commented on #387
@ericchiang were you able to vendor the dependencies in git? I know there's some extra work to get that working properly. Assuming that all went well, I am +1. I like glide, but not the git submodules.

[2016-04-09 00:55] ericchiang commented on #387
@sym3tri Yeah! There's some good discussion in corals/docs#775. A couple comments down I talked about trying to move dex over without submodules.

[2016-04-09 09:18] andrewstuart commented on #121
Running on kubernetes with the provided config (contrib/k8s), I'm pretty sure a TLS error is preventing connections to https://accounts.google.com. After mounting a `hostPath: /etc/ca-certificates` Volume into the container (at `/etc/ca-certificates`), the worker container works properly again.

[2016-04-09 09:40] andrewstuart commented on #121
Haha, which just got me a bit further until I had to do the same for the overlord container. And enable user registration. I'll probably end up submitting a PR to update the k8s config files so that hopefully a little more works out of the box. Perhaps it'll help somebody else. :-)

[2016-04-12 23:05] ericchiang commented on #383
Was discussing this with @joeatwork and @kans. This might be a good way to avoid admin clients. E.g. introduce a scope that allows a client to talk to the dex API on behalf of an admin user.

[code]

[2016-04-12 23:31] bobbyrullo commented on #371
Proposal
===

## Data Model

Clients have a new field called "cross_client_authorizers" which is a list of client_ids. If a client_id is in this list it can mint tokens on behalf of the given client. There are no reciprocal minting rights.

## Data Storage

It's probably fine to store as a comma-delimited list of strings; could also be another table, but that seems like overkill.

## CRUD API

RES

[2016-04-12 23:32] bobbyrullo commented on #371
cc: @ericchiang @joeatwork @sym3tri

[2016-04-12 23:37] bobbyrullo commented on #371
## Alternatives to Not Allowing Refresh Tokens

1. We could allow refresh tokens to be bound to multiple clients. This is not my favorite idea: it goes against the spec, and complicates our data model.

1. Instead of returning both `Mintee` and `Minter` in the `aud` we could just have mintee
* building on that, we could allow multiple scopes, and only allow refresh tokens if there's one.
* In the

[2016-04-12 23:47] bobbyrullo commented on #383
That would work, but it opens up Dex to phishing attacks. I'd personally like to keep it locked down.

[2016-04-13 00:12] ericchiang commented on #383
Isn't that true for any scope we tie to a resource?

[2016-04-13 01:08] sym3tri commented on #371
- Is this claim name part of the OIDC spec? If not we should consider a different name? `audience:server:client_id:$MINTEES_CLIENT_ID`

- I'm not a fan of the terms `Minter` and `Mintee` in the code/docs/config.

- For the UI, I think it should be informational only (no action required by the user)

- I support rejecting mutli-audience refresh tokens for the time-being.

[2016-04-13 01:19] bobbyrullo commented on #371
It's not part of any spec, it comes from [Google's implementation](https://developers.google.com/identity/protocols/CrossClientAuth) of more-or-less the same thing. The advantages of naming it the same thing is that it's familiar to people, and could help in an effort to rally around something and *make* it a spec. The disadvantage is that it's not exactly the same (Google has a bunch of unspecifi

[2016-04-13 03:01] bobbyrullo commented on #383
Yes but a couple of things to note:

1. This is not just any resource - this is the keys to the kingdom; you compromise this and it's game over over for every client, not just the one.

1. For prior art, look at the cross domain stuff that google does. This is similar in that you are asking certain applications (eg, one that has a user admin UI) to do stuff on behalf of another (Dex). They lock it

[2016-04-13 03:21] ericchiang commented on #371
Might be nice have a separate table. Make it easier to do things programmatically through SQL for migrations, queries ("tell me all the clients that can make refresh tokens on my behalf"), etc. Just a thought.

Other than that lgtm.

[2016-04-13 03:23] ericchiang commented on #383
Fair enough. Yeah, might be better to not let an admin christen any old client with admin abilities.

[2016-04-13 03:42] ericchiang opened #404 "Update to Go 1.6.1 and 1.5.4"
https://groups.google.com/forum/#!topic/golang-announce/9eqIHqaWvck

Dex doesn't use TLS client auth so this doesn't affect the project. However it seems reasonable to use the latest stable release.

EDIT: wording

[2016-04-13 03:48] ericchiang commented on #395
Beyond coreos/go-oidc#70, it also seems reasonable to put an `*http.Client` field directly on the `OIDCConnector` and `OAuth2Connector` structs, configure those fields from the connector config structs, and then use them directly later.

[2016-04-13 22:32] #387 closed

[2016-04-13 23:58] sym3tri commented on #371
FWIW postgres has had pretty good array support for a while now. We _could_ have the best of both worlds (no extra table AND easily queryable). This comes at the cost of adding more postgres-specific implementation (but that may be ok if longer-term we decide to have a separate driver per supported storage type).

http://www.postgresql.org/docs/current/static/arrays.html

[2016-04-13 23:59] sym3tri commented on #371
@bobbyrullo thanks for responding. I think we're on the same page. all LGTM.

[2016-04-14 00:00] bobbyrullo commented on #371
Yeah, that would be a bummer

true, but it would be nice if the various SQL implementations shared as much code as possible.

I think a table a separate table is probably the way to go.

[2016-04-14 02:58] qudenger opened #407 "FATAL: Cannot decrypt keys using any of the given key secrets. The key secrets must be changed to include one that can decrypt the existing keys, or the existing keys must be deleted."
when i run cmd "./bin/dex-overlord &" to start dex-overlord, i get the follow error, what i should do? i exported the var in container, maybe export DEX_KEY_SECRET ... twice, but these environment variables not set, so i add it to /etc/profile, then run "./bin/dex-overlord &",  but it show the fatal error.

[2016-04-14 03:17] ericchiang commented on #407
The error is pretty descriptive. The secrets to decrypt data in the database is incorrect. How are you ensuring that `-key-secrets` flag or the `DEX_KEY_SECRETS` environment variable is set the same on subsequent runs of the overlord?

[2016-04-14 03:47] qudenger commented on #407
Thank you @ericchiang, i remove the secrets form database and regenerate, It works.

[2016-04-14 04:04] ericchiang commented on #407
Great! Closing this for now.

[2016-04-14 04:04] #407 closed

[2016-04-14 09:54] adrianlop opened #408 "HandleTokenFunc needs test"

[2016-04-14 12:19] chris-rock commented on #256
+1 on implicit flow, although not all connectors will be able to implement this. Therefore it depends on the connector to allow this flow

[2016-04-14 18:00] bcwaldon opened #410 "Organization Connectors"
I've got a new use-case for dex that I would like to share with the team. It was difficult to condense this down to a concise user story, so hopefully this is still useful:

As a deployer I have many customers. Each customer also runs their own authentication domain, whether it's OIDC, LDAP, SAML, whatever - it can be represented with a connector. Now, when a user shows up to my service, I redirec

[2016-04-14 18:01] bcwaldon commented on #377
Hey guys, sorry I didn't chime in earlier when @bobbyrullo pinged me. I added my use case at https://github.com/coreos/dex/issues/410. Let me know if I can add any more info

[2016-04-14 18:18] sym3tri commented on #383
FWIW I am +1 that we _do not_ do this (at least for now). Users would likely just click through without much thought (b/c they likely won't fully understand the implications).

[2016-04-14 18:49] sym3tri commented on #256
I just want to note that implicit flow does come at a cost b/c it is a less secure auth flow. If we implement we should consider putting behind a config flag.

[2016-04-15 00:01] chris-rock commented on #256
The use case I have: Use dex auth from my cli applications. In that case you have two choices:
- api token
- implicit flow
Have I missed a way?

[2016-04-15 00:12] ericchiang commented on #256
Implicit flow is for clients who can't hide their client_secret (e.g. frontend only applications).

OAuth2 / OpenID Connect are intended to be for browser based apps, but for CLI tools a setup could go like this:

* Assign the CLI a client_id and client_secret and register a redirect for http://localhost:8888/redirect or something
* `cli login` should do two things:
    * Begin listening for the o

[2016-04-15 00:16] chris-rock commented on #256
@ericchiang Oh yeah, that works as well. The only challenge that I see with this approach is that it does breaks the user flow and it not work well via ssh on servers. I still agree that tokens are more secure that to use the user credentials though.

[2016-04-15 01:42] ericchiang commented on #256
Correct me if I'm wrong but I think you're referring to the "Resource Owner Password Grants" (grant_type=password), not the implicit flow.

https://tools.ietf.org/html/rfc6749#section-4.3

I don't believe OpenID Connect allows this grant type.

[2016-04-15 15:32] #408 closed

[2016-04-15 18:37] ericchiang opened #412 "server: TestInvitationHandler flake"
This test failed when testing #401 (a documentation change).

Full log here https://gist.github.com/ericchiang/20ec89d0acc09a1ebd17751d626e3fda

Error message:

[code]

Which is coming from [here](https://github.com/coreos/dex/blob/c2c7f03f47a20e8bee196ab629c4d7b018ba59bb/server/invitation_test.go#L162-L166)

[code]

Hard to say which case triggered the error.

I think this reenforces the fact tha

[2016-04-18 20:05] ericchiang commented on #394
Note from attempting to configure this. Tokens are minted [here](https://github.com/coreos/dex/blob/c2c7f03f47a20e8bee196ab629c4d7b018ba59bb/server/server.go#L505-L506) and the expiry is specified [here](https://github.com/coreos/dex/blob/c2c7f03f47a20e8bee196ab629c4d7b018ba59bb/session/session.go#L17).

Hard to say what else changing `DefaultSessionValidityWindow` will affect.

[2016-04-18 20:48] ericchiang opened #413 "Separate integration tests by type"
For instance running the postgres tests shouldn't require an LDAP server.

Additionally, attempt to document or specify the difference between `integration` and `functional`.

[2016-04-18 22:05] ericchiang commented on #327
Was added in #392

[2016-04-18 22:05] #327 closed

[2016-04-18 22:05] ericchiang commented on #326
closed in https://github.com/coreos/dex/pull/392

[2016-04-18 22:05] #326 closed

[2016-04-18 22:13] ericchiang commented on #261
This has been added to the API, so I'm modifying the milestone to 0.5

[2016-04-19 09:54] ibotty commented on #352
I am interested in using u2f with dex. There are some notes on using u2f with OIDC from yubico: https://www.yubico.com/wp-content/uploads/2015/08/Yubico-U2F-and-OIDC-Final.pdf

If given guidance, I might be able to devote some time to it.

[2016-04-19 16:32] adrianlop opened #415 "handleEmailVerifyFunc needs test"

[2016-04-19 17:47] ericchiang opened #418 "Update go-oidc to latest"
There have been a couple attempts to update go-oidc with poor results (#353, #405).

After hacking at this I've faced a couple blockers. A lot of tests do not work well with coreos/go-oidc#56 since they're comparing literal claims type for type. Because claims are always decoded into [`map[string]interface{}`](https://github.com/coreos/go-oidc/blob/4ae1db46ec3e4dc8c30db43924c21e1600ba3400/jose/cla

[2016-04-19 21:09] ericchiang commented on #418
cc @bobbyrullo @sym3tri I'm having trouble thinking of a way to update dex with https://github.com/coreos/go-oidc/pull/56. We now encode times as int64, but always decode numeric claims as float64. The tests are not happy.

Would love some thoughts on this.

[2016-04-19 21:11] ericchiang commented on #360
As discussed with @bobbyrullo this is going to be difficult because connectors use arbitrary JSON which our generated API client does not support.

Maybe make an exception for this case and don't worry about the generated client?

[2016-04-19 21:44] bobbyrullo opened #419 "centralize ClientRepo business logic"
We probably want a ClientManager object for that.

The ClientRepo is weirdly inconsistent compared to the rest of the Repos - most other repos perform just CRUD operations, but ClietRepo is a weird mixture. An example inconsistency is that the Repo creates the secret, but we rely on an ID passed into it. To be like other repos it should not either one.

Also needs txns.

[2016-04-19 21:56] ericchiang commented on #360
From OOB conversations, there is an `any` type we can use to do this.

https://developers.google.com/discovery/v1/type-format#type-and-format-summary

[2016-04-20 01:43] bobbyrullo commented on #418
@ericchiang I'll catch up with you on this tomorrow

[2016-04-20 16:13] philips commented on #112
@philhug What do you think of working on Dex + SAML using the new pure Go libraries that @russellhaering wrote?

[2016-04-20 16:36] ericchiang commented on #418
Link to tests that are failing: https://gist.github.com/ericchiang/5d49573f30730918fe01633f95d78e47

[2016-04-20 20:12] anthonator commented on #120
What did you specify for the `--listen` parameter?

[2016-04-20 20:35] ericchiang commented on #120
You should be able to supply something like

[code]

Does that not work?

[2016-04-20 22:28] bobbyrullo commented on #352
@ibotty : that would be wonderful.

I agree with @ericchiang that it sounds like a local connector addition. Consider the different deployment options: requiring 2-factor for all users, user's choice, or not enabled. Also consider how general does this need to be: if it works with yubikey will it work with other vendors?

The way to proceed is to post a proposal here and once we reach agreement yo

[2016-04-21 06:13] ibotty commented on #352
U2f is a vendor-neutral standard. It would also work with cheap 5$ dongles.

I will try to do a proposal draft next week.

[2016-04-21 18:12] bobbyrullo commented on #371
- [ ] Add new table, field
- [ ] add API
  - [ ] worker API
  - [ ] admin API
- [ ] OIDC Work
- [ ] Scope UI

[2016-04-22 04:27] andrewstuart commented on #310
As far as I can think, "register" is a bit of a strange action to perform for an IdP that's primarily concerned thus far with federated identity solutions, and an extra step for end users. Most OIDC clients I've used simply ask if you want to "Log in with google/facebook/github" and will never complain that you haven't explicitly done so for the first time without registering. It seems like an unn

[2016-04-22 08:50] ekarlso commented on #303
Is there any news on this?

[2016-04-22 13:31] jonnenauha commented on #380
I would like to create/invite new users with the worker API. I've been reading the code and trying to figure our how to do this (as OP said there is no real docs, vague json spec file). The biggest issue I think is that the dex repo does not provide any help in figuring out the JWT authorization header.

You comment helped a bit, if I understand right once the serve has authed you can

[code]

Tha

[2016-04-22 22:39] bobbyrullo commented on #310
But dex is an IdP, not an OIDC Client - even though it acts as one sometimes.

If we added such a feature, I don't think it would be a good idea to make it a default, because existing installations who upgraded might accidentally get this turned on

In fact we have some of that [in place](https://github.com/coreos/dex/tree/master/schema/workerschema#usercreaterequest)  already, though it is rudime

[2016-04-22 22:50] andrewstuart commented on #310
Right, so what I mean is that the clients of dex would have to be explicitly aware, and make their users aware, that there's a difference between your first time logging in with dex, and every other time logging in with dex, which is not a common distinction among OIDC Providers.

So even if it's not the default, I think it's a desirable feature across all external identity management systems that

[2016-04-25 17:00] bobbyrullo opened #427 "API Overview docs"
As has been pointed out in #380, Dex APIs are confusing, especially when it comes to figuring out what kind of authentication the various endpoints require. Furthermore, some APIs are defined in the JSON files, and others (ones that are defined by OIDC, OAuth2 specs) are not.

We need a guide to the APIs which deals with all these things and lets people know:
1. Definitive list of APIs/endpoints
2

[2016-04-25 17:05] bobbyrullo commented on #380
@jonnenauha this *IS* super confusing, and we apologize for that. Keep an eye on #427, which should address these issues (I just opened it in response to this). I'll be on vacation the latter half of this week, so I won't get to work on it much till then unfortunately.

[2016-04-25 20:00] bobbyrullo opened #428 "Dev guide updates"
Development on dex is getting complicated, with lots of unwritten rules, eg scripts that have to be run when you add DB fields, tables, files that have to be modified, etc. etc. Here's some things that need to be addressed - I'm sure there's more but this is off the top o' my head:
- Schema Updates (update tables, fields)
  - updating gorp models
  - add migrations (pg + sqllite)
  - run functiona

[2016-04-25 20:15] jonnenauha commented on #380
Yeah, np. I know you are at 0.x versions. Cant expect everything to be ready and polished. It it just frustrating to see that there is some kind of API but not being able to use it :)

Please add code examples or provide some sub library for working against the API, that would be ideal. Exposing the structs that are expected as JSON payload and easy way to generate the JWT stuff (afaik the payload

[2016-04-25 22:15] bobbyrullo opened #429 "Regularize ClientRepo"
Should be like the rest of the repos, where methods take a tx. Probably should create a ClientManager as well

[2016-04-26 18:58] bobbyrullo opened #431 "Add better tests for refresh token endpoints"
in user_api_test.go, there's one test for all the refresh token endpoints. There should be separate ones for List and Revoke. In addition these only test one instance of the happy path, just with different clients. We need to have tests for cases where the client doesn't exist, where the user doesnt; have a refresh token for the given client, etc, or where the user is trying access someone eles's