[2016-04-27 23:09] aarongreenlee commented on #301
I've been wanting to checkout dex since it was announced. This week, I am on vacation and thought I'd make some time to investigate. I ran into the same trouble as @preston in that I was hoping I could fire up a container and tap into it from my app for a quick evaluation.

[2016-04-27 23:32] ericchiang commented on #301
@aarongreenlee sorry, yes we know this is a pain point. As noted above, dex is currently comprised of several different services: dexctl, dex-overlord, dex-worker, a database, and client applications.

This makes it hard to produce a good single container user experience, particularly since we develop for orchestrated environments. With that in mind there was a lot of work on the [dex on kubernete

[2016-04-28 20:55] andrewstuart commented on #112
@philips I've actually been doing a bit of work recently integrating some of my own saml2 work (for encrypted assertions) with @russellhaering's library, since they ended up being pretty orthogonal. One of my short-term goals is to submit a PR for a saml2 dex connector, since it seems like some of the previous work might have dropped off.

[2016-05-02 20:47] ericchiang commented on #112
@andrewstuart would love to see this and would be happy to review! Please feel free to open a PR or comment here if you have any further questions.

[2016-05-04 01:42] philips commented on #309
@ericchiang @fnordahl can one of you flesh the description out further?

[2016-05-04 01:49] philips opened #432 "LDAP: add claims based on groups"
It would be nice to put a groups claim into the users identity. The most obvious place to start would be letting someone who is using an LDAP server with an RFC2307(bis) schema to be able to take their posixGroups list and put it into a claim as a JSON list.

cc @fnordahl

[2016-05-04 20:31] sym3tri commented on #432
Would it make sense to allow configurable filters to whitelist/blacklist which groups are embedded?

Something that came up recently in an LDAP discussion was that a lot of the LDAP groups are just noise in some contexts, and aren't always desirable to make available to other systems.

[2016-05-04 20:53] fnordahl commented on #432
@philips RFC2307 and RFC2307(bis) is indeed the way to go. I have experience with the old school way of RFC2307 but also have access to RFC2307(bis) based directories.

@sym3tri filtering should be easy to add.

Now, what infrastructure do I have available in dex to add claims to the JWT at the Identity-step? The returned oidc.Identity type contains very little information.

[2016-05-04 21:59] #404 closed

[2016-05-04 22:47] janekolszak commented on #120
Please add this info to the tutorial

[2016-05-06 17:41] akshaybahetii commented on #432
There are a couple of problems when adding LDAP groups as a claim in the token.

1. The number of groups  a user belongs to for some organizations is huge. In this case the token size increases making it had to transport and store(Ex as a Cookie in the browser). @sym3tri Filtering can be a solution here. But again it restricts how groups can be used by authz/policy.(And also how will the token be

[2016-05-06 18:46] ericchiang commented on #432
This has been brought up a few times internally. While a really big token is ugly, users should be working with these programmatically.

For transports that are sensitive to things this size, if the JWT holds information you don't need don't use it in those contexts. e.g. for a cookie, verify the JWT from dex, pull out the relevant groups and sign a smaller JWT yourself (or do caching, or store it

[2016-05-06 19:47] anthonator opened #439 "build script assumes a valid GOPATH checkout"
I'm having trouble building v0.4.0 with a script that worked fine for v0.3.0. Looking at the release notes for v0.4.0 and I'm not seeing anything that would cause incompatibility.

Here's my script:

[code]

Results in error:

[code]

Same script works fine for 0.3.0.

[2016-05-06 20:16] ericchiang commented on #439
Ah, I believe we stared assuming you have downloaded dex to a valid GOPATH.

[2016-05-06 20:18] anthonator commented on #439
Gotcha. Is this a bug or documentation issue?

[2016-05-06 20:23] ericchiang commented on #439
Not really a bug but something we should fix (am working on it).

[2016-05-06 20:23] anthonator commented on #439
This change to my script fixed the issue:

[code]

[2016-05-06 20:24] anthonator commented on #439
👍 thanks @ericchiang

[2016-05-06 20:51] #439 closed

[2016-05-06 20:54] chris-rock commented on #261
In addition to that we may think about access token revocation, too.  As defined in https://tools.ietf.org/html/rfc7009

[code]

For access token, we could just store the revoked access tokens in db until they are expired. dex-overlord could clean up the table regularly.

[2016-05-06 21:17] chris-rock opened #441 "API access token"
## Background

Dex as an Open ID Connect/Oauth2 server handles authentication for the user. At the moment, all issued tokens are optimized for UI driven flows. In order to be able to use access token for API consumption  e.g. via CLI, we need long-lived access tokens. Google calls those `API token`, Github `Personal token`
## Data Model

We can use the same access_token datamodel. Instead of issui

[2016-05-06 21:29] bobbyrullo commented on #441
Hi chris - thanks for the proposal! We are doing similar work right now for supporting long-lived CLI access to Kubernetes clusters (see https://github.com/kubernetes/kubernetes/issues/18549#issuecomment-217308747 )

In your proposal are access tokens JWTs? If so, after they are revoked, how do client's know they have been revoked?

[2016-05-06 21:31] bobbyrullo commented on #441
Also, it would be helpful for this proposal to outline the way the data flows - i.e. who requests the long lived token (and how), how do they use it, how is it validated.

[2016-05-09 17:40] bobbyrullo commented on #41
dupe of #352

[2016-05-09 17:40] #41 closed

[2016-05-09 21:36] fnordahl commented on #418
I have tried to address this myself, at some point I came across this:
https://golang.org/pkg/encoding/json/#Decoder.UseNumber

Would it be possible to make the Dex JSON decoder do this? If we had numbers typed as Number interface instead of float64s we could use the numeric values as we wish later on throughout dex and not being forced to float64s.

[2016-05-09 21:49] fnordahl commented on #309
@philips I do not have access to edit the description of this issue, but I have fleshed out the description for the PR. Cc @ericchiang

[2016-05-10 04:38] ericchiang commented on #309
:+1: updated here

[2016-05-10 06:50] ibotty commented on #352
I did not get to it a few weeks ago. Sorry. I don't know, when I will have time. So nobody should be discouraged to work on it!

[2016-05-10 08:35] fnordahl commented on #418
Any thoughts on this @ericchiang @sym3tri @bobbyrullo ? I have identified some places where we could convert from float64 to int64 and make the tests pass, but it is currently not possible given the type used for the iat and exp.

[2016-05-10 09:13] ericchiang commented on #418
We would have to construct claims to use json.Number as well during marshaling. Could be doable.

[2016-05-10 09:45] fnordahl commented on #309
thx!

[2016-05-11 11:10] chris-rock commented on #441
@bobbyrullo Thanks for your quick feedback. I'll add a more detailed description over the next days. Lets continue the discussion once I added the flow.

[2016-05-11 23:32] akshaybahetii commented on #324
I configured dex to work with ldap. While using the example-app when try to login I get "There's no account for this user" - "Try registering with this first:". I get the same message when I try to register.

Is this issue the same as reported here ?

[2016-05-12 20:33] chancez commented on #377
On my wishlist in addition to more static config, I would **really** like to see a way to create connectors idempotently. I currently handle this with external systems, but it would be nice if I could accomplish this using just dexctl/the dex api.

[2016-05-15 23:02] fnordahl commented on #418
I believe I found a way to amend the remaining failing tests. Please have a look at #353

[2016-05-16 14:17] stongo opened #443 "msg_code not being passed on redirect"
Using latest master, I'm not sure if it's the case of the msg_code not being passed correctly, or there's an unneccesary 302 redirect, but after trying to login with a Google connector before registering, here are the ensuing requests made, with:

[code]

This ends up on the dex "home" screen with no error message.

As a somewhat separate issue, is there a way to disable registration per connector

[2016-05-16 15:24] ericchiang commented on #443
There's some discussion of this in #310.

For the actual bug report, which redirect are you talking about? Sorry, there are a lot of them.

What's the actual behavior you expect for the end user beyond HTTP headers not being passed on?

[2016-05-16 16:05] stongo commented on #443
I'm not exactly sure why the 302 is happening in this case.
The expected behavior I'm looking for is to end up on the registration page with a message like
[code]

[2016-05-16 17:09] ericchiang commented on #443
I believe this was caused by https://github.com/coreos/dex/issues/370. Am investigating.

[2016-05-16 20:20] stongo commented on #443
did some more debugging. here's what's happening:

1. Click "Login to Google" without registering first and select an account to attempt to login with
1. Google reports to `/auth/google/callback?state=XXX&code=4/XXX&authuser=0&hd=foo.net&session_state=XXX&prompt=none` which returns a 302
1. redirects to `/auth?client_id=XXX&msg_code=register-maybe&redirect_uri=http%3A%2F%2Flocalhost%3A5000%2Flogin

[2016-05-16 20:30] stongo commented on #443
It just so happened my callback would redirect right back to Dex on that error, so why I missed it

[2016-05-16 20:32] ericchiang commented on #443
@stongo yeah I've got a half fix on a dex branch https://github.com/coreos/dex/tree/fix_remote_registration

There's an explanation of what's happening in an inline comment.

That gets us to "you don't have an account, try registering" but the registration button still doesn't work.

[2016-05-17 12:44] stongo commented on #443
the registration button isn't working because `response_type` query is empty. looking at it now

[2016-05-17 20:42] bobbyrullo commented on #443
@stongo I think the thing to do is revert #375, and reintroduce the desired changes from it without the confusing refactoring, which I am in the process of doing as we speak.

[2016-05-17 21:33] stongo commented on #443
So this fixes the first issue that @ericchiang already fixed, but still does not allow subsequent registration after trying to login.
Still get `ERROR: Invalid auth request: no response_type provided`
This issue can probably still be re-opened, and I'll work on a fix from master now

[2016-05-17 21:50] bobbyrullo commented on #443
Hmph. You're working from master right stongo?

[2016-05-17 22:06] bobbyrullo commented on #443
I can't reproduce @stongo  - could you tell me the exact flow?

[2016-05-17 23:05] stongo commented on #443
@bobbyrullo:
1. attempt to login to google connector without registering first
1. get redirected back to `/auth` and receive message `There's no account for this user. Try registering with this first:` and then click `Use Google` button
1. get redirected back to my API with error

Dex Logs:
[code]

API log:
[code]

[2016-05-17 23:38] stongo commented on #443
@bobbyrullo derp, you were right, master does work. I had fubared my fork master today, hence not working. Thanks for fixing and sorry for wasting your time at the end there :)

[2016-05-17 23:38] #443 closed

[2016-05-18 00:11] ecordell commented on #377
I came across this issue when reviewing #436. See this line: https://github.com/coreos/dex/pull/436/files#diff-f1e8fb42f56cebe8f44f7667427adca6R37

A dexctl command sleeps for 10s to give dex time to start up, so that it can issue the command to create the connectors. If dex could read from a config file this could be skipped, and the config loaded into the container on startup.

[2016-05-18 02:38] bobbyrullo commented on #443
Phew! No worries, glad it works!

[2016-05-18 20:01] bobbyrullo commented on #377
@ecordell : please see https://github.com/coreos/dex/issues/377#issuecomment-207590632

[2016-05-18 22:19] MalteJ commented on #384
Any news on this?
How does Kubernetes interact with dex? Where is authorization happening?

[2016-05-19 18:17] ecordell commented on #360
Something that might make this a little simpler:

Instead of a single endpoint that varies based on the `type` field of the connector, why not have per-type endpoints? e.g. `/connector/ldap` and `/connector/local`. This would make it easy to define schemas for each separate type and do the appropriate validations, etc.

[2016-05-19 18:35] ericchiang commented on #360
I don't think there's anything that prevents us from having multiple connectors of a particular type. E.g. multiple `ldap`s so we'd have to figure out how to express that. Might not be as simple as just having one endpoint that takes a list :)

[2016-05-19 21:41] ericchiang opened #447 ""Try registering first" should indicate that registration is with dex"
When a user attempts to login with, say LDAP. If that user doesn't have an account with dex they are prompted with a message that says "Try registering first" and a button that says "Log in with LDAP"

"Try registering first" is confusing if the user already has an account with the upstream provider, and should probably indicate that "registering" means "registering with dex".

[2016-05-24 14:06] hanikesn opened #448 "Allow wildcards in for valid RedirectURIs"
We want to use dex to together with a [Nginx](https://github.com/pingidentity/lua-resty-openidc) reverse proxy to secure a large number of internal services. That would mean creating a large number of dex clients or doing a bit of session trickery to share a single authentication via dex between mutiple subdomains.

Allowing wildcards for valid RedirectURIs would make this a lot easier to manage.

[2016-05-24 15:02] bobbyrullo commented on #448
I understand why that would be helpful @hanikesn, but I think it goes against the OIDC/OAuth2 spec.

You could exploit the `state` parameter for this purpose though...

[2016-05-24 15:02] #448 closed

[2016-05-24 21:06] #63 closed

[2016-05-24 21:06] #419 closed

[2016-05-26 09:37] hanikesn commented on #448
Sorry, to reopen this. I don't understand how this would violate the OIDC spec, e.g. Google allows multiple domains to be used for a single client:
![oidc](https://cloud.githubusercontent.com/assets/630711/15570343/de51d988-2335-11e6-9373-13f54ba43504.png)

What I basically want to be able to do is:
[code]

[2016-05-26 16:27] ericchiang commented on #448
https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest (Emphasis my own)

Seems pretty clearly against the spec.

[2016-05-26 21:53] ericchiang commented on #373
Going to close this. We've gone in a different direction and plan to use other services to enforce RBAC.

[2016-05-26 21:53] #373 closed

[2016-05-27 14:56] #156 closed

[2016-05-27 21:02] alexbrand opened #450 "Add support for TLS in the example application"
Even though it is a sample app, it'd be great if the app could be setup to serve over HTTPS.

[2016-05-31 18:43] chancez opened #452 "Release images on quay are manually tagged"
https://quay.io/repository/coreos/dex?tab=tags

This release was put out last month and I'm not seeing a semver tagged release in quay though. It does seem that ea4c04fde83bd6c48f4d43862c406deb4ea9dba2 (the commit v0.4 is at) exists though.

[2016-05-31 18:51] ericchiang commented on #452
I've gone ahead and added the tag.

Going to keep this issue open. We either need to add a comment to the release guide or have some job trigger (probably travis) when we publish a release.

[2016-06-01 17:51] #360 closed

[2016-06-03 15:30] #309 closed

[2016-06-03 17:49] ericchiang opened #454 "Clean up type names like client.ClientRepo"
Been running golint on dex and this has been the common theme around naming.

We have a lot of types that have redundant names when imported from other packages, e.g. `client.ClientRepo`.

[code]

Relevant part of [_Effective Go_](https://golang.org/doc/effective_go.html#names)

@bobbyrullo you okay with a refactor to update this? Don't want to impact #426 development too much.

[2016-06-03 17:50] #418 closed

[2016-06-03 17:51] ericchiang commented on #429
#442 closes this

[2016-06-03 17:51] #429 closed

[2016-06-03 17:51] ericchiang commented on #412
This should be good now that #353 is in

[2016-06-03 17:51] #412 closed

[2016-06-03 18:41] ericchiang commented on #395
I believe this is solved now that coreos/go-oidc#70 is in. Please comment if it's not and I'll reopen.

[2016-06-03 18:41] #395 closed

[2016-06-03 18:51] ericchiang commented on #298
Fyi this is now possible with #449 in

[2016-06-03 18:54] ericchiang commented on #376
This would actually be really easy, since we currently use the ID Token as the access token[0]. We'd just decode that for the user.

[0] https://github.com/coreos/dex/blob/2d5fb0b47a3150d4fb2696f0736c12ee57d72ba7/server/http.go#L495-L500

[2016-06-07 00:14] bobbyrullo commented on #454
I've noticed that and agree with it - in most cases; in a couple of  places there might be some ambiguity.

But yeah, it would be cool if you held off for a little bit though, I'm all over this code right now.

[2016-06-07 11:24] jonnenauha opened #456 "Verify link invalid/expired bad UI experience"
I think we are getting into issues that people create our dex account, then receive the verification link to their email. If they come few days later to click that link and want to proceed to use our site, they get this.

![image](https://cloud.githubusercontent.com/assets/157519/15855931/2b9616b2-2cbb-11e6-9dfa-b42a310f8b46.png)

I think this page should give a common sense error and provide a li

[2016-06-08 00:37] ericchiang commented on #371
@bobbyrullo cool with closing this now that #426 is in?

[2016-06-08 00:55] ericchiang commented on #385
I tried this earlier in the release cycle and found that this was a huge undertaking due to the mount of refactoring this requires. We might want to move it to the next milestone.

[2016-06-08 01:41] bobbyrullo commented on #371
I still have at least another PR to deal with refresh tokens. I'll close it out when the work is done

[2016-06-09 10:46] teh opened #460 "Accept client_id and client_secret in request body"
Hi,

Some oauth2 clients (e.g. oauth2_proxy [2]) post the client id and secret in the body, not as a header. But dex only checks the www-authenticate header [1]. I think the fix is simple and I can do it but I wanted to check first whether this is an intentional ommision.

[1]
https://github.com/coreos/dex/blob/a9d854e144b8245d5672d4b92ab497c438283a03/server/http.go#L471

[2] - TEST DATA: no sensi

[2016-06-09 17:04] ericchiang commented on #460
There was some conversation about this in #320. Going to re-paste this comment from that thread

   client credentials in the request-body using the following
   parameters:

         REQUIRED.  The client identifier issued to the client during
         the registration process described by Section 2.2.

         REQUIRED.  The client secret.  The client MAY omit the
         parameter if the clie

[2016-06-10 18:56] ericchiang commented on #460
@teh can you open an issue upstream with oauth2_proxy? I'd be interested in why they do this in the first place.

Also do you know of any other clients that require this? I know there was a passport oidc implementation for nodejs that also had this issue https://www.npmjs.com/package/passport-openidconnect

[2016-06-11 16:24] teh commented on #460
To be fair to oauth2_proxy I think they're only intending to work with existing providers like google, linkedin, azure etc. We can and do reconfigure their binary to point to our own instance which might be considered out of scope. Opened an issue.

[2016-06-14 23:06] bobbyrullo opened #467 "Prep Work for native clients."
## Intro

"Native clients" are soon to be introduced. These clients have essentially public IDs and Secrets, and there are some APIs for which the ID/Secret pair can be used to gain credentials. I wasn't sure what these were, so I made a survey of all the known APIs (except the Admin(bootstrap) APIs and OIDC apis)

## Authn Types

Authn: clientTokenMiddleware
Impl: server/auth_middleware.go
Desc:

[2016-06-15 00:16] ericchiang commented on #467
For those following along this is what Google calls an "Installed app" which we plan to introduce to dex. Reading here: https://developers.google.com/identity/protocols/OAuth2InstalledApp

Some highlights

As for API access, native clients seem really dangerous when mixing with the cross client stuff we just introduced. If a client ever trusts a native client, then we should expect anyone to be ab

[2016-06-15 18:50] bobbyrullo commented on #371
With #465, this is closed. Still need UI work, for which I will open a separate  issue.

[2016-06-15 18:50] #371 closed

[2016-06-15 18:52] bobbyrullo commented on #427
Might be helpful for now:

#467

[2016-06-15 20:34] bobbyrullo opened #469 "Public Clients"
Proposal
===

## Background

Sometimes authentication needs to be initiated from an application that cannot be trusted to keep the client_id/client_secret pair secret - Mobile phone applications and command line tools are two examples.

To support this usage we will introduce a new type of client called "public client". A public client is just like a "normal" client with a couple of restrictions:

[2016-06-15 20:48] ericchiang commented on #469
Yep, this works for me.

[2016-06-15 22:15] sym3tri commented on #467
Not sure I understand this comment. The endpoints are not meat for users, but computer programs that are OIDC clients.
Regardless, the only valid use-case I can think of for purely Client Auth (no user involved) is if someone wanted to create a client that programatically rotates it's own client secret on an interval. Not an entirely required feature. Unless there are other use-cases I'm not consi

[2016-06-15 22:28] #467 closed

[2016-06-17 17:49] chancez opened #470 "AdminAPI: Get user by email in addition to by ID"
Currently you can only retrieve a user by their ID via the admin API, meaning it's not possible to check if a user exists before creating without storing the ID from the previous creation somewhere. It would be great if we could lookup the user by email so we can avoid storing the admin user ID.

[2016-06-17 23:41] #310 closed

[2016-06-20 16:46] ericchiang opened #473 "Improve error logging"
There are a bunch of logging statements that make no sense and need to be removed or clarified. For example:

[code]

[2016-06-20 19:56] ericchiang opened #474 "Use smaller JWK key IDs"
Currently the "kid" field for JWTs are _huge_.

[code]

Make these smaller to reduce the overall size of the JWTs.

See https://www.googleapis.com/oauth2/v3/certs for example of smaller key ids.

[2016-06-20 23:39] ericchiang commented on #107
This has been done :tada:

[2016-06-20 23:39] #107 closed

[2016-06-20 23:40] ericchiang opened #475 "Add intro to OpenID Connect document"
OpenID Connect is a dense spec, and it'd be helpful to have a short overview for individuals using dex for the first time. At the very lease, link to the Google intro: https://developers.google.com/identity/protocols/OpenIDConnect#server-flow

[2016-06-21 00:03] #469 closed

[2016-06-21 16:42] ericchiang opened #476 "Clean up error detection in admin package"
The "admin" package currently inspects errors to determine the correct HTTP response to send back to the user. It does this by attempting to match a list of known sentinel errors and even performs a type switch.

Code [here](https://github.com/coreos/dex/blob/3b8d704c9c8b4150bd91cf042232fbe5af64037c/admin/api.go#L165)

[code]

Clean this up by finding a more general ways to detect errors which sho

[2016-06-21 17:22] sym3tri commented on #473
Another problem that has arisen is not enough log statements when things are not working as expected, making dex hard to troubleshoot.

Logging need to be cleaned up in general. We've been using logrus in other projects and are happy with it so far. https://github.com/Sirupsen/logrus

[2016-06-21 17:33] ericchiang opened #477 "Functional tests should manage their own containers"
Currently the functional tests are pretty much impossible to run outside of Travis since they depend on very specific configuration and environment variables.

Have functional tests start and manage their own containers so it's possible for developers to run these tests on their own machines.

[2016-06-21 17:34] ericchiang commented on #473
Okay. Going to bump the priority and assign to the next milestone.

[2016-06-21 17:59] ericchiang opened #478 "Templates aren't explicit about the data they consume"
The type *template.Template doesn't do a good job of documenting what it consumes or how to construct it.

For example, I have no idea what the template in the following function call expects to be executed with or how it should be constructed:

[code]

Consider ways to be more explicit about what data is being passed to it. For example:

[code]

[2016-06-21 18:01] ericchiang commented on #400
Going to close this as these specific error messages were cleaned up. @chancez please open a new issue with specific errors if there are any else you want to be addressed.

[2016-06-21 18:02] #400 closed

[2016-06-21 18:03] ericchiang commented on #1
We support the state field, so it's up to the client to do this.

[2016-06-21 18:03] #1 closed

[2016-06-21 18:04] ericchiang commented on #3
We do provide "Cache-Control" headers for the discovery and keys endpoints.

[2016-06-21 18:04] #3 closed

[2016-06-21 18:05] #6 closed

[2016-06-21 18:06] ericchiang commented on #12
Moved to #256

[2016-06-21 18:06] #12 closed

[2016-06-21 18:39] ericchiang commented on #278
Closing this one. The server package is still messy, but I don't think this proposal addresses it correctly. Will reopen if I think of a more direct plan of attack.

[2016-06-21 18:39] #278 closed

[2016-06-21 19:07] ericchiang commented on #225
We don't have plans to add resource owner password grants. Closing this for now.

[2016-06-21 19:07] #225 closed

[2016-06-21 19:09] ericchiang commented on #50
Also might be nice for users to only be created once the email verification link has been visited.

[2016-06-21 19:17] ericchiang commented on #303
We're not working on this but would be happy to review an implementation. Would be very important for this to be turned off by default.

[2016-06-21 20:58] ericchiang opened #480 "LDAP connector doesn't escape input"
A hypothetical setup of the LDAP connector is to auth without search against a specific directory.

[code]

If I enter the username "janedoe" the result bind becomes

[code]

However I can trivially access sub directories by including them in my username. E.g. "janedoe,cn=admins" would become

[code]

Investigate proper escape strategies for LDAP DN entries.

[2016-06-21 21:08] ericchiang opened #481 "LDAP connector doesn't work without searchBeforeAuth"
Without search, the LDAP connector never queries for the user's email [0]. Because it returns an identity without one, registration always fails.

[0] https://github.com/coreos/dex/blob/a7b860b9c2dba69b7154feacbd0adbe0c52e2591/connector/connector_ldap.go#L459-L467

[2016-06-21 21:10] ericchiang opened #482 "Don't display "Try registering with this first:" when registration is disabled"
This is a consequence of "--enable-automatic-registration" some of our error messages, for instance when a connector returns an identity without an email, display "Try registering with this first:" even without the "--enable-registration" flag.

[2016-06-21 23:18] ericchiang commented on #480
Further reading: http://www.rlmueller.net/CharactersEscaped.htm

[2016-06-23 19:49] ericchiang commented on #389
cc @xaka

[2016-06-23 19:53] ericchiang commented on #450
I believe this has been covered in #453. Closing.

[2016-06-23 19:53] #450 closed

[2016-06-23 20:18] ericchiang commented on #261
The API for this proposal is done. Going defer additional work for another issue.

[2016-06-23 20:18] #261 closed

[2016-06-23 20:22] sym3tri commented on #39
This very old and I believe the issue has since been resolved. Please reopen if you can reproduce.

[2016-06-23 20:22] #39 closed

[2016-06-23 20:23] ericchiang commented on #15
This would be nice to have but we'd like a more specific proposal for this issue. For now everything should go through a repo interface which could optionally implement peer caching.

[2016-06-23 20:24] #15 closed

[2016-06-23 20:25] ericchiang commented on #7
For now we're only going to support removing connectors from the configuration without a specific "disable" user experience.

[2016-06-23 20:25] #7 closed

[2016-06-23 21:58] ericchiang commented on #264
Closing for now. This is still an issue, but can be addressed as individual cases arise.

[2016-06-23 21:58] #264 closed

[2016-06-23 22:00] ericchiang commented on #361
Closing. We don't have any plans to do this, and it's not necessary to fix any existing issues.

[2016-06-23 22:00] #361 closed

[2016-06-27 23:27] ericchiang opened #485 "Admin and worker APIs are poorly named"
The admin API is the boostrapping API.

The worker API is the API that admin clients and users use.

This regularly causes confusion and should be changed.

[2016-06-28 15:16] LEW21 commented on #28
Bootstrapping API is unfortunately useless without this feature.

[2016-06-28 17:28] ericchiang opened #489 "Image pushes to Quay from Travis are flaky"
We're getting some weird errors from Travis right now when pushing to Quay. For example see https://travis-ci.org/coreos/dex/jobs/140677161#L297

The push seems to succeed but Travis still exists with exit status 1.

[code]

[2016-06-28 17:48] #474 closed

[2016-06-28 18:00] ericchiang commented on #489
This is actively breaking the build. Making a p0

[2016-06-28 20:37] chancez opened #492 "Return specific error/code from create admin API call"
It would be great to get an HTTP 409, and/or a better error when attempting to create a user that already exists. Currently I get the following type back from the generated client:
[code]

Additionally, having a function I can use like `IsErrorAlreadyExists(err error) bool` would be the preferred way to check, rather than having to guess how to inspect the error type.

[2016-06-28 21:12] ericchiang commented on #489
Fixed by #493

[2016-06-28 21:12] #489 closed

[2016-06-28 22:35] chancez opened #495 "Cannot tell if client being created already exists using admin API"
When I create a client using the admin API the error I get back if the client already exists is extremely generic:
[code]

This is particularly troublesome as I'm providing my own clientID and clientSecret, so I have no way to check  if it exists already, or to see if it exists when creating (ie: http 409 if it already exists with the given ID).

[2016-06-28 23:06] #481 closed

[2016-06-28 23:29] #495 closed

[2016-06-29 19:01] chancez opened #498 "Cannot set emailVerified via admin API when creating user"
When using the admin API to create a new it isn't currently possible to manually set the emailVerified state. Since the user isn't being created via a normal invite, it would be useful to set this value in the API call.

There might be cases where we want this set and unset when creating users, so it would be ideal if we could specify the value.

[2016-06-29 19:10] ericchiang commented on #498
Would it be reasonable to default this field to true? If you're going through the bootstrapping API I don't see a reason this wouldn't be the case. You'd just send an email invite otherwise.

[2016-06-29 20:25] chancez commented on #498
I don't necessarily think that's the case. You might want to create the user via the admin API because you want to control what the password is set to, but still invite them, but do the invite out of band from Dex.

[2016-06-30 00:31] ericchiang commented on #498
I think the only way to do the invite is for that call to create the user. So that flow may not work.

[2016-06-30 00:51] chancez commented on #498
@ericchiang which is why i said out of band invitation (and in the future we should support inviting users who are already created).

[2016-06-30 00:54] ericchiang commented on #498
Right, but for now would it unblock you to default this field to "true"?

[2016-06-30 16:13] sym3tri commented on #498
If an admin can set the flag to true then the email is not actually
verified. I could see this causing a lot of confusion. If you really need a
workaround I would prefer another explicit field "bypassEmailVerification"
or something. But I don't fully understand why you need this.
On Wed, Jun 29, 2016 at 17:54 Eric Chiang <notifications@github.com> wrote:

[2016-06-30 17:31] chancez commented on #498
@sym3tri The case is when we're creating the initial admin user in Tectonic. Today if you login to the console it shows the user as "invited" because their email isn't verified, since the create user via the admin API uses the same plumbing as the invite user endpoint in the worker API. In this particular case, we're an admin creating our own admin account, so we know the email is verified.

[2016-06-30 22:45] #452 closed

[2016-07-04 15:45] alon-argus opened #502 "OpenID Provider Configuration Information is stick to root path (`/`)"
From [OpenID Connect specs](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig):
OpenID Providers supporting Discovery MUST make a JSON document available at the path formed by concatenating the string /.well-known/openid-configuration to the Issuer.

I just tried to run dex-worker with these parameters:
`/bin/dex-worker --listen=http://0.0.0.0:5556/auth --issuer=http://127.

[2016-07-05 16:28] sym3tri commented on #502
Thanks for the issue. We do need to address this. In addition we need to do thorough testing to make sure Dex behaves properly if running on a non-root path (we have not yet validated this will work).

[2016-07-05 20:23] sym3tri commented on #498
I see. I understand the need to bypass email verification for an initial user, but a field named `email_verified` indicates that the process of email verification took place and was completed successfully (via a challenge email being sent). This is distinct from "i dont care about email verification". These are different pieces of information so IMO they should be tracked separately.

So I still t

[2016-07-06 07:50] rsoletob opened #503 "Send an email using https server fail"
When we create an user or resend a invitation dex show this error, but request finishes with 200 code:

ERROR: error sending password reset email x509: failed to load system roots and no roots provided:

We are using this docker image:
[code]
This happen because the container doesn't have the root certificates. To fix it we add this lines to docker image:

[code]

However, we believe this is not t

[2016-07-06 18:29] sym3tri commented on #503
The recommended approach here would be to mount in `/etc/ssl/certs` into the container as a volume when you run it. I don't think we want to take on the burden of keeping certs up-to-date inside the dex containers we ship.

[2016-07-06 18:30] sym3tri commented on #503
Are you using the mailgun emailer or SMTP?

[2016-07-07 01:19] summerwind opened #504 "Getting email from JWT issued by Azure AD"
Is there a way to change the claim to get the email in OIDC Connector?

I'd like to use dex with Azure AD. But JWT issued by Azure AD does not contain a "email" claim. Email is in "upn" or "unique_name" claims. So currently dex does not get the email fron JWT issued by Azure AD.

The information of claims in Azure AD is here:
https://azure.microsoft.com/en-us/documentation/articles/guidance-multit

[2016-07-07 07:30] rsoletob commented on #503
We use SMTP. Thanks for your response. We will use your suggestion.

[2016-07-07 07:30] #503 closed

[2016-07-07 12:07] mariopolo2805 opened #505 "Strange flow when using back-arrow button on browser and session_key has been alredy validated"
I will describe the flow to reproduce this scenario:
- Start a local client and local worker
- Go to **Login** page with email (`connector_id=local`)
- Click on **Restore Password** and go back with browser arrow-back
- At this momment, the _session_key_ has been alredy validated, so if you click whatever option (login or restore), respond will be like:

It would be a good idea to generate an **Er

[2016-07-07 18:38] sym3tri commented on #504
The root issue here is that Azure has decided to use non-standard claims in their JWTs[1]. They should use `email` b/c that is what's in the spec. Claims named "upn" and "unique_name" are not in the spec.

This opens up a bigger philosophical discussion over weather or not we support non-standard OIDC providers, and if so how we do overrides. I can think of two possibilities:
  1. A map of upstrea

[2016-07-08 06:58] summerwind commented on #504
Thank you for your comment. As you said, Azure's JWT contains the non-standard claims. This is the root issue.

According to the documentation, there is a way to normalize claims if we use multiple IdP as dex.
https://azure.microsoft.com/en-us/documentation/articles/guidance-multitenant-identity-claims/#claims-transformations

Adding normalization feature to go-oidc will make more complicated. I t

[2016-07-08 23:23] rudyzhou2 opened #506 "LDAP Connector ERROR: handling identity, but example app auth succeeds"
Hi dex dev,

I am currently testing out dex and encountered this issue while using the example app with LDAP connector. I was able to log in and obtain token from the fake email handler but worker debug log shows the following error. Is there anyway to get even more debug out to figure out why exactly I am encountering this error output?

[code]

[2016-07-11 15:40] ericchiang commented on #506
@rudyzhou2 sorry for the delayed response. I've been out of the office for a week.

Can you provide the connector config JSON? Also what version (or checkout) of dex are you using?

[2016-07-11 15:50] ericchiang commented on #504
Sorry for the delayed response. I've been out of the office.

I'm actually fine with this for non-required claims.

[code]

This get's trickier with the require claims. For example, that document[0] implies that Azure doesn't return a `sub` which OpenID Connect requires and used by dex.

Mapping kinda odd claims is fine but it looks like __Azure doesn't actually implement OpenID Connect__, only a

[2016-07-11 16:01] ericchiang commented on #503
It's been discussed to switch to the Alpine image on Docker hub. So we may still do this.

[2016-07-11 16:31] rudyzhou2 commented on #506
Hi @ericchiang,

No problem!

`[
    {
        "type": "ldap",
        "id": "ldap",
        "host": "172.17.0.9:389",
	"useTLS": false,
	"useSSL": false,
        "baseDN": "ou=users,dc=dex,dc=ca",

        "searchBeforeAuth": true,
        "searchFilter": "(&(objectClass=posixAccount)(uid=%u))",
        "searchScope": "sub",

        "searchBindDN": "cn=readonly,dc=dex,dc=ca",
        "searchBind

[2016-07-11 16:49] rudyzhou2 commented on #506
And here is the commit

[code]

[2016-07-11 17:14] ericchiang opened #507 "SMTP: allow explicit setting of SSL and allow custom certs"
Currently using SSL is guess by the port number[0]. Allow users to explicitly set this and understand when this should be set.

Additionally, allow setting a trusted root cert.

[0] https://github.com/go-gomail/gomail/blob/81ebce5c23dfd25c6c67194b37d3dd3f338c98b1/smtp.go#L46

[2016-07-11 17:18] ericchiang commented on #506
This looks like an erroneous logging statement[0]

To be clear you're not actually experiencing errors, you're only seeing that logging statement?

[0] https://github.com/coreos/dex/blob/f816cfb1876f9228483c38d1a1e05e7c31aac801/connector/connector_ldap.go#L443

[2016-07-11 17:34] ericchiang opened #509 "Speed up slow unit tests"
The tests currently take around 40s to complete, however it doesn't seem like there's anything in here that requires it. Clean up slow unit tests for a better developer experience.

[code]

[2016-07-11 18:15] rudyzhou2 commented on #506
Hi Eric,

Yes it seems like the I am only seeing the logging statement with no issues on auth. I will try the new commit and report back asap!

Thanks!

Cheers,

Rudy

[2016-07-12 09:28] summerwind commented on #504
Thank you for the comment.

I totally agree with you. I'm going to implement an Azure connector in next week. I'll send a PR when it's done.

FYI: According to this docs, Azure AD seems to return a `sub` claim.
https://azure.microsoft.com/en-us/documentation/articles/active-directory-token-and-claims/#_subject

[2016-07-12 17:41] #506 closed

[2016-07-19 16:00] ericchiang opened #512 "contrib/k8s: add health checking to Postgres pod"
The lack of this causes kubernetes to not be able to coordinate actions, because it doesn't know when the database is alive.

[2016-07-19 18:12] ericchiang opened #513 "contrib/k8s: Ingress controller requires host port 8080, a common port for the apiserver"
The ingress controller we link to in the contrib/k8s doc has a small bit in the spec:

[code]

However this can cause contention if anything else is already listening on this port. A common case is the API Server since that's the (non-configurable) default for minikube and our default for coreos-kubernetes.

Fork the ingress spec for our repo and take this bit out.

[2016-07-19 18:22] aledbf commented on #513
@ericchiang this is an issue only if you run the ingress controller with `hostNetwork: true`.
Please open an issue in `kubernetes/contrib` to make this port configurable

[2016-07-19 18:29] ericchiang commented on #513
@aledbf thanks I'll open something in that repo.

The actual code is here[0]. If I'm not mistaken, that's a port mapping from the container's net namespace to the host's. So it still requires port 8080 even when `hostNetwork: false` on the `podSpec`.

[0] https://github.com/kubernetes/contrib/blob/edd16c09add2b3ba19e653ce977e711d58de6ad8/ingress/controllers/nginx/rc.yaml#L96-L99

[2016-07-19 18:35] aledbf commented on #513
Yes, I'm preparing a new release for this week so I will make this configurable behind the flag `--nginx-status-port`. By default it will use `8080` (with a comment in the yaml file). Makes sense?

[2016-07-19 18:44] ericchiang commented on #513
Can you dynamically set yaml fields with `kubectl create`? Even if nginx doesn't listen on port 8080, the replication controller's spec, the actual yaml file, is still trying to reserve that host port. So we'd still have to edit the yaml file before running it.

So I guess I might not be understanding the fix you're describing.

[2016-07-19 18:46] #432 closed

[2016-07-19 18:52] aledbf commented on #513
@ericchiang the real issue is [here](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/nginx.tmpl#L279). I need to specify a port to
1. check health status
2. allow access to `8080/nginx_status`

I can change the listen `8080` to `127.0.0.1:8080` but that removes the access to the stats.

I don't know.

Right. You can remove those lines if you don't need the nginx stats

[2016-07-19 18:57] ericchiang commented on #513
Okay thanks @aledbf for the explanation :)

I was kinda hoping that kubernetes/contrib could drop that host binding or choose another port by default so we could point users upstream rather than forking into this repo, but I don't want to impose on your maintainers.

[2016-07-19 19:06] aledbf commented on #513
That can be done but to which one?

[2016-07-19 19:07] ericchiang opened #514 "Connector's can't associate private connector data with end users"
This was brought up in #510.

Now that connector's have methods that are separate from logging in, in this case Groups, we need some mechanism for passing information between these kinds of calls.

For example, I login to GitHub and an access token which can list groups. However there's no way for connectors to associate that data for the second call, or for refresh events.

While the groups metho

[2016-07-19 19:13] ericchiang commented on #513
Anything that's not 8080 or 8443 :)

8080 is just such a common port to hard code for the API Server's insecure port. For example this is what minikube does[0] and we do that as well for coreos-kubernetes[1].

Idk. Maybe even 18080?

[0] https://github.com/kubernetes/minikube/blob/6f4b8dd483acc3c23277c8f58949d4040bfc5e08/cmd/localkube/cmd/options.go#L42-L43
[1] https://github.com/coreos/coreos-kub

[2016-07-19 19:14] aledbf commented on #513
ok.

[2016-07-19 20:17] aledbf commented on #513
@ericchiang https://github.com/kubernetes/contrib/pull/1393

[2016-07-19 22:12] #389 closed

[2016-07-20 17:35] ericchiang opened #515 "Documentation: Strongly encourage automatic registration with LDAP connector"
Strongly encourage using the `--enable-automatic-registration` flag when using the LDAP connector. ATM it's a little hidden.

[2016-07-20 17:38] ericchiang opened #516 "Config: Support YAML so we can provide examples with inline comments"
Big confutation files like the LDAP connectors are hard to navigate and it's annoying that we can't put comments in the actual config files. Would be really nice if we could provide inline comments.

[2016-07-20 21:25] ericchiang commented on #502
A big issue is the HTML templates. Many of the template us hard coded paths.[0]

Consider either introducing a template function[1] to prepend a base path:

[code]

or just pass paths into the template manually.

cc @xaka

[0] https://github.com/coreos/dex/blob/33010e22c48485ec20b38c8b25aa6b69ece91bab/static/html/register.html#L35
[1] https://golang.org/pkg/text/template/#Template.Funcs

[2016-07-22 00:49] sym3tri opened #518 "Documentation: add minimal docs on how to use Dex as IdP for kubernetes"

[2016-07-22 16:34] ericchiang opened #519 "Refresh tokens should only work once and return a new refresh token"
Also known as [_"Refresh Token Rotation"_](https://tools.ietf.org/html/rfc6819#section-5.2.2.3)

Currently a refresh token can be redeemed for an access/ID token as many times at the hold of that refresh token likes. E.g.

[code]

Instead, Dex should also return a new refresh token every time one is claimed.

[code]

This immediately invalidates the current refresh token, and the client must use t

[2016-07-24 14:12] alon-argus commented on #502
@ericchiang
#520 is fixing the html templates, but it's not dealing with the main routes (`/.well-known/openid-configuration`, `/token`, `/keys`, `/api`, etc.).
Running dex in a subdirectory is still not possible...

[2016-07-24 15:42] ericchiang commented on #502
Ah sorry. Will try to get a fix in tomorrow. Reopening.

[2016-07-25 20:25] ericchiang commented on #513
Closed now that https://github.com/kubernetes/contrib/pull/1393 is in. Thanks to @aledbf for that PR.

[2016-07-25 20:25] #513 closed

[2016-07-25 21:49] ericchiang commented on #502
Another bug. Redirects are currently wrong and assume no one is trimming the path. For example [0]

[0] https://github.com/coreos/dex/blob/216d26913f449a3853cf58c5d0a2e1174ae50d47/server/password.go#L56-L62

[2016-07-25 23:19] ericchiang opened #523 "Clients assume certain paths to be root based"
Another update to #502

Some of our client apps assume paths like the API and "/resend-verify-email" to be root based. For example our example-app hard codes these paths.

[2016-07-25 23:30] ericchiang commented on #523
Maybe we should have some sort of discovery mechanism for these paths?

[2016-07-26 22:40] #502 closed

[2016-07-27 12:23] alon-argus commented on #502
Awesome, it works for me either. Thanks a lot guys!
BTW, I'd be very happy if someone can trigger the build & push process to quay.io. :)

[2016-07-27 15:38] ericchiang opened #524 "Travis pushes to Quay are broken"
For example https://travis-ci.org/coreos/dex/jobs/147615883#L306

It doesn't even look like an issue with our release scripts, just some issue with Travis.

[2016-07-28 21:11] l0n3r4n83r opened #525 "Error running the example application"
Hi I am following the getting started guide using the standup-db.sh script. But I see the following error when I try to run the example application.

INFO: 127.0.0.1 - - [28/Jul/2016:14:09:38 -0700] "GET /.well-known/openid-configuration HTTP/1.1" 404 19
ERROR: Failed fetching provider config, trying again in 3s: json: cannot unmarshal number into Go value of type oidc.encodableProviderConfig

[2016-07-28 22:06] ericchiang commented on #525
Sorry, #521 broke this. The discovery URL here[0] needs to be `http://127.0.0.1:5556/dex`.

[0] https://github.com/coreos/dex/blob/d1bb106f94e65860fe46efcaddd3da32c6340ce1/contrib/standup-db.sh#L82

[2016-07-28 22:55] l0n3r4n83r commented on #525
Thanks for the quick response may be we can merge this

https://github.com/coreos/dex/pull/526
https://github.com/coreos/dex/pull/526/commits/b42398d3ab1db30f7957cc9db4344c5dc71c415e

[2016-07-28 23:10] ericchiang commented on #525
Closing now that #526 is in

[2016-07-28 23:10] #525 closed

[2016-08-01 11:18] adrianlop opened #528 "Allow admin clients to create users"
Hi,

This is the discussion on google group:
https://groups.google.com/forum/#!topic/dex-dev/KWmif8CiCYE

[2016-08-01 15:16] ericchiang commented on #528
Going to post my comment from that thread here

If you want to add this, it's got to be feature flagged.

[2016-08-01 17:45] squat opened #530 "Dex user API does not like multiple audiences in bearer token"
When hitting the `users` API endpoint with a token with multiple values in the audience claim such as

[code]
Dex throws the following error
[code]
Dex should allow for an array of strings in the audience claim.

[2016-08-01 21:37] ericchiang opened #533 "Example email app is broken"
Fix and add minimal tests for the example apps.

[2016-08-01 23:26] ericchiang commented on #524
builds are green again

[2016-08-01 23:26] #524 closed

[2016-08-01 23:28] ericchiang commented on #502
@alon-argus apologies, we were having some issues with travis. `quay.io/coreos/dex:latest` should contain these changes.

[2016-08-02 11:03] adrianlop commented on #528
ok, thanks! I added the flag in the PR

[2016-08-02 15:46] craigtracey commented on #200
This is a first (completely untested) pass at mysql support:
https://github.com/craigtracey/dex/tree/mysql-support

Early comments welcome.

[2016-08-02 16:18] ericchiang commented on #200
Cool!

I'll go ahead and reopen this issue. Feel free to submit a PR if you'd like to run against travis, but I imagine there are some overall organizational changes to the code we're going to need to discuss.

[2016-08-02 19:34] #530 closed

[2016-08-02 23:47] sym3tri commented on #32
bumping priority

[2016-08-02 23:48] sym3tri commented on #32
This is basically Google-like SSO with OAuth.

[2016-08-03 16:47] wyattanderson opened #536 "LDAP groups can only be queried by full DN"
Our LDAP implementation uses POSIX-style groups (`objectClass=posixGroup`) which store a `memberUid` (e.g. `wyatt`) instead of a `member` (e.g. `uid=wyatt,ou=People,dc=example,dc=com`). Since the `ID` of the remote identity is set to the user's DN and the `searchGroupFilter` parameter only seems to support searching by the `fullUserID`, we can't leverage the groups functionality here because we ca

[2016-08-03 17:37] ericchiang commented on #536
We could allow the format string to have a "last component" field to accomplish this. E.g. `(memberUid=%u)` would give you the full ID, but `(memberUid=%U)` would give you just the last component of the ID.

We considered doing this in the initial approach. Would be happy to have the groups returned also just use the last component.

This would also be a reasonable option.

Ultimately we also need

[2016-08-03 18:22] wyattanderson commented on #536
That'd work, but seems like it could be confusing since `%u` would have a different meaning in `bindTemplate`.

And, to clarify, when you say "last component", do you mean the [RDN](https://www.ldap.com/ldap-dns-and-rdns) (e.g. `uid=XXX`) or the value of the RDN (`XXX`)?

This is probably important. Worth looking around to see how other softwares handle LDAP integration. One good example I can thi

[2016-08-03 18:30] ericchiang commented on #536
Just trying to keep things backward compatible, but yeah we may just break it in this case.

The RDN

It's a high priority but I haven't started to explore options. A good proposal would be a big step forward.

[2016-08-04 18:02] ericchiang opened #538 "Add support for federating to Cloud Foundry UAA"
Add a connector for logging in with Cloud Foundry UAA. Will probably look something like the current bitbucket connector[0] since we've been told that UAA supports some flavor of OAuth2.

cc @jbowen93 @whitlockjc

[0] https://github.com/coreos/dex/blob/master/connector/connector_bitbucket.go

[2016-08-06 09:05] glerchundi opened #539 "Update roadmap for 0.5+ release cycle"
If it's possible I would like to know which are the short, mid and long term features you guys have planned to include in `dex`.

By the way is there any blocker features that made impossible to finally cut a stable and production-ready release?

Thanks!

[2016-08-07 19:26] ericchiang commented on #539
We're currently working on some POCs to resolve some long standing architectural issues. The two binary deployments, storage interface complexity, etc, and hope to open source that work some time next week to accompany a demo in the [Kubernetes weekly community meeting](https://github.com/kubernetes/community/blob/master/community/README.md).  Those are the main blockers for us committing to a sta

[2016-08-07 19:31] glerchundi commented on #539
Cool, thanks! :)

On Sunday, 7 August 2016, Eric Chiang <notifications@github.com> wrote:

[2016-08-09 13:46] wyattanderson commented on #352
Would be awesome to see U2F support, but we'd also love to have [TOTP](https://en.wikipedia.org/wiki/Time-based_One-time_Password_Algorithm). We use the LDAP connector, though, so if it could be configurable to work with connectors that don't already provide 2FA, that would be neat.

[2016-08-09 16:14] whitlockjc commented on #538
I'll get cracking on this.

[2016-08-10 19:24] ghost opened #543 "DEX with multiple oidc connectors is not working"
Just started looking into DEX for its ability to federate multiple identity mechanisms. Everything works as documented when I have the google oidc connector configured. As soon as I add another connector for my own OP, nothing works. Here is my connector json,
[code]

With this configuration when I click on the "google" or the "boxy" link in the discovery page, I keep getting redirected to the bac

[2016-08-11 19:56] #538 closed

[2016-08-12 17:31] ericchiang commented on #543
Tried dex with this configuration
[code]

Ran dex this way

[code]

Ran the example app

[code]

Was able to login with both connectors just fine. @ghost do you have a reproducible setup I could try that demonstrates the issues you're seeing? This sounds like it may be an issue with your "boxy" provider.

[2016-08-12 17:58] ericchiang commented on #19
Since we set cache-control headers on public keys there's no way to force clients to update their keys so this seems like it wouldn't achieve the intended goal.

[2016-08-12 17:58] #19 closed

[2016-08-12 17:58] ericchiang commented on #5
going to move this issue to #5

[2016-08-12 17:58] #5 closed

[2016-08-12 18:01] ericchiang commented on #384
Going to close this. Registerable scopes would be very nice but I don't think this is the correct proposal.

@MalteJ it's been a while and sorry for not getting back to you but Kubernetes does authorization as a separate system (see http://kubernetes.io/docs/admin/authorization/). Dex is strictly authentication.

[2016-08-12 18:01] #384 closed

[2016-08-15 01:22] summerwind commented on #504
Fixed in #527.

[2016-08-15 01:22] #504 closed

[2016-08-15 10:34] roidelapluie opened #547 "Immediate redirect to login form if certain conditions are met"
If all of the following conditions are met:
- There is only one provider
- The login with that provider is fully managed by DEX  (local, LDAP)

Then:
- The welcome page should be skipped and the user should directly arrive to the provider's login page

[2016-08-15 10:47] roidelapluie opened #548 "Add ability to provide custom registration link"
If you have LDAP login and auto registration, it would  be great to be able (in connector.json) to specity a web url where the user can actually register.

[2016-08-15 11:32] roidelapluie opened #549 "Back button doesn't work when using a password based login"
When you use a provider (LDAP, local) inside dex:
- When you choose LDAP or local connector, you arrive at the username and password form

Expected:
- There is a link to allow you to choose another provider that gets you back on the main page

Seen:
- That link does not exist

[2016-08-15 12:09] roidelapluie commented on #516
Please not that JSON is a subset of Yaml, so enabling only yaml should be json compatible

[2016-08-15 12:14] roidelapluie opened #550 "Ask user consent"
When an app asks for claims like: groups, I expect DEX to provide the user the list of the claims and the user to have to "agree" with that list.

Also, I expect the email to be a claim that needs to explicitely be asked by the client and that the user can allow or deny access to that claim.

We could have a claims.json:

[code]

[2016-08-15 12:17] roidelapluie opened #551 "Support multiple languages and locale matching"
It looks like there is not a lot of text in dex, so it would be great to be able to translate it, and to provide in the UI an easy way of switching language.

The default language could be either set from an option or take browser's default.

[2016-08-15 13:06] roidelapluie opened #552 "Add arbitrary claims to LDAP connector"
the LDAP connector could get additional claims in its config, based on LDAP fields.

e.g:
[code]

[2016-08-15 15:42] jostyee commented on #516
IMO [toml](https://github.com/toml-lang/toml) is a better choice, which is insensitive to indentation.

[2016-08-15 16:36] ericchiang commented on #550
We really don't want to add more config files to dex, but yeah a consent screen is something we should add.

[2016-08-15 16:38] ericchiang commented on #547
Agree with the statement. Can you expand what you mean by "fully managed by DEX"?

[2016-08-15 16:43] ericchiang commented on #552
See #536 for some additional discussion around the LDAP connector. Overall, we should add a proposal on a good way to be more expressive with LDAP expressions.

[2016-08-15 16:57] ericchiang commented on #551
Practically, locale matching this going to be hard considering we have so much code that looks like this[0].

I don't think this is going to be possible on the main branch without a large overhaul. We'll try to keep this in mind for our V2 branch[1].

[0] https://github.com/coreos/dex/blob/043fcdadfadb5db804001598475d106e2ae55d20/server/http.go#L162
[1] https://github.com/coreos/dex/tree/dev

[2016-08-15 18:06] roidelapluie commented on #547
fully managed by DEX means "dex has a login form for that". In other words, it should transparently redirect you to the login form directly.

When there is no login form, I do not think that Dex should redirect you to another website without your consent.

[2016-08-15 18:10] ericchiang commented on #547
okay cool. thanks for clarifying.

[2016-08-15 18:14] ericchiang commented on #516
YAML was proposed because it's backward compatible with JSON. I don't think we can adopt TOML for master because of backward compatibility issues, but will consider it for v2.

[2016-08-15 19:10] roidelapluie commented on #550
The config is optional ; it is just for a better ui.

[2016-08-15 19:29] pborzenkov opened #553 "Registration handler doesn't take full issuer URL into account"
Here is the problem in handleAuthFunc() function:

[code]

It always redirects to httpPathRegister ("/register") w/o using issuerURL. So it's impossible to register a new user if dex is listening on a non-root path.

[2016-08-15 19:49] ericchiang commented on #553
Thanks for reporting. There were a ton of these small bugs found since putting in the effort to move away from root paths.

[2016-08-15 19:54] ericchiang opened #554 "Travis is broken"
It's not running on PRs and has been failing on master.

[2016-08-15 20:24] #554 closed

[2016-08-16 15:22] #519 closed

[2016-08-16 16:23] lihkin213 commented on #543
So, I tried scenario that you put up above with google being the provider for both the oidc connectors and it worked okay. Then I switched out one of the google connector with another one for  Auth0 and it failed in exactly the same way as I described in the issue. Here is my connector json file that includes the Auth0 that failed.
[code]

And here is the one that worked (with both the providers b

[2016-08-16 16:35] lihkin213 commented on #543
Feel free to use the Auth0 connector for your tests, the client ID and secret are valid.

[2016-08-16 16:45] ericchiang commented on #543
@lihkin213 thanks I'm seeing weird "The 127.0.0.1 page isn’t working" errors in Chrome. Probably triggered a nil pointer exception or something.

We've got our own account for auth0 if you want to revoke that secret btw.

[2016-08-16 17:18] lihkin213 commented on #543
okay thanks

[2016-08-16 19:44] ericchiang commented on #543
Somehow we were suppressing logging in dex by outside packages (no idea how this happened). This was fixed by #556 and gives some very good error messages.
[code]

The actual URL you want is `https://dex-test.auth0.com`

Unfortunately I'm now getting issues like

[code]

Will continue to investigate why Auth0 fails.

[2016-08-18 10:40] sercand commented on #551
We definitely need this. Although it is a bad practice, currently we are achieving this by patching dex.

[2016-08-18 17:59] chancez opened #557 "User API endpoint is not working after non-rootURL changes"
Prior to the PR adding support for running dex at non-root URLs, accessing dex at `/api/v1/users` worked, but now it doesn't. Even with the same issuer-url.

I think i see the issue in the code, but cannot figure out what the actual endpoint getting computed is:

on line 290 and 296 here: https://github.com/coreos/dex/blob/b33227bcd4c3b78d3279e2ea22790d57fef5b48c/server/server.go#L290-L296 you'll

[2016-08-19 00:03] #557 closed

[2016-08-19 21:45] blingwang commented on #256
+1 on implicit flow. I really need the implicit flow to get my Angular app to work with dex. There's no safe way to store my client id and secret in the Angular app. SPAs like Angular apps are very popular these days. I believe the implicit flow will benefit a lot of people.

[2016-08-19 23:48] #553 closed

[2016-08-23 09:02] kanor1306 opened #564 "Connectors not updating"
I have been making some tests with the LDAP connector, and I realized that if you modify the connector, and use dexctl to save it again, the connector is not updated, and the only way to get the new connector configuration is restarting the worker.

Is this the expected behaviour?

Cheers!

[2016-08-23 15:38] ericchiang commented on #564
Yep. Unfortunately this has been a know issue for a while now.

Closing as a dup of #14

[2016-08-23 15:38] #564 closed

[2016-08-23 20:56] goyamamoto opened #565 "Login from a new RemoteIdentiy for an existing User"
The current sever does not allow for an existing user to login using a new connector when the e-mail address coincides.
https://github.com/coreos/dex/blob/master/server/server.go#L403-L408
Is there any security reason in this design?

We are using DEX with multiple authentication methods for an account, so we wrote a patch.

[2016-08-23 21:07] ericchiang commented on #565
It's an assumption in the initial implementation, can't say that it has a specific design purpose and I don't believe it has security relevance. Merging accounts was something that we never had a good overall design for. While a patch would be welcome we're still missing a lot of management pieces around that.

[2016-09-01 16:15] #528 closed

[2016-09-01 19:46] lihkin213 commented on #543
So I was able to validate that this works after I change the issuer url in the connector to ```https://dex-test.auth0.com/``` from ```https://dex-test.auth0.com```
As far as the error you are seeing, it is a config on the auth0 side that you need to tweak. You need to go to

Advanced Settings under your client and click on the OAuth tab and change the ```JsonWebToken Signature Algorithm``` from HS

[2016-09-01 19:56] ericchiang commented on #543
thanks for the follow up

[2016-09-01 19:56] #543 closed

[2016-09-05 09:00] remohammadi commented on #352
I'm also interested to work on this.

To implement it as a local connector addition, I think we need to rethink about the connector config format. Because in the current format, connectors are ORed with each other (authorizing through one of them is sufficient). I can think of these options:
* To make it possible to define a pipeline of connectors in the config. (overkill?)
* Another flag for dex-

[2016-09-07 22:16] ericchiang opened #573 "dex should fail health checks if it can't connect to the database"

[2016-09-08 05:36] summerwind opened #574 "Support of expires_in field in Token endpoint"
dex does not return a *expires_in* field from Token endpoint. The spec of OpenID Connect allowed to use *expires_in* fields in a response of Token Endpoint.
http://openid.net/specs/openid-connect-core-1_0.html#TokenResponse

ReuseTokenSource of `golang.org/x/oauth2` supports *expires_in* field to enable refreshing token automaticaly.
https://github.com/golang/oauth2/blob/master/internal/token.go#L

[2016-09-08 06:01] ericchiang commented on #574
Surprised we don't do this already. Yes please, do send in that patch.

[2016-09-08 13:27] summerwind commented on #574
@ericchiang Thank you for the quick response!
I sent my patch in #575.

[2016-09-09 16:22] sym3tri commented on #573
I also encountered this the other day during one of my installs on k8s.
On Wed, Sep 7, 2016 at 15:16 Eric Chiang <notifications@github.com> wrote:

[2016-09-13 01:46] summerwind commented on #574
Landed in 9a78dca137c48a1e1fb64de2b59488b476ffdb3d. Thank you for the support!

[2016-09-13 01:47] #574 closed

[2016-09-13 01:55] ericchiang commented on #574
Thanks for the work! Think it'll be reasonable to do a release later this week. This seems big enough to warrant one with some other work that's gone in.

[2016-09-13 05:32] summerwind commented on #574
Great to hear that!

[2016-09-18 10:11] ekozan commented on #175
any news about this one ?

[2016-09-27 22:18] mreynolds commented on #81
https://github.com/coreos/dex/blob/master/Documentation/getting-started.md still refers to the missing "deployment guide", FYI.  Might be worth either adding a stub or not having the reference in the docs?  Let me know and I can drop a PR.

[2016-09-30 19:51] blingwang commented on #505
Is there any reason why dex uses auth session to store the user data instead of passing them in the urls(login, register, forgot password)? Users cannot reuse those urls once the session key is validated and session is killed. This feels strange for end users.

[2016-09-30 20:20] ericchiang commented on #505
@blingwang I believe it's used to track some information about what stage of the flow you're in. But yeah we should probably just move some of these values to the URLs.

[2016-10-04 18:54] ajanthan opened #586 "Starting dex-overlord with TLS"
Currently the admin APIs only available in HTTP without a load balancer in front of dex-overlord

[2016-10-07 13:10] pgchamberlin commented on #112
Hey @andrewstuart, I'm just wondering are you still looking at this? My team would be really interested in a SAML2 connector and may be able to contribute some time and energy. Are you still looking at this?

[2016-10-07 17:01] andrewstuart commented on #112
TBH I haven't looked at it in quite a while. I've contributed a few times to the saml2 library and it definitely worked for validating and decrypting identity assertions last I checked, as well as making signed AuthN requests.

Unfortunately, my main drive for working on it was personal and once the prospect of getting to use it at work dried up, I didn't have quite as much motivation to keep work

[2016-10-07 19:56] pgchamberlin commented on #112
We've got an interesting use case so might have a crack at this over the next few weeks. If we do come up with something I'll definitely ping you as we'd be grateful for any input you could give @andrewstuart.

[2016-10-11 17:06] ericchiang opened #597 "server: embed connector ID in scope so connectors can share a redirect URL"

[2016-10-11 17:09] ericchiang opened #598 "storage/kubernetes: storage should manage its own third party resources"
Admins should be able to update dex versions without needing to create additional resources. Possibly provide a way to turn this behavior off for admins who care about restricting dex's access to the local namespace.

[2016-10-11 17:13] ericchiang commented on #573
it does indeed do this.

[2016-10-11 17:13] #573 closed

[2016-10-11 17:47] #391 closed

[2016-10-11 18:10] ericchiang opened #599 "scripts/build-rtk: script doesn't compile using LD_FLAGS"
[code]

[2016-10-11 18:10] ericchiang commented on #586
We would gladly accept a PR to fix this.

[2016-10-11 18:13] ericchiang commented on #565
For those interested, please take a look at a proposal on our v2 branch https://github.com/coreos/dex/commit/5385ca517abb310bcb8da93c32cdfd01b6d986c0

[2016-10-12 17:53] ericchiang opened #600 "storage/conformance: add transaction tests"
We've seen a possible race in the first key update for the kubernetes storage. In general, we should be ensuring that storage implementations actually have transactional guarantees.

Note: SQLite3 will have to be updated to not use an in memory implementation so it can support multiple threads.

[2016-10-13 18:35] ericchiang opened #604 "storage/kubernetes: test new 1.4 third party resource changes"

[2016-10-14 00:43] ericchiang opened #607 "*: connectors and storages should use a context instead of a close method"
Brought up in #606 by @dghubble. Combining these concepts is really weird and we should just use context's everywhere.

[2016-10-14 01:03] ericchiang opened #609 "*: lint failures aren't failing build"
From a build recently

[code]

[2016-10-14 01:32] ericchiang commented on #609
Closed by #610

[2016-10-14 01:32] #609 closed

[2016-10-14 05:13] ericchiang commented on #599
closed by #608

[2016-10-14 05:13] #599 closed

[2016-10-14 05:50] #533 closed

[2016-10-14 16:00] ericchiang commented on #604
closed by #606

[2016-10-14 16:00] #604 closed

[2016-10-14 16:00] ericchiang commented on #598
closed by #606

[2016-10-14 16:00] #598 closed

[2016-10-14 16:07] ericchiang opened #613 "storage: pagination support"
Something like

[code]

[2016-10-14 18:04] ericchiang opened #614 "storage/sql: "signing_key_public" is spelled wrong"
[code]

[2016-10-14 19:31] ericchiang commented on #614
closed in #615

[2016-10-14 19:31] #614 closed

[2016-10-14 20:18] ericchiang opened #616 "*: aci builds are broken"
fix this before any real release.

[2016-10-14 21:13] ericchiang commented on #600
Actually the postgres logic doesn't do the same kind of compare-and-swap that k8s supports. We either want to make the transactions more strict[0] or consider some portable solution.

Thanks to @barakmich for explaining some of this.

[0] https://www.postgresql.org/docs/9.1/static/transaction-iso.html#XACT-SERIALIZABLE

[2016-10-15 00:03] ericchiang commented on #616
closed by #617

[2016-10-15 00:03] #616 closed

[2016-10-17 16:40] ericchiang opened #619 "server: key rotation polling wait is wrong"
If keys rotate every 24 hours and the server fails to create the initial key it will wait 24 hours to re-poll.[0] This is bad and requires occasionally destroying dex in order to re-sync the keys properly.

Change this to poll at a predefined interval. Say 30 seconds.

cc @dghubble

[0] https://github.com/coreos/dex/blob/3e94e65b68097c057331381fd0434055a4949c3e/server/rotation.go#L79

[2016-10-17 18:14] #619 closed

[2016-10-17 18:59] ericchiang opened #621 "connector/ldap: fully port and expand LDAP connector"

[2016-10-18 17:48] moserke opened #622 "connector/github: config should take API endpoints"
In order to support github enterprise, the github connector should take the API endpoints as optional parameters.  This would allow enterprise users to use their internal github to do oAuth

[2016-10-19 09:14] samlesu commented on #32
This will be indeed very useful. Do you have an idea on when this will be available?

[2016-10-22 21:00] ericchiang opened #628 "storage/sql: Postgres transactions don't protect against concurrent updates to the same row"
Forked from #600 to track the actual bug. By default, Postgres transactions guarentee consistent reads, not consistent updates. My huntch is there might be something similar with other SQL flavors.

[2016-10-24 18:46] ericchiang opened #631 "storage/kubernetes: support arbitrary values as client IDs"
ClientIDs are used as kubernetes names, meaning clientIDs are limited by the values kubernetes can use as names. Consider doing something similar to the `password` resource where we encode the value.

[2016-10-26 21:52] squat opened #636 "handlePublicKeys returns max age in nanoseconds"
The handlePublicKeys handler adds a `Cache-control` header to responses but the `max-age` value it returns is in nanoseconds instead of seconds, which is what the spec requires. This occurs because we are formatting `maxAge` as an integer, which returns the number of nanoseconds of the duration. This results in headers like:

[code]

To correct this, we need to take the duration in seconds and con

[2016-10-26 22:07] #636 closed

[2016-10-27 01:28] ericchiang commented on #631
bumping priority since this may be a breaking change if we leave it in long enough.

[2016-10-27 18:13] ericchiang opened #639 "api: add gRPC endpoints for adding and changing passwords"
- The gRPC definitions are in `api/api.proto`. Add new types and calls there.
- Generate `api/api.pb.go` using `make grpc`.
- Update the `server/api.go` definitions.

Questions:
- Should we accept plain text passwords? (ericchiang) Probably not.
- Password changes should not check your current password because this API might be used by someone without a user's password (e.g. an admin).

[2016-10-27 20:44] ericchiang commented on #621
closed by #624

[2016-10-27 20:44] #621 closed

[2016-10-28 00:02] #631 closed

[2016-10-28 00:46] #597 closed

[2016-10-28 14:08] dholth opened #643 "random blocks in contrib/standup-db.sh"
The method used to generate a random key was blocking in my VM. Python can be used instead:

`DEX_KEY_SECRET=$(python -c "import os; print(os.urandom(32).encode('base64').replace('\n', ''))")`
`DEX_OVERLOAD_ADMIN_API_SECRET=$(python -c "import os; print(os.urandom(128).encode('base64').replace('\n', ''))")`

[2016-10-28 15:41] ozanichkovsky opened #644 "Cannot login with test-openldap docker image"
I've tried to use https://github.com/rroemhild/docker-test-openldap as a LDAP server for testing whether dex allows to login using LDAP.

This is my connectors.json file.

`[
  {
    "type": "ldap",
    "id": "ldap",
    "host": "ldap:389",
    "useTLS": false,
    "useSSL": false,
    "skipCertVerification": false,
    "baseDN": "ou=people,dc=planetexpress,dc=com",
    "nameAttribute": "cn",

[2016-10-28 16:35] ericchiang commented on #644
Can you provide the logs for your dex worker?

[2016-10-28 18:01] ericchiang commented on #643
Any idea why the bash command wasn't working? What OS?

Feel free to send a patch but it'll have to work with python3 as well.

[2016-10-28 18:15] dholth commented on #643
Looks like the 2+3 version would be

`import os, codecs; print(codecs.encode(os.urandom(128), 'base64').decode('utf8').replace('\n', ''))`

[2016-10-28 18:15] ericchiang opened #646 "server: refreshing initial login screen creates new auth requests"
Few things we could do:
1. Do an initial redirect so the user gets dropped at a screen with the `req=` parameter (fixes the refreshing).
2. Don't persist auth data until we redirect the user to a remote provider..

Also, we need to do rate limiting.

[2016-10-28 18:19] ericchiang opened #647 "cmd/dex: add option for gRPC client auth CA"
Right now it just takes a server ca + key.

[2016-10-28 23:13] ericchiang opened #650 "server: better error screens on errors"
If a backend connector is misconfigured the error screen we show sucks. Make this better.

[2016-10-29 16:20] ozanichkovsky commented on #644
INFO: Debug logging enabled.
DEBUG: Debug logging enabled.
WARN: Running with no limit on: database idle connections
WARN: Running with no limit on: database open connections
ERROR: No connectors, will wait. Retrying in 1s.
WARN: bindTemplate not used when searchBeforeAuth specified.
INFO: Loaded IdP connector: id=ldap type=ldap
INFO: Binding to 0.0.0.0:5556...
INFO: 172.18.0.6 - - [29/Oct/2016:16

[2016-10-29 16:24] ozanichkovsky commented on #644
Ah, I found out what I was doing wrong. I forgot about registering user with LDAP first.

[2016-10-29 16:24] #644 closed

[2016-10-31 09:47] ozanichkovsky opened #653 "The right way to add users with registration disabled."
I have a question.

What is the right way to add users (LDAP for example) without registering them first?

Should the be added to some table in postgres DB?

Thank you,
Oleksandr

[2016-10-31 14:55] dholth commented on #643
/dev/random can block if the kernel thinks it does not have enough random bits. This is a bigger problem on virtual machines. Another solution would be to read from /dev/urandom

[2016-10-31 16:58] ericchiang commented on #653
Is `--enable-automatic-registration` what you're looking for?

[2016-10-31 17:01] ozanichkovsky commented on #653
Thanks, I'll try it.

31 жовт. 2016 р. 18:58 "Eric Chiang" <notifications@github.com> пише:

[2016-10-31 17:03] ericchiang commented on #643
Let's do that. Go even uses `/dev/urandom`[0] so it doesn't seem like we're sacrificing cryptographic integrity.

[0] https://github.com/golang/go/blob/go1.7.3/src/crypto/rand/rand_unix.go#L23

[2016-10-31 17:04] ericchiang commented on #653
Okay. Closing for now. Please ping if you have further issues.

[2016-10-31 17:04] #653 closed

[2016-11-01 17:16] #628 closed

[2016-11-01 17:16] #600 closed

[2016-11-01 17:18] ericchiang opened #655 "Documentation: add docs on v2"

[2016-11-01 19:02] ericchiang opened #656 "server: don't throw a 500 when a user doesn't exist"
Thanks @kans

[2016-11-01 19:03] ericchiang opened #657 "server: error HTML templates"
Right now they're just plain text.

[2016-11-01 21:20] #639 closed

[2016-11-01 23:19] ericchiang commented on #647
Interestingly the gRPC package doesn't have a pre defined convenience method for this. We'll have to use `NewTLS(c *tls.Config) TransportCredentials`[0], this means creating the correct tls.Config[1] for both serving TLS requests and enforcing client auth.

@rithujohn191 the `ClientAuth` and `ClientCAs` fields on the `tls.Config` object control this. See the `NewServerTLSFromFile` method[2] for ho

[2016-11-02 00:31] ericchiang opened #659 "api: add version endpoint"
something like this

[code]

[2016-11-02 16:55] ericchiang opened #660 "cmd/dex: expose IDTokensValidFor and RotateKeysAfter server options in config"
Though those names suck. Perhaps in the config it could look like:

[code]

cc @robszumski

[2016-11-02 21:37] ericchiang opened #662 "server: split css into static assets"
We need to support multiple styles. This would probably be a good place to start.

[2016-11-02 21:56] ericchiang opened #663 "*: travis tests and build scripts should use Go 1.7.3"
Updates needed:

* https://github.com/coreos/dex/blob/799b3f3ef53595cc85b1c1283bf970a2babf9d93/.travis.yml#L4
* https://github.com/coreos/dex/blob/799b3f3ef53595cc85b1c1283bf970a2babf9d93/scripts/rkt-build#L11

cc @rithujohn191

[2016-11-02 22:05] #647 closed

[2016-11-03 19:37] #663 closed

[2016-11-04 17:49] #660 closed

[2016-11-07 17:01] ericchiang opened #673 "Documentation: Update README and split out getting started guide"
Update the README and link to many of the docs added over the past couple alphas. As part of this split out the getting started guide into `Documentation/getting-started.md`

This is the last thing we need to do before switching the branch to v2.

[2016-11-08 23:36] #673 closed

[2016-11-08 23:36] ericchiang commented on #673
done here https://github.com/coreos/dex/pull/674

[2016-11-09 07:34] ericchiang commented on #14
Connector configs are now static config options. Closing.

[2016-11-09 07:34] #14 closed

[2016-11-09 07:35] ericchiang commented on #28
passwords can now be provided statically.

[2016-11-09 07:35] #28 closed

[2016-11-09 07:36] ericchiang commented on #31
Dex no longer does any ID Token validation. Would be better for go-oidc.

[2016-11-09 07:36] #31 closed

[2016-11-09 07:37] ericchiang commented on #655
closed via #664

[2016-11-09 07:37] #655 closed

[2016-11-09 07:38] ericchiang commented on #50
There's no registration for the current dex. This would be handled by an app talking to the gRPC API,

[2016-11-09 07:38] #50 closed

[2016-11-09 07:39] ericchiang commented on #64
API has been rewritten. This call no longer exists.

[2016-11-09 07:39] #64 closed

[2016-11-09 07:40] ericchiang commented on #72
We use yaml so the example config now holds lots of documentations through inline comments. See [`examples/config-dev.yaml`](https://github.com/coreos/dex/blob/master/examples/config-dev.yaml)

[2016-11-09 07:40] #72 closed

[2016-11-09 07:42] ericchiang commented on #100
Going to close. I think this is dependent on the dex administrator. If they want to enforce HTTPS only callbacks, they can easily enough.

[2016-11-09 07:42] #100 closed

[2016-11-09 07:43] ericchiang commented on #110
Dex now no longer supports client registration, though the dex API allows users to specify a name and logo.

[2016-11-09 07:43] #110 closed

[2016-11-09 07:44] ericchiang commented on #131
Authorization is no longer a goal of the dex project.

[2016-11-09 07:44] #131 closed

[2016-11-09 07:44] ericchiang commented on #148
This endpoint no longer exists.

[2016-11-09 07:44] #148 closed

[2016-11-09 07:45] ericchiang commented on #175
Dex does not have a native groups implementation, but can pull groups from upstream IDPs. I think this is fine for now.

[2016-11-09 07:45] #175 closed

[2016-11-09 07:48] ericchiang commented on #254
Documentation for the new storage can be found here[0]. Would be happy to add new storages for etcd and mongodb. Closing for now since I think the initial concerns have been properly addressed.

[0] https://github.com/coreos/dex/blob/master/Documentation/storage.md

[2016-11-09 07:48] #254 closed

[2016-11-09 07:49] ericchiang commented on #229
Dex no longer has SMTP settings.

[2016-11-09 07:49] #229 closed

[2016-11-09 07:50] ericchiang commented on #256
This is now supported by dex, though we need to add a documentation for how to turn this on.

[2016-11-09 07:50] #256 closed

[2016-11-09 07:50] ericchiang commented on #284
done

[2016-11-09 07:50] #284 closed

[2016-11-09 07:51] ericchiang commented on #292
You can now statically define users, so I'll consider this requests filled.

[2016-11-09 07:51] #292 closed

[2016-11-09 07:51] ericchiang commented on #298
dexctl is dead. Long live dexctl!

[2016-11-09 07:51] #298 closed

[2016-11-09 07:52] ericchiang commented on #302
The overlord is no more.

[2016-11-09 07:52] #302 closed

[2016-11-09 07:52] ericchiang commented on #303
Since the API now uses gRPC instead of HTTP, I don't think CORS is appropriate. Closing.

[2016-11-09 07:54] ericchiang commented on #313
We're not going to provide binary releases, container releases are enough for us. We'd be open to RPMs and DEBs but that should be a different issue.

[2016-11-09 07:54] #313 closed

[2016-11-09 07:55] ericchiang commented on #374
Dex no longer mandates that URLs use `http://` or `https://` as a scheme.

[2016-11-09 07:55] #374 closed

[2016-11-09 07:57] ericchiang commented on #355
Closing this as we haven't seen the issue with dex v2.

[2016-11-09 07:57] #355 closed

[2016-11-09 07:58] ericchiang commented on #372
Overlord is dead. The dex binary is horizontally scalable.

[2016-11-09 07:58] #372 closed

[2016-11-09 08:01] ericchiang commented on #377
Everything this issue has brought up can now be configured via a static config files. Some of these objects, such as OAuth2 clients can be managed through the gRPC API. Users are recommended to use config management or an orchestration framework to manage the static config values, such as connectors.

[2016-11-09 08:01] #377 closed

[2016-11-09 08:01] ericchiang commented on #380
Dex now uses gRPC with no auth beyond TLS assets. See the documentation[0].

[0] https://github.com/coreos/dex/blob/master/Documentation/api.md

[2016-11-09 08:01] #380 closed

[2016-11-09 08:02] ericchiang commented on #383
Dex no longer has the concept of an "admin user".

[2016-11-09 08:02] #383 closed

[2016-11-09 08:03] ericchiang commented on #385
Storage has been revamped and is now much simpler https://godoc.org/github.com/coreos/dex/storage

[2016-11-09 08:03] #385 closed

[2016-11-09 08:03] ericchiang commented on #394
Closed via https://github.com/coreos/dex/pull/665

[2016-11-09 08:03] #394 closed

[2016-11-09 08:03] ericchiang commented on #509
unit tests are faster than ever.

[2016-11-09 08:03] #509 closed

[2016-11-09 08:04] ericchiang commented on #509
[code]

[2016-11-09 08:04] ericchiang commented on #507
Dex no longer accepts SMTP settings.

[2016-11-09 08:04] #507 closed

[2016-11-09 08:05] ericchiang commented on #398
The API has been rewritten and this issue is no longer relevant.

[2016-11-09 08:05] #398 closed

[2016-11-09 08:07] ericchiang commented on #427
closed via https://github.com/coreos/dex/pull/652

[2016-11-09 08:07] #427 closed

[2016-11-09 08:07] ericchiang commented on #512
postgres is __dead__

[2016-11-09 08:07] #512 closed

[2016-11-09 08:07] ericchiang commented on #454
We now enforce linting as part of our CI.

[2016-11-09 08:07] #454 closed

[2016-11-09 08:08] ericchiang commented on #441
Dex now uses a gRPC API with no authn or authz. https://github.com/coreos/dex/blob/master/Documentation/api.md

[2016-11-09 08:08] #441 closed

[2016-11-09 08:09] #410 closed

[2016-11-09 08:09] ericchiang commented on #428
"dev mode" is no longer a thing.

[2016-11-09 08:09] #428 closed

[2016-11-09 08:10] ericchiang commented on #431
We now have integration testing for this.

[2016-11-09 08:10] #431 closed

[2016-11-09 08:10] ericchiang commented on #415
This function no longer exists.

[2016-11-09 08:10] #415 closed

[2016-11-09 08:10] ericchiang commented on #413
These have been simplified into unit tests.

[2016-11-09 08:10] #413 closed

[2016-11-09 08:11] ericchiang commented on #470
You can now get users by email instead of ID.

[2016-11-09 08:11] #470 closed

[2016-11-09 08:11] ericchiang commented on #460
Dex now accepts this bad encoding.

[2016-11-09 08:11] #460 closed

[2016-11-09 08:12] ericchiang commented on #516
This is now supported.

[2016-11-09 08:12] #516 closed

[2016-11-09 08:12] ericchiang commented on #515
Registration has been removed from newer versions of dex.

[2016-11-09 08:12] #515 closed

[2016-11-09 08:13] ericchiang commented on #514
Connectors can now associate data with OAuth2 sessions.

[2016-11-09 08:13] #514 closed

[2016-11-09 08:13] ericchiang commented on #539
We've now moved to milestones.

[2016-11-09 08:13] #539 closed

[2016-11-09 08:14] #523 closed

[2016-11-09 08:15] ericchiang commented on #498
Emails are now assumed to be valid if they're local. It's up to an outside process to validate them.

[2016-11-09 08:15] #498 closed

[2016-11-09 08:15] #480 closed

[2016-11-09 08:15] #485 closed

[2016-11-09 08:16] ericchiang commented on #547
Dex now implements this behavior.

[2016-11-09 08:16] #547 closed

[2016-11-09 08:21] ericchiang commented on #586
Dex has switched to a gRPC api and eliminated the overlord.

[2016-11-09 08:21] #586 closed

[2016-11-09 08:21] ericchiang commented on #550
This has been added to newer versions of dex.

[2016-11-09 08:21] #550 closed

[2016-11-09 08:21] #478 closed

[2016-11-09 08:23] ericchiang commented on #477
Dex now has scripts to manage containerized databases for tests.

[2016-11-09 08:23] #477 closed

[2016-11-09 08:24] ericchiang commented on #482
Closed. For now, dex doesn't do registration.

[2016-11-09 08:24] #482 closed

[2016-11-09 08:24] #476 closed

[2016-11-09 08:25] ericchiang commented on #549
Does the back button on your browser suffice?

[2016-11-09 08:26] ericchiang commented on #473
This has largely been address. Though we don't use logrus, we do log a lot more meaningful errors.

[2016-11-09 08:26] #473 closed

[2016-11-09 08:27] ericchiang commented on #505
This has largely been fixed in dex v2. Closing for now.

[2016-11-09 08:27] #505 closed

[2016-11-09 08:28] #475 closed

[2016-11-09 08:29] ericchiang commented on #643
With v2, this script is no longer part of master. Closing for now.

[2016-11-09 08:29] #643 closed

[2016-11-09 08:30] ericchiang commented on #456
Dex no longer uses SMTP settings to send mail. This should be handled by an external app.

[2016-11-09 08:30] #456 closed

[2016-11-09 14:48] chris-rock commented on #441
Thanks @ericchiang That is awesome

[2016-11-09 15:04] ericchiang commented on #363
Merging this into https://github.com/coreos/dex/issues/607

[2016-11-09 15:04] #363 closed

[2016-11-09 15:04] #447 closed

[2016-11-09 15:47] ericchiang commented on #536
Groups now use a full query. But, going to keep this issue open until we've added documentation.

[2016-11-09 17:13] ericchiang commented on #337
Client secrets no longer have encoding issuers

[2016-11-09 17:13] #337 closed

[2016-11-09 18:43] juanjovazquez commented on #131
For those who are interested in a authZ solution that fits well to Dex might have a look at [foulkon](https://github.com/Tecsisa/foulkon). Thanks.

[2016-11-10 18:03] ericchiang opened #677 "server: support leveled logging"

[2016-11-10 18:48] ericchiang commented on #677
This may be a good time to switch to https://github.com/Sirupsen/logrus. The biggest question is if we use a global logger or a struct specific one (i'm in favor of the latter).

[code]

Probably the only levels we need to support.

Steps.
1. Replace all of our current log calls with `errorf` calls.
2. Centralize all error logging in the server package (remove other logging in the storage package)

[2016-11-10 18:49] ericchiang commented on #677
cc @rithujohn191

[2016-11-10 18:58] ericchiang opened #678 "Documentation: connector documentation"
We need to add documentation on the LDAP, GitHub, and OpenID Connect connectors. LDAP is the highest priority.

[2016-11-10 22:14] ericchiang opened #679 "api: add call to list passwords"
The storage implementation doesn't currently support a ListPasswords call. I've been holding off on adding this because of https://github.com/coreos/dex/issues/613, however we need this call.

We should:

- [ ] Add a ListPasswords() method to the storage interface (will require updating all implementations).
- [ ] Add a gRPC call for listing passwords.

We can rework the internal bits once we have

[2016-11-10 22:15] ericchiang commented on #607
database/sql is getting context support in Go 1.8. When that lands we should switch everything to using context's (and mandate building using Go 1.8).

[2016-11-11 00:36] ericchiang commented on #677
On second thought, storages need to be able to log things as well. We should probably pass a logger as part of storage creation.

[2016-11-11 21:42] rithujohn191 opened #681 "cmd/dex: ensure config fields are properly populated on dex."

[2016-11-12 00:54] ericchiang commented on #678
some examples here https://github.com/coreos/dex/blob/v1/Documentation/connectors-configuration.md

[2016-11-14 13:54] roidelapluie commented on #549
If you POST wrong credential multiple times before noticing that you are using the wrong provider, back will not work (will ask to resend the POST data)

[2016-11-14 17:50] ericchiang commented on #549
@roidelapluie thanks for the clarification.

[2016-11-14 18:16] ericchiang opened #682 "examples/k8s: no way to query healthz endpoint if dex is running on a custom CA"
Kubernetes doesn't support HTTPS queries and our container doesn't have any SSL software installed so wget just breaks. We either need to split out the debug endpoint or install openssl into the container.

[2016-11-14 20:33] #659 closed

[2016-11-15 18:48] ericchiang opened #687 "server: switch from text/template to html/template"
We primarily use `text/template` because of needing to inject URLs into the page. However, this exposes the potential of HTML injections later down the line. For safety, switch to `html/template` and use the `template.URL`[0] type for known safe URLs.

[0] https://golang.org/pkg/html/template/#URL

[2016-11-16 16:49] danielfm opened #691 "connector/github: grab membership of orgs and/or teams instead of just teams"
After reading the quick start guide (and the source code, since the documentation at this point is lacking), I managed to get the GitHub connector to work with the following configuration:

[code]

With this, I can start the dex server and the example openid client and complete the authentication workflow:

[code]

The only thing I missed was the ability to only authorize users from some organizat

[2016-11-16 17:26] ericchiang commented on #66
To expand on this, I think we'd like some form of user filters. Either globally to dex, per client, or per connector.

[code]

Maybe expand into regexps or email domain.

[2016-11-16 17:29] ericchiang commented on #691
Yep apologies, we're still working on finalizing the GitHub connector (and what a group means to it). You can track documentation progress for login strategies here: https://github.com/coreos/dex/issues/678

No connectors have the ability to restrict login to a subset of the users in a backing management system.

This has been brought up and we'd be open to someone putting together a more complete

[2016-11-16 18:13] danielfm commented on #691
@ericchiang sure, #66 seems to address what I described in this issue.

Sorry for the dup, feel free to close this!

[2016-11-16 18:13] ericchiang commented on #350
FYI this is probably dependent on the ability to filter users.  see https://github.com/coreos/dex/issues/691

[2016-11-16 18:17] ericchiang commented on #691
@danielfm cool. A few other issues depend on this so I've add it to the "v2.0.0" [milestone](https://github.com/coreos/dex/milestones).

However I think this brings up a good point about organizations and groups. Since GitHub has two concepts of groups, orgs and teams, we probably want to be able to grab both. Right now we only do teams within an org.

Cool if I commandeer your issue for that issu

[2016-11-16 18:19] danielfm commented on #691
Done!

[2016-11-17 02:05] ericchiang commented on #682
This is largely done because of #685 but I'm going to wait until we've updated the kubernetes examples.

[2016-11-17 18:20] ericchiang commented on #677
Per conversation with @chancez we should support the JSON formatter too for log aggregation and filtering.

To expand on the storage needing logging we want basically everything to embed a logger. Storages, connectors, the server, etc. _Please, no global logger._.

Probably want something like the following somewhere in `cmd/dex`

[code]

Then as we pass the logger to various components we want to

[2016-11-17 18:28] ericchiang opened #692 "server: support more ID Token signing algorithms"
This comes in two parts.

* Allow clients to require certain signing algorithms similar to id_token_signed_response_alg[0].
* Support ECDSA keys.

[0] https://openid.net/specs/openid-connect-registration-1_0.html#ClientMetadata

[2016-11-17 18:29] chancez commented on #677
That all looks great to me. You can use this https://godoc.org/github.com/Sirupsen/logrus#ParseLevel to get the log level from a string into a the level object though.

[2016-11-17 18:30] chancez commented on #677
I also recommend you use this https://godoc.org/github.com/Sirupsen/logrus#FieldLogger as the object you use everywhere, rather than `logrus.Logger`, since that will allow you to use both `logrus.Logger` and `logrus.Entry` as your logger.

[2016-11-17 18:32] ericchiang commented on #677
Thanks, though we don't want to support certain logging levels like panic, fatal, and warn. A switch statement is easy enough.

Yeah sounds good. Will update my examples.

[2016-11-17 18:40] ericchiang opened #693 "connector: implement interface changes in the "upstream refreshing" proposal"
The "upstream refreshing" proposal[0] has changes to the connector interface we'd like to implement before porting more connectors. Implement these so we can port bitbucket, uaa, facebook, etc.

[0] https://github.com/coreos/dex/blob/v2.0.0-beta.2/Documentation/proposals/upstream-refreshing.md

[2016-11-17 18:49] ericchiang commented on #18
I'm ambivalent about a warning page because users will probably just click through them. We should probably just enforce HTTPS only redirects and allow admins to turn this off through an `Insecure` config option.

Closing for now.

[2016-11-17 18:49] #18 closed

[2016-11-17 22:54] rithujohn191 commented on #678
closed by #690

[2016-11-17 23:08] ericchiang commented on #678
@rithujohn191 probably still need GitHub and OpenID Connect documentation :)

[2016-11-17 23:21] rithujohn191 commented on #678
Opps. My bad.

[2016-11-17 23:28] #518 closed

[2016-11-18 01:24] #679 closed

[2016-11-18 21:38] ericchiang opened #699 "server: test flake in TestOAuth2CodeFlow"
Looks like our rounding is messed up.

[code]

[2016-11-18 21:43] ericchiang commented on #699
confirmed

[code]

[2016-11-18 21:56] ericchiang commented on #536
Documentation added here: #690

Ability to return the DN added here: #698

[2016-11-18 21:56] #536 closed

[2016-11-18 22:39] #699 closed

[2016-11-22 15:02] vymarkov opened #705 "How to make a first request to REST API (v0.6.1)"
I am little confused about using the dex worker REST API -- what need to do in order to make a first request to REST API. Currently, repo contains a worker schema for dex worker API but does not includes the description about how to make an authorized request, how to retrieve the needed credentials, or similar.

For example, i want to retrieve a list of users:

`$ http -v GET http://localhost:5556

[2016-11-22 17:59] ericchiang commented on #705
That API is kinda hard. Both OAuth2 clients and users have the concept of being an "admin". The OAuth2 access token returned by a login flow allows you to hit the API with certain restrictions based on the combination of "admin" users and clients.

I'd recommend switching your worker to use the `--api-use-client-credentials` then use an "admin" client client credentials to access the API. I believ

[2016-11-22 18:25] ericchiang commented on #705
Yep that works

Make one of the static clients an `admin` for testing.

[code]

Then use the following program to request client credentials to talk to the API.

[code]

This results in:

[code]

[2016-11-22 20:37] ericchiang opened #706 "connector/github: API calls do not account for pagination."

[2016-11-22 21:10] #693 closed

[2016-11-23 12:24] maklemenz commented on #376
Is this still planned? I would like to see this implemented before 2.0 gets final.

[2016-11-23 16:37] ericchiang commented on #376
This isn't since all information we'd return with a userinfo endpoint is already returned in the id_token.

Also, right now nothing uses the access_token returned by dex v2 (it's actually just a random string), so implementing this requires some design around what an access_token is internally to dex.

I understand that their are clients that require this optional endpoint, but it's not a high pri

[2016-11-23 16:48] ericchiang commented on #320
Maybe dependent on https://github.com/coreos/dex/issues/376?

[2016-11-27 21:27] lgleim opened #710 "Timeline for removed features"
Hi, is there a timeline for readding the features removed in v2? Namely
1. Registration flows.
2. Local user management.
3. SMTP configuration and email verification.
4. Several of the login connectors that have yet to be ported.

I'm basically trying to determine whether to use v1 or v2 for an upcoming project.

[2016-11-27 22:22] ericchiang commented on #710
We track upcoming releases and goal using GitHub milestones[0], but I can comment on the specific points:

Dex will likely add link that redirects you to a different site which performs registration (https://github.com/coreos/dex/issues/548). That app could then grab user information then make the API call to register a user. Depends on us tracking users (propoal here [1]) so we can block users wh

[2016-11-27 22:29] ericchiang commented on #710
Going to close this because there's not really an actionable issue. Can you open more focused issues for features you'd like added back into dex v2?

In future the dex-dev mailing list[0] is a better place for questions and general discussion.

[0] https://groups.google.com/forum/#!forum/dex-dev

[2016-11-28 00:22] #710 closed

[2016-11-28 07:54] lgleim commented on #710
Thanks for the feedback. I will create focused issues later today.

[2016-11-28 16:03] pborzenkov commented on #303
Any chance CORS support still can be added to dex?
Without CORS it's impossible to authenticate using dex from a javascript app.
For example, swagger-ui supports OAuth2 authorization, but it can't be used with dex directly.

[2016-11-28 16:23] ericchiang commented on #303
I was under the impression that this PR was asking to hit the API, not perform OAuth2 flows. Plus the implicit flow (which can be turned on) allows you to perform auth without a code for token exchange. Shouldn't that be what frontend only apps should be using?

[2016-11-28 16:34] pborzenkov commented on #303
@ericchiang We haven't yet moved from dex v1 to v2. We will definitely need to do this in the future, anyway. In this case, we will switch to implicit flow for JS app.
So, yeah, probably there is no point in adding CORS to dex v1 and it's not required for dex v2.

[2016-11-28 19:25] #705 closed

[2016-11-28 19:27] ericchiang commented on #81
k8s deployment stuff is in[0]. I don't think we're going to do systemd units.

[0] https://github.com/coreos/dex/tree/master/examples/k8s

[2016-11-28 19:27] #81 closed

[2016-12-01 16:11] evanluc opened #712 "possible bug: handleConnectorCallback with sql storage fails -> id queried instead of state"
I'm not sure if I've misunderstood the purpose of this function but in the case of the **handleConnectorCallback** [the state is checked for in the handler](https://github.com/coreos/dex/blob/9d9ad4a5b30038dc1dd530177361fced06042353/server/handlers.go#L261), [passed to getAuthRequest](https://github.com/coreos/dex/blob/9d9ad4a5b30038dc1dd530177361fced06042353/server/handlers.go#L267) but in the ca

[2016-12-01 17:01] ericchiang commented on #712
We happen to use the ID of the auth request (a random string) as the state when passing clients onto upstream OAuth2 based identity providers. That auth request happens to also have an internal field called "state" that reflects the downstream state dex's client passed. These two aren't the same "state" so the code is correct, even if counter intuitive.

Is there a behavioral bug that you're seein

[2016-12-02 01:49] sym3tri opened #718 "Update to Go v1.7.4"
Update Travis, and push new image using 1.7.4 to fix security issues outlined here:

https://groups.google.com/forum/#!topic/golang-announce/2lP5z9i9ySY

[2016-12-02 01:56] sym3tri opened #719 "connector/ldap: log as much meaningful information as possible when connecting"
To help users debug bad LDAP configurations Dex should log as much info as possible.

[2016-12-02 02:11] ericchiang commented on #718
p2 because dex doesn't use the features specified in the issue, but it's always nice to be on latest.

[2016-12-02 02:27] ericchiang commented on #719
Yes definitely, but to a certain degree, I don't see us being able to provide more information without providing the option for leveled logging (https://github.com/coreos/dex/issues/677). Log as much meaningful information as possible is pretty much the definition of a "debug" flag.

[2016-12-02 02:41] ericchiang commented on #662
closed by #717

[2016-12-02 02:41] #662 closed

[2016-12-02 17:59] sym3tri commented on #719
definitely makes sense to block this on #677

[2016-12-02 17:59] #718 closed

[2016-12-02 20:18] evanluc commented on #712
That clears things up.

My problem was caused by trying to get my token at the route for that handler. It was fixed by redeeming the token at the right route `/token`. I'm using dex paired with python application using [oauthlib](https://oauthlib.readthedocs.io/en/latest/) to communicate between the dex server and my app instead of the golang client.

Really enjoying this project, my suggestion is

[2016-12-02 22:52] ericchiang commented on #712
Ah, thanks for clarifying.

Most OpenID Connect clients get auth and token endpoints from discovery[0], but yeah I can understand OAuth2 needing dex to use that value and stick to it. Beyond documentation, part of this is writing tests or conveying that these shouldn't change too.

We can definitely do that. Thanks for clarifying.

[0] https://openid.net/specs/openid-connect-discovery-1_0.html#Pro

[2016-12-05 03:31] philips opened #722 "README: talk about running Dex on Kubernetes TPRs"
A huge feature of Dex v2.0 is being able to run a OIDC provider for Kubernetes without an external data store. We should put that into the README as that is our target audience.

[2016-12-06 23:45] rithujohn191 opened #724 "Documentation: add notes on how to use glide to add new packages"

[2016-12-07 22:11] ericchiang commented on #646
FYI this also fixes issues when users suspend their screen and their auth request gets gc'd. I think the second option is a more correct one and would solve other problem.

[2016-12-07 22:27] ericchiang commented on #724
closed by #728

[2016-12-07 22:27] #724 closed

[2016-12-09 20:41] jainh opened #732 "SCIM integration with OpenID Connect"
Hi,
Does OpenID Connect implementation support the following draft [Draft](http://openid.net/specs/openid-connect-scim-profile-1_0.html) ?
Also, how to integrate SCIM within the dex and harmonize it with existing OpenID connect?

[2016-12-09 20:47] ericchiang commented on #732
To the best of my understanding SCIM is a mechanism for asynchronous updates between user management systems. Dex isn't really a user management system, it federates to existing ones. What minimal representations of users it does have can be managed from the API.

I'm a little confused what you're specifically proposing. This seems like an orthogonal issue to what dex does (authentication vs user

[2016-12-09 20:57] jainh commented on #732
@ericchiang  SCIM is definitely for user management, but it also allows to add more attributes related to user info that could not be available from standard LDAP.  However, OpenID connect supports SCIM based service for userinfo that can in turn connect to LDAP or other database.  Therefore, wondering how to provision user with dex stack, does openid connect implementation in dex already has prov

[2016-12-09 21:02] ericchiang commented on #732
Dex does not. It only implements the core and provider metadata specs, which are the most commonly implemented throughout providers.

Let me read over that draft and get back to you on this.

[2016-12-09 21:40] ericchiang opened #734 "server: API should return errors if staticClients are enabled"
edit: I actually think we might already do this

[2016-12-09 21:47] ericchiang opened #735 "storage: static storages should also query real storages"
For example, if I specify `staticClients` in my config, I should also be able to add clients through the API and union the results.

[2016-12-09 22:04] ericchiang commented on #732
So basically you'd like to add extra fields to the discovery metadata, id token, and clients?

[2016-12-09 22:08] ericchiang commented on #732
Do you have a specific client that uses this info I can look at? Or are you planning on rolling your own?

[2016-12-09 22:17] jainh commented on #732
This specification defines the following metadata:
Discovery metadata indicating the availability of a SCIM protocol base endpoint.
Dynamic registration metadata that is used to indicate a clients intent to use the SCIM protocol and its associated endpoint.
An additional ID Token claim which specifies the SCIM resource endpoint and identifier associated with the authenticate subject.
In addition t

[2016-12-09 22:21] ericchiang commented on #732
Yes, I read the spec. We don't have dynamic client registration but we still have additional attributes on clients.

I'm curious what you're using this for. I'm not super familiar with the SCIM ecosystem and I'd like to understand what technologies you plan to use this feature with.

[2016-12-09 22:53] jainh commented on #732
@ericchiang  So, the first important thing is that, instead of adding Rest to Ldap, SCIM is the standard and make easier to Restify provisioning of the users, groups and extensible for attributes that can be part of the token claim set.

Second, it may require to move identity from Active directory or Ldap to cloud and it is useful there as well. There are other feature set like password reset, mi

[2016-12-12 22:21] #722 closed

[2016-12-13 00:49] ericchiang commented on #678
largely done, closing

[2016-12-13 00:49] #678 closed

[2016-12-13 17:28] rithujohn191 commented on #657
TODO: Provide more meaningful error description messages.

[2016-12-13 17:32] jainh commented on #732
@ericchiang can you assign  Priority to this proposal ?

[2016-12-13 17:59] ericchiang commented on #732
It's been assigned one. We're not working on it.

For us, supporting new protocols involves learning about the providers that implement them, getting good examples of clients, understanding the security implications, etc. SCIM is a big spec and most implementations seem to be closed source so its hard for us to gauge the amount of work, ongoing maintenance, and benefit of this feature. SCIM integr

[2016-12-13 18:41] ericchiang opened #738 "Makefile: better error messages if using an unsupported Go version"
The build errors with old versions are a bad intro to the project: https://groups.google.com/forum/#!topic/dex-dev/BWbWbCbWyHU

We had a script in v1 that did this: https://github.com/coreos/dex/blob/v1/env

[2016-12-13 20:28] ericchiang commented on #677
closed via #723

[2016-12-13 20:28] #677 closed

[2016-12-13 21:17] #738 closed

[2016-12-14 00:10] ericchiang commented on #734
update: we already do this.

[2016-12-14 00:10] #734 closed

[2016-12-14 18:18] robszumski commented on #657
![pasted image at 2016_12_14 10_14 am](https://cloud.githubusercontent.com/assets/755540/21194911/8d57c5f6-c1e6-11e6-8a2a-ec1b8d513ab5.png)

[2016-12-14 18:46] ericchiang commented on #657
"Back to login form" might not be possible. There are states in dex's login flow that don't transition backwards very well if the current step fails. For example if the user comes back from google with a state token that's expired we have no way of mapping that info back to the login session.

We're aiming at cleaning up a bit of the logic. See discussion in https://github.com/coreos/dex/issues/64

[2016-12-14 18:53] robszumski commented on #657
Thats fine. We should strive to get folks back to the form if we can. Won't it always be safe to punt you back out to the provider picker?

[2016-12-14 19:42] ericchiang commented on #657
No. For example, you can't navigate to the provider picker screen directly, you need all the OAuth2 metadata generated by the client's initial redirect (state, redirect_uri, etc). If we loose that information because of an error, or determine that that info is invalid we can't recreate those parameters.

[2016-12-14 19:45] ericchiang commented on #657
The safer thing might be to redirect back to the client with an error.

[2016-12-14 19:49] robszumski commented on #657
We can't just kick you to the root URL, as if you had never interacted with dex before?

[2016-12-14 20:45] ericchiang commented on #657
No. Dex only works when clients initialize the OAuth2 flow. If you just show up at the root URL we don't know which client to redirect you after.

[2016-12-15 10:39] keyolk opened #744 "with LDAP connect, cant get group info from token"
Hi i'm trying to use dex for k8s authn/authz.
I use LDAP connector with bleow image and configuration.

below is docker image I use
``
image: quay.io/coreos/dex:v2.0.0-beta.1
``

below is my ldap connector configuration
[code]

from above
I can get token using the example-app
but the claim doesnt have any group information

[code]

I can get the entry from ldap client.
[code]

Does anyone can info

[2016-12-15 16:37] jwmaag opened #745 "storage/sql: postgres doesn't perist timezone"
Using the latest build and fresh postgres database as the storage backend, I was unable to login.

[code]

Digging a bit deeper I noticed that the table was using the __timestamp__ column type (w/o timezone). So it seemed to me that dex was losing some precision between the insert and the select.

Also telling was the frequent key rotations
[code]

Not sure if i missed something, but my resolution

[2016-12-15 16:58] ericchiang commented on #744
I think you're missing the extra "groups" scope.

[2016-12-15 17:02] ericchiang commented on #745
Thanks will look into this. If we're using the wrong datatype that might be hard to resolve in a non-backward compatible way (though we'll try). But if you're right than our postgres driver has never worked. Funny.

[2016-12-15 18:13] keyolk commented on #744
@ericchiang Thanks reply,
but what does it mean "missing the extra "groups" scope."
to where ?

[2016-12-15 18:19] ericchiang commented on #744
OAuth2 scopes https://tools.ietf.org/html/rfc6749#section-4.1.1

The examples app as an "additional scopes" field you can type "groups" into.

[2016-12-15 18:32] ericchiang commented on #745
Moving some comments from https://github.com/coreos/dex/pull/746

@rithujohn191 has volunteered to fix this. Going to bump priority to p0 since it completely breaks postgres.

[2016-12-15 19:01] keyolk commented on #744
@ericchiang
Oh, I see

seems I have to add additional filed to my static client.
Thanks alot

I'll close this after checking furthers.

[2016-12-15 19:05] ericchiang commented on #744
Can you expand on that?

Ideally we'd like to turn this into a doc requirement. E.g. "document accepted scope" or "example app needs better documentation"

[2016-12-15 19:22] robszumski opened #747 "Better startup logging"
When making changes to a dex config, it's hard to figure out if a new connector or setting was picked up correctly. Dex should log these on startup.

Ideally, a quick summary of the top level items in the [example config file](https://github.com/coreos/dex/blob/master/examples/config-dev.yaml)

Brainstorming a positive case:

[code]

And a negative case:

[code]

[2016-12-15 19:39] ericchiang commented on #747
How's this look?

[code]

[2016-12-15 19:42] robszumski commented on #747
Looks pretty good. What does the failure case look like? Maybe with a before and after?

[2016-12-15 19:44] ericchiang commented on #747
[code]

Let me make it so it doesn't print the help message.

[2016-12-15 19:45] ericchiang commented on #747
Also going to standardize on lower casing the first letter since that what we do for existing error messages.

[2016-12-15 19:51] robszumski commented on #747
I'd be nice to confirm that dex exited on purpose with a line like:

[code]

[2016-12-15 21:11] keyolk commented on #744
@ericchiang
Well... sadly not done yet.
I cant find how I can set scope to example-app : (
Could you inform me something more ?
and how I can enable debug logs on dex server ?

here my dex configs
[code]

and here my logs from example-app
[code]

here the token I get
[code]

[2016-12-15 21:13] ericchiang commented on #744
![screenshot from 2016-12-15 13-13-07](https://cloud.githubusercontent.com/assets/2342749/21242240/40c077a0-c2c8-11e6-9cfa-05e71ec6af75.png)

[2016-12-15 21:30] keyolk commented on #744
@ericchiang
oh my,
why I didnt see that;

And Could you inform me how I can enable more logs ?
[code]

below is my group info in LDAP
[code]

[2016-12-15 21:45] ericchiang commented on #744
This looks wrong.

[code]

Please review https://github.com/coreos/dex/blob/master/Documentation/ldap-connector.md#example-mapping-a-schema-to-a-search-config

[2016-12-15 21:52] #747 closed

[2016-12-15 21:54] keyolk commented on #744
@ericchiang
arghh...... how I did silly.
Thanks alot, it works.

[2016-12-15 21:55] #744 closed

[2016-12-16 01:55] ericchiang commented on #745
Some updates from @rithujohn191's investigations. SQLite3 doesn't do timezones, and the client just ignores the timezone rather than converting it to UTC. Even if we switch Postgres to using `datetimetz`, our client may still have to standardize to deal with SQLite3.

@jwmaag #746 is looking more likely to become a part of the solution we go with.

[2016-12-16 03:06] ericchiang commented on #745
So we can either add a "supportsTimezones" flag to SQL flavors and force times going into SQLite3 to always convert to UTC, oR switch dex to use UTC everywhere. Going to ask around CoreOS and see if there's a preference.

[2016-12-16 03:59] jwmaag commented on #745
Well I guess I'll reopen the PR 😄 , but that's interesting I didn't know that about sqlite3.

fwiw, adding "supportsTimezones" kind of feels like it would be a one-off... Personally, I like the idea of all the backends being the same format-wise... though, it would be if it wasn't for sqlite3 being a one-off.

I see the dilemma.

[2016-12-16 17:42] ericchiang commented on #745
Basically all SQL flavors are one-offs. Not a huge deal.

I think we should both make SQL more resilient to timezones and switch everything in dex to use UTC (including the logger). The former solves our correctness issues, the latter keeps us consistent. @rithujohn191 what do you think?

[2016-12-16 18:08] rithujohn191 commented on #745
Sounds good. Once sqlite3 actually supports times zones we can probably make this cleaner.

[2016-12-16 19:51] #657 closed

[2016-12-16 19:55] ericchiang commented on #60
I think this should be configurable. I'd like to see an implementation where we only allow a single refresh token per client/user/scopes tuple.

[2016-12-16 19:56] ericchiang commented on #305
We probably want to add a pprof endpoint or prometheus support for this.

[2016-12-16 23:36] #745 closed

[2016-12-19 18:11] xeonx commented on #303
@ericchiang In order to perform oauth2 with implicit flow, I agree that CORS is not required.
I think that for open-id connect discovery it could be usefull to allow CORS on GET request for .well-known/openid-configuration
If you agree on the need, I may try to make a PR (with off by default, configurable CORS support on this single path, using gorilla CORS handler ).

[2016-12-19 20:04] ericchiang commented on #303
Yeah that sends totally reasonable. Feel free to send a PR.

[2016-12-21 01:37] ericchiang commented on #112
I've added an experimental implementation here https://github.com/coreos/dex/pull/752

Comments very much welcome.

@russellhaering I ended up using your XML signature validation library for this.

[2016-12-21 08:07] ericchiang commented on #622
What are the OAuth2 token and auth endpoints for GitHub enterprise? The public ones are:

[code]

Can enterprise ones similarly be derived given a hostname?

[2016-12-21 08:14] ericchiang commented on #73
Since none of the features mentioned in the top comment exist in v2 I'm going to close this. New API docs here: https://github.com/coreos/dex/blob/master/Documentation/api.md

[2016-12-21 08:14] #73 closed

[2016-12-21 15:33] moserke commented on #622
It is the same api: https://developer.github.com/enterprise/2.7/v3/oauth/.  That's for 2.7 which is the version we are running.  2.8 is the current.

I believe it's simply as simple as just changing out the protocol/hostname.

[2016-12-21 19:46] ericchiang opened #753 "examples/k8s: use ingress to route traffic to dex"
For real clusters, dex won't be exposed directly to the outside, it'll go through some sort of ingress controller. Make the example manifests do this. This also creates a cleaner point of customization, allowing users to re-purpose the examples by switching out the ingress for whatever their setup is.

Related to #682

Need to chat with @dghubble about possible setups.

[2016-12-22 17:47] set321go commented on #753
An example of ingress using nginx `auth_request` would probably help a lot of people. Here is an example ingress I use with traefik  on gce.

The important part here for proxying is `kubernetes.io/ingress.class: "traefik"` which prevents gce from wiring it up to an external LB, this is an adapted version found in nginx tutorials.

[code]

One of the most difficult things i've found trying to learn

[2016-12-22 17:55] ericchiang commented on #753
That module seems to be dealing with authorizing client request, while this issue is about how we should recommend using ingress to allow traffic to dex Maybe you're asking for a different feature?

Fair enough. Though yeah, that's why we open these kinds of issues :)

[2016-12-22 18:04] set321go commented on #753
Maybe i'm confusing two different problems. I'm thinking of auth for my application(s) running in k8s where the k8s example provided in the project is about authenticating clients for cluster mgmt right?

[2016-12-22 18:06] ericchiang commented on #753
Yeah those are two different issues. Let me open an issue for the one you're describing though. We need it badly.

[2016-12-22 18:12] ericchiang opened #755 "Documentation: explain how to write an app that uses dex"
Brought up by @set321go in #753

This can include:
* App that wants to talk to the Kubernetes API on behalf of a user.
* App that uses OpenID Connect to authenticate a user (it does its own authz).
* App that uses a proxy headers to authenticate a user going through an OpenID Connect aware proxy.
* Putting an app that doesn't do authentication or authorization behind an OpenID Connect aware proxy.

[2016-12-29 09:51] xeonx opened #761 "Response type for implicit flow"
Hello,
I'm trying to use a js openid connect client (https://github.com/IdentityModel/oidc-client-js) and I'm facing issue with the response types for the implicit flow.
According to the oidc spec (http://openid.net/specs/openid-connect-core-1_0.html#Authentication) the response types that should trigger the implicit flow are:
- id_token
- id_token token

It seems to me that dex only supports the

[2016-12-30 20:24] sokoow opened #763 "google authenticator support?"
Hey All, first of all well done for this brilliant piece of software - took less than a day to get it working. Do you ever plan for google authenticator support ?

[2017-01-04 00:54] rithujohn191 commented on #763
Google authenticator support is definitely a great feature to have, but it's not on the immediate roadmap. pull requests are accepted if you'd like to contribute.

For now a workaround is to use the dex OIDC connector (https://github.com/coreos/dex/tree/master/connector/oidc) and use Google as the provider.

[2017-01-04 04:32] davecoates commented on #761
I have come across the same thing. Specifying 'token' as the response_type actually returns an id_token but according to https://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthRequest it doesn't sound like it should:

[code]

Is dex treating token like id_token and should just be accepting id_token or have I misunderstood? This would make using existing frontend libraries like oidc-clie

[2017-01-06 20:04] jainh opened #764 "Grant types [Question]"
Hi,

What are the different grant types supported by dex ? does it support resource owner password grant type and client credential ?

[2017-01-06 22:11] jainh commented on #764
@rithujohn191 Thank you for the reply, I thought dex is also supporting implicit mode ? Any idea on bringing other grant_types in near future ?

[2017-01-06 22:43] rithujohn191 commented on #764
Yes we do support implicit mode as well. Adding the client credential grant type is not on the immediate roadmap for Dex v2.

[2017-01-07 20:58] ericchiang commented on #761
looks like you're write. I can send a patch at some point or someone else can take this.

[2017-01-07 21:16] ericchiang commented on #764
The only other grant types I can think of are `client_credentials` and `password`. I don't think we want to support `password` (has been discussed in the past) and `client_credentials` doesn't make much sense because our `access_token` does actually do anything.

Is there one you're looking for?

[2017-01-07 22:14] glerchundi commented on #764
@rithujohn191 @ericchiang why not password grant type? can you point us to the issues where the discussion about password grant type took place?

Thanks!

[2017-01-07 23:16] ericchiang commented on #764
hi @glerchundi this thread has some background https://groups.google.com/forum/#!searchin/dex-dev/password%7Csort:relevance/dex-dev/KoY0JegNcr4/1sbzKkMABQAJ

Basically allowing password grants wouldn't work with a lot of backing implementations (like Google), and it also acts as a way to bypass a lot of our security efforts.

In addition I'd rather not have people using dex as a password database.

[2017-01-08 19:17] #303 closed

[2017-01-09 19:20] ericchiang commented on #763
Do you mean two factor auth?

https://en.wikipedia.org/wiki/Google_Authenticator

[2017-01-09 19:21] ericchiang commented on #764
Mind if I close this? We don't use the issue tracker for questions.

[2017-01-09 19:23] sokoow commented on #763
Yes, exactly :)

[2017-01-09 19:26] ericchiang commented on #763
Might be something that can be implemented out of scope of dex. E.g. user logs into app through dex, then when they try to do something sensitive the app itself triggers a second factor.

When to trigger a second factor is hard to express in a general way.

[2017-01-09 19:32] jainh commented on #764
Yes please. Thank you.

[2017-01-09 19:35] sokoow commented on #763
I use this a bit, also great piece of software: https://github.com/gravitational/teleport , they implemented google auth very nicely there:

https://github.com/gravitational/teleport/blob/6b85b01b465ceee168f341eb6ffb4949bdf112e6/vendor/github.com/gokyle/hotp/hotp.go
https://github.com/gravitational/teleport/blob/a8533fde6694f40eb8ff237bdff6f5a3f34fae06/web/src/app/components/login.jsx

[2017-01-09 19:40] #764 closed

[2017-01-09 19:40] ericchiang commented on #763
Sure, that's not what I'm asking. I'm suggesting that this might be better implemented by apps that use dex, not dex itself.

[2017-01-09 23:34] ericchiang commented on #650
@rithujohn191 this is done, right?

[2017-01-10 00:14] rithujohn191 commented on #650
#657 fixed it.

[2017-01-10 00:14] #650 closed

[2017-01-10 02:20] ericchiang commented on #761
If you get `oidc-client-js` working it'd be great to add it to the README btw https://github.com/coreos/dex#documentation

[2017-01-10 10:43] glerchundi commented on #764
@ericchiang just one question, so in case someone wants to migrate their legacy username/password databases to dex, which are the options? get rid of ad-hoc users from the database, migrate them to a LDAP server and then connect dex to it?

Thanks.

[2017-01-10 15:33] ericchiang commented on #764
@glerchundi That seems to be tangential to having a password grant type. Dex can store username/password combinations locally (see the API[0]), but you'll still want to manage your users somewhere.

[0] https://github.com/coreos/dex/blob/master/api/api.proto

[2017-01-10 16:56] ericchiang opened #769 "Documentation: document patch release procedures"
Document how changes are cherry picked onto release branches for patch releases, how the milestones are setup, etc.

[2017-01-10 17:03] ericchiang commented on #763
Going to close as a dup of #352

[2017-01-10 17:08] ericchiang commented on #352
Going to copy and past a comment I added over in #763

Basically, I don't know if dex itself should implement this. Second factor auth is usually triggered by special events, such as logging in from a new device, a new geographical location, or after some predetermined amount of time. Are these decisions general or something that an application developer using dex for auth would want to control th

[2017-01-10 17:57] ericchiang opened #770 "LDAP integration tests"
Add integration tests for LDAP. These should be required when adding changes to the LDAP connector.

[2017-01-10 18:03] #763 closed

[2017-01-10 18:05] ericchiang commented on #565
I also think it might be reasonable for external services to maintain this mapping and leave it out of dex.

[2017-01-10 22:17] ericchiang opened #771 "server: include at_hash value in ID Token"

[2017-01-10 22:58] ericchiang commented on #376
Proposal:

Let's backpack off the proto types add for refresh tokens in https://github.com/coreos/dex/pull/757 to implement an access token. The token will look like:

[code]

The access token fields will be filled out by the `Claims` in the `AuthCode` struct[0].

The access token struct will be serialized, then signed as a JWS using the signing keys maintained by dex, and returned as the "access_

[2017-01-10 23:03] chancez commented on #376
Seems like a great approach. This is almost exactly what the OIDC spec recommends if your attempting to build a stateless OIDC provider too.

[2017-01-11 00:46] sym3tri commented on #565
Seems strange to remove this from Dex's scope if Dex continues to support enabling multiple upstream IdPs simultaneously. Only 2 paths make sense to me:

1. Single IdP + no account merging
2. Multiple IdPs + account merging

[2017-01-11 00:50] #761 closed

[2017-01-11 01:30] ericchiang commented on #565
My point is that your own app could keep track of this much more easily in its own database, provide UIs around it, etc.

[2017-01-11 01:38] sym3tri commented on #565
That's one possible approach, but would require client auth and APIs for user lookups and authz to limit which clients can do what.

I think this is a deeper topic that needs to be thought through more thoroughly. We've identified at least 3 possible paths forward. We should probably document all the pros & cons in a proposal doc.

[2017-01-11 08:10] glerchundi commented on #764
Yes it is.

Ok, that gets me to the next and final question (probably it's out of this issues scope by anyway), is it possible to validate the `access_token` (remotely?) and then obtain the user information by extracting the token locally (that would requires to be protobuf formatted message or a JWT-like one and not a random string as it is now) or retrieving that information by contacting dex re

[2017-01-11 08:44] ericchiang commented on #764
@glerchundi it sounds like `id_token` is exactly what you're looking for. This is the primary extension that dex provides as part of the token response. A signed token with email, groups, username, etc. in it.

Dex's `access_token` should always be treated as opaque. You shouldn't every try do decode them. #376 is only referring to implementing the UserInfo endpoint[1].

[0] https://openid.net/spe

[2017-01-11 08:45] ericchiang commented on #376
We also might consider encrypting the token instead of signing it. Just to make sure no one tries to rely on our access_token format.

[2017-01-11 08:55] glerchundi commented on #764
@ericchiang sorry for the confusion, i thought `id_token` was for the client side and not for the  resource server. Perhaps I should reconsider what client means in this context, I got confused with this thread: https://github.com/IdentityServer/IdentityServer3/issues/2015

Correct me if i'm wrong, should I send something like `Authentication: Bearer access_token` and then another `X-ID-Token: id_

[2017-01-13 18:15] #771 closed

[2017-01-13 22:00] rithujohn191 commented on #682
#753 is the correct way of addressing this. Closing this out for now.

[2017-01-13 22:00] #682 closed

[2017-01-17 02:19] rithujohn191 opened #776 "Add an OIDC proxy"

[2017-01-17 18:27] ericchiang commented on #769
[code]

*Open PR onto ${RELEASE_BRANCH}*

[2017-01-17 22:50] #769 closed

[2017-01-19 04:12] ericchiang opened #778 "Monitoring endpoints for debugging"
Add a Prometheus monitoring endpoint[0] or a pprof endpoint[1].

[0] https://github.com/prometheus/client_golang
[1] https://golang.org/pkg/net/http/pprof/

[2017-01-23 17:07] ericchiang commented on #681
Another one, ensure that connector names aren't empty: https://github.com/coreos/dex/pull/782

[2017-01-24 19:30] bsr203 opened #784 "define scope of the project"
As discussed [here](https://groups.google.com/forum/#!topic/dex-dev/iHXVItPQp4U), the scope of dex v2 needs to be clear in the documentation.

[2017-01-24 19:38] ericchiang commented on #784
Thanks for opening. Writing something up now.

[2017-01-25 01:25] blakebarnett opened #786 "Refresh token not working with LDAP connector"
Dex version: 2.0.2
Kubernetes version: 1.5.2

It seems https://github.com/coreos/dex/blob/fe93f60af4ab1b84371d331f40504a129f7ca86b/server/handlers.go#L749 is empty when using LDAP.

Using regular tokens works, but we'd like to be able to use short-lived tokens with automatic refresh.

I get this in the dex logs when I attempt it:
`dex time="2017-01-25T01:19:28Z" level=error msg="connector ID not f

[2017-01-25 01:39] blakebarnett commented on #786
I see from the code that it's probably just that the memory storage backend doesn't have it.  Looks like we'll be moving to the SQL backend ASAP.

[2017-01-25 03:11] ericchiang commented on #786
What does your dex config look like?

[2017-01-25 03:22] blakebarnett commented on #786
[code]

[2017-01-25 03:34] ericchiang commented on #786
Thanks, I'll look into this tomorrow.

[2017-01-25 08:25] NexoMichael opened #787 "server: add option to turn off refresh token rotation"
Hi,

There are known problem with refresh token's usage that can be reproduced in following scenarios:
1) Client tries to refresh token and IDP successfully refreshes and generates new tokens, but client fails to accept tokens for example because of network issue or client failure.
2) Client of the IDP is some kind of User Agent, like smart device, browser or so and it makes a lot of concurrent re

[2017-01-25 09:26] ericchiang commented on #787
Dex intentionally does this per OAuth2 security recommendations[0]. It helps identify when refresh tokens are stolen.

I'll note that browsers can't (or shouldn't) take out refresh tokens. They should be using the implicit flow which only grants a bearer token.

I could see arguments for wanting to turn this off though. If someone wants to send a PR I wouldn't be opposed as long as it's feature fl

[2017-01-27 11:36] marians opened #791 "Authorization endpoint must support POST"
In http://openid.net/specs/openid-connect-core-1_0.html#rfc.section.3.1.2.1 it says:

I tried fiddling with the authorization endpoint using curl. Example:

[code]

For the above request, I got this response:

[code]

The error message shows that dex does not interpret the `client_id` given via form attributes.

The request content type resulting from the above curl command is `application/x-www-f

[2017-01-27 21:36] #791 closed

[2017-02-01 21:42] ericchiang opened #795 "server: re-implement refresh token revocation"

[2017-02-02 01:07] rithujohn191 commented on #786
Tested refresh tokens in dex with an LDAP connector on a kubernetes cluster and it seems to work fine. Used Dex version: 2.0.2 and Kubernetes version: 1.5.2. kubectl config looks the same as what is reported above.

Unable to reproduce. Could you elaborate on how you tested the refresh token functionality?

[2017-02-02 01:33] blakebarnett commented on #786
Forgot to update this issue, I got it working with Eric's help in slack.  I didn't have a consistent client-id everywhere.  Sorry and thanks!

[2017-02-03 01:33] #687 closed

[2017-02-05 19:16] AlexandreRoba opened #797 "Getting Started error. Any advice?"
Hi all,

I have followed the "Get started" document and ran the server:
[code]

I then run the example-app:
[code]

When I try to access the URL http://127.0.0.1:5556/dex/.well-known/openid-configuration
I'm getting a timeout.

Any idea at what I should start looking at?

[2017-02-06 03:21] ericchiang commented on #797
[code]

Is that not causing you to listen on 127.0.0.1:5556? Maybe try setting the IP directly?

[2017-02-06 07:47] AlexandreRoba commented on #797
Hi, thanks for the quick reply.
I don't think it is coming from the IP configuration for couple of reason.
1) I'm not getting a network error. I'm getting a time out. I tried to telnet the endpoint and I'm getting an answer. When the service is stoped I'm then getting an error
2) The endpoint that the test app is trying to reach is a discovery endoint. Would it make sense to filter on the host the

[2017-02-06 14:55] rouxcorp commented on #32
I can't use Dex without this feature.
Users don't want to log in for each service we have.

Any news about this issue ?

[2017-02-06 16:32] ericchiang commented on #32
@rouxcorp not being prioritized on our end but would be happy if someone wants to send a PR.

We'll probably be avoiding a "special claim" though. Just a cookie that gets set allowing a user to forgo their username/password or oauth2 flow and login immediately for some predetermined amount of time.

[2017-02-06 17:43] alon-argus opened #798 "Bug: Using Kubernetes storage, always gets "Bad Request - Invalid client_id""
`kubectl get oauth2clients -o yaml -n auth`:
[code]

Client redirects to here:
[code]

No matter what client ID I tried using, response is always:
[code]
(or any other client ID I've tried, of course.

BTW, with when I set it through staticClients, it does work.

Dex version: 2.1.0
Kubernetes version: 1.5.2

Many thanks guys.

[2017-02-06 17:58] ericchiang commented on #798
Clients should be set through the dex API[0] not by editing the Kubernetes third party resources directly. We compute a hash for the "name", it's not 1-to-1.

Sorry, we should really add warning to the Kubernetes docs that users shouldn't edit the third party resources manually.

[0] https://github.com/coreos/dex/blob/master/Documentation/api.md

[2017-02-06 19:13] #706 closed

[2017-02-06 19:36] alon-argus commented on #798
Oh, I got it. Thanks a lot!
I was following the directions here, BTW -
https://github.com/coreos/dex/blob/master/Documentation/storage.md

On Mon, Feb 6, 2017, 19:58 Eric Chiang <notifications@github.com> wrote:

[2017-02-06 20:02] ericchiang commented on #798
@alon-argus yep I opened #799 to update that doc (feel free to comment). Going to keep this open until we get that merged.

[2017-02-06 23:04] #798 closed

[2017-02-06 23:07] freefood89 commented on #755
hello @ericchiang

I am new here and would like to look into contributing to docs first, but I need some clarification on this issue:

1. How many examples do you need? I was thinking of starting off with express + passport, and maybe flask as well.
2. Which OpenID Connect aware proxy were you hoping to get covered? I've never used an OIDC proxy before so I would like to try it out. I found [UNINE

[2017-02-07 04:41] ericchiang commented on #755
@freefood89 we're going to be rolling a OpenID Connect proxy ourselves. If you want to try express+passport we'd be super happy to include it in our examples. It also helps us test our implementation.

[2017-02-07 14:12] freefood89 commented on #755
@ericchiang feel free to assign the issue to me if you can

[2017-02-07 18:35] ericchiang commented on #755
@freefood89 I don't think I can (your outside the org). There's a lot to this issue anyway, so I don't think it's a big deal.

Please reach out if you need any help or find any issues.

I remember one of the frameworks requiring parts of the spec we don't implement. You may want to look at https://github.com/coreos/dex/issues/376 for background.

[2017-02-10 18:46] blakebarnett commented on #786
Re-opening because now that working tokens have expired we've seen this issue again.  Digging into it a little I found that our refreshtoken 3PR resources don't have the connectorID: field.  Looking through the code I can't find the spot where it's omitted otherwise I'd happily submit a PR.

If I manually replace the refreshtoken resource in kubernetes with one that has `connectorID: ldap`, the er

[2017-02-10 20:51] ericchiang commented on #786
@blakebarnett thanks for reopening. @rithujohn191 can you ensure we're passing the `connectorID` to the underlying storage? This might qualify for a patch release if not.

[2017-02-12 02:48] freefood89 commented on #755
Looks like the only working express app I know that uses Dex consumes a hacked passport module called oidc-passport, which I know is not a supported module because it's written by a friend. I'm contemplating writing a passport module myself, but for now I will look into making an example using flask first.

[2017-02-12 03:48] ericchiang commented on #755
@freefood89 there's a proposal for adding the userinfo endpoint in that issue https://github.com/coreos/dex/issues/376#issuecomment-271725208. If you want to give it a crack, feel free.

[2017-02-15 15:30] yawboateng opened #803 "example-app"
im running quay.io/coreos/dex:v2.1.0 in a docker container using kubernetes, I have dex running fine with command "/usr/local/bin/dex serve /etc/dex/cfg/config.yaml"

but im unable to start the example app in another container using that same image, running ./bin/example-app as stated in the [docs](https://github.com/coreos/dex/blob/master/Documentation/kubernetes.md)  throws an error  "./bin/exam

[2017-02-15 16:30] ericchiang commented on #803
We don't include the example app in the docker image.

Probably is a requirement for https://github.com/coreos/dex/issues/301?

[2017-02-15 16:33] ericchiang commented on #803
Also we probably want to just make it a separate image. Since it's a Go program, it's pretty big and would significantly increase the image size.

[code]

[2017-02-15 16:34] ericchiang commented on #797
Since there's not really enough info for us to go off of here I'm going to close this for now. @AlexandreRoba if you have any new info, please feel free to commend and I can reopen.

[2017-02-15 16:34] #797 closed

[2017-02-15 20:42] blakebarnett commented on #786
For now we're using this hack to work-around this problem in our login script:

[code]

[2017-02-15 21:07] rithujohn191 commented on #786
Sorry, haven't had time to look into this yet. Working on it now.

[2017-02-15 21:59] ericchiang commented on #786
@blakebarnett trying to get to the bottom of this. Are you still using v2.0.1?

[2017-02-16 00:10] blakebarnett commented on #786
2.0.2 and k8s 1.5.2

[2017-02-16 00:32] rithujohn191 commented on #786
I tested this with 2.0.2 and k8s 1.5.2 and the refreshtoken 3PR resources does have a ConnectorID field with a value = "ldap".
Record retrieved for the 3PR:
[code]

You might want to check if you have set the connectorID correctly in the dex configmap.

[2017-02-16 00:35] blakebarnett commented on #786
We do, it's pasted above.  It works if I replace the initial token that's created.  Are we just not sending the connector id along properly when we authenticate?  Everything works but this, so I'm confused where it's breaking down.

[2017-02-16 00:42] rithujohn191 commented on #786
I apologize I tested it with dex 2.1.0

[2017-02-16 00:43] blakebarnett commented on #786
If that's working, we'll update!  :)  It wasn't out when I initial reported this I think.

[2017-02-16 00:54] rithujohn191 commented on #786
I re-tested this with dex v2.0.2 and still don't see the issue. The connectorID field exists with the value "ldap".
When you update the configmap for Dex you have to manually roll-out another deployment, it isn't done automatically. Did you ensure that a new deployment is created after you updated the Dex configmap?

[2017-02-16 00:59] blakebarnett commented on #786
Yes this has been deploy cleanly (fresh cluster) many times, this issue always exists.  I have a feeling it's because of our custom login script.  What requests require the 'connectorID' be passed in to have it show up in storage?

[2017-02-16 01:10] rithujohn191 commented on #786
https://github.com/coreos/dex/blob/b119ffddcb08936d36fd208b026e27fb2b9e5ad0/server/handlers.go#L680 this is where the refresh token gets created and put into the storage.

The ConnectorID is retrieved from the "auth code"  which gets created here: https://github.com/coreos/dex/blob/b119ffddcb08936d36fd208b026e27fb2b9e5ad0/server/handlers.go#L494

[2017-02-16 01:29] ericchiang commented on #786
Sorry. Can you elaborate on what you mean by a "custom login script"?

On Feb 15, 2017 5:10 PM, "rithu leena john" <notifications@github.com>
wrote:

[2017-02-16 01:42] blakebarnett commented on #786
We have a python login script that performs various authentication for our users for convenience.
It's a bit of a hack right now :)

I've added `connector='ldap'` to all of our HTTP calls here, but still don't get `connectorID: ldap` to show up in the k8s storage.
https://gist.github.com/blakebarnett/a2ff42d0171d1849dafda20064c4a46e

[2017-02-16 01:43] ericchiang commented on #786
@blakebarnett why aren't you just using an oauth2 client?

[2017-02-16 01:49] blakebarnett commented on #786
Hah, that's a good question.  I didn't write this originally, and I'm sure the author wasn't aware that he could.

[2017-02-16 01:54] blakebarnett commented on #786
I must say though, this one for example doesn't seem much more convenient for the added dependency: https://github.com/joestump/python-oauth2/blob/master/example/client.py

[2017-02-16 01:59] ericchiang commented on #786
@blakebarnett we don't support users who aren't using OAuth2 flows. That's the spec dex builds too. How would we possibly know if we broke them between releases?

[2017-02-16 02:00] blakebarnett commented on #786
Understood, I'll give requests-oauthlib a try, feel free to close.

[2017-02-16 02:02] ericchiang commented on #786
@blakebarnett yeah sorry. Please let me know if I can be of any help building the OAuth2 integrations. If you need something in Python, that could be a good opportunity for this project to add an example app that uses those libraries.

[2017-02-16 02:03] #786 closed

[2017-02-16 19:55] blakebarnett commented on #786
For anyone else who thinks that logging into a web page to use kubectl is silly (blashpemy to the oauth gods, I know!), this script is a working example, and this line is the fix.  For some reason Dex sets the connectorID using this get:  https://gist.github.com/blakebarnett/44009b7fc7f7f3f81fe9bfb4e1ebcf46#file-login-py-L37

¯\_(ツ)_/¯

[2017-02-16 23:33] ghazninattarshah opened #804 "Can we add support to mongodb?"

[2017-02-16 23:48] ericchiang commented on #804
MongoDB is totally do-able, but we don't use it internally so would be interested in feeling out support from other parties.

[2017-02-19 02:28] echarlie opened #805 ".dex-seperator in web/static/main.css is misspelt"
should be .dex-separator

[2017-02-19 17:56] theobouwman opened #806 "Getting started"
Hello,

I want to build Dex into my next project. It's going to be an API for a rental company where users should login using Facebook, Google or even more providers later on.

I can run Dex by ./bin/dex serve examples/config-dev.yaml but what's next? How can I let the user authenticate using Facebook or Google?

Thanks in advance.

[2017-02-20 17:10] rithujohn191 commented on #806
Hi,

Dex v2 does not support Facebook logins yet. We would need to add custom logic to enable this feature.

You can use OpenID Connect to enable Google logins. You would need to specific an OIDC connector in the Dex ConfigMap as detailed here: https://github.com/coreos/dex/blob/master/examples/config-dev.yaml#L55-L63. In order to use the OIDC connector you must register dex as an OIDC client with

[2017-02-20 17:12] theobouwman commented on #806
Thanks, I'll try

[2017-02-20 17:13] theobouwman commented on #806
Should I use Go-IODC package ?

[2017-02-21 01:21] ghazninattarshah opened #808 "Creating a password that already exist doesn't fill the response struct with already_exist flag"
the err variable consist of UNIQUE CONSTRAINT. It should probably fill the already_exist flag in response.

[2017-02-21 21:30] #805 closed

[2017-02-21 23:37] ericchiang commented on #795
closed by #802

cc @rithujohn191

[2017-02-21 23:37] #795 closed

[2017-02-22 00:09] #808 closed

[2017-02-22 00:33] ericchiang commented on #60
@rithujohn191 closed, right?

[2017-02-22 00:52] rithujohn191 commented on #60
yes closed by #793

[2017-02-22 00:52] #60 closed

[2017-02-22 22:47] SEJeff opened #811 "dex.spec for building a rpm?"
Figured it was worth asking about a spec file for building dex into a rpm. I'm happy to do this if it would be accepted.

I've got a policy of only allowing docker containers (on premise) that come from a RHEL based internal image, and generally still package things as rpm, even dex. Figured it made sense to contribute it back if that seems sensible?

Ditto for a systemd service file if someone mi

[2017-02-22 22:59] ericchiang commented on #811
Yeah absolutely. It's been a while since I built an RPM, but would be happy to review.

We haven't been doing active development on standalone deployments mostly because we don't use them internally, not because we don't want them.

[2017-02-22 23:42] SEJeff commented on #811
Great, once I've got it working, I'll send a PR. I figured you'd be ok with a systemd service file once it is done since I know CoreOS :heart: systemd.

[2017-02-24 02:02] ericchiang opened #814 "server: failed to create offline session: not found"
Saw this when trying to create a refresh token using dex v2.2.0 through the public clients.

[code]

cc @rithujohn191

[2017-02-24 02:11] ericchiang commented on #814
Conformance tests don't pass for the kubernetes storage on v2.2.0

[code]

[2017-02-24 02:37] rithujohn191 commented on #814
Looking into it

[2017-02-24 03:31] #814 closed

[2017-02-24 21:23] SEJeff opened #818 "kubernetes 1.5.2 doesn't like the TRP syntax in the storage docs"
[code]

[2017-02-24 21:55] #818 closed

[2017-02-27 14:39] yawboateng opened #822 "error resources: ID already exists."
Im running dex v2.2.2 on kubernetes, after a pod restarts, i see multiple lines of failed creating third party resources: ID already exists.

should this be an error? should it log it once and maybe as info? or is it standard that I go in after each restart and update the client-id?

[2017-02-27 16:32] ericchiang commented on #822
@yawboateng I think https://github.com/coreos/dex/pull/815 is causing this. I don't think it's actually going to cause bad behavior, but yeah we should correct the if condition.

[2017-02-27 17:40] ericchiang commented on #822
Sending a fix now. We'll backport and release a 2.2.3 today.

[2017-02-27 19:21] #822 closed

[2017-02-28 20:17] theobouwman opened #826 "Dex slack channel"
What about a Dex slack channel where people can get help/discuss implementations and use cases.

[2017-02-28 20:47] ericchiang commented on #826
CoreOS doesn't maintain a public slack channel, favoring IRC in the past. https://coreos.com/support/

I think both @rithujohn191 and I would prefer to stick to the dex-dev Google group. Apologies for missing your last post. It got buried in my inbox somehow.

[2017-02-28 20:47] #826 closed

[2017-02-28 20:57] ericchiang opened #827 "Provide binary releases"
Would improve our ability to get people up and running quickly.

[2017-02-28 20:58] ericchiang commented on #806
Mind if we move this to dex-dev? There's not really an issue here and improving the getting started experience is covered by #755

[2017-02-28 21:00] #806 closed

[2017-03-01 15:16] zihaoyu opened #828 "kubectl refresh issues"
We use `dex` as OIDC provider for `kube-apiserver`, and configure `kubeconfig` to use [OIDC authenticator](https://kubernetes.io/docs/admin/authentication/#option-1---oidc-authenticator) in user config. Our expiration settings look like the following:
[code]
However we noticed that when we come into office the next day, `kubectl` can't authenticate us some times:
[code]

So we need to get new toke

[2017-03-01 17:08] ericchiang commented on #828
@zihaoyu we've been seeing this issue crop up recently.

Dex's logic will keep old signing keys around as long as there are id tokens that it could have signed. There will no longer be used to sign, but will be kept around to verify. I don't think this is the source of the issue, but yes, we've seen this response from kubectl a bit lately.

What version of dex are you using? What logins (LDAP, Git

[2017-03-01 17:10] zihaoyu commented on #828
@ericchiang We use GitHub connector, and `quay.io/coreos/dex:v2.0.0-beta.1` image. Will try v2.2.3. Thanks.

[2017-03-01 18:25] joshrosso commented on #828
Experiencing an identical behavior with:

Dex: 2.1.0
Connector: LDAP

[2017-03-01 19:09] ericchiang commented on #828
I think I can see an issue https://github.com/coreos/dex/blob/3797a71ec9b5cbd254908f9d509a9dd21d0cfb96/server/rotation.go#L135

[2017-03-01 19:38] ericchiang commented on #828
Yep, the expiry bug is causing verification keys to arbitrarily be deleted. I think this is causing the issue. Will send a fix ASAP.

[2017-03-01 21:16] ericchiang commented on #828
Okay I was finally able to reproduce this

[code]

[2017-03-01 21:21] joshrosso commented on #828
Thanks @ericchiang.

So #829 fixes the above message?

[2017-03-01 21:24] ericchiang commented on #828
@joshrosso From my testing, yes it looks like https://github.com/coreos/dex/pull/829 fixes the issue. Observed behavior of v2.2.3 is: after two rotations the validation key is prematurely marked as expired (after ~12 hours by default). During this time the ID Token hasn't expired, so kubectl doesn't trigger a refresh, but the public key is no longer returned by dex, so the API server marks it as i

[2017-03-01 21:27] joshrosso commented on #828
Thanks. We're happy to validate this once the `v2.2.4` drops.

[2017-03-01 21:27] zihaoyu commented on #828
Same here. Thanks for the fast turnaround!

[2017-03-01 21:29] ericchiang commented on #828
v2.2.4 is out. Let me know if you can login in 12 hours :)

[2017-03-01 21:38] ericchiang opened #831 "Add a claim indicating which connector the user logged in through"
It's extremely useful to know which connector a user logged in through. Something like

[code]

[2017-03-01 22:04] ericchiang opened #832 "Connectors should be modifiable through the API"

[2017-03-01 22:21] joshrosso commented on #828
In flight, will let you know tomorrow.

[2017-03-02 13:38] zihaoyu commented on #828
@ericchiang This morning, some of us reported successful `kubectl` operations without needing to update tokens manually. However some saw another error:
[code]
Looking at `dex` logs:
[code]
Any ideas?

[2017-03-02 16:25] zihaoyu commented on #828
@ericchiang Before the bump

[2017-03-02 17:15] ericchiang opened #833 "Run Kubernetes storage integration tests through CI"

[2017-03-06 08:24] maltevogl opened #837 "ID-Token does not contain email"
I am integrating Dex with Jupyter HUB. Authentification is via an external OpenID Connect Server based on SpringSecurity (mitre) and Github. Both connectors provide access tokens as expected. However, the ID-Token does not contain the email-address.

The scopes are openid, email, profile and the claim "email_verified" is contained in the ID token. So from the source code it seems that for both con

[2017-03-06 19:45] rithujohn191 commented on #837
Hi @maltevogl,

Could you please provide more clarification on how how you are performing the authentication? Providing the Dex ConfigMap would be helpful. If I understand correctly you are trying to use the github connector with dex and the id-token retrieved does not have an email field?

Running the example-app as documented (here)[https://github.com/coreos/dex/blob/master/Documentation/getting

[2017-03-07 02:19] zihaoyu commented on #828
@ericchiang `v2.2.4` seems to be working fine. After a weekend we didn't have to get new tokens manually.

[2017-03-07 09:14] maltevogl commented on #837
Hi @rithujohn191

I adapted the example config file,  the minimal modification for reproducing this issue with the example-app is to add the following to the connector field in config-dev.yaml:
[code]
Running the example dex server ```./bin/dex serve example/config-dev.yaml``` and the example-app ```./bin/example-app ``` , one can authentify via GitHub. However, the decoded ID-token in the example

[2017-03-07 17:23] ericchiang commented on #837
Not by design. It might be that github isn't returning an email. I've seen this when a user explicitly marks their email as private. We should probably just reject those logins.

Does your third party OIDC provider return a "name" claim?

[2017-03-07 17:56] #828 closed

[2017-03-08 09:47] maltevogl commented on #837
Thanks, that solved part one of the issue. I thought I tried that already, but I forgot to save my profile settings. So indeed, if the email is set to privat it is not included in the ID token. Setting the email to public, one gets an IDtoken that includes the actual address.

Concerning the other OIDC provider: The claims listed in the comment above should all be returned by the server, that incl

[2017-03-08 17:03] alekssaul opened #838 "Support for Nested LDAP Groups"
Would be great if Dex supported nested LDAP groups.

[2017-03-08 17:23] ericchiang commented on #837
We should probably just reject GitHub responses which don't include an email.

The first option, "Client Secret over HTTP Basic" is the correct authentication method.

Do you have a raw ID token (maybe an expired one) returned by your provider using this method and the scope `"openid profile email"`?

[2017-03-08 17:42] rithujohn191 opened #839 "GitHub auth responses without an email attribute in the ID token should be rejected."
When a user explicitly marks their email as private in Github, an ID token that gets returned for this user does not contain a email field in the ID token claims. If this is the case we should go ahead and reject such login attempts.

Referencing #837

[2017-03-08 18:10] #838 closed

[2017-03-09 22:23] ericchiang opened #843 "Documentation/kubernetes.md: make it more obvious how to get the example-app"
A user had an issue when reading that doc.

Also ties into https://github.com/coreos/dex/issues/827

[2017-03-10 08:57] maltevogl commented on #837
Sorry, toke me some time...
If I interact directly with the OIDC provider, the returned access token has the form
[code]

The ID token at this point does not contain any claims of the scopes asked for.
[code]

To get the scopes I asked for, I have to access the userinfo endpoint with the provided access token. Then the information is returned as expected
[code]

Using the oidc connector as in the

[2017-03-10 08:57] #837 closed

[2017-03-10 17:59] #843 closed

[2017-03-11 06:21] yawboateng opened #845 "LDAP tls: handshake failure"
having problems trying to get dex ldap connector to work with an ldap server that uses a selfsigned cert.

error:
`2017-03-11T05:40:20.418894746Z time="2017-03-11T05:40:20Z" level=error msg="Failed to login user: failed to connect: LDAP Result Code 200 \"\": remote error: tls: handshake failure" `

Before starting dex, i try to run an openssl command to get the root ca of the ldap server.

`openss

[2017-03-13 16:00] ericchiang commented on #845
I don't think your openssl command does what you think it does (thanks for including that btw). Why aren't you grabbing an actual root certificate? Do you not have access to it?

[code]

[code]

[2017-03-13 21:35] Calpicow opened #846 "Public clients not working as expected"
When using public clients, JWTs issued with refresh tokens don't include the groups claim when it was requested in the original.

Refresh tokens for the client seem to be prematurely deleted after the first refresh as well.

[2017-03-13 21:51] #846 closed

[2017-03-13 22:23] Calpicow opened #847 "Refresh tokens getting overridden"
Using dex v2.2.4, Postgres as backing store.

Steps to reproduce, with `refresh_token` dump:
1. Log in using example-app, redeem refresh token for good measure

| id | client_id | token |
|-|-|-|
| u3npmgopunb7qh3e6cgd4ciqii | example-app | md2j4rvut5yaz42esbchs3ovrq |

2. Log in using another app (in this case: k8s with oob--not sure if this matters), so far so good

| id | client_id | token |
|-

[2017-03-13 22:25] ericchiang commented on #847
Uh oh, that's really bad. Investigating.

[2017-03-13 22:38] Calpicow commented on #847
Looks like it's missing a WHERE clause: https://github.com/coreos/dex/blob/master/storage/sql/crud.go#L302

[2017-03-13 22:45] ericchiang commented on #847
@Calpicow thanks for catching that. Will submit a fix ASAP.

[2017-03-13 23:18] rithujohn191 opened #849 "Improve conformance tests by adding multiple entries per resource unit test"
Currently our conformance tests only test creating, deleting and updating a single entry per resource type. We seem to be discovering a lot of issues that we hit only when multiple entries are encountered per resource. We need to update our tests to accommodate these scenarios.

Example issue: https://github.com/coreos/dex/issues/847

[2017-03-13 23:54] #847 closed

[2017-03-14 00:05] ericchiang commented on #847
@Calpicow we've released with v2.2.5 with a patch https://github.com/coreos/dex/releases/tag/v2.2.5

[2017-03-15 17:34] ericchiang opened #853 "health checks: consider not failing health checks if the storage is unavailable"
We've seen lots of cases where dex's backing storage is unavailable, dex fails its health check, and users think there's something wrong with dex. Maybe we should only fail health checks if we identify a problem on dex's end? For example if dex's credentials to the backing storage are invalid?

Are there best practices for these kind of situations?

cc @rithujohn191 @sym3tri

[2017-03-16 18:09] yawboateng commented on #845
@ericchiang, thanks, yea I do have access, I was thinking i would be able to use openssl to get it from the ldap server before starting the dex app...I guess i will just have to mount it as secrets in k8s.

btw what is the difference between the rootCAData and rootCA keys in the configMap? are both supposed to be a path to the ca file?or is the rootCAData the content of the ca file?

[2017-03-16 18:35] ericchiang commented on #845
@yawboateng rootCA is for a file, rootCAData allows you to inline the actual contents of a file (base64'd). We should document that better.

[2017-03-16 18:49] yawboateng opened #856 "ldap connector groups"
in my ldap server, a single user can be under multiple groups but for some reason only the first group shown in the list when i run ldapsearch command is being returned by dex to my oauth2 client.

oauth2-client:
[code]

config.yaml:
[code]

[2017-03-16 20:06] ericchiang commented on #856
[code]

Your filter here seems odd.

I don't know how much help we can be of without seeing what LDAP search results look like or what query you're providing.

[2017-03-17 01:01] ericchiang opened #857 "Handle GET / better"
Right now we 404 which is a bad UX for users of dex. Maybe we could provide a default redirect?

[2017-03-17 03:31] yawboateng commented on #856
sorry nameAttr value is memeberOf not memeber

I used wireshark to capture the packets
heres how the SearchRequest looks like:
[code]
searchResEntry:
[code]

ldapsearch:

[code]

[2017-03-17 17:51] #849 closed

[2017-03-17 19:08] curtisallen opened #859 "odic connector: Expose x/oauth2#RegisterBrokenAuthHeaderProvider to clients"
Using the OIDC connector with [Okta](https://okta.com) produces the following error

[code]

It looks like dex needs a way to call `oauth2.RegisterBrokenAuthHeaderProvider` before
[this line](https://github.com/coreos/dex/blob/master/connector/oidc/oidc.go#L105) is invoked.

#### Addational context
See https://github.com/golang/oauth2/issues/224

[2017-03-17 21:10] ericchiang opened #861 "api: times should be represented as unix times or proto times, not strings"

[2017-03-17 22:54] ericchiang opened #863 "connectors: implement refreshing with Google"
When a user log in through dex into Google, dex should be able to refresh the user's info with Google when client of dex refreshes it's id_token.

This is complicated because Google only allows a single refresh token out per client <-> end user pair, so we'd have to store connector data in our "offlinesessions" object globally, instead of in the refresh data like we do now.

Also is this general e

[2017-03-17 22:58] #861 closed

[2017-03-19 21:42] yawboateng commented on #845
thanks @ericchiang

[2017-03-19 21:42] #845 closed

[2017-03-20 16:56] #859 closed

[2017-03-20 17:42] #735 closed

[2017-03-21 00:29] mwitkow opened #866 "Google IAM Groups extension"
We're heavy users of Google GSuite and Google IAM. We're currently exploring expressing our Kubernetes cluster permissions as Google Admin Groups (e.g. `perms-cloud-prod@example.com`), similarly to how we group our Google IAM permissions with them.

Dex supports Google OpenID Connect login through `oicd` connector. However, we'd like to add a new connector that will:
 * use the oicd one as normal

[2017-03-21 01:25] ericchiang commented on #866
Yeah sounds reasonable, though part of using groups is going to figure out how to connect refresh tokens with Google (there are some complications which make it difficult) https://github.com/coreos/dex/issues/863.

[2017-03-21 17:58] ericchiang opened #868 "Switch logrus uses in connectors to take an interface"
Importing connectors shouldn't depend on logrus.

[2017-03-22 19:45] InAnimaTe commented on #828
For anyone running Tectonic and running into this, 1.5.2-tectonic.1 is running 2.1.0 of Dex which means you are affected. Looks like 1.5.3 release [upgrades](https://coreos.com/tectonic/releases/) Dex to 2.2.4 in which case things should work.

Thanks to everyone for fixing this!

[2017-03-22 22:45] burdiyan commented on #32
How this flow can be implemented in the event of key rotation? Does it mean that JWT will be invalid if the signin key is rotated and the user will be prompted for password or social login again?

I'm really interested in figuring out the way SSO can be implemented with Dex.

Maybe it can be something similar to this: https://github.com/coreos/dex/pull/841 ?

Basically it means that Dex would need

[2017-03-22 23:51] mwitkow commented on #866
The groups reading would have to be done through a service account file (specified in the config), as it is unreasonable to expect every person in a Google GSuite domain to have admin rights, even if just readonly.

[2017-03-22 23:52] mwitkow commented on #863
This is very likely to be applicable to other OIDC providers, as most of them allow users to "delete Tokens granted to Applications", signifying that only one is issued.

[2017-03-23 17:08] ericchiang commented on #32
@burdiyan I think this feature quest is just cooking an end user, so when they come back to dex they don't have to login again and are immediately redirected with a new, valid "code" to the client.

[2017-03-23 17:20] ericchiang opened #871 "Connectors that don't support refresh tokens shouldn't return one instead of erroring"
If a connector doesn't implement `connector.RefreshConnector` it should silently not return a refresh token when `offline_access` is requested instead of erroring out, like our current SAML connector.

For backwards compatibility we'll have to make the OIDC connector implement this method, so it continues to support refresh tokens, despite not being able to refresh the users identity (https://gith

[2017-03-23 19:10] yawboateng commented on #856
Fixed with:
[code]

[2017-03-23 19:10] #856 closed

[2017-03-23 23:11] #871 closed

[2017-03-24 16:10] andrewrynhard opened #874 "Can't redeem refresh tokens with self-signed cert"
I have a Dex/LDAP setup, and using the example-app as a client. I am using self signed certs. So far I am able to  login and get the token and refresh token. However, when I click "Redeem refresh token" I get the following error:
[code]
but I am specifiying the issuer root CA:
[code]

/cc @ericchiang

[2017-03-24 16:32] ericchiang commented on #874
Ah this does look like a bug in the example app.

[2017-03-24 20:21] #874 closed

[2017-03-25 16:44] andrewrynhard opened #876 "kubectl not refreshing tokens"
I have a Dex/LDAP/example-app setup that is functional for the most part. I can log in via the example-app and retrieve my token and refresh token. The 'Redeem refresh token' is working now thanks to #874. I am still seeing issues with `kubectl`. I have the following user in my kubeconfig:
[code]
I have set the expiration to 1m for testing, and I can use `kubectl` but get `Forbidden` error after t

[2017-03-25 19:17] andrewrynhard commented on #876
Ok so it looks `kubectl` IS refreshing tokens, just getting hit by this https://github.com/kubernetes/kubernetes/issues/37875.

[2017-03-25 19:17] #876 closed

[2017-03-29 00:39] Calpicow opened #884 "SAML issuer not the same for request and response"
AuthnRequest issuer refers to the service provider.
Response issuer refers to the identity provider.

This means the issuer check at https://github.com/coreos/dex/blob/master/connector/saml/saml.go#L288 isn't correct.

`p.issuer` is the SP, and `resp.Issuer.Issuer` is the IDP.

Spec: http://docs.oasis-open.org/security/saml/Post2.0/sstc-saml-tech-overview-2.0.html

[code]

[code]

[2017-03-31 02:15] akshatprakash commented on #755
we need an identity provider for our app. we need all the features which were removed in v2. namely

1. Registration flows.
2. Local user management.
3. SMTP configuration and email verification.
4. Several of the login connectors that have yet to be ported.

is there a way to implement these in go, so that when you guys are done with adding them back into v2, i can easily just update dex api and

[2017-03-31 02:31] ericchiang commented on #755
@akshatprakash we don't have plans to add those features back in. Dex isn't a user management system, so these are more appropriate for orthogonal apps that want to talk to dex's gRPC API or use it's login flows. E.g. for the registration flows, we would probably add a link to our login screen that send the user to a different app that handles registration.

[2017-04-03 13:09] drywheat opened #889 "Expand envvars on static client config section"
As of version **v2.3.0**, only the [storage](https://github.com/coreos/dex/blob/v2.3.0/cmd/dex/config.go#L152-L154) and [connection](https://github.com/coreos/dex/blob/v2.3.0/cmd/dex/config.go#L209-L211) sections of the dex config can leverage envvar expansion. This make sense since users will possibly need to provide dynamic credentials at runtime.

Adding a static client config in dex requires p

[2017-04-03 21:05] rithujohn191 commented on #889
This does seem to be a useful feature to add. However, currently you can use the gRPC API calls to create a client (https://github.com/coreos/dex/blob/master/Documentation/api.md).

[2017-04-04 16:28] yawboateng opened #890 "garbage collection run errror"
Hello,
im running dex in kubernetes and seeing the following errors in the logs - not sure what exactly is the cause...anywhere I can get more info on this?

2017-04-04T14:56:35.299846286Z time="2017-04-04T14:56:35Z" level=error msg="garbage collection run, delete auth requests=0, auth codes=1"
2017-04-04T15:21:35.356607004Z time="2017-04-04T15:21:35Z" level=error msg="garbage collection run, dele

[2017-04-04 16:31] ericchiang commented on #890
@yawboateng it looks like we're incorrectly marking this as an error when it should be an "info" level message. @rithujohn191 can you send a fix for that?

[2017-04-04 17:17] yawboateng commented on #890
Also seeing:

[code]
shouldnt the keys already rotated also be logged as info?

[2017-04-04 17:57] Calpicow opened #892 "Include connector UserID in ID Token"
The JWT sub is being strangely encoded. I expect it to be equal to the UserID attribute set by the connector.

Looks like the result of https://github.com/coreos/dex/blob/master/server/oauth2.go#L269-L278

[2017-04-04 18:35] ericchiang opened #895 "SAML connector incorrectly validates multiple Assertion elements"
This is an issue opened to report a security issue identified by @davidillsley. When using the SAML 2.0 connector an attacker could modify a valid SAML 2.0 response object by insert their own unsigned Assertion and dex would use the Attributes in the unsigned Assertion.

Who is impacted?

* Anyone using the experimental SAML 2.0 connector with version dex v2.2.x or v2.3.0 with a provider that sign

[2017-04-04 18:35] #895 closed

[2017-04-04 20:52] ericchiang commented on #892
Because different backends can clash, we combined the UserID returned by the connector and combine it with the connector ID. This also gives us a consistent ID to track things like refresh tokens.

Why do you need the UserID? Could we possibly map it to a different scope?

[2017-04-04 21:09] Calpicow commented on #892
For example, if I wanted to map permissions on the user account in Kubernetes via RBAC, it would be pretty tedious and difficult to track if `sub` is a base64 encoded string.

If any, I think we should encode it into a human-readable format or yes, create another claim with the concatenated information (or both).

[2017-04-04 22:06] rithujohn191 commented on #890
@yawboateng when exactly did you observe the error message (was it for a particular use case)? Are you running a single or multiple instances of Dex?

[2017-04-05 13:28] drywheat commented on #889
I believe I see what your saying:

1. Right now, I can make an RPC call to dex in order to create a client config w/o having to hardcode a password inside `dex.config`.
2. Variable expansion for the `staticClients` section would also be useful.

I'll look at the code and see if there's an easy PR I can create.

[2017-04-05 16:59] rithujohn191 commented on #889
Would be more than happy to review the PR once its ready

[2017-04-06 17:40] ericchiang commented on #884
Since issuer is optional on the AuthnRequest can we just skip sending it?

[2017-04-06 17:42] Calpicow commented on #884
It is required for some implementations (i.e. the one we're using).

[2017-04-06 17:43] ericchiang commented on #884
Okay thanks. Please feel free to rebase #885 or I can add it in another PR today.

[2017-04-06 18:19] #884 closed

[2017-04-06 22:11] yawboateng commented on #890
Im running 3 replicas of dex in kubernetes for an HA set up. should I be running only a single replica at a time?

and kubectl logs shows:

[code]

[code]

[2017-04-06 22:16] ericchiang commented on #890
No, dex works fine if you run multiple instances.

The error you're seeing

[code]

just means that another instance else updated the keys first. We should probably just improve that error message.

[2017-04-07 16:59] rithujohn191 commented on #890
Will switch this out to an info message instead

[2017-04-10 21:52] philips opened #899 "README: add gitlab"
We are missing a link to GitLab on README: https://github.com/coreos/dex#documentation

[2017-04-10 23:48] ericchiang commented on #770
closed by #900

[2017-04-10 23:48] #770 closed

[2017-04-11 17:06] #899 closed

[2017-04-11 17:09] #622 closed

[2017-04-11 21:17] #890 closed

[2017-04-12 15:45] yawboateng opened #907 "ldap insecureSkipVerify - remote error: tls: handshake failure"
running dex with ldap insecureSkipVerify set to true returns the error below:

017-04-12T14:54:26.707945506Z time="2017-04-12T14:54:26Z" level=error msg="Failed to login user: failed to connect: LDAP Result Code 200 \"\": remote error: tls: handshake failure"

setting the flag to false also returns the same error, any help on what might be causing this? and is it possible to get more information i

[2017-04-12 17:19] ericchiang commented on #907
Why are you providing both `insecureSkipVerify` and a `rootCA`? If you have the latter you don't need the former.

We're just printing the error from the LDAP library we're using https://github.com/go-ldap/ldap.

Maybe we're mixing up LDAPS and LDAP with TLS negotiation?[0] What server are you using?

[0] http://www.openldap.org/faq/data/cache/605.html

[2017-04-12 19:21] yawboateng commented on #907
ok, im running IBM Directory Server 6.3

[2017-04-12 21:57] ericchiang commented on #907
There's some more details here: https://github.com/coreos/dex/pull/908

IBM Directory Server should support LDAPS[0]. Do you have ldapsearch available, or an equivalent tool? What happens when you use those to connect to port 636?

[0] https://www.ibm.com/support/knowledgecenter/SSEP7J_10.2.1/com.ibm.swg.ba.cognos.c8pp_inst.10.2.1.doc/t_stp_ssl_ldap.html

[2017-04-12 23:03] yawboateng commented on #907
ldapsearch connects fine with the following:
`openssl s_client -showcerts -connect <ldapHost>:636 </dev/null | openssl x509 -outform PEM -out /tmp/cacert.pem; env LDAPTLS_CACERT=/tmp/cacert.pem ldapsearch -x -H ldaps://<ldapHost>:636`

simple connect response:
[code]

[2017-04-13 17:48] ericchiang commented on #892
So I think we should add a scope which adds this to claims. E.g. if you provide the `uid` scope, you get a claim like `dex.coreos.com/uid` returned. How does that sound?

cc @rithujohn191 @squat

[2017-04-14 01:15] colemickens opened #911 "Device Auth Flow support?"
Device Auth Flow: https://tools.ietf.org/html/draft-ietf-oauth-device-flow-05

Does Dex support a device auth flow for retrieving oauth/oidc tokens?

AADv1 supports it but not AADv2 which we need to use because AADv1 returns unsigned id_tokens upon refresh. It's unclear what the timeline is for device auth in AADv2, so I'm wondering what it would look like to use `dex` in front of AADv2. AADv2 wil

[2017-04-14 02:07] jmspring commented on #911
If it doesn't support it, I've got cycles to get this going.  If it does, I'm happy to make sure and document setup and use against Azure (amongst others).

Sent from my iThingy

[2017-04-17 17:07] Calpicow commented on #892
I think that would suffice for the Kubernetes use-case. I could imagine some OIDC consumers would have `sub` hardcoded into its logic and/or expect the value to be backed by LDAP or otherwise. As a consumer, I'd also expect the `uid` to be present in the JWT payload without having to explicitly request it.

Perhaps we could automatically include a `dex.coreos.com/connector_id` scope and make the b

[2017-04-17 22:10] rithujohn191 commented on #911
We currently do not support a device auth flow for retrieving tokens. We had a few quick questions regarding this request:
1) Noticed that the Device Auth Flow spec is still a draft and not yet an RFC, would it be acceptable that this implementation won't keep pace with the RFC changing?
2) Could you shed some more light on what all are the requirements to support this feature? Trying to estimate

[2017-04-18 03:12] jmspring opened #914 "deploy dex using examples/k8s to a namespace containers stay in "CreatingContainer" status"
There are no relevant logs.

Repro:

- create namespace
- deploy kubectl create -n <namespace> dex.yaml

Nothing.

Default namespace is fine.

[2017-04-18 03:16] ericchiang commented on #914
Sorry, do you have some logs or can you run kubectl describe on the resources that are stalled?

[2017-04-18 22:05] ericchiang commented on #863
FYI I brain dumped a lot of my thoughts about this here: https://docs.google.com/document/d/14XaHtY_JDU_fT1CfhFHewKvosPCbmyf8fD4S5UnsG2o/edit?usp=sharing

It's a long doc, but hopefully articulates the refactors that need to happen to support this feature.

[2017-04-19 19:20] jiosec opened #915 "Better documentation: Integrate LDAP/Dex with Kubernetes"
I am trying to figure to integrate corp LDAP with Kubernetes via Dex. I am following instructions:
https://github.com/coreos/dex/blob/master/Documentation/kubernetes.md
and
https://kubernetes.io/docs/admin/authentication/#openid-connect-tokens

I have tried to use token generated from example-app, but got some errors.
<pre>
E0419 11:26:37.534934       1 authentication.go:58] Unable to authenticate

[2017-04-19 19:51] jiosec commented on #915
I read the code, and noticed it has been fixed.
https://github.com/coreos/dex/commit/1e0cf3c068ee8522af9a4d2753c5bf2607827f3d

I was using the dex 2.0 image per dex.yaml.

[2017-04-19 19:52] jiosec commented on #915
I am closing this issue, although there are pretty room to improve documents.

[2017-04-19 19:52] #915 closed

[2017-04-19 19:59] ericchiang commented on #914
Closing since there's not enough info here to act on. Please feel free to follow up if you can get us some logs or kubectl output.

[2017-04-19 19:59] #914 closed

[2017-04-21 09:31] foobarto opened #918 "Groups returned in token should be prefixed"
Following example is GitHub specific but I believe it applies to all connectors.

Let's consider usecase where Dex is used with GitHub to provide authentication for Kubernetes 1.6+.

Currently the `groups` value in the token returned to the client contains list of GitHub teams for specified organization. This allows anyone with high enough permissions on github org to create a team called `system:

[2017-04-21 16:12] ericchiang commented on #112
As of the last release we promoted this out of experimental. Closing this issue.

[2017-04-21 16:12] #112 closed

[2017-04-21 16:25] ericchiang commented on #71
We've got lots of docs about the various OIDC and API endpoints. Closing.

[2017-04-21 16:25] #71 closed

[2017-04-21 16:26] ericchiang commented on #66
FYI, after a lot of sitting on this I think this should probably be done by client apps instead of dex.

[2017-04-21 16:26] ericchiang commented on #33
We expose the ability to delete users through the API. A client app should handle this.

[2017-04-21 16:26] #33 closed

[2017-04-21 16:27] ericchiang commented on #201
Dex doesn't do invites anymore and we don't plan to add this feature back in. Closing.

[2017-04-21 16:27] #201 closed

[2017-04-21 16:29] ericchiang commented on #324
Unfortunately there's not really anyone with time to support this version of dex anymore. Closing for now.

[2017-04-21 16:29] #324 closed

[2017-04-21 17:30] rithujohn191 commented on #918
@foobarto Thank you for your suggestion. This would be a great value add for all the connectors we have. Here are some initial thoughts about implementing this feature:
* This feature is something we wont be able to turn on my default since we have no way of making it backward compatible.
* We can probably add a flag that the user can specify which can enable this.

[2017-04-21 17:36] rithujohn191 opened #920 "connectors/github: Authentication via GitHub allows users outside of Org to login"
Only allow users of the configured organization should be allowed to authenticate / login. This is not the case now.

[2017-04-21 18:45] #755 closed

[2017-04-21 19:23] jmspring opened #921 "ID-token does not propagate 'preferred_username' from Azure ID Token"
Per [Azure AD docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations) Azure will not expose the email even if the claim is required.  However, it does return a 'preferred_username' which is not propagated up from dex.

Returned in the id_token from AD:

[code]

In AD, in order to get information about the user, a second call is required to the /me end

[2017-04-24 22:05] jmspring commented on #921
@ericchiang after some input from a colleague, it looks like the "emailClaim" configuration that is noted [here](https://github.com/coreos/dex/pull/527/files) would actually handle the case of dealing with Azure AD.  Is there a reason the "emailClaim" mapping was removed?  Is there any reason not to add it back?  (It looks like there was a big rewrite).

[2017-04-24 22:22] ericchiang commented on #921
@jmspring that logic wasn't ported as part of the v2 switch. Maybe @rithujohn191 would be okay with adding a configurable email claim back in?

[2017-04-24 22:27] jmspring commented on #921
Thanks Eric.

I'm happy to attempt the work if he is.  We have a few customers interested in OIDC solutions integrating with Azure AD and this would be the logical / easiest fix.  I don't know if/when Azure AD will expose / support the email claim for OIDC.  Per [this](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations) one needs to directly call the Gr

[2017-04-24 23:48] rithujohn191 commented on #921
@jmspring if you would like to take this up I would be more than happy to review the PR. If not I could add it in myself.

[2017-04-25 00:26] jmspring commented on #921
@rithujohn191 - some of us are having an internal hackfest this week, I'll take a stab starting this week.  I'll use the old PR as reference.

[2017-04-25 16:28] rithujohn191 commented on #920
Been working to fix this issue. The problem is that the github api call to [list user orgs](https://developer.github.com/v3/orgs/#list-your-organizations) requires explicit permission from the particular user orgs to be able to retrieve the list of orgs. It is possible for the authenticated user to request this permission from the org. But in order to do this github has to direct the user to the "

[2017-04-25 18:29] rithujohn191 opened #926 "API call to retireve a user token instead of using the login page"
This would allow user apps to handle login internally without having to pass the dex login page.

[2017-04-26 20:30] rithujohn191 opened #927 "Connector: Improve error message for expected callback URL."
Currently the message displayed is "msg="Connector \"github\" returned error when creating callback: expected callback URL did not match the URL in the config". We should add the expected callback to that error message.

[2017-05-01 15:05] tedstirm opened #930 "Does the LDAP connector's bindPW have any character restrictions?"
Are there character restrictions for the LDAP connector's service account(bindPW) password?

Reason I ask is because when working through the example I ran into an issue where the LDAP connector was removing a $ from my service account's(bindPW) password when transmitting the password to the LDAP server. This of course resulted in me getting invalid credentials from the LDAP server. I was able to

[2017-05-01 16:27] jwmaag commented on #930
i'm sure others may no better but iirc dex runs the configuration through some os.ExpandEnv which looks at the '$' and tries to apply an environment variable to replace it with, in the case that it cannot find one it will put an empty string.

A possible solution would be to put your ldap pw in the environment for example making a rundex.sh and putting it in there.

[code]

in your config you woul

[2017-05-01 16:36] tedstirm commented on #930
@jwmaag Ahhh okay, that make sense. I just ended up changing my service account password and everything worked fine from that point on. However, I just wanted to make others aware of the possible issue.

[2017-05-03 11:54] bkleef opened #932 "Docker tag latest is outdated"
Please check https://quay.io/repository/coreos/dex?tag=latest&tab=tags. It's 6 months old.
I expect it to be pinned on v2.4.1.

[2017-05-03 16:24] ericchiang commented on #66
This approach actually doesn't work for users who want to use the public client or device flows (if we ever implement the latter). So there's still value in this proposal.

[2017-05-05 03:44] jmspring opened #937 "Dex Issues ID token does not verify on JWT.io"
I've got the following token:

[code]

The has the following public key:
[code]

Modulus and exponent are:
[code]

When placed into jwt.io, the signature is considered invalid.

The reason for looking into this - the kubernetes API server, when I configured Dex was failing using the id token in requests due to invalid signature.

[2017-05-05 04:29] ericchiang commented on #937
Just tried this locally.

ID token

[code]

Keys

[code]

Encoded as PEM using the following program https://play.golang.org/p/wVusucNGDI

[code]

The first key verified the signature on jwt.io

[2017-05-05 16:01] jmspring commented on #937
Very likely the PEM header/footer, as the key value is the same.  I see it verifying now.

Will close.

[2017-05-05 16:02] #937 closed

[2017-05-07 20:09] jmspring commented on #921
So - adding the emailClaim plumbing was pretty straight forward (small change), however, that will only satisfy the Dex requirement for an email address internally.  Unfortunately, to integrate with Kubernetes, the email needs to be verified.

Near term, to integrate Dex, using a username of the form <field>-<issuer url> is the likely only option.

I'll have to look at the Dex approach to verifyin

[2017-05-09 00:08] rithujohn191 commented on #932
Hi @bkleef,

Thank you for pointing out this issue. We have decided to no longer support the latest tag in the quay.io dex repository since this can be confusing for users who do not want to use the latest version of dex.

The latest tag has now been deleted from the repo.

**cc** @sym3tri

[2017-05-09 00:08] #932 closed

[2017-05-09 07:29] waterdudu opened #938 "Add additional claims to id token"
Is there a way to add [additional claims](http://openid.net/specs/openid-connect-core-1_0.html#AdditionalClaims) to id token?

[2017-05-09 11:16] YanshuoH commented on #938
+1

[2017-05-09 12:23] RichardLindhout opened #939 "CORS errors when using native app"
I'm writing a native app and webapp with in reactJS and react-native.

At the moment I'm struggling with the webapp sending preflight requests.
When the webapp is doing a OPTIONS request to /dex/token
It keeps returning

```{"error":"invalid_client","error_description":"Invalid client credentials."}```

Since the browsers automatically strips the Authorization headers for preflight requests I woul

[2017-05-09 13:01] bkleef commented on #939
Current workaround for NGINX proxy:

[code]

[2017-05-09 21:26] joshrosso opened #940 "tokens: Refresh never occurs on custom (LDAP-group-based) bindings"
## Impact

dex version: `quay.io/coreos/dex:v2.2.4`
k8s version: [`v1.5.3+coreos.0`, `v1.5.5+coreos.0`]
kubectl version: [`1.5.5`,`1.6.1`]

## Behavior

Ever 24 hours, operations enabled by our [non-tectonic created] cluster role bindings (CRB) expire requiring us to re-gen a kube-config, in our case, through Tectonic console.

For example, we have the following CRB setup.

[code]

The correspondi

[2017-05-10 20:49] jungziege commented on #889
@rithujohn191 do you have suggestions for best practices around creating clients with the gRPC API? We have it in config now, and are happy to move it to gRPC but can't really figure out how to do it exactly once without doing it manually.

[2017-05-10 22:41] blakebarnett commented on #940
Seeing this also.

[2017-05-10 22:45] ericchiang commented on #940
@blakebarnett can you take a look at https://github.com/coreos/tectonic-installer/issues/617

[2017-05-10 22:53] blakebarnett commented on #940
cool thanks, I'll add that to our config.

[2017-05-10 22:57] blakebarnett opened #942 "RBAC user field is Base64 encoded"
Dex v2.4.1 w/LDAP connector
K8s v1.6.2

Here's an example RBAC DENY entry:
`I0510 22:55:45.410874       6 rbac.go:87] RBAC DENY: user "https://dex.url#CjZDTj1CbGFrZSBCYXJuZXR0LE9VPVVzZXJzLE9VPVBvc3RtYXRlcyxEQz1hZCxEQz1vZmZpY2USBGxkYXA" groups [vpn-prod dept-engineering vpn-stage team-infra system:authenticated] cannot "list" resource "pods" cluster-wide`

Is there any way to have Dex provide a non

[2017-05-11 08:47] zhuguihua opened #944 "Auth request error when using postgres and ldap"
The dex config:

[code]
After booting dex and dex-app, I logged in, but I received some errors:
time="2017-05-11T09:02:54Z" level=error msg="Invalid 'state' parameter provided: not found"

Requested resource does not exist.

Anyone has good ideas?

[2017-05-11 18:11] rithujohn191 commented on #944
The error is due to this line: https://github.com/coreos/dex/blob/9514bf9afe23640964a008bc7f4d7e8ccbbc3413/server/handlers.go#L340

Basically it tries to query the back-end storage to retrieve the AuthRequest for a particular authID. The error means that an AuthRequest for that particular authID does not exist in the storage.

I will try to replicate the issue on my end. But in the mean time could

[2017-05-11 18:41] rithujohn191 commented on #930
Thanks for pointing out the issue @tedstirm . As @jwmaag pointed out we do make use of os.ExpandEnv which will see a '$' and try to apply an environment variable.

I will create an issue to add this to our documentation.

[2017-05-12 00:51] zhuguihua commented on #944
Thanks for you response.
1.CreateAuthRequest() did succeed.
2. I read the code, and foud that the authID passed to GetAuthRequest was state 'I wish to wash my irish wristwatch'.   But in this line https://github.com/coreos/dex/blob/master/storage/sql/crud.go#L178 , you can find authID must be req id.

[2017-05-12 01:09] zhuguihua commented on #944
@rithujohn191 Also you can find, before excuting GetAuthRequest() in function handleConnectorCallback(), DeleteAuthRequest() will be called in function sendCodeResponse().
And in this line https://github.com/coreos/dex/blob/master/server/handlers.go#L358, the type of ldapConnector is not CallbackConnector or SAMLConnector, the default case will be excuted.

[2017-05-13 08:34] davidiamyou opened #945 "Unable to get started. Please help"
Hi All,

I followed the documentation `Get Started` to run dex. However, I can getting process killed every time.

[code]

When I tried to run `cmd/dex/main.go` directly from IDE. I am getting these errors.

[code]

Environment is `Go1.7` and `MacOS Sierra 10.12.4`. Any help and advice is appreciated.

[2017-05-13 13:59] jwmaag commented on #945
I think I ran into this a while back, probably related to https://github.com/golang/go/issues/11887

try adding -s to the LD_FLAGS environment in the Makefile

[code]

[2017-05-13 17:32] davidiamyou commented on #945
tried out. it works thx!

[2017-05-14 01:31] mlctrez opened #946 "Broken link in project description"
The link in the project description should be

https://coreos.com/blog/announcing-dex.html

and not

https://coreos.com/blog/announcing-dex/

[2017-05-15 05:45] zxdzxd opened #947 "github id provider"
@ericchiang can you give detailed steps on how to implement github using dex
i am getting certain error as "unable to connect github"

[2017-05-15 06:34] zxdzxd commented on #947
![screenshot from 2017-05-15 11 59 17](https://cloud.githubusercontent.com/assets/25072819/26045180/8eb5a376-3966-11e7-841c-25ff93aa5aa5.png)

[2017-05-15 06:35] zxdzxd commented on #947
time="2017-05-15T06:24:10Z" level=error msg="Invalid 'state' parameter provided: not found"
time="2017-05-15T06:25:17Z" level=error msg="Invalid 'state' parameter provided: not found"

these are errors

[2017-05-15 13:55] zxdzxd commented on #947
[code]

[code]
this is config-dev.yaml file
is the config file correct ?
how can i remove above error ?

[2017-05-16 11:21] Gouthamve opened #948 "Description link broken"
Hi, https://coreos.com/blog/announcing-dex/ available on the tag on the top is broken. Could you fix it and point me to right URL?

[2017-05-16 11:42] munna-bhai commented on #948
https://github.com/coreos/dex/issues/946

[2017-05-16 11:45] Gouthamve commented on #948
Sorry, should have checked. Closing.

[2017-05-16 11:45] #948 closed

[2017-05-16 16:41] #945 closed

[2017-05-16 17:26] rithujohn191 commented on #947
@zxdzxd  Please specify which version of dex you are using.

[2017-05-16 17:29] rithujohn191 commented on #946
@mlctrez thank you for pointing this out. It has been updated.

[2017-05-16 17:29] #946 closed

[2017-05-16 18:47] rithujohn191 commented on #944
Could you plz confirm which version of Dex you are using?

[2017-05-16 19:44] ericchiang commented on #778
cc @rithujohn191 we've also had a request for adding additional prometheus metrics for connector availability etc.

[2017-05-16 19:45] ericchiang commented on #778
For example, if the LDAP connector has connectivity.

[2017-05-16 19:59] brancz commented on #778
Let us know if you want us to review ;)

[2017-05-16 20:36] rithujohn191 commented on #940
@blakebarnett did that work out for you?

[2017-05-16 20:43] rithujohn191 commented on #938
We do not support this feature yet and is currently not on the immediate road-map for dex. You are more than welcome to open up a PR to add this functionality.

[2017-05-17 05:44] munna-bhai commented on #947
dex master

[2017-05-17 05:46] zxdzxd commented on #947
dex master

[2017-05-17 05:58] #930 closed

[2017-05-17 08:04] zhuguihua commented on #944
I build the dex from codes of mater branch.

[2017-05-17 14:41] zxdzxd commented on #947
@rithujohn191 i am getting similar error as in issue #944
https://github.com/coreos/dex/issues/944

while i am working to implement it for github using sqlite 3

[2017-05-17 17:12] rithujohn191 commented on #947
@zxdzxd are you trying to follow the [getting started docs](https://github.com/coreos/dex/blob/master/Documentation/getting-started.md) and implement the example app? In that case the values under `staticClients` is wrong. You seem to have provided the GitHub client credentials. It should be changed to the following:

[code]
You can find the source code of the example app here: https://github.com/

[2017-05-17 17:26] rithujohn191 commented on #944
@zhuguihua the state and the authID are two separate fields. If you look at the source code for our example app https://github.com/coreos/dex/blob/master/cmd/example-app/main.go#L26 you will see that "I wish to wash my irish wristwatch" is an example state that we use to verify the condition https://github.com/coreos/dex/blob/master/cmd/example-app/main.go#L275. More info on the state parameter: h

[2017-05-17 18:58] AlexanderMann commented on #889
👍 on this functionality or a clear denotation that this issue is to be closed and we should only use gRPC

[2017-05-18 01:03] blakebarnett commented on #940
I'm not 100% sure yet, but it seems to be working!

[2017-05-18 10:53] zxdzxd commented on #947
thank you for response @rithujohn191
github id provider is working now

but when similar configuration change i did for Gitlab

i get following error
[code]
[code]
it is generated from here
https://github.com/coreos/dex/blob/master/server/handlers.go#L379

my config-dev.yaml codes for connector

[code]
please help me solve the error

![screenshot from 2017-05-18 16 22 40](https://cloud.githubuserc