[2018-09-03 06:37] #1227 closed

[2018-09-03 06:37] srenatus commented on #1254
Sorry, sifting through so many issues and PRs. Thanks for the update.

[2018-09-03 06:45] sibu105636 commented on #1227
Hello Stephan, Yes it was a problem with my self sign certs.It's been fixed.  Thanks: Siba

[2018-09-03 09:22] srenatus opened #1284 "Release v2.11.0"
[There have only been a few minor changes since v2.10.0](https://github.com/dexidp/dex/compare/v2.10.0...master), but the repo move makes for a good occasion to cut a release. Also, we should include #1253 (thanks @vasartori).

Open questions:
- Should this become `quay.io/dexidp/dex:v2.10.0`? I suppose so, keeping `quay.io/coreos/dex` feels odd.

From glancing at them, I think the [how to create

[2018-09-04 14:45] ericchiang commented on #1284
I'm for moving this to a unique registry. This is in line with what etcd did after it moved out of the CoreOS org (https://github.com/etcd-io/etcd/releases). I've gone ahead and registered quay.io/dexidp.

I've created a google group to handle the quay.io admin emails. Let me add a maintainer doc with the groups new maintainers have to be added to. That doc can also include a few words covering th

[2018-09-04 16:10] ericchiang commented on #1276
Just to add my two cents. At this point dex is maintained by volunteers, not engineers who are paid to work on it and that's been a rough transition.

@rithujohn191 has done a lot of work to move dex to its own org to grow its community outside of CoreOS/Red Hat.

@srenatus has volunteered to help out https://github.com/dexidp/dex/issues/1281 and we're exploring options to add more owners https://

[2018-09-04 16:10] #1276 closed

[2018-09-04 17:47] sks commented on #1141
@ericchiang : Are you okay with deleting the `vendor ` directory and moving to `go modules ` ?

[2018-09-04 17:54] ericchiang commented on #1141
@sks I'd like to continue to commit `vendor`. even when we use `go modules` This helps us when repos get deleted from github.

[2018-09-05 02:32] TimothyYe opened #1286 "UpdatePassword interface doesn't compare hashes of old passwords"
Hello,

I checked the API `UpdatePassword`, it just updates password hash with the new hash passed in.
Please refer to (https://github.com/dexidp/dex/blob/master/server/api.go#L142).

For the safety reason, I think it is necessary to put the `OldHash` in `UpdatePasswordReq`, and compare old password hashes before updating it.

[2018-09-05 02:44] ericchiang commented on #1257
Yep, dex doesn't have a landing page and this indicates that it's working. Closing

[2018-09-05 02:44] #1257 closed

[2018-09-05 02:45] ericchiang commented on #1222
Hey @valer-cara, where's the --scopes flag coming from? dex doesn't use flags.

[2018-09-05 02:46] ericchiang commented on #1217
I don't know if there's enough info here to debug. The server is listening on `0.0.0.0:5556`, but the client can't reach it?

Can you curl `http://127.0.0.1:5556/dex`?

[2018-09-05 02:49] ericchiang commented on #1277
Which providers do this? Got some docs?

[2018-09-05 02:59] ericchiang commented on #1241
dup of https://github.com/dexidp/dex/issues/1099

[2018-09-05 02:59] #1241 closed

[2018-09-05 05:17] ejona86 opened #1287 "Travis-CI badge in README.md points to coreos/dex"
It seems the Travis-CI badge at the top of the README.md wasn't updated with the move from coreos/dex to dexidp/dex, as it is linking to `https://travis-ci.org/coreos/dex` and showing `https://api.travis-ci.org/coreos/dex.svg`.

[2018-09-05 05:42] ericchiang commented on #1287
Want to send a PR? 😃

[2018-09-05 09:32] valer-cara commented on #1222
@ericchiang - sorry for the phrasing. i've been using [keycloak-proxy](https://github.com/gambol99/keycloak-proxy) and had some issues at the time. i'm currently asking for the `openid` scope and that works fine.

this is most probably no longer an issue. i'll close this one. thanks!

[2018-09-05 09:32] #1222 closed

[2018-09-05 15:16] rendhalver commented on #1281
I am happy to maintain the chart for Dex if that helps.
I am using it locally so it will get some love.
https://github.com/helm/charts/tree/master/stable/dex

[2018-09-05 16:25] ericchiang commented on #1229
The oidc client does support other signature algorithms. We should probably set these to the correct values automatically for Yahoo and expose them for other providers as well.

https://godoc.org/github.com/coreos/go-oidc#Config

[2018-09-05 16:33] ericchiang commented on #1197
I'd be fine cooking the user with this information, remembering that a user granted access for a specific set of claims for a given client.

[2018-09-05 16:37] ericchiang commented on #1281
(off topic, but I'm starting to use "help wanted" to indicate "lgtm, send a PR" for anyone that's looking for ways to contribute https://github.com/dexidp/dex/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22)

[2018-09-06 05:29] ejona86 commented on #1287
Oh, sorry. I had no time since I posted the issue (I needed to stop what I was working on and said to myself, "I can at least file an issue.") It would have been an easy PR :smile:.

[2018-09-06 06:10] srenatus commented on #1284
I agree completely and will set aside a little time today to look into the wiring between github and quay.

[2018-09-06 06:53] srenatus commented on #1284
✔️ I've set up a build trigger, Quay is now building for every banch/tag pushed to `github.com/dexidp/dex`. I'll update the instructions and docs accordingly.

[2018-09-06 07:06] srenatus commented on #1284
I've manually triggered builds for `master` and the latest release, `v2.10.0`. (I've included that release so that we can update `examples/k8s/dex.yml`... I don't suppose it makes much sense to re-build all the previous releases, as long as `quay.io/coreos/dex` doesn't go away.)

[2018-09-06 07:43] srenatus commented on #1252
For what it's worth, it seems that rebuilding v2.10.0 with `alpine:3.4` has resolved those outdated packages issues -- [looking at the Quay security scan](https://quay.io/repository/dexidp/dex?tab=tags), there's no issues for v2.10.0 anymore. I guess the [`apk add` run](https://github.com/dexidp/dex/blob/bb75dcd79354271cdc035e4eedb2455044d6883b/Dockerfile#L14) in the build I've kicked off today ha

[2018-09-06 13:47] srenatus commented on #1020
I'd like to revive this. Having a generic gRPC connector seems very worthwhile.

@ericchiang @rithujohn191 What do you think, is the concern from above (from https://github.com/dexidp/dex/issues/1020#issuecomment-322518187) still valid, and blocking this?

I would suppose that a future direction could also include some sort of backwards-compatibility (with potential limitations), but in the near t

[2018-09-06 15:23] jgehrcke opened #1291 "check-go-version should support Go 1.10"
When using Go 1.10 the `scripts/check-go-version` script tells me that I should use something more recent than Go 1.8. The RegEx needs to be updated I suppose.

[2018-09-06 16:13] ericchiang commented on #1291
I'm for just removing the script :)

On Thu, Sep 6, 2018, 8:26 AM Jan-Philip Gehrcke <notifications@github.com>
wrote:

[2018-09-06 17:15] ericchiang commented on #1020
If it reduces the number of people asking for user management in dex, I'd be open to exposing a gRPC interface for sending a username and password.

I will note that that's what SCIM is though 😃 (REST instead of gRPC):

http://www.simplecloud.info/
https://tools.ietf.org/html/rfc7644#section-3.2
https://tools.ietf.org/html/rfc7644#section-3.4.1
http://www.simplecloud.info/#Implementations2

[2018-09-06 20:05] amdonov commented on #1020
I'd like to see the interface support more data than is available in the current Identity object. Assuming dex is going to to support a UserInfo endpoint eventually, it would be nice to have a flexible way to return attributes that are connector specific. For example, birthday, picture, etc.

[2018-09-06 20:36] ericchiang commented on #1020
If someone wants to send a SCIM or gRPC PR I'm happy to review it.

[2018-09-07 03:39] pjmichael opened #1292 "Accumulating new AuthRequest objects can cause a denial of service on storage."
We are running dex in a kubernetes cluster using kubernetes CRD's as our storage implementation. We recently had an incident in which a misconfiguration resulted in the storage of a large number of authorization requests.

The implications of this scenario with our implementation was that:
- Each authorization request would result in the creation of a new AuthRequest object, hard coded with an exp

[2018-09-07 11:34] veily commented on #1277
Used for LDAP server that used self-signed certificates (RootCA, server cert) and setting TLS verify client. In this case, dex should use the client certificates generated by the Ldap server RootCA.
Without the client certificates, dex all requests to ldap server will be rejected.

http://www.openldap.org/doc/admin24/tls.html

The DN of a client certificate can be used directly as an authenticatio

[2018-09-10 01:39] fishioon opened #1294 "ignore auth page if client special one connector"
First page list all connectors with  "/auth?client_id=&redirect_uri=&response_type=&scope=" .
When user choose one connector, then "/auth/{connector}?req=xxx".

Can support "/auth/{connector}?client_id=&redirect_uri=&response_type=&scope=&state="
so in my case, i can ignore  auth page and direct connector

[2018-09-10 06:12] #1252 closed

[2018-09-10 06:14] srenatus commented on #1252
To sum it up: Any recent build published to the [new quay repo](https://quay.io/repository/dexidp/dex?tab=builds) will have none of these issues. Thanks for the help, @vasartori.

[2018-09-10 07:33] srenatus opened #1295 "SAML test scaffolding"
In various SAML-related PRs, it became apparent that out lack of automated tests for the SAML connector a hurdle to developing and maintaining that code (see for example #1045, #1175, #1282).

👉 [The LDAP connector spins up an LDAP server (openldap) in the travis tests.](https://github.com/dexidp/dex/blob/4a6da13097aeebe4e3c418ace4d20e4ad470b331/connector/ldap/ldap_test.go)

It would be great if w

[2018-09-10 07:48] amdonov commented on #1295
I'd be happy to help and willing to make any changes to lite-idp required to facilitate testing.

[2018-09-10 07:57] srenatus commented on #1295
@amdonov would you mind if I assigned this to you then? 😉

[2018-09-10 10:53] amdonov commented on #1295
@srenatus I looked at this briefly this morning. My initial inclination would be to beef up an external SAML service provider implementation like https://github.com/russellhaering/gosaml2 and integrate that with dex. It would probably get more use and testing in other scenarios and potentially benefit other users/projects.

Not committing to using that specific library, but would you be open to th

[2018-09-10 12:04] srenatus commented on #1295
So, rephrasing to ensure I've grokked it, your proposal would be to replace the current SAML connector with one based on a purpose-built SAML library (over the current code which [uses libraries](https://github.com/dexidp/dex/blob/666356d22d9c83f764045340d956e4f2213540ae/connector/saml/saml.go#L15-L17) for making sense of XML and the signature verification).

(Assuming that's it, ) I think that's

[2018-09-10 12:44] amdonov commented on #1295
My preference would be to maintain compatibility in the existing connector
rather than introduce a new one. I took that approach initially for
expediency and my specific requirement for artifact binding. The lite-idp
service provider that I used on #1282 doesn't currently meet all of your
requirements.

On Mon, Sep 10, 2018 at 8:04 AM Stephan Renatus <notifications@github.com>
wrote:

[2018-09-10 14:14] srenatus commented on #1294
This is a bit related to #646. Right now, the auth request is created when visiting the first page, and then passed along to the selected connector (I think). To directly go to a connector's endpoint, we'd have to create the auth request there.

I'm torn when it comes it this. Yes, it would be helpful for simplifying some of our code, too. OTOH, it leads to leakage of internal information -- conne

[2018-09-10 15:10] fishioon commented on #1294
Thank you for the comment.
We plan to deploy a oauth platform with dex.
And we will support many other connector like 'wechat, wework, miniapp, alipay' and so on.
In some case, client only can oauth with one connector and not select.
So can you help me?

[2018-09-10 15:30] ericchiang commented on #1294
so in my case, i can ignore auth page and direct connector

If you only have one connector you'll automatically be redirected to the connector's login page.

The rest of this request seems like it could be fixed with https://github.com/dexidp/dex/issues/1084

[2018-09-10 15:31] ericchiang commented on #1294
Closing for now. I don't see anything in this request that's unique from #1084

[2018-09-10 15:31] #1294 closed

[2018-09-10 15:37] ericchiang commented on #1292
I think the crux of the issue is "prevent unauthenticated users from creating too much backend state."

Rate limiting would be good, but overall we probably want to tie the auth request to an IP or something. The proposal in #646 is one way, but doesn't stop a motivated attacker from messing with your cluster.

Removing "help wanted" for now. I don't think there's a clear enough solution to warran

[2018-09-10 15:55] #1291 closed

[2018-09-10 16:02] fishioon commented on #1084
+1 for this.
Hope #1138 or similar solution can be landed sometime soon.

[2018-09-11 06:52] srenatus commented on #1284
https://github.com/dexidp/dex/releases/tag/v2.11.0 ✔️

[2018-09-11 06:52] #1284 closed

[2018-09-11 07:06] fishioon commented on #1141
The vendored oauth2 not support custom param.
So is time to update vendored packages. 😄

[2018-09-11 19:55] ericchiang commented on #1295
I'm always for more testing.

We'd probably need to expand https://github.com/dexidp/dex/blob/master/server/server_test.go to get a full server up and running for these kind of tests.

A good start might be to move server_test.go to it's own integration test directory (and maybe clean it up). I think shibboleth would be a good framework to look into since it's open source and popular.

[2018-09-12 01:18] amdonov commented on #1295
I have a ton of experience with Shibboleth. I agree that it is a very
standards compliant implementation, but it's a bear to run. That's the
whole reason I wrote lite-idp. I'd recommend capturing requests/responses
with Shibboleth and replicating them with lite-idp. Then, use gosaml2 for
your connector. They use totally different XML encryption libraries while
both being very lightweight.

On Tue,

[2018-09-12 11:09] or1can commented on #981
As much as I'd like to carry on using Dex, this is causing me problems using Dex with my Kubernetes cluster for dashboard and CLI authentication. I'm still understanding exactly what's going on, but it seems that if the one uses the refresh token, the other can't - e.g. if my dashboard proxy uses the refresh token, when the CLI tries to refresh later it can't.

It's worth pointing out that the Goo

[2018-09-12 15:01] ericchiang commented on #981
Different clients should definitely be using different credentials. Your CLI should be using different client_id and client_secret than the dashboard.

Tectonic got around this by using our audience scope, you might want to check that out https://github.com/dexidp/dex/blob/master/Documentation/custom-scopes-claims-clients.md#scopes

[2018-09-12 18:06] jicowan commented on #965
@stefano-m can you post your config here?

[2018-09-13 06:49] alexmt commented on #1263
thank you for response @srenatus ! working on pull request

[2018-09-13 08:54] stefano-m commented on #965
@jicowan

The connectors section of Dex's YAML configuration file should look like the following:

[code]
Where

-    `<AWS REGION>` is the AWS region your user pool is in, e.g. eu-west-1
-    `<COGNITO USER POOL ID>` can be retrieved from the "General settings" page in the AWS Cognito console and looks something like `eu-west-1_iYUEhdSKA`
-    `<ISSUER URL>` is the value of the issuer setting in

[2018-09-13 17:39] ericchiang commented on #965
It looks like AWS cognito pool added the "token_endpoint" field to their metadata:

[code]

This should work with the builtin OIDC connector now!

Closing.

[2018-09-13 17:39] #965 closed

[2018-09-19 10:09] RichardLindhout opened #1300 "RedirectURL's for public clients"
I'm currently adding a feature to our webapp where we want to login with the microsoft connector.
[code]

[code]

The windows connect redirects from the microsoft login to our dex server and the dex server redirects it to the public client with a code as parameter.

In our webapp we get our access_token with the code which is send to us via dex when authenticated with microsoft.

It works perfect

[2018-09-19 10:20] RichardLindhout commented on #1300
I also can't obtain access_tokens with the microsoft connector login with a non-public client since it would expose the secret when obtaining the access_token via the authorization_code grant.

[2018-09-19 12:34] srenatus commented on #1300
Have you seen the [docs on "public clients"](https://github.com/dexidp/dex/blob/316acbee03e1ae904170adfcb8452452ca6cea1b/Documentation/custom-scopes-claims-clients.md#public-clients)? They're trying to provide some colour re: how it's intended to be used.

I'm not sure I'm following you here. Where would the secret be exposed?

[2018-09-19 13:00] RichardLindhout commented on #1300
@srenatus
I need to send the client_secret in the basic_auth when obtaining my access_token and thus leaking the secret for a non-public client

[2018-09-19 13:04] srenatus commented on #1300
Ah, so, this is from a web app and those notoriously can't keep secrets. Sorry I've missed that bit.

Have you considered using the implicit flow (auth grant "token+id_token" IIRC) with a non-public client? It might be comparable in security features to having a public client.

(Also #1114 might be relevant?)

[2018-09-19 13:09] RichardLindhout commented on #1300
Implicit flow would work. Except I want to also have the refresh-token and it recommended to use the authorization_code flow.

But there aren't any security issues when allowing more redirectURL's than the 'urn:ietf:wg:oauth:2.0:oob' right, or am I overlooking something.

[2018-09-19 13:17] srenatus commented on #1300
Giving out refresh tokens could be an issue. They don't expire and are thus
more critical than id tokens.

You could have an extra little service between your web app and dex that
uses a non-public client, and holds the refresh tokens close to its heart,
while allowing the web app to get a fresh token by some other means (which
it will have retrieved using the refresh token).

On Wed, 19 Sep 2018,

[2018-09-19 13:27] RichardLindhout commented on #1114
Recommended for public clients according to this article: https://www.ory.sh/oauth2-for-mobile-app-spa-browser/

Myself are a bit sceptic about that because most companies would not like to open a webpage via the app itself.

[2018-09-19 13:29] srenatus commented on #1300
They would end up in the possession of the web app. That's untrusted
territory as far as by-the-book oidc is concerned, I think.

That said, we might not care for that distinction. I don't know, what do
you think, @ericchiang?

On Wed, 19 Sep 2018, 15:26 Richard Lindhout, <notifications@github.com>
wrote:

[2018-09-19 13:33] RichardLindhout commented on #1300
Ah ok, but it would also if we use the 'urn:ietf:wg:oauth:2.0:oob'  only with more actions required.
-> no redirect url -> user sees code -> user fills in webapp code -> webapp obtains token+refreshtoken
-> redirect url -> dex redirects to the webapp -> webapp obtains token+refreshtoken

[2018-09-19 13:39] srenatus commented on #1300
That's right, but public clients were meant to be used with something like
a mobile app. It could be argued that that's less "out in the open".

That argument is open to attack, of course  ;)

On Wed, 19 Sep 2018, 15:33 Richard Lindhout, <notifications@github.com>
wrote:

[2018-09-19 13:41] RichardLindhout commented on #1300
Ah that's right! But I also need this in my mobile-app but with a custom protocol like this:

native-app://redirectUrl

So it's needed for mobile apps when you are using a connector and don't your users to fill in the code manually since it is not really good UX.

[2018-09-19 13:48] srenatus commented on #1300
Hehe, I feel like we're getting somewhere 😄 So, it's two problems.

For the mobile app, would an additional restriction to the public clients' redirect URI, say, "scheme != http[s]" [near here](https://github.com/dexidp/dex/blob/316acbee03e1ae904170adfcb8452452ca6cea1b/server/oauth2.go#L555-L560) work?

For the web app, an alternative road could be something like #990, where the web-app can do a i

[2018-09-19 14:04] RichardLindhout commented on #1300
Some background information: We're using the same flow in my webapp for username and password. To skip the user code part.
[code]
We run the dex server on the same address as the webapp so we skip CORS issues.

---------------

According to your suggestion: scheme https:// should work so we can allow the dex server to send the code to trusted url's or trusted mobile url's.

[2018-09-19 15:39] ericchiang commented on #1300
For 'urn:ietf:wg:oauth:2.0:oob'  the client secret isn't secret. When using a redirectURL, the secret is supposed to be secret. They have different security profiles and that's why we haven't historically let the same client use both.

Refresh tokens probably make this even worse. We never figured out the revocation story there.

[2018-09-19 15:40] ericchiang commented on #1300
Why do you need the client to support both? Why not just use two clients?

[2018-09-19 15:56] RichardLindhout commented on #1300
Features needed:
Endless login (so refresh-token support)
Connector login
No user actions required regarding to a token copy-pasting
Needs to work in client-side apps

But it's probably that im describing the following flow: https://tools.ietf.org/html/rfc7636
But it has some extra security measures in place.

According to this flow we can use redirectUrl's

[2018-09-19 15:59] RichardLindhout commented on #1300
@ericchiang I can't get my access_token + refresh_token via the auth_code without exposing my secret when I'm using a NON-public client.

[2018-09-24 08:01] RichardLindhout commented on #1300
@ericchiang

[code]

If the user fills in the code in the webapp the refresh token is still in possession of the webapp. I don't think it makes a difference?

[2018-09-25 10:47] srenatus commented on #1230
I don't think there is a roadmap of any kind right now. Also, further multi-tenancy features added don't seem likely, I think... 🤔

Is there any of the existing issues that might help smoothing the edges for your use case?

[2018-09-26 07:58] srenatus opened #1304 "SAML connector: if second cert is not formatted correctly, no error surfaces"
[When parsing the PEM-formatted CA data](https://github.com/dexidp/dex/blob/ff70c0453f28c24eed959e6349b5dda79223b9d2/connector/saml/saml.go#L201-L204), we _stop reading in certs_ when `block == nil`. That could very well be the case when the configured certs are formatted badly, like
[code]
(note that there's one `-` too little in the last `END CERTIFICATE` line). In that case, we'll read in one c

[2018-09-26 13:42] ringods commented on #1179
Hello @whereisaaron, did you make any progress on this?

[2018-09-26 15:32] rendhalver commented on #1192
Any chance we can we merge your dex chart into the official helm/charts for dex?
https://github.com/helm/charts/tree/master/stable/dex

Adding your dex-k8s-authenticator chart to helm/charts would also be awesome.

I am happy to assist with that.

[2018-09-26 17:27] whereisaaron commented on #1192
Hi @rendhalver, please do!

[2018-09-26 17:40] whereisaaron commented on #1179
Hi @ringods, no - no progress, as you see noone from the dex project replied. I don;t know why the v1 connector was not updated for v2.

It appears Atlassian supports OAuth 2 and flows similar to OIDC, but not real OIDC.

  https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html

It is likely a modified OIDC dex connector could support it, e.g. here is support for Drupal

[2018-09-26 19:12] rendhalver commented on #1192
Ok awesome.
I will see what's different in your chart and see about getting the changes added.

[2018-09-27 19:47] drshade opened #1306 "Issues integrating with Azure AD"
I have followed the microsoft connector readme, and have the following very simple connector configuration for dex:
[code]

I've registered my app on https://apps.dev.microsoft.com, added the Directory.Read.All delegated permission, and also updated the application manifest to include the replyUrl back to my dex ingress.

My current issue seems to be that I cannot get the admin_consent piece worki

[2018-09-28 12:56] praveendhac commented on #1306
Did you configure "Reply URLs" to https://dex.mydomain.com/callback for cliend_id on AzureAD?
Are you able to access https://dex.mydomain.com/.well-known/openid-configuration?
This works for me
[code]

[2018-09-28 19:36] praveendhac commented on #1229
I can help on this. Need few pointers and guidance to start with.
I have following questions
1. How to get
[code]
2. will use example app for testing, is that okay.
[code]

[2018-09-30 20:07] edtan commented on #1179
Hello!  I've submitted PR #1307 that creates a Bitbucket connector.

[2018-10-01 07:38] ernoaapa opened #1308 "Disable CRD management"
Hi,
we want to manage the CRDs by our self. What do you think of having `--disable-crd-creation` flag? Now if I create the CRDs and don't give RBAC to create customresourcedefinitions, I get a lot of spam to the logs. I can provide PR for this.

[2018-10-08 13:40] sdollison opened #1309 "Dex SAML config for SAML using ADFS"
Hi all,

I'm hoping someone can help me out here. I'm trying to get the SAML config working for Dex.  As stated in the title its SAML using ADFS.  Is anyone aware of which specific data items Dex needs or what formats they should be in coming from ADFS?  I'm relatively sure my config for this is good and that the issue is with the data that's being sent from ADFS.  I can't find anything currently

[2018-10-08 20:02] ppolicherla opened #1310 "DEX signing"
So I am running dex with an ldap server and I can log into my app. And I get the following token

Now the issue is that when I use the public keys that are generated from the key files i create with the gen-certs.sh I am still unable to get a verification.
The following are the public keys I can create from the the private keys that the gen certs script give me

-----BEGIN PUBLIC KEY-----
MIIBIjAN

[2018-10-09 09:50] srenatus commented on #1310
I believe that's _by design_. The key used to sign tokens is auto-generated, and managed by dex. It takes care of rotation, everything. If you want to retrieve the public key(s) used for signing tokens, that's `https://YOUR-DEX-SERVER/dex/keys`. It's not something you could _set_ or interfere with, you can only _get_ them, as far as I know.

Taking a step back -- what is it you're trying to do? Wh

[2018-10-09 09:53] srenatus commented on #1309
[code]
I think that should be `/dex/callback`?

Also, try setting
[code]
as ADFS might care; [it's used here](https://github.com/dexidp/dex/blob/master/connector/saml/saml.go#L260-L264).

[2018-10-09 12:36] sdollison commented on #1309
@srenatus Thanks a bunch! That got us a little bit further along in the process before having it fail out again.  I think our main issue is not knowing what the config info for ADFS should look like. As in we're trying to figure out which variables to send from ADFS to meet Dex's requirements for authentication.

<img width="1332" alt="image" src="https://user-images.githubusercontent.com/43761015

[2018-10-09 13:36] srenatus commented on #1309
This is IdP-specific, but I guess you could try another name ID format, [one of these](https://github.com/dexidp/dex/blob/master/connector/saml/saml.go#L28-L36), configured in [`NameIDPolicyFormat`](https://github.com/dexidp/dex/blob/master/connector/saml/saml.go#L104-L116).

[2018-10-09 13:51] sdollison commented on #1309
@srenatus I think we might be getting our wires crossed a bit.  I don't think formatting is the issue.  We're able to change the formats from the IdP side anyway we like. We're trying to figure out what the ADFS claim rules need to be specifically as they define what information is queried and how that information should be formatted when returned. If someone has set it up before for this applicat

[2018-10-09 13:55] srenatus commented on #1309
I'm not sure I'm following. Recap: when logging in via SAML, Dex will send a client to the IdP's page, equipped with an AuthnRequest. That could be denied on grounds of the Name ID Format _requested by Dex_ -- the thing you can configure. If the authn request is not denied, and the IdP has authenticated the user, they are sent back to dex, with an AssertionResponse. The assertions contain some "na

[2018-10-09 14:09] ppolicherla commented on #1310
I see, I figured that would be the case. I have two separate apps running, dex and my back end app. I want to be able to verify the signature of the token using my backend app which I would need the public keys for in my backend app. But if dex works the way you described I will have to look into another way of doing that.

[2018-10-09 14:41] srenatus commented on #1310
I don't see the problem here, as dex exposes **those public keys**. You can use go-oidc or some other library to verify the id tokens' signature, using the exposed public keys.

You should be able to do something [like what the README describes here](https://github.com/coreos/go-oidc),

[code]

[2018-10-09 14:43] srenatus commented on #1309
Slowly but surely 😄

Let's check dex's logs while attempting that SAML login. Also, there's SAML dev tools for many common browsers that let you inspect that passed-around SAML blobs more nicely.

[2018-10-09 15:09] ppolicherla commented on #1310
Ok well is this something that I can implement outside of dex or do I need it inside of go? I am trying to implement the verification on a separate app, and will this account for the rotations?

[2018-10-09 15:16] srenatus commented on #1310
This could totally be done in a different language. go-oidc just happens to be a client-lib I know that can do this:
- get the public keys periodically
- use them to verify a jwt id_token's signature

There surely are others. You shouldn't have to change dex for this.

[2018-10-09 15:27] ppolicherla commented on #1310
Cool. Just to see if I understand what you are saying. I will be able to implement a library in my main app that will be able to grab the keys from the dex endpoint and then convert them to PEM format and use them for verification. This will work as long as I check for these keys periodically to avoid rotation mismatching. And this can be implemented outside of the dex app itself?

[2018-10-09 15:37] srenatus commented on #1310
@ppolicherla That is correct. Any OpenID Connect library should be able to work with Dex's endpoints, without changing anything in Dex.

[2018-10-09 16:17] sdollison commented on #1309
@srenatus Dex Logs may have led us to the smoking gun here. We're seeing the following error in the Dex Log when attempting to log in.

`{"level":"error","msg":"Failed to authenticate: no attribute with name \"email\":`

Looking at the response from ADFS there's definitely no attribute in the response specifically called "email".  I'm working with our ADFS admin to see if he can have us return an

[2018-10-09 16:19] ppolicherla commented on #1310
@srenatus Awesome thank you man, I am sorry if my question seemed stupid. I don't know why I am having a hard time wrapping my head around dex. But this helps out a lot.

[2018-10-09 17:34] ppolicherla commented on #1310
@srenatus Sorry I have one more question about this implementation, will they be able to interpret the keys in the PEM format as required by the RS256 standard?

[2018-10-09 22:01] nikolajbrinch opened #1312 "Possibility to go straight to login screen, and not have login with email"
HI,

Is it possible to not have the "Login with email" option on the login screen, so there would only be login with say LDAP, and then login will go directly to the credentials?
It seems like a unnecessary step for the user to have to click on login with LDAP, since itis the only option we provide, like it can be confusing.
Furthermore, is it possible to customize the login screen, so the issuer

[2018-10-10 08:19] srenatus commented on #1309
Yay, progress 🎊

This is the tricky bit, really: it's configurable on both ends. In Dex, you've got a few SAML connector config values that are relevant:
https://github.com/dexidp/dex/blob/a1b6ba9bbad8bafbd680931a2bd5b6176df27dbb/connector/saml/saml.go#L93-L100

Depending on the flexibility of your ADFS admins, you could look at the Assertion Response and set your dex config values to something th

[2018-10-10 13:57] ppolicherla commented on #1310
Awesome, this definitely gives me some ideas on how to move forward. Thank you!!!!!

[2018-10-10 14:17] srenatus commented on #1310
@ppolicherla 🎉 -- can we close this? 😉

[2018-10-10 17:16] sdollison commented on #1309
@srenatus I finally got it working based off that last bit of info you gave me.  I guess i wasn't understanding that in the config I could change the emailAttr section to expect what we were returning in our ADFS response in this case the email value was stored in an attribute named "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress".  Once i changed the config to match against th

[2018-10-10 17:18] sdollison commented on #1309
@srenatus Thank you so much for the assistance.  Hopefully with the above documentation someone else can avoid some strife in configuring ADFS to play with Dex.

[2018-10-10 18:33] ppolicherla commented on #1310
Yeah I believe that all my questions have been answered adequately, and the issue can be closed. Thank you

[2018-10-10 18:52] srenatus commented on #1310
:tada: :smiley:

[2018-10-10 18:52] #1310 closed

[2018-10-10 19:58] srenatus commented on #1309
:tada: This is great. Thank you so much for the detailed infos. :smiley:

[2018-10-10 19:58] #1309 closed

[2018-10-10 21:27] yawboateng opened #1313 "what are dex' api endpoints?"
I searched through the docs and found:

"authorization_endpoint": "http://127.0.0.1:5556/auth",
"token_endpoint": "http://127.0.0.1:5556/token",
"jwks_uri": "http://127.0.0.1:5556/keys",

are there any other ones? in particular one for revoking refresh_tokens

[2018-10-10 22:07] ericchiang commented on #1313
Dex has a gRPC endpoint with this https://github.com/dexidp/dex/blob/master/api/api.proto

[2018-10-10 22:07] #1313 closed

[2018-10-11 10:59] nikolajbrinch commented on #1312
Ok I found out that I had the
[code]
When that was removed Dex goes directly to the LDAP login screen.

[2018-10-11 11:39] srenatus commented on #1312
🎉

@nikolajbrinch do you think this could be closed? Or do you still have questions regarding the UI templating?

[2018-10-11 11:54] nikolajbrinch commented on #1312
Yep I'll close it :-)

[2018-10-11 11:54] #1312 closed

[2018-10-12 06:52] srenatus commented on #1308
I have to admit that I know little about this. Do other CRD-using services provide similar knobs?

[2018-10-12 07:02] ericchiang commented on #1308
I think others do. This should actually be a easy fix. Add an option here: https://github.com/dexidp/dex/blob/a1b6ba9bbad8bafbd680931a2bd5b6176df27dbb/storage/kubernetes/storage.go#L39

Then skip the create call later on.

[2018-10-12 07:04] srenatus commented on #1179
@edtan thanks again for this. @whereisaaron OK to close this?

[2018-10-12 08:14] whereisaaron commented on #1179
Surely. Thanks @edtan... now just waiting for that sweet 2.12.0 release....

[2018-10-12 08:14] #1179 closed

[2018-10-12 08:18] srenatus opened #1314 "Release v2.12.0"
https://github.com/dexidp/dex/compare/v2.11.0...master Looks like we could have one. Also, there's been interest in having #1179 in a release.

[2018-10-12 09:02] srenatus commented on #1314
✔️ [v2.12.0](https://github.com/dexidp/dex/releases/tag/v2.12.0)

[2018-10-12 09:02] #1314 closed

[2018-10-12 12:16] srenatus commented on #1314
[⏩ `core/dex` habitat plan PR](https://github.com/habitat-sh/core-plans/pull/1911)

[2018-10-15 11:15] srenatus commented on #1277
Fixed in v2.12.0 (#1314), thanks to your help in #1278. 🎉

[2018-10-15 11:15] #1277 closed

[2018-10-17 07:16] srenatus commented on #1240
⏳ I'm cleaning this up. Feel free to reopen if this still bugs you.

[2018-10-17 07:16] #1240 closed

[2018-10-22 02:18] liweiv opened #1321 "If someone want to translate docs to other language, how to contribute?"
If someone want  to translate docs to other language, how to contribute?

[2018-10-22 02:20] veily opened #1322 "If someone want to translate docs to other language, how to contribute?"
If someone want  to translate docs to other language, how to contribute?

[2018-10-22 03:45] veily opened #1323 "grpc API no ListClients api"
has any plan to support ListClients API for getting clients.

[2018-10-22 05:04] #1322 closed

[2018-10-22 06:43] srenatus commented on #1286
Hey there. Sorry for letting this hang in the air for so long.

I'm not sure you could say that in all generality -- after all, it depends on the use case, and how dex' rudimentary users feature is made use of.

In any case, we've had a similar issue and ended up proposing #1272 -- effectively having our _service wrapping dex_ do another call before updating the password. However, your proposed ap

[2018-10-23 11:29] tuyenpm9 opened #1326 "Docker: container exit immediately after create"
I have this `docker-compose.yml`

[code]

Dex container created sucessfully, but exited after creation.

`docker logs <dex-container-name>` gives:

[code]
I expect dex up and listen on port `5555`, did I miss something?

[2018-10-23 13:37] tuyenpm9 opened #1327 "failed to initialize storage: failed to perform migrations"
I'm trying to setup dex to authen against ldap that also used by docker_auth to authen users. The idea is users authen against dex then delegate to private `registry` then registry query docker_auth to authen the second time, if good allow push/pull.

I don't know token generated by dex or docker_auth may conflict, have no idea.

But dex and docker_auth would use the same ldap database/structure t

[2018-10-23 19:40] annapurnam commented on #965
Hello @stefano-m
Do you have step-by-step process on how/what you did to make this work?
I'm new to both dex and Congnito

I tried creating Userpool and configured with dex. Not sure what to do with the domain name settings on user pool.
Without domain name, I'm getting error: "{"code":"BadRequest","message":"The server did not understand the operation that was requested.","type":"client"}"

[2018-10-24 06:46] tuyenpm9 commented on #1327
worng config I guess, have no clue now but it works now.

[2018-10-24 06:46] #1327 closed

[2018-10-24 06:47] tuyenpm9 commented on #1326
I used dockerfile instead image, better build from master for go project than image.

[2018-10-24 06:47] #1326 closed

[2018-10-25 22:07] sanjeevchopra commented on #1084
+1
@ericchiang  - In my case, the project has a business requirement to provide it's own local user management and an option to use external IdPs, for which it is using `dex`.  So, it needs  it's own login page to have the custom authn as an option. In this case, it will be a poor experience if the user has to do the selection first on the custom login page and then on dex login.

Regarding your q

[2018-10-26 03:23] SongGithub opened #1330 "env var not interpolated"
In the [official example](https://github.com/dexidp/dex/blob/v2.10.0/examples/k8s/dex.yaml), clearly it is trying to set an ENV VAR `GITHUB_CLIENT_SECRET` from a k8s secret, then use it in config map as `$GITHUB_CLIENT_SECRET`, hoping it could interpolate the value of that ENV VAR.

Unfortunately, at v2.10.0, it does not. We have tried many times.

This bug makes it more complicated than necessary

[2018-10-26 10:56] srenatus commented on #1330
The `staticClients` config is not the same as a connector config. It does
not do any env expansion, unfortunately...

On Fri, 26 Oct 2018, 12:23 Song Jin, <notifications@github.com> wrote:

[2018-10-26 12:10] srenatus commented on #1330
[Searching](https://github.com/dexidp/dex/search?q=staticClients+env&type=Issues) yields #1099. What do you think about that proposal, @SongGithub? 😃

[2018-10-26 17:15] sgir opened #1331 "How do I get example app to ignore ssl validation"
I am trying to get Dex working in localhost with https. I am able to access the Dex Endpoints.

But, When I make a request from the example-app which was working with http before, I get

`error: Failed to query provider "https://saml-dex-lor.com:5556/dex": Get https://saml-dex-lor.com:5556/dex/.well-known/openid-configuration: x509: certificate signed by unknown authority`

Some more info :

I am

[2018-10-29 03:37] SongGithub commented on #1330
let me clarify the proposal, is that like following
[code]

[2018-10-29 10:40] #1330 closed, assigned to nobody

[2018-10-29 10:42] SongGithub commented on #1099
please, please, push this forward. I would love to see this feature got released soon.

Currently there is so much pain to setup init container in k8s just to set the clinet secret without exposing it in our source code repo.

[2018-10-29 11:56] srenatus commented on #1306
It's been a month now... Is this still bothering you or can we clean this up? 😃

[2018-10-29 17:36] danielpcox commented on #1182
For what it's worth (though, full-disclosure: I also work @DecipherNow) I also need this before we can use Dex to front identity providers that specify (potentially complex) user security attributes in custom claims. I would also be happy to help contribute the necessary improvements with @cstrahan, if we could be reasonably certain of general interest.

[2018-10-30 10:35] srenatus commented on #1331
There's issues with your config, too, I'm afraid:
[code]
☝️ this doesn't look right; and also
[code]
is not the correct format, the string should look like [this example file](https://github.com/dexidp/dex/blob/master/connector/saml/testdata/ca.crt),
[code]
Note that you'll have to pick one of the [many methods to provide multi-line strings in YAML](https://stackoverflow.com/questions/3790454/in-y

[2018-10-30 18:02] sgir commented on #1331
@srenatus  thanks for pointing out the things i had overlooked 👍 . Adding the cert to my keychain seems to have done the trick for local development.

I will close the issue now.

[2018-10-30 18:02] #1331 closed

[2018-11-01 07:09] SongGithub opened #1332 "have a namespace scoped role for dex, instead of cluster-wide"
our current situation is that we have already got a DEX 2.10.0 deployed in kube-system namespace which is using `cluster-role`. This DEX has created necessary CRDs for all namespaces.

For some reason, one of our teams want to deploy a separate DEX in their own namespace. And for security reasons, we only defined a `Role` that is namespace scoped. This Role leads to a problem that DEX can't create

[2018-11-02 04:18] SongGithub commented on #1332
it appears to relate to this issue https://github.com/dexidp/dex/issues/1308 #1308

[2018-11-02 05:50] SongGithub commented on #1332
In particular, the code that leads to the problem is here
https://github.com/dexidp/dex/blob/218d671a96865df2a4cf7f310efb99b8bfc5a5e2/storage/kubernetes/storage.go#L149

could it check if CRDs already exist in the current namespace before going out to create CRDs?

[2018-11-02 07:43] ericchiang commented on #1332
I think this is a dup of #1308. We should probably just fix that.

[2018-11-02 09:55] SongGithub commented on #1332
Can I submit a PR for the fix please?

[2018-11-05 16:08] Sharma-Rajat commented on #1148
@likunbyl I am having this issue right now.. Running two replicas. How did you solve this?

[2018-11-06 03:10] SongGithub commented on #1308
hi @ernoaapa, this issue was addressed in PR #1333 by me, would you like to close this one?

I happened to have similar issue to yours that our team doesn't like to give DEX a clusterRole to create CRDs, providing this DEX instance is running from a client team namespace, and we have a DEX setup already in kube-system namespace with ClusterRole who has created required CRD types in all namespaces.

[2018-11-06 03:11] SongGithub commented on #1332
very happy to see the issue addressed by the above PR #1333, so I would like to close this issue.

[2018-11-06 03:11] #1332 closed

[2018-11-06 04:46] ernoaapa commented on #1308
Yeah, this can be closed. The #1333 solves my issue.

[2018-11-06 04:46] #1308 closed

[2018-11-06 11:04] SongGithub opened #1335 "Release v2.13.0"
It has been 25 days since Release v2.12.0.

Wondering could we schedule a new release at Release v2.13.0?

[2018-11-06 17:18] ericchiang commented on #1335
I'd like to do a little testing in our CI for #1333 first

[2018-11-07 05:48] ericchiang commented on #1335
Sorry, ended up testing it manually. The debug messages are a little verbose, but it works :)

https://github.com/dexidp/dex/releases/tag/v2.13.0

[2018-11-07 05:48] #1335 closed

[2018-11-07 05:58] ericchiang commented on #1335
Thanks for waiting. Tested the PR manually to verify it :)

This is now live. Will write the release notes tomorrow.

https://quay.io/repository/dexidp/dex?tab=tags
https://github.com/dexidp/dex/releases

[2018-11-09 12:40] rlagutinhub opened #1336 "kubernetes oidc via openldap+dex - invalid bearer token, invalid bearer token"
I can not configure oidc via ldap+dex authentication.
Authentication fails 401 and the following messages write to the kube-api log:
**authentication.go:62] Unable to authenticate the request due to an error: [invalid bearer token, [invalid bearer token, invalid bearer token]]**

### ENV
**OS (e.g. from /etc/os-release):**
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_

[2018-11-09 12:54] rlagutinhub commented on #1336
https://github.com/kubernetes/kubernetes/issues/70601

[2018-11-09 19:15] ericchiang commented on #1336
These two bug report seems to reference a few different dex instances:

[code]

Can you please do a single install and copy and paste (not screenshot) your:
* API server flags
* Dex config (without the LDAP connector)
* Example app config
* API server logs

I have a hunch you're using multiple dex instances/moving a dex instance around and caching is biting you.

[2018-11-10 23:57] rlagutinhub commented on #1336
**cat /etc/kubernetes/manifests/kube-apiserver.yaml** # API server flags

  - command:
    - kube-apiserver
    - --authorization-mode=Node,RBAC
    - --advertise-address=192.168.1.201
    - --allow-privileged=true
    - --audit-log-maxage=7
    - --audit-log-path=/var/log/kubernetes/audit/audit.log
    - --audit-policy-file=/etc/kubernetes/audit/audit.yaml
    - --client-ca-file=/etc/kubernetes/p

[2018-11-12 11:36] rlagutinhub commented on #1336
I modifyed Dex config **without the LDAP connector** (enabled staticPasswords). Additional i used Let's Encrypt certs instead self-sign certs.

kubectl -n auth get configmaps dex -o yaml

apiVersion: v1
data:
  config.yaml: |
    issuer: https://dex.dev.mta4.ru:32000

    storage:
      type: kubernetes
      config:
        inCluster: true

    web:
      https: 0.0.0.0:5556
      tlsCert: /etc/d

[2018-11-12 16:33] ppolicherla opened #1337 "Auth Redirect URL"
With my app I provide the following url:
http://localhost:3002/auth/auth?response_type=code id_token&client_id=example&pfidpadapterid=htmlform&scope=openid profile email groups tenants&redirect_uri=http://localhost:3002/admin/oidc&nonce=" nonce "& **state=/admin/#/users**

the state object is the important bit I am looking at. That is how I am handling the redirects, so when a page is hit and a us

[2018-11-12 17:51] srenatus commented on #1337
That's not a thing dex could do anything about:

Your client (browser) is requesting
[code]
so the final `/users` is understood as the URI part called [**"fragment"**](https://en.wikipedia.org/wiki/Fragment_identifier) and that part is never sent to the server. So dex will only see a request for
[code]
and handle it properly: it's present in your final redirect, but URL-encoded -- twice:`%252F` is

[2018-11-12 18:47] #1337 closed

[2018-11-13 10:51] srenatus commented on #1336
Looking at the code, it seems like you might be getting this error return,

https://github.com/kubernetes/apiserver/blob/e3d77264915da75023b171c7e370415e740851c7/pkg/authentication/request/bearertoken/bearertoken.go#L61-L64

which could be caused by either one of these:

https://github.com/kubernetes/apiserver/blob/2db45c53aaeb43dd7429fccf4f310c51941eb71e/plugin/pkg/authenticator/token/oidc/oidc.g

[2018-11-13 11:03] srenatus commented on #1323
👉 #1275 provides UpdateClient.

[2018-11-13 16:05] rlagutinhub commented on #1336
I added a prefix dex to dex url path,  but the error is repeated  **[invalid bearer token, [invalid bearer token, invalid bearer token]]**

`/example-app --issuer https://dex.dev.mta4.ru:32000/dex --listen http://login.dev.mta4.ru:5555 --redirect-uri http://login.dev.mta4.ru:5555/callback --issuer-root-ca /etc/kubernetes/pki/openid-ca.crt
2018/11/13 18:51:09 listening on http://login.dev.mta4.ru:5

[2018-11-13 17:03] srenatus commented on #1336
Well those requests don't have any bearer tokens, do they?

from your snippet:
[code]

[2018-11-14 09:21] srenatus commented on #1306
Looks like this can be cleaned up. Feel free to re-open.

[2018-11-14 09:21] #1306 closed

[2018-11-14 16:39] alexmt commented on #1263
later better than never: https://github.com/dexidp/dex/pull/1339 . @srenatus can you please take a look?

[2018-11-15 12:51] srenatus commented on #1281
@rendhalver Sorry I hadn't seen your message before -- Thank you for doing that, it's much appreciated! 😃 🎉

[2018-11-15 12:59] rlagutinhub commented on #1336
ok, let's step by step:

i get new id_token and refresh_token

![1](https://user-images.githubusercontent.com/30324030/48553599-17439b80-e8ed-11e8-8b07-bc8df8799c88.png)

I configure k8s client, where client - k8s master 192.168.1.201

i create new actual kubeconfig file:
[code]

**test 1**

`kubectl --kubeconfig=kubeconfig --user=admin@example.com get po -v=10`
[code]

result **not add bearer tok

[2018-11-15 14:19] rendhalver commented on #1281
You are welcome. :)
We are using it internally and have pushed up a few patches.

[2018-11-15 14:44] srenatus commented on #1281
@rendhalver It would perhaps be nice if this was referenced in the docs, or the top-level README? Couldn't make up my mind where the right place would be, but if you're so inclined, I'd be happy to merge that 😄

[2018-11-15 16:47] rlagutinhub commented on #1336
for information, i again fresh installed k8s cluster, and replaced flannel cni to weave net cni,
but this error is repeated [invalid bearer token, [invalid bearer token, invalid bearer token]]

[2018-11-15 16:57] srenatus commented on #1336
@rlagutinhub since there's so many moving parts, have you tried getting this to work with [a static token file](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#static-token-file)? This could be a bit of a step in between of no auth and oidc, I suppose 🤔

[2018-11-15 17:11] vito opened #1341 "Postgres: forcing transactions to be serializable breaks concurrent login"
Hi! Really glad to see Dex coming back to life lately - props to those who have volunteered!

We've got a long-lived fork with a bunch of changes we'd like to PR back: https://github.com/concourse/dex

One change in our fork was to remove the Postgres serialization level, because it was causing failures in our integration tests.

Prior context: https://github.com/dexidp/dex/issues/628, https://git

[2018-11-15 17:11] rlagutinhub commented on #1336
do you want me additionally to test static-token-file https://kubernetes.io/docs/reference/access-authn-authz/authentication/#static-token-file? I understand correctly?

[2018-11-15 17:59] rlagutinhub commented on #1336
i deleted current oidc  configuration and after reboot, applied static token auth

`cat /etc/kubernetes/manifests/kube-apiserver.yaml` # only command flags
[code]

`cat /etc/kubernetes/static-token.csv`
[code]

`cat kube.config2` # kubeconfig file for static token access
[code]

`kubectl --kubeconfig=kube.config2 --user=user1 get po -v=9`
[code]

`kubectl --kubeconfig=kube.config2 --user=user2 get

[2018-11-15 18:07] rendhalver commented on #1281
Sounds like a good idea.
I will run up a PR. :)

[2018-11-16 07:03] rlagutinhub commented on #1336
really), after deleting backup this backup file /etc/kubernetes/manifests/kube-apiserver.yaml.orig
it works

[2018-11-16 07:06] #1336 closed

[2018-11-16 07:50] srenatus commented on #1336
🎊 Wohoo! I'm glad this has been resolved.

[2018-11-16 08:19] srenatus commented on #1341
A controlled retry doesn't seem like a bad fix. However, I agree that properly understanding what's going on here would be good. Maybe some other isolation level is what we want? Haven't dug into this yet... 🤔

[2018-11-19 14:28] gypsydiver opened #1347 "Gitlab connector should not require the api scope."
As of now, the Gitlab connector requires users to grant the `api` scope to configured applications in order to retrieve information that could be just as easily pulled using read only scopes (`read_user`, `openid`).

The `/oauth/userinfo` endpoint provides all group information needed.

Can provide PR for this.

Related: #1222
Solves: #1246

[2018-11-19 16:55] Sharma-Rajat opened #1348 "Question: How to use multiple connectors and static clients"
Is it possible to have a staticClient mapped to one connector? i know you can have multiple of both but how does one staticClient know to talk to what connector?

example:

StaticClientA --> LDAP
StaticClientB --> Azure

[2018-11-20 09:15] srenatus commented on #1348
I'm afraid that's impossible.

[2018-11-20 09:16] srenatus commented on #1347
Happy to take a PR there. ❤️  Could you please include some pointer to some current API docs?

[2018-11-20 11:17] srenatus commented on #1217
✨ cleaning this up, feel free to re-open 🎉

[2018-11-20 11:17] #1217 closed

[2018-11-20 11:18] srenatus commented on #1262
@enenum Is this still something you're interested in? Looks like a welcome documentation improvement. 😃

[2018-11-20 13:49] #1347 closed

[2018-11-20 14:02] #1348 closed

[2018-11-20 16:12] ericchiang commented on #1262
I think we probably want to update our Kubernetes examples.

[2018-11-20 16:17] ericchiang commented on #1225
@srenatus that sounds like a service account.

If you're using dex with kubernetes, it's already got that concept: https://kubernetes.io/docs/reference/access-authn-authz/service-accounts-admin/

Anything more would require a revocation UI. And given how bad our refresh revocation is, we probably want to tackle that first.

[2018-11-21 09:36] srenatus opened #1353 "LDAP: bring back connection pooling"
Looking at #309 and the current code for the LDAP connector, that pooling behaviour wasn't carried over to dex v2. I would think i is a reasonable feature though, isn't it?

[2018-11-21 09:37] srenatus commented on #390
#1343 made this obsolete. If someone wants to contribute another backend, that should include tests, and we might reopen this issue 😃

[2018-11-21 09:37] #390 closed

[2018-11-21 09:52] srenatus opened #1354 "storage/sql: unbounded postgresql client pool"
`storage/sql` is using `github.com/lib/pq` for its postgres backend. That will keep a connection pool, and open multiple connections if needed. When hammering the login endpoint, you'll eventually see `pq: sorry, too many clients already` errors.

**TODO**: Expose [`database/sql`'s `SetMaxOpenConns`](https://golang.org/pkg/database/sql/#DB.SetMaxOpenConns) via configuration.

ℹ️ **What is this for

[2018-11-21 10:09] srenatus opened #1355 "storage/sql/conformance: concurrent access tests fail for the wrong reason"
Seems like a bug introduced in #1342 -- **not all serialization failures are expected to go away on retry**.

Running postgres in a docker container, and our conformance tests in a different terminal,
[code]

this looks OK, but it's deceiving -- the postgres logs will have many lines like
[code]

which all are caused by *actual serialization failures* we care about. The tests will eventually fail,

[2018-11-21 13:45] OwenTuz commented on #1262
I'm happy to pick up some Kubernetes documentation improvements, if nobody else has anything in the pipeline? I've been working through these today and noticed a few things missing so was thinking of submitting my working examples and clarifying a few points.

[2018-11-21 13:46] srenatus commented on #1262
@OwenTuz That would be awesome! 🎈

[2018-11-21 16:53] cceckman commented on #1161
Maybe this just needs to be a  [documentation](https://github.com/dexidp/dex/blob/master/Documentation/kubernetes.md) update? It still refers to `ThirdPartyResources` rather than CRDs.

[2018-11-21 16:58] ericchiang commented on #1353
The code was really complicated and I felt that it didn't outweigh the benefits. If we have a use case that needs it, I'd be fine adding it back in.

[2018-11-22 03:42] vito commented on #1355
@srenatus Hmm, to me those log lines are expected - the server logs them and then the client retries once the server returns the error code. I don't think there's any avoiding that even when the errors are handled (it's up to the server's log level).

Maybe the connection is left around because the `tx` isn't rolled back in the error paths?:

https://github.com/dexidp/dex/blob/5f054fcf2e1aac5278a9

[2018-11-22 08:16] srenatus commented on #1355
Hmm. It's not about the logs --  This is what I think is happening: We're retrying **any** serialization failures, including the ones *that are genuine*.

There's tests ensuring that you cannot update the same auth request _twice_, and this feature was provided by using transactions, and _returning their failure_. **Now**, we're retrying every serialization failure indefinitely, even the one that

[2018-11-22 11:35] srenatus commented on #1353
Well, I can't tell, really. I've come across one issue where this could have helped (new LDAP connections randomly failing); but it's not the obvious only solution to that.

Good to know that it wasn't forgotten but excluded for a reason 👍  I'll close this.

[2018-11-22 11:35] #1353 closed

[2018-11-26 10:23] pwhittlesea opened #1360 "Help authenticating with Salesforce"
[code]

I am trying to get dex to authenticate with the Salesforce which is advertised in the README.

I have followed the getting started guide and have the following configuration:
[code]

in addition to configuring the OIDC connector I have had to reconfigure the IPs to be localhost instead of 127.0.0.1 due to restrictions on redirect URLs in Salseforce.

When authenticating I get past the page

[2018-11-26 12:07] OwenTuz opened #1361 "[LDAP connector] Add option to bind as user when performing group search"
This is a feature request. I'm happy to have a go at implementing it, but wanted to raise it and see if people consider the design to be reasonable.

#### Suggestion

At the moment, the LDAP flow looks like this:

- Bind as BindDN, or anonymous bind if neither are provided
- Search for user
- Attempt to bind as user to confirm password is correct
- If groups scope is enabled, bind as one of (BindD

[2018-11-26 12:08] srenatus commented on #1190
@whereisaaron I guess @OwenTuz's fine little change does the trick here, what do you think? (Optimistically, I'm closing this issue. Feel free to re-open.)

[2018-11-26 12:08] #1190 closed

[2018-11-26 13:19] OwenTuz commented on #1360
This sounds similar to something I encountered when using LDAP with the example-app.

In my case, I had to stop the example-app appending "audience:server:client_id:<some_value>" to the list of scope parameters - line 238 here:

https://github.com/dexidp/dex/blob/master/cmd/example-app/main.go#L238

Could you try commenting lines 233-239 in that file and running 'make' to rebuild the example app,

[2018-11-26 15:43] ericchiang commented on #1360
[code]

I think we're somehow passing the "scope" parameter to the token endpoint? Can you include the redirects sending you from dex to salesforce that caused the error? (In chrome open developer tools, select the "Network" tab, and check the button "Preserve log")

[2018-11-26 15:45] ericchiang commented on #1361
If we do this we can't support refresh tokens. I'm okay with that, but it needs to be called out in the docs :)

[2018-11-26 15:51] OwenTuz commented on #1361
Interesting, thanks - wasn't aware of that aspect, I'll take a look into it.

[2018-11-26 15:57] ericchiang commented on #1361
If you'd still like to work on this, instead of adding an option, we could just make the service account username/password optional. When you don't provide one, the returned connector just wouldn't implement the RefreshConnector interface:
* https://godoc.org/github.com/dexidp/dex/connector#RefreshConnector

[2018-11-26 16:01] OwenTuz commented on #1361
That makes sense. Overall I'm tempted to close this, honestly - I'm not dead familiar with OIDC and the refresh token element didn't even occur to me, so I'm fine with not doing this if there's a solid reason.

Happy to work on this if it would be useful to anyone besides myself, but otherwise it risks just being one of those things that breaks and confuses you unless you read the documentation ca

[2018-11-26 16:08] #1361 closed

[2018-11-26 17:18] whereisaaron commented on #1190
It all helps @srenatus! I don't think 'DN' ought to be case specific when LDAP normally isn't, but so long as you know this connector behavior you can work with it.

[2018-11-26 17:50] pwhittlesea commented on #1360
@OwenTuz Commenting out that line did not appear to help or change the response message.

@ericchiang My browser goes to `http://localhost:5556/dex/auth/salesforce?req=<req>` and the redirect to Salesforce is a `302 Found` with a location of:
[code]

I can upload the full log but it will take me some time to redact secrets.

[2018-11-27 09:40] pwhittlesea commented on #1360
There is an [sandbox application](https://openidconnect.herokuapp.com/) that allows you to use your clientId and clientSecret to walk through the authentication process.

This application makes the following request

[code]

The failure is odd as [the documentation](https://help.salesforce.com/articleView?id=remoteaccess_oauth_web_server_flow.htm&type=5) shows that state is an allowed parameter in

[2018-11-27 11:50] srenatus opened #1362 "Release v2.14.0"
It's been a while, and some good stuff went in, see [here](https://github.com/dexidp/dex/compare/v2.13.0...master).

Besides coming up with some release notes, I think the following stands out a little this time: we've got what I'd consider a blocking issue, and a somewhat backwards-incompatible change (or at least _action needed_) in a connector:

### Blockers

- I think at the very least we shou

[2018-11-27 13:12] vito commented on #1362
I'll take a look at the serializable stuff today - back from vacation now! I have a theory as to what's going on.

[2018-11-27 13:14] srenatus commented on #1362
@vito please don't feel pressured. I've just opened this issue to have something tracking our progress, and to share awareness for the various things. 😄

[2018-11-27 13:17] vito commented on #1362
@srenatus No worries! I'd like to get to the bottom of it soon mysef.

[2018-11-30 22:41] svasan commented on #1230
I have a similar issue . In my case, each tenant is going to be a dynamically created client for Dex. Here it would help to be able to connect a particular client to a particular connector. So based on the clientId, dex picks the appropriate connector to use for authentication. This is similar to issue [1026](https://github.com/dexidp/dex/pull/1026) and [1084](https://github.com/dexidp/dex/pull/10

[2018-12-06 08:12] #1354 closed

[2018-12-10 12:00] srenatus commented on #1355
Discussion in #1356; this issue is no longer accurate.

[2018-12-10 12:00] #1355 closed

[2018-12-11 06:57] manhdaovan opened #1371 "Add more interceptor for verifying user when receiving identity from upstream OIDC(s)"
Scenario:

I have a external service, call it E. A Dex server, and an internal service, call it I.
When users click the authentication link with dex server from E, the browser redirects users to dex server, and users can choose authentication with upstream OIDC(s) (Google, for example)
After users authenticated successfully with their Google account, the browser redirects users back to Dex server

[2018-12-11 07:59] ericchiang commented on #1371
Can your client that talks to dex do this instead? Dex doesn't have a very robust plugin system today.

[2018-12-11 13:00] manhdaovan commented on #1371
Thank you for your reply.

Because the external service E (meaning "client" in your comment) is not able to talk to internal service I, so i dont think it works.

Besides that, it is common with the above flow, so if you agree with this issue, I will implement this function as a separate part without relating to oidc part.

I'm thinking about this steps:

- Define internal service I configurations

[2018-12-11 16:24] vito commented on #1341
@srenatus As the associated PR was reverted, would you mind re-opening this? A lot of the important discussion is already present in comments for https://github.com/dexidp/dex/pull/1356 but this issue feels better to reference for PRs since it's centred around the original use case.

[2018-12-12 07:42] srenatus commented on #1292
@mxey `help wanted` or not, exposing that as a configurable seems like a welcome PR to me. 😃

[2018-12-13 18:17] ericchiang commented on #1292
I bet there's a way we can get away from storing state until we know a user's authenticated by using a cookie. The naive way would be to serialize the AuthRequest, sign it using dex's signing keys, and shoving it in the user's session:

https://godoc.org/github.com/coreos/dex/storage#AuthRequest

Then only persist the AuthRequest once we get a valid response from the backend (e.g. the LDAP server)

[2018-12-16 11:40] srenatus commented on #1292
One thing to consider here is that cookies are _per browser_, not _per tab_. With the current way of redirecting with a `req=..` parameter, you can have to concurrent login flows in one browser, using cookies, this could become more complicated.

As an alternative, we might be able to pass the authreq as a signed JWT instead -- so it wouldn't be `?req=auth_req_id` but `?req=auth_req_as_jwt`. We wo

[2018-12-17 01:04] soggiest commented on #1362
@srenatus any help needed to drive dex to a new release? Is #1356 the only blocker?

[2018-12-17 06:56] srenatus commented on #1362
@soggiest thanks for reaching out!

As it stands, we're in a place where our first attempt at fixing #1341 was reverted, and a next attempt (or a stepping stone) is in the works in #1370.

That said, what we have in master _right now_ is no worse than what we have lived with for a long time (as it's not really changed), so I could see us cutting a release now, and continue working on the SQL concu

[2018-12-17 07:03] soggiest commented on #1362
@srenatus I'm fine with using what's in master. I'm a huge proponent of Dex and have used it for various clusters with great success and want to give back to the project however I can.

[2018-12-17 07:03] soggiest commented on #1362
@srenatus I'm fine with using what's in master. I'm a huge proponent of Dex and have used it for various clusters with great success and want to give back to the project however I can.

[2018-12-17 07:06] srenatus commented on #1341
@vito A thing I've been wondering about: does the fix change proposed in #1370 affect your test outcomes? Since I think we've established that the serializability issues were _not genuine_ (they've come up with rows that were not overlapping, i.e., had different IDs), the row-locking strategy might already have helped here.

[2018-12-17 12:14] brondum commented on #947
@tuwid did you ever find a solution when using Azure ?

[2018-12-17 14:10] brondum opened #1375 "OIDC Azure invalid client secret"
Hi.

I am hitting my head against the wall with this issue, hope you have some insight.
I keep getting the error:

[code]

I have tried with different secrets (created new ones). With them as env vars, i have tried url encoded them, i have tried in single quotes and in double quotes, and without any quotes at all.

My config is as follows:
[code]

Any insights in what i am doing wrong?

[2018-12-18 09:14] mxey commented on #1292
I would expect the application you are logging in to with OIDC to be using session cookies anyway.

[2018-12-18 09:21] srenatus commented on #1292
@mxey indeed -- we do the same. But I'm a little uneasy with imposing this on everyone...

On a related note, I don't think my previous proposal (JWT authreq) makes the need for rate limiting go away: right now, unauthenticated requests cause database entries; with the proposal, they'd cause some calculations (checksums for the JWT signatures). So, it's still worth limiting the impact of what an u

[2018-12-18 09:41] srenatus commented on #1375
Last time I've played with Azure, there were two ways to create clients, and I had picked the wrong one.... I can't remember exactly, but I think this had to do with Azure v1 vs v2? https://docs.microsoft.com/en-us/azure/active-directory/develop/azure-ad-endpoint-comparison

HTH :)

[2018-12-18 10:13] brondum commented on #1375
Solved it bu creating a new App Registration in Azure.
Never really figured out what was wrong, i have the same permissions and endpoints as the old one. both v2

[2018-12-18 10:13] #1375 closed

[2018-12-18 14:12] melosalz opened #1376 "userInfoURL for dex"
Hi! I am trying to integrate nodejs with dex. What is the userInfoURL for dex?
I got the authorizationURL and tokenURL for dex as follow:
[code]

[2018-12-19 10:50] srenatus commented on #1376
There's no userinfo endpoint in dex right now. However, it's come up a few times, and there's a couple of open PRs, too: https://github.com/dexidp/dex/search?q=userinfo&type=Issues.

@melosalz Does this resolve the question? (Is it OK to close this?)

[2018-12-19 14:20] melosalz commented on #1376
@srenatus Thank you very much!

[2018-12-19 14:20] #1376 closed

[2018-12-28 07:31] #1130 closed

[2019-01-03 17:23] kfox1111 opened #1378 "opa support"
It would be very interesting if dex could pass off data to opa (https://www.openpolicyagent.org/docs/#what-is-policy-enablement) before signing the tokens. This would allow custom policy to be applied by sites such as blocking users with particular groups or patch groups from the upstream provider before dex relays them.

It takes in json and returns json, so it should be pretty easy to add suppor

[2019-01-03 17:23] kfox1111 opened #1379 "Discussion: Join CNCF?"
Is dex interested in joining the cncf?

[2019-01-05 15:57] srenatus commented on #1378
Bringing together two of my favorite projects -- that sure is tempting 😄

However, I'm afraid there's currently no place in Dex to plug something like this in: if there was a middleware structure for _"do stuff to the user record after authenticating with the external IdP"_, having an OPA implementation (that either uses it as a library, or calls out to OPA standalone) would make a lot of sense. #

[2019-01-06 01:35] kfox1111 commented on #1378
Yeah, looks very related to #1371. though that issue is much more generic. Having a plugin system would be great, but might take more work.

If all the plugin api did was http post the data as a json doc and get back the doc with any changes, that might be enough to plug it into opa and other custom services as well?

[2019-01-07 07:40] srenatus commented on #1379
I, for one, think I'd like that, but I'm work-shy when it comes to pushing this forward 😅

[2019-01-08 15:28] logicfox opened #1381 "Configure Dex with CRDs"
I haven't found any examples of configuring Connectors and OAuth2Clients via CRDs. It would be useful to know how to do this, or add missing support, as this would enable users of an RBAC enabled cluster to configure Dex simply with CRDs.

For instance, I tried creating an OIDC connector based on [this struct](https://github.com/dexidp/dex/blob/master/storage/kubernetes/types.go#L660-L672)
[code]

[2019-01-08 18:15] rithujohn191 commented on #1379
Yes, we have talked about this in the past. Definitely a great option. But have quite a bit to discuss and iron out before we do.

[2019-01-08 18:38] kfox1111 commented on #1379
Its generally good to do as much community growing as early as possible. I can help reach out to the cncf if you are interested.

[2019-01-09 01:28] darwin67 opened #1382 "Question: Is secret expansion suppose to work in connectors?"
Hi,

I'm currently playing around with Dex and am thinking of using it as the cluster authenticator for Kubernetes.

Referencing the example `dex.yaml`, using
- `$GITHUB_CLIENT_ID`
- `$GITHUB_CLIENT_SECRET`

for the github connector
https://github.com/dexidp/dex/blob/master/examples/k8s/dex.yaml#L72-L73

will always crash the pod with the following error.
[code]

Hard coding the credentials will g

[2019-01-09 07:18] srenatus commented on #1362
So, reconsidering this after a month has passed (sorry for the delay, folks!) -- since the keystone connector is _this close_ (#1374), I'd wait for that PR to land. Having made little process on the SQL transaction front, we're not worse off than before right now; so, we can have a release and keep on pushing that issue.

[2019-01-09 07:39] srenatus commented on #1381
Yup, looks like something where some more docs would be helpful, indeed. There's [docs](https://github.com/dexidp/dex/blob/master/Documentation/storage.md#kubernetes-custom-resource-definitions-crds), but they could surely be expanded with some config examples.

Does looking at [the helm chart](https://github.com/helm/charts/tree/master/stable/dex) help in any way? I'm sorry I've never messed with

[2019-01-09 08:01] srenatus commented on #1382
ℹ️ [This search](https://github.com/dexidp/dex/search?p=2&q=secret+connector&type=Issues) yields #1330 with a link to #1099. That last issue outlines how we'd solve the brittle stuff that goes on right now. Closing this in favor of that other issue. Help would of course be welcome 😃

[2019-01-09 08:07] darwin67 commented on #1382
Yes, https://github.com/dexidp/dex/issues/1330 just reinforced what I'm experiencing right now.

I'm happy to help out, just not right now. :fox_face:

It'll be great if you could still answer my initial question of what's the recommended way of putting credentials in the connectors since this functionality is likely broken for the time being?

[2019-01-09 08:13] srenatus commented on #1382
Sorry I was a bit fast on this one 😅 I'd say the recommended way is still what you've tried, with much applied care -- you might have to escape stuff in some way, it's hard to tell without knowing your secret.

There's no newline in your env vars, by any chance?

[2019-01-09 10:47] kostyrev commented on #1362
Waiting for #1347... Sigh

[2019-01-09 16:06] srenatus commented on #1382
Nope, I bet it's an `"` or `'`. Try escaping them in your env variable.

[2019-01-09 17:52] darwin67 commented on #1382
@srenatus
I'm sorry I can't share them since they are credentials.

There are no special characters, simpy characters for `[0-9a-zA-Z]` in the env var but here's what it looks like when I run `printenv` in that container

[code]

Is this the new line that it's complaining about?

[2019-01-09 18:00] darwin67 commented on #1382
Ah okay, that was the issue :man_facepalming:

The `\n` was also encoded when I ran
[code]
so if I make sure I do it without echo and the plain string, it will work.

Thank you for helping! Closing this now.

[2019-01-09 18:00] #1382 closed

[2019-01-09 21:32] srenatus commented on #1382
No worries 😃 Glad you've gotten past this 🎉

[2019-01-11 07:30] #16 closed, assigned to nobody

[2019-01-11 07:35] srenatus commented on #66
#1371 seems to be a front page issue right now (😉) with a rather big overlap. 🧹 GCing this one, please bear with me.

[2019-01-11 07:35] #66 closed

[2019-01-11 07:40] srenatus commented on #1239
@hrzbrg I suppose you haven't had a chance to dig into this, have you? 😃

[2019-01-11 07:43] srenatus commented on #990
@scotthew1 Sorry I had missed that last question for a while... uhm, I've added tags 😅 ...Help welcome! I still think it would be a cool enhancement, and not blowing up Dex' focus too much.

[2019-01-11 07:46] srenatus commented on #1216
@nabadger There's some discussion about that `github.com/kubernetes/charts` chart in #1281. (Want to join forces, by any chance?)

I think both charts would warrant being included in the README, for easier discovery 🤔

[2019-01-11 07:47] srenatus commented on #32
@gcavalcante8808 nope, contributions welcome 😃

[2019-01-11 15:17] srenatus commented on #1362
[:tada:](https://github.com/dexidp/dex/releases/tag/v2.14.0)

[2019-01-11 15:17] #1362 closed

[2019-01-11 20:02] mrwulf commented on #1381
@logicfox, I agree that it would be really convenient to be able to define clients with CRDs, but this doesn't currently work -- as the [documentation](https://github.com/dexidp/dex/blob/master/Documentation/storage.md#kubernetes-custom-resource-definitions-crds) states, "Admins should not interact with these resources directly, except while debugging. These resources are only designed to store st

[2019-01-11 20:55] navulirs opened #1383 "CVEs identified when scanning dex's container image"
We scanned version 2.10 and identified these CVEs. Would like to know if these vulnerabilities are addressed in the later versions (I see current release stands at 2.14

Found HIGH security and operations risks on these:
BusyBox	1.24.2	GNU General Public License v2.0 only	HIGH	HIGH	MEDIUM	http://busybox.net/	"BusyBox combines tiny versions of many common UNIX utilities into a single small executab

[2019-01-11 21:18] ericchiang commented on #1383
dex only links against c libraries for sqlite3, so these shouldn't practically impact it. We're also tracking latest alpine, so until these are fixed upstream I think there's anything practical to do on our end.

[2019-01-11 21:19] ericchiang commented on #1381
Yes, this is unsupported.

[2019-01-11 21:21] ericchiang commented on #1383
Closing since Quay doesn't detect any vulnerabilities in the latest versions of dex https://quay.io/repository/dexidp/dex?tag=latest&tab=tags

[2019-01-11 21:21] #1383 closed

[2019-01-11 22:04] ericchiang commented on #1371
And at this timing, I want to make more one request to internal service I to check user with given UserID is existing in internal service I or not.

Can you re-iterate why this check can't be performed by dex's client? Say there's some setup like:

[code]

The "client" can perform that check already.

[2019-01-11 22:10] ericchiang commented on #1378
Since dex is auth-n and opa is auth-z, I'd rather add more data to the token and have whatever's consuming the tokens continue to enforce the policy. (See https://github.com/dexidp/dex/issues/1371#issuecomment-453671831)

However since OPA is technically just a standard for a policy language, it seems fine to include it as part of dex's configuration if we can figure out the right place for that.

[2019-01-12 10:01] srenatus commented on #1378
I don't think @kfox1111 wanted to challenge that -- I would side with you on this, Dex shouldn't do fancy authz-related things. This proposal would only be about processing what goes into Dex's JWT ID token claims (and perhaps more specifically, the groups). And for that bit, Rego (OPA's policy language) would be a good fit.

I suppose the question is _Do we want a generic POST to some service, an

[2019-01-12 11:20] fishioon commented on #1371
The "client" can perform that check. One dex in enterprise, and more clients use the dex for auth.
so every client need check.
Sometimes the client want dex return 'enterprise uid', not 'Google uid, GitHub uid', even though use 'Google or GitHub' login. So we need after got connector identity, have a place to call a interceptor interface (http or grpc).

[2019-01-13 12:43] manhdaovan commented on #1371
Thank you for both of your replies.

In my case, it's set up like:

[code]

Unfortunately, the "client" (an external service) cannot request to "user" (an internal service) to perform a check.

Let say an example:

My customer service implements a Dex client, that authorize a user with my Dex server with Google account info.
After Google redirects to my Dex server with the user identity, my Dex se

[2019-01-14 02:31] multi-io opened #1384 "GC frequency not configurable"
Declared here https://github.com/dexidp/dex/blob/f1581ff873a200cf9dd01bf261e056267d57b991/server/server.go#L76, deceptively commented "DEFAULTS to 5 minutes", but turns out the field isn't initialized from user-configurable settings here https://github.com/dexidp/dex/blob/f1581ff873a200cf9dd01bf261e056267d57b991/cmd/dex/serve.go#L218-L228 (unless I'm missing something).

[2019-01-14 07:17] srenatus commented on #1384
I think the default comes in here: https://github.com/dexidp/dex/blob/f1581ff873a200cf9dd01bf261e056267d57b991/server/server.go#L293

But if you'd like this to be configurable, feel free to put up a PR 😃

[2019-01-14 11:59] mtl-wgtwo opened #1385 "Refresh token changes to work with IFTTT"
Hi folks,

This is a great project, so thanks for all the effort in this.

Recently I've tried to create a small project in IFTTT that would trigger an authentication with dex running locally in our cluster.  I found two stumbling blocks to this:

First, IFTTT passes the access_token, not the id_token to our service endpoint.  I found that patching in https://github.com/dexidp/dex/pull/1315 worked

[2019-01-14 17:04] kfox1111 commented on #1378
I think the answer depends partially on how much time we want to put into an implementation. Making it work with OPA's api is pretty trivial. Coming up with a very generic api might not be. I'd vote for now to just get OPA working and if something else shows up, and doesn't want to follow OPA's api, then we re-evaluate?

[2019-01-15 09:01] srenatus commented on #1385
Well, let's get a userinfo endpoint then 😄 It's really come up a lot, and I don't see why we shouldn't do it. I'll try to get a review done soonish... 😅

Do you still have the tabs open for the previous discussion here? I think this is something worth considering... after all, having only one shot for refresh-token exchange is a bit of a risk, indeed.

[2019-01-15 21:04] tuwid commented on #947
@brondum nope :/

[2019-01-18 07:52] hrzbrg commented on #1239
Sorry, didn't have a chance to follow up on this. We did not go forward with Postgres and settled with CRDs as storage.

[2019-01-21 12:48] rendhalver commented on #1281
@jimangel if we can get you into the maintainers list and the OWNERS file that would be awesome.
I will see what we need to do to get that setup.

[2019-01-21 14:21] ZigmunD opened #1386 "Healthcheck via /healthz endpoint is write-intensive operation for storage backend"
Hi there.

Our dex installation - 3 replicas in 3 k8s-clusters (9 replicas overall) with etcd-cluster as shared storage.
Each replica checked for health with k8s deployments healthcheck via /healthz endpoint.
Also we have few out-of-k8s loadbalancers who checks every k8s service via every k8s-node using same endpoints.

I noticed high memory and disk usage on etcd nodes and after some investigatio

[2019-01-21 17:33] srenatus commented on #1386
What would you propose there? _Not_ using storage in a health check will _not_ let you assume that "passing health check" actually means "working system". 🤔

[2019-01-21 17:35] srenatus commented on #1281
💭 I think we still haven't linked the helm chart from anywhere... I guess another way to do that could be to create a small document outlining how to use it -- this could then also link to the definition. Alternatively, just a link in the top-level README might already help discoverability... 🤔

[2019-01-21 17:52] jimangel commented on #1281
@srenatus are you opposed to the k8s example docs leveraging `helm template` (using the helm binary as the template generator but no need for a fully installed helm [dependent w/ tiller]) as the "dex / k8s" preferred install method? I would be happy to rewrite them.

I say `helm template` mainly due to the fact the community is removing tiller in [helm v3](https://github.com/helm/community/blob/ma

[2019-01-21 17:58] srenatus commented on #1281
@jimangel I'm not really anywhere near that community. If you say that's the better way (and since your argument regarding helm v3 is making a lot of sense), I suppose that's the right move 👍

[2019-01-22 08:08] srenatus commented on #1386
💭 It just occurred to me -- how is the health check, which kind of simulates a login, different from an actual login? Don't you have issues with multiple concurrent login attempts, too, then? Or would you assume that they never happen in the same bursts as your health checks?

Also, can this be mitigated by running the health checks less often than _every second_? That strikes me as a little on th

[2019-01-22 10:19] ghatwala opened #1388 "Adding power support for image(dexidp/dex) at quay.io"
Hi All,

I had a hard-requirement of using this image here - https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml for power(ppc64le) architecture. However i have noticed that images available here - https://quay.io/repository/dexidp/dex?tab=tags have support for "amd64" only as seen below

[code]
Was able to build this image locally on a power machine as seen below
[cod

[2019-01-22 15:23] ZigmunD commented on #1386
It looks like continuously load testing. In our case we will have sum of loads from healthchecks + users.

I see here 2 problems:
1. Two writes per one healthcheck. Abstract example: k8s deployment, few replicas, healthcheck every 5s. Scale it to handreds of replicas and kill etcd.
2. In addition to previous point - synchronous healthcheck. Without rate limiter in front of the dex press f5 to kill

[2019-01-22 15:59] srenatus commented on #1388
I have no idea how to do that. If there's a switch somewhere, I'm happy to toggle it 😄 @ghatwala do you know what to do? Could you find out? We might have to change our `Dockerfile`...? 🤔

[2019-01-23 08:51] srenatus commented on #1386
You can't scale etcd in the process, to accommodate the extra needs arising from more dex replicas?

That's right, and an important point for other storage backends, too. There's been a bit of a discussion here: #1292.

I'm happy to review any small additions that would unblock you there -- just put them forward. I can't promise anything, but having a less-write-intensive healthz endpoint; or havi

[2019-01-23 22:24] ericchiang commented on #1388
Other images use a suffix for their images https://quay.io/repository/coreos/flannel?tab=tags

Happy to see changes to the Makefile to support building different architectures. However, if we're going to publish images for other architectures under "quay.io/dexidp" I'd like a builder to ensure we're actually testing those code paths.

[2019-01-24 07:54] srenatus commented on #1388
💯 -- I guess we're looking for a co-maintainer focusing on the _power_ arch then... I don't have access (or time to get access) to that.

[2019-01-24 08:38] ghatwala commented on #1388
@srenatus and @ericchiang  - i did make an attempt to add your travis builds on power by using below
`os:
  - linux
- linux-ppc64le`

https://travis-ci.org/ghatwala/dex/builds/483752059. however this fails with below curl command

` until curl --fail http://localhost:5000/v3; do` as present in your .travis.yml.

The issue found is due  to the docker images mentioned in that *.yml mainly - openio/o

[2019-01-24 14:40] srenatus commented on #1388
@ghatwala I suppose you could try expanding `.travis.yml` to use a build matrix, [as outlined here](https://docs.travis-ci.com/user/multi-os/#example-multi-os-build-matrix):
[code]

So, there's _no keystone image_, am I understanding that correctly? 🤔

[2019-01-24 16:06] ghatwala commented on #1388
@srenatus - yeah also as seen there are no ppc64le tags here - https://hub.docker.com/r/openio/openstack-keystone/tags . Also as in the github repo for this image - https://github.com/open-io/dockerfiles/tree/master/openstack-keystone .
I checked for centos:7 base image , on a power machine .

$ yum search centos-release-openstack
centos-release-openstack-ocata.noarch : OpenStack from the CentOS C

[2019-01-25 10:49] srenatus commented on #1388
Looks like we could either
- not test keystone (on travis) with ppc64le
- build out own keystone images for amd64 and ppc64le
- ask the maintainer of the open-io dockerfile to push a ppc64le image

@ghatwala does that sound accurate? Or did I misunderstand the situation? Also, what would you propose? 😃

[2019-01-25 10:57] ghatwala commented on #1388
@srenatus - this looks best to me -

- as don't want to keep a dependency with keystone community . as regards to creating images which again be time consuming , so this will be the quickest/easiest solution.

Now coming to my original query - with travis support added for ppc64le in this repo using above , can we then think of making "dex" docker image a multi-arch one at quay.io ?

[2019-01-25 11:05] srenatus commented on #1388
You're going to use this, right? So, can I ask for your help in testing the docker image before we do a release? 😃

[2019-01-25 12:01] ghatwala commented on #1388
Sure  , i can do the validation of the image

[2019-01-25 15:33] jimangel commented on #1281
@srenatus I'm a little swamped atm with k8s release team stuff, but I have added a long term TODO for me to overhaul the dex / k8s docs (and validate the helm side of the house). Looking forward to it! Feel free to ping me for status at any time!

Also, I feel like this issue was semi-hijacked... Do we have the criteria defined for repo write access? Can this issue be closed?

[2019-01-25 15:39] srenatus commented on #1281
@jimangel thanks, I appreciate the heads-up and the offer. 😃

I'm afraid we've not made much progress on the issue at hand, though. 😅

[2019-01-25 21:30] ericchiang opened #1391 "Grant repo write permissions to @joelspeed"
Joel is an engineer at Pusher, who've been using dex since 2017. He's very familiar with the repo and using dex with Kubernetes:

https://thenewstack.io/kubernetes-single-sign-one-less-identity/

For the sake of involving Pusher in dex's development, I propose giving @joelspeed write access to this repo.

We'll hold off on quay access because of a lack of two party sign off (users can unilaterally

[2019-01-25 21:50] ericchiang commented on #1281
If a person or their company uses dex, has demonstrate an understanding of this project (either by submitting PRs to dex or related projects such as Helm charts), and the ability to work productively with the community, that person can have write access to this repo. We want to be liberal with this privilege and enable companies using dex to have a voice in its development.

The first 10 PRs by ne

[2019-01-25 21:50] #1281 closed

[2019-01-26 09:06] srenatus commented on #1391
OK let's do that. Welcome, @JoelSpeed 🎉

[2019-01-27 10:16] srenatus commented on #1391
Done 🎉
<img width="674" alt="image" src="https://user-images.githubusercontent.com/870638/51799712-eb199480-2224-11e9-9ad8-80ff97a2ba8c.png">

[2019-01-27 10:16] #1391 closed

[2019-01-28 11:41] briantopping opened #1393 "Dex Operator for Kubernetes"
Operator all the things! It seems like Dex would be a perfect fit for operators.

My guess there are too many other priorities and too few resources. I just thought I would leave this here. After spending the day getting my head around another Dex operator, I realize it is very deeply focused on their internal needs. And I presume they'd rather be using an upstream operator anyway.

Thanks for a g

[2019-01-28 12:14] ericchiang commented on #1393
Thanks! You're right that there's already a Dex operator under https://github.com/jenkins-x/sso-operator.

Going to close this since we don't have the bandwidth to maintain another project in addition to Dex. If you'd like for us to link to an operator in the readme though, feel free to send a PR :)

[2019-01-28 12:14] #1393 closed

[2019-01-28 18:13] briantopping commented on #1393
Hi Eric, thanks for the feedback. If you give that operator a try, you’ll see why I filed this.

[2019-01-28 18:41] ericchiang commented on #1393
I'd file issues with that operator then. Or feel free to build your own. As stated, we don't have the bandwidth here to maintain one.

[2019-01-28 19:00] briantopping commented on #1393
Sure! I didn't ask anyone to do anything. Filing an issue sometimes helps shape long-term direction. I'm grateful this project exists and what everyone (including you) have done on it. Keeping ideas to oneself is even less of a contribution :-)

As for asking me to build one, I may do that. I have several operators that I am considering, doing "one more" may not be a big deal.

Cheers!

[2019-01-29 12:09] ghatwala commented on #1388
@srenatus - any updates on above , please ?

[2019-01-29 12:15] srenatus commented on #1388
@ghatwala Can you open a PR setting the stage for including ppc64le in our travis tests, please? I'll look into getting quay to work then...

[2019-02-04 13:04] srenatus commented on #1386
Just stumbled upon an old issue that _might_ be almost the same thing, at least when it comes to root causes: #1091

Also #853 seems like a more generic version of this issue.

[2019-02-04 16:38] ericchiang commented on #1386
Maybe instead of querying the backend every time somone hits /healthz, we could query the backend every 30s, then use that cached result to respond to /healthz?

[2019-02-04 17:56] ericchiang commented on #1386
sent #1397

[2019-02-05 02:14] ZigmunD commented on #1386
Thanks

[2019-02-05 02:16] #1386 closed

[2019-02-06 08:43] srenatus opened #1398 "Release v2.15.0"
Some nice changes [have happened since v2.14.0](https://github.com/dexidp/dex/compare/v2.14.0...master). Let's do a release!

@JoelSpeed: would you want to drive this one? I don't think it's too time sensitive, so don't feel rushed or anything. [This describes what to do](https://github.com/dexidp/dex/blob/master/Documentation/dev-releases.md#tagging-the-release), it's really just drafting a short

[2019-02-06 08:47] srenatus opened #1399 "background health check"
As noted here https://github.com/dexidp/dex/pull/1397#issuecomment-460852910, there's more clever approaches we could do. Right now, it'll run the health check every 15 seconds.

I suppose something like an exponential back-off (capped at some max duration) could make sense?

☝️ just a guess, all suggestions are welcome 😃

[2019-02-07 17:56] lstoll opened #1400 "Additional information for connector login method + additional claims"
We use some custom connectors with dex. This has been working fine, but we'd like to extend the functionality a bit. Specifically it would be nice to have the connector make access decisions based on the client id, and be able to return an identity with claims beyond the base set.

Currently this doesn't seem to be possible. In one experiment i've hacked around this by mounting all the handlers in

[2019-02-08 06:51] Kydybets opened #1401 "No Auth provider found for name "oidc""
After implementation of Dex, and get config after verification with AD,
I copy->paste this config into my ~./kube/config file replace contextsand try to login.

My config look like this
[code]
And get next message
[code]
After that, I decide to delete auth-provider level and everything starts working like it should be.

I am not sure does this is a bug.
Would be nice if someone can take a look of

[2019-02-08 09:00] lstoll commented on #1360
@pwhittlesea is this something you're still after? I ended up writing our own Salesforce connector, but that was ~6 months ago so I can't remember the exact issue. I could clean it up a bit and contribute it, or make the generic oidc connector work with it + document.

[2019-02-08 09:56] pwhittlesea commented on #1360
Apologies, I got called away to work on other things.
We ended up using Auth0 as a 'middle-man' for the authentication as we couldnt get dex working in the timeframe we had.

I will probably be looking to pick this back up in future but for now this is no longer something I can devote anything except spare time to.

Im more than happy for this issue to be closed if its not a priority.

[2019-02-08 10:09] srenatus commented on #1400
I wonder, would it also work for you if dex had a user-info endpoint that included this extra information? The most recent attempt to add one is #1315, I believe.

There clearly are many people  who _want more information_ 😉 Personally, I'm torn about putting it into claims vs the userinfo endpoint. Bigger ID tokens can easily cause trouble, so I'm leaning a bit towards the latter. What do you thi

[2019-02-08 11:03] lstoll commented on #1400
I think there's a place for both. Userinfo is a great place for more information about the _user_ - like photos, contact details, other user-scoped information.

For one of the cases that's driving this, we're experimenting with a connector that leans on webauthn. Webauthn allows us to request different levels of information about the user, like [presence](https://www.w3.org/TR/webauthn/#test-of-u

[2019-02-09 10:27] JoelSpeed commented on #1398
@srenatus Happy to have a go at doing this over this weekend, only thing is I won't be able to push a docker image to Quay, is it auto building for releases?

[2019-02-09 10:29] srenatus commented on #1398
Yeah it should be built automatically by quay from the pushed tag.

On Sat, 9 Feb 2019, 11:27 Joel Speed <notifications@github.com wrote:

[2019-02-09 20:04] JoelSpeed commented on #1398
@srenatus I've made the release, do you want to give it a check over?

[2019-02-09 21:12] srenatus commented on #1398
💯 Looks good. Thank you very much! 🎉 😃

[2019-02-09 21:12] #1398 closed

[2019-02-11 08:50] srenatus commented on #1400
😍 that sounds very interesting. Something that's not entirely clear to me, though -- you're intention is to have a _webauthn connector_ in dex, not to make dex satisfy the webauthn spec, correct?

💯 that's alright; thanks for clarifying. Token claims seem like the better approach indeed.

So what's on your mind, concretely, to be added? I'm just trying to get a grip on this. I think right now, the

[2019-02-12 07:10] Kydybets commented on #1401
After some investigation, I find next
if delete `auth-provider` line and `name: oidc` as well, this config starts working.
maybe I doing something wrong, would be nice if someone can explain.

[2019-02-12 08:56] srenatus commented on #1401
Could you explain a bit more what your setting is and what you're trying to achieve? I've got the feeling the recently added docs on [using kubelogin with Dex (and AD)](https://github.com/dexidp/dex/blob/master/Documentation/connectors/kubelogin-activedirectory.md) could be useful... 🤔

[2019-02-12 23:24] christianh814 commented on #1192
+1 I've been using mintel/dex-k8s-authenticator with great results

[2019-02-13 00:00] soggiest commented on #1399
I wouldn't mind taking this on, extending health check retries on subsequent successful attempt makes sense. That being said I propose capping the time limit to a value that makes sense (5 minutes is my initial thought).

[2019-02-13 08:33] srenatus commented on #1399
@soggiest great, thank you 😃 A five minutes cap seems reasonable, too. (💭 I guess it could be made configurable; but that doesn't have to go into the first iteration.)

[2019-02-13 10:15] danielwhatmuff opened #1403 "Question - is there a way to avoid re-authenticating to get new group claims?"
My setup:

I have a kube cluster configured to use dex which is using the Github connector and am using the [dex-k8s-authenticator](https://github.com/mintel/dex-k8s-authenticator) to login and configure kubectl. All works great.

I have two teams in my Github org - readonly and admins and have configured them in the relevant Github connector configuration and I've created two Kubernetes roles + r

[2019-02-13 11:27] danielwhatmuff commented on #1403
Solved myself... I set `expiry.idTokens: 10m` and observed kubectl doing the refresh after that interval as documented [here](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#option-1-oidc-authenticator).

[2019-02-13 11:28] danielwhatmuff commented on #1403
It retrieved a new refresh and ID token which decodes to show the updated groups.

[2019-02-13 11:28] danielwhatmuff commented on #1403
Feel free to close!

[2019-02-13 15:47] #1403 closed

[2019-02-13 19:23] soggiest commented on #1399
/assign @soggiest

[2019-02-15 14:43] houz42 opened #1404 "How to handle encrypted assertion in SAML authnResponse"
My internal IDP's authn response has only encrypted assertion. The saml connector does not handle it. Is there any way to tell my IDP to response unencrypted assertion with signature in my SP metadata or authn request?

By the way, I found some golang saml implementation supports more saml functionalities, including encrypted assertion, multiple assertions, and medata rotation. https://github.com/

[2019-02-15 17:25] framillien opened #1405 "Missing "email_verified" in OIDC claim"
Hello,

When an OIDC provider return claim with "email" but without "email_verified" field, this is assumed to be false by Dex, and newly generated claim is with "email_verified=false".

Some enterprise providers return claims without "email_verified", when they had no usage of emails verification in enrollement process. Like Okta, CloudFoundry, ...

When this field is missing, we need to assume i

[2019-02-15 17:47] ericchiang commented on #1405
Setting email_verified to false seems like the correct behavior in these cases. I realize it's incontinent, but being able to fake an email is a serious security issue, so I don't think it's appropriate to assume email_verified=True

[2019-02-15 17:49] ericchiang commented on #1404
We don't support encrypted assertions.

We've already had serious security issues with SAML, and the security industry as a whole generally agrees that it's not a good protocol. I'd prefer to see users move to more sane authentication mechanisms like OAuth2 based flows instead of expanding our SAML support or taking in new SAML code.

[2019-02-15 17:54] houz42 commented on #1404
Thanks for your reply, I may try other protocols.

[2019-02-15 17:54] #1404 closed

[2019-02-15 17:54] framillien commented on #1405
Hello, providers needing emails validation set this field. It's only missing if email validation has no meaning for this enrollement process (like employee enrollement). I link upper same discution in kubernetes connector (I assume they need a good security too ;) )

But yes, maybe it's better to add a config parameter to let choose by oidc provider ?

[2019-02-15 17:57] houz42 commented on #1404
By the way, how about document the above suggestion for other users?

[2019-02-15 18:01] obitech commented on #803
Not sure if it's still needed, but I've built one from source:
- Github: [obitech/dex-example-app](https://github.com/obitech/dex-example-app)
- Docker Hub: [obitech/dex-example-app](https://hub.docker.com/r/obitech/dex-example-app)

[2019-02-15 20:38] ericchiang commented on #1405
A InsecureSkipEmailVerified config option seems fine

[2019-02-16 18:33] framillien commented on #1405
I think more about changing default value rather than skipping it.

defaultEmailVerified={Value of email_verified if missing in OIDC claim}

?

[2019-02-17 08:17] cehoffman opened #1406 "Mishandling of OAuth2 basic auth due to old golang.org/x/oauth2"
The golang.org/x/oauth2 dependency was incorrectly handling basic auth encoding of client id and secret. This was fixed in https://github.com/golang/oauth2/commit/13449ad91cb26cb47661c1b080790392170385fd. This bug presents as some confusion among OIDC configurations because of the basic auth unsupported flag. It is framed as being a bug on the providers side when in reality is a bug in dex via the

[2019-02-18 22:13] rosskusler commented on #352
Increasingly we're being asked to add 2FA to dashboards and control panels of sensitive applications.  The requirement to use 2FA is typically required for every time the user logs in (or their token expires).  It would be really convenient to have dex handle this.

[2019-02-22 19:47] sagikazarmark commented on #979
There is one here: https://github.com/dexidp/dex/tree/master/connector/linkedin

[2019-02-22 20:02] #1173 closed

[2019-02-22 20:51] #868 closed

[2019-02-22 20:52] ericchiang commented on #979
Yep, closing :)

[2019-02-22 20:52] #979 closed

[2019-02-23 00:43] sagikazarmark commented on #1132
We recently published a post on our blog about the topic. Check it out, maybe it helps you: https://banzaicloud.com/blog/k8s-rbac/

[2019-02-25 10:46] ghatwala commented on #1388
@srenatus - PR raised - https://github.com/dexidp/dex/pull/1413.

[2019-02-26 06:20] ericchiang opened #1414 "Setup github actions for CI (was: Travis-CI alternatives)"
Travis-CI has been amazing for Dex, but was recently acquired and undergone layoffs.

https://twitter.com/carmatrocity/status/1098538649908666368

Consider switching to another CI system.

[2019-03-04 19:00] derberg commented on #1084
@ericchiang Hey, this one looks like a feature that many people from different projects look at. Any thoughts?

[2019-03-05 12:48] Kydybets commented on #1401
i have the same that described on this documentation
[code]
i put this into terminal and try to get pods from the cluster and get next error
`error: No Auth Provider found for name "oidc"`
once i edit config file by deleting lines `auth-provider:` and `name: oidc`
and do `export token=<my token>`
i can get info of pods without problem.
so maybe someone can point me on my error?

[2019-03-05 12:49] Kydybets commented on #1401
@srenatus can you please take a look?

[2019-03-05 22:49] ericchiang commented on #1405
This is now merged https://github.com/dexidp/dex/pull/1417

[2019-03-05 22:49] #1405 closed

[2019-03-06 22:42] newbasks opened #1418 "Dex : Unable to connect to the server: failed to refresh token: oauth2: cannot fetch token: 400 Bad Request Response: {"error":"invalid_request","error_description":"Refresh token is invalid or has already been claimed by another client."}"
I am looking to separate Dex token authentication from a group of k8s clusters, the clusters have OIDC client and Dex runs on a one of the clusters.
Currently testing this with only 2 clusters, one has dex running and controls authentication for both clusters. The authentication works well for the initial few hours, however, it starts failing for either one of them and I get below error later whil

[2019-03-08 17:18] rmb938 commented on #1192
@whereisaaron @rendhalver Any update on getting these charts merged into the official helm charts?

[2019-03-09 23:11] ericchiang commented on #1418
Dupe of #981.

A signal client/user combination can only have one refresh token out for a single dex instance. Your different clusters need to use different client IDs.

[2019-03-09 23:11] #1418 closed

[2019-03-12 12:14] raasoft commented on #543
Is there a clear example on how configure several connector at once?
Is it possible to configure many instances of the same type of connector (e.g. 3 LDAP connectors instead of just one?)

[2019-03-13 10:53] newbasks commented on #1418
Thanks, Eric, could you tell the maximum number of oidc client entries that can be used for a single dex instance. I am centralizing/separating dex authentication and need it to support <30 clusters. The OIDC client is Gangway but for uniqueness, the client ID and secret are different for every entry in dex config.

    staticClients:
    - id: K8s-Authentication
      redirectURIs:
      - 'https

[2019-03-13 10:55] newbasks commented on #981
Regarding 1418 had a concern,

Thanks, could you tell the maximum number of oidc client entries that can be used for a single dex instance. I am centralizing/separating dex authentication and need it to support <30 clusters. The OIDC client is Gangway but for uniqueness, the client ID and secret are different for every entry in dex config.

    staticClients:
    - id: K8s-Authentication
      red

[2019-03-18 16:02] r0fls commented on #1059
Did anyone find any good resources on this? I found https://thenewstack.io/single-sign-on-for-kubernetes-dashboard-experience/ but it doesn't give a ton of low level detail, and it seems that it results in oauth2-proxy and dex running on the same VM. Whereas I am looking for instructions for wiring them together on a containerized deploy.

[2019-03-19 17:39] rgazaryants opened #1419 "Support LDAP netgroups & nisNetgroupTriple values"
I tried various combinations for searching nisNetgroup and nisNetgroupTriple to get group membership without luck. Don't think it's supported.

In our case, it would be something like:
[code]

But nisNetgroupTriple entries look as such: `(,uid,)`

[2019-03-19 18:35] mvoelske opened #1420 "Gitlab connector still returns groups that user has left"
It seems that the gitlab connector doesn't notice when users leave groups in gitlab, and keeps including the groups in question in the id tokens in perpetuity. Can be reproduced as follows:

1. Create a group `dex-test` in gitlab, and add your user
2. Retrieve a new ID token from dex, now includes `dex-test` among the `groups` claim
3. Remove your user from the `dex-test` group
4. ID tokens retrie

[2019-03-19 19:31] kaman86 commented on #797
I am able to run ./bin/dex serve examples/config-dev.yaml successfully.

But when I run ./bin/example-app to start the client, I get the following error:

"error: Failed to query provider "https://dex.krishnachoudhary.tk": Get https://dex.krishnachoudhary.tk/.well-known/openid-configuration: x509: certificate is valid for api.internal.krishnacho
udhary.tk, api.krishnachoudhary.tk, kubernetes, kube

[2019-03-20 16:00] empath opened #1421 "Is there a way to create clients without using static clients?"
the documentation says this:

[code]

[2019-03-21 10:04] mvoelske commented on #1420
Never mind -- I realized I was running v2.10.0, and in v2.15.0 this issue is no longer present.

[2019-03-21 10:04] #1420 closed

[2019-03-21 10:10] mvoelske commented on #1246
It seems to me that this is no longer an issue: the Gitlab connector retrieves the list of groups from the `/oauth/userinfo` endpoint, and Gitlab (not sure since when) puts the full group path there.

[2019-03-21 10:12] mvoelske commented on #1421
I'm not an expert, but I suppose the [gRPC API](https://github.com/dexidp/dex/blob/master/Documentation/api.md) would be the way to go.

[2019-03-22 08:13] nabadger commented on #1192
@rendhalver I'm currently maintaining dex-k8s-authenticator.

I'd like to help out with this - essentially we should remove the existing mintel dex helm chart that is currently [here](https://github.com/mintel/dex-k8s-authenticator/tree/master/charts/dex) and contribute to the official one.

Some differences I've spotted in the charts are:
- Support for  nodeSelector/toleration/affinity.
- Some di

[2019-03-22 15:02] rendhalver commented on #1192
Sure @nabadger. Ping my on Kube slack and we can work something out.

[2019-03-22 17:52] nabadger commented on #1192
@rendhalver great will do - I'll be away for a week, so will get in touch soon. Thanks again

[2019-03-22 18:02] whereisaaron commented on #1192
Cheers people. I haven't done much more with the helm charts I made because I have been using EKS more and they block the use of OIDC, you have to use AWS IAM 😢. Though there is a request to try and [allow OIDC on EKS](https://github.com/aws/containers-roadmap/issues/166#issuecomment-473685501) so I can use `dex`+`dex-k8s-authenticator` again. 🙏

[2019-03-22 18:31] christianh814 commented on #1192
It would be nice to try and make this an operator

[2019-03-28 12:47] srenatus commented on #1419
So the entry would have to be parsed? That's not supported. 😕

[2019-03-28 15:55] captncraig commented on #1099
as a workaround, I made a little script that I mount in my container and run as the command. All it does is run `sed` to rewrite the config file to a memory volume, then launch dex as normally. Its a bit of a hack, but it lets me load client secrets from kubernetes secrets via environment variables, which is all I wanted.

[2019-04-03 21:11] vito commented on #1341
@srenatus Hmm, good point - I left a comment suggesting it might not fix it a while back (https://github.com/dexidp/dex/pull/1370#discussion_r240685368) but maybe it would, assuming they're locking distinct rows. I hope to try it out soon, and I'll let you know! (Sorry for the late reply.)

[2019-04-05 10:45] simonswine opened #1422 "Kubernetes CRD storage hashes incorrectly"
I was trying to create some bootstraping CRDs for running dex based on the CRD storage provider.

I had some issues setting the correct `metadata.name` on my objects.

After digging a little bit deeper I figured that we don't hash correctly and any input to `idToName` (https://github.com/dexidp/dex/blob/f6741d18376fbc8d71aef29d6e709f5400654bec/storage/kubernetes/client.go#L71)
will create a longer

[2019-04-05 10:46] simonswine commented on #1422
@ericchiang you might have some more input to this as author of #631

[2019-04-06 13:08] srenatus commented on #1414
Looks like https://circleci.com/ and https://cirrus-ci.org/ are free for OSS.

[2019-04-10 07:46] dselyuzhitskiy commented on #1084
Interested in this feature too. Has several ldap connectors to the same server to provide different group search based on client_id.
May be it will be more useful if it will be possible to specify connector in staticClient configuration ?

[2019-04-15 16:25] ericchiang commented on #1422
Ha, idToName is wrong. It should be:

[code]

Well that's really bad. We're basically not hashing.

I don't know how we're going to fix this in a backward incompatible way. This mapping needs to be consistent between versions of dex.

[2019-04-16 17:38] koushik82 opened #1425 "Modify Docker image to run dex as non-root user"
Is there a valid reason for Dex to run as a root?
[code]

[2019-04-16 18:03] ericchiang commented on #1425
Nope :) I've gone ahead and updated the issue to reflect the needed change. Feel free to send a PR

[2019-04-16 19:03] justaugustus commented on #1425
@ericchiang -- sent --> #1426 :)

[2019-04-16 21:47] #1425 closed

[2019-04-24 20:44] jacksontj commented on #1065
@ericchiang I have recently run into this a few times, would you guys be open to merging an option to pull groups? I understand that they don't get update when using a refresh token, but as it stands nothing else does either. My proposal would be to (1) add an option to enable/disable groups for OIDC or (2) allow it to be enabled through config (as is) -- either way it sounds like we should specif

[2019-04-24 21:14] jacksontj commented on #1065
I've opened #1434 with my proposed workaround.

[2019-04-28 05:35] davedastrange opened #1437 "Gitlab 11.10.1 Dex v2.16.0 show empty array of groups"
Hello,
User and login is successful but the groups array is empty with Gitlab Version 11.10.1.

`time="2019-04-28T05:25:51Z" level=info msg="login successful: connector \"gitlab\", username=\"dave\", email=\"dave@redacted.com\", groups=[]"
`
User dave is owner of one group in Gitlab.

Can someone confirm ?

[2019-04-29 06:40] srenatus commented on #1437
Can you share your configuration snippet used for the gitlab connector?

[2019-04-29 07:01] davedastrange commented on #1437
Of Course, but it's pretty much default.
`
  connectors:
  - type: gitlab
    # Required field for connector id.
    id: gitlab
    # Required field for connector name.
    name: GitLab
    config:
      # optional, default = https://gitlab.com
      baseURL: https://gitlab.redacted.com
      # Credentials can be string literals or pulled from the environment.
      clientID: not interessting

[2019-04-29 07:40] srenatus commented on #1437
Have you allowed the proper scopes? https://github.com/dexidp/dex/pull/1351
did change the required scopes for gitlab...

On Mon, 29 Apr 2019, 09:01 davedastrange, <notifications@github.com> wrote:

[2019-04-29 07:46] davedastrange commented on #1437
The Application has the Scopes described in the docs. Like so https://github.com/dexidp/dex/blob/master/Documentation/connectors/gitlab.md

read_user (Read the authenticated user's personal information)
openid (Authenticate using OpenID Connect)

Interesting is that I cannot see a request in the Gitlab logs to https://gitlab.redacted.com/oauth/userinfo. In the code that seems to be the group infor

[2019-04-29 08:15] srenatus commented on #1437
Did your login request (sent to dex) include the "groups" scope?

On Mon, 29 Apr 2019, 09:46 davedastrange, <notifications@github.com> wrote:

[2019-04-29 11:13] jtnord opened #1438 "incorrect response for github connector is user not in required org"
if the user is not in the required github or then dex returns 500 along with "Failed to authenticate: github: user "wibble" is not in required orgs or teams".

However - this should not be a 500 error code but a 403 - the user is authenticated - they just have no authorisation to proceed.

or to put it another way the Internal server error makes it look to the user as though this is something that

[2019-04-29 11:13] jtnord commented on #1438
see https://github.com/dexidp/dex/blob/c113df2730052e20881dd68561289f8ae121300b/connector/github/github.go#L389

[2019-04-30 10:00] srenatus commented on #1438
Yeah, it would be good to be able to differentiate these! 😃

[2019-04-30 10:05] srenatus commented on #1422
...or be migrated on  update? I guess that would be an alternative. Might be trouble if there's multiple instances, but in the end, it would be _less wrong_ 😉

[2019-05-02 10:33] jimmythedog opened #1440 "Unable to renew microsoft access token after expiry"
When using the microsoft connector, the following error appears when trying to request a new token, after the access token has expired

- To clarify, I **NOT** talking about when the dex token expires, I'm talking about the connector accessToken expiry time
- This looks like it's because there is no refreshToken value in the k8s refreshtoken's connector data
-- e.g. `kubectl -n dex describe refres

[2019-05-02 13:30] srenatus commented on #1440
Good find! Thank you. Would you mind opening a pull request with that?

[2019-05-02 16:00] jimmythedog commented on #1440
No problem - all done, let me know if you need me to do anything else/different
Hmmm, methinks I should've done this on a fork - sorry

[2019-05-07 16:10] devstein opened #1445 "Enable Slack Github Integration and Notifications"
I want to subscribe to Dex Github notifications in my team's slack channel, but receive this error:
[code]

To reproduce:

1. Add GitHub app to Slack
2. Run `/github subscribe  dexidp/dex` in a slack channel

[2019-05-10 17:31] nictrix opened #1447 "Feature Request: Bypass Dex Login Screen - 1 to 1 mapping Connector to staticClient"
Dex is super helpful in making all of our IDP upstreams generic and standardized.

I'd like an option to bypass the Dex login screen where it asks which provider to choose. Dex would automatically choose the provider based on the staticClient that sent the request for authentication.

This would make it a 1-to-1 mapping between staticCient and connector.

I've looked through the issues and found o

[2019-05-10 19:01] srenatus commented on #1447
#990 could also be relevant here, I suppose.

[2019-05-10 19:10] nictrix commented on #1447
Yeah, I think that is relevant, as it's asking for an automatic refresh to the connector it should already know about. My request is also making that possible on the initial auth flow.

[2019-05-10 19:11] srenatus commented on #1447
Ah, I see! I had missed that difference, sorry.

[2019-05-12 17:17] ericchiang commented on #1445
We've never configured Slack for this repo. If there's a bug it's in a different app. Sorry

[2019-05-12 17:17] #1445 closed

[2019-05-12 17:30] ericchiang commented on #1422
How about this:
* In vN we attempt to GET the correct hash value in addition to the wrong one.
* In vN+1 we start POSTing the correct hash value.

At some arbitrary point in the future we could depreciate the wrong one.

[2019-05-13 08:24] RichardLindhout commented on #1440
Not sure if your code fixed the problem. Still got failed to refresh identity: microsoft: get user: get URL Get https://graph.microsoft.com/v1.0/me?$select=id,displayName,userPrincipalName: oauth2: token expired and refresh token is not set

[2019-05-13 09:30] jimmythedog commented on #1440
@RichardLindhout did you get a new refresh token?

[2019-05-13 09:50] RichardLindhout commented on #1440
This is the code I've changed: https://github.com/RichardLindhout/dex/commit/54d6934ed137c9b5f6ad64e6b338d80b580af067.

Your command does not work, because we have a postgres database I guess.
Also I got the error when I want tenants to accept our application:

We have one accepted tenant and it works there. Maybe we should add the offline access in more places.

Maybe multiple tenants are not all

[2019-05-13 09:59] jimmythedog commented on #1440
I guess there are other problems in the code then, as the fix works fine for us

[2019-05-13 10:03] RichardLindhout commented on #1440
Hmmm.
![Schermafbeelding 2019-05-13 om 12 03 05](https://user-images.githubusercontent.com/6492229/57613418-1bd4ce00-7577-11e9-9dad-cb4203072b9a.png)

[2019-05-13 10:03] RichardLindhout commented on #1440
Strange then. Can't wrap my head around it.

[2019-05-13 10:04] RichardLindhout commented on #1440
[code]

Same as before merging the pull request.

[2019-05-14 16:13] johnharris85 commented on #926
Looks like there's a few PRs for this in various states, I'm going to try and take one and make it merge-able soon. I'm also curious about the ability to choose what connector that I want to hit (the implementations I've seen so far allow the selection of just one). The solution for multiple backends would either be just to use multiple dex instances (each specifying a different password connector

[2019-05-17 12:08] RichardLindhout commented on #1440
@jimmythedog It's something else. I don't get a state parameter back from the admin consent. Thanks for your work btw ;)

[2019-05-17 12:09] RichardLindhout commented on #1306
We have the exact same problem now.

[2019-05-17 12:10] RichardLindhout commented on #1306
[code]

[2019-05-17 12:13] RichardLindhout commented on #1306
We don't specify a tenant. Another tenant accepted it.

But when I accept the client with another tenant I get (all things looking good on Microsoft with an accept button etc):

Bad Session error
url: https://accounts.agro4all.com/accounts/callback?admin_consent=True&tenant=<REDACTED>

**Reason**
Because Microsoft somehow does not send the state parameter back to dex.
https://github.com/dexidp/dex

[2019-05-17 12:54] RichardLindhout commented on #1306
It's all fine. The user granted access but dex expects a state parameter.

[2019-05-17 12:54] RichardLindhout commented on #1306
My tenant can login even with a bad session error 👍

[2019-05-21 08:08] srenatus commented on #1437
Any news? 😉 (...🧹can this be cleaned up?)

[2019-05-22 00:10] mkontani opened #1449 "response_types_supported looks incorrect"
Thanks for useful tool. I want to confirm about response_types_supported.

For example, I think that if we set responseTypes '["code", "token"]' on configfile, '.well-known/openid-configuration's response_types_supported should be configured like '["code", "token", "code token"]', but current is configured like '["code", "token"]'.

In other ward, current is set response_types_supported only singl

[2019-05-22 08:47] anirvanr opened #1450 "Not able to find group"
Hi,

Dex is not able to find group using search , see the error below

[code]
My dex config for groups
[code]

My ldap config
[code]
Can you please help ?

Thanks

[2019-05-22 11:14] anirvanr commented on #1450
Issue fixed

[2019-05-22 11:14] #1450 closed

[2019-05-23 15:54] srenatus opened #1451 "Look into "Security Policy""
Github now supports a way to let users report _security issues_ in a non-public way (🎉). Maybe we should make use of this? The setup link is here: https://github.com/dexidp/dex/security/policy

cc @ericchiang @JoelSpeed what do you think?

[2019-05-23 15:56] ericchiang commented on #1451
Yeah I can do this. Probably better we stop linking to CoreOS's security notification email :smile:

[2019-05-23 15:58] JoelSpeed commented on #1451
I was literally just about to say the same...

Is there an announcement that talks about how this new feature works?

[2019-05-23 16:01] srenatus commented on #1451
I don't know. But I've stumbled upon https://github.blog/changelog/2019-05-23-maintainer-security-advisories/ which also seems quite useful.

[2019-05-23 16:02] srenatus commented on #1451
Ah, here you go: https://help.github.com/en/articles/adding-a-security-policy-to-your-repository

[2019-05-23 16:04] JoelSpeed commented on #1451
https://github.blog/2019-05-23-introducing-new-ways-to-keep-your-code-secure/#open-source-security this page also has some info on it. It looks awesome! Let me know if I can help in any way to set it up/test it

[2019-05-27 03:36] johnharris85 commented on #926
Thoughts ^^ @srenatus @rithujohn191 ? As part of investigating the above I also found some issues / PRs around 'selecting' a connector in the request (https://github.com/dexidp/dex/pull/1138, https://github.com/dexidp/dex/issues/1084). While that seems a nice-to-have with regular flows, it's pretty essential for this flow as there's no other (UI) way to select a connector (making a compelling use-

[2019-05-27 05:45] tanmaykm opened #1452 "LinkedIn connector fails with v1 APIs"
The LinkedIn connector fails with an error like this:

[code]

Looks like it needs to be updated to use v2 APIs, maybe these?
- https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/profile-api?context=linkedin/compliance/context#retrieve-other-members-profile
- https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/primary-contact-api?context=linkedin/compliance/conte

[2019-05-27 09:26] mdbraber commented on #376
I've created a PR which adds userinfo_endpoint based on the current code and the previous PR from @jackielii https://github.com/dexidp/dex/pull/1454

[2019-05-28 11:43] pbochynski opened #1455 "OIDC connector insecureSkipEmailVerified flag is not used"
The documentation says:

But if "email_vierified" claim is missing the flag is never checked. It works only if the field exists and has boolean value. The code responsible for it is in here: https://github.com/dexidp/dex/blob/49e59fb54fb308c2cb17508232c28073964d3e35/connector/oidc/oidc.go#L220-L242

The configuration check should be moved up and claim `email_vierified` should not be retrieved if t

[2019-05-28 12:25] srenatus commented on #1452
Hm! That's unfortunate. Looks like there's a fork in the road here:
1. ditch the linkedin connector -- the current code is apparently broken
2. have someone chip in and fix it.

I'd lean towards (1.) but maybe someone steps forward? 😃

[2019-05-28 12:28] srenatus commented on #1455
That sounds accurate. Looks like this nuance got introduced in #1448, and I might even have asked for it... 😅 (All blame is on me!)

I'll look into it. Thanks!

[2019-05-28 12:51] pbochynski commented on #1455
Thanks for the quick response and really quick fix. I'm impressed!

[2019-05-28 13:23] srenatus commented on #1449
You're probably correct. The [spec](https://openid.net/specs/openid-connect-discovery-1_0.html) isn't explicit here, I think:

...but in its example, it includes the concatenated strings like you suggested:

[code]

Anyways, I think the `openid-configuration` output could be improved, see also #1209.

[2019-05-28 13:24] srenatus commented on #1437
3... 2... 1... 💥 😃

[2019-05-28 13:24] #1437 closed

[2019-05-28 14:23] #1455 closed

[2019-05-28 14:23] srenatus commented on #1421
@empath does that do the trick for you? Can we close this? 😃

[2019-05-28 15:04] srenatus opened #1458 "Release v2.17.0"
[Some things have gone in](https://github.com/dexidp/dex/compare/v2.16.0...master)... I do wonder if we should kill (or fix) the linkedin connector, though? 🤔 #1452

[2019-05-28 18:13] jans23 commented on #352
I know of enterprise setups where 2FA is obligatory for login and in which case a central implementation in dex would be ideal. For such reasons other solutions like Gluu and PrivacyIDEA execute 2FA centrally.

[2019-05-29 02:16] tanmaykm commented on #1452
Well, the changes look not too complicated and I can probably manage a PR in some time. But since this will be my first PR to this repo, it may need some iterations before being acceptable.

[2019-05-29 06:54] srenatus commented on #1452
@tanmaykm that's great news. Happy to assist you in any way there! :smiley: :tada:

[2019-05-30 04:29] tanmaykm commented on #1452
Thanks @srenatus, I have got something crude working. Will better it somewhat and put up a PR for review today.

[2019-05-30 09:55] rudolfv commented on #200
@ericchiang It's been a while and was wondering what happened to this? Are you still open to PRs for adding MySQL support for storage?

[2019-06-02 05:45] mkontani commented on #1449
@srenatus Thank you for confirmation!

In [rfc6749](https://tools.ietf.org/html/rfc6749#section-3.1.1), response_type can be set only one "code" or "token".
After OIDC defined, it became possible to set multiple response_type in any combination. [(spec)](https://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#Combinations)
[code]

Now dex looks support multiple response_type in any comb

[2019-06-03 17:35] #1452 closed

[2019-06-03 17:44] srenatus commented on #1458
#1452 was fixed! thanks to @tanmaykm 🎉 🎈

[2019-06-04 08:51] srenatus commented on #921
With #1459, you should be able to configure this to use `preferred_username`. Also, since this issue, there's a "microsoft" connector that consumes the mentioned "Graph" API. 🧹 Cleaning this up. 😃

[2019-06-04 08:51] #921 closed

[2019-06-11 06:49] cookie314 opened #1465 "Auto login for second app"
I have multiple APPs that use dex to do authencation, LDAP.
When I access the first app, it redirect to dex to do authencation.
Then I access the second app, it redirect to dex, and i still need to input LDAP account.
It is possible that we can store the login state in dex, like in cookie? So that when I access the second app, it redirect to dex, dex auto login and redirect to app.
And it would be

[2019-06-11 09:07] forsberg commented on #1292
We're being hit by this now and then due to [Apache Flink](https://flink.apache.org) Admin UIs we have put behind authentication with oauth2proxy and dex, with a SAML IdP. The Admin UI will auto-refresh, and once all the authentication expires, it will continue to auto-refresh and cause a new authrequest every time it does so, eventually filling up etcd :-(

Just my two cents on ways this bug make

[2019-06-11 19:14] acarsercan opened #1466 "Invalid 'state' parameter provided: not found"
Hi,

Kubernetes 0.11.9
dex-2.16.0
dex-k8s-authenticator-v1.1.0

Trying to enable dex in my cluster to allow read-only access using github authentication

Enabling authenticator like so

[code]

Enabling dex like so

[code]

Once I click Github in authenticator UI, I get the following in the logs

 ```level=error msg="Invalid 'state' parameter provided: not found" ```

Not sure what to make of that

[2019-06-13 09:20] voidengineer commented on #1421
For a gitops-based workflow in combination with kubernetes it would be great if we only needed to put "OAuth2Client" custom resources into the correct namespace, but the [documentation](https://github.com/dexidp/dex/blob/master/Documentation/storage.md#kubernetes-custom-resource-definitions-crds) says not to interact with the CRDs directly.

[2019-06-14 05:31] ericchiang commented on #1465
dup of #32

[2019-06-14 05:31] #1465 closed

[2019-06-14 05:57] ericchiang commented on #1451
So the security policy is just a markdown document. I think setting up an email that isn't security@coreos.com is more important.

[2019-06-14 08:21] JoelSpeed commented on #1451
I was under the impression that the new features allowed users to submit security issues in a similar fashion to regular issues that could then be only seen by the contributors once submitted? Is this not the case?

Basically I thought we no longer needed an email

[2019-06-14 15:34] josh-ferrell opened #1468 "LDAP Connector group poll"
The LDAP connector pulls the group membership when first authenticated and after the token has expired but in the interim group membership isn't updated. If you're using the default expiration time frame this means a user who has been removed from the group will retain access until the token is expired.

As a feature request is it possible to include a group poll in the connector or a method for r

[2019-06-16 13:35] srenatus commented on #1468
There's no support for token revocation. Dex issues jwt id tokens that can be verified without contacting the issuer (dex).

What to do for your issue? We've been facing the same question and ended up with using very short lived id tokens, and making use of the refresh token mechanism to pull in the up-to-date group list.

[2019-06-17 12:19] SachinMaharana opened #1469 "Permission issue on running ldap guide"
I am following this guide for ldap example.
https://github.com/dexidp/dex/blob/master/Documentation/connectors/ldap.md

When i run the script i get the permission issue. Any pointer to fix this will be helpful.

[code]

[2019-06-17 22:15] avkonst opened #1470 "Styling web frontend without rebuilding."
I can not find in the documentation if it is possible to provide custom html templates and css styles and point to these in the dex configuration file. If this feature does not exist it would be great to have it. Custom styled pages are needed to much specific company brand styles.

As a workaround I thought about proxying requests to dex and implement login pages in the proxying server, leaving d

[2019-06-18 04:30] avkonst opened #1471 "Skipping consent form"
I have not found in the docs or in the closed issues. Is it possible to configure dex to skip (auto accept) consent form after a successful login? If it is not possible, I suggest to have it as a feature.

[2019-06-18 08:55] piotrmsc opened #1472 "[Feature Request] API for dynamic connector registration"
** Description **

It would be really nice to have an option to dynamically register the connector(s) via dex API.
Dex API currently allows dynamic client registration as documented [here](https://github.com/dexidp/dex/blob/master/Documentation/api.md) and perhaps could be extended.

My initial thought was to use CRD for that which was mentioned in a bit general topic in #1381 . Taking into accoun

[2019-06-18 09:56] srenatus commented on #1471
You're referring to the approval screen? That can be skipped [by configuring it to be skipped](https://github.com/dexidp/dex/blob/cd3c6983da25a31a284082a3a3e7ce0b59d8b8c8/server/server.go#L67-L69). There are a few [open issues related](https://github.com/dexidp/dex/search?q=SkipApprovalScreen&type=Issues).

[2019-06-20 03:27] lstoll commented on #1378
I’ve been mulling over tackling this one to solve some of the issues in #1400 . I have a lot of love for both Dex and OPA, so seeing them together is pretty interesting to me.

I do want to clarify a few things though. Firstly, @kfox1111 do you have any examples of the kind of things you’d like to achieve with this? That might help me grok the idea a bit better.

I’m also a little confused on the

[2019-06-24 15:39] stang22 opened #1474 "Can a Kubectl-login plugin be implemented as a cmd tool only?"
Hi,

Recently I started to look at a cmd login plugin for kubectl with Dex. We have a login web app installed for the kubernetes that is acting as a temp workaround when user's token expired, essentially the user has to go to the web app URL via browser, log in and and get a new token sent back, then the user has to manually update their won kube config file on the server side.  From all the imple

[2019-06-25 01:47] KangKyeongRo commented on #1469
I'm having the same problem. I hope it's resolved soon.

[2019-06-26 20:35] perdurabo93 opened #1475 "Dex for nginx-ingress LDAP Authentication"
I've got a working dex auth connector to LDAP that's being leveraged by Kuberos for user authentication.  I want to leverage the same instance of dex I have in my K8S cluster to act as an nginx ingress authenticator for UIs that dont have their own LDAP auth.  I've been successful with this example of basic htpasswd->K8S secret ingress auth here:

https://github.com/kubernetes-retired/contrib/tree

[2019-06-27 16:53] srenatus opened #1476 "SAML: whitelist groups?"
So, for LDAP through the group filter, and for some other connectors (like [github](https://github.com/dexidp/dex/blob/master/connector/github/github.go#L60-L64), [gitlab](https://github.com/dexidp/dex/blob/master/connector/gitlab/gitlab.go#L33), [bitbucket](https://github.com/dexidp/dex/blob/master/connector/bitbucketcloud/bitbucketcloud.go#L38)), we support whitelisting a bunch of groups -- so b

[2019-07-02 07:26] #376 closed

[2019-07-02 10:16] d4nyll commented on #1203
@Smana Do you mind open-sourcing your script in a Gist?

[2019-07-03 03:16] oakad opened #1479 "Possibly allow unspecified InResponseTo SAML attribute"
`InResponseTo` attribute is defined as "optional" in the SAML spec. Indeed, other SAML libraries usually allow for "less strict" mode of operation, whereupon `InResponseTo` is only validated when it is actually present in the message, but is allowed not to be (because "optional").

I'm dealing with an Okta setup which appears not to include the `InResponseTo` attribute in its SAML response. This w

[2019-07-03 08:18] srenatus commented on #1458
✔️ https://github.com/dexidp/dex/releases/tag/v2.17.0

[2019-07-03 08:18] #1458 closed

[2019-07-03 08:24] srenatus commented on #1479
Note that there was some discussion re: using an existing SAML library instead of our handcrafted code in #1295.

That said, I've been using Dex with Okta successfully -- The only scenario where it's lacking the `InResponseTo` was if you use IdP-initiated login, i.e., click on the icon in the Okta overview. That, however, won't work, since Dex expects an auth request to have been created (what it

[2019-07-04 02:21] oakad commented on #1479
No, I'm not using IdP. :-)

What I'm seeing here is somewhat strange. We have multiple unrelated services sharing a common Okta auth. If I login to some other service and then use the Dex enabled one, the `InResponseTo` attribute is always there and Dex does it job without issues.

However, if I try to login to the Dex enabled service first (without valid Okta session state in the browser), then e

[2019-07-04 06:16] srenatus commented on #1479
Sounds like something you could ask okta's support about... :thinking_face:

Also, I think on the long run, we'd all be better off to use oidc with okta. Have you tried that? Okta supports that but I don't know if our connector has feature parity. It could be a much better solution in theory, since oidc could do refresh tokens... Our oidc connector doesn't yet, though, I think there's WIP for that

[2019-07-06 20:56] ericchiang commented on #1451
@JoelSpeed I'm dropping this per #1478 if you want to take it on :)

[2019-07-10 15:16] alazyer commented on #1472
It seems that, dex already have defined [CRD](https://github.com/dexidp/dex/blob/master/storage/kubernetes/types.go#L207) for k8s storage, and the storage interface also has defined the [CreateConnector](https://github.com/dexidp/dex/blob/master/storage/storage.go#L56) method.
What really lack is a route not defined in `newServer` method defined in [dex/server/server.go](https://github.com/dexidp/

[2019-07-12 10:51] simonmacklin opened #1483 "Active Directory Groups Not Being Pulled"
Hi

Would anyone be able to point me in the right direction?

I have been trying to get DEX working with Active Directory.  Authentication works great but it will not pull the groups memberships of the user.

I have seen a couple of issues already created which did not resolve it for me.  This is the connector config I am using.

[code]
I have removed and replace the OUs with *

Thanks in advance

[2019-07-12 12:28] simonmacklin commented on #1483
Please ignore this.  It was working fine but I had not enabled the scope client side.

Many thanks

[2019-07-12 12:28] #1483 closed

[2019-07-12 15:55] SachinMaharana commented on #753
I am having a hard time to understand how to expose dex as https with custom CA, when the ssl termination is being done by the dex. Should i use ingress or a simple nodeport will do? I can access httpp://NODEIP:NODEPORT but apiserver ca flag complains.

[2019-07-12 23:19] onatm opened #1484 "Token exchange for external tokens"
Is there any plans to add a token exchange for the access tokens of connectors?

[`keycloak`](https://github.com/keycloak/keycloak) has this functionality. If there is a plan to add it then I'd be happy to go on and create a PR for it.

You can find the documentation of their external token exchange [here](https://github.com/keycloak/keycloak-documentation/blob/master/securing_apps/topics/token-ex

[2019-07-13 09:06] Morriz commented on #352
Any update on this? Central 2fa is or should be the standard nowadays. So dex is missing out adoption and thus losing will to live...I am no Go programmer unfortunately, and low on availability atm.

[2019-07-13 09:21] Morriz commented on #1065
Any updates here? Concourse forked dex and managed to pull in groups. I am with @jacksontj on this one: offer documentation and recommendations (if using groups set short ttl).

[2019-07-14 22:06] publicvirtualvoid commented on #990
From my limited understanding, this is what I would need in order to get refresh tokens working using my (implicit) flow. Does that sound plausible, or should I be using something else?

[2019-07-18 11:33] dungdm93 commented on #1421
It make me so confusing...

[2019-07-18 14:17] srenatus commented on #1484
Thanks for providing links! There's currently no _plans_ or a roadmap or anything here -- Just a few people spending some spare time on keeping this from rotting away 😉  -- So, unless there's someone implementing it, that is. Would you want to be that person?

If so, let's sketch out how this is going to look like before diving into the code, please. It seems like a bigger endeavour than what you'

[2019-07-18 15:29] onatm commented on #1484
I definitely want to be that person 😄

I'd be happy to share ideas and discuss the best possible way to implement it. Where is the best place to continue the conversation? Here or gitter or discord?

[2019-07-23 11:05] srenatus commented on #1484
💯-- great.

I'm afraid I am still lacking a complete idea how this is going to look like, and what you'd achieve with that. My current best guess (after merely skimming the linked docs): you're exchanging a connector-id-token for a dex-id-token? So, this would only apply to using the OIDC connector? Or what's the intended scope here? 😃

[2019-07-23 11:07] srenatus commented on #1468
Do you mind if I clean this up? 😉

[2019-07-23 11:36] srenatus commented on #1379
@kfox1111 I'd be happy to help doing this. I suppose it's useful to have a few eyes on this, for drafting/reviewing documents etc.

[2019-07-23 11:37] srenatus commented on #1471
Still an open question? Please re-open and provide more details 😃

[2019-07-23 11:37] #1471 closed

[2019-07-23 11:39] srenatus commented on #1479
So, the problem with a missing `InResponseTo` is that we use it to match auth requests. _If you have two SAML connectors set up, and you receive a SAML assertion without `InResponseTo`, which connector was it for?_ I'm not saying that it is too difficult to figure that out, it's just that we'll have to deal with this to implement this.

I _think_ figuring out the connector that way would also allo

[2019-07-23 11:42] srenatus commented on #1479
:x: I was wrong. We use the `RelayState` for matching auth requests, https://github.com/dexidp/dex/blob/421c26fdf56f16aae0ca375c3d11edc9ab7eb184/server/handlers.go#L402-L406

[2019-07-23 11:54] srenatus commented on #1379
https://github.com/cncf/toc/blob/master/process/project_proposals.adoc Looks like this is the process?

[2019-07-23 12:09] onatm commented on #1484
Your guess is half right 😄 It is for exchanging a dex `id_token` with a connector `access_token`. I've already implemented a super naive version of it by only having `github` connector in mind.

You can check the implementation here: https://github.com/onatm/dex/tree/external/token-exchange

[2019-07-23 12:47] #1468 closed

[2019-07-23 13:25] srenatus commented on #200
#1485 ✅

[2019-07-23 13:25] #200 closed

[2019-07-23 15:28] srenatus commented on #1484
Right now, it's quite nice that dex works like a funnel with many external identity providers on the top side, and a single OIDC IdP for anything _below dex_... This would break this abstraction, wouldn't it? 🤔

[2019-07-23 15:48] sks commented on #1472
There is a PR open for this : #1489

[2019-07-23 16:01] onatm commented on #1484
I think this would not break that abstraction (_and it shouldn't_). `ConnectorData` is already stored in the backing data store and it would be a shame not to use that data 😃.

The implementation I've done accepts an `idToken` with some required parameters (based on `keycloak` specification) and returns the `ConnectorData` to the caller. dex still on the top side and now behaves like a bridge betw

[2019-07-23 17:20] srenatus commented on #1470
You shouldn't need to rebuild, the static stuff will be served by dex, as configured in `WebConfig`, [see here](https://github.com/dexidp/dex/blob/e3203382fc4e67a5c277a7f0bb6338f23ae3ee63/server/server.go#L87-L110).

The gist is that you should be able to style dex to your liking; only the basic structure (the flow, what's on a page, that stuff) is fixed; the css and html can be altered.

[2019-07-23 17:22] srenatus commented on #1470
[Here are two example themes](https://github.com/dexidp/dex/tree/master/web/themes), and [these are the templates you could change](https://github.com/dexidp/dex/tree/master/web/templates).

[2019-07-23 17:52] rithujohn191 commented on #1379
I could help put this together

[2019-07-24 02:31] oakad commented on #1479
In our tests `RelayState` comes back just fine - the `InResponseTo` is supposed to be an optional safeguard mechanism.

[2019-07-24 16:58] onatm commented on #1484
I forgot to add: to be able to use this _token exchange_, the `idToken` should have `federated_claims` in it.

[2019-07-24 17:30] srenatus commented on #1484
Can you help me get more of the overal picture? What's the use case for you, what client is doing the token exchange stuff, and what for? 😃 (Really just curious)

[2019-07-24 19:19] onatm commented on #1484
Sure, let me try to explain (I might misuse some terms):

Currently, I have a single page web application which uses [`oidc-client`](https://github.com/IdentityModel/oidc-client-js) to make an `implicit_flow` request. `dexidp` provides only the `github` connector and act as the authorization server for an API. The tricky part is API here is not the only resource owner; github is also another resou

[2019-07-27 15:12] piotrmsc commented on #1472
@sks looking forward toward merging you pr 👍

[2019-07-30 07:41] srenatus opened #1499 "gRPC API: use status codes in error returns"
In [our gRPC handlers in `api.go`](https://github.com/dexidp/dex/blob/72f55966713838932fa782ce48ce5c39660650d6/server/api.go), we return `errors.New("bad something")` in a few places. For the callers, it would be more informative if those errors were "proper" gRPC errors, i.e. contained status codes.

See [the docs of `google.golang.org/grpc/codes` for available codes and their meanings](https://g

[2019-07-30 13:19] srenatus commented on #1499
As mentioned in #1501's comments, it might also be nice to have some external API consumption tests here, or in a different PR. Currently, [the gRPC API is tested using it's own generated client code here](https://github.com/dexidp/dex/blob/master/server/api_test.go).

I could imagine using some reflection-based client on this, like https://github.com/fullstorydev/grpcurl... 🤔(We' have to enable g

[2019-07-30 15:08] MarcDufresne commented on #1470
Related: it appears as if there is no easy way to pass additional parameters to the templates, for instance, an additional 'title' string, via `webConfig`. Are there any known workarounds to this? Would the project be open to a PR to add this functionality?

Thanks.

[2019-07-30 15:18] srenatus commented on #1470
What would the title be? And how would it differ? Right now, that's just not supported. Would you want to put "Login to XYZ" into the config and want that show up in the UI? 💭

[2019-07-30 15:26] venezia commented on #1499
I personally use grpcurl and the sister project, [grpcui](https://github.com/fullstorydev/grpcui) - but I do have to provide the `api.proto` file ... adding reflection shouldn't impact the program that much (I typically add reflection myself, but we could also make it dependent on an environmental variable)

I'm willing to work on this as I was personally working on add a `ListClients` grpc call (

[2019-07-30 15:37] MarcDufresne commented on #1470
Thanks for your reply. Title was just an example, it could be any arbitrary string. Footer links, additional graphical assets, etc. I would like to be able to create a 'white label' Dex through config and templates alone.

[2019-07-30 15:47] srenatus commented on #1499
@venezia Thanks for the message, and thanks for offering help! 🎉

Just my thoughts on a few of points (which doesn't mean much more -- I'm curious what everyone thinks!):

Yup!

💯

I'm not sure I follow. I happen to like `grpc-gateway` and use it in other places. But I don't see how using proper errors means we should expose a different API 😉 I'd rather have one API less, and the gRPC API still se

[2019-07-30 15:50] srenatus commented on #1470
So you're looking for a theme that is really a template? 😉 I'm afraid your best approach right now would be to generate the theme with those values you want for each variant 🤔

I'm not even sure how we'd do what you've described technically...adding custom template variables and shovel their values through from the config.

[2019-07-30 15:57] venezia commented on #1499
Well if you use grpc-gateway it will still proxy the rest call into the grpc service - so you're still only supporting one api (or at least one server implementation) - which I think you're familiar with.  I personally like grpc a lot, but I think if we want to make the API more accessible to developers we may want to consider offering the rest gateway.  It could be marked experimental and should

[2019-07-30 16:07] venezia commented on #1499
Blah I missed your point.  In the current documentation there is:

I'm suggesting that if we use the official grpc errors it will create reasonable http error codes - which was some of the rationale - sorry for not being clear about why I was linking the two.

[2019-07-30 16:27] MarcDufresne commented on #1470
Indeed, we figured we could hard-code values in our templates, but we will have to do multiple "white label" deployments and most of them would be the same but with different hard-coded values.

I'm not familiar with Go enough to propose a solution. I do know how I would do it in Python however, using dictionaries for the arbitrary data would be quite simple, but it is not so with Go structs AFAIK

[2019-07-30 17:18] srenatus commented on #1470
Hmm I suppose that's how you'd do it in go, too. I've played with this briefly [here](https://github.com/dexidp/dex/compare/master...srenatus:sr/poc/pass-arbitrary-values-to-template), if you want to turn that into a PR, feel free 🎉 It would be great to add some tests for the `Frontend` config section parsing to `cmd/dex/config_test.go`, and perhaps add some docs 😃

[2019-07-30 17:31] srenatus commented on #1499
Ah, right. That criticism no longer seems accurate, indeed.

Your argument for making dex more accessible to developers is persuading... 💭 How about that: let's create an issue for this precise thing, adding grpc-gateway, and see how much traction that gets? What do you think?

I suppose a formal RFC process could help, but we're not there yet :wink:

[2019-07-30 20:20] srenatus commented on #1469
Selinux/apparmor perhaps? Could be worth looking into. I guess the distribution ships a profile that forbids access to /tmp.

[2019-07-30 20:22] #1360 closed

[2019-07-30 23:54] MarcDufresne commented on #1470
Wow that's great! I'll try to take some time soon and use your code to send a complete PR 👍

[2019-07-31 07:02] srenatus commented on #1406
#1501 ✔️ should be resolved

[2019-07-31 07:02] #1406 closed

[2019-07-31 07:02] srenatus commented on #1141
#1501 ✔️ should be resolved

[2019-07-31 07:02] #1141 closed

[2019-07-31 07:11] srenatus commented on #1484
Hrm. I'm having a hard time drawing a line. To be honest, the appeal of Dex to me always has been, among other things, that _it's not keycloak_ -- the feature set of Dex is overseeable.

But there seems to be some people who want this? I count four :+1:s at the moment...

Still, this doesn't feel quite right. We've got ten connectors, and the ones for which a feature like this would *not work* are

[2019-07-31 10:06] onatm commented on #1484
I guess this could work with OAuth2 providers including microsoft and linkedin.

What you are saying is totally making sense. However, this feature can be scoped down only for OAuth providers and does not contradict with Dex's overseaable feature set.

What would be the best possible way to get external idp access tokens in a scenario where Dex is used?

[2019-08-01 18:37] mkontani opened #1503 "storage mysql error with Percona XtraDB and pxc_strict_mode"
I tried mysql storage with Percona XtraDB and pxc_strict_mode enabled, and had an error on startup migration step.
It looks occurring because of primary key restriction.

Percona XtraDB and pxc_strict_mode validates whether tables have primary keys.
https://www.percona.com/doc/percona-xtradb-cluster/LATEST/features/pxc-strict-mode.html#tables-without-primary-keys

And now dex's migrations table ha

[2019-08-01 19:17] bonifaido commented on #1503
Hi @mkontani, no I think it shouldn't be that hard to make this work `num` looks like a good candidate for a primary key.

Could you please change:
[code]

to

[code]

recompile and try again? TBH I don't have access to a properly working Percona DB right now :)

If that works we are more than happy to receive a PR for it! 👍

[2019-08-01 21:27] MarcDufresne commented on #1470
@srenatus I took some time to write docs about the feature, you can check it out here: https://github.com/dexidp/dex/compare/master...MarcDufresne:template-custom-data
I also noticed that there are currently no tests for the templates, so I couldn't really add any.

[2019-08-02 13:59] mkontani commented on #1503
@bonifaido Thanks for your confirmation!
I tried and got another problem like below.
[code]

The detail is [here](https://www.percona.com/doc/percona-xtradb-cluster/LATEST/features/pxc-strict-mode.html#explicit-table-locking).

Current dex mysql transaction level is set to "SERIALIZABLE", and if change to others i.e. "REPEATABLE-READ", dex works well.
https://github.com/dexidp/dex/blob/master/stor

[2019-08-02 18:30] venezia opened #1506 "Can no longer build golint"
In https://github.com/dexidp/dex/commit/076cd774693247587e604d2ce9fd8ca71f68e6b1 the ability to do `make lint` broke.

[code]

Switching back to the previous commit has this working correctly:
[code]

Upon further research, it appears that https://github.com/golang/lint/commit/d0100b6bd8b389f0385611eb39152c4d7c3a7905 is the source of the issue.  Reverting to the previous commit (there are no relea

[2019-08-02 19:25] scotthew1 commented on #990
hey @srenatus just opened #1508 to handle `id_token_hint`. looking for feedback as this just handles that one parameter and i'm not sure how to best handle `prompt` since the various options seem to extend beyond the scope of this issue.

[2019-08-03 06:14] bonifaido commented on #1503
I have tried Dex locally with the XtraDB Docker image and had no issues with setting the primary key and using repeatable reads tx isolation level (it was surprisingly easy, since I just had to change the Docker image the environment variables for the MySQL Docker image just worked!).

I think we should be okay with these changes since setting a primary key does no harm

[2019-08-03 11:56] #1506 closed

[2019-08-03 12:00] srenatus commented on #1506
@venezia thanks! 😃

[2019-08-03 13:37] venezia commented on #1499
Sure, let's create an issue for grpc-gateway.

Specifically to this ticket, I had a couple questions:

### Right some things that would be an error in many APIs are not treated as errors

For example updating a client that doesn't exist returns no error, just a `not_found=true` message https://github.com/dexidp/dex/blob/v2.17.0/server/api.go#L105 but this is essentially an error (you asked to upda

[2019-08-03 14:37] srenatus commented on #1499
Thank you, these are good issues to think about, thanks for bringing them up! 😃

One approach we could take is _keeping what we have right now untouched_, and adding a new GRPC API, and calling it `v1` (or some more fully-qualified name, whatever the convention is). That way, who wants the better errors (including `NotFound` as you mentioned) can opt into it by using the new API, but we'd not brea

[2019-08-03 15:41] venezia commented on #1499
I think that makes sense - would we probably could do it within the same proto file - just a different service - right now you have Dex, perhaps we create DexV{n} service in the `api.proto` file and have both of them being served by dex, perhaps noting that the original service is deprecated or something.

Something like:
* In `api.proto` something like:

[code]

* In `cmd/dex/serve.go` something

[2019-08-03 16:43] srenatus commented on #1499
Hmm I think I'd prefer if we used this chance to adhere to common approaches, and standards where they exist, here. So instead of adding to `dex/api.proto`, we could create a new `dex/v1/api.proto` and have its `package` directive read `package dex.v1` (or v2, I don't mind either way)....

💡This also could be an opportunity to revisit method names where they are confusing. [I'm thinking about the

[2019-08-05 03:48] venezia commented on #1499
Sure that seems just fine - I do feel bad that I originally said "Sure I'll help add grpc status codes" and now we're at "Hey, let's create a new api" because it seems like a lot of scope creep ... but at the same time I think it does make sense to revisit things and say "If we could redo this over again, how would we change that grpc api to be more best-practices"

We probably should split up the

[2019-08-07 11:59] srenatus commented on #1499
Cool, reflection is done ✔️

I've rename the issue to track our "proper new version" plan that shines through the discussion above. It's -- in total -- not a low-hanging-fruit; but each small step could be:

- [ ] change the storage interface to return error constants or types
  - I'd prefer types, following the [naming convention for them](https://github.com/golang/go/wiki/Errors#naming) (`type F

[2019-08-07 12:03] venezia commented on #1499
As far as the newer api, I worked some on a `v1alpha1` api - you can see it https://github.com/venezia/dex/tree/api_v1alpha1 - more to go obviously, but its a stab at it.

[2019-08-07 21:52] venezia opened #1513 "kubernetes storage: allow option to disable CRD creation"
Right now the kubernetes storage provider for dex, generally speaking, will:

* look to see if custom resources are used (as opposed to TPR, which is another story)
* If CRs are to be used, iterate across the list of CRs attempting to list them
* if a list fails, ask the api server to accept a CRD for said resource

This is generally safe logic - it will not try to update the custom resource defin

[2019-08-07 22:02] venezia commented on #1499
Can we create a separate ticket for tracking the storage interface error change?  There's a lot of providers and it might be easier to create something like:

- [ ] Create storage class error types/variables
- [ ] For each storage provider:
  - [ ] Update interface methods to return interface errors when appropriate
  - [ ] Declare and use provider-specific errors if and when appropriate

---

Als

[2019-08-08 09:26] srenatus commented on #1499
Sure! 😃

So far, I've appreciated the minimal approach dex has taken when it comes to testing, mostly relying on the stdlib (and testify in a few recently-touched places). What extra value does ginkgo bring that you'd rather not do without? 😉

[2019-08-08 09:38] bonifaido commented on #1513
1. Creating custom resource definitions is quite a broad RBAC scope so I vote for the `skipCRDCreation` configuration option. 👍

2. TBH I would remove the TPR code entirely, since as you mentioned event the version which dropped it is unsupported now. 👍

[2019-08-08 12:33] venezia commented on #1499
Obviously anything ginkgo can do you can ultimately do with go test, and Testify isn't bad either - I think Testify is better than standard go test.  Testify gives you suites which is nice as well, etc.

What I liked about Ginkgo (and BDD in general, for example [goblin](https://github.com/franela/goblin) as another BDD framework in go) is that the tests were clear to anyone (especially people unf

[2019-08-08 16:11] gavinmcnair commented on #1292
The cookies also do not prevent suffering from a deliberate filling of etcd by unauthenticated users. In our case our own black box exporter had created over 500,000 auth entries in less than 24 hours.

[2019-08-09 05:43] srenatus commented on #1414
There's a new github feature we might be able to use here... 🤔

[2019-08-09 05:45] srenatus commented on #1414
I've signed up `dexidp` for the beta. Will post updates here.

[2019-08-12 09:06] pirate commented on #1234
For people landing here via Google, here are some projects that can help accomplish this:
- https://github.com/yldio/kubernetes-auth
- https://github.com/appscode/guard

[2019-08-13 21:55] venezia commented on #1513
OK, So just to track this:

* [ ] add `skipCRDCreation` configuration option to bypass CRD operations
* [ ] remove TPR code from kubernetes storage provider (see #1517 as a fix)

[2019-08-14 01:37] owelinux opened #1518 "Authentication through Gitlab"
when `groups` is provided, but  the all user can authenticated. ，my config is：

data:
  dex.config: |
    connectors:
      - type: gitlab
        id: gitlab
        name: GitLab
        config:
          baseURL: https://gitlal.com
          clientID: xxx
          clientSecret: xxx
          redirectURI: http://127.0.0.1:5556/dex/callback
          groups:
          - argo-

[2019-08-14 02:03] eohtake commented on #1518
I'm seeing the same behavior here. In the connector's docs it states:
[code]
Where the group scope should be present?
Omitting the groups directive doesn't return any group with the following results from Dex logs:
[code]

Adding or not the groups in config.yaml for Dex, the payload returned is the same.

[code]

**GitLab 12.0.3-ee**
**dex:v2.10.0**

[2019-08-14 07:53] daroga0002 commented on #1474
as per https://github.com/int128/kubelogin seems Keycloak support such option:
[code]
 so if similar thing will be added to Dex then it will be grate.

[2019-08-14 10:22] bonifaido commented on #1518
The `groups` scope should be present in the AuthCodeURL of the Oauth request, so for example in the example-app like here on the screenshot:

<img width="306" alt="Screen Shot 2019-08-14 at 12 16 01 PM" src="https://user-images.githubusercontent.com/23779/63014115-0cbf2e00-be8e-11e9-92ad-1e550962a2c9.png">

But to be honest this should be the default if filtering `groups` are defined in the config

[2019-08-14 10:52] eohtake commented on #1518
I missed that. Adding the group to that extra scopes field in the example-app solves the problem. Also using **mintel/dex-k8s-authenticator** it sends the groups automatically.

I agree with you. It would make things simpler, just having that as default if filtering is being used.

[2019-08-14 11:21] bonifaido commented on #1518
I will create fix PR for this where it will make it default when specifying groups.

[2019-08-14 12:52] eohtake commented on #1518
That’s awesome! Thanks mate!
I’m looking forward to see the code to have a better understanding on how it works.

[2019-08-14 19:03] liyimeng opened #1523 "Graceful shutdown should be supported"
Today, dex dose not handle any signal from user or kubernetes. This might cause some resource open when dex process are killed, e.g. the storage.Close function never get called.

[2019-08-16 15:39] venezia opened #1524 "storage/kubernetes: impove garbage collection error handling"
With respect to [GarbageCollect](https://github.com/dexidp/dex/blob/ab08d7b3a47716122f60522a7a34b20f217414f8/storage/kubernetes/storage.go#L562) this function will do a few things:

* get a list of `authRequests`
* iterate over this list, deleting ones that should have expired
* get a list of `authCodes`
* iterate over this list, deleting ones that should have expired

Its straightforward (though

[2019-08-19 11:50] eohtake opened #1525 "Documentation on how to customize web-app template"
I'm trying to figure out how to customize my local install (logo, buttons, etc) and based on this documentation: https://github.com/dexidp/dex/blob/89e43c198b30fb1b43c9d49f3ab772ef88d8664d/Documentation/templates.md

Where exactly this piece of yaml should go?

[code]

[2019-08-19 12:01] anton-johansson opened #1526 "Issues with Alpine and DNS in Kubernetes"
We've experienced some issues with Alpine and DNS-lookups in Kubernetes. I'm not sure exactly where the problem lies, but some DNS-lookups are really slow (and is a multiple of 2,5, indicating some sort of timeout that is being hit).

Some info can be found here:
https://github.com/gliderlabs/docker-alpine/issues/255

As this seems to be a general problem for Alpine, it affects a lot of our contai

[2019-08-19 21:00] Joematpal opened #1527 "standard_init_linux.go:207: exec user process caused "exec format error""
I looked for a similar issue. Maybe I over looked the ticket if it was there.

I'm having trouble resolving this error. I'm using the k8s deployment from the example.

The pod will not start up.
When I "kubectl logs $POD" this is the error I get. I don't know where go to try and see whats causing this error to try and fix it. Or... even if I can fix it.

[2019-08-20 17:47] srenatus commented on #1526
Which one would you prefer? Would, say, using this https://github.com/GoogleContainerTools/distroless/blob/master/base/README.md resolve the issue?

[2019-08-20 21:31] venezia commented on #1499
@srenatus Can you look at [this branch](https://github.com/dexidp/dex/compare/master...venezia:storage_errors?expand=1) - I moved to an error type (`storage.Error`) with some error codes (`storage.ErrorCode`) and implemented this within the kubernetes storage provider.

The kubernetes storage provider is a bit gnarly  (I personally feel that having both `client` and `Client` as types in `kubernete

[2019-08-21 07:04] Kydybets commented on #1401
thanks for the support

[2019-08-21 07:04] #1401 closed

[2019-08-21 07:37] anton-johansson commented on #1526
I'm not sure actually, I'm still trying to grasp the actual problem. We'd still want a small image, of course.

The distroless looks interesting. Also, can it run from `scratch`? The fact that it uses Alpines DNS makes me think it cannot run from `scratch`? I'm not too good with these things yet, so I can't really say.

Looking at the [`Dockerfile`](https://github.com/dexidp/dex/blob/master/Docker

[2019-08-21 07:40] bonifaido commented on #1526
If using `scratch` you need to copy the `ca-certificate` from the previous multi-stage build and create a static binary from Dex (if it is not static today) with` CGO_ENABLED=0` so all libs will be linked statically.

We do it like this here: https://github.com/banzaicloud/pipeline/blob/master/Dockerfile#L39

[2019-08-21 09:53] anton-johansson commented on #1526
Okay, so I successfully built Dex with Google's distroless as its base. However, I'm still seeing issues with my DNS lookups. In other words, the issues I'm having is unrelated to the Alpine issue above, and there's probably an issue in my Kubernetes cluster.

I'm closing this for now, but let me know if you want me to publish a pull request for the distroless anyway. I think it has its benefits,

[2019-08-21 09:53] #1526 closed

[2019-08-21 15:57] venezia commented on #1527
Can you provide a bit more context?
* What container image of dex
* What version of kubernetes
* Are you running kubernetes in an amd64 environment?
  * The error you cite is a docker error, specifically when the binary isn't considered executable, etc.

The example deployment requires some configuration as well.

FWIW, I just tried the example, and while it needs adjustment (adjustment of TLS set

[2019-08-21 17:46] Joematpal commented on #1527
Thanks for the help.
[code]

[code]
I can post my all of my yaml files. I'm just don't really know where to look to try and debug this one. I'm running the k8s on a pi cluster. Other app that I've written work fine. My Postgres and Cassandra databases are working fine. I'm just really stumped by this error. Thank you for your time and help.

[2019-08-21 17:54] venezia commented on #1527
@Joematpal you're running on arm - so the images listed in the example will not work.  Do you need help building an aarch64 version of dex?

@srenatus Should quay offer images of dex compiled for aarch64?  Its not hard to cross compile, etc.

[2019-08-21 18:05] Joematpal commented on #1527
I could try and build it. I would love any help during the build process.

[2019-08-21 19:58] Joematpal commented on #1527
I built it and pushed it to a public docker repo.
https://cloud.docker.com/repository/docker/joematpal/dex

This is my deployment: https://github.com/Joematpal/dex-k8s-deployment
I'm getting this error now.
[code]
Which is confusing because I'm passing in a yaml file.

[2019-08-21 20:11] venezia commented on #1527
* That's great that you were able to build dex in linux/arm64
* If you're getting that then the config that is mounted through the configmap must have some form of invalid yaml in it.  Given that the link you gave is pointing to the original dex repo (and not yours) perhaps there are other changes as well.
  * look at https://github.com/Joematpal/dex-k8s-deployment/blob/master/dex_configmap.yaml#L

[2019-08-21 20:14] Joematpal commented on #1527
@venezia I cut out the bits you said and it passes a yaml validator.

[2019-08-21 20:33] venezia commented on #1527
I still think it is having trouble parsing your configuration.

If you don't mind, for the moment, adjust line 18 on [your deployment](https://github.com/Joematpal/dex-k8s-deployment/blob/master/dex_deployment.yaml#L18) to be ```command: ["/bin/sleep", "999999"]```, apply the change, then do something like:

[code]
this may look like
[code]
you can get the pod name by looking at
[code]
Does this s

[2019-08-21 20:49] Joematpal commented on #1527
[code]

Yes it passes a validator. Idk what the issue is. When I run it locally (bin/dex server $YAML_FILE) it still doesn't like that file. Even though it's passed the validators. I ran the github.com/dexidp/dex/examples/config-dev.yaml locally as well it worked fine.. so its not the executable.

[2019-08-21 21:41] Joematpal commented on #1527
Ok so when I ran that yaml output again through my local build of dex on the a raspbery pi. I takes it just fine. I deleted the deployment and reapplied it. No luck. It didn't work. I'm trying to rebuild the docker image, maybe that is the issue.

[2019-08-21 21:45] venezia commented on #1527
That's somewhat perplexing.  That being said, have you considered installing dex through helm?  There are many charts floating around, but I think [this one](https://hub.kubeapps.com/charts/stable/dex) is maintained and I personally used [this one](https://github.com/mintel/dex-k8s-authenticator)

I wonder if you have any better results using those charts.  Mind you - you will have to adjust it to

[2019-08-21 22:07] Joematpal commented on #1527
Thats a good idea. Thank for you help. You got me passed the "exec format error". I'm going to make this as closed. If anyone runs into this error and they are trying to run on arm you'll have to build for arm and deploy that docker container. I can try to keep and up-to-date image on cloud.docker.com/repository/docker/joematpal/dex. That images should at least be a good test for anyone trying to

[2019-08-21 22:07] #1527 closed

[2019-08-22 06:15] srenatus commented on #1525
Into the config yaml read by dex, see here for an example: https://github.com/dexidp/dex/blob/ab08d7b3a47716122f60522a7a34b20f217414f8/cmd/dex/config_test.go#L61-L78

[2019-08-22 06:42] dkuerner opened #1528 "Incorporate go net/http security fixes for CVE-2019-9512 and CVE-2019-9514"
go net/http http2: limit number of control frames in server send queue to avoid possible denial of service attacks

See https://github.com/golang/go/commit/7139b45d1410ded14e1e131151fd8dfc435ede6c for details.

[2019-08-22 14:31] srenatus commented on #1528
Is this another one? I thought we had gotten rid of these by bumping in https://github.com/dexidp/dex/pull/1519...

[2019-08-22 14:31] #1528 closed

[2019-08-22 20:37] Joematpal opened #1531 "When would Issuer and web ever differ?"
[code]

In the basic example they are the same. However, in the k8s example they are different. What would the use case be for these to being different?

[2019-08-24 15:55] rikardev opened #1532 "OPTIONS /userinfo denied on Access-Control-Request-Headers: Authorization"
Hi,

I have a client that sends an OPTIONS request to the /userinfo endpoint with an `Access-Control-Request-Header: authorization`. This seems correct to me but dex replies with 403 since no Allowed CORS Headers are configured.

Implementing the handleWithCors func in server.go like this would be an easy fix:
[code]

Is that a viable solution? Am I missing something?

[2019-08-24 19:45] rikardev commented on #1532
Clients running in Firefox seems also to complain about missing Access-Control-Allow-Methods header. That seems dirtier to solve however since gorilla isn't setting any unless the Access-Control-Request-Methods header contains a value separate from the Gorilla defaults (GET, HEAD, POST).

So just using `handlers.AllowedMethods([]string{"POST", "GET", "HEAD", "OPTIONS"})` for example with a request

[2019-08-26 04:08] integrii commented on #927
This happened:
`time="2019-08-26T04:06:03Z" level=error msg="Connector \"ghe-comcast\" returned error when creating callback: expected callback URL \"https://dex.theplatform.com/callback\" did not match the URL in the config \"\"" `

[2019-08-26 12:13] srenatus commented on #1499
Thanks for working on this. As you might notice, I'm having a bit of a hard time keeping up here 😅

I haven't looked at the k8s changes, but the error struct bits look solid.

I think I'd propose changing the type handling a bit here:
[code]

that way, storage implementations shouldn't be able to make up new error codes, but would be restricted to using the constants defined here.

However, we can

[2019-08-28 08:03] srenatus commented on #1531
`web` is where the http service listens to, and `issuer` is what clients connect to, and what ends up in id token claims as `iss`.

It's not uncommon to have a reverse proxy infront of dex, which would serve `https://app.corp.com`, and proxy `https://app.corp.com/dex` to the dex-server's `web` > `http` endpoint.

Does this help? 😃

[2019-08-29 09:51] eohtake commented on #1525
Thank you so much @srenatus
Not for only this but for showing me the test file. That will build a new habit on me.

cheers!

[2019-08-29 09:51] #1525 closed

[2019-09-04 10:21] #1518 closed

[2019-09-05 07:55] sll552 opened #1542 "Support custom CA for Gitlab connector"
Hi,

we want to connect dex (as part of https://github.com/argoproj/argo-cd/) to our internal gitlab instance using the gitlab connector. Everything works to the point where dex is trying to retrieve the token, which fails with
[code]
The certificate of our Gitlab instance is signed by our companies CA, so it would be nice to be able to add CA certificates to the bundle used for validating the ser

[2019-09-05 11:12] bonifaido commented on #1542
That would be a nice addition I agree, in the meantime we had an alternate solution for this in the mailing list, see: https://groups.google.com/forum/#!topic/dex-dev/aaXIlrZzEqY

Github has a `rootCA` field, which is a file path, I'm not sure which is better (but I vote for the file). 🙂

[2019-09-05 12:06] sll552 commented on #1542
Thanks for the workaround.

For this usecase (bundled and managed by argo-cd) it would be better to have the CA inside the ConfigMap, but I guess for everyone else a file would be better.
Unfortunately the argo guys weren't that fast with responding to my issue so I don't know if they will be trying to fix this on their side.

[2019-09-09 13:07] kenperkins commented on #1476
This is also something I'd love to know if we can do. Would contributions on this topic be welcomed?

[2019-09-09 13:17] srenatus commented on #1476
Sure! 😃 At this point, however, I wonder if we shouldn't take a step back and change how connectors that supply dex with groups work. We've got the group filtering logic in a few connectors -- maybe it should be refactored out of them, in to the handler instead? Then, it would be straightforward to extend this feature to all connectors in a homogenous way. What do you think?

[2019-09-09 13:21] kenperkins commented on #1476
Any time we can provide a generalized solution that works across connectors, that would be great. Something like a group filtering interface that some connectors could then implement?

[2019-09-09 13:24] srenatus commented on #1476
I'd thought that the connectors would expose a bit of their configuration -- the whitelisted groups -- and the handler code could, after the identity has been provided by the connector, run the filtering steps for the identity's groups against that list...

**But** I haven't looked deeper into this, maybe there's a more elegant way 😄

[2019-09-10 12:50] srenatus commented on #1414
Github Actions became available. We just need a brave soul to create the yaml spec for running stuff there. 😃

[2019-09-10 12:50] srenatus commented on #1469
Looks stale. Please reopen if this is an issue for you still. 😃

[2019-09-10 12:50] #1469 closed

[2019-09-10 14:44] kenperkins commented on #1476
I took a look at the group filtering in GitHub and LDAP, and there's a fail amount of complexity in both of those relative to SAML. GitHub has two tiers: Orgs and Teams, LDAP has a group search with optional filter.

Perhaps you're thinking that after the connector specific logic to "get" the groups for a given user, you could have a handler that filters based on a normalized representation of the

[2019-09-13 08:58] Teeed commented on #1114
Adding link to pull request here: https://github.com/dexidp/dex/pull/1407

[2019-09-13 17:49] jangrewe commented on #1421
But that API doc says:

So what is actually the "best practice" to create clients, the YAML or the API?

[2019-09-13 17:56] srenatus commented on #1421
I suppose the answer depends on your use case. Do you _need_ dynamically created/updated/deleted clients, or is it good enough if the service config drives that? It's all about trade-offs, I'm sorry our docs aren't good guidance for this 😅

[2019-09-13 18:02] jangrewe commented on #1421
Okay, so that sounds like it doesn't really matter, both methods are _stable_ and don't have any major drawbacks (only their specific inherent advantages)? Then i'll stick to the YAML, for now.
Thanks! 🙂

[2019-09-13 18:03] srenatus commented on #1421
@jangrewe I'd say that's accurate. There's some work in progress/planned about changing the gRPC API a bit, but that is likely to become a new API version. Nothing's about to change wrt the config format, I suppose.

[2019-09-17 18:18] nwandj commented on #1466
Hi,

Do you found a fix about this ?

Thanks,

[2019-09-18 13:13] mvijftigschild opened #1546 "Central revocation of refresh tokens"
This issue has similarities with https://github.com/dexidp/dex/issues/1203
However, that issue has no solutions since the poster found a workaround

Our situation:
We use Dex to have our developers get CLI access to Kubernetes with a combination of:
* Dex
* Dex connector to ldap
* Kubelogin

We are currently not using refresh tokens, but all it would take for someone to get a refresh token is to a

[2019-09-18 22:07] ravjeetsinghb opened #1547 "TOTP support"
I could not find TOTP integration for dex? Does it support or can the feature be included in future releases?

Thanks

[2019-09-19 16:45] Martin-Weiss opened #1548 "Q: Fault tolerant LDAP connection?"
Is it possible to configure dex in a way that is connecting to one LDAP server and in case that is not reachable fail over to a second LDAP server?

I.e. in Active Directory environments fail-over is required if one domain controller gets updated / rebooted - during that period of time the LDAP/AD clients need to fail over to a second one which is providing the same data for fault tolerance and sc

[2019-09-19 19:15] elieser1101 opened #1549 "dex service accounts"
Q: Hi, i'm new to dex and auth in general, i wan to know if there is a feature like "service accounts" in dex?

my use case is need to authenticate apps or a cli tool without web redirecting

[2019-09-21 05:43] bonifaido commented on #1548
Have you considered using a tcp Load Balancer for this?

[2019-09-23 07:09] acarsercan commented on #1466
Unfortunately no, given up and using aws authenticator to give access

[2019-09-23 07:38] Martin-Weiss commented on #1548
Yes - but - in case of "load balancer" this requires additional complexity in the architecture and many "on premise deployments" just do not have load balancers between k8s and the Active Domain controllers networks. Also LDAP fault tolerance is similar like DNS fault tolerance - handling the failure is on the client side per design..
For AD connectivity it might even be required to honor Sites an

[2019-09-24 09:11] bonifaido opened #1551 "Question/Proposal: GitHub orgs not returned without teams in orgs when filtering"
Currently, when org filtering is enabled in the GitHub connector organizations without teams are skipped from the returned `groups` scope. Example configuration, which returns (my-org has no teams defined) an empty `groups: []` list in the ID token:

[code]

The code which does this filtering:

[code]

[2019-09-24 09:56] FOTempel opened #1552 "UserInfo endpoint only providing very basic info"
I'm trying to hook Rocket.Chat to DEX as OAuth provider. Rocket.Chat expects an /userinfo endpoint. I'm able to succesfully authenticate through DEX with the SAML backend, but I'm unable to get anything useful out of it as Rocket.Chat doesn't get the additional information it needs from the /userinfo endpoint. All I get as "identity response" (according to Rocket.Chat) is:
`server.js:212 CustomOAu

[2019-09-24 10:31] FOTempel commented on #1552
Nevermind. It all had to do with scopes. Hah!

[2019-09-24 17:14] yanniszark opened #1553 "web templates: use relative URLs for static assets"
Hi all,
first of all I'd like to thank you for this great project.

While using Dex I noticed that the page's static assets are fetched using an absolute URL vs a relative one:

https://github.com/dexidp/dex/blob/8427f0f15cbc870e275b429dd8afaa69b61b8d1d/web/templates/header.html#L8-L10
https://github.com/dexidp/dex/blob/8427f0f15cbc870e275b429dd8afaa69b61b8d1d/server/templates.go#L142

This makes

[2019-09-25 02:12] jasonrita commented on #32
Based on PasswordConnectors, all clients only need to log in once, is this function implemented?

[2019-09-25 08:09] bonifaido commented on #1548
The current LDAP Go client in Dex is not capable of handling such scenarios, so we would have to implement some custom reconnection logic.

There is no such cache in the LDAP connector, if the server is unreachable it is not possible to login.

For a load balancer, I would put a [HAProxy](https://discourse.haproxy.org/t/good-setup-for-ldap-backend/2293) or a [NGiNX](https://docs.nginx.com/nginx/ad

[2019-09-26 12:13] yanniszark commented on #1553
/cc @srenatus
What do you think about using refering to those assets in a way relative to the current page's path?

eg
top level pages would specify `../assets/main.css`
2nd level pages (eg /auth/{connector}) would specify `../../assets/main.css`

The issue is that all pages use the same header template, so we need a way to propagate that information to template generation.

I am able to dedicate

[2019-09-26 17:14] srenatus commented on #1553
Does it? I think the usual thing to do is to reverse-proxy `ISSUER-URL/dex` to dex, so it wouldn't matter. 🤔

However, the first point notwithstanding, you're right here, I think.

Sure! 😃 It seems like a decent improvement, although I'm not convinced that it would unblock that many scenarios. 😉I might just be missing something here.

[2019-09-26 18:36] yanniszark commented on #1553
Thanks a lot for the feedback @srenatus !
To give you a better view of the current problem, consider the following:

* A user navigates to `example.com/dex` and logs in.
* A user navigates to `localhost/dex`, which is reverse proxied to `example.com/dex` (like port-forward in Kubernetes). Since the login page requests things from `examples.com/dex/assets/main.css` and not from a relative `../../as

[2019-09-27 16:00] daenney commented on #352
I'm going to focus my response on FIDO2 here since I'd be up for contributing code to make FIDO2 happen.

Looking at supported connectors, most already support MFA in some form. If you use GitHub for example and have MFA on your account, you'll get prompted for it based on if GitHub decides it's necessary (and you can enrol a FIDO2/U2F key with them). The same holds for just about any connector in

[2019-09-30 17:00] milanshergill commented on #1080
Any updates on this? Does the static user configuration support groups now for POC?

[2019-10-03 09:49] #1553 closed

[2019-10-06 00:08] sagikazarmark commented on #1076
It could either go under `federated_claims` or a separate `login_name` claim could be added to the list of non-standard names. I think it's common enough to reference users by a string identifier that's not opaque and not an email address.

That being said, `login_name` should probably be an optional claim as I imagine not all providers can support it.

[2019-10-06 09:41] sagikazarmark commented on #1076
Even better: use the `preferred_username` OIDC claim.

[2019-10-07 14:50] yanniszark opened #1561 "ux: improve handling of invalid requests"
Hi all, thanks for the amazing project that is Dex.
While using Dex, we saw the following UX issue with many of our users:

**What happened:**
Hitting back in the browser will give back a cryptic `User session expired` message, leaving the user thinking what went wrong.

**What I expected to happen:**
I expected the user to be redirected back to my application.
If the user is logged in, they will

[2019-10-07 20:59] Swetad90 opened #1562 "Mandate Group Search Condition in Dex LDAP Coonector"
I am using Dex as our Identity provider and connecting it to LDAP. Below is my ldap config in Dex:

    connectors:
    - type: ldap
     id: ldap
    name: LDAP
    config:
      host: myhost.staging.com:636
      insecureNoSSL: false
      insecureSkipVerify: false
      bindDN: cn=prometheus-proxy,ou=serviceaccounts,dc=staging,dc=comp,dc=com
      bindPW: 'prometheus'
      rootCA: /etc/dex/lda

[2019-10-09 09:43] phozzy opened #1564 "Use dns SRV records to find etcd endpoints."
Current implementation requires to manually define etcd endpoints in dex configuration: https://github.com/dexidp/dex/blob/master/Documentation/storage.md#etcd
That is not really flexible.
At the same moment etcd supports dns SRV records for discovery of endpoints for peers and clients: https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/clustering.md#dns-discovery
I would be nice i

[2019-10-11 13:24] bonifaido commented on #1076
My attempt to get this feature into master: https://github.com/dexidp/dex/pull/1566

[2019-10-16 12:10] geruetzel commented on #1548
I agree with @Martin-Weiss - we all know how to loadbalance services, but such a setup is not possible in every scenario. it would be really great, if dex would support multiple ldap-servers per connector.

[2019-10-16 12:22] Martin-Weiss commented on #1548
In the meantime I did some research and found some "ideas" to work around this problem - but non of the ideas seems to be production ready nor fulfill all requirements i.e. regarding LDAP target health checks.

Basically we could do
a) configure service with custom outgoing endpoints
   -> easy to configure, but no ldap health checks
b) sidecar load balancer for outgoing connections
   -> complica

[2019-10-17 07:11] phiremande commented on #1548
I am new to this code base. But with an initial look at the code, I am thinking this request can be satisfied by implementing a new connector called 'ldap_cluster' (or similar) which reads configuration into an array of config items. I can give it a try if you think this is acceptable.

[2019-10-17 08:21] bonifaido commented on #1548
I have also checked the LDAP client since it can't handle multiple addresses I agree that we would need something like @phiremande suggests. I'm okay with such a change!

[2019-10-17 08:27] phiremande commented on #1548
Thanks @bonifaido. I will try to come up with the changes needed.

[2019-10-22 09:41] ffdybuster commented on #1076
It would really be great if #1566 could get merged soon. It is exactly what I need (for LDAP) and which I tried to work around most of this morning...

[2019-10-28 08:49] andrewwebber commented on #1309
@srenatus @sdollison thank you so much for posting the answer to this issue

[2019-10-29 22:32] creation-shin-chan opened #1575 "Is it save to use letsencrypt certs?"
This is more like a question.

I use ingress-nginx + cert-manager to obtain letsencrypt certs for http access and I configured dex with config like below
[code]
tls.crt and tls.key are self-signed generated by [gencert.sh](https://github.com/dexidp/dex/blob/master/examples/k8s/gencert.sh).
It seems like working as expected but I don't need to add `--oidc-ca-file` parameter to kube-apiserver. Authe

[2019-10-30 12:25] #1076 closed

[2019-11-02 11:23] lohmag opened #1577 "`expire_in` is not configurable"
https://github.com/dexidp/dex/blob/master/server/server.go#L75

I use dex with LDAP provider and 24h interval is too low for everyday use. Even the people who work with k8s every day needed to recreate it almost every day. And this interval is not configurable at all.

[2019-11-02 12:59] bonifaido commented on #1577
Please check https://github.com/dexidp/dex/blob/master/examples/config-dev.yaml#L38

[2019-11-02 13:38] #1575 closed

[2019-11-02 13:39] #1577 closed

[2019-11-05 10:22] stevendanna opened #1578 "Can't depend on latest dex with Go modules"
If you depend on `github.com/dexipd/dex`, the Go modules system will currently pin you to `v2.13.0`.

It picks up this old version because that is the last version in which dex _wasn't_ using Go modules.  It does this because two other rules in the Go modules systems make the newer version unusable. Since Dex has opted in to modules, Go modules assumes that v2 should be in the import path somewher

[2019-11-07 13:18] deschmih opened #1580 "helm [stable/dex] Cannot override config.connections in subchart"
I use for installation of dex `helm v3.0.0-beta.4`, `stable/dex` from https://github.com/helm/charts/tree/master/stable/dex and a `customize-value.yaml` to add multiple-connectors.

The `customize-value.yaml` to add this connectors is in style like this:
[code]
The installation succed, but I get an warning that `connectors` is not map!
[code]
 And this is ture. Connectors in `stabel/dex` `values.y

[2019-11-07 13:37] deschmih commented on #1580
@rendhalver Can I address this issue direcly to you?
I have seen in #1192, that you had some activity to bring this to helm hub.
I would be nice to have issue this fixed.

[2019-11-07 18:56] gabibbo97 commented on #1580
Hi, I have a PR that was merged today https://github.com/helm/charts/pull/17682 that attempted to fix this, let me know if it worked

[2019-11-08 05:42] deschmih commented on #1580
@gabibbo97 It works fine for me. Thanks.

[2019-11-08 05:42] #1580 closed

[2019-11-08 11:12] foreversunyao opened #1581 "dex ldap demo || ldap_bind: Invalid credentials (49)"
Hi ,
    I am new here, and I did example for ldap according to https://github.com/dexidp/dex/blob/master/Documentation/connectors/ldap.md

    When ldap and example-app was running, I ran below command  with password "admin" , but it failed .
[code]
    And also for the website portal demo(janedoe@example.com/foo), it failed as well.
[code]

    I don't know if I missed something...
    Thanks fo

[2019-11-12 15:50] dinfer opened #1582 "How to claims to claims before login?"
I need to set some info to claims before login, and use it across all services. For example, when login into the service, the user must select which role he login as, maybe admin, manager or staff. Not all information is setup after login.
Is there a way to archive this goal without change the dex source?

[2019-11-19 13:50] danielsand commented on #1065
Hey Guys,
we really would love to see this happen. <3

[2019-11-19 16:39] #863 closed

[2019-11-19 19:34] jmwilkinson opened #1587 "dex.io in log file"
In deploying this I see the following in the log:

[code]

But dex.io is some kind of cryptocurrency exchange. So what is going on here?

[2019-11-19 19:41] bonifaido commented on #1587
What do you mean by deploying this? How did you deploy dex? Issuer is a configurable value and it should be your domain.

[2019-11-19 22:02] jmwilkinson commented on #1587
@bonifaido Oh, that clarifies things a bit. I was using a Helm chart. Very strange default value. Is the helm chart maintained by this project?

[2019-11-20 08:23] bonifaido commented on #1587
Really good question! @srenatus @JoelSpeed do you know if the chart in the community repo "belongs" to us?

[2019-11-20 08:53] srenatus commented on #1587
🏓@whereisaaron https://github.com/dexidp/dex/issues/1192

[2019-11-20 20:04] mjbludwig opened #1588 "OpenID Connect authentication mapped against ldap then sent to application"
Hi All,

I apologize for the rather specific question but I have not found a clear answer to the plausibility of this flow in the documentation.

Is it possible to use one or more Dex instances to fit this authentication flow:

1. Unauthenticated user goes to main app site
2. site redirects user to Dex instance for authentication (app connects to Dex using OpenID Connect protocol)
3. Dex then redi

[2019-11-24 05:52] CamelCaseNotation commented on #1524
This issue seems relevant enough for me to ask this question: when do AuthCode and AuthRequest resources get created, and what exactly do they correspond to?

If I authenticate with GitHub successfully, and Dex sends me to the redirect URL, what new resources have been created in the cluster by Dex?

[2019-11-27 12:22] #866 closed

[2019-11-27 20:54] wedow commented on #1484
@onatm is this something you're still interested in exploring? I'd like to take a stab at it based on your WIP branch as this is currently my only blocker in adopting dex.

[2019-11-28 13:25] primeroz commented on #1292
We just got hit by this issue pretty bad using the kubernetes storage backend.

In one of our cluster we ended up with **260K** object for `authrequest.dev.coreos.com` CRD causing loads of problems as you can imagine

[2019-11-29 05:40] jenting commented on #1548
A workaround is to add multiple LDAP connectors from config.

[2019-11-29 07:23] Martin-Weiss commented on #1548
I assume you mean configure two identical connectors and give them different IDs so that each user and group is available via two or three connectors?
Have you tested this?
How long is the failover in case there is such a duplicate config and the first one does not work?
Does this also work well with oicd / gangway?

[2019-11-29 07:52] geruetzel commented on #1548
This does NOT work, as you are presented with the option to click and choose each connector upon logging in. If one of the connector backends is not available, it would not change anything. You still have to choose which connector you want to use during login. If the first one does not work, you would have to click the second connector. So this is NOT a solution to the given problem.

[2019-12-01 01:40] vniche commented on #803
Is this still true for quay.io/dexidp/dex:v2.21.0? Could not find `/etc/dex/cfg/config.yaml` in this image version 🤔

[2019-12-02 08:34] onatm commented on #1484
@wedow I ended up implementing my own implicit flow only OIDC provider with opinionated identity management - you can see it [here](https://github.com/onatm/heimdall). If we can agree on an implementation w/ the maintainers of this project I can help in implementing this feature.

[2019-12-04 14:21] dskatz commented on #1065
Now that Dex v.2.21.0 has been released with both Refresh Tokens and Groups claims, is this still an issue?  And if not, could the flag "insecureEnableGroups" be renamed  "enableGroups"?
(Referenced PRs: #1180, #1185, #1434)

In the use-cases that I am testing, groups claims are refreshed pretty quickly < 3 minutes in most cases which satisfies requirements.  From my perspective there does not see

[2019-12-04 17:20] IngussNeilands commented on #1474
We use DEX with multiple clusters - and dex-k8s-authenticator to generate kubeconfigs
It would be nice to have cmd login plugin for kubectl ;)

[2019-12-05 18:38] phiremande commented on #1548
@Martin-Weiss, have been making slow progress on this. Please see https://github.com/phiremande/dex/tree/feature-ldapcluster and check https://github.com/phiremande/dex/blob/feature-ldapcluster/examples/config-ldapcluster.yaml for example configuration.
I have done some basic testing with 2 ldap servers in the cluster with Login/Refresh. I am yet to write UT code.
In case you wish to, please do cl