[2017-05-21 23:03] matthubb opened #950 "Active Directory LDAP"
I've made modifications to `ldap.go` to make use of Active Directory features.

Specifically:
- Checking that the `userAccountControl` attribute on the user entry doesn't have the `ADS_UF_ACCOUNTDISABLE` flag set.
- Reading `tokenGroups` attributes by searching at the base of the userDN, which returns the `objectSid` for groups and then looking up the group names by these objectSids. `tokenGroups`

[2017-05-22 08:42] c-knowles commented on #839
Could the connector make a call to one of the APIs from https://developer.github.com/v3/users/emails/ in this case? That requires the same `user:email` scope that is already used so it'd just be another call like the `/user/teams` one that is already there.

[2017-05-22 11:41] fabxc commented on #778
I'd recommend adding the debug pprof endpoint – we have it in Prometheus and it's pretty helpful. In general, client_go also comes with a default go collector that exposes all runtime internals (i.e. pprof metrics) we can gather. That's extremely helpful as well.

[2017-05-23 00:52] robszumski opened #952 "Improve handing of expired auth page, where the token is invalid after a short period of time"
I think there is an easy fix to the following situation:

1. Have a valid session
2. Open Tectonic Console and leave it in a tab
3. Time passes, then the Console's session expires, redirecting you to login page
4. The token in the get parameter is only valid for X minutes
5. Switch to the tab after X minutes, input your credentials, and get an error

This is super frustrating as you have no idea t

[2017-05-23 00:58] ericchiang commented on #952
Related https://github.com/coreos/dex/issues/646

[2017-05-24 17:25] rithujohn191 commented on #839
@c-knowles that would still not help if the user has explicitly marked their email as private in Github. The API call would still not be able to view the value.

[2017-05-24 17:29] rithujohn191 commented on #950
Thank you for reaching out @matthubb. We would love to review what you have. For now you could just add it as an extension to the LDAP connector itself and enable active directory specific features via flags in the config struct.

I am still a little unclear how these additions are different from specifying them in the LDAP query itself. Might make more sense once I get a look at the code

[2017-05-28 11:29] SongGithub opened #953 "Enable the example working inside containers"
Currently users who want to try out the examples must install dependencies. It would be better and easier for users to use Docker-Compose to get it up and running by simply `docker-compose up`?

I add a docker-compose.yml file which pulls the latest Dex image, and orchestrates the example-app and dex to talk to each other.

[2017-05-29 12:03] jap1968 opened #955 "LDAP binding with end user credentials"
I am performing some tests in order to evaluate whether dex can fit in our working environment.
What I pretend is to use the LDAP connector, but we do not have access to an administrative user to perform the binding step. I would like to know if the binding can be done using the credentials of the end user who is trying to authenticate in the system.

Could this be achieved? What should be the val

[2017-05-30 13:41] DusanKasan opened #957 "Support 'email_verified' for local connector"
When using the local connector, it could be beneficial to also store a boolean value for 'email_verified'. The fact Dex does not store this now is a problem when you are using the local connector and your registration flow contains the email verification.

## Proposed changes
- Add `email_verified` boolean field to password table
- Update the gRPC API to reflect this
- Show an error on login when

[2017-05-30 18:18] alekssaul opened #958 "Authentication issues when user is a memberof large set of groups"
Seeing issues where dex is not able to authenticate the user into tectonic-console when the user is a member of large number of groups.
Came across the issue while troubleshooting a customer cluster and can reproduce it in my lab against Active Directory 2008. For me the tip over point seem to be around 158 groups that the user is a member of.

Tectonic-console shows
[code]
tectonic-lb shows
[code

[2017-06-01 17:56] stijndehaes opened #959 "Google open id HD param"
The google open id specification specifies the follow hd-param: https://developers.google.com/identity/protocols/OpenIDConnect#hd-param

This parameters allow you to specify for which domain users can log in. I can not find how to configure this in dex. I think however that this param is google specific so maybe that's why it is not used? I would love to use it to make sure that only user from our

[2017-06-05 18:24] colhom opened #962 "warning for bcrypt hashing cost"
This refers to bcrypt hashes provided for static password login via the local connector.

Bcrypt password hashes generated with too many rounds can cause the `auth/local` call to take many seconds, an even timeout. As of now, there's no indication as to what the reason for the timeout is.

It would be nice if dex detected and printed a warning to logs if:

* bcrypt hash generated with > 12 rounds

[2017-06-06 07:18] liubog2008 opened #963 "Add session management support"
[https://openid.net/specs/openid-connect-session-1_0.html](https://openid.net/specs/openid-connect-session-1_0.html)

Does dex plan to support it?

[2017-06-06 18:46] rithujohn191 commented on #963
Hi @liubog2008 ,

This sure will be a useful addition, but it is currently not on our immediate roadmap.

[2017-06-06 18:52] rithujohn191 commented on #962
Hi @colhom,

Could you please share the exact error message you saw during the timeout?

[2017-06-06 18:56] rithujohn191 commented on #959
Hi @Steniaz ,

As of now we do not support the optional hd-param in our [OIDC connector](https://github.com/coreos/dex/blob/master/Documentation/oidc-connector.md) and it is not on our road map. However we would be more than happy to review a PR for this change if you can submit one.

thanks

[2017-06-06 19:03] rithujohn191 commented on #957
Hi @DusanKasan ,

Thank you for your suggestion. Are you proposing that the actual email verification would be handled on your client's end and Dex would only store the Boolean info of if the email is actually verified?

[2017-06-06 19:36] colhom commented on #962
@rithujohn191 hello! There is no error message for this, the local connector will just take a very long time to verify a password. One way this problem pops up is the `/auth/local` POST request taking a very long time, possibly up to the point of causing an HTTP timeout.

[2017-06-06 20:27] DusanKasan commented on #957
Yes, @rithujohn191. I think keeping just a boolean flag on dex and handling it from a separate client via the gRPC API is in the spirit of Dex 2.0 (just like registration is done). What do you think?

[2017-06-06 21:58] joshrosso commented on #940
@rithujohn191 @ericchiang I've verified this after upgrading to `v1.5.6`. I believe this can be closed. Details on my steps below.

kubectl version
[code]
no extra scopes
[code]
console version update
before:
[code]
after:
[code]
extra scopes now exist
[code]
specifically containing the following scopes:
[code]

[2017-06-06 22:05] blakebarnett commented on #940
Yes, verified working for us.

[2017-06-06 23:15] rithujohn191 commented on #940
Thanks guys!

[2017-06-06 23:15] #940 closed

[2017-06-06 23:43] rithujohn191 commented on #957
That sounds very reasonable @DusanKasan, and I am sure it would benefit others too. I think we just need to make sure that this feature is not turned on by default. I would be more than happy to review a PR for this change.

[2017-06-07 08:15] DusanKasan commented on #957
The relevant PR is https://github.com/coreos/dex/pull/960. Could you take a look?

Also a bit off-topic, what do you think about adding phone login via "phone_number" and "phone_number_verified" (standard OIDC claims) in a followup PR? Basically introduce a new "phone" connector that would be pretty much the same as "password" connector and would have the same gRPC API as for "passwords" and such.

[2017-06-07 15:59] andybrucenet commented on #942
In case anyone else comes to this problem (which I also have):
`echo '[base-64-id] | base64 --decode -i - | perl -pe 's/([\x00-\x20\\]+)/ /g' | awk '{print $1}'`

That at least gives me the user ID. The format of the base64-encoded variable is kinda unexpected; there is:
`[LF][Ctrl+F]user-id[Ctrl+R][Ctrl+Q][connector-id]`

As an example:
`echo 'CgZhYnJ1Y2USEWxkYXBfaGxzZGV2X2xvY2Fs' | base64 --deco

[2017-06-07 16:58] ericchiang commented on #942
dup of https://github.com/coreos/dex/issues/892

[2017-06-07 17:16] rithujohn191 commented on #942
@andybrucenet ,

We use this particular format because a combination of the Connector ID and UserID (https://github.com/coreos/dex/blob/master/server/oauth2.go#L269-L274) returned by the connector are used for unique identification. I will go ahead and add some documentation to clarify this.

@blakebarnett ,
Would the solution proposed in https://github.com/coreos/dex/issues/892#issuecomment-29397

[2017-06-07 18:05] blakebarnett commented on #892
What would the output in the API server logs be?  We'd just like to be able to search logs for usernames, preferably by `username` in the ldap userSearch.

[2017-06-08 13:07] DusanKasan commented on #926
I need this. Can do PR, any pointers as to how to implement it?

[2017-06-09 07:35] liubog2008 commented on #963
Hi @rithujohn191 ,
So how can I log out from dex?

[2017-06-09 17:49] rithujohn191 commented on #963
@liubog2008 ,

When an end-user is authenticated in Dex, they login via a connector (GitHub, LDAP, etc). Users are never "logged into dex" and thus Dex can get away with not handling the session management. Every time the user hits the logout button, they always have to re-login using the same process. As of now we don't have a mechanism in place to "remember the user" after they login. We have an

[2017-06-12 06:19] Steniaz commented on #959
@rithujohn191 Ok thanks for the help :) I'll see if I can do something in the coming weeks.

[2017-06-12 17:46] rithujohn191 commented on #959
Great thank you :)

[2017-06-13 01:03] philips opened #964 "improve error message for callback URL mismatch"
https://github.com/coreos/dex/blob/6146e2339645aa5c8270b6440d919ebb1469ba17/connector/oidc/oidc.go#L138

Please print out the expected and retreived. Very annoying to debug w/o this.

[2017-06-13 01:27] philips opened #965 "Connector: AWS Cognito User Pool Support"
I attempted to create an [AWS Cognito User Pool](http://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-assign-domain.html) and access it via the OIDC connector. This didn't work as it seems the Cognito IdP isn't OIDC compliant. Here is what I attempted:

[code]

[code]

[2017-06-13 01:45] chancez commented on #965
After a lot of digging in the docs,  I could only determine they might not support OIDC as an authentication flow, only SAML and regular OAuth2. But they do support federating to an OIDC provider, just not being one.

[2017-06-13 01:50] chancez commented on #892
For what it's worth, what `auth0` does is they just concat the `connectorID` + `|` + `userID`.

[2017-06-13 02:19] ericchiang commented on #892
I would strongly encourage we add an additional scope (or set of scopes) and surface this as a claim. Please don't rely on the sub field's encoding.

[2017-06-13 02:25] chancez commented on #892
And also, the regular userID for the given connection is in a non-standard `identities` claim like so:

Ex:
[code]

The `sub` here could be `auth0|593f4610f8a34140059a5c95` or `google-oauth2|110272483197731336751`. The value used is whichever the first userID was before the identities were merged within auth0.

The auth0 token also has a `user_id` claim which is the same value as `sub`, which is t

[2017-06-13 06:11] dolanor opened #966 "All tags on quay.io have vulnerabilities"
Hello,

on the tag page, all tags have vulnerabilities. I guess we need a full rebuild of all the tags to avoid that.
https://quay.io/repository/coreos/dex?tab=tags

[2017-06-13 06:20] ericchiang commented on #966
Hi @dolanor

All the vulnerabilities reported by Quay are zlib bugs, which dex doesn't compile against. None of these actually impact dex.

We should update our base image for good measure, but "All tags on quay.io have vulnerabilities" is going a bit far.

[2017-06-13 22:59] #964 closed

[2017-06-13 23:05] rithujohn191 commented on #963
@liubog2008 if you are satisfied with this answer do you mind if I close out this issue?

[2017-06-13 23:10] ericchiang commented on #958
This is going to be hard to change without modifying how the Kubernetes API server talks to dex. For what it's worth I wrote up some thoughts about this here:

https://docs.google.com/document/d/1uMBo9dkQozaZn25NzsL_bklONCzLPtXeXIhteD2t_dE/edit#heading=h.42fbd5ovbir

Since that proposal is a big change, I don't foresee us being able to take immediate action on this. Maybe we can error out sooner w

[2017-06-13 23:10] rithujohn191 commented on #957
Thank you @DusanKasan. Sorry I have been swamped, I'll take a look at your PR soon.

Login via "Phone Number" is not really a popular request and adding another connector would also mean more work maintaining it, so unfortunately at this time we don't plan on adding that feature.

[2017-06-13 23:12] rithujohn191 commented on #944
Closing out this issue for now. Please feel free to re-open if you have more concerns.

[2017-06-13 23:12] #944 closed

[2017-06-13 23:59] ericchiang opened #968 "Publish and version dex's configuration format"
A very common task when using dex is dynamically re-configuring it. Users install dex with static users then migrate to other connectors like LDAP. Doing this manually is often error prone but automating this process is hard without lots of YAML-foo.

Dex should take inspiration from Kubernetes' component config concept and start treating its configuration as a API that higher level config managem

[2017-06-14 22:00] Calpicow commented on #892
Ok sounds good. Should we automatically include the uid claim or make it a request-able scope?

[2017-06-15 06:54] liubog2008 commented on #963
Sorry for late reply @rithujohn191

I can't understand it well enough.

I have read #32 . Maybe you misunderstood me. In fact, what I hope to know is how to invalidate an IDToken (logout), not SSO.

[2017-06-15 15:03] marcosterland commented on #892
@Calpicow
I think the uid should be included by default. I'm working on a Meteor app which uses the LDAP connector and currently I can only guess the uid from the email.

[2017-06-15 16:06] ericchiang commented on #963
@liubog2008 I don't get the motivation for implementing that spec. It seems to be "check to see if the end user for this ID token is still logged in." Dex doesn't implement any session management or track that information, so users are never really "logged into" dex. E.g. there's no way for a user to logout.

If you want this kind of behavior, set the ID token expiry to something extremely short (

[2017-06-15 16:12] philips commented on #965
@ericchiang says the `token_endpoint` field is missing per the OIDC spec.

[2017-06-15 16:13] philips commented on #965
This is what dex's openid-configuration looks like for context:

[code]

[2017-06-15 17:18] ericchiang commented on #892
A more general feature request was added here: https://github.com/coreos/dex/issues/552

Ideally any solution to this would address the larger issue of mapping arbitrary LDAP attributes into the ID token claims. If this is scope based, it should be optional, but it could also be part of the LDAP connector configuration. I don't like the idea of just always including the `dn` because other use case

[2017-06-15 17:29] Calpicow commented on #892
Made a first stab with #970. I think the LDAP connector should be responsible for returning the desired value for UserID instead of thinking of an elaborate solution to make it work.

[2017-06-16 14:06] marcosterland commented on #955
If your LDAP can only be queried by an administrative or service user, you have to specify this in `bindDN` and `bindPW`. You have to specify the user in `bindDN` in LDAP style (e.g.: `cn=admin,dc=acme,dc=edu`).
If your LDAP doesn't require credentials for queries, you can comment out those two parameters.
You can test your settings pretty well with the command `ldapsearch`:

[code]
Just specify y

[2017-06-16 23:40] rithujohn191 commented on #965
Yep writing a custom connector for it seems like the way to go.

[2017-06-17 08:17] liubog2008 commented on #963
OK，thanks for your reply @ericchiang

[2017-06-17 08:17] #963 closed

[2017-06-20 15:49] kkohtaka opened #973 "Refresh token become invalid after the same user requests authorization"
It looks a refresh token become invalid after the owner of the token requests to be authorized, even if the request was sent from another machine. Is this a correct behavior?

If this is by design, how can we implement an application which can authorize the same user from multiple machines?

**Repro steps**:

1. Check out the master of the repository and build dex and example-app.
2. Add your stat

[2017-06-21 06:07] roguePanda commented on #959
I saw that it had been a while and needed this for my own purposes, so I put together a quick PR (#974). Let me know if it works for your use case @Steniaz!

[2017-06-21 09:55] Steniaz commented on #959
@roguePanda Had a short look at your PR, this is exactly what I need thank you! Hopefully this can be merged pretty fast :)

[2017-06-21 16:01] tfluehmann commented on #947
+1 I have the same issue with google
go_projects/src/github.com/coreos/dex$ bin/dex version
dex Version: 15242a86b83058d0b3409a304320878006e1c3c6
Go Version: go1.8.3
Go OS/ARCH: darwin amd64

[2017-06-21 16:45] rithujohn191 commented on #947
@tfluehmann have you followed the instructions [here](https://github.com/coreos/dex/blob/master/Documentation/gitlab-connector.md#configuration) to register your app with gitlab? Do the callback URLs match?

[2017-06-21 17:03] rithujohn191 opened #975 "Add detailed connector tests"
We do not have tests for github and gitlab connectors. We also need to add more unit tests to the existing oidc connector tests.

[2017-06-21 18:05] Calpicow opened #976 "Key rotation regression"
Running commit 15242a86b83058d0b3409a304320878006e1c3c6 with Postgres. There appears to be an issue rotating keys into the `verification_keys` column. It has worked once, but it became null this morning.

Not too much in logs, but here they are:
`0001-01-01 00:00:00 +0000 UTC` looks suspicious

[code]

[2017-06-21 21:20] Calpicow commented on #976
Looks like a regression caused by https://github.com/coreos/dex/commit/dd1e901dd99b73dfc98553595ce63567f2777870. Not returning `error` causes the rest of the code path in https://github.com/coreos/dex/blob/master/storage/sql/crud.go#L394 to execute, essentially wiping all the data since it returns an empty `storage.Keys{}`.

[2017-06-21 21:52] melignus commented on #866
@mwitkow I have a use case for this too. I might take a stab at implementing this if someone else hasn't already?

[2017-06-21 22:02] melignus commented on #866
Now that I think about it this might be justification for breaking Google out into it's own connector, google_oidc as the groups bit is going to have a lot of specific functionality? That might impact #959 and #974 as I think the "hd" is specific to Google's list of claims and would end up wrapped up in the Google specific oidc connector?

@roguePanda thoughts?

[2017-06-21 22:22] melignus commented on #866
Just read @ericchiang's document, but the user access token will likely never have this scope available to them. I think @mwitkow is referring to a side request to the `admin.directory.group.readonly` scope using a service account flow from JWT.json?

[golang.org/x/oauth2/google#JWTConfigFromJSON](https://godoc.org/golang.org/x/oauth2/google#JWTConfigFromJSON
)and
[google.golang.org/api/admin/dire

[2017-06-22 03:51] gugahoi commented on #889
What is happening with this issue? I would rather not have hardcoded secrets in my VCS and this seems like a big oversight at the moment. Alternatively could we have detailed documentation on how to achieve the same with gRPC?

[2017-06-22 04:02] pjmichael commented on #889
I agree @gugahoi. It would be very useful feature to avoid static secrets in source control and read them in from env vars

[2017-06-22 04:02] SongGithub commented on #889
I agree with @gugahoi.  To use Dex in production, we must not hard-code any sensitive information in text file. Please approve the PR! Much appreciated.

[2017-06-22 04:12] roguePanda commented on #866
@melignus I think splitting Google into its own connector makes a lot of sense. I can split my changes out from the oidc connector and leave the IAM support for another PR

[2017-06-22 04:30] rithujohn191 commented on #889
@gugahoi if documentation is what you are looking for please check out these [docs](https://github.com/coreos/dex/tree/master/examples/grpc-client)

[2017-06-22 05:21] gugahoi commented on #889
@rithujohn191 That's a good start but I cannot see why someone would go to the trouble of all of that instead of having the variables being interpolated. The instructions seem clear on `how` to do it but not on `why` would I want to go through that process. Forgive my ignorance as I am not familiar with gRPC but I still dont understand the advantage of this process.

[2017-06-22 09:22] tfluehmann commented on #947
@rithujohn191 No, I follwed the instructions here: https://github.com/coreos/dex/blob/master/Documentation/oidc-connector.md
But in the google interface I've whitelisted the callback url http://127.0.0.1:8080/dex/callback.
The downloaded JSON from google looks like this:
[code]

[2017-06-22 18:52] zihaoyu commented on #973
I think this is a duplicate of #787 . This is expected and recommended oauth2 security practice. https://tools.ietf.org/html/rfc6819#section-5.2.2.3

[2017-06-22 20:34] aryzle commented on #256
@ericchiang where is the documentation for turning on implicit flow?

[2017-06-22 23:09] rithujohn191 commented on #256
@aryzle we don't have specific documentation for it. But the [comments](https://github.com/coreos/dex/blob/9514bf9afe23640964a008bc7f4d7e8ccbbc3413/server/server.go#L50-L51) in the code point you in the right direction. Was there something specific you were looking for?

[2017-06-22 23:12] mdpradeep opened #979 "LinkedIn connector"
Will there be a LinkedIn connector? Is this something planned?

[2017-06-22 23:15] rithujohn191 commented on #979
No plans for this on the road map. Sorry.

[2017-06-22 23:18] rithujohn191 commented on #973
Thank you @zihaoyu . You are right.

Dex intentionally does this per OAuth2 security [recommendations](https://tools.ietf.org/html/rfc6819#section-5.2.2.3). It helps identify when refresh tokens are stolen. Also we limit the number of refresh tokens a user-client pair can posses at a time to 1.

[2017-06-22 23:18] #973 closed

[2017-06-22 23:22] rithujohn191 commented on #955
Thank you for the reply @marcosterland. @jap1968 if you are satisfied with this answer please go ahead and close out the issue. Thanks

[2017-06-23 01:53] tksm commented on #973
@rithujohn191 I really love Dex's security features like [Refresh Token Rotation](https://tools.ietf.org/html/rfc6819#section-5.2.2.3), but in our case this behavior is a bit of a problem.

We use Dex as a iDP for Kubernetes. IIUC, supporting only one refresh token means we cannot use kubectl on multiple machines. Is there a plan or roadmap to support multiple refresh tokens (multiple offline sess

[2017-06-23 02:33] ericchiang commented on #973
@tksm as stated in #787 we'd be open to making this configurable.

As for kubernetes, you can use a service account for minting kubeconfigs that can be used on multiple machines. We've generally recommended that for those kind of use cases.

[2017-06-23 05:02] tksm commented on #973
@ericchiang Thank you for your reply.

Refresh Token Rotation is not a problem in our case, so we don't need to turn off this function.   What do you think about supporting multiple refresh tokens per user per client?

[2017-06-23 08:49] jap1968 commented on #955
Thanks a lot for your help. Unfortunately that was just a prototype for a proof of concept and I do not have access to it anymore. Anyway, since I assume your solution solves the problem, I am closing the issue.

[2017-06-23 08:49] #955 closed

[2017-06-23 14:44] aryzle commented on #256
@rithujohn191 I've tried setting `supportedResponseTypes: ["token", "id_token"]` and `SupportedResponseTypes: ["token", "id_token"]` in the config yml file but dex still shows me "code" as the only response type

[2017-06-23 18:22] ericchiang commented on #256
@aryzle this is config field

[code]

But you're right, we don't document this. Will send a PR to do so.

[2017-06-26 19:00] rithujohn191 commented on #256
Fixed in https://github.com/coreos/dex/pull/980

[2017-06-27 00:20] metral commented on #962
We're hitting ERR_EMPTY_RESPONSE errors as of 1409.x.0 (1409.2.0 & 1409.5.0) when trying to hit the console - the issue is tracked here: https://github.com/coreos/tectonic-installer/issues/1171

Reverting back to CL 1353.8.0 works for us consistently as long as we don't update, and ultimately https://github.com/coreos-inc/tectonic-issues/issues/258 led me here.

Thinking my brcrypt password cost w

[2017-06-27 00:52] ericchiang commented on #962
@metral I'm confused, why does the container linux version matter? dex doesn't interact with the OS in any way.

[2017-06-27 00:57] metral commented on #962
Not necessarily saying it matters, just that it was the last remaining fault domain for us to test, and it ended up working when we reverted to 1353.8.0. I thought this issue was related to #1171 given https://github.com/coreos-inc/tectonic-issues/issues/258, but I suppose not.

[2017-06-28 08:13] kkohtaka opened #981 "Allow multiple refresh tokens for a client-user pair"
The current version of dex limits the number of refresh tokens for a client-user pair at a time to 1. That means we cannot support multiple offline sessions for a client-user pair.

FYI, Google supports 50 refresh tokens at a time.: https://developers.google.com/identity/protocols/OAuth2#expiration

I hope that dex allows multiple refresh tokens for a client-user pair. If we can choose the number

[2017-06-28 22:52] rithujohn191 commented on #981
Google has different refresh token limits for OAuth2 and OIDC. The current limit for OIDC protocol is one per client/user combination (https://developers.google.com/identity/protocols/OpenIDConnect)

[2017-06-29 04:20] publicvirtualvoid commented on #950
@matthubb I'd love to take a look as well, do you mind sharing?

[2017-06-29 04:22] kkohtaka commented on #981
@rithujohn191

Thanks for the information. I understood that Google is limiting the number of OIDC refresh tokens to 1 just like dex.

But my request is just to make the limit of refresh token configurable. This is in order to implement an application that support multiple offline sessions, for example from mobile and laptop clients. That behavior doesn't seem to violate OAuth2 and OIDC specificat

[2017-06-29 23:39] rithujohn191 commented on #981
Sorry for misunderstanding. Yes this would require some infrastructure re-work and is currently not on our road map but hope to support it someday.

[2017-07-04 23:23] publicvirtualvoid opened #982 "LDAP groups from Active Directory"
It seems that the LDAP connector can't currently pull group memberships from Active Directory LDAP servers because it assumes "member" fields to be populated with Uids.
In order for this to work, I must be able to set this to be the user DN instead.

It looks like someone has already made these changes but the code was never made available (#950)

I'm not very experienced in Go, but it seems like

[2017-07-05 11:33] srenatus opened #983 "SAML IdP metadata ingestion (to support SAML IdP certificate rotation)"
Currently, the SAML connector is configured using [either a hardcoded cert PEM file or data](https://github.com/coreos/dex/blob/6f2af269a1c8b0a82f6a8022a7837219395f3038/connector/saml/saml.go#L86-L88) (that [is read _once_ when the connector is configured](https://github.com/coreos/dex/blob/6f2af269a1c8b0a82f6a8022a7837219395f3038/connector/saml/saml.go#L181-L183)). IdP that rotate their signing k

[2017-07-05 22:18] rithujohn191 commented on #983
Hi @srenatus,

Currently the SAML metadata discovery is not on our roadmap but we hope that https://github.com/coreos/dex/issues/968 should handle this requirement. #968 will be picked up and worked soon.

[2017-07-06 06:05] srenatus commented on #983
@rithujohn191 thanks for the insights! :)

Btw, I believe there used to be a roadmap doc here -- Is this still something I could take a peek at somewhere?

[2017-07-06 12:44] liubog2008 opened #984 "Question about azp"
I find it that dex support `azp` in OIDC. However, if I use this feature, I could not validate my IDToken because `aud`  doesn't contains `client_id`.

I have read spec of `azp`.

OPTIONAL. Authorized party - the party to which the ID Token was issued. If present, it MUST contain the OAuth 2.0 Client ID of this party. This Claim is only needed when the ID Token has a single audience value and that

[2017-07-06 12:44] liubog2008 commented on #984
@ericchiang @rithujohn191

[2017-07-06 19:43] aryzle commented on #256
👍 thanks!

[2017-07-06 20:28] robszumski commented on #976
Encountered this on a newly booted Tectonic cluster. Restarting both pods fixed the issue. It's almost like the initial generation timed out or failed.

[2017-07-06 20:30] bkleef commented on #926
We need this as well.

@rithujohn191 could you please get back to @DusanKasan? Thanks a lot!
We've also time for this.

[2017-07-06 20:50] rithujohn191 commented on #926
Let me try and put together a design proposal for this soon.

[2017-07-06 20:51] bkleef commented on #926
@rithujohn191 awesome, thanks!

[2017-07-06 20:56] rithujohn191 commented on #976
Logs observed by @robszumski :

in the dex pods:
[code]

Also observed wrong dates for `next rotation`:
[code]

[2017-07-07 08:26] miracle2k commented on #976
Could this be the reason for https://github.com/coreos/tectonic-forum/issues/161?

[2017-07-07 08:26] matthubb commented on #950
Yes, I will do. Sorry been rather busy and it needs a little tidy up.

[2017-07-07 08:32] srenatus opened #986 "[saml] Azure AD freaks out when AuthnRequest's ID starts with a digit"
I've found that the following AuthnRequest generated by dex' SAML connector let's me login successfully:

[code]

while this one,

[code]

leads to the following error screen:

<img width="338" alt="screen shot 2017-07-07 at 10 26 21" src="https://user-images.githubusercontent.com/870638/27949667-c952c77c-62fe-11e7-8a0d-2280cfcb106a.png">

This [random, seemingly related Stackoverflow post](https:

[2017-07-07 19:01] Calpicow commented on #976
@robszumski: It's a matter of time until it happens again. The more dex replicas you run, the more likely it is to happen (but should never occur with 1 replica).

@miracle2k: Yes, when the kid of your token no longer exists in dex, kubectl is not able to refresh the token, even when the token is expired and the refresh token is still valid.

We could either revert commit dd1e901dd99b73dfc98553595

[2017-07-10 01:01] kkohtaka commented on #986
I encountered the same issue and the following PR will fix this issue.

#985

[2017-07-10 15:51] manuvaldi commented on #982
+1

[2017-07-10 20:52] sir-rob opened #988 "Authentication issue when user is a member of a large number of GitHub Teams"
This issue appears to be related to #958 except instead of LDAP groups, we are seeing this for GitHub teams.

I ran into this issue while working with a customer's cluster. They have many GitHub teams mapped to Roles via RoleBindings, and everyone was able to login fine. They mapped a new GitHub team and 2 of the new users are unable to login but 1 of the users in the new GitHub team is able to lo

[2017-07-10 20:53] sir-rob commented on #988
@rithujohn191 fyi

[2017-07-10 21:26] ericchiang commented on #988
Can we close as a dup of https://github.com/coreos/dex/issues/958 ?

[2017-07-10 21:57] ericchiang commented on #950
Can you not express that as part of your LDAP filter?

You can already customize a search based on user DN.

[code]

[2017-07-10 21:58] ericchiang commented on #982
You can already do this. E.g. the following config would match any entry with `member=<user DN>`.

[code]

Closing. Please let me know if I've misunderstood.

[2017-07-10 21:58] #982 closed

[2017-07-10 22:06] lypht commented on #988
Thanks for filing this, @sir-rob When we have users in more than 4 teams, authentication against Github fails.  We are manually creating users to address this blocker for our CI team, who are members of all products across the org.  Each of the CI team members is in at least 41 teams, significantly lower than the team total in the LDAP-referenced issue.  Feel free to close as a dup from our end, b

[2017-07-10 23:11] publicvirtualvoid commented on #982
Thank you! That worked!

[2017-07-10 23:50] ericchiang commented on #984
So I think the question is "should aud always contain the azp"? We don't automatically do that today, e.g. if you login to a web app and ask for a id token issued for a client it's possible to get claims like.

[code]

Automatically including the `azp` seems like reasonable behavior, but the current behavior also seems valid. Take a look at google docs for a similar feature https://developers.goog

[2017-07-11 07:06] srenatus commented on #986
Fixed by #985. Thanks a lot @kkohtaka 🎉 😃

[2017-07-11 07:06] #986 closed

[2017-07-11 17:51] ericchiang commented on #926
Rewording this issue. By popular demand, we're going to explore supporting the [_"Resource Owner Password Credentials Grant"_](https://tools.ietf.org/html/rfc6749#section-4.3) for password based login methods (local users, and LDAP). This grant OAuth2 clients send username and passwords directly to the token endpoint and receive a token response.

This will _not_ work for OAuth2 based backends suc

[2017-07-11 17:53] ericchiang commented on #958
As an intermediate step, we should error out if the number of groups is too large.

[2017-07-11 17:55] ericchiang commented on #988
@lypht thanks. Noted in #958 that we should error out if the number of groups is too large. Currently we expect the client to know that the ID token is too big to shove in anHTTP cookie, but console doesn't do that check. Probably safer to just throw an error on our end.

Closing in favor of #958, the older issue. Please track progress there.

[2017-07-11 17:55] #988 closed

[2017-07-12 11:24] srenatus opened #990 "Implicit grant: id_token_hint, prompt=none"
The [OpenID Connect Implicit Client Implementer's Guide 1.0 - draft 20](http://openid.net/specs/openid-connect-implicit-1_0.html) mentions in [2.1.1.1 Request Parameters](http://openid.net/specs/openid-connect-implicit-1_0.html#RequestParameters):

This would make the interaction between the user (operating a web frontend) and their IdP more streamlined:
- the implicit grants gets the UI an `id_to

[2017-07-12 14:39] matthubb commented on #950
So in order to access the flattened memberships in AD LDAP, possibly only on global catalogue ports (not sure), you need to search with a base of the group DN for an attribute of `tokenGroups`.

I don't believe this is achievable with configuration and the current code.

[code]

[2017-07-12 17:08] ericchiang commented on #950
I am extremely confused by this statement. Can you past an LDAP scheme that demonstrates your problem?

[2017-07-12 17:55] lypht commented on #958
Since #988 is closed, I wanted to update the steps we've had to take to allow some groups to authenticate with github, and others through email.  Some of our teams are rather large; updating the tectonic-identity config map manually would have been too time consuming.  I wrote the following quick hack to iterate through a list of emails in a file (i.e., users.txt) and generate the yaml necessary t

[2017-07-13 20:07] tylercloke opened #991 "Redirect URI with # character breaks parsing"
[code]

Also add `http://127.0.0.1:5555/callback/#/more_url` to the config. It will properly validate it, but on redirect, it will redirect to:

[code]

Note that `#/more_url` has been placed at the end of the redirect url for no reason. This breaks trying to redirect to angular2 endpoints.

[2017-07-13 20:19] ericchiang commented on #991
This actually looks like the correct behavior, with the query not appended to the URL fragment. If the query was just appended to the fragment, it would be part of the fragment, not the query.

Can you explain why this breaks Angular2 endpoints? Can you even provide a redirect URL with a fragment to other OAuth2 providers like Google?

[2017-07-13 21:10] tylercloke commented on #991
Oops sorry. Posted wrong. Updated my description. Url should be `http://127.0.0.1:5555/callback/#/more_url`. Was missing some `/`.

[2017-07-13 21:13] ericchiang commented on #991
@tylercloke I sitll don't understand the context. Why are you using a fragment in the URL? What is the expected redirect with a state query parameter vs. what you're actually getting from dex? What do other providers do?

[2017-07-13 21:15] tylercloke commented on #991
I'd expect the redirect URL to look like:

[code]

Instead of

[code]

[2017-07-13 21:18] tylercloke commented on #991
For more context, angular added the `#` to its routes.

[2017-07-13 21:25] ericchiang commented on #991
Per the OAuth2 spec:

   server issues an authorization code and delivers it to the client by
   adding the following parameters to the __query component of the
   redirection URI__ using the "application/x-www-form-urlencoded" format,
   per Appendix B:

(emphasis my own)

https://tools.ietf.org/html/rfc6749#section-4.1.2

While a fragment is defined as:

   number sign ("#") character and termin

[2017-07-13 21:27] tylercloke commented on #991
Ah ok, I'll work around it. Thanks for your detailed response :)

[2017-07-13 21:27] #991 closed

[2017-07-14 12:05] alexandrst88 opened #992 "http: TLS handshake error from x.x.x.x: EOF"
Hi, this is my first issue in this project, if I missed to add information, please let me know.
I'm getting this error in dex logs:
[code]
**Dex Version**: quay.io/coreos/dex:v2.4.1
**Kubernetes Version**: 1.6.2
Also, I see the same error in kube-api logs.
[code]

Also, I'm using LDAP connector.

[2017-07-14 15:55] ericchiang commented on #992
Something is probably sending an HTTP request to a port that dex is expecting an HTTPS request at. Maybe a health check?

There's not enough information here for us to know what's going on. What were you expecting to happen? What actually happened?

[2017-07-15 16:50] alonl opened #993 "Migrate from TPRs to CRDs"
Hi guys, and thanks for the great work.

Are there any plans for supporting Kubernetes version 1.7 and above?

In Kubernetes 1.7 ThirdPartyResource API (which, AFAIK, Dex uses) has become deprecated, and in Kubernetes version 1.8 it'll be removed ([see Changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#action-required)), so Dex must migrate to CustomResourceDefinition. [D

[2017-07-17 18:18] ericchiang commented on #993
Hey @alonl we've been planning this migration internally, but haven't migrated it to the open source repo yet. So yes there are plans. Thanks for opening!

[2017-07-17 18:19] ericchiang commented on #992
Closing for lack of info. Please open another issue if you think you've hit a dex bug.

[2017-07-17 18:19] #992 closed

[2017-07-18 15:15] alexandrst88 commented on #992
Sorry, indeed it was going from elb health check.

[2017-07-18 15:34] alexandrst88 opened #996 "Quesiton: Dex + RBAC"
Is there is possibility to create RBAC kubernetes group and bind it to some role(readonly for example), and then to authenticate user and grant him the same right as created group?

```I0718 15:25:48.360002       5 rbac.go:87] RBAC DENY: user "user@ldapr.com" groups [system:authenticated] cannot "list" resource "pods" cluster-wide```

This user is authenticate via app + dex -> kubernetes, but inst

[2017-07-18 18:39] ericchiang commented on #996
The oidc-groups-claim is what you want on the kubernetes side https://kubernetes.io/docs/admin/authentication/#configuring-the-api-server

The groups scope is what you want on the dex side https://github.com/coreos/dex/blob/master/Documentation/custom-scopes-claims-clients.md#scopes

[2017-07-19 12:45] alexandrst88 commented on #996
How can I pass custom claims?
[code]

[2017-07-19 14:28] alexandrst88 commented on #996
thanks, I need to pass `groups` when go to dex. It can be closed

[2017-07-19 14:28] #996 closed

[2017-07-19 18:07] #976 closed

[2017-07-21 14:46] alonl opened #999 "Bugs in Google OIDC HD (Hosted Domain) claim"
Hi guys,

Please see my comments for this already merged PR: https://github.com/coreos/dex/pull/974

I'm afraid there's a bug in the new 'Google hosted domain support' feature.

[2017-07-24 20:38] rithujohn191 opened #1001 "Add support for Google specific features in a Google connector"
There are many feature requests that are specific to Google and aren't applicable to the general OIDC providers (e.g. groups support). Separating out the two connectors provides for a cleaner implementation.

[2017-07-25 10:27] alexandrst88 opened #1004 "Quesition: How change to Token TTL?"
it there way to change token ttl or make ttl very long like half an year? Thanks

[2017-07-25 15:52] ericchiang commented on #1004
The default TTL is 24 hours. Configuration is part of the config https://github.com/coreos/dex/blob/0e0b4c53ef86a8795a6647ac47fac2855f1ad91e/examples/config-dev.yaml#L31-L34

Half a year? Ummmmm please don't do that. You should really look into refresh tokens if you want long lived access like that.

Closing since there's no bug.

[2017-07-25 15:52] #1004 closed

[2017-07-25 16:06] alexandrst88 commented on #1004
Thanks!

[2017-07-26 18:13] stijndehaes commented on #803
I have made a PR for this https://github.com/coreos/dex/pull/961

[2017-07-27 16:08] steigr opened #1006 "Support Unicode in usernames"
I've added a user-entry in DEX via local-user yaml-file:
[code]

After login in Tectonic-Console `ü` and `ß` were trashed . Trying `&ouml;` and `&szlig;` didn't fix the issue.

[2017-07-27 16:22] ericchiang commented on #1006
@steigr tested this locally and it looks like dex correctly encodes unicode in JWT claims. It seems like an issue with console's display of unicode.

Here's the JWT:

[code]

Which holds the following claims:

[code]

Let me open an issue with console.

[2017-07-27 16:37] ericchiang commented on #1006
@steigr I've gone ahead and created an issue on the tectonic-installer repo. Please follow progress there. https://github.com/coreos/tectonic-installer/issues/1517

Closing this since it appears that dex handles unicode correctly in this case. Do open another issue if you find any other issues with dex's unicode support!

[2017-07-27 16:37] #1006 closed

[2017-07-29 16:39] fabsb commented on #976
I still get this with a fresh install of tectonic v1.6.7 on AWS

[2017-07-31 18:28] rithujohn191 commented on #976
@fabsb the issue has been fixed on [Dex v2.5.0](https://github.com/coreos/dex/releases/tag/v2.5.0) which will be available by default on tectonic v1.7.1. For all other versions you will have to manually upgrade to the latest Dex version until we come up with a migration story.

[2017-07-31 20:29] #999 closed

[2017-08-01 20:15] estroz opened #1009 "Gitlab: scopes array is hard-coded"
Scopes in the Gitlab connector are [hard-coded](https://github.com/coreos/dex/blob/master/connector/gitlab/gitlab.go#L81) to give `api` level access only. The `api` scope is the most [permissive](https://gitlab.com/gitlab-org/gitlab-ce/issues/31740) which might not be desirable in some cases. The default scope should be the least permissive scope `read_user`; the application should have to specify

[2017-08-07 20:49] ericchiang opened #1017 "GitHub: support email when the email isn't public"
Per @simonbyrne's comment https://github.com/coreos/dex/pull/972#issuecomment-320718897

https://developer.github.com/v3/users/emails/

[2017-08-07 20:52] simonbyrne commented on #1017
Note that the downside is the plural: many users (including myself) have more than 1 email associated with their account.

[2017-08-09 00:20] #962 closed

[2017-08-09 15:05] Rio opened #1020 "grpc connector"
Have there been any plans/thoughts on implementing a grpc connector?
One that will just implement the `PasswordConnector` and `RefreshConnector` interfaces.
Just to make it easier for people to use Dex as a frontend for token generation and all that jazz more in line with what Hydra is doing and without needing to fork the project to have your custom connector implemented.

[2017-08-09 16:27] fforootd commented on #1020
Hi @Rio

As of today, we decided to do exactly that in an forked version of dex.
Our idea was to test it first internally and contributed it afterwards.

I will ask the guy working on the connector tomorrow about the status.

[2017-08-09 16:36] #1017 closed

[2017-08-09 16:50] Rio commented on #1020
That's great! I was just implementing it just to see how it would work. Hopefully we could pull you fork back in.

[2017-08-09 20:47] ericchiang commented on #1020
I think a pluggable connector for out-of-tree would be great. Committing to an interface is probably the biggest design hurdle here.

[2017-08-09 20:50] ericchiang commented on #1020
Out of curiosity, what provider are you trying to hook into? My general experience is that making things pluggable is good but also doesn't magically produce more development. It'd be great to understand what the current pain points are.

[2017-08-10 06:08] fforootd commented on #1020
We internally use a grpc services as part of our identity solution, somewhat like an ldap but it does only store identity's (username, password and user related data).
The reason to not use an LDAP based approach is that we use the same authentication interface for the auth process between our microservices (every microservice gets itself a token from this service)

So we thought about building a

[2017-08-10 10:13] Rio commented on #1020
We are in the process to move stuff over to a new architecture but we of course need to be backwards compatible until it's time. One of the things we're running into is not being able to extend the openid tokens with groups and what not in Dex's local password database using the grpc api.

At the same time we were thinking to not store the users in there at all and since we're going to use grpc mo

[2017-08-11 00:06] ericchiang commented on #1020
For some background, dex is committed to not becoming an user management or authorization solution. That's why so many of the "local" user objects are so underdeveloped. If we could remove them we would, but they're too important for bootstrapping.

I like the idea of letting external systems manage users without having to implement a crazy protocol like LDAP. I wonder if an establish REST based s

[2017-08-11 07:48] Rio commented on #1020
Thanks for that link, nice to see some example for user management standardization. However I think that implementing this api will push dex to a more user management function which I feel complicates things. As I noted before, it only needs to be the `Login` rpc call to be implemented and optionally also `Refresh`.

Here is an example simple protobuf spec based on the structs and interfaces in ht

[2017-08-11 08:12] Rio commented on #1020
I've commited this and generated code with a version that can complie but not run here btw https://github.com/Rio/dex/tree/1020-grpc-connector

Not sure how far @fforootd is yet but I thought it couldn't hurt.

[2017-08-11 11:31] livio-a commented on #1020
Hi @Rio

We came up with more or less the same solution. As we don't need groups at the time of login (they will be loaded later from an other grpc service), I didn't handle them for now.
For a general connector I would certainly add them as well.  Also the scopes and field email_verified could further be added.

So here's our solution: https://github.com/workshop21/dex/tree/1020-grpc-connector
An

[2017-08-11 12:45] Rio commented on #1020
I also see that `google/api/annotations.proto` is imported in `grpc.proto` but not used. You wanted to use `grpc-gateway`?

[2017-08-11 15:49] ericchiang commented on #1020
Quick point: we haven't committed to a gRPC interface so it's _way_ too early to be digging into the implementation.

As we've hit with Kubernetes, making an internal interface external through a webhook or gRPC means that it's almost impossible to change that interface in the future. For example, what if we wanted to add a new, required field to the login response? Today we could make that change

[2017-08-11 16:50] fforootd commented on #1020
Quick note:

We use SCIM 2.0 as well but it does only define the identity exchange. It
does not address things like authentification.
On Fri, 11 Aug 2017 at 17:49, Eric Chiang <notifications@github.com> wrote:

[2017-08-14 06:14] pollosp opened #1023 "Okta login bad redirection"
We are following this documentation https://github.com/coreos/dex/blob/master/Documentation/dev-integration-tests.md in order to setup Okta connector. We are expecting an unexpected behavior, when we use Okta to log into tectonic cluster console application. By default Okta redirect us to https://xx.yy.zz/identity/callback giving us a bad request error. After that if we go to https://xx.yy.zz/ and

[2017-08-14 10:00] ekarlso opened #1024 "Cors configuration"
Hi, I want to deploy dex as a addition to get auth to my app that uses cors to reach dex for discovery:
web:
  https: 0.0.0.0:5556
  tlsCert: /etc/dex/tls/tls.crt
  tlsKey: /etc/dex/tls/tls.key
  allowedOrigins:
    - "http://gatekeeper.minikube"

but the browser then says it's not allowed since the rights headers arent coming back when doing discovery?

[2017-08-14 17:46] rithujohn191 commented on #1023
Please note that the `ssoURL:` you configure in the Dex ConfigMap is not the same as the `redirectURI:`. The `ssoURL:` is that which is provided by Okta which allows you to access the Login Page from an external app.

[2017-08-14 17:55] rithujohn191 opened #1025 "Documentation for Cors configuration"

[2017-08-14 20:27] ericchiang commented on #1025
In addition, if someone has allowed the public flow AND hasn't added a specific CORs profile, we should just default to a basic CORs profile that makes public flows work. This would make this just kinda work out of the box instead of blowing up due to CORs.

[2017-08-14 22:19] #719 closed

[2017-08-15 07:20] fforootd commented on #1020
@ericchiang i will quickly clarify what we are trying to achieve.

The gRPC Interface should be just an other connector similar to an ldap connector, which connects to our IDP. Our IDP stores all the necessary information about the user identity and also provides a SCIM interface for identity provisioning with third parties, but this has nothing todo with DEX.

I unterstand your point about not wa

[2017-08-15 16:23] ericchiang commented on #1024
Under the web you can specify `allowedOrigins` to white list certain domains for the /token and /auth endpoints

[code]

Looks like an issue has been opened to document this https://github.com/coreos/dex/issues/1025, so I'm gonna close this one.

[2017-08-15 16:23] #1024 closed

[2017-08-15 16:24] ericchiang commented on #1023
Based on the emoji responses I'm going to assume that was the issue. Please comment if you feel that there's a bug in dex.

[2017-08-15 16:24] #1023 closed

[2017-08-15 16:31] ericchiang commented on #1020
Yep. I'm trying to identify if there's an actual real protocol we can implement that would allow dex to connect to your IdP, such as SCIM.

But in that case, if something changes, i guess it would be sufficient to refactor the gRPC connector like all the others, or do i get something wrong here?

We can't control the server side implementation of that gRPC interface (the thing the connector would

[2017-08-15 21:57] #1009 closed

[2017-08-16 22:09] ericchiang opened #1030 "TestLoginTimeout takes 20 seconds to run"
The rest take 3. We should really fix that.

[2017-08-16 22:16] ericchiang commented on #1030
Some thoughts:

* The test shouldn't be tied to a literal value `10*time.Second` embedded in the server.
* We should probably just reject bcrypt values that are too high. If we compute something with a cost of 20, it'll still eat up CPU in the other goroutine even if we exit early to a user.
* We should generally timeout for long HTTP requests. There might be a more general solution like some serv

[2017-08-17 10:20] so0k opened #1032 "GitHub connector - userInOrg fails when user.name != user.login"
If your user name does not match your login name, the `userInOrg` call returns 404 and fails the login

https://sourcegraph.com/github.com/coreos/dex/-/blob/connector/github/github.go#L523-524

Not sure if this is an issue with dex-example app or dex GitHub connector

How to reproduce:

- Create GitHub OAuth2 app for Dex
- Deploy Dex with GitHub connector and `staticClients` "example-app"
- Deploy

[2017-08-17 10:21] so0k commented on #1032
Dex GitHub connector config:

[code]

[2017-08-17 14:17] ChienHuey opened #1033 "GitHub connector - verified emails required for GitHub Enterprise"
Set up the GitHub connector to connect to our GitHub Enterprise server. The authentication fails with the following message:

`time="2017-08-17T03:57:33Z" level=error msg="Failed to authenticate: github: get user: github: user has no verified, primary email"`

My config is as follows:

[code]

GitHub Enterprise does not support verified emails. Is there a config setting that I'm not aware of?

[2017-08-17 15:51] ChienHuey commented on #1033
Upon further investigation this is an issue with our GitHub Enterprise installation.

[2017-08-17 15:51] #1033 closed

[2017-08-17 16:26] ChienHuey opened #1034 "OIDC connector - failed to open connector google"
Trying to set up authentication to Google running dex on Kubernetes. Getting this error when trying to start the dex service:

`failed to initialize server: server: Failed to open connector google: failed to open connector: failed to create connector google: failed to get provider: Get /.well-known/openid-configuration: unsupported protocol scheme ""`

This is my config:

[code]

[2017-08-17 17:34] ericchiang commented on #1034
You're missing the issuer https://github.com/coreos/dex/blob/master/Documentation/oidc-connector.md#configuration

[2017-08-17 17:34] #1034 closed

[2017-08-17 17:40] ericchiang commented on #1032
Yeah we're actually putting together a fix now. this will be backported to 2.6.1 https://github.com/coreos/dex/pull/1035

[2017-08-17 18:39] #1032 closed

[2017-08-18 01:04] so0k commented on #947
might wanna cycle your github oauth app credentials

[2017-08-18 21:14] ericchiang commented on #984
Going to close this out since there's not really a proposed change.

[2017-08-18 21:14] #984 closed

[2017-08-18 21:17] ericchiang commented on #966
Fixed by https://github.com/coreos/dex/pull/994

[2017-08-18 21:17] #966 closed

[2017-08-18 21:18] ericchiang commented on #959
I'd like this to be in a google specific connector and not in the OpenID Connect connector https://github.com/coreos/dex/issues/1001

[2017-08-18 21:19] ericchiang commented on #957
Said this on the PR, but I'd really not like to add more user management features to dex.

[2017-08-18 21:21] ericchiang commented on #950
We're not going to implement dex side caching for LDAP groups. There are correctness issues, and dex clients can do this caching themselves anyway.

[2017-08-18 21:21] #950 closed

[2017-08-18 21:22] ericchiang commented on #942
Closing as a dup

[2017-08-18 21:22] #942 closed

[2017-08-18 21:22] ericchiang commented on #939
Possibly resolved by documenting the existing CORS setup https://github.com/coreos/dex/issues/1025 ?

[2017-08-18 21:25] ericchiang commented on #938
Sure, but what should those claim values hold? Should they be static and the same across all users? Should those values be grabbed from the upstream IdP?

Please open a specific issue like https://github.com/coreos/dex/issues/552 for this. We already include custom claims, such as the "groups" claim. We need to understand _which_ claims with _what_ value you want to add.

[2017-08-18 21:25] #938 closed

[2017-08-18 21:26] ericchiang commented on #907
Is this still an issue?

[2017-08-18 21:28] ericchiang commented on #889
I think that a more explicit approach to this would be _way_ better than arbitrary byte slice substitution. e.g.

[code]

I don't want to continue to add more environment expansions. It makes the config format impossible to parse, for instance, because it's environment dependent.

[2017-08-18 21:30] ericchiang commented on #4
This should probably just be an external app.

[2017-08-18 21:30] #4 closed

[2017-08-18 21:31] rithujohn191 commented on #832
Will be solved by https://github.com/coreos/dex/issues/968

[2017-08-18 21:31] #832 closed

[2017-08-18 21:32] rithujohn191 commented on #776
Not on the current road map. Deferring

[2017-08-18 21:32] ericchiang commented on #613
don't think this is actually important. so closing for now

[2017-08-18 21:32] #613 closed

[2017-08-22 23:05] easeway opened #1042 "SAML: no configuration option to compress SAMLRequest"
Some identity provider requires SAMLRequest to be compressed and then base64 encoded. There's no configuration option to compress SAMLRequest and dex won't work with these identity providers.

[2017-08-22 23:08] easeway opened #1043 "SAML: rootElementSigned should be false by default"
https://github.com/coreos/dex/blob/master/connector/saml/saml.go#L287

`rootElementSigned` should be false, otherwise with InsecureSkipSignatureValidation is true in configure, the following code doesn't work properly.

[2017-08-22 23:17] ericchiang commented on #1042
Dex supports the SAML POST binding, which doesn't use compression

transmitted using the HTTP POST method. A SAML protocol message is form-encoded by applying the
base-64 encoding rules to the XML representation of the message and placing the result in a hidden form
control within a form as defined by [HTML401] Section 17. The HTML document MUST adhere to the
XHTML specification, [XHTML]. The base

[2017-08-22 23:20] ericchiang commented on #1043
What doesn't work about the code? `rootElementSigned` is more for us to note when the root element isn't signed because it's not worth verifying unsigned parts of the response. When skipping signature validation, we still want to verify that the top level elements match what we expect.

[2017-08-22 23:28] easeway commented on #1042
vSphere SSO. It offers HTTP redirect binding. However it also accepts POST but requires compression on SAMLRequest.

[2017-08-22 23:29] easeway commented on #1042
I have PR proposed: https://github.com/coreos/dex/pull/1044

Without the change, dex won't work with vSphere SSO using SAML2.0.

[2017-08-22 23:32] easeway commented on #1043
@ericchiang you are right. It was caused by other issues.

[2017-08-22 23:32] #1043 closed

[2017-08-22 23:36] easeway commented on #1042
According to SAML standard, how can we use HTTP redirect binding with dex? It seems HTTP redirect binding is the only option in vSphere SSO.

[2017-08-22 23:40] ericchiang commented on #1042
We would have to add the HTTP redirect binding, though that's not unreasonable.

[2017-08-22 23:41] easeway commented on #1042
I can help on that. I have a PR working in progress to support HTTP redirect binding.

[2017-08-22 23:45] ericchiang commented on #1042
@easeway perfect, please feel free to send the PR and tag me for review.

I can also do this if that's easier.

[2017-08-23 23:57] estroz commented on #376
A userinfo endpoint is required to pass the [basic OpenID Connect Conformance Profile](http://openid.net/wordpress-content/uploads/2016/12/OpenID-Connect-Conformance-Profiles.pdf) to achieve certification.

Certification issue: #42

[2017-08-24 00:00] estroz commented on #42
[Results](https://op.certification.openid.net:60307/display#OAuth) as of August 23rd 2017.

[2017-08-24 17:48] estroz commented on #691
Fixed by #1013

[2017-08-24 17:48] #691 closed

[2017-08-24 18:12] estroz commented on #1030
@ericchiang closing (fixed by #1040) and creating an issue specifically addressing generic request timeouts.

[2017-08-24 18:12] #1030 closed

[2017-08-24 18:27] estroz opened #1047 "Request timeouts"
Requests taking an unusual amount of time to return should timeout and dex should render a 500 error. Timeouts are useful to debug dex and network issues, and handle cases that cause dex to be unresponsive for lengths of time, ex. [high bcrypt cost](https://github.com/coreos/dex/issues/1030).

cc @ericchiang @rithujohn191

[2017-08-24 22:17] rithujohn191 opened #1049 "CreatePassword() should not change the email id to lowercase"
We should store case sensitive email ids in the backend storage. Currently the CreatePassword() functions explicitly changes the email ids to lowercase.

[2017-08-25 10:45] kiich opened #1051 "LDAP bindPW with dollar character causes Invalid credentials"
When using the ldap connector with bindPW with dollar sign (I haven't tried any other special characters) with example-app, the initial bind does not seem to get authenticated and throws:

[code]

After digging into it, it seems the $ sign was not being passed correctly.
e.g. using in config-ldap.yaml
[code]
When I dump out what got used as bindPW, I see:
`"bindPW":"12345"`

I haven't dug into to

[2017-08-25 11:29] kiich commented on #1051
Seems after the os.ExpandEnv line in `cmd/dex/config.go` causes the removal of '$', presumably as it is trying to expand environment variable.

[code]

`data` directly after seems to have stripped the '$' from my bindPW password.

[2017-08-25 11:38] kiich commented on #1051
My current workaround, after finding it is calling ExpandEnv is to set an environment variable that has `$` as value and reference the environment variable in config.yaml and start dex server
i.e.
[code]

in config.yaml
[code]

Messy, but worked!

[2017-08-25 18:20] estroz opened #1052 "Support auth_time in id_token claims"
Returning an [`id_token`](http://openid.net/specs/openid-connect-core-1_0.html#IDToken) with an `auth_time` field is required to pass both `OP-Req-max_age=1` and `OP-Req-max_age=1` test cases for the Basic OpenID Provider [profile](http://openid.net/wordpress-content/uploads/2016/12/OpenID-Connect-Conformance-Profiles.pdf).

[2017-08-30 10:31] joshuaballoch commented on #911
Wondering if there was any movement on this question, I'm looking to build an oauth 2 provider that supports the device flow as well.

I would be happy to give info on why I (think I) need to the proposed device flow.

[2017-08-31 17:54] anuiq opened #1053 "Errors on adding multiple ldap connectors to Tectonic Identity config map"
Hello

I have a business need to add two LDAP connectors for our tectonic cluster. We have local and international users which need to be added. I was told by guys at Coreos that I should be able to add two connectors but that seems to give me trouble. When I add one, it works very well however both of them break when I add two ldap connectors. Both of them start giving me internal server error lo

[2017-08-31 19:49] ericchiang commented on #1053
Dex works fine with multiple LDAPs. You can verify this locally using the [LDAP getting started](https://github.com/coreos/dex/blob/master/Documentation/ldap-connector.md#getting-started) example and adding a second LDAP backend:

[code]

The error message "Logs are currently unavailable" seem to indicate that you can't get logs for your dex instance. It's hard to say what the error is without tho

[2017-08-31 19:53] ericchiang commented on #1051
This is really unfortunate but I don't know if we can fix without breaking backward compatibility. We're already considering redoing dex's config format and removing the env expansions https://github.com/coreos/dex/issues/968

Going to close this out for that issue.

[2017-08-31 19:53] #1051 closed

[2017-08-31 20:53] kiich commented on #1051
Thanks @ericchiang for the feedback - good to know there are plans ahead for redoing config format to potentially fix this.

For now, I have a work around using env.variable so ok for this to be closed. Will keep an eye out on #968

[2017-09-04 08:55] furuholm opened #1054 "Use access_token for API access?"
Some time ago Auth0 switched from using ID tokens to using access tokens for accessing API:s from clients [1][2]. Is this something that you consider doing as well?

Background: I'm developing an API that uses Auth0 but am considering supporting Dex as well for certain scenarios. That's why I'm looking for differences between the two products.

[1] Auth0 docs: Introducing OIDC Conformant Authentic

[2017-09-06 06:37] ericchiang opened #1055 "Panics on "revoke refresh" API call"
User reported panics when attempting to use the revoke refresh token API call.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/dex-dev/165C3bUP6ao/c_e6rDrEAAAJ

The following code looks kinda suspect https://github.com/coreos/dex/blob/e10fddee2e79f7a0cdeba511fd5936cf19511bc9/server/api.go#L271

[2017-09-06 06:58] akshatprakash commented on #1055
thanks for the fix guys i'll try it out to see if it works and let you know

[2017-09-06 07:10] ericchiang commented on #1053
Going to close this since dex seems to work just fine with multiple LDAP backends. Please comment on we do find a bug on dex's end and I can re-open.

[2017-09-06 07:10] #1053 closed

[2017-09-06 07:14] ericchiang commented on #1054
Dex is currently un-opinionated about access_tokens (they're currently random values) because it doesn't have a traditional OAuth2 API that can return information about user. We'll have to implement an access_token for the user_info endpoint https://github.com/coreos/dex/issues/376 at some point though.

What would you actually want to use an access_token for?

[2017-09-06 11:01] akshatprakash commented on #1055
yes this fix is working. thanks a lot for the patch!

[2017-09-06 16:56] #1055 closed

[2017-09-07 06:55] furuholm commented on #1054
I am using the token to authorize access to my API server (through implicit grant flow in my React web client).

I can get around this by passing the ID token from my web app instead, so I am not in a pressing need for this. But as the Auth0 article states, they recommend ID tokens to be used for client authentication and access tokens for API authorization (the Compare tokens section [1] shows th

[2017-09-07 14:49] ninlil opened #1057 "Error "x509 failed to load system roots""
I'm trying to follow the documentation on starting dex in a new Azure-Kubernetes-cluster.
I can't find out why because your Dockerfile says you use 'alpine' and that it should fetch the latest (at the time) ssl-certificates.

Am I doing something wrong or have I misunderstood, or what could it be?

### Logs

### Config:
[code]
### Deployment:
[code]

[2017-09-07 16:50] ericchiang commented on #1054
Just to be sure, you mean Kubernetes API server?

Auth0's article is specific to Auth0's service, not OpenID Connect and Kubernetes. Since Auth0's access_token is specific to Auth0 (as they state it's supposed to be opaque to the client), Kubernetes wouldn't be able to understand the access_token anyway.

There are probably subtler points, but I don't think that recommendation applies to talking t

[2017-09-07 18:07] furuholm commented on #1054
Sorry for not being clear on this. The API that I mentioned is part of a service that we develop. So it is not a Kubenetes API server.

[2017-09-07 20:09] ericchiang commented on #1057
Odd, this works with wget

[code]

Will investigate.

[2017-09-08 16:02] SEJeff commented on #755
@akshatprakash perhaps [CoreOS's fork ](https://github.com/coreos/oauth2_proxy) of [bit.ly's oauth2 proxy](https://github.com/bitly/oauth2_proxy) will do what you want?

[2017-09-08 16:06] SEJeff commented on #755
@ericchiang also, could you common on [your PR on bitly's oauth2_proxy](https://github.com/bitly/oauth2_proxy/pull/389)? Seems like they're relatively close to merging it with a small bit of love. Seems worth doing.

[2017-09-08 16:19] ericchiang commented on #755
@SEJeff PR updated. Know anyone at bitly to help it get merged? :)

[2017-09-11 03:59] ericchiang opened #1059 "Document how to use dex with bitly's oauth2_proxy"
OpenID Connect support was finally merged.

https://github.com/bitly/oauth2_proxy/pull/389

[2017-09-11 16:58] HenryCook commented on #803
It would be fantastic if there was a separate, publicly available image of the example-app. It would certainly help speed up the initial setup and testing of the tool.

Sorry if there currently is one and I've just been unable to find it.

[2017-09-11 21:09] euforic commented on #797
@AlexandreRoba if you are running on a mac the odds are its a port issue. try switching the first number of all the ports from 5 to 9 so `9555` `9556` and instead of using `0.0.0.0` use `127.0.0.1`

I think the problem is when the ip is set to `0.0.0.0` if fails to bind the ports for `127.0.0.1` but it is able to bind the ports for you local ip address. Not sure why it doesn't still fail though

[2017-09-12 00:31] tylercloke opened #1060 "Subject not unique for local users since local ID field is not unique"
I can create two users using the dex GRPC password API with the same ID but different emails (looks like uniqueness is constrained for emails at least):

[code]

[code]

If I authenticate as both users and look at their subjects, they are the same since dex generates the subject as a combination of user ID and conn ID, which in this case are both "testid" and "local", respectively.

Since user ID'

[2017-09-12 07:24] AlexandreRoba commented on #797
That was it. Thanks for the help.

[2017-09-12 11:36] roffe commented on #753
Got lead here by @rithujohn191 reply in #682 But i cannot see how this issue has anything with the actual issue in #682 to do.

[2017-09-12 17:07] ericchiang commented on #753
@roffe if you run dex behind ingress, ingress does the TLS termination. Would let you run dex in the cluster on HTTP and not have the HTTPS check fail.

Also we added OpenSSL to the container a long time ago https://github.com/coreos/dex/pull/685, so wget should be able to query HTTPS.

[2017-09-13 10:18] roffe opened #1061 "DEX using deprecated TPR"
From all the docs i can read DEX still uses TPR even thought it's deprecated in 1.7 and might be removed in 1.8.

I don't want to deploy a software that will stop working within the near future so this issue is about getting answers for the timeline of going over to CRD / mechanisms to automatically migrate to CRD once TPR gets removed.

Thanks for a great OS and software guys!

[2017-09-13 10:21] roffe commented on #1061
To clarify this is when using `storage.type: kubernetes`

[2017-09-13 10:33] roffe commented on #1061
Sorry found #993 which also is hanging in the air. Any progress the last 2 months about this?

[2017-09-13 10:33] #1061 closed

[2017-09-13 10:33] roffe commented on #993
Any progress with this @ericchiang this is a blocker for me evaluating the software in our new business platform

[2017-09-13 17:14] rithujohn191 commented on #993
i'm working on this now. Should have a PR up by the end of the week :)

[2017-09-14 18:47] ericchiang commented on #993
(PR here https://github.com/coreos/dex/pull/1062)

[2017-09-14 20:03] #993 closed

[2017-09-15 11:35] furuholm commented on #1054
Auth0 says the access_token should be opaque the client, but it's not opaque to an API that uses the access_token for authentication.

Either way. I'm closing this as I am satisfied with your response.

[2017-09-15 11:35] #1054 closed

[2017-09-15 12:07] furuholm opened #1065 "Propagate groups from upstream OIDC provider"
The OIDC connectors currently discards the groups claim. I would like this to be propagated.

[2017-09-15 16:15] ericchiang commented on #1065
This is blocked on https://github.com/coreos/dex/issues/863

Since so many providers implement refresh tokens differently, we don't actually re-query the upstream provider when a dex client refresh its token. So we don't have any way of keeping the groups list fresh.

[2017-09-15 19:01] furuholm commented on #1065
I see. But how does groups differ from the other properties that are propagated in the current version (username, email, email verified)? Does those never change?

[2017-09-15 19:22] ericchiang commented on #1065
Groups are much more likely to change dynamically. I'm not saying that it's good that we don't update the other claims, but we definitely want to address this before expanding our features to groups

[2017-09-15 19:33] furuholm commented on #1065
Makes sense. I can use a fork until #863 is solved.

Closing this issue. Feel free to reopen if you want to track this as something to do after #863 has been solved.

[2017-09-15 20:51] ericchiang commented on #1065
Yeah, going to re-open for tracking this issue. Thanks for opening and sorry we don't have a better answer today.

[2017-09-18 21:33] rithujohn191 opened #1069 "Error out Dex ConfigMap has Unknown fields"
Currently if there is a typo/unknown field in the ConfigMap the error is not propagated to the user. This is dangerous because the user would never realize if there is a typo in the Dex ConfigMap, the value would just be ignored

[2017-09-19 21:24] kiich opened #1070 "Getting "failed to create offline session" using CRDs for kubernetes storage"
When using dex 2.7.0 with CRDs instead of TPRs, when using example-app and doing a callback to it throws the following in dex log

[code]

The CRDs seems to have been created fine.
[code]

Reverting back to TPRs makes everything work again.

[2017-09-19 21:25] ericchiang commented on #1070
cc @rithujohn191

[2017-09-19 22:22] #1070 closed

[2017-09-20 06:08] furuholm opened #1074 "Replace docker-build script with multi-stage build"
Today a two step process is required to build the dev docker image. By using the (quite recently added) [multi-stage build](https://docs.docker.com/engine/userguide/eng-image/multistage-build/) support in docker it is possible to incorporate the build script into the Dockerfile and get identical build result.

The specific use case that I want this for is to simplify building the dex image in our

[2017-09-20 13:41] roffe opened #1075 "Tokens generated stops working after client-id changed in example-app"
I am currently trying to make a login service to my K8S cluster using the example-app

However after changing client-id using --client-id the tokens i get is invalid and i observe the following error in the apiserver.

[code]

Even if i remove the old example-app entry from config, delete dex deployment & recreate it the error persists and it still mentions example-app.

If i add back example-app

[2017-09-20 16:16] ericchiang commented on #1075
Your `--client-id` flag on the example app and `--oidc-client-id` flag on the Kubernetes API server must match identically. Can you confirm this is true?

[2017-09-21 20:22] #1074 closed

[2017-09-23 17:02] chartono commented on #958
We run into this situation too.  LDAP was working for some of us within same AD groups.  Thanks to this bug analysis that pointed out large group.  My work around was to add additional filter in the LDAP Group Search.  For example for our AD group setup (used in the Cluster Role Binding Subject Name):
- ADTeamXX-Admin
- ADTeamXX-ReadOnly

LDAP Group Info:
          groupSearch:
            filter:

[2017-09-25 10:15] JoelSpeed opened #1076 "Github doesn't return login - Feature Request"
I have set up dex to back onto Github for authenticating a kubernetes cluster. I was expecting that Dex would return the Github Login as the unique identifier `sub`. This is the property that we are using as personal identifiers with other oAuth applications and this seems like a major miss for Dex to be not returning this field.

Given we are returned this information from Github (as seen in the

[2017-09-25 18:07] rithujohn191 commented on #958
@chartono could you specify which version of Dex you are using?

[2017-09-25 18:09] rithujohn191 opened #1077 "Introduce a issue reporting template."
We need to have a specific template in place for users to file issues. Details like Dex version number, how the issue can be reproduced, etc should be mandatory fields when filing a problem.

[2017-09-26 13:59] dpacierpnik opened #1080 "Support groups in static users configuration (static passwords)"
We would like to configure groups for statically configured users. Currently it is not possible as static passwords do not support this attribute.

Pull request provided:  https://github.com/coreos/dex/pull/1079

[2017-09-26 17:44] justaugustus commented on #958
@rithujohn191 we're on `quay.io/coreos/dex:v2.5.0`
I can provide any additional details you need! :)
cc: @chartono

[2017-09-26 17:59] ericchiang commented on #1080
If this proposal is only about granting groups to static users, I'm against it. We're trying really hard to make sure dex isn't a user management system and the static users are only there for minimal bootstrapping. Static users were never intended to be fully featured.

I think I'd be interested in a proposal that did allow us to define groups for any backend. Of main use case is to do async grou

[2017-09-26 18:02] rithujohn191 commented on #958
to re-iterate this was an issue with the way the tectonic-console was handling its cookies...it has been fixed here: https://github.com/coreos-inc/bridge/pull/1637

Dex does not put any hard limit on the number of user groups.

Closing out this issue since it has been fixed in tectonic and is not an issue with the way Dex handles groups.

[2017-09-26 18:02] #958 closed

[2017-09-26 22:14] pbochynski opened #1084 "Possibility to select connector in client request"
Right now if there is more than one connector configured user has to select one before he is redirected to the authentication page. It should be possible to skip that step if a client has preferred connector, e.g. google.

The change is rather simple: https://github.com/coreos/dex/pull/1083

[2017-09-26 22:21] ericchiang commented on #1084
Thanks for opening this!

Copying my response from https://github.com/coreos/dex/pull/1026#issuecomment-322573698

The change being simple is something we consider but isn't an argument for why the feature is useful or what it needs to do.

I'm trying to get a sense of why this feature would be used. What's your exact use case here? We've heard crazy things like clients _needing_ to only be able t

[2017-09-27 05:34] dpacierpnik opened #1087 "Cross clients improvement - requesting client ID always added to the audience claim"
# Context

If you want to fetch ID token for trusted peer, you have to specify predefined scope: *audience:server:client_id:{peerID}* . But if you specify this scope only for the peer, and you do not specify explicitly this scope with requesting client id (*audience:server:client_id:{clientID}*), the audience claim does not contain requesting client.
In such case the ID token is invalid for the cl

[2017-09-27 06:54] dpacierpnik commented on #1080
I understand your motivations. And I'm aware that static passwords are not intended for production use at all (user passwords are very poorly secured and so on).
However, since this configuration is only useful for POCs, in my opinion, it would be nice to have a possibility to fastly verify some more advanced scenarios of use of DEX (for example with DEX on Kubernetes with RBAC enabled, with group

[2017-09-27 07:06] pbochynski commented on #1084
My use case:
I am providing application for customers deployed on kubernetes. I have two apps: for operator (me) and for customers. Both applications use kube-apiserver API (of course with different roles). I want to be authenticated by my enterprise SSO (SAML2). My customers have own SAML provider. They should not think about which connector to use.

Other reasons:
- having social login buttons d

[2017-09-27 18:56] kfox1111 opened #1089 "Kubernetes cli tokens"
Please document how to setup dex such that you can get a token via the web browser that you can use with the kubectl cli.

[2017-09-27 20:27] ericchiang commented on #1087
This was actually asked before https://github.com/coreos/dex/issues/984#issuecomment-314281694

I think this might be better solved with documentation. This is a nice convince, but makes it impossible to request an id_token without your own client-id as an audience, something that might be desirable.

[2017-09-28 01:49] Jonwei commented on #797
@euforic similar problem, and change the IP to 127.0.0.1 and port to 9555, 9556. it still can't work. any advice ?

in my mac ,  run `./bin/dex serve examples/config-dev.yaml`, it always be killed.  terminal  show as below:
 [1]    4190 killed     ./bin/dex serve examples/config-dev.yaml

[2017-09-28 05:33] dpacierpnik commented on #1087
"might be desirable" ? Do you know any real use case, when client wants to fetch ID token which can not be validated correctly ? OIDC specification states clearly:

and Section 3.1.3.7 http://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation:

In my opinion such ID tokens are useless and should not be issued. But please fix at least documentation.

[2017-09-28 06:09] ericchiang commented on #1087
Sure, Google highlights a pretty compelling use case in the linked reference: https://developers.google.com/identity/protocols/CrossClientAuth#androidIdTokens

Either way, since this has been surprising so often I think it's reasonable to always include the original client_id as part of the audience.

[2017-09-28 12:53] kiich commented on #1084
My use case is for 2 different LDAP connectors where handful of users only exist in one LDAP and rest in another LDAP. If I can have a way to specify which (LDAP) connector to use in the client request, or a way to programatically choose which from the screen with selection, that would be handy for me.

[2017-09-29 10:48] roffe commented on #1089
@kfox1111 DEX itself does not actually provide you with this feature afaik.

What I did was i took the example-app from the DEX repo as foundation and created a login service that i run and expose via ingress, that login service in turn will talk to DEX allowing you to authenticate against your defined user backends, the user is then returned to the login app which presents user with the token.

I

[2017-09-29 18:20] #1087 closed

[2017-09-30 15:12] kfox1111 commented on #1089
Thanks for the info.

I did some further digging, and ran into dex's support for public clients and a document describing how kubeconf can be configured with refresh tokens. I think this is probably part of the solution but haven't pieced it all together yet.

I think we probably want to have a different client secret for the kube-dashboard since its a web service then from the kubeconf case, wher

[2017-10-02 20:12] blakebarnett opened #1091 "Performance issues with authrequest objects"
We're running Dex 2.4.1 with the LDAP connector and kubernetes storage backend.  Kubernetes has RBAC enabled and is using Dex via the OIDC authorization plugin.

We're seeing large amounts of authrequest objects being created even though the cluster is quite small with very little usage:
[code]

Interestingly, 2 of our larger production clusters have roughly the same amount.

EDIT: All of the obje

[2017-10-05 14:04] yawboateng commented on #992
@alexandrst88 how did you fix this? im also seeing the same in my logs. not sure what is sending this http req

[2017-10-05 14:19] alexandrst88 commented on #992
In my case it was LB, that was trying to reach https.

[2017-10-05 14:20] thomaschaaf commented on #376
I am trying to use dex with spinnaker and it needs the userInfoUri endpoint. Without this it's not possible to use dex with it.

See https://www.spinnaker.io/setup/security/authentication/oauth/#bring-your-own-provider

[2017-10-05 14:42] yawboateng commented on #992
gotcha. i manually updated in aws from TCP to SSL. k8s seems to only use TCP for the elb

FYI: https://github.com/kubernetes/kubernetes/issues/45746

[2017-10-06 07:54] thomaschaaf commented on #1076
I have analyzed the behavior or `sub` and this currently a base64 encoded message which states: `893393github` . The number being the github userid.
For debugging purposes you can retrieve which user this is by going to: https://api.github.com/user/893393

There are two ways to add the github username:
1. we could create a new field `login` https://github.com/coreos/dex/blob/fe1516332c4a41aee1d

[2017-10-06 14:37] yawboateng commented on #907
@ericchiang, yes, still an issue. running the latest release. that insecureSkipVerify flag doesnt seem to have any effect.

[2017-10-08 14:50] devonbarrett opened #1095 "Github organisations are case-insensitive"
Github organisations are case-insensitive, but the `teamsForOrg` check is not. This led to a hard to track error where the user was being show as in the org, but no teams were being returned.

E.g. https://api.github.com/orgs/CoReOS

[2017-10-09 18:07] ericchiang commented on #1095
There's still a canonical spelling of an org. E.g. https://api.github.com/orgs/CoReOS returns

[code]

I'd really rather not do case conversions. It's a pain with emails and other systems that interpret the id_token claims aren't guaranteed to respect case-insensitive comparisons.

This should be fixed with a better error message and/or documentation.

[2017-10-09 18:11] ericchiang commented on #1076
This should be returned in the claim somehow. I'd prefer if we had some sort of magic scopes to do this. E.g. I could provide the scope `github:login` or `ldap:dn` to return custom claims. Deserves some thought and a proper proposal since this has been suggested before in various forms.

[2017-10-09 18:12] ericchiang commented on #1091
The TPR/CRD backend is specifically stated to not be performance optimized. How many login events are you handling?

[2017-10-09 19:22] blakebarnett commented on #1091
Very few logins, but it seems like the authrequests are being created when k8s does an RBAC authorization?

[2017-10-09 19:36] ericchiang commented on #1091
@blakebarnett no, only when a user attempts to login

[2017-10-09 21:28] ericchiang commented on #907
Little confused by that. Based on my testing this does work https://github.com/coreos/dex/pull/1096

[2017-10-10 00:43] r0fls commented on #958
Is there a related github issue in tecetonic? We're experiencing this and it would be helpful if this issue linked to a solution.

[2017-10-10 17:45] blakebarnett commented on #1091
So apparently it's creating authrequests every time our ELB health-check hits it with HTTPS (we changed it from HTTP because it was filling the logs with `TLS handshake error` messages)

It seems strange that it creates one of these records even just hitting `HTTPS:<nodeport>/healthz`, but as soon as I changed it back to HTTP, the garbage collection has started cleaning them up.

So, my question i

[2017-10-10 19:34] ericchiang commented on #1091
The /healthz endpoint is the correct way. We'd be open to exporting
prometheus metrics on a separate port though.

What's weird is that the /healthz endpoint should be cleaning up the
authrequests itself
https://github.com/coreos/dex/blob/f3c85e6936b064d2a7a6ef46fa4bb58d6e295051/server/handlers.go#L23-L51

Do you have any logs from your dex instance indicating errors during the
health check?

On T

[2017-10-10 19:52] blakebarnett commented on #1091
Yeah, we're seeing TLS handshake errors after switching the health check to just plain TCP as expected as well as GC errors that seem to be related (though now that we aren't using HTTPS for the health-check they are slowly disappearing):

[code]

[2017-10-11 00:35] pheuter commented on #973
We're currently running into an issue where we're using [VSTS](https://docs.microsoft.com/en-us/vsts/build-release/apps/cd/azure/deploy-container-kubernetes) to deploy to a Tectonic Kube Cluster. The first several releases worked fine by now we're starting to see the oauth refresh token error.

I've created a kubeconfig using admin > My Account > Access Management under the impression that it will

[2017-10-11 08:11] Pulankit-so opened #1098 "Connecting Existing User Database"
Hi,
I would like to use dex for a microservice based architecture. I went through the docs and also got the sample app working. Though I am still in doubt if dex would allow me to connect my existing database and authentication logic build on top of it for authenticating the users. if yes, do suggest me how can I achieve the same. Thanks.

[2017-10-11 23:22] ericchiang commented on #1095
Going to close this since we want to support the canonical spelling and not do fuzzy matching.

[2017-10-11 23:22] #1095 closed

[2017-10-11 23:25] ericchiang commented on #1098
Dex doesn't have a way to connect to user databases per say, it connects to other user management systems through protocols like LDAP, SAML, or OAuth2. If your user database implements any of these protocols dex can use it to back user login.

There's been discussion about a more general backing mechanism, but I have some concerns about some of those proposals https://github.com/coreos/dex/issues/

[2017-10-11 23:25] #1098 closed

[2017-10-12 20:00] chuckbutler commented on #376
Same w/ anyone attempting to integrate with Centrify.  Centrify doesn't include any of the expected data in that id_token JWT.  The expectation is that you will call the userinfo endpoint to gain the detail you are looking for.

details here: https://docs.centrify.com/en/centrify/appref/index.html?version=1507675723#page/cloudhelp%2Fgen%2FSAML-gen-OpenID.2.html

[2017-10-12 21:02] gtorre commented on #1091
@blakebarnett we're thinking of running Dex with kubernetes storage backend as well. Would you mind sharing your opinion on it so far? How does it perform? How much storage does it take up? Roughly how many kubernetes users do you have? Thanks!

[2017-10-17 16:27] derekjwilliams commented on #947
I'm also seeing the same on Gitlab:

My connector configuration for gitlab in my dex configuration:

`- type: gitlab
  id: gitlab
  name: Gitlab
  config:
    baseURL: https://www.gitlab.com
    clientID: $GITLAB_CLIENT_ID
    clientSecret: $GITLAB_SECRET
    redirectURI: http://127.0.0.1:5556/dex/callback
`
Gitlab configuration

Application Id: [GITLAB_CLIENT_ID]
Secret: [GITLAB_SECRET]
Callback

[2017-10-17 16:39] derekjwilliams commented on #947
[code]

[2017-10-18 06:57] benley commented on #1089
I have a working implementation of the setup described above, with a commandline tool that uses a Public Client and a localhost http server to go through the login flow.  It needs a bit of cleanup before I can share it but I should be able to get it posted in the next few days.

[2017-10-18 16:09] kfox1111 commented on #1089
Cool. looking forward to seeing it. :)

I was pondering something yesterday... I dug through the docs and noticed: urn:ietf:wg:oauth:2.0:oob
A RedirectURI that displays a web page with a copy/paste'able token.

That is 90% of what we would need I think. Would the dex devs be against someone adding templating functionality using gotl for that page? If that was acceptable, we could let the operator

[2017-10-18 16:14] kfox1111 commented on #1089
Just dug through the code base a little. Looks like it already is gotl templated. There just can only be one for the entire server.
All we would need is a way to allow it to be overridden on a client by client basis in the config file?

[2017-10-18 16:21] kfox1111 commented on #1089
hmm.... two other changes are needed.
https://github.com/coreos/dex/blob/master/server/handlers.go#L522

Currently, it looks like it only passes the id token, and not the refresh token. We should pass all the info and allow the template to display the pieces it things are needed. Like in this case, the refresh token.

Does anyone have any objection to just passing 'code' instead of 'code.ID' throu

[2017-10-18 23:41] ericchiang opened #1099 "config: all sensitive fields should be configurable through a file or env var"
Spun out of https://github.com/coreos/dex/issues/968 and to address https://github.com/coreos/dex/pull/943

Currently we let parts of dex config reference environment variables:

[code]

We restrict this to storage and connectors since '$' can show up in things like bcrypt hashes. There have been additional request to add this to other parts of the config https://github.com/coreos/dex/pull/943. I'

[2017-10-19 00:25] kfox1111 commented on #1089
another wrinkle. It doesn't look like the /auth endpoint ever deals with refresh tokens....

[2017-10-19 08:36] fjbsantiago commented on #376
The same issue happens when integrating with the GenericOAuthenticator module used by JupyterHub for OpenID Connect authentication.
It also expects a /userinfo endpoint on the provider to exist to fetch a user field.

[2017-10-20 18:19] blakebarnett commented on #1091
It's been working great for us aside from this issue, which seems to be specific to an external LB doing a non-TLS health-check

[2017-10-21 12:08] stapelberg commented on #376
I am trying to use dex as an authentication provider with GitLab, and the omniauth-openid-connect gem which GitLab uses requires the userinfo endpoint as well.

I understand the philosophical standpoint that all information should be taken from the token, but at the same time, it seems like this stanza prevents using dex with a wide variety of software, which is a real shame.

Please consider the

[2017-10-23 17:44] rithujohn191 commented on #376
Will work on this in the upcoming weeks and submit a proposal for review

[2017-10-23 18:05] stapelberg commented on #376
That’s great news! Thank you.

[2017-10-24 21:30] pborzenkov commented on #1084
+1 for this.
The main reason for me is to be able to have social login button nicely integrated into the application.

[2017-10-25 08:20] fjbsantiago commented on #376
@rithujohn191 I forked Dex and successfully implemented the User Info endpoint. I cannot share it right away, as this was done for a client, but I will give some details on how it works.

Connectors of type **oidc** have a new configuration option **userInfo** where a user info endpoint for the OP can be provided. E.g.:

[code]

How it works technically:

1. Once the user is authenticated with the

[2017-10-26 09:54] markuslindenberg commented on #376
@fjbsantiago Does your implementation also work with other connectors like LDAP?

[2017-10-26 10:39] fjbsantiago commented on #376
@markuslindenberg I only implemented this for Open ID Connect connectors.

[2017-10-26 13:25] mrIncompetent opened #1102 "Github: Groups not getting loaded when no org is specified in config"
Dex is not fetching the groups when no org is specified in the config.
The groups scope is specified `&scope=openid%20email%20profile%20groups`

According to the Github Oauth Application in my private profile dex has the permission to read them.
Am i missing something here?

Version: 2.7.1

[2017-10-26 15:48] devonbarrett commented on #1102
Groups are only returned for orgs specified in the connector config.

https://github.com/coreos/dex/blob/master/Documentation/github-connector.md#configuration

[2017-10-26 15:50] mrIncompetent commented on #1102
I was confused by the following code:
[code]

[2017-10-26 16:21] ericchiang commented on #376
Just a heads up. Any dex user info implementation we add to dex will work with any backing connector (LDAP, SAML, GitHub, etc), not just with OpenID Connect.

[2017-10-26 18:34] ericchiang commented on #1102
can you paste an example config (without your tokens)?

[2017-10-27 06:13] fjbsantiago commented on #376
@ericchiang Thank you for the heads up.
@rithujohn191 Is it worth it for me to open the pull request with the changes I made to support the user info endpoint for the OIDC connector alone?

[2017-10-27 07:57] mrIncompetent commented on #1102
[code]

[2017-10-27 14:04] sdrozdkov commented on #1084
I did PR some time ago:
https://github.com/sdrozdkov/dex/commit/dfbabddcfa52d7c1dd8a9f14b783401d14d78a35

This functional added with param &connector to auth requests

[2017-10-29 18:23] pborzenkov opened #1110 "Azure AD v2.0 support"
EDIT: sorry, filed it here instead of coreos/go-oidc by mistake

Azure AD v2.0 doesn't strictly follow OpenID connect spec and returns malformed issuer in '.well-known/openid-configuration' response:

`
$ http https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration | jq .issuer
"https://login.microsoftonline.com/{tenantid}/v2.0"
`

As per [the documentation](https://docs.mic

[2017-10-29 18:25] pborzenkov commented on #1110
Here is the full dump of `openid-configuration` endpoint:
`
$ http https://login.microsoftonline.com/common/v2.0/.well-known/openid-configuration
{
  "authorization_endpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
  "token_endpoint": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
  "token_endpoint_auth_methods_supported": [
    "client_secret_post",
    "

[2017-10-29 18:49] pborzenkov commented on #1110
And here is the issued token:
[code]

GUID for consumers tenant is used to issue the token when I signup with my personal email. I'll try it with my business account later.

[2017-10-29 18:50] pborzenkov commented on #1110
So looks like adding options disabling issuer check to NewProvider won't allow me to solve the issue...

[2017-10-29 20:59] ericchiang commented on #1110
Just use the URL with your tenant ID

[code]

That URL should work fine. It even implements discovery:

[code]

That being said, I'm open to implementing a proper Azure AD 2.0 connector instead of only supporting it through the OpenID Connect connector. Particularly if we could get an implementation that deals with refresh tokens and groups.

[2017-10-29 21:05] pborzenkov commented on #1110
I'll check tomorrow whether this URL works with work account or not (if I'm interpreting the documentation correctly, it shouldn't). And if it does I'll stick to using this URL.
Will report back tomorrow.

[2017-10-30 07:23] pborzenkov commented on #1110
As I expected, this approach doesn't work with business accounts.

If I use `/common/` tenant id I'm able to login using both my personal and business accounts, but issuers are different. When I logged in with my personal account I got `9188040d-6c67-4c5b-b112-36a304b66dad` and when I logged in with my business account I got my company's tenant id.

If I use `/9188040d-6c67-4c5b-b112-36a304b66dad/

[2017-10-31 13:54] fjbsantiago commented on #376
I have another quick question @ericchiang.

Some OPs return different kinds of claims from the userinfo endpoint like, for example, birth date and gender.
Will these claims be lost if you implement the Access Token as per your [proposal](https://github.com/coreos/dex/issues/376#issuecomment-271725208)?

[2017-11-01 11:11] jimmythedog opened #1111 "Use a service account for minting kubeconfigs [Question]"
@ericchiang mentioned on #973 that:

Can I first explain what we're trying to do? (in case that is flawed):

- Dex deployed to k8s (LDAP connector)
- Spin up the example-app on a host
- `User1` browses to the example-app URL e.g. http://example-app.host:5555
- Logs into LDAP and gets `id_token` & `refresh_token`
- Configures `kubeconfig`
- `User2` performs the same steps

The problem arises when `

[2017-11-01 13:16] srenatus commented on #968
Heya -- Is there anything new to say about this? I'm just curious. Dynamic configuration of connectors would be sweet. 😍

[2017-11-01 15:25] ericchiang commented on #1111
I meant "use a kubernetes service account" https://kubernetes.io/docs/admin/authentication/#service-account-tokens

Here's an example script to do that:

https://gist.github.com/ericchiang/d2a838ddad3f44436ae001a342e1001e

Closing since this isn't related to dex.

[2017-11-01 15:25] #1111 closed

[2017-11-03 04:40] Kannan2020 opened #1113 "Getting Token Issue in angular 2"
Hi Team,
 am new to DEX. i configured dex in my server, in default redirection page is showing token. But when i try to login via my angular 2 application login is success and it is redirected to my requested page but in my oauthService.tryLogin({}) method is not triggered and ever time hasValidAccessToken also false.

i refereed for angular 2 Oauth2 given URL : https://www.npmjs.com/package/angul

[2017-11-03 10:23] jungziege commented on #1099
Agreed this is a cleaner approach. How do you plan to handle backwards compatibility? Or do you plan to continue to allow expansion where it exists now.

[2017-11-03 16:55] ericchiang commented on #1113
It is because we don't implement the userinfo endpoint? https://github.com/coreos/dex/issues/376

[2017-11-03 17:04] ericchiang commented on #1099
* Don't add new env var expansion logic.
* Continue to accept the literal values e.g. `hash`
* Add new optional fields like `hashFromFile` and `hashFromEnv`

Or we could do something like

[code]

Either way, we'll continue to be backward compatible. New fields will be optional.

[2017-11-04 05:51] Kannan2020 commented on #1113
Thanks for your reply. Can you please provide sample steps to create userinfo end point in my application.

  if you provide detail document for that it is helpful for me

[2017-11-06 08:41] srenatus opened #1114 "PKCE support for public clients"
It's intended to remedy possible attacks against public clients. See [RFC7636: Proof Key for Code Exchange by OAuth Public Clients](https://tools.ietf.org/html/rfc7636). It's a small twist to the authorization code flow:

[code]

Anyone interested in supporting this? 😃

[2017-11-07 09:26] srenatus opened #1115 ""go back to selection" for password template"
When using Dex with multiple connectors, and one of them being the _local passwords_ connector, clicking on "Login with Email" here,

<img width="515" alt="screen shot 2017-11-07 at 10 22 45" src="https://user-images.githubusercontent.com/870638/32486043-be0bf3a4-c3a5-11e7-94cf-2856d943012f.png">

leads me to its login dialogue,

<img width="511" alt="screen shot 2017-11-07 at 10 22 51" src="https

[2017-11-08 18:15] ibazulic opened #1118 "Dex can't compile"
Hi, I'm running into a strange issue when compiling Dex.  When compiling, the following error occurs:

[code]

Not sure if this is a problem with my environment or what. Make was run with no options, this is the environment:

[code]

Any idea as to what I'm doing wrong? Thanks!

[2017-11-08 18:57] ericchiang commented on #1118
GetClientCertificate was added in Go 1.8, so Go1.7 will be too old to build dex with https://golang.org/doc/go1.8#crypto_tls

I'll update our build scripts to catch this.

[2017-11-08 18:58] ibazulic commented on #1118
Hi Eric,

Thanks for the prompt response. I'll update go on my test machine and start again.

[2017-11-08 18:58] #1118 closed

[2017-11-08 19:28] ericchiang commented on #1115
Quick question, does the browser's back button work? I think adding a back link would be fine.

[2017-11-08 22:00] snowzach commented on #1060
I was kinda wondering about this as well on a grander scheme.. If I have a user logging in from two different connectors with the same information is it going to generate the same subject? Can we always count on subject to be unique?

[2017-11-08 22:02] ericchiang commented on #1060
@snowzach the connector ID is embedded in the subject. They should be unique across two different connectors.

This seems like a bug on our end where we don't reject duplicated IDs for local users.

[2017-11-09 04:34] snowzach commented on #1060
Excellent. I was trying to find the hashing algorithm but never found it..

[2017-11-09 11:57] srenatus commented on #1115
The browser's back button works -- it takes you back to the selection.

The issue I have is that simply adding a back button to the password template won't work: it needs to know whether there are other connectors. If there's _only one password connector_, the user will never see the selection, and the back button has nowhere to point to.

[2017-11-09 12:04] srenatus commented on #1113
The userinfo endpoint is not something your application would have to provide, but Dex -- as the "OAuth2.0 Authorization Server" in this setting.

However, from looking at the code of the angular2 package you've shared, it seems that this only makes use of the userinfo endpoint in [`loadUserProfile`](https://github.com/vip32/angular-oauth2-oidc-b2c/blob/82206d9cb4c2d462f2f70ff166c5c49f38a0d57c/src

[2017-11-09 13:22] kiich commented on #753
Just to add, we have Dex running in k8s cluster exposed via service (with appropriate RBAC policy) instead of ingress but would very much like to see this feature as it would mean not requiring separate tls for dex.

[2017-11-09 13:29] srenatus opened #1122 "meta: "getting help" section and release roadmap"
In the README, [it says](https://github.com/coreos/dex#getting-help)

But they [milestones](https://github.com/coreos/dex/milestones) seem out of date -- there's 2.5.0 and 2.2.0, and [releases](https://github.com/coreos/dex/releases) already has 2.8.0.

I suppose killing that bullet point from the README is the simplest way to consistency? 😉

(Of course, I would also appreciate a public roadmap...

[2017-11-09 14:21] srenatus commented on #990
I imagine this could also be useful for enabling slient refresh, see for example [this approach of `angular-oauth2-oidc`](https://manfredsteyer.github.io/angular-oauth2-oidc/angular-oauth2-oidc/docs/additional-documentation/refreshing-a-token-(silent-refresh).html).

[2017-11-09 16:08] goby commented on #947
@derekjwilliams please try to set baseURL: https://gitlab.com instead of https://www.gitlab.com, it may work

[2017-11-09 18:25] Kannan2020 commented on #1113
Hi Srenatus,

   No, am not getting any issue. its working fine but the problem is am not received token. after redirect to my page.

[2017-11-10 08:52] srenatus commented on #1113
For other reasons, I'm looking into the use of [`angular-oauth2-oidc`](https://github.com/manfredsteyer/angular-oauth2-oidc) with dex.

I've noted that the project you're using looks like a fork that has been neglected -- [judging from the compare view](https://github.com/manfredsteyer/angular-oauth2-oidc/compare/master...vip32:master).

- I've checked out the project, fixed a [small bug](https://

[2017-11-10 09:25] srenatus commented on #32
I think #990 could play a role here: With this, dex wouldn't have to keep a session (see #963), but could piggy-back on the connector's IdP to do so.

I'd imagine the following flow:
- the OIDC client (say, JS app) notices that the user's token has expired (or was declined, ...), and redirects them to `/auth?id_token_hint=OLD_ID_TOKEN&...`
- dex uses that `id_token_hint` to figure out which connec

[2017-11-10 19:17] ericchiang commented on #1122
Yes sgtm.

Development has been relatively adhoc for a while. That's been the primary reason for a lack of a public roadmap.

[2017-11-10 19:26] ericchiang commented on #32
I really like this approach.

[2017-11-11 19:23] blakebarnett commented on #1091
We upgraded to Dex 2.7.1 and migrated to CRDs, but we are still seeing ~17.5k authrequests at all times.  We tried changing the way the health check works (TLS/non-TLS etc) with no luck.

We are on k8s 1.7.9 and seeing big spikes in etcd access latency for `type:
 []unstructured.Unstructured` which seems to point to TPR/CRDs.  (There's a bug in 1.8 related to this but I don't think it effects 1.7.

[2017-11-13 14:11] srenatus opened #1126 "[question] How to refresh a token from an SPA? / Can we let refresh tokens expire?"
Hi there. I've been struggling with this question for some time, so I thought I might reach out to hear y'all's opinion.

### Assumptions:

1. When using Dex from a JS in-browser application, it seems common wisdom to use the Implict Flow.
2. I want to react to changes of a user's status in the external identity provider (LDAP, SAML, ...) in a timely manner.
3. I don't want to have the user go to

[2017-11-13 17:48] #1122 closed

[2017-11-13 18:58] #1115 closed

[2017-11-14 07:27] srenatus opened #1127 "Can we cut a v2.8.1 release, please? (Also: GPG key expired)"
[The 10 commits to master since v2.8.0 look OK to me.](https://github.com/coreos/dex/compare/v2.8.0...master) I'm obviously interested in #1116 and #1123, but cherry-picking those doesn't seem to make too much sense given that the commits since 2.8.0 are mostly these.

Also, GitHub shows the key used to sign the v2.8.0 tag, `A05E509132EF40C5`, has expired:

<img width="295" alt="screen shot 2017-1

[2017-11-15 21:44] ericchiang commented on #1127
Thanks. I've modified the expiry of my public key. Green checkboxes should be back.

I'll cherry pick #1116 and #1123 and do a v2.8.1.

[2017-11-15 23:30] ericchiang commented on #1127
v2.8.1 is live https://github.com/coreos/dex/releases/tag/v2.8.1

[2017-11-15 23:30] #1127 closed

[2017-11-16 00:38] ericchiang commented on #1126
This sounds like an access_token and the userinfo endpoint https://github.com/coreos/dex/issues/376

Just an FYI, you'll never be able to do this through SAML. There's no way to re-query a provider.

[2017-11-16 07:15] srenatus commented on #1127
@ericchiang thanks a lot!

[2017-11-17 16:31] byxorna commented on #778
It would be neat if this was prioritized for an upcoming release; having insight into the health and state of dex is critical when deployed into production environments. Not to mention, exposing a /metrics endpoint is part of being a good container-native citizen :)

[2017-11-20 09:28] srenatus commented on #1126
The session spec is related: http://openid.net/specs/openid-connect-session-1_0.html#CreatingUpdatingSessions

[2017-11-21 05:55] billgo opened #1130 "Does dex plan to support session management ?"
Does dex plan to support session management ?
Or have any idea to do the logout ?

[2017-11-21 14:37] glerchundi commented on #1020
@ericchiang @rithujohn191

I know that it's preferable to let other specifications do the hard job but I think including this extension point would open up `dex` to wide variety of integrations.

I tried to draw the current possibilities to attach dex to a custom user database and I found myself connecting a myriad of services down the road (dex->LDAP->{inmem,[sql](https://linux.die.net/man/5/slap

[2017-11-21 23:00] ericchiang commented on #1130
We may add some sort of automatic login based on an HTTP cookie for backends that support it, but these efforts will be transparent to apps that use dex. Dex remains un-opinionated about what you do with the user's identity once they're logged in. I don't see us adding features that apps can directly use because of that.

"Session management" can mean a lot of things though. Is there something con

[2017-11-22 00:41] billgo commented on #1130
https://openid.net/specs/openid-connect-session-1_0.html
about this.

[2017-11-22 22:25] mpashka opened #1132 "Kubernetes authentication through dex has some unclear moments"
I'm trying to integrate dex with kubernetes and to use LDAP for users authentication.
First I tried '[Kubernetes authentication through dex](https://github.com/coreos/dex/blob/master/Documentation/kubernetes.md)' instruction. Everything was clear except almost the last step:
Logging into the cluster
...
Once the example app is running, choose the GitHub option and grant access to dex to view your

[2017-11-27 21:04] mpashka commented on #1132
I found there is no need to enter anything special into login form - instead you can use default empty values. But I suppose it is better to document that moment.

[2017-11-28 14:21] jollinshead commented on #1084
Our team has a similar requirement to @kiich 's.

@sdrozdkov Could you make a pull request?

[2017-11-28 14:59] primeroz opened #1137 "Does DEX support customizing the LDAP group search based on the client_id or selecting connector based on client_id?"
## My Scenario

* 2 Static Clients configured on DEX corresponding to 2 different Kubernetes clusters
* An LDAP Group OU looking like
[code]

Ideally I would like to be able to have different groups searches based on the client (cluster) for which the user is authenticating for:

Se if i select Cluster1 as client_id when authenticating then in the token i will have groups from the right OU ou=Clus

[2017-11-29 07:51] srenatus commented on #1110
https://github.com/coreos/dex/pull/1131 merged (👏) -- I suppose this can be closed? 🎉

[2017-11-29 07:56] srenatus commented on #863
We could create a copy of the current `oidc` connector named `google`, which does not support `Refresh()`, and expand the `oidc` connector to _do support `refresh_token`s and groups_, I suppose? 🤔 @ericchiang what do you think? This could unblock #1065 without solving the google-specific issue...

[2017-11-29 08:12] #1110 closed

[2017-11-29 08:35] ericchiang commented on #863
I think we still have the issue that providers can return refresh tokens that invalidate previously requested tokens. Right now the connector data is per user / Dex client pair. So if a user logs in to client A then client B, the refresh token dex gets for client B could invalidate the upstream refresh token dex got for client A.

Making that data global to the user, so client A and client B actua

[2017-11-30 07:11] srenatus commented on #1126
Yup that's right. Luckily, there's a new option for Azure AD now: using the `microsoft` connector 😃

[2017-11-30 07:11] srenatus commented on #1126
Closing this. Thanks.

[2017-11-30 07:11] #1126 closed

[2017-11-30 07:27] srenatus opened #1139 "Can we get a new minor release, please?"
Hiya!

[Since v2.8.1](https://github.com/coreos/dex/compare/v2.8.1...master) we've had

* [the java package option on the grpc definitions](https://github.com/coreos/dex/commit/19cb2a5ffbd1bc452d7b99f13ffe3c392be2ef43)
* [the microsoft connector](https://github.com/coreos/dex/pull/1131)

(The "compare" links also shows the small UX improvements, but these have been cherry-picked in 2.8.1 and thus

[2017-11-30 18:27] colinhoglund commented on #1089
I was able to get this mostly working by writing a basic web client to generate id and refresh tokens. However, i've been having a hard time getting cross-client trust working for a public 'kubectl' client. It would appear that dex creates a `refreshtokens.dex.coreos.com` custom resource object with `clientID: web-client`, rather than `clientID: kubectl`. Therefore, I can use the initial token jus

[2017-11-30 18:45] kfox1111 commented on #1089
The way to set this up properly I think requires two different accounts. one for the web service, and one for the cli. but you can't get a refresh token for the cli from the web service account. The server doesn't support the use case.

Plus it has the added drawback of a web service having access to a token that can refresh a users creds forever. a fairly important piece of data that maybe it sho

[2017-11-30 19:03] ericchiang commented on #1139
Yes. I will try to get 2.9.0 out when I get a chance.

[2017-12-01 07:37] srenatus commented on #1139
@ericchiang thank you! 🎉

[2017-12-01 17:08] ericchiang opened #1141 "vendor: update vendored packages"
Spring cleaning. Update all of the following packages to pull in latest code:

- [ ] github.com/beevik/etree (dep of SAML)
- [ ] github.com/coreos/etcd
- [ ] github.com/coreos/go-oidc
- [ ] github.com/ghodss/yaml
- [ ] github.com/go-sql-driver/mysql (maybe remove this?)
- [x] github.com/golang/protobuf (https://github.com/coreos/dex/pull/1140)
- [ ] github.com/gorilla/context
- [ ] github.com/gori

[2017-12-01 17:12] ericchiang commented on #1137
No, this isn't possible today. client_ids are public so I don't know the implications of this.

[2017-12-05 09:51] srenatus commented on #1113
@Kannan2020 Is this still something you're interested in, or could this be closed? 😃

[2017-12-05 16:15] ericchiang commented on #1139
v2.9.0 is now live https://github.com/coreos/dex/releases/tag/v2.9.0

Thanks for opening this issue. I'd like to automate more of this process to we don't require such a manual release in the future.

[2017-12-05 16:15] #1139 closed

[2017-12-06 08:04] srenatus commented on #1139
⏩ Bumping [`core/dex`](https://github.com/habitat-sh/core-plans/pull/1048) (We're using habitat to operate Dex)

[2017-12-08 08:39] RaphaelHerd commented on #1132
I tried the same. I get dex working in k8s but I'm not able to configure the crappy sample app that I can receive a token for authentication. I tried multiple parameters while configuring the sample-app. I always get some errors. The documentation is not complete, because for example you also have to configure dex with the redirect url to your sample app. If dex is running within kubernetes (not o

[2017-12-08 12:55] mpashka commented on #1132
Actually to add groups support in kubernetes authentication (which is very useful) you have to put groups into scopes field (second one).
My proposal is to make sample application part of dex. I can provide PR for that.

[2017-12-10 02:23] grailsweb opened #1145 "Failed to parse authorization request: Unregistered redirect_uri (\"http://192.168.16.15:5555/callback\""
Hi,
I am trying to test the dex with openldap authentication, running dex on 192.168.16.15 Linux machine. From windows when I try to access the example app page. Getting this error message. What it’s the correct way to register the call back url?

server log.

# ./bin/dex serve examples/openldap-config.yaml
time="2017-12-10T01:57:38Z" level=info msg="config issuer: http://192.168.16.15:5556/dex"
t

[2017-12-12 09:54] srenatus commented on #1145
The formatting doesn't make it easy to read, but isn't there a stray `"` in your second redirectURIs item:
[code]
try changing that to `http://192.168.16.15:5555/callback` (you shouldn't need any quotes).

[2017-12-12 10:27] 2color commented on #1102
I have the same problem with version `2.7.1` with both the org set and unset.

[2017-12-13 22:16] tuwid opened #1146 "example app connection reset / no login"
After starting the default config-dev.yaml and starting as well the default example app
In the "Navigate to the example app in your browser at http://localhost:5555/ in your browser." step i get a connection reset. In debug mode I can see the logs in the example app but nothing really happens.

[code]

This is running on a docker container. Ports are exposed and I tested connectivity with netcat b

[2017-12-13 22:32] ericchiang commented on #1146
Is it an issue with `localhost` not mapping to `127.0.0.1` or something?

[2017-12-13 23:24] tuwid commented on #1146
@ericchiang well it revolves around that but not really as testing with netcat worked but you can go around the issue by explicitly specifying the interfaces
[code]

[2017-12-14 03:52] likunbyl opened #1147 "How can I make dex log at local timezone?"
I'm running dex in a container, its logs is always at UTC time, How can I output logs using my local timezone?

[2017-12-14 04:41] ericchiang commented on #1147
You can't do this today.

For simplicity we want to ensure that dex always uses UTC instead of the server's time, since the server can be in a region that's different than the admin.

[2017-12-14 06:51] likunbyl commented on #1147
I see. thanks a lot

[2017-12-14 06:51] #1147 closed

[2017-12-14 07:22] likunbyl opened #1148 "token didn't get refreshed"
env: kubernetes v1.7.10 + baremetal + coreos + dex 2.6.1 + ldap

I'm running three dex replicas in my k8s cluster. Recently my user can't get their token refreshed from dex, from  dex pods, I get these logs:

dex-1:
[code]

dex-2
[code]

So, how are tokens getting refreshed? from the logs, dex rotate these keys every 6 hours, But I noticed user's tokens get refreshed once every day before, what's

[2017-12-14 08:43] srenatus commented on #983
Thinking about this again, it seems like the right approach would be to make the SAML connector more like an `go-oidc` client -- treating IdP metadata analogously to [jwks here](https://github.com/coreos/go-oidc/blob/v2/jwks.go).

This would address the issue of the SAML IdP rotating their certificates periodically, and Dex's SAML connector keeping up with that -- instead of using hardcoded IdP ce

[2017-12-15 07:55] fjbsantiago commented on #376
@NobodysNightmare I wrote an implementation for the UserInfo endpoint. It is currently pending as a [pull request](https://github.com/coreos/dex/pull/1133).

It would be nice if you could try it to see if it solves your issue with omniauth-openid-connect, unless you already found a workaround.

[2017-12-15 07:58] srenatus opened #1149 "SAML: IdP-initated login"
Hey there.

When setting up Dex as a SAML SP in Okta, when you don't specify that it should _not be there_<sup>(a)</sup>, you end up with an icon in the user's home screen:

<img width="839" alt="screen shot 2017-12-15 at 08 32 15" src="https://user-images.githubusercontent.com/870638/34031650-a3e2862e-e172-11e7-8d45-0dc1b40a34a5.png">

To me at least, it's always tempting to click that, and hope

[2017-12-15 16:27] ericchiang commented on #1149
This scares me. It'd require a pretty intrusive change to dex and prevents us from hardening features like using the `state` to prevent CCRF attacks.

https://security.stackexchange.com/questions/20187/oauth2-cross-site-request-forgery-and-state-parameter

[2017-12-15 20:38] tuwid opened #1150 "issue integrating with Azure Active Directory"
So i followed the steps using the Microsoft connector as follows:

[code]

Sorry, but we’re having trouble signing you in.We received a bad request.Additional technical information:
Correlation ID: XXXXXXX
Timestamp: 2017-12-15 20:21:16ZAADSTS70001:
Application 'XXXXXXXXX' is not supported for this API version. | Additional technical information: | Correlation ID: XXXXXXXX | Timestamp: 2017-12-15

[2017-12-15 20:43] ericchiang commented on #1150
cc @pborzenkov

[2017-12-15 20:57] pborzenkov commented on #1150
@tuwid Are you sure that you have registered your app for Azure 2.0 authorisation endpoint (on Microsoft Application Registration Portal)? Here is the quote from documentation:

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-limitations

[2017-12-15 21:01] fforootd commented on #1150
@tuwid you need to register your application with this portal https://apps.dev.microsoft.com/

Go there and choose converged applications

[2017-12-15 22:54] tuwid commented on #1150
@fforootd doing that and I'll update you

[2017-12-17 23:53] grailsweb commented on #1145
srenatus, thanks for pointing out the typo. I removed the double quto its working now.

[2017-12-17 23:53] #1145 closed

[2017-12-18 07:50] srenatus commented on #1149
@ericchiang thanks for the feedback. I think another way to improve UX could be to redirect the user to some useful page when they come around with a SAML assertion not carrying any `RelayState`. Since _useful page_ depends on the deployment, and _can be dealt with from templates_, I'm closing this.

[2017-12-18 07:50] #1149 closed

[2017-12-19 12:51] nbyl opened #1153 "OpenID Connect: No way to handle groups"
The current OpenID connector cannot pass the groups of an authenticated user to the kubernetes cluster. If the groups claim would simply be passed through, then you could run your own OpenID Server (e.g. Keycloak) and use the groups obtained from there.

[2017-12-19 17:13] ericchiang commented on #1153
Dup of https://github.com/coreos/dex/issues/1065

[2017-12-19 17:13] #1153 closed

[2017-12-19 18:32] tuwid commented on #1150
@fforootd @pborzenkov After doing as you suggested I managed to get a successful login from AAD but I get an internal error as:
[code]

[2017-12-19 18:45] tuwid commented on #944
@rithujohn191 having the same issue with Azure AD, any ideas ?

[2017-12-19 18:50] tuwid commented on #947
@goby @rithujohn191 having the same issue with Azure AD, any workarounds ?

[2017-12-19 21:06] mpashka opened #1154 "Integrate example-app into dex server"
Usually dex is used as OpenID Connect provider for kubernetes. But in order to setup user authentication dex server itself is not enough. That is because kubectl which is supposed to be OIDC client doesn't provide appropriate functionality. Kubectl doesn't allow you to login to OIDC web page, choose authentication method, provide your credentials, e.t.c.
While DEX server provides example-app that

[2017-12-19 21:17] ericchiang commented on #1154
Dex itself is just the server implementation. Adding a client conflates its role and as such we're not going to add this.

If you developer a more fully featured OIDC client (perhaps a kubernetes specific one?) or example ingress manifests for hosting both apps under the same domain we're happy to link to it.

[2017-12-19 21:17] #1154 closed

[2017-12-20 06:19] viteksafronov commented on #981
Any news about including the feature into the roadmap? We very need it.

[2017-12-20 11:03] pborzenkov commented on #1150
@tuwid Hmm, strange. For some reason Dex failed to find auth request in its storage.
Are you sure you haven't waited for too long on Dex connector selection page? There is a known problem that auth requests expire after 24 hours and you get such error when trying to login.
They are generated when you open connector selection page.

[2017-12-20 11:08] tuwid commented on #1150
@pborzenkov no that happens right away. I'm using sqlite3 as storage. Am I missing any steps ?

[2017-12-20 11:59] pborzenkov commented on #1150
@tuwid Could you please share addresses that Dex redirects you to (removing sensitive info) after:

1) You open Dex connector selection page
2) You authenticate with Microsoft and get redirected back to Dex (when it outputs an error)

The `state` part of the URL should be the same every time.

[2017-12-20 13:20] brancz commented on #778
@byxorna working on it: #1155

[2017-12-20 14:50] tuwid commented on #1150
@ashishkulk please followup with @pborzenkov

[2017-12-20 19:27] ericchiang opened #1156 "Supported response types should be configured on a per-client basis"
Right now we only have a global config value

[code]

This should be local to the client

[code]

[2017-12-21 11:04] srenatus commented on #1156
Piggy-backing this, what would you think about per-connector `id_token` expiries?

The use case would be, for example, using both LDAP (allows for `refresh_token`s) and SAML (no refresh), you could set the LDAP connector's expiry much lower than the SAML connector's. Currently, as soon as SAML is among your connectors, it's limitations dictate longer-lived tokens.

[2017-12-21 17:00] danilina-wsib opened #1158 "LDAP password is stored in clear text ConfigMap"
Currently, tectonic-identity stores a clear text LDAP password in a ConfigMap. This is not secure, a secret is probably a better way to store it.

[2017-12-21 19:18] ericchiang commented on #1158
Yep, we plan to address this with https://github.com/coreos/dex/issues/1099

[2017-12-21 19:18] #1158 closed

[2017-12-21 19:21] ericchiang commented on #1158
Note that you can already store it as part of the environment variable. Fields in the `storage.config` blocks are expanded from the environment.

[code]

[2017-12-21 19:21] ericchiang commented on #889
Closing in favor of https://github.com/coreos/dex/issues/1099

[2017-12-21 19:21] #889 closed

[2017-12-24 05:33] likunbyl opened #1159 "Token didn't get refreshed after expired"
My environment:  k8s v1.7.10 + coreos 1298.5.0 + baremetal + dex

Recently, I upgraded dex to 2.9.0, and upgraded TPR to CRD , then I created a user to use dex for authentication:

[code]

Then I can access apierver successfully, in .kube directory, I have the following file created:
[code]

A day later, I tried to access apiserver , but failed:
[code]

I noticed config file seemd to be updated:
[

[2017-12-28 06:48] nagarjunac opened #1161 "Provide a Readme document to setup dex on kubernetes versions ~> 1.8"
I tried setting up dex on my Kubernetes cluster with version 1.8.2.
I found it hard to setup dex on kubernetes with the documentation provided. The third party resources are deprecated in 1.8 and It would be of great help if proper documentation is provided to setup Dex on kubernetes with versions >~ 1.8

[2017-12-28 16:01] snowzach opened #1162 "Running DEX with unknown IP address and relative URLs"
I have a question about Dex and want to make sure my assumptions are correct. I love the functionality that Dex provides but I have situations where my server might be hard to get to.

For example, I may need to reach my server via an unknown IP address as well as as over say, a port forwarded SSH tunnel and DNS names might resolve and IP addresses could change.

Is there some mechanism to configu

[2018-01-02 13:19] srenatus commented on #1162
Adding some info from the way I commonly use it, maybe it helps:

Dex's `issuer` setting is independent of the `web.http` setting, so if you had some kind of load-balancer in front of dex (and app!), where everything below `/dex` goes to the dex instance's `web.http` endpoint, you should be good to go.

Also note that it's fine for redirectURIs to be relative. So, it's ok to have a (OAuth2) client

[2018-01-02 13:51] snowzach commented on #1162
I spent some time with dex over the holiday and managed to work out something... I don't love it but it works. Essentially I have my issuer set to a relative address /dex
I then create my own remote oidc verifier keyset based on knowing where DEX is to verify JWT tokens.
My application will always be colocated with DEX so I don't feel like there's any risk in someone being able to provide their ow

[2018-01-02 13:58] srenatus commented on #1162
Oh that's interesting. So you ensure by some other means than the hostname (or FQDN) that the you're retrieving the right keyset. Sounds fine to me, although it's probably quite a stretch when comparing with the OIDC spec?

(I just had a quick look, and [it says](http://openid.net/specs/openid-connect-core-1_0.html#IssuerIdentifier)

I wonder what "verifiable" is supposed to mean there, though. It

[2018-01-02 21:29] snowzach commented on #1162
It currently works although the spec says it must be a URI using https which it technically does not. I'm not sure I like this as a solution but it functions for the time being. Pretty much expecting it to break long term.

[2018-01-02 21:30] #1162 closed

[2018-01-03 03:32] snowzach commented on #926
I needed this too.. Created PR 1163

[2018-01-04 04:03] likunbyl commented on #1159
Things is that my client host is 8 hours delay, after sync the time using ntpd, everything is ok.

[2018-01-04 04:03] #1159 closed

[2018-01-04 04:04] likunbyl commented on #1148
sync time with ntpd fixed this.

[2018-01-04 04:04] #1148 closed

[2018-01-05 09:56] nabadger commented on #1132
We're using dex with kubernetes (backed by ldap) at the moment. I've written a web-based dex-client authenticator service based on the example app. It lets you configure multiple clusters that you want to auth against and handles the redirect, then provides you with a complete kubeconfig. I'll opensource this shortly if anyone is interested.

[2018-01-12 17:47] jenningsloy318 opened #1169 "Configure SAML is not working with DEX"
Hi All,

I just configure dex to integrated with my corp's IDP service, through the saml connector example, seems not working right now. dex will redirect to IDP, but no login screen appears.

**Backgroud**:
     Our IDP service is co-work with UAA and provide the SSO for Cloud Foundry platform, the configureation need to involves trust configuration between them which is work perfectly. I want to

[2018-01-12 18:55] ericchiang commented on #1169
Any error messages or other hints from UAA about why it can't process dex's request? It's hard to know how to help otherwise.

[2018-01-13 02:06] jenningsloy318 commented on #1169
I don't use UAA, I replce UAA with DEX to integrate with IDP service.

[2018-01-14 12:32] pmcgrath opened #1170 "Fix comment typos"
2 typos in the ldap.go file comments
BsaeDN should be BaseDN
        https://github.com/coreos/dex/blob/master/connector/ldap/ldap.go#L87
        https://github.com/coreos/dex/blob/master/connector/ldap/ldap.go#L111

[2018-01-15 05:44] se0wtf opened #1172 "Disable "grant access" page"
Hello,
Is there a way to automatically grant access ? (skip the page).
I tried with the query param prompt=none but i still have to grant access.

Thanks,

[2018-01-15 06:52] maeb opened #1173 "Typo in error message: dail"
https://github.com/coreos/dex/blob/1dbecefadff98e338e697370625e3e3f3fbf749b/examples/grpc-client/client.go#L40

[2018-01-15 07:50] srenatus commented on #1172
Could you try adding this to your config file?
[code]

[2018-01-15 07:53] srenatus commented on #1169
@jenningsloy318 Can you configure your IdP to expect an AuthnRequest via the _HTTP Post Binding_? Your expectation,

describes the _HTTP Redirect Binding_, which dex doesn't support ([see the docs](https://github.com/coreos/dex/blob/2851b3c7a61cfe57388f50e13443aef372027c31/Documentation/connectors/saml.md#L5), and [this comment](https://github.com/coreos/dex/blob/75a07f2bfa541a25b1b88e7f1510d9945e

[2018-01-15 23:55] se0wtf commented on #1172
It's working !
Thanks ;)

[2018-01-16 07:26] hardbone12 commented on #376
@fjbsantiago I have made a simple test of your code as openshift(kubernetes) auth provider

As i reviewed openshift openid plugin code
https://github.com/openshift/origin/blob/9a9a948e55f943e1aa2cff3965a7545f7809a380/pkg/auth/oauth/external/openid/openid.go#L187
and
http://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse

I think the subject in AccessToken should be the same as in id

[2018-01-16 07:34] srenatus commented on #1172
Cool. Can we close this? 😃

[2018-01-16 14:05] jenningsloy318 commented on #1169
@srenatus

Thanks,but i find it is difficult to configure at IDP side

[2018-01-16 14:16] srenatus commented on #1169
@jenningsloy318 I'm afraid the only other option would be to implement the _HTTP Redirect Binding_ in Dex. Not like I know much about any, but what IdP is it? Maybe some passer-by has insights to share...?

[2018-01-18 08:21] viteksafronov commented on #787
We're constantly facing the same problems as in starting post. We solved 2) by using a lock on backend, so first connection does refresh, and consequent connections are waiting for it and are served once the refresh is finished.
But the 1) is still the pain, because dex may refresh token, but we don't know about it because of network problems, so users are getting log out.  Is there a roadmap to s

[2018-01-18 09:46] jenningsloy318 commented on #1169
@srenatus

It is an IDP provided by SAP, we bought their IDP service  alongside with Cloud Foundry service.

[2018-01-18 09:56] srenatus commented on #1169
@jenningsloy318 I see. Also, I have no idea how to help with that. I'd ask their support for getting help with switching the SAML binding type. (Unless you'd want to implement the Redirect Binding in Dex 😉 )

[2018-01-19 04:34] jenningsloy318 commented on #1169
@srenatus  I am a sysadm with poor programming skills, so ...😉

[2018-01-19 09:09] srenatus commented on #1169
@jenningsloy318 I've taken a stab at it, thinking that it couldn't be too hard to add that Binding. @ericchiang What do you think, could we get this in? 😃 It'll help our users, for sure, by removing this arbitrary restriction when it comes to supporting SAML2.

[2018-01-22 15:09] vyshane commented on #892
Is there still interest to make this happen?

[2018-01-23 13:28] vyshane commented on #892
Okay, I've created a PR #1176.

It implements a new scope `id_provider` that adds a new claim `id_provider` to the ID token. The claim has the following format:

[code]

[2018-01-23 19:17] blakebarnett commented on #892
This will make searching through logs so much nicer, thanks!

[2018-01-24 09:13] nick4fake opened #1177 "third party resources not found, please enable API group extensions/v1beta1"
[code]

[2018-01-24 09:13] nick4fake commented on #1177
Rbac config:
[code]

[2018-01-24 09:28] nick4fake commented on #1177
Nevermind, was using old container version

[2018-01-24 09:28] #1177 closed

[2018-01-25 06:35] jenningsloy318 commented on #1169
@srenatus Thanks for your info, hope we can get it resoved soon.

[2018-01-26 11:09] jacopofar opened #1178 "Are UPNs supported?"
I have credentials which work with `ldapsearch` but cause a binding error when used with the LDAP connector.

This command gives me the directory data:

`ldapsearch -w $LDAP_SYSTEM_USER_PASSWORD -H ldap://srvndc01.companyname.local:389 -b DC=companyname,DC=local -D serviceldap@companyname.local`

and in `config.yaml` I put:

[code]
where LDAP_SYSTEM_USER_PASSWORD is an environment variable contain

[2018-01-26 22:09] ericchiang commented on #1178
Internally, our code performs a basic Bind when attempting to connect to the LDAP service

https://github.com/coreos/dex/blob/1dbecefadff98e338e697370625e3e3f3fbf749b/connector/ldap/ldap.go#L284

Do we need anything more than that to support UPN? Sorry, just not super familiar with how that interacts with the BIND command.

[2018-01-28 22:43] whereisaaron opened #1179 "[Bitbucket] Bitbucket connector or generic oauth2 connector?"
Back in v1 there was a [bitbucket connector](https://github.com/coreos/dex/blob/eb6dceadfd98ea786bce887502f5a74d8b49a256/connector/connector_bitbucket.go) for `dex`. It was removed for v2. Neither is their a generic oauth2 connector that could be used with bitbucket.org, and I don't think the `oidc` connector can be used?

Is there is any current support and ideally an example for using `bitbucket

[2018-01-30 16:39] jacopofar commented on #1178
Thanks, eventually we found that the problem happens with the `python-ldap` library as well and changed approach

[2018-01-30 16:39] #1178 closed

[2018-02-01 16:43] SEJeff commented on #1132
@nabadger that would be great! I was just in the process of starting to write my own.

[2018-02-01 19:30] #1172 closed

[2018-02-01 19:30] ericchiang commented on #1170
Thanks! https://github.com/coreos/dex/pull/1171

[2018-02-01 19:30] #1170 closed

[2018-02-01 19:31] ericchiang commented on #1137
Going to close out since the question's been answered. If there's a specific feature request to propose please feel free to open another issue.

[2018-02-01 19:31] #1137 closed

[2018-02-02 17:26] cstrahan opened #1182 "Support for an arbitrary set of claims (including user defined claims)"
Dex currently has support for some particular set of claims, and that choice is reflected in various rigid data structures and e.g. the queries that make up the persistence backends (see `storage/sql/crud.go` for example). Each time a new claim is to be supported by Dex, the Dex maintainers must touch many files and many data structures. This is tedious work that could be obviated by a design chan

[2018-02-03 19:48] ericchiang commented on #892
Closed via https://github.com/coreos/dex/pull/1176

[2018-02-03 19:48] #892 closed

[2018-02-06 17:22] pivotal-jwinters commented on #1102
I just submitted a PR for this #1184.

We're currently returning groups in the form:
[code]

However I'm wondering if this is a better format:
[code]

It seems like the second format would make it easier to match groups at the org level, even if teams exists. Thoughts?

[2018-02-06 19:41] pivotal-jwinters opened #1186 "Github identity doesn't return the user login"
In the `github` connector it looks like we are intentionally returning the users name (if available) instead of their login in the `Username` claim.

https://github.com/coreos/dex/blob/master/connector/github/github.go#L245-L248

Does it make sense to add a new `Name` claim to the connector identity which will contain the user's name, and that way we can use the `Username` claim for their login?

[2018-02-06 19:43] pivotal-jwinters commented on #1186
Oops this is a duplicate of #1076.

[2018-02-06 19:43] #1186 closed

[2018-02-07 21:05] trinitronx commented on #1161
I had good luck using [SEJeff/k8s-ldap][k8s-ldap] manifests as a starting point.  The README there is also pretty good.  It includes the new [CustomResourceDefinition manifests][1]

[1]: https://github.com/SEJeff/k8s-ldap/blob/master/dex-crd.yml
[k8s-ldap]: https://github.com/SEJeff/k8s-ldap

[2018-02-07 22:21] hauntingEcho opened #1187 "[readme] SAML2.0 does support passive refresh via isPassive"
In the readme, it is mentioned that "SAML doesn't provide a non-interactive way to refresh assertions".  However, this is the purpose of the "isPassive" (line 2047 of [SAMLCore](http://docs.oasis-open.org/security/saml/v2.0/saml-core-2.0-os.pdf))

[2018-02-08 00:56] ericchiang commented on #1187
"isPassive" just seems to imply that the provider should actively re-log you in, kind of like OpenID Connect's "max_age" http://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

This doesn't let us refresh the data, just implies that your provider is okay with not actively logging you back in (such as prompting your password).

For refresh tokens, dex expects to be able to refresh the cla

[2018-02-10 03:44] codesuki opened #1189 "Dex hangs on startup when etcd endpoint is not available"
Startup stops after the log:
```time="2018-02-10T03:34:53Z" level=info msg="config issuer: https://hostname/dex"```
When I use a different storage it starts up without problem.

It seems the timeout in etcd.clientv3 doesn't work.

[2018-02-10 21:53] whereisaaron commented on #439
@ericchiang's fix for this, the 'env' script in #440 has been removed now?

[2018-02-10 23:24] whereisaaron commented on #1132
@nabadger if you can share that it would be *fantastic*.

I just read a bunch of issues like above where people are struggling to configure dex even for a basic k8s/LDAP configuration, giving up and using something else. I can't find a single properly explained example for using dex. Any references for writing examples would be appreciated.

[2018-02-10 23:28] whereisaaron commented on #1132
This might be @nabadger's work here:

https://github.com/mintel/dex-k8s-authenticator

[2018-02-13 14:58] pivotal-jwinters commented on #1076
Maybe this could be returned in the new "federated_claims" object?

[2018-02-14 10:17] DebugIT commented on #1169
Hey @jenningsloy318

I see you're using on demand solution of SAP Cloud Identity, I had the same error which in fact tells nothing...

In my case this error occurred when :

- I had wrong SP in AuthnRequest url (it has to match name in the SAML2 configuration of your application(Service Provider), you can check it in admin console of your tenant in SCP. I have multiple applications registered, the

[2018-02-14 22:06] whereisaaron commented on #1137
@primeroz you can use the LDAP connector twice with different `id`, `name`, and `baseDN`. Users can click on the named button for the cluster they want.

[code]

[2018-02-14 22:14] whereisaaron opened #1190 "[LDAP connector] Document that 'DN' must be in capitals"
I was perplexed why my LDAP group searches were not working. But I noted on the otherwise excellent LDAP connector documentation page, that ['DN' was used in capitals](https://github.com/coreos/dex/blob/master/Documentation/connectors/ldap.md#example-mapping-a-schema-to-a-search-config), even though nothing else was.

I didn't think 'dn' was supposed to be case sensitive? Either way, I think this

[2018-02-14 22:33] whereisaaron opened #1191 "[Local Connector] Add ability to configure name"
The local connector is not treated like a connector in the configuration file. It doesn't come under `connectors` and doesn't have an `id` or `name` field. The name is actually [hard-coded to "Email"](https://github.com/coreos/dex/blob/master/cmd/dex/serve.go#L194-L201).

I'd suggest the local connector is treated like any other in the config, with the option to configure the `id` (for the icon) a

[2018-02-15 09:53] srenatus commented on #1191
For what it's worth, I could see this being valuable! 👍

[2018-02-15 16:47] whereisaaron commented on #1190
I found a [mention of the magic capitalization behavior](https://github.com/coreos/dex/blob/master/examples/config-ldap.yaml) here:
https://github.com/coreos/dex/blob/master/examples/config-ldap.yaml

Just need the same in the connector documentation page.

[2018-02-16 03:15] whereisaaron commented on #1179
I have Google working fine via the OIDC connector, and I assume, since this is no bitbucket-specific connector any more (was removed for dex v2), that OIDC would work for bitbucket.org?

Their OAuth2 information is [here]([url](https://confluence.atlassian.com/bitbucket/oauth-on-bitbucket-cloud-238027431.html)), is there OAuth2 implementation not sufficient for an OIDC flow?

This configuration be

[2018-02-18 01:37] jenningsloy318 commented on #1169
— @DebugIT Thanks for info. I will test it after the vocation.

[2018-02-19 13:42] vyshane commented on #1020
I have also been looking at integrating dex with an external user service, and have arrived at a similar solution: A connector that implements the `PasswordConnector` and `RefreshConnector` and talks to the external service via gRPC. Then I found this issue.

What can we do to get something like this merged into dex? Would love to not have to maintain a fork of dex just so I can use this connector

[2018-02-19 15:39] whereisaaron opened #1192 "Helm charts for 'dex' and 'dex-k8s-authenticator' available"
I've made [Helm charts for both `dex` and `dex-k8s-authenticator`](https://github.com/mintel/dex-k8s-authenticator/tree/master/charts). You can deploy just `dex`, or deploy it together with the `dex-k8s-authenticator` helper UI. `dex` can be deployed into `kube-system` or into its own namespace with appropriate RBAC.

https://github.com/mintel/dex-k8s-authenticator/tree/master/charts

The chart se

[2018-02-20 15:19] maryoush opened #1193 "[QUESTION] Authenticate via DEX into SAML identity provider using no interactive mode"
Hi
I have use case when I would like to set up a piece of code (aka registered client) accessing a DEX integrated with some SAML compatible identity provider.
For basic setup it is fine for me to use in client (piece of code) hardcoded credentials to SAML identity provider.
Is this possible to set this up with DEX without any human interaction ?

[2018-02-21 00:01] whereisaaron commented on #1132
Thanks @nabadger. The helm charts aim it make it dead simple to deploy both `dex` and optionally, the excellent `dex-k8s-authenticator` as well. So you don't have to repeat the pain we went through 😄

The `dex` chart instructions includes a somewhat better example configuration file for `dex` with links to where to configure Open ID at the various services like Google, Microsoft and Github. The ch

[2018-02-21 14:22] maryoush commented on #1193
Is this possible to authenticate e.g against federated SAML identity through any OICD connectors
https://connect2id.com/products/nimbus-oauth-openid-connect-sdk/examples/openid-connect/oidc-auth ?

[2018-02-23 12:08] RichardLindhout commented on #939
Probably better, but still not resolved since the options request should respond with something like
[code]
Instead of that I got a redirect. It looks like dex does handle options request with an authentication flow or something.

[2018-02-24 02:16] sujithvs74 opened #1194 "Issue with group membership claim"
I have configured dex with example app and I am able to use kubectl with generated tokens.  Issue I am facing is whenever I used token it gives me full access to all namespaces. I already added role and rolebinding to one namespace (with one AD group), that is not working here. I couldn't find any documentation on that here. Please check this issue.

Yaml used for role and role binding -
[code]

[2018-02-27 20:23] eroji opened #1196 "No issuer specified in config file"
I am trying to follow the documentation on: https://github.com/coreos/dex/blob/master/Documentation/connectors/ldap.md. When I created a custom LDAP config and try to start Dex to serve requests using it, it returns the following error

`invalid config: no issuer specified in config file`

I don't see an issuer value anywhere in the example config.

[2018-02-27 21:23] ericchiang commented on #1196
The LDAP document you pointed at doesn't have all of the fields required by a full config. Try this instead https://github.com/coreos/dex/blob/master/examples/config-ldap.yaml

[2018-02-27 21:23] #1196 closed

[2018-02-27 21:59] jackielii opened #1197 "question: a way to save approval/grant?"
If a resource owner has already approved the "Grant Access", it shouldn't need to approve it again right?

[2018-02-28 18:23] eroji opened #1199 "Retrieve all groups of a user for LDAP connector?"
Is there a way to configure the LDAP filter to retrieve all groups a user belong to? I tweaked the defaults around quite a bit but it's always showing `groups=[]`. My groups are in a 'Security Groups' OU with other OUs that any user can be a member of.

Here is what I have that works for username but not groups:
[code]

[2018-02-28 22:17] ericchiang commented on #1194
Did you turn on RBAC?

[2018-02-28 23:05] eroji commented on #1199
I didn't include the extra scope for groups. Issue resolved.

[2018-02-28 23:05] #1199 closed

[2018-03-05 19:31] sasso commented on #1197
same question here 😄

[2018-03-08 12:27] jackielii commented on #376
@hardbone12 rolled my own, borrowed mostly from @fjbsantiago , fixed the subject issue

[2018-03-13 04:12] arkachat commented on #1118
Makefile:23: recipe for target 'bin/dex' failed
make: *** [bin/dex] Error 2
root@1ff736cd2b38:~/work/src/github.com/coreos/dex# go version
go version go1.9 linux/amd64
root@1ff736cd2b38:~/work/src/github.com/coreos/dex# cat /etc/issue
Debian GNU/Linux 9 \n \l

It seems the problem persists.

[2018-03-13 07:07] Smana opened #1203 "How to revoke refresh tokens ?"
Hey guys,

I managed to setup my kubernetes cluster authentication with Dex (ldap connector) and [dex-k8s-authenticator](https://github.com/mintel/dex-k8s-authenticator) and everything works like a charm, users are able to get their credentials and i configured RBAC's on kubernetes based on ldap groups.
However i didn't found a way to revoke the refresh tokens. Is there a documentation somewhere p

[2018-03-15 17:46] ptzianos opened #1204 "LDAP connector ignores port in the host string"
In my configuration the host of the ldap service is configured like this:
`host: **.****.de:1636`

The result is that the service is throwing away the port and it's trying to use port 636 instead. Now don't ask why we are using a non-standard port, that's a sad story for another day. What I would like the service to do is to use the supplied port, 1636 in my case.

Looking a little bit at the code

[2018-03-17 19:45] sasso commented on #1197
@rithujohn191 @ericchiang is it normal that dex asks for auth every time token expires?

[2018-03-20 22:04] ericchiang commented on #1204
I'm fairly certain this is working. It's not the prettiest code, but the "host" field is for our LDAP TLS validation, not the dial later on. Our test servers listen on non-standard ports and that works just fine.

https://github.com/coreos/dex/blob/f2eac0e7238e93106d6cceb60c7dd0a89f9a1099/connector/ldap/ldap_test.go#L595-L609

[2018-03-20 22:04] #1204 closed

[2018-03-21 07:47] totahuanocotl commented on #1132
We also just made public [osprey](https://github.com/sky-uk/osprey). It is a login tool for kubernetes using dex and (currently) and ldap connector. It has a CLI that logs you into one or multiple clusters based.

[2018-03-22 01:16] jenningsloy318 commented on #1169
@DebugIT I tried your recommendations, but still got no luck. Can you advise if I'd make some changes on the IAS side ?

[2018-03-22 21:38] totahuanocotl commented on #1203
Do you want your users to have to login every two hours?
You could omit the refresh token from the returned response, and configure the expiry of your production cluster tokens to be two hours.
We have a similar setup and we use [osprey](https://github.com/sky-uk/osprey) as a CLI  to login to our clusters using an LDAP backed Dex. Osprey generates the kubectl Config file for you, with no refresh t

[2018-03-24 21:10] Smana commented on #1203
Thanks, @totahuanocotl for your answer.
Actually ideally I would like to keep refresh tokens and manage when I want to revoke them.
I'll dig further into the code.

[2018-03-26 04:46] Smana commented on #1203
I'm trying to use the grpc-client example in order to *list refresh tokens* then *delete* them according to the cluster (client_id) but i'm stuck there too.

I thought that listing the refresh tokens would be as simple as listing the passwords, but the response is empty even though there are refreshtokens (looking at k8s CRD's) :
[code]

Revoking a given refresh with the following piece of code
[c

[2018-03-26 05:20] Smana commented on #1203
Well maybe listing the refresh tokens is not possible because I'm using a kubernetes storage?
*storage/kubernetes/storage.go*
[code]
Any other idea to revoke the refresh tokens would be welcome :)

[2018-03-26 07:47] vvakame opened #1210 "Feature request: Support new Storage, Google Cloud Datastore & AppEngine Datastore"
Google Cloud Datastore
https://cloud.google.com/datastore/
https://godoc.org/cloud.google.com/go/datastore

AppEngine Datastore
https://cloud.google.com/appengine/docs/standard/go/datastore/
https://godoc.org/google.golang.org/appengine/datastore

I want to use (Cloud|AE) Datastore to Storage.
but There have a difficult problem.
1. Datastore API require pass the `context.Context` to argument. read

[2018-03-26 18:17] #1194 closed

[2018-03-26 18:29] sujithvs74 opened #1211 "Dex is not working after adding new certificate for kube apiserver"
We have updated new cert for kube apiserver, after this dex is not starting up. It is throwing below error. We need help for configuring dex with new apiserver cert CA and endpoint.

`time="2018-03-26T18:17:47Z" level=error msg="creating custom resource authcodes.dex.coreos.com: Post https://10.96.0.1:443/apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions: x509: cannot validate certificat

[2018-03-27 04:39] Smana commented on #1211
Hi ! Do you use the option `--oidc-ca-file=/etc/ssl/certs/ca.pem` of the kube apiserver ?

[2018-03-27 04:52] sujithvs74 commented on #1211
I have it already and dex was working well before adding new cert for apiserver.

Now apiserver is running with a different CA certificate and when dex tries to communicate with it using apiserver pod ip and port it is failing. How can I pass apiserver endpoint and CA file to dex.

`    - --oidc-issuer-url=https://dex.k8s.example.com:8443/dex
    - --oidc-client-id=loginapp
    - --oidc-ca-file=/e

[2018-03-27 05:30] Smana commented on #1203
I switched to the etcd storage but it didn't help even though the functions `ListRefreshTokens` and `DeleteRefresh` seem to be implemented.
I must be missing something in the above piece of code.

[2018-03-27 06:09] Smana commented on #1203
Well, I found the missing piece of code
[code]
Now i need to understand why i'm still getting authenticated in the target k8s cluster even though i set the token expiry time to 2m

[code]

[2018-03-27 19:55] Smana commented on #1203
Ok i'm now able to revoke a token for a given userId.
Now i need to find a way to list all the refresh tokens.

[2018-03-27 20:26] Smana commented on #1203
i'll try to play with etcd ```etcdctl3 get --prefix dex/refresh_token/ --print-value-only | jq [.]```

[2018-03-30 21:02] joshua-rutherford opened #1212 "Keepalive may result in client callback being invoked on dex."
When dex and a client are behind the same load balancer and that load balancer is performing TLS passthrough based upon SNI the client callback will be invoked on dex instead of the client since the IP address of dex and the client will be the same and the browser already has a connection open to that IP address (only the connection is with dex, not the client).

Waiting thirty seconds or more pri

[2018-04-04 15:17] nvtsgit commented on #1197
i am having the same problem.  Using sqlite as the backend, nothing seems to be updated to indicate that Grant Access has taken place in order to not ask again.

[2018-04-04 22:35] rithujohn191 commented on #1197
The "Grant Access" page is expected to appear after the token expires. The token expiry can be customized by setting the following value in the ConfigMap:

[code]

If the "Grant Access" page appears before the token expires that seems to be a separate issue. Please clarify if this is the case.

[2018-04-05 10:51] xgenvn commented on #1150
Hi,
Is there any updates on this issue? I wonder if current dex supports AzureAD applications or not, it seems Azure integration is little different atm (Microsoft document is also outdated).

[2018-04-05 11:05] pborzenkov commented on #1150
@xgenvn

Hi,
Just checked on my test setup and successfully logged in with both my personal MS account and with a corporate one.

[2018-04-05 11:39] xgenvn commented on #1150
@pborzenko thank you, I'll give it a try.

[2018-04-05 21:04] venezia opened #1213 "Rebuild container images with fixed vulnerabilities"
Hi

All versions (but in particular the latest) of dex appear to have some vulnerabilities in their underlying environments.  [Quay](https://quay.io/repository/coreos/dex?tab=tags) lists 2 High security issues with v2.10.

Can we a get a rebuild/refresh to images that are no longer vulnerable?

Thanks

[2018-04-06 01:30] llchan opened #1214 "[LDAP Connector] List primary group first"
When querying for the user in ldap, we can also output the `gidNumber` (or other configurable field) that designates the user's primary group. Then when constructing the group list, we can place this group at the front of the list (if it exists). This behavior is useful for cases when the user's primary group is typically the one authorized in access lists, and it's beneficial to try that one firs

[2018-04-07 07:55] austbot opened #1215 "invalid bearer token, crypto/rsa: verification error"
I'm getting an error I cant find any other material on.
We have a Kops provisioned Kubernetes 1.9.4 cluster with Dex installed.
Okta is installed in Dex as a connector.
Using the example app I am able get a token using the Okta auth strategy. But when I try to use the token I get this in the ApiServer logs and literally nothing else.

`Unable to authenticate the request due to an error: [invalid b

[2018-04-09 07:34] Smana commented on #1203
I wrote a script that gets a list of the users from etcd and revokes refresh tokens on a regular basis.
[code]
I'll consider to open a pull request in order to list the users using dex instead of calling directly etcd.

[2018-04-09 07:34] #1203 closed

[2018-04-09 14:28] alok87 opened #1216 "[Question] Installation in Kubernetes - docs"
**What?**

We want to run dex.example.com in Kubernetes and use it not for kubernetes authentication but for our apps authentication

This document talks about using Dex for Kubernetes auth -https://github.com/coreos/dex/blob/master/Documentation/kubernetes.md

We do not want 3rd party resources for it, we just want to run it in Kubernetes. Any doc for it?

[2018-04-09 18:32] sandromello commented on #1216
The default mode of Dex is running with Kubernetes CRD (old TPR) as the storage backend, if you want another storage option you'll need to change the configuration file:
https://github.com/coreos/dex/blob/master/Documentation/storage.md

[2018-04-09 20:08] dbkegley commented on #1084
Any updates on this issue? We would like to use this feature as well, our use case is similar to @pbochynski's.  We have multiple customers, who may or may not have an internal IDP.  If they have one then we would like to configure a dex connector so they can use their existing IDP to sign in to our application. If they don't then we would allow them to use our IDP.  Our only requirement is that t

[2018-04-09 20:13] alok87 commented on #1216
@sandromello I want to just run it without CRD, i want to just run dex.example.com in Kubernetes and use dex.example.com to authenticate my myapp.example.com

Can't this be done without CRDS? Also want to run it as HTTP service and do SSL termination before in our WEB Server

[2018-04-09 21:41] alok87 opened #1217 "Example app failing in macOS"
On doing below steps in mac it fails

[code]

MAC OS Version: High Sierra 10.13.3 (17D47)

[2018-04-10 15:41] agentgonzo commented on #1025
Could someone provide some guidance on how to set this up in the configs?
I've added the following to the config:
[code]
And can see that this is getting picked up in the logs:
`time="2018-04-10T15:18:11Z" level=info msg="config allowed origins: [*]"`

However, when by browser does the pre-flight OPTIONS request to the /auth endpoint, it's returning a 302 to the upstream login provider (google in

[2018-04-10 17:48] WilderPereira commented on #1217
Did you run `./bin/dex serve examples/config-dev.yam` before?

[2018-04-10 19:10] alok87 commented on #1217
@WilderPereira not sure why?

[2018-04-11 13:52] nvtsgit commented on #1197
This does not seem to be the issue.  If I set that value, I experience the same behavior.
Every time a user authenticates, she is also required to grant access to the requesting application.  This does not seem appropriate.

[2018-04-12 07:43] fanux opened #1218 "Failed to query provider"
[code]

[2018-04-12 08:13] fanux commented on #1218
Assign cluster role to dex service account so it can create third party resources. But how? I can't see  any service account in dex.yaml

[2018-04-16 07:11] #1218 closed

[2018-04-16 07:13] fanux opened #1219 "Unregistered redirect_uri"
invalid_request: Unregistered redirect_uri ("http://47.52.197.163:5555/callback")

![image](https://user-images.githubusercontent.com/8912557/38794673-8cc49326-4188-11e8-8590-ce53757a2b4c.png)

then I click login, but return the error, I don't know why.
I run dex on cloud provider vm, 47.52.197.163 is my floating ip.

[2018-04-16 12:06] #1219 closed

[2018-04-16 13:46] srenatus commented on #1042
I wasn't aware of this issue, but there's another recent attempt to fix this here: #1175

[2018-04-17 06:53] redbaron commented on #448
There is a spec and there are practical questions. Google took pragmatic approach and allowed wildcards, Dex took pragmatic approach and didn't ban HTTP scheme from redirects as specs says.

For dynamic development environments, such as created with help of Gitlab, where apps are deployed to unique URLs per branch, wildcard handling is essential.

For those who wants it, here is PR where RedirectU

[2018-04-17 15:46] hanikesn commented on #448
I can confirm that Azure Active Directory also allows wildcards for redirect URIs now.

[2018-04-18 23:01] valer-cara opened #1222 "Cannot use `openid` scope in the GitLab connector"
### Usecase

I'm trying to pull groups from gitlab which requires the `openid` scope

### Problem

When specified by `--scopes=openid` flag dex redirects to an error page saying (url error only) "Unrecognized scope openid".

### Expected

Redirecting to gitlab and requesting the `openid` scope

---

Thank you for the good work on dex!

[2018-04-20 03:12] panoti commented on #1113
I found error from your guide @srenatus
[code]

[2018-04-20 05:54] srenatus commented on #1113
That is correct. Dex has no such thing.

[2018-04-20 06:15] panoti commented on #1113
Why do you not add user entry point? I see many PR about it but you don't merge. @srenatus

[2018-04-20 06:26] srenatus commented on #1113
@panoti I'm in no position to decide (let alone merge! 😅) anything here -- please reach out to the [project maintainers](https://github.com/coreos/dex/blob/0d3edf24568dbbc696b4fbf3f79c4412ddae0b53/MAINTAINERS) (cc @ericchiang @rithujohn191)

[2018-04-20 06:29] panoti commented on #1113
LOL. I'm sorry, I thought you was in their team too.

[2018-04-20 06:55] srenatus commented on #1113
@panoti no worries 😄 ... I'm just a fan 😉

[2018-04-24 08:36] silenceshell commented on #1197
[how google does:](https://stackoverflow.com/questions/10508557/why-does-google-oauth2-re-ask-user-for-permission-when-i-send-them-to-auth-url-a) Seting `approval_prompt=force/auto` will get different beaviors. Maybe it is too heavy for google to save so many records.
For me I will set `skipApprovalScreen: true` to avoid showing the grant dialog.

[2018-04-25 09:06] RichardLindhout commented on #939
@ericchiang Probably fixed with this commit. We are checking this in production today.

[code]

[2018-04-25 09:58] nabadger commented on #448
Am I right in thinking we could configure clients via gPRC as per https://github.com/coreos/dex/blob/master/Documentation/api.md

It looks like `createClient` and `deleteClient` is supported.

Since wildcard's in redirectURIs are not allowed, I'm thinking this could be used as another way to dynamically add new redirectURIs (actually entire clients).

[2018-04-26 09:17] redbaron commented on #448
@nabadger , yes, that is an option too and it should work, but at the cost of more complicated setup and deployment

[2018-04-26 09:35] hanikesn commented on #448
We also implemented our own redirect gateway, where we can use regex for whitelisting and only whitelist that gateway in our IDP.

[2018-04-26 14:08] stepanstipl opened #1225 "GitHub Non-Web application flow support"
Is there a way to make non-interactive login via GitHub work? GitHub itself does support Non-Web application flow, where the OAuth2 token is statically pre-generated by user as a "Personal access token" (https://developer.github.com/apps/building-oauth-apps/authorization-options-for-oauth-apps/#non-web-application-flow).

Use-case: We would still like to use Dex for auth, but in a CI/CD context, w

[2018-04-26 17:30] whereisaaron commented on #1161
Hi @nagarjunac there are [helm charts available](#1192) to install `dex` and `dex-k8s-authenticator` that work fine on k8s 1.8+.

1. `git clone git@github.com:mintel/dex-k8s-authenticator.git`
2. `helm inspect values charts/dex > dex.yaml`
3.  Edit 'dex.yaml' to suit your requirements
4. `helm install --namespace dex --values dex.yaml charts/dex`

[2018-04-28 18:25] nabadger commented on #1216
There's a few helm charts for Dex available - this is probably a good way to get started - if you don't run the Tiller component, you can still use `helm template` to generate the manifest file.

We wrote one here: https://github.com/mintel/dex-k8s-authenticator/tree/master/charts/dex

It also looks like there's a recent (official?) one here https://github.com/kubernetes/charts/tree/master/stable/

[2018-04-29 09:22] sibu105636 opened #1227 "Enabling SSL between Dex and quay container registry"
HI,
Did anyone configured dex as a OIDC provider to QUAY for AD authentication? I am stuck at enabling ssl between the two(Unfortunately quay does not allow http connection for OIDC clients). I am trying with self sign certificates in integration environment but getting certificate signed by unknown authority error even though I have trusted my CA. Both QUAY (running as a container) and dex are on

[2018-04-30 17:37] nirosys opened #1228 "[question] Using Dex with an OIDC provider that does not implement discovery."
Hey All,

I'm working on deploying Dex with an external OIDC provider that currently does not implement discovery.

Can Dex currently be used in this situation? It seems to me that Dex's use of go-oidc pretty much requires discovery to be available, but maybe I missed something.

If not, is there an interest in providing the option to manually configure the OIDC provider for Dex? I would be able t

[2018-05-03 02:41] fanux commented on #1218
[code]

This is my dex yaml, I change the image and add storerage

[2018-05-03 14:12] leforestier opened #1229 "connectors/oidc: support additional signing algorithms for Yahoo"
Hi,

I'm trying to set up a connector for Yahoo's openid connect service. This is to allow users to connect to my website using their Yahoo account.
Here's the conf of  my connector:

    connectors:
    - type: oidc
      id: yahoo
      name: Yahoo
      config:
        issuer: https://api.login.yahoo.com
        # Connector config values starting with a "$" will read from the environment.

[2018-05-03 19:57] sirianni opened #1230 "Multi-tenancy - redirect to identity provider based on username"
Is it possible (or on the roadmap?) to choose the identity provider dynamically based on the username or an organization (tenant) specifier?

I'm looking for a workflow like:
* User enters username (email address), clicks `Next`
* Based on email domain suffix, dex redirects to organization-specific Identity Provider.

This is the same workflow as in https://login.microsoftonline.com for example.

[2018-05-11 08:06] varuntalus opened #1234 "How to Access Kubernetes dashboard through Dex"
Using Dex solution we are able to authenticate the user through Active Directory.

Once the user requests for ID token through the LoginApp, the controls goes to DEX UI, where user enters its credentials and submits the request. This user then gets authenticated via ActiveDirectory\LDAP and the control comes back to DEX UI and then it generates the OIDC token and returns it back to the LoginApp pa

[2018-05-14 14:55] zabykrinich opened #1235 "missing required field "userSearch.baseDN" when run on kubernetes"
Hi, could you help me to understand why I run the problem with kubernetes DEX setup when real machine setup is OK please?
I use the same config on a standalone DEX  and it seems to be working. Only one difference is a storage section. For real machine I use sql instead of kubernetes

I get following error from the POD:

Unfortunately nothing more I can't get. I check my config file in container an

[2018-05-14 16:16] ericchiang commented on #1235
This section of your config is formatted incorrectly.

[code]

It should be

[code]

[2018-05-14 16:16] #1235 closed

[2018-05-15 13:48] pree opened #1236 "Linking User Accounts"
Hey,

is it possible with dex to link user accounts from different connectors ?
e.g. user logs in with GitHub or LinkedIn and results as the same User Account in the Web-App.

Auth0 does this and I think its pretty neat: https://auth0.com/docs/link-accounts

[2018-05-15 16:09] ericchiang commented on #1236
This requires more state and user management facilities then we're likely to add at this time. If you would like to do this consider doing the linking in whatever app is using dex to authenticate users.

[2018-05-15 16:09] #1236 closed

[2018-05-16 07:08] zabykrinich commented on #1235
It is working. Thank you a lot!

[2018-05-16 09:09] Victoryship opened #1237 "Why the generated access_token does not save to the database"
![image](https://user-images.githubusercontent.com/19524632/40107586-3a3c4f26-592b-11e8-802f-c981ea8d032e.png)
![image](https://user-images.githubusercontent.com/19524632/40107726-9ba1ed16-592b-11e8-9192-ecd52fc51691.png)

The newly generated access_token is only output at the end. It is not saved to the database. How to verify the third party's access_token is valid later?

[2018-05-16 09:34] ChristianSchlatter commented on #1182
I would be happy if we can support at least the OpenID Standard claims [5.1 Standard Claims](http://openid.net/specs/openid-connect-core-1_0.html#StandardClaims)

[2018-05-17 00:39] ericchiang commented on #1237
Dex doesn't use the access token since it doesn't have an API for users. The ID Tokens is the field the client should care about anyway.

For now it's a random value to ensure no clients depend on the returned value and so we can use it in the future if a use case comes up.

[2018-05-17 00:39] #1237 closed

[2018-05-17 08:40] Victoryship commented on #937
where is private key?

[2018-05-21 11:12] malikimprowised commented on #1025
Any update on this issue? Do you have added support for CORS?

[2018-05-21 17:08] stefano-m commented on #965
For the record, as of today, Amazon Cognito can actually be used with dex as an OIDC connector.

What needs to be done is to configure the [App Client](https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-settings-client-apps.html) and [Domain](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-assign-domain.html) in the User Pool of choice. Dex will redire

[2018-05-22 09:11] agentgonzo commented on #16
This would be very handy. At the moment, we have to delete/recreate a client if we want to change any of the redirectURIs for a client, which leaves a small window for login failures.

[2018-05-22 10:43] Treyone commented on #448
We have the exact same situation here : creating dev environments from feature branches, resulting in multiple different feature URLs.
- Using the GRPC API is out of scope. Developing a project for a configuration update can't be afforded.
- There's an unofficial [dexctl v2](https://github.com/ripta/dexctl), but unfortunately it does not seem to be very active,
- https://github.com/coreos/dex/pull

[2018-05-22 12:14] Victoryship opened #1238 "How can I associate the key with the client_id？"
How can I associate the key with the client_id. A client_id generates a fixed key. Return the public key to the client. However, I discovered that the public key will change periodically. Is it possible to store client_id and public and private keys together in the database?

[2018-05-22 13:37] hrzbrg opened #1239 "Encoding problem when updating auth request"
Hi,

I run Dex with LDAP and postgres as storage backend. From the logs I can see, that the login works, but updating the auth request in the DB fails. The mentioned `0xfc` character would correspond to an `ü`. Is this an issue with the returned data from LDAP?

Log from Dex:

[code]

Dex Config:

[code]

[2018-05-22 16:57] capripot commented on #1084
We the same exact scenario as @dbkegley here. Maybe we can resurrect #1026 ?

[2018-05-23 23:59] ericchiang commented on #1238
Keys aren't associated with clients they're global to dex. Keys rotate occasionally in accordance with http://openid.net/specs/openid-connect-core-1_0.html#RotateSigKeys

[2018-05-23 23:59] #1238 closed

[2018-05-24 00:00] ericchiang commented on #1228
Dex does implement discovery.

https://github.com/coreos/dex/blob/master/server/handlers.go#L93-L106

We even have tests with go-oidc

https://github.com/coreos/dex/blob/036e5d050dacdb3aa51029206e2bc26862abfbc3/server/server_test.go#L137

[2018-05-24 00:00] #1228 closed

[2018-05-25 00:32] eroji opened #1240 "Dex pod crashlooping because liveness probe fails when using"
I am trying to deploy Dex into my local K8s cluster with a path, namely, `cluster.domain.com/dex`. However, the pod is created and soon after start up begins to crash loop. The reason shows that the URL check returning a 404 and is therefore killed. Is there a way to configure it so that this would work? Or is it just not supported at all?

For additional clarification, I am running Dex behind Ngi

[2018-05-25 08:17] fajran opened #1241 "Static clients' secret from environment variable?"
I am trying to setup static clients with secret taken from environment variable. Looks like currently Dex only support expanding environment variable for connectors and storage only.

Would expanding env var for client secret be something that can be supported by Dex?

thanks

[2018-05-26 02:16] jhohertz commented on #448
Came by this ticket looking for something similar, just had a suggestion looking at the PR.

If your do the nil test on the new option as well in storage/static.go, then the new option should have no effect on the existing flow, if not used, and replaces the lookup if it is.

As a general comment in support of the approach: The behaviour may be a bit off-spec but where I'm looking at it is for int

[2018-05-26 22:47] gcavalcante8808 commented on #376
Hey Folks, any news on this?

[2018-05-29 14:34] danieldaeschle opened #1243 "How to create an app with python?"
I want to create a flask app to get access to dex.

I tried different libraries. The last one was Flask-Dance.
After Authorization i got the error `MissingTokenError` which means that the URL parameter `access_token` is missing.

Does dex doesn't provides this token?

There are 4 different OAuth2 methods. Does dex support all 4 or just one which Flask Dance doesn't handle? :(

Does anyone know how

[2018-05-30 06:11] wanghong230 commented on #1149
@srenatus Your idea is quite interesting. For IdP-initiated SSO, the call back should be handled and redirect back to go through the SP-initated SSO route to login in. To have two handlers in the web server is trival work.

[2018-05-30 06:50] danieldaeschle commented on #1243
It was a proxy fail...

[2018-05-30 06:50] #1243 closed

[2018-05-30 11:27] danieldaeschle opened #1244 "Always clicking grant access"
If a user already granted my app access to the user resources and i must relogin to my app using dex there is always "grant access". Why is this?
In default case this should only appear the first time!

What about https://github.com/coreos/dex/issues/32 ??

[2018-05-30 11:33] danieldaeschle commented on #1244
seems the only way to prevent it is to add this to config:
[code]

But then it never appears.

[2018-06-03 23:41] dnascimento commented on #1099
Any updates?

[2018-06-04 20:12] dafelipe130 commented on #1099
+1'ing here as well. I'm coming from #1158 and I could not put the identity configmap to source control with this still lingering around

[2018-06-05 13:46] davidarcher opened #1246 "Gitlab connector returns non-unique group names"
The GitLab connector at https://github.com/coreos/dex/blob/master/connector/gitlab/gitlab.go#L272 returns only the group name but GitLab supports nested groups so you can have two groups with the same name but different paths and those are two distinct groups.

I think we need to update Dex to use the group path for GitLab instead of just the name.

e.g.
I have a Gitlab group named "admins" locate

[2018-06-06 09:02] devonbarrett commented on #1246
This is fixed by: https://github.com/coreos/dex/pull/1224 which we're using and works well.

Would be nice to see that merged!

[2018-06-06 09:19] davidarcher commented on #1246
@devonbarrett Thanks! I searched issues but didn't search PRs before I opened this. It saves me having to open a PR :) I had one minor comment around keeping the path separator since GitLab is adding groups to their OIDC support directly.

[2018-06-08 13:17] antonionappi88 opened #1247 "LDAP connector problem"
Hello,
I tried to setup DEX with LDAP connector.

I used a simple login app. I'm able to get a token and the kubeconfig file.
So I created this `ClusterRole` :

[code]

And after added the rolebinding :

[code]

But when I try to get the list of pods, it returns me :

[code]

Even If i setup debug logging mode, they are not really helpful.

Do you have any suggestion ?

Thank you in advance!
Anton

[2018-06-08 13:59] #1247 closed

[2018-06-12 23:17] CodyKochmann opened #1248 "Has there been any effort to add radius support?"
Has there been any effort to add a radius connector? We have quite a few appliances that talk radius that we would like to hook up to more modern systems

[2018-06-14 17:34] CodyKochmann opened #1250 "Can non-oauth2 service providers use dex as a SSO?"
I've been looking through the documentation and am curious if the service providers that are using dex are limited to only using oauth2 to talk to dex?

Its a solid choice if thats the only one they can use. The issue is more with already built apps cooking up their own "use saml to provide sso for users" or "plug in your ldap server here to provide sso".

For programming from scratch, if it hasn'

[2018-06-19 06:22] srenatus commented on #1239
@hrzbrg Just a heads-up, you haven't sanitized all the company DN parts in your log message ⚠️

[2018-06-19 13:43] vasartori opened #1252 "Update Dex Base Image"
Dex container use alpine:3.4. This image has two (at this moment) High security issues fixable.

[2018-06-24 03:58] colemickens opened #1254 "Support Implicit OIDC flow for the OIDC connector"
I know that Dex supports the implicit flow for the IdP, but I'd like to be able to use Dex with Portier, which only supports `response_type=id_token` and the `grant_type=implicit`.

Unfortunately, this requires tracking the `nonce` (which is required in the implicit flow) whereas the current OIDC connector seems stateless during the initial exchange.

Is there a pattern to follow here? Maybe a con

[2018-06-24 08:24] colemickens opened #1255 "Upstream OIDC fails to retrieve JWKS, complains `context canceled`."
I'm trying to integrate Dex with [Portier](https://github.com/portier). I've adapated Dex to support the implicit flow with `response_type=id_token`, and `response_mode=post_form`, to send/validate the `nonce`, and I've modified Portier to return `state` that Dex needs to lookup the `authReq`.

As far as I can tell, it should be very close to working, but I'm unable to verify the `id_token`.

It s

[2018-06-24 09:37] colemickens commented on #1254
I have this implemented in a fork by adding `ConnectorData` that can be persisted/accessed during the flow. But it's blocked on #1255.

[2018-06-26 07:50] colemickens commented on #1255
Never mind, looks like I had a small local change that was causing a non-fatal err to cancel without returning.

[2018-06-26 07:50] #1255 closed

[2018-06-26 16:23] vasartori commented on #1252
@ericchiang Eric, could you please help us with this security improvement?

[2018-06-26 23:13] publicvirtualvoid commented on #448
It would be really great to have that PR merged.
Being able to run Dex in a 'non-strict' mode seems like a tidy way to handle off-spec features.

We run Dex for internal applications, some of which are run locally on workstations. Being able to redirect back to 'window.location', whatever that may be, is AFAIK the only way to do this.

[2018-06-28 07:17] colemickens commented on #1192
Why does it include both a RoleBinding and a ClusterRoleBinding for the ServiceAccount?

[2018-06-28 18:37] AlexMorreale commented on #1241
i am also wondering about this i can't seem to get it to work with kubernetes secrets and env vars in the container

[2018-06-28 21:23] AlexMorreale commented on #1099
would love this feature! :+1:

[2018-06-29 07:43] micemuni opened #1257 "Unable to run dex serve command"
Hi All,
Building docker image with dex, Image has been build but unable to run image.
While run i got below error

If i use dex version as CMD in dockerfile then its showing dex version and container exit.
Is there any other cmd to use for this..?

[code]

[2018-06-30 01:58] whereisaaron commented on #1192
Hi @colemickens the RoleBinding and a ClusterRoleBinding are binding different permissions (check the `roleRef`). `dex` need minimal permissions across the whole cluster, but more permissions in the namespace where it is running.

There is a ClusterRole and ClusterRoleBinding for the minimal whole cluster permissions, and the Role and Rolebinding for the extra permission needed just in the namespa

[2018-06-30 21:58] vniche commented on #1257
@micemuni using current `Dockerfile`, plus the following customization:
[code]
i was able to run a dex server in docker:
[code]

Hope this helps :)

[2018-07-03 09:49] srenatus commented on #1250
To use Dex to provide LDAP/SAML/whatnot authentication for your app, your app needs to act as an *OpenID Connect* client to Dex. Luckily, it's not too difficult, and there's libraries for various languages, see here: http://openid.net/connect/ and http://openid.net/developers/libraries/

And I think that's a bummer! It would make so much sense to collaborate on getting this right instead of cookin

[2018-07-09 05:12] micemuni commented on #1257
@vniche  thanks for the cmds, It's working fine as you mention.

Docker container is running fine.

[code]

But now i got "HTTP/1.1 404 Not Found" while hit the curl -I https://localhost:5556/ from my base machine.

[code]

We should get dex welcome/login page while hit localhost, but unable to get.
Please let me know is there any configuration missing?
Do we need to add any feature to get ?

[2018-07-09 05:20] micemuni commented on #1257
@vniche <https://github.com/vniche> thanks for the cmds, It's working fine
as you mention.

Docker container is running fine.

root@ip-XXXXXXXXXXX:~/aip-authentication-server# docker ps
CONTAINER ID        IMAGE               COMMAND
CREATED             STATUS              PORTS                    NAMES
1f637b922bcb        44900338fd47        "dex serve /config.y…"   16
seconds ago      Up 15 seco

[2018-07-09 11:14] dverbeek84 commented on #947
I have the same issue with Google :(

[2018-07-09 22:59] vniche commented on #1257
No.

No.

The `curl request` can be interpreted as a client, the the root context (a.k.a. `<domain>/`) is actually not providing anything, but `<domain/dex>`, check the `examples/config-dev.yaml` that is coppied and used in the image, it has the issuer (can also be read as "url oauth server is attending as") as following:
[code]
so `curl -I http://127.0.0.1:5556/dex` shoul do.

[2018-07-10 01:08] micemuni commented on #1257
@vniche  sorry, no luck. Still getting same 404 not found error

[code]

[2018-07-10 16:48] jeffthompson1971 opened #1260 "How do I add a 'groups' claim to a users record in the DEX DB?"
I can't see any documentation on how to do this.  I want to use 'groups' to store the role I assign to a user so I have it in the id_token which will be passed around.   Struggling to find any info on that.

[2018-07-11 05:57] micemuni commented on #1257
Hi, Anyone have idea about this issue.?

[2018-07-12 21:09] mounk commented on #352
In recent years, we’ve witnessed a massive increase in the number of websites losing personal data of their users. And as cybercrime gets more sophisticated, companies find their old security systems are no match for modern threats and attacks. Sometimes it’s simple human error that has left them exposed. And it’s not just user trust that can be damaged. All types of organizations—global companies

[2018-07-16 11:53] nabadger opened #1261 "Support modifying staticClient's RedirectURI's via gRPC"
Hi,

I was looking to write a tool to support the issue identified in #448

I don't see a way via gRPC as to how I can modify the client's RedirectURI's list.

I have an example where I can create / delete entire static clients though. Wondering if I'm missing something?

I've seen a few examples such as `dex-cli` where people have forked Dex and added such a feature, but I'd rather this was avail

[2018-07-17 00:44] enenum opened #1262 "The created ssl/ca.pem must then be mounted into your API server deployment"
The title is a line in the instructions for running dex with kubernetes.

I am new to all this, and I can't see how to get apiserver to trust dex. When I setup, I get apiserver complaining that the dex cert was signed by an unknown issuer.

So I see there is oidc-ca-file that I can set, but that needs to be a path in the apiserver container. This argument is for starting apiserver, so the I can't

[2018-07-17 05:09] codesuki commented on #1189
Ping

[2018-07-17 19:17] enenum commented on #1262
I got around this in a  virtualbox VM environment. This can apply to a bare metal setup, but I don't see that it can work in a minikube environment.

I started the cluster (kubeadm init) and noticed that the apiserver mounts the host's /etc/ssl/certs to a path by the same name in its container. So I put the oidc ca file in that folder and gave the kubeadm config argument the path and cert name.

I

[2018-07-17 21:12] alexmt opened #1263 "Render connector error message in addition to generic"
In case if user is not able to login dex is not showing error returned by the connector. E.g. if github connector rejects authentication request because user not in required orgs or teams then dex error page will display `Failed to return user's identity.` error message and actual error is available only in logs.

https://github.com/coreos/dex/blob/036e5d050dacdb3aa51029206e2bc26862abfbc3/server/h

[2018-07-19 14:45] jecafarelli commented on #1215
I am having the same issue with a similar setup.
aws ELB -> nginx ingress controller -> dex/loginapp.

I am using ldap authentication instead of OKTA. I am also able to get the token, but unable to use it to authenticate with the kuberentes api. Same error as reported.

I tried setting the debug log level inside the dex config, and I can see in the logs it picked up this setting up, but I am not s

[2018-07-23 15:16] kiich commented on #1215
I too was able to access Dex in cluster to get the token ok but then ran into the same error message `invalid bearer token, [invalid bearer token, crypto/rsa: verification error` on the api server log and it turned out to be missing/misconfigured parameter on the apiserver so it couldn't connect to Dex.

Once that was corrected/added, I was able to get the token from dex and authenticate to k8s cl

[2018-07-24 21:10] jecafarelli commented on #1215
Ok after banging my head for a while, I was able to figure this out. In the end I was able to figure it out with what was mentioned by austbot and kiich.

The error `invalid bearer token, [invalid bearer token, crypto/rsa: verification error` because the jwt is not able to be verified. I fixed it by doing below:

To fix this, I had to make sure the CA cert was shared properly between the API serve

[2018-07-24 21:12] kiich commented on #1215
Ah nice one @jecafarelli - indeed, those options for api-server are what my config has as well - sorry, me pasting that in the first place would have helped you out earlier I just realised! rookie github user mistake ;-)

Glad to hear it is working now!

[2018-08-02 22:20] tylercloke opened #1267 "ListPasswords doesn't actually return password hashes"
Hello,

By looking at the protobuf API, it seems like `ListPasswords` would be expected to return the password hashes in its [result set](https://github.com/coreos/dex/blob/master/api/api.proto#L87-L90) since `hash` is in the [password message definition](https://github.com/coreos/dex/blob/master/api/api.proto#L46).

However, the `ListPassword` [code](https://github.com/coreos/dex/blob/38d0de20e38

[2018-08-03 18:38] joshkurz opened #1268 "Running on GKE"
Will it ever be possible to run Dex on GKE? I know you have to run the api server with certain configurations, but are there any discussions related to making this work in a hosted k8s environment such as GKE or EKS?

[2018-08-06 19:08] tylercloke commented on #1267
Created this PR as a place to have a conversation about having the Dex password API be able to verify passwords against the stored hash:

https://github.com/coreos/dex/pull/1272

[2018-08-07 14:33] ericchiang opened #1273 "Grant repo write permissions to @srenatus"
@srenatus has been a active contributor to dex, and has helped review PRs for a while now. Grant him write access to the repo.

cc @rithujohn191 @rphillips

I can't do this because I don't have write access anymore (does someone mind adding me too?).

[2018-08-07 14:38] srenatus commented on #1273
From personal communication, we've agreed that I'll try helping with smaller PRs, to keep those at bay -- what would really be useful is to come up with a longer-term maintenance strategy for this fine project, I suppose.

(I'll also be on vacation for the next two weeks, so don't expect anything fast here, please 🍹)

[2018-08-07 14:51] rphillips commented on #1273
I don't have admin access... Maybe @rithujohn191 does.

[2018-08-07 15:47] rithujohn191 commented on #1273
Hi,

We currently have some ongoing discussions internally about the future of
Dex. Once we come to a conclusion I'll go ahead and grant you access
@srenatus. Give me a week's time.

Thank you for offering to help :)

Regards
Rithu Leena John

On Tue, Aug 7, 2018, 7:33 AM Eric Chiang <notifications@github.com> wrote:

[2018-08-12 14:42] nabadger commented on #1261
I worked around this by just deleting/re-creating static clients via gRPC. Seems todo the trick for me :)

[2018-08-12 14:42] #1261 closed

[2018-08-16 12:07] praveendhac commented on #1257
@micemuni
I think Dex is running as expected in your case. You are not hosting anything at /dex path, check
curl -I http://127.0.0.1:5556/dex/.well-known/openid-configuration
Above request should respond with different URL's (/auth, /token, /keys etc) and scope values etc.

[2018-08-16 21:35] svasan commented on #1273
Hi @rithujohn191,

Any updates on this? I'm exploring using Dex and am wondering if I should try something else.

Thanks
Sundar

[2018-08-16 23:32] rithujohn191 commented on #1273
Hi,

Yes I have proposed we move Dex out of the CoreOS repo and open up the maintainer list to others in the community. Waiting for approval.

[2018-08-19 15:38] freeseacher opened #1276 "is project alive ?"
There are no commits since may nor pr-s merged. nothing.
long holidays or i have to search alternatives ?

[2018-08-19 15:50] ccojocar commented on #1273
This sounds great. I would also be interested to help since we are using `dex` quite a bit.

cc @jstrachan @rajdavies

[2018-08-24 13:40] lunny commented on #1273
Any update here? Gitea may want to use this library. https://github.com/go-gitea/gitea/issues/27#issuecomment-327018557

[2018-08-26 11:36] veily opened #1277 "Support used self-signed certificates LDAP."
For LDAP server that used self-signed certificates and  demanded TLS client verification,dex should load self-signed  certificates for client.
This is my solution.
1. add clientCA & clientKey config.
[code]
2. Load self-signed certificates.
[code]
3. Setting  self-signed  certificates in config file.
[code]

[2018-08-27 06:46] srenatus commented on #1273
@rithujohn191 I don't want to be a nag, but since some time has passed -- Any insights on the state of the internal discussion you can share so far? (Also: thanks for pursuing this! 😃)

[2018-08-27 09:43] srenatus commented on #1276
@freeseacher I think this discussion is happening in #1273. Please ignore the issue's name, though, that only was what got the discussion started.

[2018-08-29 08:32] jimangel commented on #1273
Also interested in the future of Dex & helping out if I can @srenatus @rithujohn191

[2018-08-29 08:42] jimangel commented on #1268
No, unfortunately all managed k8s providers control the master / control plane so you cannot modify the OIDC params. As far as I know the only way to implement Dex with a cloud provider would be if you have shell access to the api servers.

I believe the thought process is that you do not need dex / OIDC auth if you're using a cloud provider since you could use their IAM solution for permissions /

[2018-08-29 14:46] #1268 closed

[2018-08-29 14:48] joshkurz commented on #1268
Thanks, was just wondering if you guys knew of any special magic that I wasn't aware of.

[2018-08-29 21:33] soggiest commented on #1260
@jeffthompson1971 Somewhat unrelated but I've written a pretty rudimentary Webhook Token Authenticator that enriches JWT Tokens with group information from an LDAP server. It may be useful to you: https://github.com/soggiest/cleathitch

[2018-08-31 13:44] rendhalver commented on #1273
I am also interested in the future of Dex and possibly being involved in helping maintain it.
Have we found an organisation to move the code into?

[2018-08-31 15:41] tylercloke commented on #1273
Also happy to get involved in maintaining! Dex has been a really useful piece of software for us :)

[2018-08-31 16:51] rithujohn191 commented on #1273
Hi All,

Sorry for the delay. I was away at a conference all of this week, I have
received the green signal to go ahead with the migration. I will work on it
today. To start off with I'll put Stephan, Eric and mysellf on the
maintainer list. We can re visit the decision of adding more people later
on.

Thanks for the patience. Excited to see Dex come back to life :)
Regards,
Rithu Leena John

On S

[2018-09-01 00:20] ericchiang opened #1281 "Determine criteria for repo write access"
We had quite a few people volunteer in https://github.com/dexidp/dex/issues/1273, but we ideally want to have some pre-conditions. Helping merge PRs, fixing issues, etc.

Open to ideas and extra points for something written down.

[2018-09-01 00:31] lunny commented on #1273
Congratulations! I can't wait to use it.

[2018-09-01 07:34] srenatus commented on #1273
@rithujohn191 Thank you! 🎉 🎊 😃

[2018-09-01 07:34] #1273 closed

[2018-09-01 07:38] srenatus commented on #1281
@jimangel This sounds like a solid choice -- do you know if that approach documented in some place?

[2018-09-01 08:46] devonbarrett commented on #1281
+1, it's documented here: https://github.com/kubernetes/community/blob/master/community-membership.md

[2018-09-01 12:43] jimangel commented on #1281
Thinking more about this, and trying not to turn a molehill into a mountain, there are 2 other things I would add:

1. Since the k8s flow is more for community org membership and less about repo governance, we could simplify the process by having the user open a PR (vs. emailing a group) against the OWNERS file with the exact permission they're requesting (to be reviewed and approved by 2 people).

[2018-09-02 08:10] srenatus commented on #1281
Yeah, I suppose keeping this simple is preferable.

Please correct me if I'm wrong, but I think the obvious next steps here are
1. finish the move
   - [ ] replace `github.com/coreos/` by `github.com/dexidp`
   - [ ] ensure travis picks up tests in PRs (see #1280)
2. cut a release
3. cleanup issues and PRs
4. (maybe?) find a channel somewhere to have do real-time communication (IRC? Matrix? a chan

[2018-09-03 06:13] srenatus commented on #1250
I'm trying to clean up some stale issues. Please re-open if that answer wasn't satisfactory 😉

[2018-09-03 06:13] #1250 closed

[2018-09-03 06:16] srenatus commented on #1254
@colemickens Any update on this? It looks like #1255 isn't blocking this anymore.

[2018-09-03 06:28] srenatus commented on #1260
I'm afraid that's likely to be out of scope for Dex (in this incarnation) -- it's trying to be an federating identity provider, not a user (and group) management service. As such, there's no groups in Dex' users database, IIRC.

One option, I suppose, would be to create another connector. If this was done in a generic (enough) way, I could see this as a nice addition.

Let's open another issue for

[2018-09-03 06:28] #1260 closed

[2018-09-03 06:29] srenatus commented on #1215
👀 Looks like this has been resolved. Please re-open if I'm wrong.

[2018-09-03 06:29] #1215 closed

[2018-09-03 06:36] colemickens commented on #1254
I had implemented it here. It stacks on another PR that isn't merged yet, though. https://github.com/dexidp/dex/pull/1256

[2018-09-03 06:37] srenatus commented on #1227
This seems like a Quay-related question to me, I'm afraid? Dex should work fine with any provided TLS cert. Please re-open if this is still bugging you and there's someone on the Dex end that would help.