[2021-03-03 05:03] jicowan commented on #927
I am getting a similar error @rithujohn191:
[code]
They sure look like they match.

[2021-03-05 10:19] puja108 commented on #918
We just realized that we might run into this issue as we have an upstream on which we have a group that has very high privileges (within K8s) and other upstreams should never be able to get those. However, if they guess our high privilege group claim they could theoretically create a group in their IDP to escalate their privileges to that.

I could also imagine in multi-tenant environments where t

[2021-03-05 11:33] candlerb commented on #918
Mangling group names could be a job for middleware (#1635).

Aside: regarding groups and group memberships in general, I have been looking at Vault recently, and I really like the way they deal with this.  Vault stores [entities and groups](https://learn.hashicorp.com/tutorials/vault/identity) as local objects in their own database, which are linked using "aliases".

* An "entity" represents a use

[2021-03-09 19:04] nate-double-u opened #2031 "Update GitHub PR Template to nudge documentation updates"
#### Is your feature request related to a problem?

Occasionally the documentation website isn't updated when dexidp/dex is.

#### Describe the solution you'd like to see

Update the `.github/PULL_REQUEST_TEMPLATE.md` to nudge contributors to update the documentation if needed.

#### Additional context

This issue was initiated by conversation around this [dexidp/website issue](https://github.com/

[2021-03-11 19:49] bernadinm commented on #1854
This was an issue with our internal oidc library. Closing.

[2021-03-11 19:49] #1854 closed

[2021-03-13 17:37] candlerb commented on #1182
FYI, the proposed middleware implementation in PR #1841 extends the connector.Identity object with

[code]

[2021-03-13 18:04] candlerb commented on #1635
I note that this PR adds a CustomClaims to `connector.Identity`.

I think that changing `connector.Identity` in this way is a pre-requisite for external connectors (#1907) as well.  If the connectors can't provide custom claims from upstream IDPs, then there will be less information for the middleware to work with.

[2021-03-13 18:06] candlerb commented on #1964
PR #1841, which is an implementation of middleware (#1635), adds CustomClaims to the `connector.Identity` struct as a `map[string]interface{}`

[2021-03-15 05:32] tyg03485 commented on #927
https://github.com/kubeflow/kfctl/issues/433#issuecomment-799105110

[2021-03-15 13:47] candlerb opened #2040 "Carry connectorData state between LoginURL() and HandleCallback()"
#### Is your feature request related to a problem?
When making a Vault connector (#2039), I found that I needed to maintain some state between the calls to `LoginURL()` and `HandleCallback()` for a given authentication request.

#### Describe the solution you'd like to see
The `AuthReq` connector already carries a `ConnectorData []byte`.  I would like to be able to return this from `LoginURL()`, a

[2021-03-16 09:54] nabokihms commented on #1920
@sagikazarmark played with it a little last weekend.

Some concerns/problems I have faced:
* GRPC version in dex is v1.26.0, but for otel instrumentation, it is required to be around [v1.35.0](https://github.com/open-telemetry/opentelemetry-go-contrib/blob/v0.18.0/instrumentation/google.golang.org/grpc/otelgrpc/go.mod#L15)
* It looks impossible to count errors with otel net/http instrumentation. [

[2021-03-16 10:56] sagikazarmark commented on #1920
Once we can upgrade etcd to 3.5, we can upgrade gRPC as well.

Metrics is probably not yet fully ready.

[2021-03-17 23:37] pbochynski commented on #1084
It won't happen. Let's admit it and close the issue.

[2021-03-17 23:37] #1084 closed

[2021-03-18 04:39] nabokihms commented on #1084
@pbochynski Hello. I think we already have what you want in dex.
It is possible to bypass the connectors choice screen by redirecting a user to `/auth/{connector_id}` instead of `/auth`.
Is it solves your case?

[2021-03-20 00:36] rust84 opened #2052 "exec format error starting with v2.28 on arm64"
#### Expected behavior (what you expected to happen)

Since https://github.com/dexidp/dex/pull/1781 added arm64 support I have been running Dex successfully in k3s on a raspberry pi cluster running Ubuntu server 64bit. This was working perfectly in v2.27.0 however since upgrading to v2.28.0 the pod is unable to start on arm nodes.

#### Actual behavior (what actually happened)

The pod exits with

[2021-03-20 12:21] sagikazarmark commented on #2052
Looks like the slim version of gomplate doesn't work properly on arm: hairyhenderson/gomplate#1085

[2021-03-20 12:59] #2052 closed

[2021-03-20 20:05] sagikazarmark commented on #2052
@rust84 please try v2.28.1

[2021-03-22 16:38] #1959 closed

[2021-03-22 16:39] #2011 closed

[2021-03-22 20:35] rust84 commented on #2052
@sagikazarmark I've tried v2.28.1 and unfortunately am still getting the same error.

[2021-03-23 17:55] sagikazarmark commented on #2052
@rust84 can you provide some more details about your environment? I tried it on Graviton and RPI 4 and it works on both.

[2021-03-24 01:08] rust84 commented on #2052
[code]

Yes I need to upgrade these 😄

[2021-03-24 03:17] sagikazarmark commented on #2052
@rust84 Feels like the fix is not actually related to your original problem. The error message suggests that the image/binary is not for that particular architecture (which was actually the case with gomplate, but that yielded a different error message).

Can you please try upgrading to a newer version to see if you get the error there too?

I didn't add k3s to the mix, can you try using Docker di

[2021-03-25 00:31] rust84 commented on #2052
I'll update the OS and get back to you. Thanks for your help.

[2021-03-25 14:55] sagikazarmark opened #2061 "Take a look at Ory Fosite"
[Fosite](https://github.com/ory/fosite) is an OAuth 2.0 and OIDC framework used in Ory Hydra. Let's take a look at it to see if we can use it in Dex and collaborate on it.

It looks promising and it fixes a couple known issues in Dex, but I haven't looked deeply at it.

cc @aeneasr

[2021-03-25 16:12] s-u-b-h-a-k-a-r opened #2062 "Is there anyway to configure multiple ldap hosts for high availibility"
Is there anyway to configure multiple ldap hosts for high availibility using dex ldap connector

connectors:
  - type: ldap
    id: ldap
    name: LDAP
    config:
      host: ''
      insecureSkipVerify: true
      bindDN: ''
      bindPW:
      usernamePrompt:

[2021-03-26 14:46] nabokihms commented on #2061
I briefly looked through the documentation, and I'm tempted. We can abstain from a lot of code that requires refactoring and focus on connectors / storages / middlewares.

Some concerns (but I need to deep dive into the `fosite` documentation to prove them for myself):
1. Dex doesn't accept all options, e.g., max_age, login_prompt, login_hint, and it can be hard to integrate them with callback con

[2021-03-26 19:05] nabokihms commented on #2062
Right now, there is no such feature in dex.

The possibility of implementing this was discussed in the issue
https://github.com/dexidp/dex/issues/1548

Corresponding PR https://github.com/dexidp/dex/pull/1904

[2021-03-30 07:26] nabokihms commented on #42
I'm working on this one, and I would like to move it forward.

1. Certification process and basic test suite changed a little. We need to actualize our documentation about running certification tests.
2. The only major thing left is to implement sessions in dex.  In the current state, dex disrespect all sort of session-related stuff, including auth_time claim, `max age` and `prompt` options. I wil

[2021-04-01 12:50] umka1332 commented on #1562
@mchum try to look into this one:
https://stackoverflow.com/questions/58276195/mandate-group-search-condition-in-dex-ldap-coonector

[2021-04-01 19:09] sagikazarmark opened #2068 "Set up ARM GitHub runner"
We've received access to CNCF infra to create an ARM-based runner for GitHub Actions (cncf/cluster#170).

Let's set up a runner and run tests on ARM as well. We might have to adjust some parts of the workflow (eg. not everything might run on ARM).

[2021-04-05 15:40] nabokihms commented on #1907
Thinking about implementation, I wonder if we can use Hashicorp's [go-plugin](https://flant.slack.com/archives/CML93AWG2/p1617636740288900?thread_ts=1617622199.265000&cid=CML93AWG2). It looks reliable and promising.

[2021-04-05 16:55] ericchiang opened #2070 "quay.io organization ongoing access"
Hey everyone,

I'm one of the owners of the quay.io/dexidp/dex image, and with Red Hat requiring registering a Red Hat account to access quay, I plan on letting that account lapse.

https://access.redhat.com/articles/5363231

Just wanted to give a heads up and see if anyone wanted access to it. Since dex has switched to an alternative container provider I'm assuming this won't be a future issue, b

[2021-04-06 13:49] sagikazarmark commented on #2070
Hi @ericchiang,

Yeah, we don't use quay anymore for distributing "official" Dex images. The only reason why I would keep it though is because the [old helm chart](https://github.com/helm/charts/blob/master/stable/dex/values.yaml#L6) still points to quay.

Can you add me as an admin to the organization? My username is `sagikazarmark`.

Thanks!

[2021-04-06 14:28] ericchiang commented on #2070
Sweet, I sent you an invite to https://quay.io/organization/dexidp!

Going to call this fixed. Let me know if there's anything else I can do :)

[2021-04-06 14:28] #2070 closed

[2021-04-06 15:04] sagikazarmark commented on #2070
Awesome, thanks!

[2021-04-06 15:06] sagikazarmark commented on #2070
I disabled the build trigger, so from this point we won't be building Dex on quay automatically.

[2021-04-09 02:03] wangyanghack opened #2076 "readinessProbe is not https scheme"
#### Expected behavior (what you expected to happen)
Run dex.yaml successfully

#### Actual behavior (what actually happened)
readinessProbe in dex pod is not success.
#### Steps to reproduce

1. ...
2. ...
3. ...

#### Environment

- Dex version:
- Storage type:
- Installation type (official docker image, helm chart, etc.):

#### Anything else we should know?
As result, I add **Scheme: HTTPS** to

[2021-04-09 03:14] sagikazarmark commented on #2076
This is already fixed in the latest Dex version and in the latest Helm chart: the health check uses a different (telemetry) server that is always HTTP.

https://github.com/dexidp/helm-charts/blob/master/charts/dex/templates/deployment.yaml#L79-L86

I suspect you use an old Dex version and/or an old Helm chart/Kubernetes manifest. Please upgrade Dex and use the new Helm chart.

[2021-04-09 03:14] #2076 closed

[2021-04-09 05:32] wangyanghack commented on #2076
I use example in master branch Dex.
[https://github.com/dexidp/dex/blob/b79d9a84bc0c35e13a9d5141e95b641af0f81c8f/examples/k8s/dex.yaml#L79-L82](url)
[https://github.com/dexidp/dex/blob/b79d9a84bc0c35e13a9d5141e95b641af0f81c8f/examples/k8s/dex.yaml#L52-L55](url)
please check it, thanks.

[2021-04-09 19:01] vikas-prabhakar commented on #1873
@ieugen I am also facing same issue, i tried with suggested changes but it's not working

[2021-04-12 06:06] s-u-b-h-a-k-a-r opened #2078 "LDAP error after upgrading argocd version to v2.0.0."
Hi, We’re facing issue w.r.t dex unable to login via LDAP after upgrading argocd version to v2.0.0. Getting the following error message when try to login via LDAP.
502 Bad Gateway
 unknown app state zZZcSUIYue
When we verify the dex pod logs authentication was successful.
Same configuration is working fine in version (v1.8.7).
Is it bug? or do we need make any changes to make it work. Please sugge

[2021-04-12 06:50] sagikazarmark commented on #2078
At first sight it doesn't seem to be a Dex issue to me. At least ` 502 Bad Gateway` and ` unknown app state zZZcSUIYue` are certainly not related to LDAP and are probably not emitted by Dex either.

How did you come to the conclusion that it was a Dex related issue? If ArgoCD login doesn't work after upgrading, it can still be a lot of other things, especially if Dex logs suggest that the login wa

[2021-04-12 09:27] s-u-b-h-a-k-a-r commented on #2078
The issue was not happening with other than v2.0.0 versions.

[2021-04-12 09:32] sagikazarmark commented on #2078
As far as I can tell v2 is a rather large release, so there could be several things going wrong. From the information you've provided it's not obvious to me that Dex is the culprit, nor can I properly debug this issue. I'd suggest to ask help from the ArgoCD community first.

[2021-04-12 10:05] s-u-b-h-a-k-a-r commented on #2078
Sure thank you.. I added a issue with ArgoCD community also.

[2021-04-12 10:20] sagikazarmark commented on #2078
Would you mind linking the two issues together?

[2021-04-12 12:27] s-u-b-h-a-k-a-r commented on #2078
https://github.com/argoproj/argo-cd/issues/6012

[2021-04-12 19:49] betermieux opened #2082 "Kubernetes storage fails to read namespace from jwt and crashloops pod"
#### Expected behavior (what you expected to happen)
Dex should not Crashloop

#### Actual behavior (what actually happened)
Dex Crashloops
Logs indicate a problem with the namespace detection from service account token
[code]
#### Environment

- Dex version: 2.28.0
- Storage type: kubernetes
- Installation type: Helm chart 0.0.7

#### Anything else we should know?

Problem appeared after I upgrad

[2021-04-12 20:02] nabokihms commented on #2082
Hello! Thanks for reporting. I don't think anyone has tested Dex with Kubernetes v1.21 yet. We definitely need to work on our Kubernetes Dex testing environment to make testing new Kubernetes releases easier.

About the problem:
Could you try to use downward API as a workaround? I assume that adding the following section to the pod's env will solve the problem.
[code]

[2021-04-13 06:48] nabokihms commented on #2082
Oh, it happened because `BoundServiceAccountTokenVolume` in Kubernetes v1.21 is enabled by default.
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#csi-service-account-token

This changes the tokens provided to containers at /var/run/secrets/kubernetes.io/serviceaccount/token to be time-limited, auto-refreshed, and invalidated when the containing pod is deleted.

[2021-04-13 06:57] betermieux commented on #2082
Hi!
Thanks for the tip, after adding the environment variable to the pod Dex works like expected on kubernetes v1.21.
The underlying bug still needs to be fixed, consider using /run/secrets/kubernetes.io/serviceaccount/namespace directly without parsing jwt.
And you are right regarding `BoundServiceAccountTokenVolume`, I have read the same section a few hours ago, but dismissed it because it was m

[2021-04-13 07:05] betermieux commented on #2082
Link to kubernetes docs regarding `/run/secrets/kubernetes.io/serviceaccount/namespace`:
https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-the-api-from-a-pod
The namespace file seems to available since a long time, but I couldn't find an actual kubernetes release which introduced it.

[2021-04-13 09:46] tuptaker opened #2083 "All users fail to authenticate - not member of groups"
Hi all, my team is trying to use groupsAttr and allowedGroups connector config properties to control which users from an organization can login in. Unfortunately, it seems like no one is allowed to login with this setup and we were trying to figure out what might be wrong with our connector config. Can someone have a look and let us know what we might be missing or if we've specified something inc

[2021-04-13 14:52] nabokihms commented on #2083
Hello @tuptaker. It looks like `role` is a string attribute. I'm not familiar with SAML, but I assume that in this case, you should specify some groupsDelim (`,` for example) to make `role` turn into an array. Could you try it?

[2021-04-13 15:36] razigarbie commented on #1867
Hi guys,

Whats your current preferred way to report security vulnerabilities? (low severity)

[2021-04-13 17:40] tuptaker commented on #2083
Thanks @nabokihms  I will give it a shot and report back. Much appreciated!

[2021-04-17 06:21] nabokihms opened #2088 "Switch to semantic import versioning"
#### Is your feature request related to a problem?
[Semantic import versioning](https://github.com/golang/go/wiki/Modules#semantic-import-versioning) is the set of rules on how to do package versioning.

#### Describe the solution you'd like to see
We need to consider switching to semantic importing versioning for the `v3` major version of Dex.
1. The benefits we would earn from switching are fixe

[2021-04-18 20:22] HEllRZA commented on #2083
@tuptaker

First, try the **SAML-Tracer** browser-plugin to figure out the correct `groupsAttr`. You might find something like this: `groupsAttr: http://schemas.xmlsoap.org/claims/Group`

Then you need to check, if multiple groups are sent by your SAML IdP as separate entries or as a comma-separated list. in the second case you have to define the `groupSeparator`.

If you don't see the groups in S

[2021-04-18 20:38] HEllRZA commented on #2005
Seems to me that you used the `groups` scope in your initial OpenID Auth request to dex. Hence dex wants to get the groups from Microsoft, and internally sets `scopes.Groups := true` that leads to `groupScope := true` in the code above.

[2021-04-18 22:51] jdshkolnik commented on #2005
We didn't provide any initial groups scope value. We checked for that.

[2021-04-19 11:14] nabokihms commented on #1867
Related to https://github.com/dexidp/dex/issues/1617

[2021-04-19 11:20] nabokihms commented on #1820
Closed in https://github.com/dexidp/dex/pull/1821

[2021-04-19 11:20] #1820 closed

[2021-04-19 20:32] sagikazarmark commented on #2078
Closing as it doesn't seem to be a Dex issue. Feel free to open a new issue with more details if there is evidence that it's a Dex issue.

[2021-04-19 20:32] #2078 closed

[2021-04-21 06:50] nabokihms commented on #2082
I opened a PR with the fix for namespace discovery, but this is only half of the problem. We also need to provide a reloading mechanism for tokens, the same as client-go does.

[2021-04-24 02:12] facundo-tul opened #2097 "separate config for issuerURL and issuerPath"
we are using ambassador to put dex in a sub path `example.com/dex/ ` the issuer config is set to `example.com/dex/` this makes the internal path to change to `/dex/` as it is explained in the documentation

[code]
this issue makes my dex + ambassador to make the url `example.com/dex/dex/`
this is my partial value for the helm chart:

[code]

[2021-04-24 08:58] #1911 closed

[2021-04-24 09:03] #787 closed

[2021-04-24 09:03] #1385 closed

[2021-04-24 09:03] #1685 closed

[2021-04-25 09:31] shijianjs opened #2098 "Cannot specify MySQL port"
#### Expected behavior (what you expected to happen)
Mysql can connect and init successful.
#### Actual behavior (what actually happened)
Mysql with port 3308 can not connect.
#### Steps to reproduce

1. ...
2. ...
3. ...

#### Environment

- Dex version: v2.28.1
- Storage type: mysql
- Installation type (official docker image, helm chart, etc.): docker image

#### Anything else we should know?

#

[2021-04-25 10:14] sagikazarmark commented on #2098
So the first error seems obvious (you need to create a database) and I guess you've gotten past that.

The second error also doesn't seem to be a Dex issue. Your MySQL server is rejecting queries because you've reached the maximum amount of prepared statements. It's a global setting an you've apparently reached the limit. I don't know if it is because you run other applications using this MySQL se

[2021-04-26 02:27] shijianjs commented on #2098
https://github.com/dexidp/dex/blob/551229a986738ba71e9c2a6ba9a9c25b7db1f7ef/storage/sql/config.go#L227

- The first error is a config parse error, I can't find any code use `s.Port` in mysql open connection method. Different of 2 configs is host: "[myip]" -> "[myip]:3308", and the port config 3308 don't effective.
- And test code with 3306 port just because it is mysql default port. I can connect

[2021-04-26 08:23] sagikazarmark commented on #2098
I see. Sorry, based on the logs and the description the issue wasn't obvious.

[2021-04-27 23:23] #2098 closed

[2021-04-28 00:33] #1617 closed

[2021-04-28 00:33] #1867 closed

[2021-04-29 12:06] lucassardois opened #2102 "Add a CAS connector"
Add a [CAS](https://en.wikipedia.org/wiki/Central_Authentication_Service) connector to Dex.

#### Is your feature request related to a problem?

Yes, we want to connect Dex to our LDAP (done), an OpenID Connect provider (done) and a CAS system.

#### Describe the solution you'd like to see

A new connector for CAS systems.

#### Describe alternatives you've considered

Write a middleware acting as

[2021-04-30 07:45] 15077693d commented on #2082
Hi nabokihms, Where should i put this section? It is on the auth pod yaml file? Thank you. If yes which part does it belong to ? etc spec, status.

[2021-04-30 07:45] 15077693d commented on #2082
Hi nabokihms, Where should i put this section? It is on the auth pod yaml file? Thank you. If yes which part does it belong to ? etc spec, status.

[2021-04-30 07:47] 15077693d commented on #2082
Should I set BoundServiceAccountTokenVolume to false to solve the problem? If yes, How to set it? Thank you.

[2021-04-30 08:04] betermieux commented on #2082
it should be put in the dex container environment of the pod:

[code]

If you are using helm you can set it in `values.yaml` at `env:`
You don't need to disable BoundServiceAccountTokenVolume

[2021-04-30 08:14] 15077693d commented on #2082
Can i edit it on the kubernetes dashboard? I didn't have helm.

[2021-04-30 08:16] 15077693d commented on #2082
Could i edit it on the kubernetes dashboard? I didn't have helm.

[2021-04-30 08:22] betermieux commented on #2082
Sure, open the deployment an edit/add
[code]

[2021-04-30 08:26] 15077693d commented on #2082
Thank you so much!!!!!!!!!!!!!!!! I solved it!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2021-05-01 11:24] #1953 closed

[2021-05-04 14:35] sagikazarmark commented on #2102
I think it would be a good fit, but also that we might want to wait until external connector support is added.

[2021-05-05 06:31] Fresa commented on #1182
Azure AD can emit a `roles` claim in the `id_token` containing all application roles assigned to the user. Would be really nice to be able to funnel through those to be used for RBAC mapping as a complement to the `groups` claim.
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps

[2021-05-05 07:12] Fresa opened #2108 "Support Azure AD roles claim"
App registrations in Azure AD support custom application roles that are emitted as a `roles` claim in the `id_token`.
https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps

#### Is your feature request related to a problem?
Roles is a nice alternative or complement to groups as explained in the linked document from Microsoft. It also doesn't need any

[2021-05-05 11:07] sagikazarmark commented on #2108
The linked issue is slightly different in my opinion. We have similar claim mapping solutions in other providers. `groups` is a distinguished claim in Dex, so we can add it to the connector configuration similarly.

[2021-05-07 06:44] justinas-b commented on #1099
+1

[2021-05-08 06:01] mat-ej commented on #2082
I've tried this and it did not work.

[2021-05-08 20:57] snuggie12 opened #2111 "Support nested groups for google"
GKE is able to support permissions via nested groups. However, when using dex with the google connector the only groups that appear are ones directly connected to a user.

#### Is your feature request related to a problem?
We have inconsistent permissions using various tools. Those with dex do not work where as `kubectl` does.

#### Describe the solution you'd like to see
I don't know a lot about

[2021-05-10 07:28] betermieux commented on #2082
@mat-ej: this is just a snippet of the deployment YAML. It should work, but you have to leave the other lines untouched. And mind the indentation!

[2021-05-11 18:27] cehoffman opened #2113 "Enable throttling of OIDC connector requests on refresh tokens through using cached details"
#### Is your feature request related to a problem?

We have a need to reduce the number of requests going to the connector OIDC provider due to rate limiting.

#### Describe the solution you'd like to see

For our use case if Dex could throttle refresh token exchanges in a manner similar to the reuse interval it would cut down on upstream API calls and we can deal with slightly stale user state as

[2021-05-12 14:40] nabokihms commented on #2113
Hello! Thanks for an interesting idea about the reuse interval use case. I have never thought that it has a positive impact in combination with disabled refresh token rotation.

However, we need to think a little more about a way to solve this issue. It seems like reuse interval is not the best solution we could find.

[2021-05-12 15:05] morgoved commented on #1842
+1

[2021-05-12 15:20] morgoved opened #2120 "celar groups in github connector"
- Dex version:v2.26.0
- Storage type:
- Installation type (official docker image, helm chart, etc.): argocd

i created ord oauth app in org, created team, added users in team. But

can't get groups "login successful: connector \"github\", username=\"morgoved\", preferred_username=\"morgoved\", email=\"yesyes@mail.ru\", groups=[]"

    dex.config: |
      connectors:
        - type: github

[2021-05-12 18:05] nabokihms commented on #2120
Hello! I assume that you missed the `groups` scope. Could you ensure that you send it? Sending this scope to the auth endpoint is mandatory to get non-empty groups array in an id token.

You can found documentation about scopes here
https://dexidp.io/docs/custom-scopes-claims-clients/#scopes

[2021-05-17 22:55] #1944 closed

[2021-05-18 17:52] kofiray commented on #1834
@kernel164 Hello, are you able to share how you managed to get this working. My setup is complaining about invalid scope.Not sure what we're doing wroing.

[2021-05-19 17:19] PrakashW94 commented on #1084
@nabokihms HI, I'm trying to implement a solution that redirects clients to `/auth/{connector_id}` to select a specific connector but it returns a 500 response.
I can see from https://github.com/dexidp/dex/commit/07a77e0dace9a9d81a22e868a1ec9e12a4d02793 that it's possible to add the connector_id as a query string param into the against the /auth endpoint and have successfully tested this. Is there

[2021-05-19 18:22] nabokihms commented on #1084
You are right! Sorry for misleading 😅 The right way to select a specific connector is to pass its id as a query parameter.

[2021-05-20 15:37] nabokihms opened #2132 "Pass context for storage operations"
#### Is your feature request related to a problem?
It is not related to the particular problem but the design.

#### Describe the solution you'd like to see
Dex has an [interface for a storage](https://github.com/dexidp/dex/blob/master/storage/storage.go#L69-L136). To be able to cancel long-running storage operations, we can pass context to all methods of this interface.

#### Describe alternative

[2021-05-20 15:55] nabokihms commented on #1920
I opened [the draft](https://github.com/dexidp/dex/pull/2133), but there are still some problems.
* [No metrics](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation#instrumentation-packages) for grpc
* New metric names (breaking change)
* I opened a PR to add total request counters with error codes, but there is no feedback yethttps://github.com/open-telemetry/open

[2021-05-21 12:49] al45tair opened #2134 "Forgot password link on the password login page"
When using connectors that allow password-based login, there should be a way to place a "forgot password" link on the password login page. This should be configurable on a per-connector basis from the Dex config file.

[2021-05-24 16:12] lukasmrtvy commented on #1065
@lentzi90 you still need to use `insecureEnableGroups`, even if you are using `claimMapping` , but group are supported, at least in native oidc connector.

[2021-05-25 09:52] pratikbalar commented on #1025
Any update on this issue? Do you have added support for CORS?

[2021-05-25 16:32] megakoresh commented on #2108
This is also needed for any large organization because groups claim in Azure-returned JWT has a character limit, so if a person is member of too many, then they won't all fit to the token. The recommended solution to this is to use roles. [Relevant doc](https://docs.microsoft.com/en-us/azure/active-directory/hybrid/how-to-connect-fed-group-claims)

[2021-05-26 12:58] sagikazarmark commented on #1920
One possible workaround is to use OpenCensus with the available bridge.

[2021-05-26 20:38] lukasmrtvy opened #2143 "feat: nested map support in claimMapping"
#### Is your feature request related to a problem?

Its not possible to reference nested claim in claimMapping ( Keycloak exports roles on realm_access.roles path for example )

#### Describe the solution you'd like to see

[code]

#### Describe alternatives you've considered

Remapping claim. ( Keycloak can )

#### Additional context

None

[2021-05-26 22:42] rust84 commented on #2052
Sorry for the delay. I can confirm that upgrading to 20.04 has resolved the issue.

[2021-05-27 22:46] botimer opened #2145 "Allow upstream OIDC provider to omit name claim"
#### Is your feature request related to a problem?
Our upstream OIDC provider supports what amount to guest accounts, which have an identifier/email address but do not have a `name` claim. The OIDC connector enforces that `name` (or alternative claim supplied by `userNameKey`) be present. The OIDC [standard claims](https://openid.net/specs/openid-connect-core-1_0.html#StandardClaims) do not have t

[2021-06-01 10:11] sagikazarmark opened #2151 "Add sprig template functions"
#### Is your feature request related to a problem?
The current set of template functions is quite minimal.

#### Describe the solution you'd like to see
Add the well-known [sprig](http://masterminds.github.io/sprig/) library to the template funcs.

#### Additional context
The currently existing functions should remain backwards compatible.

[2021-06-02 07:10] #1999 closed

[2021-06-02 11:37] #2151 closed

[2021-06-03 10:44] salmanisd opened #2153 "datebase is locked error when using sqlite"
I am using dex with sqlite storage on a small embedded device. Overall everything works fine but there are some random instances when user login fails with the "Internal Server Error - Database is locked".

I understand this is due to sqlite by design not allowing concurrent write access to the database file. Dex documents also mention sqlite should only be used for testing and cant handle real li

[2021-06-04 12:11] icebear74 opened #2159 "Atlassian-Crowd-Connector"
#### Expected behavior (what you expected to happen)
Dex should Start :)

#### Actual behavior (what actually happened)
Dex won't start
#### Steps to reproduce

Create Copy of Example Yaml File
Append Config for Atlassian Crowd:

- type: atlassian-crowd
  config:
    baseURL: "http://crowd.xxx.com/crowd"
    clientID: "dex"
    clientSecret: "xxx"
    usernamePrompt: "Login"
    preferedUsernameFi

[2021-06-04 13:45] sagikazarmark commented on #2159
Please provide the whole configuration file, properly formatted in a code block. This error usually comes from the password connector, so it's probably not related to the atlassian connector.

[2021-06-07 09:38] icebear74 commented on #2159
Hi,
here the Complete config in a Code Block.

`issuer: http://haproxy-01.oda-devops.local:5556/dex

storage:
  type: sqlite3
  config:
    file: ../examples/dex.db

web:
  http: 0.0.0.0:5556

telemetry:
  http: 0.0.0.0:5558

staticClients:
- id: example-app
  redirectURIs:
  - 'http://127.0.0.1:5555/callback'
  name: 'Example App'
  secret: ZXhhbXBsZS1hcHAtc2VjcmV0

connectors:
- type: mockCallba

[2021-06-07 09:45] sagikazarmark commented on #2159
This isn't correct. The following should be under `connectors`:

[code]

[2021-06-07 10:05] icebear74 commented on #2159
Tnx. That was it .. My Mistake . Sorry .

[2021-06-07 10:05] #2159 closed

[2021-06-07 16:37] nabokihms opened #2162 "Allow OIDC connector to remap a claim even if the original claim is not available"
#### Is your feature request related to a problem?
There is a problem, that users cannot map custom OIDC token claim to the dex claim.
For example, the original token has two claims:
[code]
Apparently, a user wants to use `preferred_email` as an email claim in Dex but has no opportunity to do it, because the email claim is present in the token.

See corresponding code lines:
https://github.com/dex

[2021-06-07 17:12] nabokihms opened #2163 "Improve connectors UX"
#### Is your feature request related to a problem?
Just some US improvements that came to my mind.

#### Describe the solution you'd like to see
* The `local` id should be reserved (or we can wait for [this issue](https://github.com/dexidp/dex/issues/1080) to become resolved). Using `local` and password db may lead to some artifacts.
* IDs must be unique according to the documentation. I assume th

[2021-06-09 09:40] Sandy1438 opened #2166 "Internal Server Error: Login error -- Connector \"github\" returned error when creating callback: expected callback URL \"https://<dex Endpoint>/callback\" did not match the URL in the config \"https://<dex Endpoint>/oauth2/callback\"
Hello There,

I'm trying to secure K8s dashboard by using Oauth2_Proxy infront of it and using Dex as Identity provider Github as external auth provider.

#### Expected behavior (what you expected to happen):
--------------------------------------------------------------
When I login to K8s dashboard url which is exposed by nginx ingress it will redirect to Oauth2_Proxy > Dex > Github > K8s dashbo

[2021-06-09 10:06] sagikazarmark commented on #2166
I think the error message is quite self-describing: you should use `https://<dex endpoint>/callback` as a redirect URI.

A side note: `quay.io/dexidp/dex:latest` is probably not the best image or tag to use. The primary source for images is [GitHub](https://github.com/orgs/dexidp/packages/container/package/dex) now. Also, I wouldn't recommend using the latest tag either as it points to the latest

[2021-06-09 10:36] Sandy1438 commented on #2166
Thanks a lot @sagikazarmark !
I have corrected it and now I can redirect to Github and presented with the sign in page.
Once I have provided with my credentials on Github sign in page I get error as : 404 page not found

I don't see any error in dex pod logs or any logs being written to dex pod related authentication success ack. Not sure much about hence, do bear with my silly queries .

I had ch

[2021-06-09 12:30] sagikazarmark commented on #2166
I can't really tell you what causes the 404. What do you see in your browser's address bar?

The error in the logs are related to the incorrect callback URL, so I think that's the previous error.

[2021-06-09 12:52] Sandy1438 commented on #2166
I see as below screen shot.

_>>_The error in the logs are related to the incorrect callback URL, so I think that's the previous error.__  Yes I too feel the same that but not sure where to correct it .

![image](https://user-images.githubusercontent.com/71320072/121357368-64763580-c94f-11eb-8147-e035a04e20a9.png)

https://dex.oidcdex.ga/oauth2/callback?error=redirect_uri_mismatch&error_descriptio

[2021-06-09 17:51] sagikazarmark commented on #2166
Somewhere you still have `/oauth2/callback`. Probably github? I don't know about oauth2_proxy, but everything related to Dex should go to `/callback`.

Sorry, this isn't a bug (something is misconfigured on your end), so I'm closing this issue. Please open a discussion instead.

[2021-06-09 17:51] #2166 closed

[2021-06-10 03:20] roygbip commented on #926
up

[2021-06-11 13:10] brokencode64 opened #2171 "Oidc authenticator: initializing plugin: Get https://172.16.x.x/.well-known/openid-configuration: Forbidden"
### Summary

We are using Gangway/dex to authenticate to our ldap servers. I created a similar setup in aws and it worked perfectly.

#### Expected behavior (what you expected to happen)

Kubectl should be able to get resources with downloaded config.

#### Actual behavior (what actually happened)

We are able to login to gangway/dex and get a kubeconfig to download. Dex is clearly getting ldap gr

[2021-06-17 11:46] brokencode64 commented on #2171
Issue was an http proxy between api-server and dex. Had to add dex ip to "No-proxy" in kube-apiserver settings.

[2021-06-17 11:46] #2171 closed

[2021-06-21 09:26] sherifkayad commented on #32
Are there any updates to this one?

[2021-06-22 21:02] pnatraj opened #2183 "Unable to build dex make: *** [Makefile:34: generate] Error 1"
pulled the git repo and while trying to build the repo i am getting the below error

@
PHONY: generate
     generate:
         @go generate $(REPO_PATH)/storage/ent/

Error

go: downloading github.com/mattn/go-sqlite3 v1.14.7
go: downloading entgo.io/ent v0.8.0
go: downloading github.com/pkg/errors v0.9.1
go: downloading gopkg.in/square/go-jose.v2 v2.6.0
go: extracting github.com/pkg/errors v0.9.1

[2021-06-22 21:10] sagikazarmark commented on #2183
You are probably on an old Go version. Upgrade to the latest version and it should work.

[2021-06-22 21:10] #2183 closed

[2021-06-22 21:11] pnatraj commented on #2183
go version go1.13.8 linux/amd64

[2021-06-22 21:15] sagikazarmark commented on #2183
Yeah, that's quite old. Dex requires 1.16

[2021-06-22 21:24] pnatraj commented on #2183
sorry got it working with 1.16

[2021-06-23 16:01] blut opened #2185 "Parse non-standard groups claim as string csv"
Hello

Our upstream ID provider offers groups as claim in the ID Token formatted as groups: "|group1|group2|".
Since [groups are parsed as []interface{}](https://github.com/dexidp/dex/blob/master/connector/oidc/oidc.go#L325-L343), the claim is never found and the string is neither parsed, nor passed to any client.

I'd like to suggest optionally parsing the groups claim as csv with configurable se

[2021-06-23 21:00] sagikazarmark commented on #2185
We plan to implement a middleware layer that would allow these kinds of transformations: #1635

What I recommend in the meantime is building a custom version of Dex with a modified connector.

[2021-06-23 21:19] blut commented on #2185
Thanks for the info. That's what I'm currently running.

[2021-06-25 16:39] cehoffman opened #2187 "Concurrent token issuing for the same user experiences high failure rate"
#### Expected behavior (what you expected to happen)

When multiple concurrent requests for the same user occur, concurrent
modifications in the backing store (ETCD) should not fail the loosing updates.

#### Actual behavior (what actually happened)

Requests are returned with 500 and log message has similar lines to following:

": concurrent conflicting update happened

#### Steps to reproduce

1

[2021-06-25 16:51] nabokihms commented on #2187
Using Dex version 2.29.0, we will have an option to deal with this problem. Take a look at the `reuseInterval` setting from [this doc](
https://github.com/dexidp/website/blob/dafa527e9afd51fe81a85abf66439d025ddbc0d1/content/docs/id-tokens.md#expiration-and-rotation-settings).

[2021-06-25 17:05] #1849 closed

[2021-06-25 17:05] #1851 closed

[2021-06-25 17:10] cehoffman commented on #2187
Thanks for the reply. We have looked at that, but it still encounters the issue because the the LastUsed field being written every time. It does allow us to skip the call to the upstream IDP but that actually makes the collisions a bit more reliable because we don't have as much variability in the time from request to write in ETCD due to latency in the call to the upstream IDP.

[2021-06-25 17:25] nabokihms commented on #2187
Thanks for the reporting. I will take a look.

[2021-06-28 20:15] nabokihms commented on #1864
Maybe we could also generate the grpc API code from the ent schema as well
https://entgo.io/blog/2021/06/28/gprc-ready-for-use/

/cc @sagikazarmark

[2021-06-28 20:21] sagikazarmark commented on #1864
Not a huge fan of the idea. I don't really like binding the storage layer to the API or the transport.

[2021-06-28 22:07] cehoffman opened #2192 "Per connector request counter metric"
#### Is your feature request related to a problem?

Since some upstream IDP providers have rate limits on their API, it would be useful for Dex to publish a metric that is the number of requests it has issued to the upstream provider.

#### Describe the solution you'd like to see

For example increment the counter when doing a token exchange after a user first authenticates and increment again whe

[2021-06-29 09:24] sagikazarmark commented on #2192
Thanks for submitting a feature request. Makes sense! Dex needs better metrics anyway.

[2021-06-30 13:30] harmjanblok commented on #1381
Based on the example of @logicfox and reverse engineering of some code, I was able to define a connector with following CRD:

[code]

`metadata.name` needs to be encoded for Passwords and OAuth2Clients, see comment on https://github.com/dexidp/dex/issues/1606#issuecomment-569130595.

[2021-07-01 06:46] felixfontein opened #2202 "CSS is delivered with wrong content type in 2.29.0"
#### Expected behavior (what you expected to happen)
The styles.css file is delivered with Content-Type `text/css`. This works with 2.28.1 and earlier.

#### Actual behavior (what actually happened)
Since the latest release (2.29.0), the styles.css file is delivered with Content-Type `text/plain`.

If also the security header `X-Content-Type-Options: nosniff` is sent, browsers will refuse to load

[2021-07-01 07:03] nabokihms commented on #2202
I cannot reproduce it locally. Could you tell us more about your environment?
We have a template for bug reports.

[2021-07-01 07:35] sagikazarmark commented on #2202
Well, I can't reproduce it either:

[code]

Works from the browser, too.

Do you have anything in the middle that might cause a change in the Content-Type header @felixfontein?

[2021-07-01 09:52] felixfontein commented on #2202
Sorry, I was trying to get too much done before a longer series of meetings :)

The content type was a wrong indication, the content type was `text/plain` because the URL 404ed. I'm using the official dex container with a custom theme. I think this is related to #2054: I had to change the `theme/` directory mount from `/web/themes/mytheme` to `/srv/dex/web/themes/mytheme`, and add `dir: /srv/dex/w

[2021-07-01 10:19] sagikazarmark commented on #2202
Yeah, that part changed a bit. You can find the updated documentation here: https://dexidp.io/docs/templates/

I take it as the issue is resolved then.

[2021-07-01 10:19] #2202 closed

[2021-07-01 10:23] felixfontein commented on #2202
It is resolved for me, thanks. It mainly wasn't clear from the changelog that this is a breaking change for (some?) users with own themes.

[2021-07-05 15:02] PigNatovsky opened #2205 "GitLab Connector - options for add custom CA certificate or skip certverification."
#### Is your feature request related to a problem?

I'm trying to use Dex with ArgoCD on our on-prem cluster (about 100 nodes with 16 cores and 64GB RAM per machine). And we want to integrate Dex with our on-prem GitLab. But we can;t - our organization has internal CA, so DEX  can't communicate with our GitLab.

#### Describe the solution you'd like to see

It will be nice, if GitLab connection wi

[2021-07-05 16:12] nabokihms commented on #2205
Looks like a duplicate of https://github.com/dexidp/dex/issues/1542

[2021-07-06 06:15] opencommits commented on #1197
Any news on that? Would be a very useful feature..

[2021-07-06 06:41] nabokihms commented on #1197
We have a lot of requests for basically the same feature - to support sessions in Dex. I have seen many pigs in different issues.

I will try to unify all the information in one place and describe the obstacles we need to overcome before implementing sessions in Dex.

[2021-07-06 10:25] PigNatovsky commented on #2205
True, it's the same problem. I'm closing issue.

[2021-07-06 10:25] #2205 closed

[2021-07-08 06:52] #1895 closed

[2021-07-09 21:52] the-maldridge commented on #1907
Chipping in my 2c: I use go-plugin in some authentication software to do almost exactly what's being described here and it works well.  Best practices dictate that you should sign your plugins though, which turns out to be annoyingly involved.

[2021-07-13 22:40] ReggieCarey opened #2207 "Documentation is incomplete"
The documentation does not include installation instructions.

You have instructions to install the git repo, and instructions to build the dex binary,
but that is NOT installation instructions.

Where is the latest version?

[2021-07-13 22:55] sagikazarmark commented on #2207
The documentation is a bit lacking at the moment, but we are working on that. It does contain a bunch of configuration examples, so if you have the binary or the container image, you can run it.

There is a helm chart that you can use to install it on Kubernetes: https://github.com/dexidp/helm-charts/tree/master/charts/dex

[2021-07-13 22:55] #2207 closed

[2021-07-14 16:53] sagikazarmark commented on #2185
Closing as we already track this issue.

[2021-07-14 16:53] #2185 closed

[2021-07-15 07:54] phenixblue commented on #1725
I would also love to see this for the LDAP Connector. The same scenario applies when using the LDAP connector to bind to Active Directory.

[2021-07-16 08:39] mervynzhang commented on #1699
Hi,

This change break kubeflow default settings. kubeflow use kubernetes internal svc in dex as issuer, such as
[code]
If the github redirectURI configured as http://dex.auth.svc.cluster.local:5556/dex/callback, github will redirect to this url and we cannot access it.

If redirectURI configured public url, got following error
[code]
dex could leave out redirectURI or do not compare it with issue

[2021-07-20 20:17] nabokihms commented on #2153
This makes sense. Thanks for pointing. @salmanisd, do you want to go ahead and make the changes?

[2021-07-20 20:55] nabokihms commented on #2097
It looks like there is a problem with the ambassador configuration. I think there is something that allows you to rewrite the path https://www.getambassador.io/docs/edge-stack/latest/topics/using/rewrites/

I am not an experienced ambassador user, nor an ordinary user either. Thus I could not suggest you more.

Closing the issue because it doesn't look like it is connected to dex.

[2021-07-20 20:55] #2097 closed

[2021-07-21 05:13] Kampe commented on #1099
+1

[2021-07-22 12:44] salmanisd commented on #2153
@nabokihms opened the PR at https://github.com/dexidp/dex/pull/2212

[2021-07-26 22:46] nolem opened #2215 "Adding roles as a claim, that are dependent to groups of the user identity provider as configurable layer between groups and the roles claim"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

The problem I, that all identity providers are direc

[2021-07-27 12:31] sagikazarmark commented on #2215
@nolem I think this is a good idea, but I'd consider waiting for #1635 with the implementation: the config file is already chaotic as it is, so I'd prefer holding back features that doesn't necessarily improve that situation.

We already have a POC implementation abandoned by its original author. I plan to work on that feature after my PTO as it's important for us as well.

[2021-07-27 12:35] sagikazarmark commented on #1635
I'd like to pick this up after my PTO. I'd like to prepare a POC implementation, supporting static connectors for now.

I also wonder if middleware should be available for clients as well. (eg. filter groups for a specific client so that login can be denied/limited to certain groups)

[2021-07-27 15:02] nolem commented on #2215
@sagikazarmark Thanks for the fast response :) I just took a look of the state of the https://github.com/WorldProgrammingLtd/dex/ fork and this is a quite big change of the dex and its code structure. The complete new layer would nice to have. This would absolute fulfill our requirements.

But some points seem to contain a great risk of the issue. The opa rego template usage makes this so complex,

[2021-07-29 09:06] TheMeier commented on #1725
https://dexidp.io/docs/connectors/microsoft/

[2021-07-29 09:43] VF-mbrauer commented on #1725
Hi @TheMeier, yes correct. I created the piece of code and put the PR in place to get it into the 2.28.0 release. So basically, solved the issue myself :-)
We could mark this issue as `solved`

[2021-07-29 11:01] #1725 closed

[2021-07-30 06:40] rudeigerc opened #2220 "Add options for writing logs to the file"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Currently, the logger writes the output to `os.Stder

[2021-07-30 22:15] sagikazarmark commented on #2220
Hi @rudeigerc !

Can you please elaborate your use case and explain why forwarding logs from stderr work for you? IMHO it's an established practice to log to stderr and forward logs to files if necessary.

Personally, I'm not a huge fan of log files as they can do more harm, so I'd like to understand and examine every detail carefully before adding something like this to Dex. Right now, I'm more i

[2021-07-31 06:07] rudeigerc commented on #2220
Hi @sagikazarmark! Thanks for your reply. We deploy Dex on Kubernetes as an identity service connecting our own identity provider with a custom connector, and we collect logs from the specified mounted host path in our practice. The collector would collect logs from this host path on the nodes periodically. As a result, we have to follow this design to adapt to our infrastructure.

[2021-08-02 20:34] #1796 closed

[2021-08-06 17:23] nabokihms commented on #2082
Fixed in v2.30.0

[2021-08-06 17:23] #2082 closed

[2021-08-07 19:00] sagikazarmark commented on #1788
Note: need to be able to set trusted proxies to properly detect client IPs.

[2021-08-07 21:42] sagikazarmark commented on #2220
Well, I'm going to assume you know that logs sent to container stdout/stderr _are_ written to files on the host.

I don't really like the idea to build this into Dex. I believe you could easily run the image with a custom command that tails the output of `dex serve` and writes it to a file of your liking. It's much more elegant than adding it to Dex directly and it doesn't even require a custom im

[2021-08-07 21:42] #2220 closed

[2021-08-12 23:04] sagikazarmark opened #2237 "Remove Kubernetes example in favor of the Helm chart"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

There is a Kubernetes example in the repo that needs

[2021-08-13 16:22] rene-dekker opened #2238 "Openshift connector incompatible with OCP 4.8 due to well-known configuration URL change"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-08-13 16:26] rene-dekker commented on #2238
I have made a mistake in opening this ticket. My log shows apps.apps, which means I made a configuration error.

[2021-08-13 16:41] rene-dekker commented on #2238
After fixing the configuration error, the URL https://oauth-openshift.apps.<HOST>/.well-known/oauth-authorization-server is available to me but not returning a well-known config json object. Instead, the response looks like this:
[code]

This causes Dex to start, but not to actually work for me,

[2021-08-16 14:19] nelaaro opened #2244 "pkce documentation and examples."
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Feature request for additional documentation and exa

[2021-08-17 08:14] ihalloum commented on #2120
@nabokihms
Please, I have checked the documentation about scope, but I don't know how to send scope ??

[2021-08-19 15:05] mruoss commented on #1977
has this been taken any further?

[2021-08-23 13:32] titlisgupta commented on #2244
I am having same trouble, a documentation of PKCE with example would have been a great help.
@nelaaro are you able to configure DEX with pkce? I am facing some issues with code challenge method.

[2021-08-25 03:52] usrbinkat opened #2254 "FRE: kustomize support"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Maintaining alignment with upstream is difficult due

[2021-09-08 15:01] benjaminapetersen commented on #1190
Does this mean ANY reference of DN? I am assuming yes.  A couple examples from the above docs page just for clarification:

[code]
Curious, does anyone know why `DN` gets this unique treatment?

[2021-09-08 15:01] benjaminapetersen commented on #1190
Updated link to the [configuration page](https://dexidp.io/docs/connectors/ldap/#configuration) as the above references are broken links now.

[2021-09-13 08:58] tidunguyen opened #2271 "Switching from Login with Email to other login methods"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-09-13 09:07] tidunguyen commented on #2271
Close as switching to image ` ghcr.io/dexidp/dex:v2.30.0` solved the issue.

[2021-09-13 09:07] #2271 closed

[2021-09-13 17:14] ejiek opened #2273 "GitLab Groups as Groups members"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Right now (dex 2.30, Gitlab 14.2.3) there is an opti

[2021-09-14 14:46] nabokihms commented on #2062
Closing this issue. If you have questions about the subject, write them to #1904.

[2021-09-14 14:46] #2062 closed

[2021-09-16 09:32] andras-babos opened #2274 "add functionality to re-read config file, certificate"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

We use dex with tls certificates which needs to be e

[2021-09-18 09:34] hellobiek commented on #2102
really need it

[2021-09-21 04:22] nabokihms opened #2281 "Run storage tests on mysql 8"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Dex supports mysql 8 as a storage, but there is no t

[2021-09-22 13:53] jdshkolnik commented on #2005
It's worked perfectly since our fix. Would you be open to a pull request reflecting the change above?

[2021-09-22 19:17] HEllRZA commented on #2005
I guess, that fix will not be merged by the maintainers.
To me it is unclear, why `scopes.Groups == true` in your case, when it should not be. Or should it?

`scopes.Groups` should only be true, when the OpenID Connect auth request includes the `groups` scope (like I said before). I did not see an obvious bug in there.

[code]

Your fix will break functionality for others. Two ideas how to make it

[2021-10-01 19:29] bobcallaway opened #2289 "Connectors that have IDs with URL-unsafe characters cannot be used successfully"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-10-15 04:41] kingsmill opened #2295 "add service.loadBalancerIP"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

This helm chart supports setting "service.type" but

[2021-10-15 08:22] marcozov opened #2296 "Dex with etcd storage crashes after upgrading to version 2.29.0"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-10-19 07:54] developer-guy opened #2301 "Describe Dex Deployment Models"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

There is no clear description of giving users about

[2021-10-20 13:35] sagikazarmark commented on #1679
This is somewhat of a grey area and there are examples of group based authorization in Dex already (eg. github/gitlab connectors can deny entry based on allow/deny lists).

The problem with OIDC is that an IdP might not be split into realms. In case of a large enterprise for example, this could mean that every single user in the company directory can login to your application and it's up to the ap

[2021-10-20 18:09] #2238 closed

[2021-10-26 11:26] sagikazarmark opened #2306 "Merge custom and builtin static web asset FS"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Currently users who want to use custom themes and/or

[2021-11-02 10:44] VF-mbrauer opened #2313 "HTTP Server Banner Disclosure"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-11-02 23:31] sagikazarmark commented on #2313
Sorry, I might be completely blind, but what header are you referring to?

[2021-11-03 07:08] VF-mbrauer commented on #2313
Hi @sagikazarmark, when the response comes back you will also get some specific header like:
[code]

So, in the above snipped, you will find all header in the HTTP RESPONSE back from the DEX-Server.
The curl command with the option `-I` will allow just to represent the headers as written in my initial query.

Just let me know if there's still anything unclear.
Thanks.

[2021-11-03 13:59] nabokihms opened #2316 "Gitlab Oauth2 access token is now expiring"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

[We assume](https://github.com/dexidp/dex/blob/58891

[2021-11-04 09:30] sagikazarmark commented on #2313
What I don't understand is which header in the response discloses sensitive information in your opinion.

[2021-11-09 00:18] gshamov opened #2319 "Dex to log IP addresses of failed auth attempts"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

I am using Dex OIDC/LDAP with Apache, as part of Ope

[2021-11-10 13:54] nabokihms commented on #1635
The idea of something related to the topic came to my mind.

What if after a new id token is generated for the user, Dex can validate/mutate it by sending a request to some webhook (like Kubernetes does) or by calling a script ([like docker registry does](https://github.com/cesanta/docker_auth))? With this approach we will be able to provide all required customization for users and keep it simple

[2021-11-11 00:21] VF-mbrauer commented on #2313
Hi @sagikazarmark, let me study again the security requirements on our side. Basically those headers are the usual ones in a http response. So the server name representation has already been removed with the latest version. This was definitely something to fix. But this is done now. I will come back ASAP with a response.

[2021-11-11 12:31] timmilesdw commented on #32
Any updates to this one? This would be really useful feature

[2021-11-15 12:19] nunojusto opened #2326 "CVE-2021-36159 and CVE-2021-3711"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-11-15 14:21] #2326 closed

[2021-11-15 14:39] nunojusto commented on #2326
Hi Márk, you forgot to tag the container image to v2.30.1 ... i'll assume it's the latest but it's not tagged to minor the version

[2021-11-15 14:42] nunojusto commented on #2326
Forget what i've said. The CI is still progress. Sorry

[2021-11-15 14:56] sagikazarmark commented on #2326
Hm, CI is failing for some reason. Sorry about that.

[2021-11-15 15:57] ffdybuster opened #2328 "'Error response from daemon: manifest unknown' when trying to pull ghcr.io/dexidp/dex:v2.30.1"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-11-15 16:15] sagikazarmark commented on #2328
The CI job is failing for some reason. We are working on a fix.

[2021-11-16 00:04] sagikazarmark commented on #2326
Should be fixed

[2021-11-16 00:07] sagikazarmark commented on #2328
Should be fixed.

[2021-11-16 00:07] #2328 closed

[2021-11-16 07:28] ffdybuster commented on #2328
I can confirm that 2.30.2 works fine! Thanks a lot!

[2021-11-24 06:50] mayurwaghmode opened #2333 "Add ppc64le support"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

dex is not executable on ppc64le architecture.

###

[2021-11-24 08:46] sagikazarmark commented on #2333
Duplicate of #1388

Please note that we currently don't have the bandwidth to support this architecture, even if we provide builds for it.

[2021-11-24 10:16] mayurwaghmode commented on #2333
Ok! Do you have dex image built for ppc64le arch?

[2021-11-24 10:50] iam-veeramalla commented on #2238
@rene-dekker I ran into a similar issue previously and everything works fine now. Do you remember which specific version of OCP you had issue with  and upgrading to which version of OCP resolved this for you ?

[2021-11-24 13:22] iam-veeramalla opened #2335 "Print Dex version in the logs."
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-11-24 17:16] rene-dekker commented on #2238
@iam-veeramalla I ran into this on 4.8.3 IIRC, but was not able to reproduce in 4.8.13. Not sure if maybe my cluster had problems that I missed.

[2021-11-25 15:01] #2335 closed

[2021-12-01 16:36] sagikazarmark commented on #2333
No, we don't. Feel free to open a PR.

[2021-12-08 13:52] phxgbl opened #2347 "Authcode login dex returns wrong state value"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-12-08 15:45] ismaeljpv commented on #1025
Hi, I'm having the same issue with the preflight request when facing redirection in a SPA + Web Server flow , any advance in these regard ?

[2021-12-09 04:56] phxgbl commented on #2347
sorry .. my mistake. I used localhost instead of 127.0.0.1. So cookie wasn't set since different domain. once url changed to http://127.0.0.1:3000  everything worked as expected.

[2021-12-09 04:56] #2347 closed

[2021-12-09 14:41] sagikazarmark commented on #2020
I'd like to work on this, but we should reach a consensus first.

I'm not a huge fan of the current logging strategy, because:
- it's not structured, so searching in logs is not easy
- the logger interface is basically an abstraction over Logrus

The ideal logger interface should be owned by Dex. Logur provides a template for that (both [map[string]interface{}](https://github.com/logur/logur/blob/

[2021-12-10 03:35] nabokihms commented on #2316
Yes, this is still a problem, feel free to take it.

[2021-12-10 17:12] nabokihms commented on #2020
Thank you  Mark. It feels like logs is one of our weak spots.

1. I like the idea of refactoring the logger interface for our needs. A couple of times I thought about how good it will be if we have labels (especially in combination with JSON format).
2. +1 for zap.

[2021-12-10 19:41] ArchLayperson opened #2351 "[LDAP] Docs unclear about the behavior of startTLS and insecureNoSSL"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

The LDAP docs are unclear about what happens in vari

[2021-12-13 13:23] damian-keska-f commented on #1099
That would simplify usage with e.g. https://github.com/kubernetes-sigs/secrets-store-csi-driver

[2021-12-14 01:22] xyslion commented on #1907
How about [wasm](https://webassembly.org/)?

[2021-12-14 08:15] candlerb commented on #1907
It depends on how much capability you want to give to plug-ins.

If you only want them to transform a request - without any side effects and without reading from the filesystem or communicating to external databases or such - then something like JSONnet would be fine.

If you want to write general-purpose scripts which are interpreted inside the Dex runtime, then something like LUA, an embedded Ja

[2021-12-15 20:24] tinyzimmer opened #2357 "Magic Authentication"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

I am wondering if [Magic](https://magic.link/), a pa

[2021-12-17 01:10] edeati opened #2358 "Support given_name and family_name, add it to the "handful" of supported Standard claims"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

`given_name` and `family_name` Standard claims are n

[2021-12-19 15:23] sagikazarmark commented on #1635
I think it would still make sense to bundle a bunch of middleware with Dex (like Kubernetes does), but extensibility is certainly important as well.

[2021-12-27 12:39] nixon89 opened #2360 "Tokens don't refresh in personal configs"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2021-12-28 20:43] nabokihms commented on #2360
Hello, Nikolay!

Some thoughts:

1. This is a problem on the side of the `oidc.example.ru`. Provided response `{"error":"invalid_grant"}` is what oid.example.com responded to Dex. Could you check its logs to find the actual reason for a problem, because the `invalid_grant` error has a lot of meanings in the OIDC world?

1. Dex rotates refresh token on every refresh request in terms of security, th

[2022-01-12 16:23] VF-mbrauer commented on #2313
Hi @sagikazarmark, I also see no relevant information. The Response packets are looking OK for me.
So, Security will give it a re-assessment and if there is anything in the future, I told them to Document properly so that we can check again and if necessary, raise another issue.

So let's close this issue. Thanks so far.

[2022-01-12 16:33] sagikazarmark commented on #2313
Cool, thanks!

[2022-01-12 18:27] sagikazarmark opened #2370 "Come up with a formal process for large proposals"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

There are at least two big changes in the queue for

[2022-01-14 16:47] ankeesler commented on #1924
have y'all discussed doing this recently? i'd be interested in consuming a distroless dex in my product.

could we do this by providing a `Dockerfile.distroless` that:
1) doesn't support `gomplate` and instead has `ENTRYPOINT ["dex"]`
2) copies CA from a previous `apk add ca-certificates` step in a builder stage

alternatively, if we don't want to give up `gomplate`, could we rewrite `docker-entry

[2022-01-15 01:07] sagikazarmark commented on #1924
Hey @ankeesler

To be honest, this isn't our top priority these days, but we'd definitely accept a PR. ;)

As for gomplate: I think it solved a ton of problems for Dex, specifically injecting secrets into various places in the config file.
I don't think we have a better solution at the moment and it would probably weird if the different images worked too differently.

The entrypoint script is quit

[2022-01-15 10:19] sagikazarmark commented on #2358
@edeati Yeah, these are standard claims....for OIDC. Unfortunately a bunch of providers (SAML, LDAP, OAuth2) don't necessarily provide the same information, hence we've been reluctant to include these claims.

However, it might make sense to revisit this decision.

[2022-01-15 10:25] sagikazarmark commented on #2319
As long as it's configurable (because GDPR) it's probably okay, but I can imagine the temporary an feature being added to Dex as well.

[2022-01-15 11:22] sagikazarmark commented on #1729
Correct me if I'm wrong, but AFAIK attribute names are supposed to be case sensitive.

[2022-01-15 12:51] sagikazarmark opened #2373 "Use a configuration language for Dex configuration"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

There are various secret values that currently have

[2022-01-16 10:51] sagikazarmark commented on #262
Progress will be tracked here: https://github.com/orgs/dexidp/projects/3/views/1

[2022-01-16 10:51] #262 closed

[2022-01-16 11:41] sagikazarmark commented on #42
Progress will be tracked in this project: https://github.com/orgs/dexidp/projects/3/views/1

@nabokihms can you please open new issues and add them to this project if you have any details already? Thanks!

[2022-01-16 11:41] #42 closed

[2022-01-16 12:44] sagikazarmark commented on #2289
If I'm being completely honest, I'm not sure I see why the connector ID should be any valid string? I mean if we allow everything then yes, we should make sure it's properly encoded.

But why not just introduce some validation rules for the connector ID?

The connector ID is present in all kinds of places, so it should be a simple, slug-like ID.

WDYT @bobcallaway @nabokihms ?

[2022-01-16 12:56] nabokihms commented on #2289
This issue is about regression we brought with the release v2.29. As I thought, it is better to fix the problem first, and then we will be able to introduce validations, and migrations to connector IDs.

[2022-01-16 12:57] sagikazarmark commented on #2289
Oh, I see. So apparently we supported any value as the connector ID before?

[2022-01-16 15:02] sagikazarmark commented on #2289
@nabokihms can't find what makes this a regression. Can you point me to it?

@bobcallaway do you actually use URLs as connector IDs?

[2022-01-16 15:40] nabokihms commented on #2289
I thought it was this PR https://github.com/dexidp/dex/pull/1865

[2022-01-16 17:21] sagikazarmark commented on #2061
I'm trying to pick this one up (partly to do some research for #1629).

As for your concerns:

1. I think it's okay to rewrite certain components for our use cases.
2. Maybe we can use the existing storage layer to implement the one in fosite and implement the rest?

[2022-01-19 13:46] ankeesler commented on #1924
cool, thanks for the response @sagikazarmark

i opened an initial strawperson implementation here to get the conversation started: https://github.com/dexidp/dex/pull/2378. would love your thoughts if you have some cycles

and i will talk to my coworkers about getting us added as an adopter...

[2022-01-24 17:11] bobcallaway commented on #2289
Yes, we do. We could create and manage our own map of connector ID to issuer URL if the desire is to not support this.

[2022-01-27 07:51] jkroepke opened #2389 "x509 Client Certificate authentication for OIDC clients"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

In some (german) high secure environments, authentic

[2022-01-27 08:41] rahulchheda opened #2391 "Bitbucket's `/teams` endpoint is now depreacted."
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-01-31 09:26] JanisOrlovs commented on #2391
Hello,

What is the timeline for this issue to be merged? This is becoming an issue for us.

[2022-02-02 08:09] #2391 closed

[2022-02-02 12:57] slinstaedt commented on #2391
Hi, is there any chance to release this change soon? The bitbucket connector is not working anymore since xmas last year. Bitbuckets teams endpoint is not deprecated (that actually happend several months before), but simply removed.

[2022-02-02 16:45] nabokihms commented on #2391
@slinstaedt v2.30.2 with this fix is coming.

[2022-02-02 16:47] nabokihms commented on #1992
closed in favour of #2390

[2022-02-02 16:47] #1992 closed

[2022-02-03 18:31] slinstaedt commented on #2391
Thanks, I am really appreciating your work :)

[2022-02-07 14:59] Chup4Chups opened #2403 "[k8s][gitlab] Invalid 'state' parameter provided: not found"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-02-08 20:56] #1924 closed

[2022-02-09 00:05] sagikazarmark opened #2406 "Publish distroless images"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Our Dockerfile now supports distroless images, but w

[2022-02-09 00:37] sagikazarmark opened #2408 "Kustomize support"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

The primary deployment mechanism for Dex on Kubernet

[2022-02-09 00:39] sagikazarmark opened #2409 "Long-term artifact distribution pipeline"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

There are various artifacts produced by Dex build pi

[2022-02-09 22:20] stanislavgeorgiev opened #2410 "Security - Limit the supported HTTP verbs - custom verbs like PENTEST are currently allowed"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-02-15 17:59] omkensey opened #2414 "Client-Initiated Backchannel Authentication support"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

I would like to use Dex as a lightweight public-faci

[2022-02-21 11:16] marians commented on #918
Has any progress been made on connector middlewares?

Back in March last year my colleague has provided https://github.com/dexidp/dex/pull/2051 as a suggestion how to achieve group name prefixing in the groups claim.

We have extended that solution since and we've been running it in production for some time now. Ideally we'd like to contribute it here so we don't have to run Dex off a fork.

Shoul

[2022-02-21 22:05] Pixelsmith commented on #2391
I'm still receiving this error on v4.1.6, even after updating.

Has the patch been released yet?

[2022-02-22 12:34] slinstaedt commented on #2391
v2.30.3 was released at least on [docker hub](https://hub.docker.com/layers/dexidp/dex/v2.30.3/images/sha256-c403d22c7f1562656edc17b4573dbb04906ef9b52c2048e7f2245a158389b946?context=explore).

[2022-02-22 14:36] dirien opened #2417 "Add acr_values support for OIDC"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Hi,

Our internal IDP, uses the propery acr_values a

[2022-02-23 20:43] themowski commented on #2082
Our team encountered this while deploying Kubeflow v1.3.1 via manifests in a Kubernetes v1.21.9 cluster. The solution in our case was to instead install Kubeflow 1.4.x via manifests, which includes the patch https://github.com/kubeflow/manifests/pull/1883 mentioned above.

[2022-03-01 06:25] nixon89 commented on #2360
Hello, @nabokihms
We lived 2 months with the `disableRotation: true` setting enabled in dex

Subjectively, there are fewer problems with non-working configs, but they have not completely disappeared.

I did the following experiment:
1. got a personal config for test user
2. looked at what happened in CRD `refreshtokens.dex.coreos.com` in the cluster. The `connectorData` field was filled in correct

[2022-03-08 03:42] ealyn opened #2429 "add SetConnMaxIdleTime for mysql"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

My cloud MySQL has idle connect timeout, it cause `i

[2022-03-08 06:22] #2417 closed

[2022-03-08 07:46] nabokihms commented on #1733
I tested the feature, and it works as expected. If the problem is still relevant, please open a separate issue or discussion to track it.

[2022-03-08 07:46] #1733 closed

[2022-03-08 12:36] nabokihms commented on #1666
I understand it was two years ago, but every issue deserves an answer.

You should request the `federated:id` scope. Dex will include the info about the used connector and the user ID from the end provider to the ID token.
https://dexidp.io/docs/custom-scopes-claims-clients/#scopes

The example of an ID token:
[code]

I hope that it will help. If you still have questions, please open a new issue.

[2022-03-08 12:36] #1666 closed

[2022-03-08 12:50] nabokihms commented on #1161
The issue is stale, so I am going to close it.

Dex now has an official Helm chart that works with the recent Kubernetes versions.
https://artifacthub.io/packages/helm/dex/dex

There is also an issue to improve getting started documentation.
https://github.com/dexidp/website/issues/78

Feel free to open a new issue if it is necessary.

[2022-03-08 12:50] #1161 closed

[2022-03-08 12:53] nabokihms commented on #1719
It is a coincidence that the sub claim contains the id of the connector. The right way to get the connector id, as you have mentioned, is to request the `federated:id` scope.

I am going to close the issue. Feel free to open a new one if you still have questions.

[2022-03-08 12:53] #1719 closed

[2022-03-08 12:55] nabokihms commented on #549
The issue was fixed in Dex v2.29.0
https://github.com/dexidp/dex/pull/1865

[2022-03-08 12:55] #549 closed

[2022-03-08 12:58] nabokihms commented on #646
The issue was fixed in Dex v2.29.0
https://github.com/dexidp/dex/pull/1865

There is no need to keep track of this issue further. If you found this issue and still have a problem with auth requests, please open a new issue or discussion.

[2022-03-08 12:58] #646 closed

[2022-03-08 13:26] nabokihms commented on #2360
There is a problem with the concurrent call of the `Refresh` method of the connector. I will provide a detailed description of the problem and possible solutions.

[2022-03-08 20:41] hef commented on #1834
For me, Invalid scope was happening was happening on the "connector" side, but the error message did not make that clear.

 I had missed giving the "profile" scope to the dex app integration in cognito.

[2022-03-09 16:50] drauschenbach commented on #2088
I am also seeing this issue. My renovate CI automation keeps trying to get me to "upgrade" to Dex 0.6.1 (Sep 2016?). And I have to import the Dex package using a Git hash instead of a tag, which is a bookkeeping burden to know what version I am on.

[2022-03-10 20:11] xtremerui opened #2436 "Better error message for SAML callback handler"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

We embedded Dex in (Concourse CI)[https://github.com

[2022-03-16 20:26] dotMikeH opened #2442 "Microsoft connector requesting too much access"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

The Microsoft connector should be using least privil

[2022-03-17 04:09] braunsonm commented on #1907
For me, I would like to extend Dex to include custom claims which I add to the token before it is returned during the auth code exchange. Doesn't quite fit in this model

[2022-03-21 06:29] ischenxin commented on #1025
I have added it to the configuration, but still display a cors error

[code]

![image](https://user-images.githubusercontent.com/89346248/159214083-880571d0-7b0e-4404-ae29-a14a761f2a9f.png)

![image](https://user-images.githubusercontent.com/89346248/159214124-f0c3ac29-2032-47a9-9bab-819c562ea865.png)

[2022-03-21 15:36] benjamin-bergia commented on #1099
Is there any update on this?

Dex is barely usable on kubernetes as it is right now. The only workaround I found is to store the whole config as a secret.

[2022-03-21 16:17] nabokihms commented on #1099
@benjamin-bergia starting from the version v2.28.0 Dex official docker image uses [complete](https://docs.gomplate.ca/) to render the config before execution.

Thus, it is possible to utilize env variables in the config like this
https://github.com/dexidp/dex/blob/20e2e429b34086bc4ffbfbbae888f644ca1f1377/config.docker.yaml#L20

[2022-03-22 10:48] benjamin-bergia commented on #1099
@nabokihms Perfect! Thank you

[2022-03-22 13:54] rimasgo opened #2448 "Multiple CVEs against golang version used for compile"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-03-22 14:24] benjamin-bergia opened #2449 "Update kubernetes example to go throught the entrypoint"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-03-22 15:34] sagikazarmark commented on #2448
2.31.1 is built with the latest go 1.17.x version.

[2022-03-22 15:34] #2448 closed

[2022-03-22 22:05] john-delivuk opened #2450 "Non-OIDC JWT Connector"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

OIDC is becoming the preferred SSO protocol for most

[2022-03-30 17:42] jlane67 opened #2457 "Dex can not authenticate against USGovernment Azure via OIDC."
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-03-30 20:05] jlane67 commented on #2457
Allowing Dex to specify the Azure AD endpoint appears to fix this issue.

[2022-03-30 22:15] jarrettprosser commented on #1817
This would be useful for me also.

[2022-04-01 00:14] jlane67 commented on #2457
[These two lines](https://github.com/dexidp/dex/blob/master/connector/microsoft/microsoft.go#L65-L66) should be configurable from JSON as they are not used for non-standard accounts.  The endpoint is microsoftonline.us rather than microsoftonline.com, so making this a constant is wrong.

[2022-04-05 08:34] benjamin-bergia commented on #1635
Would this allow modifying groups returned by the connectors or maintain some sort of mapping?
I currently have an instance with multiple github connectors to different organizations. Not all organizations use the same naming conventions for their teams and I would like to have a mapping on Dex to rename groups with something that makes more sense internally. For example my gh connectors might ret

[2022-04-06 10:46] nabokihms commented on #1817
Hello @jarrettprosser. Currently, we are blocked by the upstream library.
You can check this thread for details https://github.com/go-ldap/ldap/issues/314

[2022-04-06 12:46] sagikazarmark opened #2462 "e2e test pipeline"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

We've increased the test coverage recently by improv

[2022-04-06 22:15] jarrettprosser commented on #1817
Thanks @nabokihms, that's really helpful. I'll keep an eye on that thread.

[2022-04-08 05:32] AljoschaP commented on #1080
Is there any chance that this feature will be implemented?

[2022-04-08 12:53] nabokihms commented on #1080
Hello @AljoschaP. Adding more user attributes to static passwords, e.g., groups, preferred user names, and so on, is not in our roadmap. Please consider alternatives such as deploying an LDAP server or an OIDC provider along with Dex for now.

[2022-04-09 09:36] AljoschaP commented on #1080
Hello @nabokihms :-) Thanks a lot for your quick response. I'll take a look at https://github.com/glauth/glauth.

BTW: Thank you for your awesome work :+1:

[2022-04-09 12:14] sagikazarmark commented on #2020
I came up with a few different options:

**Option 1**

The simplest interface with key-value pair support.

[code]

Usage:

[code]

**Option 2**

A bit more complex interface with some level of type (and argument count) safety.

[code]

Usage:

[code]

**Option 3**

Zap's API without directly importing Zap in the rest of the application. Has a bit higher maintenance cost.

[code]

Usage:

[code]

[2022-04-11 18:38] ankeesler opened #2469 "Distroless container images unable to resolve `*.local` names"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-04-15 06:48] #2406 closed

[2022-04-20 14:30] nabokihms commented on #833
We run the Kubernetes conformance test suite against kind clusters via GitHub Actions. There is still a lot of space for improvement, e.g., running the test suit against the Kubernetes versions matrix, but it seems we can close this issue for now.

[2022-04-20 14:37] nabokihms commented on #1020
Related issue https://github.com/dexidp/dex/issues/1907

[2022-04-20 14:42] nabokihms commented on #927
I'm going to close the issue because the main problem was fixed https://github.com/dexidp/dex/pull/967. If you face any related bugs, please open a new issue. Thank you!

[2022-04-20 14:42] #927 closed

[2022-04-22 07:43] petrm opened #2485 "Latest docker images fail to start"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-04-22 09:24] sagikazarmark commented on #2485
Thanks for reporting! We recently changed how images are built and that seems to break the multi-platform builds. We will fix it shortly.

[2022-04-22 20:09] sagikazarmark commented on #2485
This should be fixed

[2022-04-22 20:09] #2485 closed

[2022-04-25 17:48] reynico opened #2493 "Dex, Google connector, language selection and 400 error"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-04-28 16:29] fivovic commented on #1095
If at all possible, can we get a warning message thrown when the org name used in the dex config for a github connector does not match the case of the login name as presented by the github api?

I know it is niche, but this exact issue happened to me this week within argocd. Someone changed the case of our org name without notice, and it was very time-consuming to troubleshoot and track down why g

[2022-04-28 17:39] nabokihms commented on #1095
@fivovic could you please open a separate issue for your case? This one is about slightly different case and was closed 5 years ago.

[2022-04-28 22:00] Blorpy opened #2498 "Dex OIDC connector requires id_token in response body from IDPs, when using a grant_type of refresh_token"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-04-29 17:09] jValdron commented on #857
+1

We use Dex to front a few applications and we back it with AWS SSO. AWS SSO provides a user portal, which then has links to all the apps you have access to. When we grant access to Dex, they get a link to it, and when they click on it, it goes to Dex which just returns a 404. Suffice to say, we get questions about this often because people don't realize they have to navigate to apps X and Y in

[2022-04-29 17:53] fivovic opened #2499 "Org definition using incorrect case can silently fail to pull github groups."
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-04-30 03:45] Blorpy commented on #2498
It looks like this may be linked to a limitation upstream in kubernetes. https://github.com/kubernetes/kubernetes/issues/36847 reading through this issue indicates that IDPs that do not return an id_token when using a refresh_token grant are not fully supported.

I'm going to leave this open for further comment from maintainers or other community members. It's not clear to me whether there is a vi

[2022-05-01 07:26] GitHubFor122 commented on #1756
we have same secrnario too

[2022-05-03 07:38] pnordh commented on #2493
This happened to one of our users as well (using version `v2.30.0`) and the workaround worked for us to.

[2022-05-04 14:04] nabokihms commented on #2498
Thank you for pointing this out.

From my point of view, Dex should support such providers and act as a shim between providers without id_tokens in refresh responses and Kubernetes (I still believe that running Dex inside Kubernetes clusters is the most common use case).

As mentioned above, the solution should be making id_token optional and relying only on claims from the user info endpoint resp

[2022-05-05 10:55] roddyherries opened #2504 "Support the configuration of additional auth request parameters on OIDC connector"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Some IdPs support login features that are accessible

[2022-05-05 12:33] chr-b commented on #2450
I think I have a very similar use case:
* Cloudflare Access is in place, where users have to authenticate against the IdP configured in Cloudflare.
* If authentication is successful, Cloudflare will issue a [JWT token](https://developers.cloudflare.com/cloudflare-one/identity/users/validating-json) and forward the request to the origin (e.g. DEX)
* DEX would then have to validate this JWT token an

[2022-05-06 13:33] david-curran-90 commented on #1818
Issue was due to trying log in from the wrong environment

[2022-05-06 13:33] #1818 closed

[2022-05-06 19:40] Blorpy commented on #2498
I took a swing at this in #2505, will wait for maintainer review @nabokihms

[2022-05-11 20:48] mmclane commented on #2499
I am running into this issue too.

Its worth noting that the team names ARE case-sensitive.

[2022-05-13 03:43] ansh-lehri commented on #2360
Hello everyone, I am also facing similar kind of issue with different error. I am generating id-token and refresh-token using dex for kube-oidc-proxy check to Kubernetes GKE server. On generating new tokens, everything works fine and I am able to perform kubectl commands which first get authenticated at kube-oidc-proxy server and then get forwarded to kubernetes API server on GKE.

But once id-tok

[2022-05-13 03:43] ansh-lehri commented on #2360
@nabokihms can you share your solution please?

[2022-05-13 13:15] nabokihms commented on #2450
Speaking about generic JWT connector implementation, there should be precisely two layers:
1. `Validating the token`.
Btw, @chr-b mentioned all validation steps. The only thing is that the public key URL may be a static file with a key, e.g., file://local.json.

2. `Extracting claims from the token`.
For claims extraction, I would like to propose using something like [json-path](https://github.com

[2022-05-13 13:21] nabokihms commented on #2504
It looks like an excellent addition to the OIDC connector! Thanks for the idea.

The only concern about implementation is that this feature requires splitting command line parameters into two lists: params maintained by dex and additional params.
* Dex should validate that provided additional auth request params do not interfere with the first list.
* It should be covered by tests that Dex itself

[2022-05-13 13:24] nabokihms commented on #2493
That's strange. Unfortunately, I do not have access to Google IdP right now. It will be best ff someone from the community gives us a hand here.

Anyway, I will try to find a way to test check it by myself next week.

[2022-05-13 13:31] roddyherries commented on #2504
Hi @nabokihms - yes, agreed on that additional check for splatting standard OIDC params. I've implemented this on a fork for our own internal use for now - I'll raise a PR if that helps?

[2022-05-13 14:11] nabokihms commented on #2504
Yeah, sure. I think it is worth seeing the code and reviewing it.

[2022-05-13 15:29] nabokihms commented on #2499
Dex exports:
* A `slug`ified name of each team, so they are always lowercase names.
* Org name from the `login` field, a case-sensitive field.

However, even if the field is case-sensitive, it is still case-insensitive on the backend side.
<img src="https://user-images.githubusercontent.com/32434187/168315594-186b4de5-2e7f-42db-9a0f-3cc75c04050d.png" height=150/><img src="https://user-images.githu

[2022-05-15 15:16] roddyherries commented on #2504
Hi @nabokihms - could you clarify something please ...

By "maintained by dex" do you mean only the existing auth params managed in `oidcConnector.LoginURL`, i.e `hd`, `acr_values` and `prompt` or some other list?

[2022-05-16 12:41] sgremyachikh commented on #2360
@nabokihms it looks like we are facing the same problem as described by @nixon89, it is reproduced from time to time. Do you have any news about possible solutions?

[2022-05-17 05:59] kszymans commented on #1065
Hey.
I have the exact problem and I've checked:
- Google's IAM service account key is accessible for dex
- Client claims `groups` attribute from dex

Although I gets empty groups list. I also gets no groups claim in Dex's approval screen:
![image](https://user-images.githubusercontent.com/68637706/168739533-85082b9f-75c9-461d-a4a0-0b81100d46fe.png)

Maybe the issue is somewhere in claims

[2022-05-18 08:09] nabokihms commented on #2316
The problem is more urgent than I've expected
https://docs.gitlab.com/ee/integration/oauth_provider.html#expiring-access-tokens

[2022-05-20 12:46] #2498 closed

[2022-05-23 20:32] demonkoryu commented on #2120
@ihalloum You can find the scope configuration docs here: https://dexidp.io/docs/connectors/oidc/#configuration

[2022-05-24 12:12] PG2000 commented on #2108
@sagikazarmark Do you know how we can proceed with this?

[2022-05-24 17:27] andytson-inviqa commented on #1513
also, the CRDs should be able to be installed from the Helm chart regardless of the reason https://github.com/helm/charts/pull/21703 gave for closing it

[2022-05-24 22:20] marcjimz commented on #1292
Is this still an active issue with the latest Dex code?

[2022-05-25 14:54] age9990 commented on #1771
I have faced a similar issue where keycloak is using a certificate signed by our in-house root CA. It failed with the following error:
failed to initialize server: server: Failed to open connector keycloak: failed to open connector: failed to create connector keycloak: failed to get provider: Get https://keycloak.domain.com/auth/realms/my-realm/.well-known/openid-configuration: x509 certificate si

[2022-05-26 13:08] EthanLiang1980 commented on #1724
Hi Prashanthc, Did you fix it? If yes could you please share your method? I face this issue today and I don't know how to fix it,

[2022-05-26 19:30] ShivanshVij opened #2537 "Device Code Flow does not return `application/json` in `Content-Type` header"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-05-26 20:08] sarahhenkens commented on #2403
I'm having the same problem with setting up a connector for Okta

[2022-05-26 21:14] ShivanshVij opened #2539 "Device Code Flow does not respect Public Clients"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-05-30 13:55] #2537 closed

[2022-05-30 14:39] nabokihms commented on #2403
The problem is that there is no authentication request in the storage, so authentication cannot be finished after receiving a callback.
Two things that can cause such a problem:
1. There is something with the storage. If it is Kubernetes, check the authentication request objects in your cluster by executing `kubectl get authrequests -A` after you were redirected to the GitLab / Okta login page.
2.

[2022-05-31 12:03] #2289 closed

[2022-06-01 07:47] tdungnguyen opened #2545 "Multiple CVEs in the latest explicit v2.31.2"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-06-01 15:16] roddyherries commented on #2504
Hi @nabokihms, I've raised a draft PR for this change https://github.com/dexidp/dex/pull/2546.

[2022-06-01 17:22] nabokihms opened #2547 "Refresh with connector only once"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

There is a problem with concurrent token refresh req

[2022-06-02 03:52] tdungnguyen commented on #2545
you're right! I am also checking previous versions that we have, turns out `dex:v2.31.1`  has Go version 1.17.8 since

[2022-06-06 21:13] tiwarisanjay commented on #2449
I am keep on getting following error when trying to use the secret from Env. Secret works if I hard code the same.
[code]
Tried all ways :
[code]

[2022-06-07 14:38] nabokihms commented on #2449
Related issue https://github.com/dexidp/dex/issues/2237 (it seems that it conflicts with the current one)

[2022-06-07 14:40] nabokihms commented on #2449
@tiwarisanjay, it is better to open a new issue or a discussion because we need more data to debug the problem. I assume the minimal will be the Dex version and how you deploy it.

[2022-06-07 17:21] tiwarisanjay opened #2553 "invalid client_secret on token request for client : Kubernetes deployment"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-06-07 17:23] tiwarisanjay commented on #2449
@nabokihms  https://github.com/dexidp/dex/issues/2553

[2022-06-10 09:16] tdungnguyen commented on #2545
hi @sagikazarmark , it seems the version Go 1.17.1 in the CVE report indicates **gomplate** specifically. This might relates to https://github.com/hairyhenderson/gomplate/issues/1352

<img width="898" alt="image" src="https://user-images.githubusercontent.com/17866334/173033504-bcbbe202-16f6-46bd-b293-7d2839fd4409.png">

[2022-06-10 11:51] sagikazarmark commented on #2545
Good catch @tdungnguyen ! We will update gomplate once there is a new release.

[2022-06-10 18:15] chancez commented on #1080
I was hoping to use groups with static users in dex for some CI and local setups where our application uses groups to make authorization decisions. Adding LDAP would be quite cumbersome for such a setup, and dex is 99% of the way there for what we need in an IDP for local dev setups and CI.

Would you be willing to reconsider?

As far as implementation complexity goes, this is probably like 5-10 l

[2022-06-13 03:50] tdungnguyen commented on #2545
Hi @sagikazarmark , by the time I am typing this to you, **gomplate** has released new version [v3.11.0](https://github.com/hairyhenderson/gomplate/releases/tag/v3.11.0). I did a quick scan of its [latest Docker image](https://hub.docker.com/layers/gomplate/hairyhenderson/gomplate/v3.11.0/images/sha256-3493688e81d73da31aa5722b020c967fa1b50f6a86129637aed5a423a70ff44a?context=explore), and it's clea

[2022-06-14 19:24] Udbv commented on #2358
I would suggest to make it optional, per each connector. ideally there should be a mapping for each connector.
For example LDAP:

- given_name: custom_attr_1
- family_name: custom_attr_2.

And for me this custom_attr_XX are base64 encoded(non latin characters)

[2022-06-17 18:46] rdpa commented on #2274
just came across this, if you're still having this issue i'd recommend https://github.com/stakater/Reloader

[2022-06-20 08:46] leopku opened #2559 "[ldap example]Failed to parse authorization request: Client can't request scope(s) [\"audience:server:client_id:johndoe@example.com\"]"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-06-20 13:14] jamo4ever commented on #2403
Having same issue when using Okta with SAML to Dex, only when Authentication is initiated from Okta Portal side
level=error msg="Invalid 'state' parameter provided: not found"

[2022-06-20 20:10] nabokihms commented on #2559
Hello, @leopku. It seems that the problem is related with the example app and how you send a request to the Dex. Provided errors show that requests are invalid.
1. Could you please elaborate more on which parameters you specified in the example app form?
2. We need to see you browser queries to Dex to debug further.

[2022-06-21 11:40] andras-babos commented on #2274
Thanks! I will check it, it looks a viable workaround also.

[2022-06-22 03:54] pokixing opened #2563 "Use jmespath library to support parsing multi-level userInfo when using oauth"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

If the userinfo returned by your OAuth provider does

[2022-06-22 10:07] robertkaelin commented on #1635
Hi Everyone
Is this initiative still ongoing or has not?

Not having this functionality is what is currently keeping us from using Dex and we are between forking this project or contributing, but there I saw a lot of PR related to this topic being blocked/denied due to uncertainties on how to implement.

Is there anything we could help/build on to provide this, what does still need to be done?

[2022-06-22 10:27] candlerb commented on #1635
You could see if Hashicorp Vault would meet your needs: it gained OIDC Provider functionality in 1.9+. It can directly map individual users (entities) and groups to upstream OIDC subscribers and group claims, via aliases. For me that removes the need for middleware.

And there's always Keycloak.

[2022-06-22 12:28] marcelobartsch opened #2567 "Dex Docker Image can't be pull anonymous"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-06-22 12:40] dtotopus commented on #2567
Currently facing the same issue `Failed to pull image "ghcr.io/dexidp/dex:v2.30.3": rpc error: code = Unknown desc = failed to pull and unpack image "ghcr.io/dexidp/dex:v2.30.3": failed to copy: httpReadSeeker: failed open: unexpected status code https://ghcr.io/v2/dexidp/dex/blobs/sha256:ea768edbd9c9e2e4b84d74be8f4ee8244024a62a9c55d18a4fe1dbcb32427341: 401 Unauthorized - Server message: unauthori

[2022-06-22 14:29] sagikazarmark commented on #2567
I can't seem to reproduce the issue on a brand new VM:

[code]

Are you sure you are not logged in with an invalid token?

[2022-06-22 18:45] phoerious commented on #2449
Same. I'm trying to use a secret for a staticClient from an environment variable in Dex 2.32.0 (deployed in Kubernetes). My Dex config.yaml is mounted from a ConfigMap and looks like this in the container:

[code]

[2022-06-23 10:08] leopku commented on #2559
@nabokihms Thanks.

The example app was the original example app of dex with no changes.

[2022-06-27 09:53] nabokihms commented on #1753
@sagikazarmark @justaugustus
We could enable the new GitHub feature to avoid signing web commits manually. See for more info https://github.blog/changelog/2022-06-08-admins-can-require-sign-off-on-web-based-commits/

[2022-06-27 14:05] caniszczyk commented on #1753
CNCF can enable this setting as we will make it default for all projects in the future anyway

So consider it done. If you wanted to remove it for some reason you can but I'd advise no :)

[2022-06-27 14:17] sagikazarmark commented on #1753
Configured it for the dex project.

[2022-07-04 13:24] itninja-hue commented on #1771
hello :wave:
in a container/k8s context as a workaround you can mount your certificate as volume to /etc/ssl/certs/certificates.crt

[2022-07-04 14:44] age9990 commented on #1771
I figured out this workaround too. Thanks anyway.

[2022-07-04 18:59] nabokihms commented on #1635
@robertkaelin, we are open to any help.

The current step to implement the feature, I believe, is to write a design doc - [Dex Enhancement Proposal](https://github.com/dexidp/dex/tree/master/docs/enhancements). There are many ways to solve the problem by utilizing various approaches, technologies, and libraries.

[2022-07-04 19:38] thomwatkin opened #2578 "Allow for GitHub connector to cast user email to lowercase"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Follows in the vein of https://github.com/dexidp/dex

[2022-07-05 06:39] sagikazarmark commented on #2578
We are trying to avoid that by introducing a generic layer in #1635

Adding all these flags to every connector introduces a massive maintenance burden and the configuration is already a giant mess.

Reluctantly, but we generally accept these PRs based on demand as an interim solution.

[2022-07-05 06:40] sagikazarmark commented on #2567
Anyone still having this issue?

[2022-07-05 09:31] jotdl opened #2580 "OIDC Connector: Set response_mode explicitly"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

- Dex is used to connect to an existing OIDC Provide

[2022-07-05 09:45] jotdl opened #2581 "OIDC Connector: Allow configuration of insecure issuer url"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Some upstream OIDC providers report a issuer_url whi

[2022-07-05 14:03] thomwatkin commented on #2578
I was actually wondering why so much of it was repeated across the different connectors. Makes a lot of sense!

I can absolutely see the benefit of a generic middleware layer, but it seems like there's been some difficulty in moving it forward in a incremental way without PRs trying to cover every use-case.

In that case I would still appreciate if the flag for just the GitHub connector could be r

[2022-07-12 03:45] josephtknight opened #2585 "Microsoft Connector adds extra interactive step in login for tenants with known domains"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

When a user with multiple Microsoft sessions uses th

[2022-07-15 18:35] fouadsemaan opened #2597 "Override Microsoft connector CA when connecting behind proxy"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

When running the DEX using the Microsoft connector f

[2022-07-18 02:42] ShivanshVij commented on #2539
Updating this issue to reflect the discussion in https://github.com/loopholelabs/dex/pull/1

[2022-07-24 12:56] gary-RR opened #2603 "ldap connector for AD does not return the groups user belongs to"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-07-24 18:35] gary-RR commented on #2603
I should point out that this is the ldap query that should be constructed by the connector to properly extract groups:

"(&(objectClass=group)(member=cn=alice,CN=Users,DC=xxx,DC=yyyi))"

It seems that the connector does not format the query properly. Thanks,

[2022-07-25 13:05] gary-RR commented on #2603
I also ran tshark on the Linux client to view traffic and messages sent to and received from AD as shown below. It looks like only the first query (getting basic attributes) is sent to AD but not the group membership one:

#*********************************Request**********************************
Lightweight Directory Access Protocol
    LDAPMessage searchRequest(2) "CN=Users,DC=xxx,DC=yyy" whole

[2022-07-25 19:12] #2585 closed

[2022-07-25 20:07] degibenz commented on #926
up

[2022-07-27 02:44] jinsoo-youn commented on #1834
I encountered this issue. I solve this problem by setting blew

[code]

Thanks for help @kernel164

[2022-07-27 17:53] bradj commented on #1312
Updated link:

https://github.com/dexidp/dex/blob/master/examples/ldap/config-ldap.yaml

[2022-07-29 06:26] dhaus67 opened #2612 "OpenShift Connector: Multiple redirect URIs"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Currently, the connectors typically only provide the

[2022-07-30 15:13] kfirfer opened #2613 "[Gitlab] Refresh token is invalid or has already been claimed by another client"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-08-01 17:38] #2603 closed

[2022-08-01 17:39] gary-RR commented on #2603
Found the issue. I had to pass "groups" in the gangway's scope.

[2022-08-02 18:09] Eskpil commented on #1907
I don't mean to be that guy who asks "any progress here"? But still I am doing it. This is something both my personal projects and projects at work would benefit from, Dex already provides the oauth/openid flow we want but we don't wanna do that our self, we much rather would like too expose a grpc or a http api. With this api we can then our own connector instead of our own oauth2/openid implemen

[2022-08-03 14:41] wlynch opened #2617 "github: Use noreply email if public email not set."
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

@leighmcculloch pointed out in https://github.com/si

[2022-08-03 16:40] sagikazarmark commented on #2617
Thanks for opening this issue @wlynch !

At the very least, this behavior should be configurable, because email address might be used for matching various login methods.

While I understand the reasoning, Dex uses the email address for account mgmt, not for notifications and that's what setting an email to private means in GitHub.

That being said, I see no harm in making this configurabl (keeping

[2022-08-03 16:53] wlynch commented on #2617
👍 Sounds good to me! I'll take a pass at this.

[2022-08-08 16:57] nabokihms commented on #2613
Hello, @kfirfer. There are two related issues.

1. As of the v2.33 release, the Gitlab connector uses refresh tokens to make the authentication pipeline works for Gitlab >= 15. Gitlab issues a new refresh token for each refresh. This feature is called refresh token rotation and protects refresh tokens from stealing. Thus, users must send a new refresh token for each refresh request. However, Dex t

[2022-08-08 17:06] nabokihms commented on #1907
@Eskpil, we are at the point of writing a [design doc](https://github.com/dexidp/dex/tree/master/docs/enhancements) for the feature. I even tried to make [a POC](https://github.com/dexidp/dex/pull/2361), but we still need to settle some things.

In my mind, the most complicated part is about exposing the callback connector's interface. Implementing password connector's customization seems straight

[2022-08-08 17:11] Eskpil commented on #1907
@nabokihms Thats awesome too hear, make sure too keep me updated if there is anything I can do! :smile:

[2022-08-10 11:26] chr-b opened #2626 "Google Connector: support Application Default Credential (ADC)"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

The [Google provider documentation](https://dexidp.i

[2022-08-10 11:34] nabokihms commented on #2626
Related https://github.com/dexidp/dex/pull/2530

[2022-08-15 15:22] roddyherries commented on #2504
Hi @nabokihms , I've opened a new PR for this issue: https://github.com/dexidp/dex/pull/2631

[2022-08-17 09:32] petersutter commented on #2545
Hi @tdungnguyen meanwhile gomplate was updated in #2620 to `v3.11.2`

[2022-08-18 04:20] tdungnguyen commented on #2545
thank you @petersutter . I guess we have to wait for `dexidp/dex` repo owners/contributors to update gomplate in their source in the next release date

[2022-08-18 14:21] #1729 closed

[2022-08-18 16:52] aaron-arellano commented on #1292
we are still seeing this issue

[2022-08-18 16:56] aaron-arellano commented on #1969
we are seeing this issue with dex 2.24.0

[2022-08-28 16:13] nabokihms commented on #1246
Closing due to the previous comment. As of today, there is no problem with gitlab groups being unique.

[2022-08-28 16:13] #1246 closed

[2022-08-28 16:16] nabokihms commented on #1581
I checked the current demo and it seems ok to me. Because of the issue opening date I assume the problem is no longer relevant.
I'm going to close this issue. If you still need help, fell free to reopen it.

[2022-08-28 16:16] #1581 closed

[2022-08-28 16:21] nabokihms commented on #831
There is a way to know which connector is used by requesting the `federated:id` scope.
See https://dexidp.io/docs/custom-scopes-claims-clients/#custom-claims for more details.

[2022-08-28 16:21] #831 closed

[2022-08-28 16:30] nabokihms commented on #1646
Yes, you can use the refresh token grant to periodically refresh the token.
https://oauth.net/2/grant-types/refresh-token/

To solve the problem when user is logged out in the middle of something, you can refresh tokens on the background or earlier, e.g., after 7 minutes of 15.

P.S. I'm not sure whether this issue is still relevant, but answer is an answer 😅 I'm going toclose this one. Feel free

[2022-08-28 16:30] #1646 closed

[2022-08-28 16:32] nabokihms commented on #2333
Closed in https://github.com/dexidp/dex/pull/2620

[2022-08-28 16:32] #2333 closed

[2022-08-28 16:33] nabokihms commented on #1388
Closed in https://github.com/dexidp/dex/pull/2620

[2022-08-28 16:33] #1388 closed

[2022-08-28 16:39] nabokihms commented on #1786
Starting from the [v2.28.0](https://github.com/dexidp/dex/releases/tag/v2.28.0) Dex has a gomplate in the docker image to render the config before container starting.

Using gomplate users ca inject any secrets from env variables.

I'm going to close this issue. Feel free to reopen it if you need an help.

[2022-08-28 16:39] #1786 closed

[2022-08-29 06:35] nabokihms commented on #1057
I tried this with the latest version of Dex (v2.33.0) and could not reproduce it.
I'm going to close this issue. If it is still relevant, please feel free to reopen it.

[2022-08-29 06:35] #1057 closed

[2022-08-29 07:03] nabokihms commented on #1619
With the latest Dex version you can use the `DEX_EXPAND_ENV` env variable to disable expansion.
See https://github.com/dexidp/dex/commit/4cb5577e1133132d42c702f9fb70d6742a343f9f

[2022-08-29 07:03] #1619 closed

[2022-08-29 07:23] nabokihms commented on #2567
Closing this due to inactivity. Feel free to open a new issue if this happens again.

[2022-08-29 07:23] #2567 closed

[2022-08-29 14:19] CenturySparkle opened #2642 "JWT Token too long and is Truncated in Input Control"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-08-29 14:37] nabokihms commented on #2642
Hello, @CenturySparkle. It does not seem like a Dex problem. Internally, Dex does not truncate tokens. We need to know more about authentication flow in your cluster to help, e.g., how traffic comes to the cluster and whether there are any proxies.

Suggestions that may help:
1. Check that passing big-sized bodies are allowed (headers are body parts).
2. It is possible to filter groups on input by

[2022-08-30 10:49] ihulsbus opened #2644 "Crowd connector does not return display name"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-08-30 20:21] codecleric opened #2645 "Include links and information for gomplate"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

DexIDP in the Docker environment (specifically [dock

[2022-09-02 02:47] xeals commented on #2644
The correct attribute is `display-name`:

[code]

[2022-09-02 18:59] fouadsemaan commented on #2442
I am running into the same wall. Besides `Directory.Read.All`, is `GroupMember.Read.All` the only other permission you have added?

[2022-09-06 00:44] tooptoop4 opened #2647 "CVE-2022-37434 on old zlib"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-09-06 12:30] dotMikeH commented on #2442
@fouadsemaan Not on the team anymore that supports Azure AD at my company, but if I recall, yes it would have been the only permission assigned on another app registration for testing purposes using Postman for query validation.

[2022-09-07 07:15] andrejvanderzee opened #2653 "Google Connector with groups gives invalid_scope"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-09-07 07:27] andrejvanderzee commented on #2653
Well problem seems that Google signin does not accept scope `groups` anymore. This (in my opinion acceptable) patch makes it work for us (so if one specifies `serviceAccountFilePath` and `adminEmail`, then groups are fetched):

[code]

Would this patch be accepted if I open an official MR?

[2022-09-07 11:56] #1756 closed

[2022-09-08 14:59] nbjohnson commented on #1697
Are there any updates on this? I need support to be able to logout of SSO in the OIDC connector. OIDC provides a `end_session_endpoint` return, is it possible to use that to implement a logout?

[2022-09-09 21:57] shankerwangmiao opened #2657 "Get OIDC token issued by Dex using a token issued by one of the connectors."
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

In some scenarios, there can only be one OIDC provid

[2022-09-10 00:07] #1792 closed

[2022-09-13 08:03] tdungnguyen commented on #2545
Hello @sagikazarmark , I hope this message finds you well. Could you share with me the next release version of `dexidp/dex` also be updated with latest version gomplate, like I suggested? I am really looking forward for this to be patched personally :)

[2022-09-13 11:51] sagikazarmark commented on #2545
Gomplate has already ben upgraded to the latest version, so closing.

[2022-09-14 04:43] tdungnguyen commented on #2545
@sagikazarmark - I am sorry but it seems I keep bringing bad news, but I did a thorough check on the latest versions (v2.33.0 and v2.33.1) but the reported CVEs are still there.

If you can pull those images again to your local, you will see that gomplate version is still be 3.10.0, not 3.11.2 as expected.

**dexidp/dex:v2.33.0**

[code]

**dexidp/dex:v2.33.1**

[code]

[2022-09-14 10:13] sagikazarmark commented on #2545
Looks like it's been upgraded more recently than I thought.

[2022-09-14 22:05] cccsss01 opened #2663 "Update documentation"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Docker requirement for getting started not listed:
h

[2022-09-15 10:06] tdungnguyen commented on #2545
Thank you for re-opening this issue, Márk! I really look forward to v2.34.0 release. Cheers!

[2022-09-16 06:23] nabokihms commented on #2545
Should be fixed now
[code]

[2022-09-16 06:23] #2545 closed

[2022-09-16 15:25] sekarandevarajan opened #2669 "Page 404 occurs"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-09-19 14:13] jonkerj opened #2670 "Google without groups seems broken after #2530"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-09-20 12:03] ilya-epifanov commented on #2567
[code]
As soon as I remove ghcr.io authorization from `.docker/config.json`,
[code]

[2022-09-20 12:04] ilya-epifanov opened #2672 "Dex docker image can't be pulled when logged into ghcr.io"
[code]
As soon as I remove ghcr.io authorization from `.docker/config.json`,
[code]

_Originally posted by @ilya-epifanov in https://github.com/dexidp/dex/issues/2567#issuecomment-1252256630_

[2022-09-20 12:29] sagikazarmark commented on #2672
Chances are your ghcr.io authorization is not valid? Have you tried `docker login ghcr.io` again with a new token?

[2022-09-20 22:00] #2672 closed

[2022-09-20 22:00] ilya-epifanov commented on #2672
@sagikazarmark that was it, thanks!

[2022-09-21 20:32] tsawada opened #2676 "Google connector with ADC: unexpected end of JSON input"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-09-22 12:04] mariadb-ChristianBauer commented on #2626
Yes, this can be closed as the feature was shipped with the `v2.34.0` release.

[2022-09-22 15:54] lancehudson opened #2678 "GitHub connector should return parent teams"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

The GitHub connector returns the teams a user is dir

[2022-09-23 06:30] ichbinfrog commented on #2676
I think I might have isolated the issue with the code (upon further testing in a GKE cluster) and its with this line: https://github.com/dexidp/dex/blob/master/connector/google/google.go#L300

The default behavior for the [google.FindDefaultCredentials](https://pkg.go.dev/golang.org/x/oauth2/google#FindDefaultCredentials) function is the following:

- On Google Compute Engine, Google App Engine st

[2022-09-23 07:56] tsawada commented on #2676
Thank you for investigating this. Yeah, I also suspect it's because of `JSON` being empty, but I'm still confused because my testing code above worked okay (returning `<nil>` config successfully) in my GKE env with an empty `JSON`.
Do you have any theory what is the different between my testing code snippet and dex?

[2022-09-28 10:25] olzemal commented on #1655
The values you provide for `userAttr` etc. are case _sensitive_. I learned that the hard way 😄

[2022-09-28 17:59] #2670 closed

[2022-09-29 04:55] 34fathombelow opened #2685 "[dex:v2.32.0] CVE-2022-30065 CVE-2022-37434"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

```dex:v2.32.0``` has 1 Critical and 2 High vulnerab

[2022-09-29 13:24] sagikazarmark opened #2686 "Skip redirection to approval when it's not required"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

There is an unnecessary redirection to /approval whe

[2022-09-29 13:27] sagikazarmark opened #2687 "Version support policy"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

It's unclear how many versions we support and how we

[2022-09-29 14:06] sagikazarmark commented on #2685
Generally, we don't provide patches beyond one or two versions going back, but it's relatively low effort, so I tagged v2.32.1 for you.

[2022-09-29 14:06] #2685 closed

[2022-09-29 14:55] 34fathombelow commented on #2685
@sagikazarmark Thank you so much for the information and your help.

I noticed in the ```Dockerfile```L#3 on master branch  you could s/
golang:1.19.1-alpine3.16 AS builder/golang:1.19-alpine3.16 to always use the latest patch versions of golang and alpine.

[2022-09-29 15:16] sagikazarmark commented on #2685
We generally want to lock the version used as much as possible to make builds as reproducible as possible. Dependabot takes care of upgrading to the latest version on main.

[2022-10-03 10:19] #2547 closed

[2022-10-03 11:56] sagikazarmark commented on #2685
FYI @34fathombelow the next version should resolve #2613, so you should be able to upgrade.

[2022-10-04 06:19] amiga23 opened #2694 "Version 2.35.0 does not fetch groups from google anymore"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-10-04 06:42] sagikazarmark commented on #2694
Looks like the "fix" introduced in #2679 was incorrect.

[2022-10-04 10:32] #2694 closed

[2022-10-04 12:53] jonkerj commented on #2670
I'm testing this with v2.35.1 and it still gives an error:

[code]

[2022-10-04 13:47] amiga23 commented on #2694
v2.35.1 works for me, thank you

[2022-10-04 15:00] sagikazarmark commented on #2670
I can't see anything related to admin email here.

How do you configure default creds? `could not find default credentials` suggests the SDK can't find them.

[2022-10-05 10:11] xrstf commented on #2676
Is this a breaking change? From the code change in #2530 it seems that

[code]

was removed and so now as an admin I have to configure additional stuff for the google connector to work? Due to the security issue fixed in 2.34 we just tried to bump our Dex installations from 2.32 to 2.35.1 and things suddenly crashlooped.

[2022-10-05 11:46] sagikazarmark opened #2699 "Only initialize the admin service if necessary"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-10-05 11:48] sagikazarmark commented on #2676
@xrstf it does seem to be yet another regression with the Google connector. Annoying...

There is a new patch version coming up upgrading Go to the latest patch version. I believe I can patch this one as well: #2699

As for the original issue: we need a better understanding of how the admin service works. Previous assumption was that an admin user has to be impersonated in order to use it. We need

[2022-10-05 12:08] sagikazarmark commented on #2676
See #2700

[2022-10-05 12:24] sagikazarmark opened #2701 "Make Google admin service optional"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

Prior to 2.34, using the admin service for groups wa

[2022-10-05 14:29] sagikazarmark commented on #2676
Please comment on #2701

[2022-10-06 02:32] lazedo commented on #2499
`org: 123free`  also fails to get the groups and needs to be set as `org: '123free'` which might be not obvious to everybody, maybe adding a `note`  about that.

[2022-10-06 13:17] jonkerj commented on #2670
I'm using the config mentioned in the [original post](https://github.com/dexidp/dex/issues/2670#issue-1378030095). I have not done anything with default credentials, just following the [docs](https://dexidp.io/docs/connectors/google/).

[2022-10-06 17:30] haydentherapper commented on #2676
FYI, deploying 2.35.1, we saw an error:

```failed to initialize server: server: Failed to open connector https://accounts.google.com: failed to open connector: failed to create connector https://accounts.google.com: could not create directory service: unable to parse credentials to config: unexpected end of JSON input```

[2022-10-06 17:59] sagikazarmark commented on #2676
Thanks for reporting. I believe the solution to that is going to be refactoring the code based on #2122

[2022-10-06 22:04] kenmccann commented on #1562
I strugged with groups not being returned because I overlooked this one bit of advice in the docs. Once I started using `DN` instead of `dn` in the mappings, it worked like a charm.

https://dexidp.io/docs/connectors/ldap/#configuration

[2022-10-06 23:06] #2699 closed

[2022-10-10 22:29] jarrettprosser opened #2707 "Microsoft connector failing when AAD redirects to ADFS"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-10-11 00:54] jarrettprosser commented on #2707
After further testing, I determined that the issue is related to a proxy configuration in this environment. Without the proxy configuration, the Dex container was unable to validate the ADFS claim with the AAD endpoint. Adding proxy settings resolved this issue and login is now working as expected.

[2022-10-11 00:54] #2707 closed

[2022-10-24 15:30] pinpox commented on #1719
Just to clarify: If I'm building an application that uses dex to login users via OpenID Connect, is it wrong to use `sub` as the user ID (e.g. to use it as ID for a `users` table in a database)?

I used the `sub` until now to keep my application compatilbe with any OpenID provider, in case someones want's to use something different from dex.

[2022-10-25 06:27] jonkerj commented on #2670
As I can't reopen this issue and it is not fixed for me, should I reopen it?

[2022-10-25 07:04] jonkerj commented on #2670
After I have skimmed through the commits, I noticed a few commits (cadce3cc3581340559cfd509daf25d0736518477, 9bcce63352c6999831352e8689c69dcaebcdccde, 6a59f08e4edc508162ac282232d78f88c9a1828c) that could be related. So I fired off a build, and it seems current master does not have this bug.

[2022-10-25 12:35] TheMisterEletric opened #2719 "Fail to get groups from Google provider"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-10-27 10:03] ekrasnoyarov opened #2722 "After changing the config, the client is not authorized"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-11-02 10:28] alfredosola commented on #1248
I, too,  think this would be useful.

There are still lots of network equipment in production that use the good old RADIUS protocol. For example, it seems to be the only way in which APC PDUs can have central authentication. And for may a switch and router out there made by the prolific guys at Cisco, it is either RADIUS, the even older TACACS, or local.

It is also a popular backend for 802.1X au

[2022-11-02 21:24] jessesuen commented on #2553
I think your problem is that `SecretEnv` should actually be `secretEnv` (lowercased s).

[code]

[2022-11-02 22:25] nabokihms opened #2728 "Improve connectorData flow"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.

### Problem Description

There are four places for connector data to be persi

[2022-11-04 12:11] tiwarisanjay commented on #2553
Thank you @jessesuen  Its been fixed. Didn't get chance to revert back.

[2022-11-07 10:59] sagikazarmark commented on #1099
Under the hood, Dex still uses a config file generated by gomplate. gomplate only makes operations easier (ie. you don't have to add sensitive values to install manifests), but it still gets written to the container filesystem.

[2022-11-07 11:21] pinpox commented on #1099
Yes, but my question is if it works without docker aswell? I'm running
[code]
with `config.yaml` containing:
[code]
  But the secret is not set correctly

[2022-11-07 11:48] pinpox commented on #1099
Okay, i found the solution: You can use `secretEnv` like this:
[code]
  This should be documented better, I had to search a lot to find this in [this issue](https://github.com/dexidp/dex/pull/1664)

[2022-11-15 01:00] ShivanshVij opened #2738 "Unable to Connect to Serverless DB (CockroachDB)"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-11-18 11:24] #2647 closed

[2022-11-19 17:13] subasathees commented on #2603
@gary-RR, thats great !!, can you pls share your full config of gangway where you put.

[2022-11-23 16:47] iamnoah commented on #2657
[RFC8693](https://www.rfc-editor.org/rfc/rfc8693.html#name-request) defines a token-exchange grant_type that accepts a token for authentication. Dex could accept this grant type in on the token endpoint for an OIDC connector, validate the token via JWKS, and issue a new token using the claimMapping.

[2022-11-24 06:41] Dmaddu opened #2749 "Building the dex binary returning error with golang version 1.15"
### Preflight Checklist

- [X] I agree to follow the [Code of Conduct](https://github.com/dexidp/dex/blob/master/.github/CODE_OF_CONDUCT.md) that this project adheres to.
- [X] I have searched the [issue tracker](https://www.github.com/dexidp/dex/issues) for an issue that matches the one I want to file, without success.
- [X] I am not looking for support or already pursued the available [support c

[2022-11-24 06:42] Dmaddu commented on #2749
<img width="880" alt="Screenshot 2022-11-24 at 11 56 29 AM" src="https://user-images.githubusercontent.com/44021874/203712286-882819f6-2e11-4fd6-a701-7bee51c22886.png">

[2022-11-25 06:25] AnirudhPokala commented on #2215
@nolem any updates on this feature, role claim as part of token? We are also looking to implement for same feature in our supporting dex connectors, would be helpful if can you point us to any gist or branch of this feature of your implementation.

[2022-11-30 18:22] vielmetti commented on #2068
Hi, the CNCF cluster account is set up, but no servers were ever provisioned there. @sagikazarmark is this effort still on your radar?